USE [CAEDU]
GO
/****** Object:  StoredProcedure [dbo].[CGP_PRC_NF_ENTRADA_GL]    Script Date: 30/12/2024 10:11:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO















ALTER PROCEDURE [dbo].[CGP_PRC_NF_ENTRADA_GL]  AS    
BEGIN     
 begin transaction    
      
  /********************************************************************************************************/    
  /*                                  DECLARACAO DO SISTEMA                                               */    
  /*                                                                                                      */    
  /*       @V_NO_SISTEMA           = 'NOTA_FISCAL'                                                        */    
  /*       @V_TP_TRANSACAO         = 'NF_ENTRADA'                                                         */    
  /*       @V_DS_SISTEMA           = 'LINX'                                                               */    
  /*       @V_DS_TABELA_LIGACAO    = 'CGP_LT_NF_ENTRADA_GL'                                                  */    
  /*                                                                                                      */    
  /********************************************************************************************************/    
      
  declare @V_ID_SISTEMA        INTEGER;
  
    
  /* VARIAVEIS INICIAIS */    
  DECLARE @vCODIGO_FILIAL      VARCHAR(6);    
  DECLARE @vCOD_LOJA           INTEGER;    
  DECLARE @vIDLOTE             INTEGER = 0;    
  DECLARE @vLIMITEDEREGISTROS  INTEGER = 0;    
  DECLARE @vQTDE_PROCESSAMENTO INTEGER;    
  DECLARE @vQTDEDIASEXPURGO    INTEGER;  
  DECLARE @vDATAINICIAL        DATETIME;    
  DECLARE @vDATAFINAL          DATETIME = GETDATE();
  DECLARE @DATA_RECEBIMENTO	   DATETIME;
  DECLARE @DT_INICIO_PROCESSO  DATETIME;   
    
   
    select @V_ID_SISTEMA = ID_SISTEMA
	FROM CGP_LT_SISTEMA   (NOLOCK)
	WHERE NO_SISTEMA           = 'NOTA_FISCAL'                                                       
	  AND TP_TRANSACAO         = 'NF_ENTRADA'                                                        
	  AND DS_SISTEMA           = 'LINX'                                                              
	  AND DS_DESTINO           = 'EBS_GL'                                                              
	  AND DS_TABELA_LIGACAO    = 'CGP_LT_NF_ENTRADA_GL'    


  /* CONFIGURACAO DE VARIAVEIS INICIAIS */    
  SELECT  @vLIMITEDEREGISTROS = QTD_REGISTROS_LOTE
         ,@vDATAINICIAL       = DT_ULTIMA_EXECUCAO
		 ,@vQTDEDIASEXPURGO   = QTD_DIAS_EXPURGO   
		 ,@DT_INICIO_PROCESSO = DT_INICIO_PROCESSO
     FROM CGP_LT_SISTEMA   (NOLOCK)  
    WHERE ID_SISTEMA = @V_ID_SISTEMA    
    
  /* TABELAS TEMPORARIAS*/     
  CREATE TABLE #TB_FILIAIS_GL(CODIGO_FILIAL  VARCHAR(6), COD_LOJA INTEGER)      
  CREATE TABLE #TB_NF_ENTRADA_GL(NF_ENTRADA CHAR(15),SERIE_NF VARCHAR(6), CHAVE_NF VARCHAR(44), RECEBIMENTO DATETIME)      
  CREATE TABLE #TB_NF_ENTRADA_EM_PROCESSAMENTO_GL(NF_ENTRADA_PROCESSAMENTO CHAR(15),SERIE_NF_PROCESSAMENTO VARCHAR(6),CHAVE_NF_PROCESSAMENTO VARCHAR(44))    
       
  INSERT INTO #TB_FILIAIS_GL   
  SELECT b.CODIGO_FILIAL,substring(RTRIM(LTRIM(A.CGC_CPF)), 9,4) as COD_LOJA    
    FROM FILIAIS A     
         inner join info_lojas b 
		         on b.CODIGO_FILIAL = a.COD_FILIAL 
				and b.ATIVO = '1'    
         INNER JOIN CADASTRO_CLI_FOR C 
		         ON C.COD_CLIFOR = A.COD_FILIAL     
  WHERE 1 = 1    
  and a.empresa = 1    
  and a.matriz = 'MATRIZ'    
  and b.CODIGO_FILIAL = '000008'    
  ORDER BY 1;    
    
  WHILE (SELECT COUNT(1) FROM #TB_FILIAIS_GL  ) > 0 
     BEGIN     
        SELECT TOP(1) @vCODIGO_FILIAL = CODIGO_FILIAL
		      ,@vCOD_LOJA      = COD_LOJA    
          FROM #TB_FILIAIS_GL    

        IF (ISNULL(@DT_INICIO_PROCESSO, CAST('2018-07-01' AS DATE) ) > @vDATAFINAL - @vQTDEDIASEXPURGO) 
		   SET @vDATAINICIAL = @DT_INICIO_PROCESSO
	    ELSE 
		   SET @vDATAINICIAL = @vDATAFINAL - @vQTDEDIASEXPURGO
        
		/* insere ids dos produtos a serem processados*/    
        INSERT INTO #TB_NF_ENTRADA_GL    
        select distinct nf_entrada, SERIE_NF, chave_nfe, A.recebimento  from CGP_VW_NF_ENTRADA A
         WHERE 1 = 1
           
		   AND NOT EXISTS (SELECT 1 FROM CGP_LT_NF_ENTRADA_GL NF WHERE A.NF_ENTRADA = NF.NUMERO_NF AND A.SERIE_NF = NF.SERIE_NF AND A.CHAVE_NFE = NF.CHAVE_NF )  
           AND ISNULL(A.recebimento, @vDATAFINAL) BETWEEN @vDATAFINAL - @vQTDEDIASEXPURGO AND @vDATAFINAL 

		   AND A.CODIGO_FISCAL_OPERACAO in (SELECT CFG.cfop FROM cgp_lt_param_cfop CF 
											INNER JOIN cgp_lt_param_cfop_gl CFG ON CFG.cfop = CF.cfop  
											 WHERE CF.envia_gl = 1 AND CFG.tiponf = 'E' GROUP  BY CFG.cfop) 
		 
	      and a.nome_clifor not like 'KOMPORT%' AND a.nome_clifor not like 'HARPIA%' /* Filtro para não buscar notas de importação */
		
         GROUP BY A.NF_ENTRADA, A.SERIE_NF , A.CHAVE_NFE, a.recebimento ;     
    
        /* VALIDA SE EXISTEM REGISTROS A SEREM PROCESSADOS */     
        IF (SELECT COUNT(1) FROM #TB_NF_ENTRADA_GL ) > 0 
		   BEGIN         
              WHILE (SELECT COUNT(1) FROM #TB_NF_ENTRADA_GL  ) > 0 
			     BEGIN           
				    /* SELECIONA OS PRODUTOS A SEREM PROCESSADOS NO LOTE ATUAL */    

					SELECT TOP 1 @DATA_RECEBIMENTO = RECEBIMENTO
					  FROM #TB_NF_ENTRADA_GL 
					 GROUP BY RECEBIMENTO 

                    INSERT INTO #TB_NF_ENTRADA_EM_PROCESSAMENTO_GL    
                    SELECT TOP (@vLIMITEDEREGISTROS) NF_ENTRADA, SERIE_NF, CHAVE_NF 
					  FROM #TB_NF_ENTRADA_GL  
					  WHERE RECEBIMENTO = @DATA_RECEBIMENTO

				    SELECT @vQTDE_PROCESSAMENTO = COUNT(1)    
                      FROM #TB_NF_ENTRADA_EM_PROCESSAMENTO_GL    
					       
					/* CRIA LOTE PARA PROCESSAMENTO */    
					INSERT INTO CGP_LT_LOTE (   ID_SISTEMA,    ID_LOJA, DT_CRIACAO_LOTE,       DT_MOVIMENTO,        QTD_REGS_LOTE, DS_TIPO)    
                                     VALUES (@V_ID_SISTEMA, @vCOD_LOJA,       GETDATE(),  @DATA_RECEBIMENTO, @vQTDE_PROCESSAMENTO,     'I')    
         
					INSERT INTO CGP_LT_NF_ENTRADA_GL (ID_LOTE, CODIGO_FILIAL, NUMERO_NF, SERIE_NF, CHAVE_NF)      
					SELECT @@IDENTITY, @vCODIGO_FILIAL, NF_ENTRADA_PROCESSAMENTO, SERIE_NF_PROCESSAMENTO, CHAVE_NF_PROCESSAMENTO FROM  #TB_NF_ENTRADA_EM_PROCESSAMENTO_GL    


					/* Atualiza a ultima data de execucao na tabela entradas  */

					UPDATE ENTRADAS SET ERP_EBS_GL_DATA_ENVIO = GETDATE()
					FROM CGP_LT_NF_ENTRADA_GL LTENT
					INNER JOIN ENTRADAS E ON LTENT.CHAVE_NF = E.CHAVE_NFE
					 AND LTENT.SERIE_NF = E.SERIE_NF_ENTRADA
					 AND LTENT.NUMERO_NF = E.NF_ENTRADA
					WHERE LTENT.ID_LOTE = @@IDENTITY

					/* Fim update */

					DELETE FROM #TB_NF_ENTRADA_GL   
					 WHERE EXISTS (SELECT 1 
					                 FROM #TB_NF_ENTRADA_EM_PROCESSAMENTO_GL NP  
					                WHERE NF_ENTRADA = NP.NF_ENTRADA_PROCESSAMENTO  
								      AND SERIE_NF = NP.SERIE_NF_PROCESSAMENTO  
									  AND CHAVE_NF = NP.CHAVE_NF_PROCESSAMENTO )  
        
				    DELETE FROM #TB_NF_ENTRADA_EM_PROCESSAMENTO_GL;			     
			  END -- END WHILE NF_ENTRADA                 
        END -- END IF        
       
       -- APAGA DA TABELA TEMPORARIA DE FILIAIS     
        DELETE FROM #TB_FILIAIS_GL  WHERE CODIGO_FILIAL = @vCODIGO_FILIAL;        
     
  END -- END WHILE FILIAIS        
      
  /* Atualiza a ultina data de execucao  */  
  UPDATE CGP_LT_SISTEMA     
  SET DT_ULTIMA_EXECUCAO = @vDATAFINAL    
  WHERE ID_SISTEMA = @V_ID_SISTEMA     
    
 COMMIT transaction    
END;    















