USE [CAEDU]
GO
/****** Object:  Trigger [dbo].[LXUA_DESC_ENTRADAS]    Script Date: 30/12/2024 09:57:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


  
ALTER TRIGGER [dbo].[LXUA_DESC_ENTRADAS] ON [dbo].[ENTRADAS]  
AFTER UPDATE   
AS  

	DECLARE @FORNECNF VARCHAR(25)
	select @FORNECNF = nome_clifor from inserted 
	
	IF @FORNECNF IN ('CHIK S CENTER MODAS 00211','CHIK S CENTER MODAS LTDA','KOMPORT','HARPIA IMPORTADORA E DIST')
	BEGIN
		RETURN
	END

    declare @INSnome_clifor varchar(25),
    @INSnf_entrada  varchar(15),
    @INSserie_nf_entrada varchar(06),
    @ERRMSG 			VARCHAR(400),
    @errno              int
    
    


     	declare cur_entrada2 cursor for 
			select ent.nome_clifor, ent.nf_entrada, ent.serie_nf_entrada
			   from inserted ins
			   join  entradas ent
			      on ins.NOME_CLIFOR  = ENT.NOME_CLIFOR
			      and ins.NF_ENTRADA  = ENT.NF_ENTRADA
			      and ins.SERIE_NF_ENTRADA = ENT.SERIE_NF_ENTRADA
			      /*
				join  estoque_prod_ent stk_cab
					  on stk_cab.NF_ENTRADA   = ENT.NF_ENTRADA
					  and stk_cab.NOME_CLIFOR = ENT.NOME_CLIFOR 	
					  and stk_cab.SERIE_NF_ENTRADA = ENT.SERIE_NF_ENTRADA		      
				join  compras  cpa
					  on stk_cab.PEDIDO  = cpa.PEDIDO 
					  */
	     		where ent.ctb_lancamento > 0
	     		---and cpa.QUANTIDADE_AGENDAMENTO > 0
			
			open cur_entrada2
			fetch next from cur_entrada2 into @INSnome_clifor, @INSnf_entrada, @insserie_nf_entrada
			while @@fetch_status=0
			begin
                       if exists(select cpa.PEDIDO 			
							   from  entradas ent
								join  estoque_prod_ent stk_cab
									  on stk_cab.NF_ENTRADA   = ENT.NF_ENTRADA
									  and stk_cab.NOME_CLIFOR = ENT.NOME_CLIFOR 	
									  and stk_cab.SERIE_NF_ENTRADA = ENT.SERIE_NF_ENTRADA		      
								join  compras  cpa
									  on stk_cab.PEDIDO  = cpa.PEDIDO 
	     						where ent.ctb_lancamento > 0
	     						and cpa.QUANTIDADE_AGENDAMENTO > 0
   								and  ent.nome_clifor=@INSnome_clifor
								and  ent.nf_entrada=@INSnf_entrada
								 and  ent.serie_nf_entrada=@INSserie_nf_entrada)
                begin 	     				
			
						exec dbo.[USR_PALMA_GERAR_DESCONTO_NOSHOW]  
									 @nome_clifor=@INSnome_clifor, 
									 @nf_entrada=@INSnf_entrada,
									 @serie_nf_entrada=@INSserie_nf_entrada
									 
						if @@error > 0 
							Begin
								Select	@errno  = 30002,
								@errmsg = 'Impossível gerar desconto noshow'
								GoTo Error
							End
				End			
				
				fetch next from cur_entrada2 into @INSnome_clifor, @INSnf_entrada, @insserie_nf_entrada
				
			end
			
	close cur_entrada2
	deallocate cur_entrada2
		
return

ERROR:
	raiserror (@errmsg, 16, 1)
    rollback transaction
    
	

