USE [CAEDU]
GO
/****** Object:  StoredProcedure [dbo].[arb_inclui_proposicao]    Script Date: 09/09/2022 09:05:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
---------------------------------------------------------------------------------------------------------------------------------------------------------------------
*/
ALTER PROC [dbo].[ARB_INCLUI_PROPOSICAO]
AS
     BEGIN
         INSERT INTO arb_agendamento_markdown_proposicao
         (id_mark_down
         --,segunda
         --,terca
         --,quarta
         --,quinta
         --,sexta
         --,sabado
         --,domingo
         --,hora
         --,datainicio
         --,datafim
         --,d
         --,ativo
         )
                SELECT id
                FROM arb_parametros_markdown
                WHERE id NOT IN
                (
                    SELECT id_mark_down
                    FROM arb_agendamento_markdown_proposicao
                );
     END;
