USE [CAEDU]
GO
/****** Object:  StoredProcedure [dbo].[LX_GERA_SALDO_ESTOQUE_PA]    Script Date: 23/01/2019 16:29:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[LX_GERA_SALDO_ESTOQUE_PA_ORIGINAL]  
 	@DATASALDO DATETIME, @FILIAL VARCHAR(25)='%', @UTILIZA_ANTERIOR CHAR(1)='S', @UTILIZA_MATRIZ_FISCAL CHAR(1)='N', @PRODUTO VARCHAR(12)='%', @COR_PRODUTO VARCHAR(10)='%', @PUTILIZA_FISCAL BIT = 0
AS

-- 04/11/2015 - Rodrigo Souza - TP 10573170 - #1# - Correção para também considerar movimentações que possuem hora no campo de emissão.
-- 10/11/2010 - Fabiano Banin - Não estava utilizando a opção de não movimenta estoque.
-- 24/11/2005 - Fabiano Banin - Arrumado a verificação do tipo de operação.
-- 05/10/2005 - Fabiano Banin - Retirado o teste da procedure.
-- 16/06/2005 - Fabaino Banin - Arrumado o select que trazia as vendas da loja.
-- 06/05/2005 - Alessandro - Validação da variável @PUTILIZA_FISCAL e utilização da clausula like nos wheres das movimentações
-- 12/01/2005 - Alessandro - 
-- 19/11/2004 - Alessandro - Ajuste de performance por separação dos movimentos de estoque
-- 09/07/2004 - Alessandro - Correção da movimentação de ajuste
-- 07/07/2004 - Alessandro - Geração de saldos na data 

SET NOCOUNT ON
SET ANSI_WARNINGS OFF
DECLARE @SALDO DATETIME,@cFilial VarChar(25), @Contagem VarChar(25), @PARAMETRO VARCHAR(25),
@Ultimo_Saldo datetime

--#1#
SET @DATASALDO = DATEADD(MS,99,(DATEADD(SS,59,(DATEADD(MI,59,(DATEADD(HH,23,@DATASALDO)))))))
--#1#

--Tabela auxiliar
SELECT  FILIAL  = CASE WHEN @UTILIZA_MATRIZ_FISCAL='S' THEN F.MATRIZ_FISCAL ELSE F.FILIAL END,
			PRODUTO  = A.PRODUTO,
			COR_PRODUTO = A.COR_PRODUTO,
			QTDE  = A.ESTOQUE,
			TIPO  = CONVERT(CHAR(10),'SALDO_INIC'),
			ULTIMA_ENTRADA = ULTIMA_ENTRADA,
			ULTIMA_SAIDA = ULTIMA_SAIDA,
			DATA_ULT_CUSTO = DATA_ULT_CUSTO,
			CUSTO_MEDIO1_INIC= CUSTO_MEDIO1,
			CUSTO_MEDIO2_INIC= CUSTO_MEDIO2,
			CUSTO_MEDIO3_INIC= CUSTO_MEDIO3,
			CUSTO_MEDIO4_INIC= CUSTO_MEDIO4,
			TOTAL_CUSTO1 = CONVERT(NUMERIC(14,2),ISNULL(CUSTO_MEDIO1,0)*
				CASE WHEN A.DATA_SALDO <= '20040229' AND @SALDO > '20040229' THEN (1.-0.03) ELSE 1 END *
				DBO.FX_SOMA_VARIACAO_TAMANHO(1,PONTEIRO_PRECO_TAM, 
					S1,S2,S3,S4,S5,S6,S7,S8,S9,S10,S11,S12,S13,S14,S15,S16,S17,S18,S19,S20,S21,S22,S23,S24,
					S25,S26,S27,S28,S29,S30,S31,S32,S33,S34,S35,S36,S37,S38,S39,S40,S41,S42,S43,S44,S45,S46,S47,S48)), 
			TOTAL_CUSTO2 = CONVERT(NUMERIC(14,2),ISNULL(CUSTO_MEDIO2,0)*
				CASE WHEN A.DATA_SALDO <= '20040229' AND @SALDO > '20040229' THEN (1.-0.03) ELSE 1 END *
				DBO.FX_SOMA_VARIACAO_TAMANHO(2,PONTEIRO_PRECO_TAM, 
					S1,S2,S3,S4,S5,S6,S7,S8,S9,S10,S11,S12,S13,S14,S15,S16,S17,S18,S19,S20,S21,S22,S23,S24,
					S25,S26,S27,S28,S29,S30,S31,S32,S33,S34,S35,S36,S37,S38,S39,S40,S41,S42,S43,S44,S45,S46,S47,S48)), 
			TOTAL_CUSTO3 = CONVERT(NUMERIC(14,2),ISNULL(CUSTO_MEDIO3,0)*
				CASE WHEN A.DATA_SALDO <= '20040229' AND @SALDO > '20040229' THEN (1.-0.03) ELSE 1 END *
				DBO.FX_SOMA_VARIACAO_TAMANHO(3,PONTEIRO_PRECO_TAM, 
					S1,S2,S3,S4,S5,S6,S7,S8,S9,S10,S11,S12,S13,S14,S15,S16,S17,S18,S19,S20,S21,S22,S23,S24,
					S25,S26,S27,S28,S29,S30,S31,S32,S33,S34,S35,S36,S37,S38,S39,S40,S41,S42,S43,S44,S45,S46,S47,S48)), 
			TOTAL_CUSTO4 = CONVERT(NUMERIC(14,2),ISNULL(CUSTO_MEDIO4,0)*
				CASE WHEN A.DATA_SALDO <= '20040229' AND @SALDO > '20040229' THEN (1.-0.03) ELSE 1 END *
				DBO.FX_SOMA_VARIACAO_TAMANHO(4,PONTEIRO_PRECO_TAM, 
					S1,S2,S3,S4,S5,S6,S7,S8,S9,S10,S11,S12,S13,S14,S15,S16,S17,S18,S19,S20,S21,S22,S23,S24,
					S25,S26,S27,S28,S29,S30,S31,S32,S33,S34,S35,S36,S37,S38,S39,S40,S41,S42,S43,S44,S45,S46,S47,S48)),
			TOTAL_QTDE1 = CONVERT(INT,CASE WHEN CUSTO_MEDIO1 <> 0 THEN
				DBO.FX_SOMA_VARIACAO_TAMANHO(1,PONTEIRO_PRECO_TAM, 
					S1,S2,S3,S4,S5,S6,S7,S8,S9,S10,S11,S12,S13,S14,S15,S16,S17,S18,S19,S20,S21,S22,S23,S24,
					S25,S26,S27,S28,S29,S30,S31,S32,S33,S34,S35,S36,S37,S38,S39,S40,S41,S42,S43,S44,S45,S46,S47,S48)
				ELSE 0 END), 
			TOTAL_QTDE2 = CONVERT(INT,CASE WHEN CUSTO_MEDIO2 <> 0 THEN
				DBO.FX_SOMA_VARIACAO_TAMANHO(2,PONTEIRO_PRECO_TAM, 
					S1,S2,S3,S4,S5,S6,S7,S8,S9,S10,S11,S12,S13,S14,S15,S16,S17,S18,S19,S20,S21,S22,S23,S24,
					S25,S26,S27,S28,S29,S30,S31,S32,S33,S34,S35,S36,S37,S38,S39,S40,S41,S42,S43,S44,S45,S46,S47,S48)
				ELSE 0 END), 
			TOTAL_QTDE3 = CONVERT(INT,CASE WHEN CUSTO_MEDIO3 <> 0 THEN
				DBO.FX_SOMA_VARIACAO_TAMANHO(3,PONTEIRO_PRECO_TAM, 
					S1,S2,S3,S4,S5,S6,S7,S8,S9,S10,S11,S12,S13,S14,S15,S16,S17,S18,S19,S20,S21,S22,S23,S24,
					S25,S26,S27,S28,S29,S30,S31,S32,S33,S34,S35,S36,S37,S38,S39,S40,S41,S42,S43,S44,S45,S46,S47,S48)
				ELSE 0 END), 
			TOTAL_QTDE4 = CONVERT(INT,CASE WHEN CUSTO_MEDIO4 <> 0 THEN
				DBO.FX_SOMA_VARIACAO_TAMANHO(4,PONTEIRO_PRECO_TAM, 
					S1,S2,S3,S4,S5,S6,S7,S8,S9,S10,S11,S12,S13,S14,S15,S16,S17,S18,S19,S20,S21,S22,S23,S24,
					S25,S26,S27,S28,S29,S30,S31,S32,S33,S34,S35,S36,S37,S38,S39,S40,S41,S42,S43,S44,S45,S46,S47,S48)
				ELSE 0 END), 
			Q1=S1,Q2=S2,Q3=S3,Q4=S4,Q5=S5,Q6=S6,Q7=S7,Q8=S8,Q9=S9,Q10=S10,Q11=S11,Q12=S12,
			Q13=S13,Q14=S14,Q15=S15,Q16=S16,Q17=S17,Q18=S18,Q19=S19,Q20=S20,Q21=S21,Q22=S22,Q23=S23,Q24=S24,
			Q25=S25,Q26=S26,Q27=S27,Q28=S28,Q29=S29,Q30=S30,Q31=S31,Q32=S32,Q33=S33,Q34=S34,Q35=S35,Q36=S36,
			Q37=S37,Q38=S38,Q39=S39,Q40=S40,Q41=S41,Q42=S42,Q43=S43,Q44=S44,Q45=S45,Q46=S46,Q47=S47,Q48=S48
		 INTO #MOVIMENTACOES_ESTOQUE_PA  FROM ESTOQUE_PRODUTOS_HISTORICO A
			JOIN PRODUTOS P ON P.PRODUTO=A.PRODUTO
			JOIN FILIAIS F ON F.FILIAL=A.FILIAL
		WHERE  1=0

CREATE INDEX INDEX_TEMP ON #MOVIMENTACOES_ESTOQUE_PA(FILIAL, PRODUTO, COR_PRODUTO)
----------------------------------------


SELECT @FILIAL=RTRIM(ISNULL(@FILIAL,'%')), @SALDO=@DATASALDO, @PRODUTO = RTRIM(ISNULL(@PRODUTO,'%')), @COR_PRODUTO = RTRIM(ISNULL(@COR_PRODUTO,'%'))
 
IF @UTILIZA_MATRIZ_FISCAL = 'N'
	DECLARE Cur_Filial CURSOR LOCAL FAST_FORWARD FOR
	 SELECT Filial
	 FROM  Filiais
	 WHERE  Filial LIKE @FILIAL
	 ORDER BY CASE WHEN MATRIZ=FILIAL OR MATRIZ IS NULL THEN 1 ELSE 2 END,COD_FILIAL
ELSE
	DECLARE Cur_Filial   CURSOR LOCAL FAST_FORWARD FOR
	 SELECT DISTINCT ISNULL(MATRIZ_FISCAL,FILIAL)
	 FROM  Filiais
	 WHERE  ISNULL(MATRIZ_FISCAL,FILIAL) LIKE @FILIAL
	 ORDER BY 1

 
OPEN Cur_Filial
 
FETCH NEXT FROM Cur_FILIAL INTO @cFilial
WHILE @@FETCH_STATUS = 0
BEGIN
 



		IF @UTILIZA_ANTERIOR='S'
		BEGIN 
			SELECT @Ultimo_Saldo=MAX(DATA_SALDO) FROM ESTOQUE_PRODUTOS_HISTORICO WHERE FILIAL=@cFILIAL AND DATA_SALDO<@SALDO
		END
	
		SELECT @Ultimo_Saldo='18000101' WHERE @Ultimo_Saldo IS NULL


		INSERT INTO #MOVIMENTACOES_ESTOQUE_PA(FILIAL, PRODUTO, COR_PRODUTO, QTDE, TIPO,  ULTIMA_ENTRADA,   ULTIMA_SAIDA, DATA_ULT_CUSTO,
		CUSTO_MEDIO1_INIC, CUSTO_MEDIO2_INIC, CUSTO_MEDIO3_INIC, CUSTO_MEDIO4_INIC, TOTAL_CUSTO1, TOTAL_CUSTO2,
		TOTAL_CUSTO3,     TOTAL_CUSTO4,     TOTAL_QTDE1, TOTAL_QTDE2, TOTAL_QTDE3, TOTAL_QTDE4, Q1, Q2,  Q3,  Q4,
		Q5, Q6, Q7,  Q8,  Q9,  Q10,  Q11, Q12,  Q13, Q14, Q15, Q16,  Q17, Q18, Q19,  Q20, Q21 ,  Q22,  Q23,
		 Q24 ,  Q25,  Q26, Q27, Q28, Q29,  Q30,  Q31,  Q32 ,  Q33,  Q34,  Q35,  Q36,   Q37,   Q38,  Q39 ,  Q40,
		 Q41, Q42,   Q43 ,   Q44,   Q45 ,   Q46 ,  Q47,   Q48)
		SELECT  FILIAL  = CASE WHEN @UTILIZA_MATRIZ_FISCAL='S' THEN F.MATRIZ_FISCAL ELSE F.FILIAL END,
			PRODUTO  = A.PRODUTO,
			COR_PRODUTO = A.COR_PRODUTO,
			QTDE  = A.ESTOQUE,
			TIPO  = CONVERT(CHAR(10),'SALDO_INIC'),
			ULTIMA_ENTRADA = ULTIMA_ENTRADA,
			ULTIMA_SAIDA = ULTIMA_SAIDA,
			DATA_ULT_CUSTO = DATA_ULT_CUSTO,
			CUSTO_MEDIO1_INIC= CUSTO_MEDIO1,
			CUSTO_MEDIO2_INIC= CUSTO_MEDIO2,
			CUSTO_MEDIO3_INIC= CUSTO_MEDIO3,
			CUSTO_MEDIO4_INIC= CUSTO_MEDIO4,
			TOTAL_CUSTO1 = CONVERT(NUMERIC(14,2),ISNULL(CUSTO_MEDIO1,0)*
				CASE WHEN A.DATA_SALDO <= '20040229' AND @SALDO > '20040229' THEN (1.-0.03) ELSE 1 END *
				DBO.FX_SOMA_VARIACAO_TAMANHO(1,PONTEIRO_PRECO_TAM, 
					S1,S2,S3,S4,S5,S6,S7,S8,S9,S10,S11,S12,S13,S14,S15,S16,S17,S18,S19,S20,S21,S22,S23,S24,
					S25,S26,S27,S28,S29,S30,S31,S32,S33,S34,S35,S36,S37,S38,S39,S40,S41,S42,S43,S44,S45,S46,S47,S48)), 
			TOTAL_CUSTO2 = CONVERT(NUMERIC(14,2),ISNULL(CUSTO_MEDIO2,0)*
				CASE WHEN A.DATA_SALDO <= '20040229' AND @SALDO > '20040229' THEN (1.-0.03) ELSE 1 END *
				DBO.FX_SOMA_VARIACAO_TAMANHO(2,PONTEIRO_PRECO_TAM, 
					S1,S2,S3,S4,S5,S6,S7,S8,S9,S10,S11,S12,S13,S14,S15,S16,S17,S18,S19,S20,S21,S22,S23,S24,
					S25,S26,S27,S28,S29,S30,S31,S32,S33,S34,S35,S36,S37,S38,S39,S40,S41,S42,S43,S44,S45,S46,S47,S48)), 
			TOTAL_CUSTO3 = CONVERT(NUMERIC(14,2),ISNULL(CUSTO_MEDIO3,0)*
				CASE WHEN A.DATA_SALDO <= '20040229' AND @SALDO > '20040229' THEN (1.-0.03) ELSE 1 END *
				DBO.FX_SOMA_VARIACAO_TAMANHO(3,PONTEIRO_PRECO_TAM, 
					S1,S2,S3,S4,S5,S6,S7,S8,S9,S10,S11,S12,S13,S14,S15,S16,S17,S18,S19,S20,S21,S22,S23,S24,
					S25,S26,S27,S28,S29,S30,S31,S32,S33,S34,S35,S36,S37,S38,S39,S40,S41,S42,S43,S44,S45,S46,S47,S48)), 
			TOTAL_CUSTO4 = CONVERT(NUMERIC(14,2),ISNULL(CUSTO_MEDIO4,0)*
				CASE WHEN A.DATA_SALDO <= '20040229' AND @SALDO > '20040229' THEN (1.-0.03) ELSE 1 END *
				DBO.FX_SOMA_VARIACAO_TAMANHO(4,PONTEIRO_PRECO_TAM, 
					S1,S2,S3,S4,S5,S6,S7,S8,S9,S10,S11,S12,S13,S14,S15,S16,S17,S18,S19,S20,S21,S22,S23,S24,
					S25,S26,S27,S28,S29,S30,S31,S32,S33,S34,S35,S36,S37,S38,S39,S40,S41,S42,S43,S44,S45,S46,S47,S48)),
			TOTAL_QTDE1 = CONVERT(INT,CASE WHEN CUSTO_MEDIO1 <> 0 THEN
				DBO.FX_SOMA_VARIACAO_TAMANHO(1,PONTEIRO_PRECO_TAM, 
					S1,S2,S3,S4,S5,S6,S7,S8,S9,S10,S11,S12,S13,S14,S15,S16,S17,S18,S19,S20,S21,S22,S23,S24,
					S25,S26,S27,S28,S29,S30,S31,S32,S33,S34,S35,S36,S37,S38,S39,S40,S41,S42,S43,S44,S45,S46,S47,S48)
				ELSE 0 END), 
			TOTAL_QTDE2 = CONVERT(INT,CASE WHEN CUSTO_MEDIO2 <> 0 THEN
				DBO.FX_SOMA_VARIACAO_TAMANHO(2,PONTEIRO_PRECO_TAM, 
					S1,S2,S3,S4,S5,S6,S7,S8,S9,S10,S11,S12,S13,S14,S15,S16,S17,S18,S19,S20,S21,S22,S23,S24,
					S25,S26,S27,S28,S29,S30,S31,S32,S33,S34,S35,S36,S37,S38,S39,S40,S41,S42,S43,S44,S45,S46,S47,S48)
				ELSE 0 END), 
			TOTAL_QTDE3 = CONVERT(INT,CASE WHEN CUSTO_MEDIO3 <> 0 THEN
				DBO.FX_SOMA_VARIACAO_TAMANHO(3,PONTEIRO_PRECO_TAM, 
					S1,S2,S3,S4,S5,S6,S7,S8,S9,S10,S11,S12,S13,S14,S15,S16,S17,S18,S19,S20,S21,S22,S23,S24,
					S25,S26,S27,S28,S29,S30,S31,S32,S33,S34,S35,S36,S37,S38,S39,S40,S41,S42,S43,S44,S45,S46,S47,S48)
				ELSE 0 END), 
			TOTAL_QTDE4 = CONVERT(INT,CASE WHEN CUSTO_MEDIO4 <> 0 THEN
				DBO.FX_SOMA_VARIACAO_TAMANHO(4,PONTEIRO_PRECO_TAM, 
					S1,S2,S3,S4,S5,S6,S7,S8,S9,S10,S11,S12,S13,S14,S15,S16,S17,S18,S19,S20,S21,S22,S23,S24,
					S25,S26,S27,S28,S29,S30,S31,S32,S33,S34,S35,S36,S37,S38,S39,S40,S41,S42,S43,S44,S45,S46,S47,S48)
				ELSE 0 END), 
			Q1=S1,Q2=S2,Q3=S3,Q4=S4,Q5=S5,Q6=S6,Q7=S7,Q8=S8,Q9=S9,Q10=S10,Q11=S11,Q12=S12,
			Q13=S13,Q14=S14,Q15=S15,Q16=S16,Q17=S17,Q18=S18,Q19=S19,Q20=S20,Q21=S21,Q22=S22,Q23=S23,Q24=S24,
			Q25=S25,Q26=S26,Q27=S27,Q28=S28,Q29=S29,Q30=S30,Q31=S31,Q32=S32,Q33=S33,Q34=S34,Q35=S35,Q36=S36,
			Q37=S37,Q38=S38,Q39=S39,Q40=S40,Q41=S41,Q42=S42,Q43=S43,Q44=S44,Q45=S45,Q46=S46,Q47=S47,Q48=S48
		FROM ESTOQUE_PRODUTOS_HISTORICO A
			JOIN PRODUTOS P ON P.PRODUTO=A.PRODUTO
			JOIN FILIAIS F ON F.FILIAL=A.FILIAL
		WHERE  (A.PRODUTO LIKE @PRODUTO)  AND (A.COR_PRODUTO LIKE @COR_PRODUTO) AND ((@UTILIZA_MATRIZ_FISCAL='S' AND F.MATRIZ_FISCAL=@cFILIAL) OR (@UTILIZA_MATRIZ_FISCAL<>'S' AND F.FILIAL=@cFILIAL))
			AND A.DATA_SALDO=@ULTIMO_SALDO
	-----------------------------------------------------
		INSERT INTO #MOVIMENTACOES_ESTOQUE_PA(FILIAL, PRODUTO, COR_PRODUTO, QTDE, TIPO,  ULTIMA_ENTRADA,   ULTIMA_SAIDA, DATA_ULT_CUSTO,
		CUSTO_MEDIO1_INIC, CUSTO_MEDIO2_INIC, CUSTO_MEDIO3_INIC, CUSTO_MEDIO4_INIC, TOTAL_CUSTO1, TOTAL_CUSTO2,
		TOTAL_CUSTO3,     TOTAL_CUSTO4,     TOTAL_QTDE1, TOTAL_QTDE2, TOTAL_QTDE3, TOTAL_QTDE4, Q1, Q2,  Q3,  Q4,
		Q5, Q6, Q7,  Q8,  Q9,  Q10,  Q11, Q12,  Q13, Q14, Q15, Q16,  Q17, Q18, Q19,  Q20, Q21 ,  Q22,  Q23,
		 Q24 ,  Q25,  Q26, Q27, Q28, Q29,  Q30,  Q31,  Q32 ,  Q33,  Q34,  Q35,  Q36,   Q37,   Q38,  Q39 ,  Q40,
		 Q41, Q42,   Q43 ,   Q44,   Q45 ,   Q46 ,  Q47,   Q48)
		-- ENTRADAS_COMPRAS
		SELECT  FILIAL  = CASE WHEN @UTILIZA_MATRIZ_FISCAL='S' THEN F.MATRIZ_FISCAL ELSE F.FILIAL END,
			PRODUTO  = A.PRODUTO,
			COR_PRODUTO = A.COR_PRODUTO,
			QTDE  = SUM(A.QTDE),
			TIPO  = CONVERT(CHAR(10),'ENTRADAS'),
			ULTIMA_ENTRADA = MAX(G.RECEBIMENTO),
			ULTIMA_SAIDA = NULL,
			DATA_ULT_CUSTO = MAX(G.RECEBIMENTO),
			CUSTO_MEDIO1_INIC=0, CUSTO_MEDIO2_INIC=0,CUSTO_MEDIO3_INIC=0,CUSTO_MEDIO4_INIC=0,
			TOTAL_CUSTO1 = 
				SUM(CONVERT(NUMERIC(14,2),
					CASE WHEN D.NF_ENTRADA IS NULL
						THEN A.VALOR+
							CASE WHEN (G.VALOR_TOTAL-G.IPI_VALOR)*((G.FRETE+G.SEGURO+G.ENCARGO-G.DESCONTO-G.ICMS_VALOR) + 
							CASE 	WHEN IMPORTACAO=1 
									- (CASE WHEN H.ABATER_COFINS_NO_MEDIO = 1 THEN (CASE WHEN G.EMISSAO > '20040229' THEN A.VALOR*(0.076)  ELSE A.VALOR*(0.03) END) ELSE 0 END)
							- (CASE WHEN H.ABATER_PIS_NO_MEDIO = 1    THEN (CASE WHEN G.EMISSAO > '20030228' THEN A.VALOR*(0.0165) ELSE A.VALOR*(0.01) END) ELSE 0 END)

						THEN (G.IMPORTACAO_IMPOSTO+G.IMPORTACAO_ICMS+G.IMPORTACAO_IPI+G.IMPORTACAO_ALFANDEGA+G.IMPORTACAO_OUTRAS_DESPESAS+G.IMPORTACAO_FRETE+G.IMPORTACAO_SEGURO+G.IMPORTACAO_DESEMBARACO)
								ELSE 0 END)=0 THEN 0 ELSE
								(1.000*(A.VALOR-CONVERT(NUMERIC(14,2),A.VALOR*A.IPI/(A.IPI+100)))
								/(G.VALOR_TOTAL-G.IPI_VALOR)*((G.FRETE+G.SEGURO+G.ENCARGO-G.DESCONTO-G.ICMS_VALOR) + 
							CASE 	WHEN IMPORTACAO=1 
								THEN (G.IMPORTACAO_IMPOSTO+G.IMPORTACAO_ICMS+G.IMPORTACAO_IPI+G.IMPORTACAO_ALFANDEGA+G.IMPORTACAO_OUTRAS_DESPESAS+G.IMPORTACAO_FRETE+G.IMPORTACAO_SEGURO+G.IMPORTACAO_DESEMBARACO)
								ELSE 0 END)) END
							- (CASE WHEN H.ABATER_COFINS_NO_MEDIO = 1 THEN (CASE WHEN G.EMISSAO > '20040229' THEN A.VALOR*(0.076)  ELSE A.VALOR*(0.03) END) ELSE 0 END)
							- (CASE WHEN H.ABATER_PIS_NO_MEDIO = 1    THEN (CASE WHEN G.EMISSAO > '20030228' THEN A.VALOR*(0.0165) ELSE A.VALOR*(0.01) END) ELSE 0 END)

						ELSE 
							+ ISNULL(( CASE WHEN D.VALOR_ITEM <> 0 THEN ( A.VALOR * ( D.VALOR_ENCARGOS / D.VALOR_ITEM ) ) ELSE 0 END ), 0)
							- ISNULL(( CASE WHEN D.VALOR_ITEM <> 0 THEN ( A.VALOR * ( D.VALOR_DESCONTOS / D.VALOR_ITEM ) ) ELSE 0 END ), 0)
							+ ISNULL(( CASE WHEN D.VALOR_ITEM <> 0 THEN ( A.VALOR * ( D.VALOR_ENCARGOS_IMPORTACAO / D.VALOR_ITEM ) ) ELSE 0 END ), 0)
							- ISNULL(( CASE WHEN H.ABATER_ICMS_NO_MEDIO = 1 AND D.VALOR_ITEM <> 0 THEN ( A.VALOR * ( E.VALOR_IMPOSTO_DESTACAR / D.VALOR_ITEM ) ) ELSE 0 END ), 0)
							- ISNULL(( CASE WHEN H.ABATER_IPI_NO_MEDIO = 1 AND D.VALOR_ITEM <> 0 THEN ( A.VALOR * ( E.VALOR_IMPOSTO_AGREGAR / D.VALOR_ITEM ) ) ELSE 0 END ), 0)
							- ISNULL(( CASE WHEN H.ABATER_PIS_NO_MEDIO = 1 AND D.VALOR_ITEM <> 0 THEN ( A.VALOR * ( E.VALOR_PIS / D.VALOR_ITEM ) ) ELSE 0 END ), 0)
							- ISNULL(( CASE WHEN H.ABATER_COFINS_NO_MEDIO = 1 AND D.VALOR_ITEM <> 0 THEN ( A.VALOR * ( E.VALOR_COFINS / D.VALOR_ITEM ) ) ELSE 0 END ), 0)
						END)),
			TOTAL_CUSTO2 = 0,
			TOTAL_CUSTO3 = 0,
			TOTAL_CUSTO4 = 0,
			TOTAL_QTDE1 = SUM(A.QTDE), 
			TOTAL_QTDE2 = 0, 
			TOTAL_QTDE3 = 0, 
			TOTAL_QTDE4 = 0, 
			Q1=SUM(EN_1),Q2=SUM(EN_2),Q3=SUM(EN_3),Q4=SUM(EN_4),Q5=SUM(EN_5),Q6=SUM(EN_6),Q7=SUM(EN_7),Q8=SUM(EN_8),Q9=SUM(EN_9),Q10=SUM(EN_10),Q11=SUM(EN_11),Q12=SUM(EN_12),
			Q13=SUM(EN_13),Q14=SUM(EN_14),Q15=SUM(EN_15),Q16=SUM(EN_16),Q17=SUM(EN_17),Q18=SUM(EN_18),Q19=SUM(EN_19),Q20=SUM(EN_20),Q21=SUM(EN_21),Q22=SUM(EN_22),Q23=SUM(EN_23),Q24=SUM(EN_24),
			Q25=SUM(EN_25),Q26=SUM(EN_26),Q27=SUM(EN_27),Q28=SUM(EN_28),Q29=SUM(EN_29),Q30=SUM(EN_30),Q31=SUM(EN_31),Q32=SUM(EN_32),Q33=SUM(EN_33),Q34=SUM(EN_34),Q35=SUM(EN_35),Q36=SUM(EN_36),
			Q37=SUM(EN_37),Q38=SUM(EN_38),Q39=SUM(EN_39),Q40=SUM(EN_40),Q41=SUM(EN_41),Q42=SUM(EN_42),Q43=SUM(EN_43),Q44=SUM(EN_44),Q45=SUM(EN_45),Q46=SUM(EN_46),Q47=SUM(EN_47),Q48=SUM(EN_48)
		FROM ESTOQUE_PROD1_ENT A 
			JOIN ESTOQUE_PROD_ENT B ON B.ROMANEIO_PRODUTO=A.ROMANEIO_PRODUTO AND B.FILIAL=A.FILIAL
			JOIN ENTRADAS G ON G.NF_ENTRADA=B.NF_ENTRADA AND G.NOME_CLIFOR=B.NOME_CLIFOR AND G.SERIE_NF_ENTRADA=B.SERIE_NF_ENTRADA
			JOIN PRODUTOS P ON P.PRODUTO=A.PRODUTO
			JOIN CLASSIF_FISCAL H ON H.CLASSIF_FISCAL=P.CLASSIF_FISCAL
			JOIN FILIAIS  F ON F.FILIAL=A.FILIAL
			JOIN NATUREZAS_ENTRADAS C ON C.NATUREZA=G.NATUREZA
			LEFT JOIN CTB_LX_TIPO_OPERACAO M (NOLOCK) ON C.CTB_TIPO_OPERACAO = M.CTB_TIPO_OPERACAO
                                    LEFT JOIN ( SELECT A.NOME_CLIFOR, A.NF_ENTRADA, A.SERIE_NF_ENTRADA, A.ITEM_IMPRESSAO, SUM(A.VALOR_ITEM) AS VALOR_ITEM, SUM(A.VALOR_ENCARGOS) AS VALOR_ENCARGOS, 
                                                       SUM(A.VALOR_DESCONTOS) AS VALOR_DESCONTOS, SUM(VALOR_ENCARGOS_IMPORTACAO) AS VALOR_ENCARGOS_IMPORTACAO
                                                FROM ENTRADAS_ITEM A
                                                     INNER JOIN ENTRADAS B ON A.NOME_CLIFOR = B.NOME_CLIFOR AND
                                                                              A.NF_ENTRADA = B.NF_ENTRADA AND
                                                                              A.SERIE_NF_ENTRADA = B.SERIE_NF_ENTRADA WHERE  @PUTILIZA_FISCAL=1
                                                GROUP BY A.NOME_CLIFOR, A.NF_ENTRADA, A.SERIE_NF_ENTRADA, A.ITEM_IMPRESSAO ) D 
											ON D.NOME_CLIFOR = B.NOME_CLIFOR AND 
											   D.NF_ENTRADA = B.NF_ENTRADA AND 
											   D.SERIE_NF_ENTRADA = B.SERIE_NF_ENTRADA AND 
											   D.ITEM_IMPRESSAO = A.ITEM_IMPRESSAO
                                    LEFT JOIN ( SELECT A.NOME_CLIFOR, A.NF_ENTRADA, A.SERIE_NF_ENTRADA, A.ITEM_IMPRESSAO, SUM(A.VALOR_ITEM) AS VALOR_ITEM, 
                                                       SUM(( CASE WHEN C.ID_IMPOSTO IN (1,4) THEN C.VALOR_IMPOSTO_ESPELHO ELSE 0 END)) AS VALOR_IMPOSTO_DESTACAR, 
                                                       SUM(( CASE WHEN C.ID_IMPOSTO = 2 THEN C.VALOR_IMPOSTO_ESPELHO ELSE 0 END )) AS VALOR_IMPOSTO_AGREGAR,
                                                       SUM(( CASE WHEN C.ID_IMPOSTO = 6 THEN C.VALOR_IMPOSTO_ESPELHO ELSE 0 END )) AS VALOR_COFINS,
                                                       SUM(( CASE WHEN C.ID_IMPOSTO = 5 THEN C.VALOR_IMPOSTO_ESPELHO ELSE 0 END )) AS VALOR_PIS
                                                FROM ENTRADAS_ITEM A
                                                     INNER JOIN ENTRADAS B ON A.NOME_CLIFOR = B.NOME_CLIFOR AND
                                                                              A.NF_ENTRADA = B.NF_ENTRADA AND
                                                                              A.SERIE_NF_ENTRADA = B.SERIE_NF_ENTRADA
                                                     INNER JOIN ENTRADAS_IMPOSTO C ON C.NOME_CLIFOR = A.NOME_CLIFOR AND
                                                                                      C.NF_ENTRADA = A.NF_ENTRADA AND
                                                                                      C.SERIE_NF_eNTRADA = A.SERIE_NF_ENTRADA AND
                                                                                      C.ITEM_IMPRESSAO = A.ITEM_IMPRESSAO AND
                                                                                      C.SUB_ITEM_TAMANHO = A.SUB_ITEM_TAMANHO WHERE  @PUTILIZA_FISCAL=1
                                                GROUP BY A.NOME_CLIFOR, A.NF_ENTRADA, A.SERIE_NF_ENTRADA, A.ITEM_IMPRESSAO ) E 
											ON E.NOME_CLIFOR = D.NOME_CLIFOR AND
											   E.NF_ENTRADA = D.NF_ENTRADA AND
											   E.SERIE_NF_ENTRADA = D.SERIE_NF_ENTRADA AND
											   E.ITEM_IMPRESSAO = D.ITEM_IMPRESSAO
		WHERE (A.PRODUTO LIKE @PRODUTO)  AND (A.COR_PRODUTO LIKE @COR_PRODUTO) AND  ((@UTILIZA_MATRIZ_FISCAL='S' AND F.MATRIZ_FISCAL=@cFILIAL) OR (@UTILIZA_MATRIZ_FISCAL<>'S' AND F.FILIAL=@cFILIAL))
			AND G.RECEBIMENTO>@ULTIMO_SALDO AND G.RECEBIMENTO<=@SALDO AND ISNULL(M.TIPO_OPERACAO,C.TIPO_OPERACAO) <> 'D'
		GROUP BY CASE WHEN @UTILIZA_MATRIZ_FISCAL='S' THEN F.MATRIZ_FISCAL ELSE F.FILIAL END,A.PRODUTO,A.COR_PRODUTO
	-----------------------------------------------------
		INSERT INTO #MOVIMENTACOES_ESTOQUE_PA(FILIAL, PRODUTO, COR_PRODUTO, QTDE, TIPO,  ULTIMA_ENTRADA,   ULTIMA_SAIDA, DATA_ULT_CUSTO,
		CUSTO_MEDIO1_INIC, CUSTO_MEDIO2_INIC, CUSTO_MEDIO3_INIC, CUSTO_MEDIO4_INIC, TOTAL_CUSTO1, TOTAL_CUSTO2,
		TOTAL_CUSTO3,     TOTAL_CUSTO4,     TOTAL_QTDE1, TOTAL_QTDE2, TOTAL_QTDE3, TOTAL_QTDE4, Q1, Q2,  Q3,  Q4,
		Q5, Q6, Q7,  Q8,  Q9,  Q10,  Q11, Q12,  Q13, Q14, Q15, Q16,  Q17, Q18, Q19,  Q20, Q21 ,  Q22,  Q23,
		 Q24 ,  Q25,  Q26, Q27, Q28, Q29,  Q30,  Q31,  Q32 ,  Q33,  Q34,  Q35,  Q36,   Q37,   Q38,  Q39 ,  Q40,
		 Q41, Q42,   Q43 ,   Q44,   Q45 ,   Q46 ,  Q47,   Q48)
		-- ENTRADAS_DEVOLUCAO
		SELECT  FILIAL  = CASE WHEN @UTILIZA_MATRIZ_FISCAL='S' THEN F.MATRIZ_FISCAL ELSE F.FILIAL END,
			PRODUTO  = A.PRODUTO,
			COR_PRODUTO = A.COR_PRODUTO,
			QTDE  = SUM(A.QTDE),
			TIPO  = CONVERT(CHAR(10),'ENT_DEVOL'),
			ULTIMA_ENTRADA = MAX(B.RECEBIMENTO),
			ULTIMA_SAIDA = NULL,
			DATA_ULT_CUSTO = MAX(CASE WHEN CUSTO1<>0 OR CUSTO2<>0 OR CUSTO3<>0 OR CUSTO4<>0 THEN RECEBIMENTO ELSE NULL END),
			CUSTO_MEDIO1_INIC=0, CUSTO_MEDIO2_INIC=0,CUSTO_MEDIO3_INIC=0,CUSTO_MEDIO4_INIC=0,
			VALOR = 0,
			TOTAL_CUSTO2 = 0,
			TOTAL_CUSTO3 = 0,
			TOTAL_CUSTO4 = 0,
			TOTAL_QTDE1 = 0, 
			TOTAL_QTDE2 = 0, 
			TOTAL_QTDE3 = 0, 
			TOTAL_QTDE4 = 0, 
			Q1=SUM(EN_1),Q2=SUM(EN_2),Q3=SUM(EN_3),Q4=SUM(EN_4),Q5=SUM(EN_5),Q6=SUM(EN_6),Q7=SUM(EN_7),Q8=SUM(EN_8),Q9=SUM(EN_9),Q10=SUM(EN_10),Q11=SUM(EN_11),Q12=SUM(EN_12),
			Q13=SUM(EN_13),Q14=SUM(EN_14),Q15=SUM(EN_15),Q16=SUM(EN_16),Q17=SUM(EN_17),Q18=SUM(EN_18),Q19=SUM(EN_19),Q20=SUM(EN_20),Q21=SUM(EN_21),Q22=SUM(EN_22),Q23=SUM(EN_23),Q24=SUM(EN_24),
			Q25=SUM(EN_25),Q26=SUM(EN_26),Q27=SUM(EN_27),Q28=SUM(EN_28),Q29=SUM(EN_29),Q30=SUM(EN_30),Q31=SUM(EN_31),Q32=SUM(EN_32),Q33=SUM(EN_33),Q34=SUM(EN_34),Q35=SUM(EN_35),Q36=SUM(EN_36),
			Q37=SUM(EN_37),Q38=SUM(EN_38),Q39=SUM(EN_39),Q40=SUM(EN_40),Q41=SUM(EN_41),Q42=SUM(EN_42),Q43=SUM(EN_43),Q44=SUM(EN_44),Q45=SUM(EN_45),Q46=SUM(EN_46),Q47=SUM(EN_47),Q48=SUM(EN_48)
		FROM ESTOQUE_PROD1_ENT A 
			JOIN ESTOQUE_PROD_ENT D ON D.ROMANEIO_PRODUTO=A.ROMANEIO_PRODUTO AND D.FILIAL=A.FILIAL
			JOIN ENTRADAS B ON B.NF_ENTRADA=D.NF_ENTRADA AND B.NOME_CLIFOR=D.NOME_CLIFOR AND B.SERIE_NF_ENTRADA=D.SERIE_NF_ENTRADA
			JOIN PRODUTOS P ON P.PRODUTO=A.PRODUTO
			JOIN FILIAIS  F ON F.FILIAL=A.FILIAL
			JOIN NATUREZAS_ENTRADAS C ON C.NATUREZA=B.NATUREZA
			LEFT JOIN CTB_LX_TIPO_OPERACAO M (NOLOCK) ON C.CTB_TIPO_OPERACAO = M.CTB_TIPO_OPERACAO 
		WHERE (A.PRODUTO LIKE @PRODUTO)  AND (A.COR_PRODUTO LIKE @COR_PRODUTO) AND  ((@UTILIZA_MATRIZ_FISCAL='S' AND F.MATRIZ_FISCAL=@cFILIAL) OR (@UTILIZA_MATRIZ_FISCAL<>'S' AND F.FILIAL=@cFILIAL))
			AND B.RECEBIMENTO>@ULTIMO_SALDO AND B.RECEBIMENTO<=@SALDO AND ISNULL(M.TIPO_OPERACAO, C.TIPO_OPERACAO) = 'D'
		GROUP BY CASE WHEN @UTILIZA_MATRIZ_FISCAL='S' THEN F.MATRIZ_FISCAL ELSE F.FILIAL END,A.PRODUTO,A.COR_PRODUTO
	-----------------------------------------------------
		INSERT INTO #MOVIMENTACOES_ESTOQUE_PA(FILIAL, PRODUTO, COR_PRODUTO, QTDE, TIPO,  ULTIMA_ENTRADA,   ULTIMA_SAIDA, DATA_ULT_CUSTO,
		CUSTO_MEDIO1_INIC, CUSTO_MEDIO2_INIC, CUSTO_MEDIO3_INIC, CUSTO_MEDIO4_INIC, TOTAL_CUSTO1, TOTAL_CUSTO2,
		TOTAL_CUSTO3,     TOTAL_CUSTO4,     TOTAL_QTDE1, TOTAL_QTDE2, TOTAL_QTDE3, TOTAL_QTDE4, Q1, Q2,  Q3,  Q4,
		Q5, Q6, Q7,  Q8,  Q9,  Q10,  Q11, Q12,  Q13, Q14, Q15, Q16,  Q17, Q18, Q19,  Q20, Q21 ,  Q22,  Q23,
		 Q24 ,  Q25,  Q26, Q27, Q28, Q29,  Q30,  Q31,  Q32 ,  Q33,  Q34,  Q35,  Q36,   Q37,   Q38,  Q39 ,  Q40,
		 Q41, Q42,   Q43 ,   Q44,   Q45 ,   Q46 ,  Q47,   Q48)
		SELECT  FILIAL  = CASE WHEN @UTILIZA_MATRIZ_FISCAL='S' THEN F.MATRIZ_FISCAL ELSE F.FILIAL END,
			PRODUTO  = A.PRODUTO,
			COR_PRODUTO = A.COR_PRODUTO,
			QTDE  = SUM(A.QTDE),
			TIPO  = CONVERT(CHAR(10),'PROD1_ENT'),
			ULTIMA_ENTRADA = MAX(B.EMISSAO),
			ULTIMA_SAIDA = NULL, DATA_ULT_CUSTO=NULL,
			CUSTO_MEDIO1_INIC=0, CUSTO_MEDIO2_INIC=0,CUSTO_MEDIO3_INIC=0,CUSTO_MEDIO4_INIC=0,
			TOTAL_CUSTO1 = SUM((ISNULL(A.CUSTO_PRODUCAO,ISNULL(A.CUSTO1,0))+(CASE WHEN ISNULL(A.QTDE,0)<>0 THEN ISNULL(A.CUSTO_INDIRETO,0)/ISNULL(A.QTDE,0) ELSE 0 END))
					*DBO.FX_SOMA_VARIACAO_TAMANHO(1,PONTEIRO_PRECO_TAM, 
					EN_1,EN_2,EN_3,EN_4,EN_5,EN_6,EN_7,EN_8,EN_9,EN_10,EN_11,EN_12,EN_13,EN_14,EN_15,EN_16,EN_17,EN_18,EN_19,EN_20,EN_21,EN_22,EN_23,EN_24,
					EN_25,EN_26,EN_27,EN_28,EN_29,EN_30,EN_31,EN_32,EN_33,EN_34,EN_35,EN_36,EN_37,EN_38,EN_39,EN_40,EN_41,EN_42,EN_43,EN_44,EN_45,EN_46,EN_47,EN_48)),
			TOTAL_CUSTO2 = SUM((ISNULL(A.CUSTO_PRODUCAO,ISNULL(A.CUSTO2,0))+(CASE WHEN ISNULL(A.QTDE,0)<>0 THEN ISNULL(A.CUSTO_INDIRETO,0)/ISNULL(A.QTDE,0) ELSE 0 END))
					*DBO.FX_SOMA_VARIACAO_TAMANHO(2,PONTEIRO_PRECO_TAM, 
					EN_1,EN_2,EN_3,EN_4,EN_5,EN_6,EN_7,EN_8,EN_9,EN_10,EN_11,EN_12,EN_13,EN_14,EN_15,EN_16,EN_17,EN_18,EN_19,EN_20,EN_21,EN_22,EN_23,EN_24,
					EN_25,EN_26,EN_27,EN_28,EN_29,EN_30,EN_31,EN_32,EN_33,EN_34,EN_35,EN_36,EN_37,EN_38,EN_39,EN_40,EN_41,EN_42,EN_43,EN_44,EN_45,EN_46,EN_47,EN_48)),
			TOTAL_CUSTO3 = SUM((ISNULL(A.CUSTO_PRODUCAO,ISNULL(A.CUSTO3,0))+(CASE WHEN ISNULL(A.QTDE,0)<>0 THEN ISNULL(A.CUSTO_INDIRETO,0)/ISNULL(A.QTDE,0) ELSE 0 END))
					*DBO.FX_SOMA_VARIACAO_TAMANHO(3,PONTEIRO_PRECO_TAM, 
					EN_1,EN_2,EN_3,EN_4,EN_5,EN_6,EN_7,EN_8,EN_9,EN_10,EN_11,EN_12,EN_13,EN_14,EN_15,EN_16,EN_17,EN_18,EN_19,EN_20,EN_21,EN_22,EN_23,EN_24,
					EN_25,EN_26,EN_27,EN_28,EN_29,EN_30,EN_31,EN_32,EN_33,EN_34,EN_35,EN_36,EN_37,EN_38,EN_39,EN_40,EN_41,EN_42,EN_43,EN_44,EN_45,EN_46,EN_47,EN_48)),
			TOTAL_CUSTO4 = SUM((ISNULL(A.CUSTO_PRODUCAO,ISNULL(A.CUSTO4,0))+(CASE WHEN ISNULL(A.QTDE,0)<>0 THEN ISNULL(A.CUSTO_INDIRETO,0)/ISNULL(A.QTDE,0) ELSE 0 END))
					*DBO.FX_SOMA_VARIACAO_TAMANHO(4,PONTEIRO_PRECO_TAM, 
					EN_1,EN_2,EN_3,EN_4,EN_5,EN_6,EN_7,EN_8,EN_9,EN_10,EN_11,EN_12,EN_13,EN_14,EN_15,EN_16,EN_17,EN_18,EN_19,EN_20,EN_21,EN_22,EN_23,EN_24,
					EN_25,EN_26,EN_27,EN_28,EN_29,EN_30,EN_31,EN_32,EN_33,EN_34,EN_35,EN_36,EN_37,EN_38,EN_39,EN_40,EN_41,EN_42,EN_43,EN_44,EN_45,EN_46,EN_47,EN_48)),
			TOTAL_QTDE1 = SUM(CASE WHEN (ISNULL(A.CUSTO_PRODUCAO,ISNULL(A.CUSTO1,0))+(CASE WHEN ISNULL(A.QTDE,0)<>0 THEN ISNULL(A.CUSTO_INDIRETO,0)/ISNULL(A.QTDE,0) ELSE 0 END))=0 THEN 0 ELSE 1 END
					*DBO.FX_SOMA_VARIACAO_TAMANHO(1,PONTEIRO_PRECO_TAM, 
					EN_1,EN_2,EN_3,EN_4,EN_5,EN_6,EN_7,EN_8,EN_9,EN_10,EN_11,EN_12,EN_13,EN_14,EN_15,EN_16,EN_17,EN_18,EN_19,EN_20,EN_21,EN_22,EN_23,EN_24,
					EN_25,EN_26,EN_27,EN_28,EN_29,EN_30,EN_31,EN_32,EN_33,EN_34,EN_35,EN_36,EN_37,EN_38,EN_39,EN_40,EN_41,EN_42,EN_43,EN_44,EN_45,EN_46,EN_47,EN_48)),
			TOTAL_QTDE2 = SUM(CASE WHEN (ISNULL(A.CUSTO_PRODUCAO,ISNULL(A.CUSTO2,0))+(CASE WHEN ISNULL(A.QTDE,0)<>0 THEN ISNULL(A.CUSTO_INDIRETO,0)/ISNULL(A.QTDE,0) ELSE 0 END))=0 THEN 0 ELSE 1 END
					*DBO.FX_SOMA_VARIACAO_TAMANHO(2,PONTEIRO_PRECO_TAM, 
					EN_1,EN_2,EN_3,EN_4,EN_5,EN_6,EN_7,EN_8,EN_9,EN_10,EN_11,EN_12,EN_13,EN_14,EN_15,EN_16,EN_17,EN_18,EN_19,EN_20,EN_21,EN_22,EN_23,EN_24,
					EN_25,EN_26,EN_27,EN_28,EN_29,EN_30,EN_31,EN_32,EN_33,EN_34,EN_35,EN_36,EN_37,EN_38,EN_39,EN_40,EN_41,EN_42,EN_43,EN_44,EN_45,EN_46,EN_47,EN_48)),
			TOTAL_QTDE3 = SUM(CASE WHEN (ISNULL(A.CUSTO_PRODUCAO,ISNULL(A.CUSTO3,0))+(CASE WHEN ISNULL(A.QTDE,0)<>0 THEN ISNULL(A.CUSTO_INDIRETO,0)/ISNULL(A.QTDE,0) ELSE 0 END))=0 THEN 0 ELSE 1 END
					*DBO.FX_SOMA_VARIACAO_TAMANHO(3,PONTEIRO_PRECO_TAM, 
					EN_1,EN_2,EN_3,EN_4,EN_5,EN_6,EN_7,EN_8,EN_9,EN_10,EN_11,EN_12,EN_13,EN_14,EN_15,EN_16,EN_17,EN_18,EN_19,EN_20,EN_21,EN_22,EN_23,EN_24,
					EN_25,EN_26,EN_27,EN_28,EN_29,EN_30,EN_31,EN_32,EN_33,EN_34,EN_35,EN_36,EN_37,EN_38,EN_39,EN_40,EN_41,EN_42,EN_43,EN_44,EN_45,EN_46,EN_47,EN_48)),
			TOTAL_QTDE4 = SUM(CASE WHEN (ISNULL(A.CUSTO_PRODUCAO,ISNULL(A.CUSTO4,0))+(CASE WHEN ISNULL(A.QTDE,0)<>0 THEN ISNULL(A.CUSTO_INDIRETO,0)/ISNULL(A.QTDE,0) ELSE 0 END))=0 THEN 0 ELSE 1 END
					*DBO.FX_SOMA_VARIACAO_TAMANHO(4,PONTEIRO_PRECO_TAM, 
					EN_1,EN_2,EN_3,EN_4,EN_5,EN_6,EN_7,EN_8,EN_9,EN_10,EN_11,EN_12,EN_13,EN_14,EN_15,EN_16,EN_17,EN_18,EN_19,EN_20,EN_21,EN_22,EN_23,EN_24,
					EN_25,EN_26,EN_27,EN_28,EN_29,EN_30,EN_31,EN_32,EN_33,EN_34,EN_35,EN_36,EN_37,EN_38,EN_39,EN_40,EN_41,EN_42,EN_43,EN_44,EN_45,EN_46,EN_47,EN_48)),
			SUM(EN_1),SUM(EN_2),SUM(EN_3),SUM(EN_4),SUM(EN_5),SUM(EN_6),SUM(EN_7),SUM(EN_8),SUM(EN_9),SUM(EN_10),SUM(EN_11),SUM(EN_12),
			SUM(EN_13),SUM(EN_14),SUM(EN_15),SUM(EN_16),SUM(EN_17),SUM(EN_18),SUM(EN_19),SUM(EN_20),SUM(EN_21),SUM(EN_22),SUM(EN_23),SUM(EN_24),
			SUM(EN_25),SUM(EN_26),SUM(EN_27),SUM(EN_28),SUM(EN_29),SUM(EN_30),SUM(EN_31),SUM(EN_32),SUM(EN_33),SUM(EN_34),SUM(EN_35),SUM(EN_36),
			SUM(EN_37),SUM(EN_38),SUM(EN_39),SUM(EN_40),SUM(EN_41),SUM(EN_42),SUM(EN_43),SUM(EN_44),SUM(EN_45),SUM(EN_46),SUM(EN_47),SUM(EN_48)
		FROM ESTOQUE_PROD1_ENT A JOIN ESTOQUE_PROD_ENT B ON A.ROMANEIO_PRODUTO=B.ROMANEIO_PRODUTO AND A.FILIAL=B.FILIAL
			JOIN FILIAIS F ON F.FILIAL=A.FILIAL
			JOIN PRODUTOS P ON P.PRODUTO=A.PRODUTO
			LEFT JOIN ENTRADAS E ON E.NOME_CLIFOR=B.NOME_CLIFOR AND E.NF_ENTRADA=B.NF_ENTRADA AND E.SERIE_NF_ENTRADA=B.SERIE_NF_ENTRADA
		WHERE (A.PRODUTO LIKE @PRODUTO)  AND (A.COR_PRODUTO LIKE @COR_PRODUTO) AND  E.NF_ENTRADA IS NULL AND
			((@UTILIZA_MATRIZ_FISCAL='S' AND F.MATRIZ_FISCAL=@cFILIAL) OR (@UTILIZA_MATRIZ_FISCAL<>'S' AND F.FILIAL=@cFILIAL))
			AND B.EMISSAO>@ULTIMO_SALDO AND B.EMISSAO<=@SALDO
		GROUP BY CASE WHEN @UTILIZA_MATRIZ_FISCAL='S' THEN F.MATRIZ_FISCAL ELSE F.FILIAL END,A.PRODUTO,A.COR_PRODUTO
	-----------------------------------------------------
		INSERT INTO #MOVIMENTACOES_ESTOQUE_PA(FILIAL, PRODUTO, COR_PRODUTO, QTDE, TIPO,  ULTIMA_ENTRADA,   ULTIMA_SAIDA, DATA_ULT_CUSTO,
		CUSTO_MEDIO1_INIC, CUSTO_MEDIO2_INIC, CUSTO_MEDIO3_INIC, CUSTO_MEDIO4_INIC, TOTAL_CUSTO1, TOTAL_CUSTO2,
		TOTAL_CUSTO3,     TOTAL_CUSTO4,     TOTAL_QTDE1, TOTAL_QTDE2, TOTAL_QTDE3, TOTAL_QTDE4, Q1, Q2,  Q3,  Q4,
		Q5, Q6, Q7,  Q8,  Q9,  Q10,  Q11, Q12,  Q13, Q14, Q15, Q16,  Q17, Q18, Q19,  Q20, Q21 ,  Q22,  Q23,
		 Q24 ,  Q25,  Q26, Q27, Q28, Q29,  Q30,  Q31,  Q32 ,  Q33,  Q34,  Q35,  Q36,   Q37,   Q38,  Q39 ,  Q40,
		 Q41, Q42,   Q43 ,   Q44,   Q45 ,   Q46 ,  Q47,   Q48)
		SELECT  FILIAL  = CASE WHEN @UTILIZA_MATRIZ_FISCAL='S' THEN F.MATRIZ_FISCAL ELSE F.FILIAL END,
			PRODUTO  = A.PRODUTO,
			COR_PRODUTO = A.COR_PRODUTO,
			QTDE  = SUM(A.QTDE)*-1,
			TIPO  = CONVERT(CHAR(10),'PROD1_SAI'),
			ULTIMA_ENTRADA = NULL,
			ULTIMA_SAIDA = MAX(EMISSAO), DATA_ULT_CUSTO=NULL,
			CUSTO_MEDIO1_INIC=0, CUSTO_MEDIO2_INIC=0,CUSTO_MEDIO3_INIC=0,CUSTO_MEDIO4_INIC=0,
			TOTAL_CUSTO1 = 0, TOTAL_CUSTO2 = 0, TOTAL_CUSTO3 = 0, TOTAL_CUSTO4 = 0,
			TOTAL_QTDE1 = 0, TOTAL_QTDE2 = 0, TOTAL_QTDE3 = 0, TOTAL_QTDE4 = 0,
			-SUM(SA_1),-SUM(SA_2),-SUM(SA_3),-SUM(SA_4),-SUM(SA_5),-SUM(SA_6),-SUM(SA_7),-SUM(SA_8),-SUM(SA_9),-SUM(SA_10),-SUM(SA_11),-SUM(SA_12),
			-SUM(SA_13),-SUM(SA_14),-SUM(SA_15),-SUM(SA_16),-SUM(SA_17),-SUM(SA_18),-SUM(SA_19),-SUM(SA_20),-SUM(SA_21),-SUM(SA_22),-SUM(SA_23),-SUM(SA_24),
			-SUM(SA_25),-SUM(SA_26),-SUM(SA_27),-SUM(SA_28),-SUM(SA_29),-SUM(SA_30),-SUM(SA_31),-SUM(SA_32),-SUM(SA_33),-SUM(SA_34),-SUM(SA_35),-SUM(SA_36),
			-SUM(SA_37),-SUM(SA_38),-SUM(SA_39),-SUM(SA_40),-SUM(SA_41),-SUM(SA_42),-SUM(SA_43),-SUM(SA_44),-SUM(SA_45),-SUM(SA_46),-SUM(SA_47),-SUM(SA_48)
		FROM ESTOQUE_PROD1_SAI A JOIN ESTOQUE_PROD_SAI B ON A.ROMANEIO_PRODUTO=B.ROMANEIO_PRODUTO AND A.FILIAL=B.FILIAL
			JOIN FILIAIS F ON F.FILIAL=A.FILIAL
		WHERE (A.PRODUTO LIKE @PRODUTO)  AND (A.COR_PRODUTO LIKE @COR_PRODUTO) AND  ((@UTILIZA_MATRIZ_FISCAL='S' AND F.MATRIZ_FISCAL=@cFILIAL) OR (@UTILIZA_MATRIZ_FISCAL<>'S' AND F.FILIAL=@cFILIAL))
			AND B.EMISSAO>@ULTIMO_SALDO AND B.EMISSAO<=@SALDO
		GROUP BY CASE WHEN @UTILIZA_MATRIZ_FISCAL='S' THEN F.MATRIZ_FISCAL ELSE F.FILIAL END,A.PRODUTO,A.COR_PRODUTO
	-----------------------------------------------------
		INSERT INTO #MOVIMENTACOES_ESTOQUE_PA(FILIAL, PRODUTO, COR_PRODUTO, QTDE, TIPO,  ULTIMA_ENTRADA,   ULTIMA_SAIDA, DATA_ULT_CUSTO,
		CUSTO_MEDIO1_INIC, CUSTO_MEDIO2_INIC, CUSTO_MEDIO3_INIC, CUSTO_MEDIO4_INIC, TOTAL_CUSTO1, TOTAL_CUSTO2,
		TOTAL_CUSTO3,     TOTAL_CUSTO4,     TOTAL_QTDE1, TOTAL_QTDE2, TOTAL_QTDE3, TOTAL_QTDE4, Q1, Q2,  Q3,  Q4,
		Q5, Q6, Q7,  Q8,  Q9,  Q10,  Q11, Q12,  Q13, Q14, Q15, Q16,  Q17, Q18, Q19,  Q20, Q21 ,  Q22,  Q23,
		 Q24 ,  Q25,  Q26, Q27, Q28, Q29,  Q30,  Q31,  Q32 ,  Q33,  Q34,  Q35,  Q36,   Q37,   Q38,  Q39 ,  Q40,
		 Q41, Q42,   Q43 ,   Q44,   Q45 ,   Q46 ,  Q47,   Q48)



		SELECT  FILIAL  = CASE WHEN F.COD_FILIAL IS NULL THEN CASE WHEN @UTILIZA_MATRIZ_FISCAL='S' THEN FIL.MATRIZ_FISCAL ELSE FIL.FILIAL END ELSE CASE WHEN @UTILIZA_MATRIZ_FISCAL='S' THEN F.MATRIZ_FISCAL ELSE F.FILIAL END END,
			PRODUTO  = A.PRODUTO,
			COR_PRODUTO = A.COR_PRODUTO,
			QTDE  = SUM(A.QTDE)*-1,
			TIPO  = CONVERT(CHAR(10),'FATURA'),
			ULTIMA_ENTRADA = NULL,
			ULTIMA_SAIDA = MAX(EMISSAO), DATA_ULT_CUSTO=NULL,
			CUSTO_MEDIO1_INIC=0, CUSTO_MEDIO2_INIC=0,CUSTO_MEDIO3_INIC=0,CUSTO_MEDIO4_INIC=0,
			TOTAL_CUSTO1 = 0, TOTAL_CUSTO2 = 0, TOTAL_CUSTO3 = 0, TOTAL_CUSTO4 = 0,
			TOTAL_QTDE1 = 0, TOTAL_QTDE2 = 0, TOTAL_QTDE3 = 0, TOTAL_QTDE4 = 0,
			-SUM(F1),-SUM(F2),-SUM(F3),-SUM(F4),-SUM(F5),-SUM(F6),-SUM(F7),-SUM(F8),-SUM(F9),-SUM(F10),-SUM(F11),-SUM(F12),
			-SUM(F13),-SUM(F14),-SUM(F15),-SUM(F16),-SUM(F17),-SUM(F18),-SUM(F19),-SUM(F20),-SUM(F21),-SUM(F22),-SUM(F23),-SUM(F24),
			-SUM(F25),-SUM(F26),-SUM(F27),-SUM(F28),-SUM(F29),-SUM(F30),-SUM(F31),-SUM(F32),-SUM(F33),-SUM(F34),-SUM(F35),-SUM(F36),
			-SUM(F37),-SUM(F38),-SUM(F39),-SUM(F40),-SUM(F41),-SUM(F42),-SUM(F43),-SUM(F44),-SUM(F45),-SUM(F46),-SUM(F47),-SUM(F48)
		FROM FATURAMENTO_PROD A JOIN FATURAMENTO B ON A.FILIAL=B.FILIAL AND A.NF_SAIDA=B.NF_SAIDA AND A.SERIE_NF=B.SERIE_NF
			JOIN FILIAIS FIL ON (FIL.FILIAL=A.FILIAL)
			LEFT JOIN FILIAIS F ON (F.COD_FILIAL=A.COD_FILIAL_ESTOQUE)
		WHERE (A.PRODUTO LIKE @PRODUTO)  AND (A.COR_PRODUTO LIKE @COR_PRODUTO) AND  
		  ((CASE WHEN F.COD_FILIAL IS NULL THEN CASE WHEN @UTILIZA_MATRIZ_FISCAL='S' THEN FIL.MATRIZ_FISCAL ELSE FIL.FILIAL END ELSE CASE WHEN @UTILIZA_MATRIZ_FISCAL='S' THEN F.MATRIZ_FISCAL ELSE F.FILIAL END END)=@cFILIAL)
			AND B.EMISSAO>@ULTIMO_SALDO AND B.EMISSAO<=@SALDO
		GROUP BY F.COD_FILIAL, F.MATRIZ_FISCAL, F.FILIAL,  FIL.MATRIZ_FISCAL, FIL.FILIAL,A.PRODUTO,A.COR_PRODUTO
	-----------------------------------------------------
		INSERT INTO #MOVIMENTACOES_ESTOQUE_PA(FILIAL, PRODUTO, COR_PRODUTO, QTDE, TIPO,  ULTIMA_ENTRADA,   ULTIMA_SAIDA, DATA_ULT_CUSTO,
		CUSTO_MEDIO1_INIC, CUSTO_MEDIO2_INIC, CUSTO_MEDIO3_INIC, CUSTO_MEDIO4_INIC, TOTAL_CUSTO1, TOTAL_CUSTO2,
		TOTAL_CUSTO3,     TOTAL_CUSTO4,     TOTAL_QTDE1, TOTAL_QTDE2, TOTAL_QTDE3, TOTAL_QTDE4, Q1, Q2,  Q3,  Q4,
		Q5, Q6, Q7,  Q8,  Q9,  Q10,  Q11, Q12,  Q13, Q14, Q15, Q16,  Q17, Q18, Q19,  Q20, Q21 ,  Q22,  Q23,
		 Q24 ,  Q25,  Q26, Q27, Q28, Q29,  Q30,  Q31,  Q32 ,  Q33,  Q34,  Q35,  Q36,   Q37,   Q38,  Q39 ,  Q40,
		 Q41, Q42,   Q43 ,   Q44,   Q45 ,   Q46 ,  Q47,   Q48)
		SELECT  FILIAL  = CASE WHEN @UTILIZA_MATRIZ_FISCAL='S' THEN F.MATRIZ_FISCAL ELSE F.FILIAL END,
			PRODUTO  = A.PRODUTO,
			COR_PRODUTO = A.COR_PRODUTO,
			QTDE  = SUM(A.QTDE)*-1,
			TIPO  = CONVERT(CHAR(10),'FAT_DEVOL'),
			ULTIMA_ENTRADA = NULL,
			ULTIMA_SAIDA = MAX(EMISSAO), DATA_ULT_CUSTO=NULL,
			CUSTO_MEDIO1_INIC=0, CUSTO_MEDIO2_INIC=0,CUSTO_MEDIO3_INIC=0,CUSTO_MEDIO4_INIC=0,
			TOTAL_CUSTO1 = CONVERT(NUMERIC(14,2),-SUM(ISNULL(PRECO,0)*
				DBO.FX_SOMA_VARIACAO_TAMANHO(1,PONTEIRO_PRECO_TAM, 
					F1,F2,F3,F4,F5,F6,F7,F8,F9,F10,F11,F12,F13,F14,F15,F16,F17,F18,F19,F20,F21,F22,F23,F24,
					F25,F26,F27,F28,F29,F30,F31,F32,F33,F34,F35,F36,F37,F38,F39,F40,F41,F42,F43,F44,F45,F46,F47,F48))), 
			TOTAL_CUSTO2 = CONVERT(NUMERIC(14,2),-SUM(ISNULL(PRECO,0)*
				DBO.FX_SOMA_VARIACAO_TAMANHO(2,PONTEIRO_PRECO_TAM, 
					F1,F2,F3,F4,F5,F6,F7,F8,F9,F10,F11,F12,F13,F14,F15,F16,F17,F18,F19,F20,F21,F22,F23,F24,
					F25,F26,F27,F28,F29,F30,F31,F32,F33,F34,F35,F36,F37,F38,F39,F40,F41,F42,F43,F44,F45,F46,F47,F48))), 
			TOTAL_CUSTO3 = CONVERT(NUMERIC(14,2),-SUM(ISNULL(PRECO,0)*
				DBO.FX_SOMA_VARIACAO_TAMANHO(3,PONTEIRO_PRECO_TAM, 
					F1,F2,F3,F4,F5,F6,F7,F8,F9,F10,F11,F12,F13,F14,F15,F16,F17,F18,F19,F20,F21,F22,F23,F24,
					F25,F26,F27,F28,F29,F30,F31,F32,F33,F34,F35,F36,F37,F38,F39,F40,F41,F42,F43,F44,F45,F46,F47,F48))), 
			TOTAL_CUSTO4 = CONVERT(NUMERIC(14,2),-SUM(ISNULL(PRECO,0)*
				DBO.FX_SOMA_VARIACAO_TAMANHO(4,PONTEIRO_PRECO_TAM, 
					F1,F2,F3,F4,F5,F6,F7,F8,F9,F10,F11,F12,F13,F14,F15,F16,F17,F18,F19,F20,F21,F22,F23,F24,
					F25,F26,F27,F28,F29,F30,F31,F32,F33,F34,F35,F36,F37,F38,F39,F40,F41,F42,F43,F44,F45,F46,F47,F48))),
			TOTAL_QTDE1 = CONVERT(INT,-SUM(CASE WHEN PRECO <> 0 THEN
				DBO.FX_SOMA_VARIACAO_TAMANHO(1,PONTEIRO_PRECO_TAM, 
					F1,F2,F3,F4,F5,F6,F7,F8,F9,F10,F11,F12,F13,F14,F15,F16,F17,F18,F19,F20,F21,F22,F23,F24,
					F25,F26,F27,F28,F29,F30,F31,F32,F33,F34,F35,F36,F37,F38,F39,F40,F41,F42,F43,F44,F45,F46,F47,F48)
				ELSE 0 END)), 
			TOTAL_QTDE2 = CONVERT(INT,-SUM(CASE WHEN PRECO <> 0 THEN
				DBO.FX_SOMA_VARIACAO_TAMANHO(2,PONTEIRO_PRECO_TAM, 
					F1,F2,F3,F4,F5,F6,F7,F8,F9,F10,F11,F12,F13,F14,F15,F16,F17,F18,F19,F20,F21,F22,F23,F24,
					F25,F26,F27,F28,F29,F30,F31,F32,F33,F34,F35,F36,F37,F38,F39,F40,F41,F42,F43,F44,F45,F46,F47,F48)
				ELSE 0 END)), 
			TOTAL_QTDE3 = CONVERT(INT,-SUM(CASE WHEN PRECO <> 0 THEN
				DBO.FX_SOMA_VARIACAO_TAMANHO(3,PONTEIRO_PRECO_TAM, 
					F1,F2,F3,F4,F5,F6,F7,F8,F9,F10,F11,F12,F13,F14,F15,F16,F17,F18,F19,F20,F21,F22,F23,F24,
					F25,F26,F27,F28,F29,F30,F31,F32,F33,F34,F35,F36,F37,F38,F39,F40,F41,F42,F43,F44,F45,F46,F47,F48)
				ELSE 0 END)),
			TOTAL_QTDE4 = CONVERT(INT,-SUM(CASE WHEN PRECO <> 0 THEN
				DBO.FX_SOMA_VARIACAO_TAMANHO(4,PONTEIRO_PRECO_TAM, 
					F1,F2,F3,F4,F5,F6,F7,F8,F9,F10,F11,F12,F13,F14,F15,F16,F17,F18,F19,F20,F21,F22,F23,F24,
					F25,F26,F27,F28,F29,F30,F31,F32,F33,F34,F35,F36,F37,F38,F39,F40,F41,F42,F43,F44,F45,F46,F47,F48)
				ELSE 0 END)), 
			-SUM(F1),-SUM(F2),-SUM(F3),-SUM(F4),-SUM(F5),-SUM(F6),-SUM(F7),-SUM(F8),-SUM(F9),-SUM(F10),-SUM(F11),-SUM(F12),
			-SUM(F13),-SUM(F14),-SUM(F15),-SUM(F16),-SUM(F17),-SUM(F18),-SUM(F19),-SUM(F20),-SUM(F21),-SUM(F22),-SUM(F23),-SUM(F24),
			-SUM(F25),-SUM(F26),-SUM(F27),-SUM(F28),-SUM(F29),-SUM(F30),-SUM(F31),-SUM(F32),-SUM(F33),-SUM(F34),-SUM(F35),-SUM(F36),
			-SUM(F37),-SUM(F38),-SUM(F39),-SUM(F40),-SUM(F41),-SUM(F42),-SUM(F43),-SUM(F44),-SUM(F45),-SUM(F46),-SUM(F47),-SUM(F48)
		FROM FATURAM_DEV_PROD A 
			JOIN FATURAMENTO B ON A.FILIAL=B.FILIAL AND A.NF_SAIDA=B.NF_SAIDA AND A.SERIE_NF=B.SERIE_NF
			JOIN PRODUTOS C ON C.PRODUTO=A.PRODUTO
			JOIN FILIAIS F ON F.FILIAL=A.FILIAL
		WHERE (A.PRODUTO LIKE @PRODUTO)  AND (A.COR_PRODUTO LIKE @COR_PRODUTO) AND  ((@UTILIZA_MATRIZ_FISCAL='S' AND F.MATRIZ_FISCAL=@cFILIAL) OR (@UTILIZA_MATRIZ_FISCAL<>'S' AND F.FILIAL=@cFILIAL))
			AND B.EMISSAO>@ULTIMO_SALDO AND B.EMISSAO<=@SALDO
		GROUP BY CASE WHEN @UTILIZA_MATRIZ_FISCAL='S' THEN F.MATRIZ_FISCAL ELSE F.FILIAL END,A.PRODUTO,A.COR_PRODUTO
	-----------------------------------------------------
		INSERT INTO #MOVIMENTACOES_ESTOQUE_PA(FILIAL, PRODUTO, COR_PRODUTO, QTDE, TIPO,  ULTIMA_ENTRADA,   ULTIMA_SAIDA, DATA_ULT_CUSTO,
		CUSTO_MEDIO1_INIC, CUSTO_MEDIO2_INIC, CUSTO_MEDIO3_INIC, CUSTO_MEDIO4_INIC, TOTAL_CUSTO1, TOTAL_CUSTO2,
		TOTAL_CUSTO3,     TOTAL_CUSTO4,     TOTAL_QTDE1, TOTAL_QTDE2, TOTAL_QTDE3, TOTAL_QTDE4, Q1, Q2,  Q3,  Q4,
		Q5, Q6, Q7,  Q8,  Q9,  Q10,  Q11, Q12,  Q13, Q14, Q15, Q16,  Q17, Q18, Q19,  Q20, Q21 ,  Q22,  Q23,
		 Q24 ,  Q25,  Q26, Q27, Q28, Q29,  Q30,  Q31,  Q32 ,  Q33,  Q34,  Q35,  Q36,   Q37,   Q38,  Q39 ,  Q40,
		 Q41, Q42,   Q43 ,   Q44,   Q45 ,   Q46 ,  Q47,   Q48)
		SELECT  FILIAL  = CASE WHEN @UTILIZA_MATRIZ_FISCAL='S' THEN F.MATRIZ_FISCAL ELSE F.FILIAL END,
			PRODUTO  = A.PRODUTO,
			COR_PRODUTO = A.COR_PRODUTO,
			QTDE  = SUM(A.QTDE_AJUSTE),
			TIPO  = CONVERT(CHAR(10),'AJUSTE'),
			ULTIMA_ENTRADA = NULL,
			ULTIMA_SAIDA = NULL, 
			DATA_ULT_CUSTO = MAX(CASE WHEN CUSTO1<>0 OR CUSTO2<>0 OR CUSTO3<>0 OR CUSTO4<>0 THEN B.EMISSAO ELSE NULL END),
			CUSTO_MEDIO1_INIC=0, CUSTO_MEDIO2_INIC=0,CUSTO_MEDIO3_INIC=0,CUSTO_MEDIO4_INIC=0,
			TOTAL_CUSTO1 = CONVERT(NUMERIC(14,2),SUM(ISNULL(CUSTO1,0)*
				DBO.FX_SOMA_VARIACAO_TAMANHO(1,PONTEIRO_PRECO_TAM, 
					A1,A2,A3,A4,A5,A6,A7,A8,A9,A10,A11,A12,A13,A14,A15,A16,A17,A18,A19,A20,A21,A22,A23,A24,
					A25,A26,A27,A28,A29,A30,A31,A32,A33,A34,A35,A36,A37,A38,A39,A40,A41,A42,A43,A44,A45,A46,A47,A48))),
			TOTAL_CUSTO2 = CONVERT(NUMERIC(14,2),SUM(ISNULL(CUSTO2,0)*
				DBO.FX_SOMA_VARIACAO_TAMANHO(2,PONTEIRO_PRECO_TAM, 
					A1,A2,A3,A4,A5,A6,A7,A8,A9,A10,A11,A12,A13,A14,A15,A16,A17,A18,A19,A20,A21,A22,A23,A24,
					A25,A26,A27,A28,A29,A30,A31,A32,A33,A34,A35,A36,A37,A38,A39,A40,A41,A42,A43,A44,A45,A46,A47,A48))),
			TOTAL_CUSTO3 = CONVERT(NUMERIC(14,2),SUM(ISNULL(CUSTO3,0)*
				DBO.FX_SOMA_VARIACAO_TAMANHO(3,PONTEIRO_PRECO_TAM, 
					A1,A2,A3,A4,A5,A6,A7,A8,A9,A10,A11,A12,A13,A14,A15,A16,A17,A18,A19,A20,A21,A22,A23,A24,
					A25,A26,A27,A28,A29,A30,A31,A32,A33,A34,A35,A36,A37,A38,A39,A40,A41,A42,A43,A44,A45,A46,A47,A48))),
			TOTAL_CUSTO4 = CONVERT(NUMERIC(14,2),SUM(ISNULL(CUSTO4,0)*
				DBO.FX_SOMA_VARIACAO_TAMANHO(4,PONTEIRO_PRECO_TAM, 
					A1,A2,A3,A4,A5,A6,A7,A8,A9,A10,A11,A12,A13,A14,A15,A16,A17,A18,A19,A20,A21,A22,A23,A24,
					A25,A26,A27,A28,A29,A30,A31,A32,A33,A34,A35,A36,A37,A38,A39,A40,A41,A42,A43,A44,A45,A46,A47,A48))),
			TOTAL_QTDE1 = CONVERT(INT,SUM(CASE WHEN CUSTO1 <> 0 THEN
				DBO.FX_SOMA_VARIACAO_TAMANHO(1,PONTEIRO_PRECO_TAM, 
					A1,A2,A3,A4,A5,A6,A7,A8,A9,A10,A11,A12,A13,A14,A15,A16,A17,A18,A19,A20,A21,A22,A23,A24,
					A25,A26,A27,A28,A29,A30,A31,A32,A33,A34,A35,A36,A37,A38,A39,A40,A41,A42,A43,A44,A45,A46,A47,A48)
				ELSE 0 END)), 
			TOTAL_QTDE2 = CONVERT(INT,SUM(CASE WHEN CUSTO2 <> 0 THEN
				DBO.FX_SOMA_VARIACAO_TAMANHO(2,PONTEIRO_PRECO_TAM, 
					A1,A2,A3,A4,A5,A6,A7,A8,A9,A10,A11,A12,A13,A14,A15,A16,A17,A18,A19,A20,A21,A22,A23,A24,
					A25,A26,A27,A28,A29,A30,A31,A32,A33,A34,A35,A36,A37,A38,A39,A40,A41,A42,A43,A44,A45,A46,A47,A48)
				ELSE 0 END)), 
			TOTAL_QTDE3 = CONVERT(INT,SUM(CASE WHEN CUSTO3 <> 0 THEN
				DBO.FX_SOMA_VARIACAO_TAMANHO(3,PONTEIRO_PRECO_TAM, 
					A1,A2,A3,A4,A5,A6,A7,A8,A9,A10,A11,A12,A13,A14,A15,A16,A17,A18,A19,A20,A21,A22,A23,A24,
					A25,A26,A27,A28,A29,A30,A31,A32,A33,A34,A35,A36,A37,A38,A39,A40,A41,A42,A43,A44,A45,A46,A47,A48)
				ELSE 0 END)), 
			TOTAL_QTDE4 = CONVERT(INT,SUM(CASE WHEN CUSTO4 <> 0 THEN
				DBO.FX_SOMA_VARIACAO_TAMANHO(4,PONTEIRO_PRECO_TAM, 
					A1,A2,A3,A4,A5,A6,A7,A8,A9,A10,A11,A12,A13,A14,A15,A16,A17,A18,A19,A20,A21,A22,A23,A24,
					A25,A26,A27,A28,A29,A30,A31,A32,A33,A34,A35,A36,A37,A38,A39,A40,A41,A42,A43,A44,A45,A46,A47,A48)
				ELSE 0 END)), 
			SUM(A1),SUM(A2),SUM(A3),SUM(A4),SUM(A5),SUM(A6),SUM(A7),SUM(A8),SUM(A9),SUM(A10),SUM(A11),SUM(A12),
			SUM(A13),SUM(A14),SUM(A15),SUM(A16),SUM(A17),SUM(A18),SUM(A19),SUM(A20),SUM(A21),SUM(A22),SUM(A23),SUM(A24),
			SUM(A25),SUM(A26),SUM(A27),SUM(A28),SUM(A29),SUM(A30),SUM(A31),SUM(A32),SUM(A33),SUM(A34),SUM(A35),SUM(A36),
			SUM(A37),SUM(A38),SUM(A39),SUM(A40),SUM(A41),SUM(A42),SUM(A43),SUM(A44),SUM(A45),SUM(A46),SUM(A47),SUM(A48)
		FROM ESTOQUE_PROD_CTG_AJUSTE A JOIN ESTOQUE_PROD_CONTAGEM B ON A.NOME_CONTAGEM=B.NOME_CONTAGEM
			JOIN PRODUTOS P ON P.PRODUTO=A.PRODUTO
			JOIN FILIAIS F ON F.FILIAL=B.FILIAL
		WHERE (A.PRODUTO LIKE @PRODUTO)  AND (A.COR_PRODUTO LIKE @COR_PRODUTO) AND  ((@UTILIZA_MATRIZ_FISCAL='S' AND F.MATRIZ_FISCAL=@cFILIAL) OR (@UTILIZA_MATRIZ_FISCAL<>'S' AND F.FILIAL=@cFILIAL))
			AND B.EMISSAO>@ULTIMO_SALDO AND B.EMISSAO<=@SALDO
		GROUP BY CASE WHEN @UTILIZA_MATRIZ_FISCAL='S' THEN F.MATRIZ_FISCAL ELSE F.FILIAL END,A.PRODUTO,A.COR_PRODUTO
	-----------------------------------------------------
		INSERT INTO #MOVIMENTACOES_ESTOQUE_PA(FILIAL, PRODUTO, COR_PRODUTO, QTDE, TIPO,  ULTIMA_ENTRADA,   ULTIMA_SAIDA, DATA_ULT_CUSTO,
		CUSTO_MEDIO1_INIC, CUSTO_MEDIO2_INIC, CUSTO_MEDIO3_INIC, CUSTO_MEDIO4_INIC, TOTAL_CUSTO1, TOTAL_CUSTO2,
		TOTAL_CUSTO3,     TOTAL_CUSTO4,     TOTAL_QTDE1, TOTAL_QTDE2, TOTAL_QTDE3, TOTAL_QTDE4, Q1, Q2,  Q3,  Q4,
		Q5, Q6, Q7,  Q8,  Q9,  Q10,  Q11, Q12,  Q13, Q14, Q15, Q16,  Q17, Q18, Q19,  Q20, Q21 ,  Q22,  Q23,
		 Q24 ,  Q25,  Q26, Q27, Q28, Q29,  Q30,  Q31,  Q32 ,  Q33,  Q34,  Q35,  Q36,   Q37,   Q38,  Q39 ,  Q40,
		 Q41, Q42,   Q43 ,   Q44,   Q45 ,   Q46 ,  Q47,   Q48)
		SELECT  FILIAL  = CASE WHEN @UTILIZA_MATRIZ_FISCAL='S' THEN F.MATRIZ_FISCAL ELSE F.FILIAL END,
			PRODUTO  = A.PRODUTO,
			COR_PRODUTO = A.COR_PRODUTO,
			QTDE  = SUM(A.QTDE_ENTRADA),
			TIPO  = CONVERT(CHAR(10),'LJ_ENTRADA'),
			ULTIMA_ENTRADA = MAX(EMISSAO),
			ULTIMA_SAIDA = NULL, 
			DATA_ULT_CUSTO = MAX(CASE WHEN PRECO1<>0 OR PRECO2<>0 OR PRECO3<>0 OR PRECO4<>0 THEN EMISSAO ELSE NULL END),
			CUSTO_MEDIO1_INIC=0, CUSTO_MEDIO2_INIC=0,CUSTO_MEDIO3_INIC=0,CUSTO_MEDIO4_INIC=0,
			TOTAL_CUSTO1 = CONVERT(NUMERIC(14,2),SUM(ISNULL(PRECO1,0)*
				DBO.FX_SOMA_VARIACAO_TAMANHO(1,PONTEIRO_PRECO_TAM, 
					EN1,EN2,EN3,EN4,EN5,EN6,EN7,EN8,EN9,EN10,EN11,EN12,EN13,EN14,EN15,EN16,EN17,EN18,EN19,EN20,EN21,EN22,EN23,EN24,
					EN25,EN26,EN27,EN28,EN29,EN30,EN31,EN32,EN33,EN34,EN35,EN36,EN37,EN38,EN39,EN40,EN41,EN42,EN43,EN44,EN45,EN46,EN47,EN48))),
			TOTAL_CUSTO2 = CONVERT(NUMERIC(14,2),SUM(ISNULL(PRECO2,0)*
				DBO.FX_SOMA_VARIACAO_TAMANHO(2,PONTEIRO_PRECO_TAM, 
					EN1,EN2,EN3,EN4,EN5,EN6,EN7,EN8,EN9,EN10,EN11,EN12,EN13,EN14,EN15,EN16,EN17,EN18,EN19,EN20,EN21,EN22,EN23,EN24,
					EN25,EN26,EN27,EN28,EN29,EN30,EN31,EN32,EN33,EN34,EN35,EN36,EN37,EN38,EN39,EN40,EN41,EN42,EN43,EN44,EN45,EN46,EN47,EN48))),
			TOTAL_CUSTO3 = CONVERT(NUMERIC(14,2),SUM(ISNULL(PRECO3,0)*
				DBO.FX_SOMA_VARIACAO_TAMANHO(3,PONTEIRO_PRECO_TAM, 
					EN1,EN2,EN3,EN4,EN5,EN6,EN7,EN8,EN9,EN10,EN11,EN12,EN13,EN14,EN15,EN16,EN17,EN18,EN19,EN20,EN21,EN22,EN23,EN24,
					EN25,EN26,EN27,EN28,EN29,EN30,EN31,EN32,EN33,EN34,EN35,EN36,EN37,EN38,EN39,EN40,EN41,EN42,EN43,EN44,EN45,EN46,EN47,EN48))),
			TOTAL_CUSTO4 = CONVERT(NUMERIC(14,2),SUM(ISNULL(PRECO4,0)*
				DBO.FX_SOMA_VARIACAO_TAMANHO(4,PONTEIRO_PRECO_TAM, 
					EN1,EN2,EN3,EN4,EN5,EN6,EN7,EN8,EN9,EN10,EN11,EN12,EN13,EN14,EN15,EN16,EN17,EN18,EN19,EN20,EN21,EN22,EN23,EN24,
					EN25,EN26,EN27,EN28,EN29,EN30,EN31,EN32,EN33,EN34,EN35,EN36,EN37,EN38,EN39,EN40,EN41,EN42,EN43,EN44,EN45,EN46,EN47,EN48))),
			TOTAL_QTDE1 = CONVERT(INT,SUM(CASE WHEN PRECO1 <> 0 THEN
				DBO.FX_SOMA_VARIACAO_TAMANHO(1,PONTEIRO_PRECO_TAM, 
					EN1,EN2,EN3,EN4,EN5,EN6,EN7,EN8,EN9,EN10,EN11,EN12,EN13,EN14,EN15,EN16,EN17,EN18,EN19,EN20,EN21,EN22,EN23,EN24,
					EN25,EN26,EN27,EN28,EN29,EN30,EN31,EN32,EN33,EN34,EN35,EN36,EN37,EN38,EN39,EN40,EN41,EN42,EN43,EN44,EN45,EN46,EN47,EN48)  
				ELSE 0 END)), 
			TOTAL_QTDE2 = CONVERT(INT,SUM(CASE WHEN PRECO2 <> 0 THEN
				DBO.FX_SOMA_VARIACAO_TAMANHO(2,PONTEIRO_PRECO_TAM, 
					EN1,EN2,EN3,EN4,EN5,EN6,EN7,EN8,EN9,EN10,EN11,EN12,EN13,EN14,EN15,EN16,EN17,EN18,EN19,EN20,EN21,EN22,EN23,EN24,
					EN25,EN26,EN27,EN28,EN29,EN30,EN31,EN32,EN33,EN34,EN35,EN36,EN37,EN38,EN39,EN40,EN41,EN42,EN43,EN44,EN45,EN46,EN47,EN48)
				ELSE 0 END)), 
			TOTAL_QTDE3 = CONVERT(INT,SUM(CASE WHEN PRECO3 <> 0 THEN
				DBO.FX_SOMA_VARIACAO_TAMANHO(3,PONTEIRO_PRECO_TAM, 
					EN1,EN2,EN3,EN4,EN5,EN6,EN7,EN8,EN9,EN10,EN11,EN12,EN13,EN14,EN15,EN16,EN17,EN18,EN19,EN20,EN21,EN22,EN23,EN24,
					EN25,EN26,EN27,EN28,EN29,EN30,EN31,EN32,EN33,EN34,EN35,EN36,EN37,EN38,EN39,EN40,EN41,EN42,EN43,EN44,EN45,EN46,EN47,EN48)
				ELSE 0 END)), 
			TOTAL_QTDE4 = CONVERT(INT,SUM(CASE WHEN PRECO4 <> 0 THEN
				DBO.FX_SOMA_VARIACAO_TAMANHO(4,PONTEIRO_PRECO_TAM, 
					EN1,EN2,EN3,EN4,EN5,EN6,EN7,EN8,EN9,EN10,EN11,EN12,EN13,EN14,EN15,EN16,EN17,EN18,EN19,EN20,EN21,EN22,EN23,EN24,
					EN25,EN26,EN27,EN28,EN29,EN30,EN31,EN32,EN33,EN34,EN35,EN36,EN37,EN38,EN39,EN40,EN41,EN42,EN43,EN44,EN45,EN46,EN47,EN48)
				ELSE 0 END)),
			SUM(EN1),SUM(EN2),SUM(EN3),SUM(EN4),SUM(EN5),SUM(EN6),SUM(EN7),SUM(EN8),SUM(EN9),SUM(EN10),SUM(EN11),SUM(EN12),
			SUM(EN13),SUM(EN14),SUM(EN15),SUM(EN16),SUM(EN17),SUM(EN18),SUM(EN19),SUM(EN20),SUM(EN21),SUM(EN22),SUM(EN23),SUM(EN24),
			SUM(EN25),SUM(EN26),SUM(EN27),SUM(EN28),SUM(EN29),SUM(EN30),SUM(EN31),SUM(EN32),SUM(EN33),SUM(EN34),SUM(EN35),SUM(EN36),
			SUM(EN37),SUM(EN38),SUM(EN39),SUM(EN40),SUM(EN41),SUM(EN42),SUM(EN43),SUM(EN44),SUM(EN45),SUM(EN46),SUM(EN47),SUM(EN48)
		FROM LOJA_ENTRADAS_PRODUTO A JOIN LOJA_ENTRADAS B ON A.ROMANEIO_PRODUTO=B.ROMANEIO_PRODUTO AND A.FILIAL=B.FILIAL
			JOIN PRODUTOS P ON P.PRODUTO=A.PRODUTO
			JOIN FILIAIS F ON F.FILIAL=A.FILIAL
		WHERE (A.PRODUTO LIKE @PRODUTO)  AND (A.COR_PRODUTO LIKE @COR_PRODUTO) AND  ((@UTILIZA_MATRIZ_FISCAL='S' AND F.MATRIZ_FISCAL=@cFILIAL) OR (@UTILIZA_MATRIZ_FISCAL<>'S' AND F.FILIAL=@cFILIAL))
			 AND B.EMISSAO>@ULTIMO_SALDO AND B.EMISSAO<=@SALDO
		GROUP BY CASE WHEN @UTILIZA_MATRIZ_FISCAL='S' THEN F.MATRIZ_FISCAL ELSE F.FILIAL END,A.PRODUTO,A.COR_PRODUTO
	-----------------------------------------------------
		INSERT INTO #MOVIMENTACOES_ESTOQUE_PA(FILIAL, PRODUTO, COR_PRODUTO, QTDE, TIPO,  ULTIMA_ENTRADA,   ULTIMA_SAIDA, DATA_ULT_CUSTO,
		CUSTO_MEDIO1_INIC, CUSTO_MEDIO2_INIC, CUSTO_MEDIO3_INIC, CUSTO_MEDIO4_INIC, TOTAL_CUSTO1, TOTAL_CUSTO2,
		TOTAL_CUSTO3,     TOTAL_CUSTO4,     TOTAL_QTDE1, TOTAL_QTDE2, TOTAL_QTDE3, TOTAL_QTDE4, Q1, Q2,  Q3,  Q4,
		Q5, Q6, Q7,  Q8,  Q9,  Q10,  Q11, Q12,  Q13, Q14, Q15, Q16,  Q17, Q18, Q19,  Q20, Q21 ,  Q22,  Q23,
		 Q24 ,  Q25,  Q26, Q27, Q28, Q29,  Q30,  Q31,  Q32 ,  Q33,  Q34,  Q35,  Q36,   Q37,   Q38,  Q39 ,  Q40,
		 Q41, Q42,   Q43 ,   Q44,   Q45 ,   Q46 ,  Q47,   Q48)
		SELECT  FILIAL  = CASE WHEN @UTILIZA_MATRIZ_FISCAL='S' THEN F.MATRIZ_FISCAL ELSE F.FILIAL END,
			PRODUTO  = A.PRODUTO,
			COR_PRODUTO = A.COR_PRODUTO,
			QTDE  = SUM(A.QTDE_SAIDA)*-1,
			TIPO  = CONVERT(CHAR(10),'LJ_SAIDA'),
			ULTIMA_ENTRADA = NULL,
			ULTIMA_SAIDA = MAX(EMISSAO), DATA_ULT_CUSTO=NULL,
			CUSTO_MEDIO1_INIC=0, CUSTO_MEDIO2_INIC=0,CUSTO_MEDIO3_INIC=0,CUSTO_MEDIO4_INIC=0,
			TOTAL_CUSTO1 = 0, TOTAL_CUSTO2 = 0, TOTAL_CUSTO3 = 0, TOTAL_CUSTO4 = 0,
			TOTAL_QTDE1 = 0, TOTAL_QTDE2 = 0, TOTAL_QTDE3 = 0, TOTAL_QTDE4 = 0,
			-SUM(EN1),-SUM(EN2),-SUM(EN3),-SUM(EN4),-SUM(EN5),-SUM(EN6),-SUM(EN7),-SUM(EN8),-SUM(EN9),-SUM(EN10),-SUM(EN11),-SUM(EN12),
			-SUM(EN13),-SUM(EN14),-SUM(EN15),-SUM(EN16),-SUM(EN17),-SUM(EN18),-SUM(EN19),-SUM(EN20),-SUM(EN21),-SUM(EN22),-SUM(EN23),-SUM(EN24),
			-SUM(EN25),-SUM(EN26),-SUM(EN27),-SUM(EN28),-SUM(EN29),-SUM(EN30),-SUM(EN31),-SUM(EN32),-SUM(EN33),-SUM(EN34),-SUM(EN35),-SUM(EN36),
			-SUM(EN37),-SUM(EN38),-SUM(EN39),-SUM(EN40),-SUM(EN41),-SUM(EN42),-SUM(EN43),-SUM(EN44),-SUM(EN45),-SUM(EN46),-SUM(EN47),-SUM(EN48)
		FROM LOJA_SAIDAS_PRODUTO A 
			JOIN LOJA_SAIDAS B ON A.ROMANEIO_PRODUTO=B.ROMANEIO_PRODUTO AND A.FILIAL=B.FILIAL
			JOIN FILIAIS F ON F.FILIAL=A.FILIAL
		WHERE (A.PRODUTO LIKE @PRODUTO)  AND (A.COR_PRODUTO LIKE @COR_PRODUTO) AND ((@UTILIZA_MATRIZ_FISCAL='S' AND F.MATRIZ_FISCAL=@cFILIAL) OR (@UTILIZA_MATRIZ_FISCAL<>'S' AND F.FILIAL=@cFILIAL))
			 AND B.EMISSAO>@ULTIMO_SALDO AND B.EMISSAO<=@SALDO
		GROUP BY CASE WHEN @UTILIZA_MATRIZ_FISCAL='S' THEN F.MATRIZ_FISCAL ELSE F.FILIAL END,A.PRODUTO,A.COR_PRODUTO
	-----------------------------------------------------
		INSERT INTO #MOVIMENTACOES_ESTOQUE_PA(FILIAL, PRODUTO, COR_PRODUTO, QTDE, TIPO,  ULTIMA_ENTRADA,   ULTIMA_SAIDA, DATA_ULT_CUSTO,
		CUSTO_MEDIO1_INIC, CUSTO_MEDIO2_INIC, CUSTO_MEDIO3_INIC, CUSTO_MEDIO4_INIC, TOTAL_CUSTO1, TOTAL_CUSTO2,
		TOTAL_CUSTO3,     TOTAL_CUSTO4,     TOTAL_QTDE1, TOTAL_QTDE2, TOTAL_QTDE3, TOTAL_QTDE4, Q1, Q2,  Q3,  Q4,
		Q5, Q6, Q7,  Q8,  Q9,  Q10,  Q11, Q12,  Q13, Q14, Q15, Q16,  Q17, Q18, Q19,  Q20, Q21 ,  Q22,  Q23,
		 Q24 ,  Q25,  Q26, Q27, Q28, Q29,  Q30,  Q31,  Q32 ,  Q33,  Q34,  Q35,  Q36,   Q37,   Q38,  Q39 ,  Q40,
		 Q41, Q42,   Q43 ,   Q44,   Q45 ,   Q46 ,  Q47,   Q48)
		SELECT  FILIAL  = CASE WHEN @UTILIZA_MATRIZ_FISCAL='S' THEN F.MATRIZ_FISCAL ELSE F.FILIAL END,
			PRODUTO  = A.PRODUTO,
			COR_PRODUTO = A.COR_PRODUTO,
			QTDE  = SUM(A.QTDE)*-1,
			TIPO  = CONVERT(CHAR(10),'LJ_VENDA'),
			ULTIMA_ENTRADA = NULL,
			ULTIMA_SAIDA = MAX(A.DATA_VENDA), DATA_ULT_CUSTO=NULL,
			CUSTO_MEDIO1_INIC=0, CUSTO_MEDIO2_INIC=0,CUSTO_MEDIO3_INIC=0,CUSTO_MEDIO4_INIC=0,
			TOTAL_CUSTO1 = 0, TOTAL_CUSTO2 = 0, TOTAL_CUSTO3 = 0, TOTAL_CUSTO4 = 0,
			TOTAL_QTDE1 = 0, TOTAL_QTDE2 = 0, TOTAL_QTDE3 = 0, TOTAL_QTDE4 = 0,
			SUM(CASE WHEN TAMANHO=1 THEN QTDE ELSE 0 END)*-1, SUM(CASE WHEN TAMANHO=2 THEN QTDE ELSE 0 END)*-1, SUM(CASE WHEN TAMANHO=3 THEN QTDE ELSE 0 END)*-1, 
			SUM(CASE WHEN TAMANHO=4 THEN QTDE ELSE 0 END)*-1, SUM(CASE WHEN TAMANHO=5 THEN QTDE ELSE 0 END)*-1, SUM(CASE WHEN TAMANHO=6 THEN QTDE ELSE 0 END)*-1, 
			SUM(CASE WHEN TAMANHO=7 THEN QTDE ELSE 0 END)*-1, SUM(CASE WHEN TAMANHO=8 THEN QTDE ELSE 0 END)*-1, SUM(CASE WHEN TAMANHO=9 THEN QTDE ELSE 0 END)*-1, 
			SUM(CASE WHEN TAMANHO=10 THEN QTDE ELSE 0 END)*-1,SUM(CASE WHEN TAMANHO=11 THEN QTDE ELSE 0 END)*-1,SUM(CASE WHEN TAMANHO=12 THEN QTDE ELSE 0 END)*-1,
			SUM(CASE WHEN TAMANHO=13 THEN QTDE ELSE 0 END)*-1,SUM(CASE WHEN TAMANHO=14 THEN QTDE ELSE 0 END)*-1,SUM(CASE WHEN TAMANHO=15 THEN QTDE ELSE 0 END)*-1,
			SUM(CASE WHEN TAMANHO=16 THEN QTDE ELSE 0 END)*-1,SUM(CASE WHEN TAMANHO=17 THEN QTDE ELSE 0 END)*-1,SUM(CASE WHEN TAMANHO=18 THEN QTDE ELSE 0 END)*-1,
			SUM(CASE WHEN TAMANHO=19 THEN QTDE ELSE 0 END)*-1,SUM(CASE WHEN TAMANHO=20 THEN QTDE ELSE 0 END)*-1,SUM(CASE WHEN TAMANHO=21 THEN QTDE ELSE 0 END)*-1,
			SUM(CASE WHEN TAMANHO=22 THEN QTDE ELSE 0 END)*-1,SUM(CASE WHEN TAMANHO=23 THEN QTDE ELSE 0 END)*-1,SUM(CASE WHEN TAMANHO=24 THEN QTDE ELSE 0 END)*-1,
			SUM(CASE WHEN TAMANHO=25 THEN QTDE ELSE 0 END)*-1,SUM(CASE WHEN TAMANHO=26 THEN QTDE ELSE 0 END)*-1,SUM(CASE WHEN TAMANHO=27 THEN QTDE ELSE 0 END)*-1,
			SUM(CASE WHEN TAMANHO=28 THEN QTDE ELSE 0 END)*-1,SUM(CASE WHEN TAMANHO=29 THEN QTDE ELSE 0 END)*-1,SUM(CASE WHEN TAMANHO=30 THEN QTDE ELSE 0 END)*-1,
			SUM(CASE WHEN TAMANHO=31 THEN QTDE ELSE 0 END)*-1,SUM(CASE WHEN TAMANHO=32 THEN QTDE ELSE 0 END)*-1,SUM(CASE WHEN TAMANHO=33 THEN QTDE ELSE 0 END)*-1,
			SUM(CASE WHEN TAMANHO=34 THEN QTDE ELSE 0 END)*-1,SUM(CASE WHEN TAMANHO=35 THEN QTDE ELSE 0 END)*-1,SUM(CASE WHEN TAMANHO=36 THEN QTDE ELSE 0 END)*-1,
			SUM(CASE WHEN TAMANHO=37 THEN QTDE ELSE 0 END)*-1,SUM(CASE WHEN TAMANHO=38 THEN QTDE ELSE 0 END)*-1,SUM(CASE WHEN TAMANHO=39 THEN QTDE ELSE 0 END)*-1,
			SUM(CASE WHEN TAMANHO=40 THEN QTDE ELSE 0 END)*-1,SUM(CASE WHEN TAMANHO=41 THEN QTDE ELSE 0 END)*-1,SUM(CASE WHEN TAMANHO=42 THEN QTDE ELSE 0 END)*-1,
			SUM(CASE WHEN TAMANHO=43 THEN QTDE ELSE 0 END)*-1,SUM(CASE WHEN TAMANHO=44 THEN QTDE ELSE 0 END)*-1,SUM(CASE WHEN TAMANHO=45 THEN QTDE ELSE 0 END)*-1,
			SUM(CASE WHEN TAMANHO=46 THEN QTDE ELSE 0 END)*-1,SUM(CASE WHEN TAMANHO=47 THEN QTDE ELSE 0 END)*-1,SUM(CASE WHEN TAMANHO=48 THEN QTDE ELSE 0 END)*-1
		FROM LOJA_VENDA_PRODUTO A 
			JOIN LOJAS_VAREJO B ON A.CODIGO_FILIAL=B.CODIGO_FILIAL
			JOIN FILIAIS F ON F.FILIAL=B.FILIAL
			JOIN LOJA_VENDA C ON A.CODIGO_FILIAL = C.CODIGO_FILIAL AND A.DATA_VENDA = C.DATA_VENDA AND A.TICKET = C.TICKET
			LEFT JOIN LOJA_VENDA_PGTO D ON C.LANCAMENTO_CAIXA = D.LANCAMENTO_CAIXA AND C.TERMINAL_PGTO = D.TERMINAL AND C.CODIGO_FILIAL_PGTO = D.CODIGO_FILIAL
		WHERE (A.PRODUTO LIKE @PRODUTO)  AND (A.COR_PRODUTO LIKE @COR_PRODUTO) AND  ((@UTILIZA_MATRIZ_FISCAL='S' AND F.MATRIZ_FISCAL=@cFILIAL) OR (@UTILIZA_MATRIZ_FISCAL<>'S' AND F.FILIAL=@cFILIAL))
			AND A.DATA_VENDA>@ULTIMO_SALDO AND A.DATA_VENDA<=@SALDO AND A.NAO_MOVIMENTA_ESTOQUE = 0
		GROUP BY CASE WHEN @UTILIZA_MATRIZ_FISCAL='S' THEN F.MATRIZ_FISCAL ELSE F.FILIAL END,A.PRODUTO,A.COR_PRODUTO
	-----------------------------------------------------
		INSERT INTO #MOVIMENTACOES_ESTOQUE_PA(FILIAL, PRODUTO, COR_PRODUTO, QTDE, TIPO,  ULTIMA_ENTRADA,   ULTIMA_SAIDA, DATA_ULT_CUSTO,
		CUSTO_MEDIO1_INIC, CUSTO_MEDIO2_INIC, CUSTO_MEDIO3_INIC, CUSTO_MEDIO4_INIC, TOTAL_CUSTO1, TOTAL_CUSTO2,
		TOTAL_CUSTO3,     TOTAL_CUSTO4,     TOTAL_QTDE1, TOTAL_QTDE2, TOTAL_QTDE3, TOTAL_QTDE4, Q1, Q2,  Q3,  Q4,
		Q5, Q6, Q7,  Q8,  Q9,  Q10,  Q11, Q12,  Q13, Q14, Q15, Q16,  Q17, Q18, Q19,  Q20, Q21 ,  Q22,  Q23,
		 Q24 ,  Q25,  Q26, Q27, Q28, Q29,  Q30,  Q31,  Q32 ,  Q33,  Q34,  Q35,  Q36,   Q37,   Q38,  Q39 ,  Q40,
		 Q41, Q42,   Q43 ,   Q44,   Q45 ,   Q46 ,  Q47,   Q48)
		SELECT  FILIAL  = CASE WHEN @UTILIZA_MATRIZ_FISCAL='S' THEN F.MATRIZ_FISCAL ELSE F.FILIAL END,
			PRODUTO  = A.PRODUTO,
			COR_PRODUTO = A.COR_PRODUTO,
			QTDE  = SUM(A.QTDE),
			TIPO  = CONVERT(CHAR(10),'LJ_TROCA'),
			ULTIMA_ENTRADA = MAX(DATA_VENDA),
			ULTIMA_SAIDA = NULL, DATA_ULT_CUSTO=NULL,
			CUSTO_MEDIO1_INIC=0, CUSTO_MEDIO2_INIC=0,CUSTO_MEDIO3_INIC=0,CUSTO_MEDIO4_INIC=0,
			TOTAL_CUSTO1 = 0, TOTAL_CUSTO2 = 0, TOTAL_CUSTO3 = 0, TOTAL_CUSTO4 = 0,
			TOTAL_QTDE1 = 0, TOTAL_QTDE2 = 0, TOTAL_QTDE3 = 0, TOTAL_QTDE4 = 0,
			SUM(CASE WHEN TAMANHO=1 THEN QTDE ELSE 0 END), SUM(CASE WHEN TAMANHO=2 THEN QTDE ELSE 0 END), SUM(CASE WHEN TAMANHO=3 THEN QTDE ELSE 0 END), 
			SUM(CASE WHEN TAMANHO=4 THEN QTDE ELSE 0 END), SUM(CASE WHEN TAMANHO=5 THEN QTDE ELSE 0 END), SUM(CASE WHEN TAMANHO=6 THEN QTDE ELSE 0 END), 
			SUM(CASE WHEN TAMANHO=7 THEN QTDE ELSE 0 END), SUM(CASE WHEN TAMANHO=8 THEN QTDE ELSE 0 END), SUM(CASE WHEN TAMANHO=9 THEN QTDE ELSE 0 END), 
			SUM(CASE WHEN TAMANHO=10 THEN QTDE ELSE 0 END),SUM(CASE WHEN TAMANHO=11 THEN QTDE ELSE 0 END),SUM(CASE WHEN TAMANHO=12 THEN QTDE ELSE 0 END),
			SUM(CASE WHEN TAMANHO=13 THEN QTDE ELSE 0 END),SUM(CASE WHEN TAMANHO=14 THEN QTDE ELSE 0 END),SUM(CASE WHEN TAMANHO=15 THEN QTDE ELSE 0 END),
			SUM(CASE WHEN TAMANHO=16 THEN QTDE ELSE 0 END),SUM(CASE WHEN TAMANHO=17 THEN QTDE ELSE 0 END),SUM(CASE WHEN TAMANHO=18 THEN QTDE ELSE 0 END),
			SUM(CASE WHEN TAMANHO=19 THEN QTDE ELSE 0 END),SUM(CASE WHEN TAMANHO=20 THEN QTDE ELSE 0 END),SUM(CASE WHEN TAMANHO=21 THEN QTDE ELSE 0 END),
			SUM(CASE WHEN TAMANHO=22 THEN QTDE ELSE 0 END),SUM(CASE WHEN TAMANHO=23 THEN QTDE ELSE 0 END),SUM(CASE WHEN TAMANHO=24 THEN QTDE ELSE 0 END),
			SUM(CASE WHEN TAMANHO=25 THEN QTDE ELSE 0 END),SUM(CASE WHEN TAMANHO=26 THEN QTDE ELSE 0 END),SUM(CASE WHEN TAMANHO=27 THEN QTDE ELSE 0 END),
			SUM(CASE WHEN TAMANHO=28 THEN QTDE ELSE 0 END),SUM(CASE WHEN TAMANHO=29 THEN QTDE ELSE 0 END),SUM(CASE WHEN TAMANHO=30 THEN QTDE ELSE 0 END),
			SUM(CASE WHEN TAMANHO=31 THEN QTDE ELSE 0 END),SUM(CASE WHEN TAMANHO=32 THEN QTDE ELSE 0 END),SUM(CASE WHEN TAMANHO=33 THEN QTDE ELSE 0 END),
			SUM(CASE WHEN TAMANHO=34 THEN QTDE ELSE 0 END),SUM(CASE WHEN TAMANHO=35 THEN QTDE ELSE 0 END),SUM(CASE WHEN TAMANHO=36 THEN QTDE ELSE 0 END),
			SUM(CASE WHEN TAMANHO=37 THEN QTDE ELSE 0 END),SUM(CASE WHEN TAMANHO=38 THEN QTDE ELSE 0 END),SUM(CASE WHEN TAMANHO=39 THEN QTDE ELSE 0 END),
			SUM(CASE WHEN TAMANHO=40 THEN QTDE ELSE 0 END),SUM(CASE WHEN TAMANHO=41 THEN QTDE ELSE 0 END),SUM(CASE WHEN TAMANHO=42 THEN QTDE ELSE 0 END),
			SUM(CASE WHEN TAMANHO=43 THEN QTDE ELSE 0 END),SUM(CASE WHEN TAMANHO=44 THEN QTDE ELSE 0 END),SUM(CASE WHEN TAMANHO=45 THEN QTDE ELSE 0 END),
			SUM(CASE WHEN TAMANHO=46 THEN QTDE ELSE 0 END),SUM(CASE WHEN TAMANHO=47 THEN QTDE ELSE 0 END),SUM(CASE WHEN TAMANHO=48 THEN QTDE ELSE 0 END)
		FROM LOJA_VENDA_TROCA A JOIN LOJAS_VAREJO B ON A.CODIGO_FILIAL=B.CODIGO_FILIAL
			JOIN FILIAIS F ON F.FILIAL=B.FILIAL
		WHERE (A.PRODUTO LIKE @PRODUTO)  AND (A.COR_PRODUTO LIKE @COR_PRODUTO) AND  ((@UTILIZA_MATRIZ_FISCAL='S' AND F.MATRIZ_FISCAL=@cFILIAL) OR (@UTILIZA_MATRIZ_FISCAL<>'S' AND F.FILIAL=@cFILIAL))
			AND A.DATA_VENDA>@ULTIMO_SALDO AND A.DATA_VENDA<=@SALDO AND A.NAO_MOVIMENTA_ESTOQUE = 0
			AND (QTDE_CANCELADA IS NULL OR QTDE_CANCELADA=0)
		GROUP BY CASE WHEN @UTILIZA_MATRIZ_FISCAL='S' THEN F.MATRIZ_FISCAL ELSE F.FILIAL END,A.PRODUTO,A.COR_PRODUTO 
 
	FETCH NEXT FROM CUR_FILIAL INTO @cFilial
END
 
SET NOCOUNT OFF
CLOSE CUR_FILIAL
DEALLOCATE CUR_FILIAL

--RETORNANDO RESULTADO
SELECT FILIAL,@Saldo as DATA_SALDO ,PRODUTO,COR_PRODUTO,SUM(ISNULL(QTDE,0)) as ESTOQUE,
		SUM(ISNULL(Q1,0)) S1 ,SUM(ISNULL(Q2,0)) S2,SUM(ISNULL(Q3,0)) S3,SUM(ISNULL(Q4,0)) S4,SUM(ISNULL(Q5,0)) S5,SUM(ISNULL(Q6,0)) S6,SUM(ISNULL(Q7,0)) S7,SUM(ISNULL(Q8,0)) S8,SUM(ISNULL(Q9,0)) S9,SUM(ISNULL(Q10,0)) S10,SUM(ISNULL(Q11,0)) S11,SUM(ISNULL(Q12,0)) S12,SUM(ISNULL(Q13,0)) S13,SUM(ISNULL(Q14,0)) S14,SUM(ISNULL(Q15,0)) S15,SUM(ISNULL(Q16,0)) S16,
		SUM(ISNULL(Q17,0)) S17,SUM(ISNULL(Q18,0)) S18,SUM(ISNULL(Q19,0)) S19,SUM(ISNULL(Q20,0)) S20,SUM(ISNULL(Q21,0)) S21,SUM(ISNULL(Q22,0)) S22,SUM(ISNULL(Q23,0)) S23,SUM(ISNULL(Q24,0)) S24,SUM(ISNULL(Q25,0))  S25,SUM(ISNULL(Q26,0))  S26,SUM(ISNULL(Q27,0)) S27,SUM(ISNULL(Q28,0)) S28,SUM(ISNULL(Q29,0)) S29,SUM(ISNULL(Q30,0)) S30,SUM(ISNULL(Q31,0)) S31,SUM(ISNULL(Q32,0)) S32,
		SUM(ISNULL(Q33,0)) S33,SUM(ISNULL(Q34,0)) S34,SUM(ISNULL(Q35,0)) S35,SUM(ISNULL(Q36,0)) S36,SUM(ISNULL(Q37,0)) S37,SUM(ISNULL(Q38,0)) S38,SUM(ISNULL(Q39,0)) S39,SUM(ISNULL(Q40,0)) S40,SUM(ISNULL(Q41,0)) S41,SUM(ISNULL(Q42,0)) S42,SUM(ISNULL(Q43,0)) S43,SUM(ISNULL(Q44,0)) S44,SUM(ISNULL(Q45,0)) S45,SUM(ISNULL(Q46,0)) S46,SUM(ISNULL(Q47,0)) S47,SUM(ISNULL(Q48,0)) S48,
		CUSTO_MEDIO1=CASE WHEN SUM(ISNULL(TOTAL_QTDE1,0))<>0 THEN SUM(ISNULL(TOTAL_CUSTO1,0))/SUM(ISNULL(TOTAL_QTDE1,0)) ELSE ISNULL(MAX(CUSTO_MEDIO1_INIC),0) END,	CUSTO_MEDIO2 =	CASE WHEN SUM(ISNULL(TOTAL_QTDE2,0))<>0 THEN SUM(ISNULL(TOTAL_CUSTO2,0))/SUM(ISNULL(TOTAL_QTDE2,0)) ELSE ISNULL(MAX(CUSTO_MEDIO2_INIC),0) END,
		CUSTO_MEDIO3=CASE WHEN SUM(ISNULL(TOTAL_QTDE3,0))<>0 THEN SUM(ISNULL(TOTAL_CUSTO3,0))/SUM(ISNULL(TOTAL_QTDE3,0)) ELSE ISNULL(MAX(CUSTO_MEDIO3_INIC),0) END,	CUSTO_MEDIO4 =	CASE WHEN SUM(ISNULL(TOTAL_QTDE4,0))<>0 THEN SUM(ISNULL(TOTAL_CUSTO4,0))/SUM(ISNULL(TOTAL_QTDE4,0)) ELSE ISNULL(MAX(CUSTO_MEDIO4_INIC),0) END,
		QTDE_ENTRADA=SUM(CASE WHEN TIPO='ENTRADAS'  THEN ISNULL(QTDE,0) ELSE 0 END),	QTDE_FATURAMENTO=	SUM(CASE WHEN TIPO='FATURA'  THEN ISNULL(QTDE,0) ELSE 0 END),
		QTDE_ENT_DEVOL=SUM(CASE WHEN TIPO='ENT_DEVOL'  THEN ISNULL(QTDE,0) ELSE 0 END), QTDE_FATURA_DEVOL =  	SUM(CASE WHEN TIPO='FAT_DEVOL'  THEN ISNULL(QTDE,0) ELSE 0 END),
		QTDE_PROD_ENT=SUM(CASE WHEN TIPO='PROD1_ENT'  THEN ISNULL(QTDE,0) ELSE 0 END),	QTDE_PROD_SAI=SUM(CASE WHEN TIPO='PROD1_SAI'  THEN ISNULL(QTDE,0) ELSE 0 END),
		QTDE_AJUSTE=SUM(CASE WHEN TIPO='AJUSTE'  THEN ISNULL(QTDE,0) ELSE 0 END),	
		QTDE_LJ_ENT=SUM(CASE WHEN TIPO='LJ_ENTRADA' THEN ISNULL(QTDE,0) ELSE 0 END),
		QTDE_LJ_SAI=SUM(CASE WHEN TIPO='LJ_SAIDA'  THEN ISNULL(QTDE,0) ELSE 0 END),	QTDE_VENDA=	SUM(CASE WHEN TIPO='LJ_VENDA'  THEN ISNULL(QTDE,0) ELSE 0 END),
		QTDE_TROCA=SUM(CASE WHEN TIPO='LJ_TROCA' THEN ISNULL(QTDE,0) ELSE 0 END),		ULTIMO_CUSTO1=0,
		ULTIMO_CUSTO2=0,
		ULTIMO_CUSTO3=0,
		ULTIMO_CUSTO4=0,
		DATA_CUSTO_MEDIO=@SALDO,
		DATA_ULT_CUSTO=MAX(DATA_ULT_CUSTO),
		ULTIMA_SAIDA=MAX(ULTIMA_SAIDA),
		ULTIMA_ENTRADA=MAX(ULTIMA_ENTRADA),
		DATA_CUSTO_MEDIO_INIC=@ULTIMO_SALDO,
		CUSTO_MEDIO1_INIC=MAX(CUSTO_MEDIO1_INIC),
		CUSTO_MEDIO2_INIC=MAX(CUSTO_MEDIO2_INIC),
		CUSTO_MEDIO3_INIC=MAX(CUSTO_MEDIO3_INIC),
		CUSTO_MEDIO4_INIC=MAX(CUSTO_MEDIO4_INIC),
		GERACAO=GETDATE(), MATRIZ_FISCAL=CASE WHEN @UTILIZA_MATRIZ_FISCAL = 'S' THEN 1 ELSE 0 END
FROM #MOVIMENTACOES_ESTOQUE_PA
GROUP BY FILIAL,PRODUTO,COR_PRODUTO

RETURN

