USE [CAEDU]
GO
/****** Object:  StoredProcedure [dbo].[CSM_CAE_FATURAMENTO_ESPELHO]    Script Date: 07/11/2018 10:18:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[CSM_CAE_FATURAMENTO_ESPELHO] 
AS 

DECLARE @PRODUTO VARCHAR(12), @NOME_CLIFOR VARCHAR(25), @COD_CLIFOR VARCHAR(6), @TIPO_FATURAMENTO VARCHAR(25), @SERIE_NF VARCHAR(3), 
@ITEM INT, @ITEM_CHAR4 CHAR(4), @CFOP VARCHAR(4), @RATEIO_CENTRO_CUSTO VARCHAR(15), @RATEIO_FILIAL VARCHAR(15), @ID_EXCECAO INT, 
@NATUREZA_SAIDA VARCHAR(6), @VALOR NUMERIC(18,2), @QTDE INT, @FILIAL VARCHAR(25), @CONDICAO_PGTO VARCHAR(3), @TRANSPORTADORA VARCHAR(25),
@ERRMSG VARCHAR(300), @VALOR_ITEM NUMERIC(18,2), @QTDE_ITEM INT, @UNIDADE VARCHAR(6), @DESC_PRODUTO VARCHAR(40), @TAB_PRECO VARCHAR(6),
@UF_TERCEIRO VARCHAR(2), @UF_FILIAL VARCHAR(2), @ID_EXCECAO_IMPOSTO INT, @COD_FILIAL VARCHAR(6), @PRECO NUMERIC(18,2), @CONTA VARCHAR(20),
@NF_SAIDA VARCHAR(10), @ANOMES CHAR(4), @CHAVE_NFE VARCHAR(44), @CNPJ VARCHAR(19), @CIDADE VARCHAR(35), @REPRESENTANTE VARCHAR(25), 
@CAIXA VARCHAR(8), @ROMANEIO VARCHAR(8), @ITEM_CHAR6 VARCHAR(6), @COR_PRODUTO VARCHAR(10), @TOT_VALOR NUMERIC(18,2), 
@COD_FILIAL_ESTOQUE VARCHAR(8), @OBS VARCHAR(500), @GERENTE VARCHAR(25), @COMISSAO NUMERIC(10,2), @COMISSAO_GERENTE NUMERIC(10,2), 
@peso numeric(14,3), @MATRIZ_FISCAL CHAR(25), @NF_ENTRADA VARCHAR(15), @SERIE_NF_ENTRADA VARCHAR(6), @FILIAL_ENTRADA VARCHAR(25), 
@NOME_CLIFOR_FORNEC VARCHAR(25), @fator_preco numeric(7,2), @tipo_frete varchar(2), @tipo_volume varchar(20), @VOLUMES INT, 
@CTB_TIPO_OPERACAO INT

/*VARIAVEL QUE CONTEM O VALOR DO PARAMETRO UTC VALOR = 3 PARA HORARIO NORMAL E VALOR = 4 PARA HORARIO DE VERAO */
DECLARE @UTC_FUSO INT 
SELECT @UTC_FUSO = CAST(VALOR_ATUAL AS INT) FROM PARAMETROS 
WHERE PARAMETRO = 'PALMA_UTC_NFE_CAEDU'

--vARIAVEIS PARA APAGAR
--DECLARE @PEDIDO VARCHAR(22)

-- Questionar sobre o calculo do peso

set @TIPO_FRETE = '02'
set @tipo_volume = 'CAIXA' -- pegar da entrada

SET @CONTA = ''

CREATE TABLE #TEMP(CHAVE_NF char(44))                      

DECLARE XCUR_ENT CURSOR FOR 
SELECT nf_entrada, nome_clifor, serie_nf_entrada, filial_entrada from CSM_TRANSITO_NOTAS where nf_saida is null

OPEN XCUR_ENT 
FETCH NEXT FROM XCUR_ENT INTO @NF_ENTRADA, @NOME_CLIFOR_FORNEC, @SERIE_NF_ENTRADA, @FILIAL_ENTRADA

WHILE @@FETCH_STATUS = 0                           
BEGIN 

	SET @ERRMSG = ''             

	delete from #TEMP

	BEGIN TRANSACTION

	set @NOME_CLIFOR = null
	set @FILIAL = @FILIAL_ENTRADA
	set @MATRIZ_FISCAL = @FILIAL_ENTRADA

	set @fator_preco = case when @NOME_CLIFOR_FORNEC = 'KOMPORT' then 1 else 0.75 end
	

	-- SETANDO INFORMACOES BASICAS DO FATURAMENTO 
	IF @FILIAL_ENTRADA = 'CD NAVEGANTES' -- setar as filials aqui
		SET @NOME_CLIFOR = 'CD BARRA VELHA'

	if @NOME_CLIFOR is not null
	begin
		SELECT @VOLUMES = EMBALAGENS, @TRANSPORTADORA = TRANSPORTADORA_A_PAGAR, @OBS = OBS FROM ENTRADAS where nf_entrada = @NF_ENTRADA and nome_clifor = @NOME_CLIFOR_FORNEC and serie_nf_entrada = @SERIE_NF_ENTRADA

		if isnull(@VOLUMES,0) = 0
			set @VOLUMES = 1

		SELECT @COD_FILIAL = COD_CLIFOR, @UF_FILIAL = UF, @CNPJ = CGC_CPF, @CIDADE = CIDADE FROM CADASTRO_CLI_FOR WHERE NOME_CLIFOR = @FILIAL 

		SELECT @COD_CLIFOR = B.COD_CLIFOR, @UF_TERCEIRO = B.UF FROM CADASTRO_CLI_FOR B WHERE B.NOME_CLIFOR  = @NOME_CLIFOR 

		SELECT @TIPO_FATURAMENTO = 'TRANSFERENCIA'
		SELECT @SERIE_NF = '02' --'02' 
		SELECT @NATUREZA_SAIDA = '120.01' 
		SELECT @CTB_TIPO_OPERACAO = 120
		SELECT @TAB_PRECO = '01' 
		SELECT @RATEIO_FILIAL = '000109'  -- pegar o do CD novo
		SELECT @RATEIO_CENTRO_CUSTO = '005' -- ainda a ser definido


		SELECT @CFOP =  '5152' 

		--SELECT @OBS = '' -- Ver a regra
	
		SELECT @CONDICAO_PGTO = '001' -- ver a regra

		-- TOTALIZANDO AS RESERVAS PARA INSERIR NA CAPA DA NF

		set	@REPRESENTANTE = 'CD NAVEGANTES'  
		set	@GERENTE = 'CD NAVEGANTES' 
		set @COMISSAO = 0
		set @COMISSAO_GERENTE = 0
		set @VALOR = 0

		select @QTDE = sum(TOTAL_ENTRADAS)--, --@VALOR = sum(round((TOTAL_ENTRADAS * case when p.VARIA_CUSTO_COR = 0 then pc.PRECO1 else ppc.PRECO1 end) * @fator_preco,2))
		from entradas_produto a
		left join produtos p on a.produto = p.produto
		left join produtos_precos pc on a.produto = pc.produto and pc.CODIGO_TAB_PRECO = @TAB_PRECO
		left join PRODUTOS_PRECO_COR ppc on a.produto = ppc.produto and a.cor_produto = ppc.cor_produto and ppc.CODIGO_TAB_PRECO = @TAB_PRECO
		where nf_entrada = @NF_ENTRADA and nome_clifor = @NOME_CLIFOR_FORNEC and serie_nf_entrada = @SERIE_NF_ENTRADA

		-- INSERE A CAPA 

		BEGIN TRY
			SELECT @peso = sum
			((a.EN1*ppt.c1) +
			(a.EN2*ppt.c2) +
			(a.EN3*ppt.c3) +
			(a.EN4*ppt.c4) +
			(a.EN5*ppt.c5) +
			(a.EN6*ppt.c6) +
			(a.EN7*ppt.c7) +
			(a.EN8*ppt.c8) +
			(a.EN9*ppt.c9) +
			(a.EN10*ppt.c10) +
			(a.EN11*ppt.c11) +
			(a.EN12*ppt.c12) +
			(a.EN13*ppt.c13) +
			(a.EN14*ppt.c14) +
			(a.EN15*ppt.c15) +
			(a.EN16*ppt.c16) +
			(a.EN17*ppt.c17) +
			(a.EN18*ppt.c18) +
			(a.EN19*ppt.c19) +
			(a.EN20*ppt.c20) +
			(a.EN21*ppt.c21) +
			(a.EN22*ppt.c22) +
			(a.EN23*ppt.c23) +
			(a.EN24*ppt.c24) +
			(a.EN25*ppt.c25) +
			(a.EN26*ppt.c26) +
			(a.EN27*ppt.c27) +
			(a.EN28*ppt.c28) +
			(a.EN29*ppt.c29) +
			(a.EN30*ppt.c30) +
			(a.EN31*ppt.c31) +
			(a.EN32*ppt.c32) +
			(a.EN33*ppt.c33) +
			(a.EN34*ppt.c34) +
			(a.EN35*ppt.c35) +
			(a.EN36*ppt.C36) +
			(a.EN37*ppt.c37) +
			(a.EN38*ppt.c38) +
			(a.EN39*ppt.c39) +
			(a.EN40*ppt.c40) +		
			(a.EN41*ppt.c41) +
			(a.EN42*ppt.c42) +
			(a.EN43*ppt.c43) +
			(a.EN44*ppt.c44) +
			(a.EN45*ppt.c45) +
			(a.EN46*ppt.c46) +
			(a.EN47*ppt.c47) +
			(a.EN48*ppt.c48))
			FROM entradas_produto A
			left join PRODUTOS_PESO_TAMANHO ppt on a.produto = ppt.PRODUTO
			where nf_entrada = @NF_ENTRADA and nome_clifor = @NOME_CLIFOR_FORNEC and serie_nf_entrada = @SERIE_NF_ENTRADA


			INSERT INTO FATURAMENTO(FILIAL,NF_SAIDA,SERIE_NF,CODIGO_LOCAL_ENTREGA,FILIAL_FATURADA,TIPO_FATURAMENTO,LANCAMENTO,NOME_CLIFOR
			,CONDICAO_PGTO,NATUREZA_SAIDA,TRANSPORTADORA,TRANSP_REDESPACHO,TIPO_FRETE,COD_TRANSACAO,EMISSAO,DATA_SAIDA,FRETE,SEGURO,DESCONTO
			,DESCONTO_COND_PGTO,ENCARGO,ICMS,IPI_VALOR,VALOR_TOTAL,QTDE_TOTAL,NF_FATURA,FATURA,NOTA_IMPRESSA,ACERTO_CONTAS_P_R,TABELA_FILHA
			,OBS,PESO_LIQUIDO,PESO_BRUTO,VOLUMES,TIPO_VOLUME,CONFERIDO,CONFERIDO_POR,ENTREGA_CIF,IRRF,IRRF_RET_FONTE,NOTA_CANCELADA,DEVOLUCAO
			,REPRESENTANTE,COMISSAO,PORCENTAGEM_ACERTO,GERENTE,COMISSAO_GERENTE,DESCONTO_BRUTO,TIMESTAMP,CONFERENCIA,MARCA_EXPORTACAO
			,ATUALIZACAO_EXPORTAR,DATA_EXPORTACAO,ICMS_BASE,STATUS_TRANSITO,DATA_CANCELAMENTO,VALOR_CANCELADO,QTDE_CANCELADA,MOEDA
			,CAMBIO_NA_DATA,COBRAR_MOEDA_PADRAO,DATA_FATURAMENTO_RELATIVO,RECARGO,DATA_PARA_TRANSFERENCIA,NOME_CLIFOR_ENTREGA,TABELA_PRECO_FRETE
			,VALOR_FRETE,NOME_CLIFOR_COBRANCA,VALOR_ADICIONAL,IPI_ADICIONAL,OBS_TRANSPORTE,AGRUPAMENTO_ITENS,COMISSAO_VALOR,COMISSAO_VALOR_GERENTE
			,CTB_ITEM,CTB_LANCAMENTO,DESCONTO_BRUTO_1,DESCONTO_BRUTO_2,DESCONTO_BRUTO_3,DESCONTO_BRUTO_4,DESCONTO_SOBRE_1,DESCONTO_SOBRE_2
			,DESCONTO_SOBRE_3,DESCONTO_SOBRE_4,EMPRESA,FATURA_FILIAL,FATURA_NUMERO,FATURA_SERIE,ICMS_ISENTO,ICMS_OUTROS,MPADRAO_DESCONTO
			,MPADRAO_DESCONTO_COND_PGTO,MPADRAO_ENCARGO,MPADRAO_FRETE,MPADRAO_IMPOSTO_AGREGAR,MPADRAO_SEGURO,MPADRAO_VALOR_SUB_ITENS,MPADRAO_VALOR_TOTAL
			,MULTI_DESCONTO_ACUMULAR,NUMERO_CONFERENCIA,PORC_DESCONTO,PORC_DESCONTO_BRUTO,PORC_DESCONTO_COND_PGTO,PORC_DESCONTO_DIGITADO,PORC_ENCARGO
			,RATEIO_CENTRO_CUSTO,RATEIO_FILIAL,VALOR_DIFERENCA_GUIA_FATURA,VALOR_IMPOSTO_AGREGAR,VALOR_SUB_ITENS,IMPRIMIR_ENDERECO_COBRANCA
			,INDICA_CONSUMIDOR_FINAL,BANCO,AGENCIA,RESPONSAVEL_TRANSPORTE,NOTA_COMPLEMENTAR,NUMERO_CONHECIMENTO_RELACIONADO,PORC_DESCONTO_SEFAZ
			,DESCONTO_SEFAZ,MPADRAO_DESCONTO_SEFAZ,ID_CAIXA_PGTO,NRO_DE,DATA_DE,NATUREZA_EXPORTACAO,NRO_RE,DATA_RE,NRO_CONHECIMENTO_EMBARQUE
			,DATA_CONHECIMENTO,TIPO_CONHECIMENTO,COD_PAIS,NRO_COMPROVANTE_EXPORTACAO,DATA_COMPROVANTE_EXPORTACAO,DATA_AVERBACAO,NF_EMITIDA_EXPORTADOR
			,COD_RELACIONAMENTO_RE_NF,NF_E_NUMERO,NF_E_DATA_EMISSAO,NF_E_COD_VERIFICACAO,NF_E_DATA_QUITACAO_GUIA,NF_E_GERACAO,SEQUENCIAL_UNICO
			,DATA_GERACAO_NSU,CODIGO_CLIENTE_VAREJO,PROTOCOLO_AUTORIZACAO_NFE,COD_MOTIVO_CANC,PIN,CHAVE_NFE,PROTOCOLO_CANCELAMENTO_NFE
			,DATA_AUTORIZACAO_NFE,GERAR_AUTOMATICO,STATUS_NFE,LOG_STATUS_NFE,MOTIVO_CANCELAMENTO_NFE,PRIORIZACAO,TIPO_EMISSAO_NFE,FIN_EMISSAO_NFE
			,REGISTRO_DPEC,DATA_REGISTRO_DPEC,ITEM_NFE,OBS_INTERESSE_FISCO,DATA_CONTINGENCIA,JUSTIFICATIVA_CONTINGENCIA,UF_EMBARQUE_EXPORTACAO
			,LOCAL_EMBARQUE_EXPORTACAO,CFOP_CANCELAMENTO,VALOR_DESPACHO,VALOR_IMPOSTO_INCIDENCIA,MPADRAO_VALOR_IMPOSTO_INCIDENCIA,VEICULO_PLACA
			,UF_PLACA_VEICULO,MARCA_VOLUMES,NUMERACAO_VOLUMES,INFORMACAO_COMPLEMENTAR, INFO_PGTO)
			SELECT @FILIAL
			,'XYXZ' --@NF_SAIDA AS NF_SAIDA                      
			,@SERIE_NF AS SERIE_NF                      
			,NULL AS CODIGO_LOCAL_ENTREGA                      
			,NULL AS FILIAL_FATURADA                      
			,@TIPO_FATURAMENTO AS TIPO_FATURAMENTO                      
			,NULL AS LANCAMENTO                      
			,@NOME_CLIFOR AS NOME_CLIFOR                      
			,@CONDICAO_PGTO AS CONDICAO_PGTO     
			,@NATUREZA_SAIDA AS NATUREZA_SAIDA                      
			,@TRANSPORTADORA AS TRANSPORTADORA                 
			,@TRANSPORTADORA AS TRANSP_REDESPACHO              
			,@tipo_frete AS TIPO_FRETE                      
			,'FATURAMENTO_022' AS COD_TRANSACAO                      
			,CAST(GETDATE() AS DATE) AS EMISSAO                      
			,CAST(GETDATE() AS DATE) AS DATA_SAIDA                      
			,0.00 AS FRETE                      
			,0.00 AS SEGURO                      
			,0.00 AS DESCONTO                      
			,0.00 AS DESCONTO_COND_PGTO                      
			,0.00 AS ENCARGO                      
			,0.00 AS ICMS                      
			,0.00 AS IPI_VALOR                      
			,@VALOR AS VALOR_TOTAL                      
			,@QTDE AS QTDE_TOTAL                      
			,0 AS NF_FATURA                      
			,NULL AS FATURA                      
			,0 AS NOTA_IMPRESSA                      
			,0 AS ACERTO_CONTAS_P_R                      
			,'FATURAMENTO_PROD' AS TABELA_FILHA                      
			,@OBS 
			,isnull(@peso,0) AS PESO_LIQUIDO                      
			,isnull(@peso,0) AS PESO_BRUTO                      
			,@VOLUMES AS VOLUMES                      
			,@TIPO_VOLUME AS TIPO_VOLUME                      
			, 0 AS CONFERIDO                      
			,'SA' CONFERIDO_POR                      
			,1 AS ENTREGA_CIF                      
			,0 AS IRRF                      
			,0 AS IRRF_RET_FONTE                      
			,0 AS NOTA_CANCELADA                      
			,0 AS DEVOLUCAO                      
			,@REPRESENTANTE AS REPRESENTANTE                      
			,@COMISSAO AS COMISSAO                      
			,100 AS PORCENTAGEM_ACERTO                      
			,@GERENTE AS GERENTE                      
			,@COMISSAO_GERENTE AS COMISSAO_GERENTE                      
			,0 AS DESCONTO_BRUTO                      
			,NULL AS TIMESTAMP                      
			,NULL AS CONFERENCIA                      
			,NULL AS MARCA_EXPORTACAO                      
			,NULL AS ATUALIZACAO_EXPORTAR                      
			,NULL AS DATA_EXPORTACAO                      
			,0 AS ICMS_BASE                      
			,NULL AS STATUS_TRANSITO                      
			,NULL AS DATA_CANCELAMENTO                      
			,0 AS VALOR_CANCELADO                      
			,0 AS QTDE_CANCELADA                      
			,'R$' AS MOEDA                      
			,1 AS CAMBIO_NA_DATA                      
			,1 AS COBRAR_MOEDA_PADRAO                      
			,NULL AS DATA_FATURAMENTO_RELATIVO                      
			,0 AS RECARGO                      
			,GETDATE() AS DATA_PARA_TRANSFERENCIA                      
			,@NOME_CLIFOR AS NOME_CLIFOR_ENTREGA                      
			,NULL AS TABELA_PRECO_FRETE                      
			,0 AS VALOR_FRETE                      
			,NULL AS NOME_CLIFOR_COBRANCA                      
			,NULL AS VALOR_ADICIONAL                      
			,NULL AS IPI_ADICIONAL     
			,NULL AS OBS_TRANSPORTE                      
			,0 AS AGRUPAMENTO_ITENS                      
			,ROUND(@VALOR * (@COMISSAO/100),2) AS COMISSAO_VALOR                      
			,ROUND(@VALOR * (@COMISSAO_GERENTE/100),2) AS COMISSAO_VALOR_GERENTE                      
			,NULL AS CTB_ITEM                      
			,NULL AS CTB_LANCAMENTO                      
			,0 AS DESCONTO_BRUTO_1                      
			,0 AS DESCONTO_BRUTO_2                      
			,0 AS DESCONTO_BRUTO_3                      
			,0 AS DESCONTO_BRUTO_4                      
			,0 AS DESCONTO_SOBRE_1                      
			,0 AS DESCONTO_SOBRE_2                      
			,0 AS DESCONTO_SOBRE_3                      
			,0 AS DESCONTO_SOBRE_4                      
			,1 AS EMPRESA                      
			,NULL AS FATURA_FILIAL                      
			,NULL AS FATURA_NUMERO                      
			,NULL AS FATURA_SERIE                      
			,0 AS ICMS_ISENTO                      
			,0 AS ICMS_OUTROS                      
			,0 AS MPADRAO_DESCONTO                      
			,0 AS MPADRAO_DESCONTO_COND_PGTO                      
			,0 AS MPADRAO_ENCARGO                      
			,0 AS MPADRAO_FRETE                      
			,0 AS MPADRAO_IMPOSTO_AGREGAR                      
			,0 AS MPADRAO_SEGURO                      
			,@VALOR AS MPADRAO_VALOR_SUB_ITENS                      
			,@VALOR AS MPADRAO_VALOR_TOTAL                    
			,0 AS MULTI_DESCONTO_ACUMULAR                      
			,NULL AS NUMERO_CONFERENCIA                      
			,0 AS PORC_DESCONTO                      
			,0 AS PORC_DESCONTO_BRUTO                      
			,0 AS PORC_DESCONTO_COND_PGTO                      
			,0 AS PORC_DESCONTO_DIGITADO                      
			,0 AS PORC_ENCARGO                      
			,@RATEIO_CENTRO_CUSTO AS RATEIO_CENTRO_CUSTO                      
			,@RATEIO_FILIAL AS RATEIO_FILIAL                      
			,0 AS VALOR_DIFERENCA_GUIA_FATURA                      
			,0 AS VALOR_IMPOSTO_AGREGAR                      
			,@VALOR AS VALOR_SUB_ITENS                      
			,0 AS IMPRIMIR_ENDERECO_COBRANCA                      
			,0 AS INDICA_CONSUMIDOR_FINAL                      
			,NULL AS BANCO                      
			,NULL AS AGENCIA                      
			,NULL AS RESPONSAVEL_TRANSPORTE                      
			,0 AS NOTA_COMPLEMENTAR                      
			,NULL AS NUMERO_CONHECIMENTO_RELACIONADO                      
			,0 AS PORC_DESCONTO_SEFAZ                      
			,0 AS DESCONTO_SEFAZ                      
			,0 AS MPADRAO_DESCONTO_SEFAZ                      
			,NULL AS ID_CAIXA_PGTO                      
			,NULL AS NRO_DE                      
			,NULL AS DATA_DE                      
			,NULL AS NATUREZA_EXPORTACAO                      
			,NULL AS NRO_RE                      
			,NULL AS DATA_RE                      
			,NULL AS NRO_CONHECIMENTO_EMBARQUE                      
			,NULL AS DATA_CONHECIMENTO                      
			,NULL AS TIPO_CONHECIMENTO                      
			,NULL AS COD_PAIS                      
			,NULL AS NRO_COMPROVANTE_EXPORTACAO                      
			,NULL AS DATA_COMPROVANTE_EXPORTACAO                      
			,NULL AS DATA_AVERBACAO                      
			,NULL AS NF_EMITIDA_EXPORTADOR                      
			,NULL AS COD_RELACIONAMENTO_RE_NF                      
			,NULL AS NF_E_NUMERO                      
			,NULL AS NF_E_DATA_EMISSAO                      
			,NULL AS NF_E_COD_VERIFICACAO                      
			,NULL AS NF_E_DATA_QUITACAO_GUIA                      
			,NULL AS NF_E_GERACAO                      
			,NULL AS SEQUENCIAL_UNICO                      
			,NULL AS DATA_GERACAO_NSU                      
			,NULL AS CODIGO_CLIENTE_VAREJO                      
			,NULL AS PROTOCOLO_AUTORIZACAO_NFE                      
			,NULL AS COD_MOTIVO_CANC                      
			,NULL AS PIN                      
			,NULL AS CHAVE_NFE                      
			,NULL AS PROTOCOLO_CANCELAMENTO_NFE                      
			,NULL AS DATA_AUTORIZACAO_NFE                      
			,0 AS GERAR_AUTOMATICO                      
			,1 AS STATUS_NFE                
			,0 AS LOG_STATUS_NFE                      
			,NULL AS MOTIVO_CANCELAMENTO_NFE                      
			,0 AS PRIORIZACAO                      
			,1 AS TIPO_EMISSAO_NFE                      
			,1 AS FIN_EMISSAO_NFE                      
			,0 AS REGISTRO_DPEC                      
			,'19000101' AS DATA_REGISTRO_DPEC                      
			,0 AS ITEM_NFE                      
			,NULL AS OBS_INTERESSE_FISCO                      
			,NULL AS DATA_CONTINGENCIA                      
			,NULL AS JUSTIFICATIVA_CONTINGENCIA                      
			,NULL AS UF_EMBARQUE_EXPORTACAO                      
			,NULL AS LOCAL_EMBARQUE_EXPORTACAO                      
			,NULL AS CFOP_CANCELAMENTO                      
			,0 AS VALOR_DESPACHO                      
			,NULL AS VALOR_IMPOSTO_INCIDENCIA                      
			,NULL AS MPADRAO_VALOR_IMPOSTO_INCIDENCIA                      
			,NULL AS VEICULO_PLACA   
			,NULL AS UF_PLACA_VEICULO                      
			,NULL AS MARCA_VOLUMES                      
			,NULL AS NUMERACAO_VOLUMES                      
			,NULL AS INFORMACAO_COMPLEMENTAR                      
			, '99' as INFO_PGTO
		END TRY 

		BEGIN CATCH 

			SELECT @ERRMSG = 'Erro ao inserir a capa da nota fiscal.' 
			SELECT @ERRMSG = @ERRMSG + CHAR(13)+CHAR(10) + 'Error: ' + CONVERT(VARCHAR(20),isnull(ERROR_NUMBER(),0)) + ' Message: ' +            
			ISNULL(RTRIM(ERROR_MESSAGE()), '') + ' Proc: ' + ISNULL(RTRIM(ERROR_PROCEDURE()), '')            

			GOTO ERROR

		END CATCH 

                   
		            
		BEGIN TRY  
			PRINT 'FATURAMENTO_PROD'                        
            
			INSERT INTO FATURAMENTO_PROD(FILIAL                          
			,NF_SAIDA                          
			,SERIE_NF                          
			,PRODUTO                          
			,COR_PRODUTO                          
			,ITEM                          
			,PEDIDO                          
			,PEDIDO_PRODUTO                          
			,PEDIDO_COR                          
			,ENTREGA                          
			,CAIXA                          
			,IPI                          
			,ICMS                          
			,DESCONTO_ITEM                          
			,QTDE                          
			,PRECO                          
			,VALOR                          
			,PACKS                          
			,MATA_SALDO                          
			,F1                          
			,F2                          
			,F3                          
			,F4                          
			,F5                          
			,F6                          
			,F7                          
			,F8                          
			,F9                          
			,F10                          
			,F11                          
			,F12                          
			,F13                          
			,F14                          
			,F15                          
			,F16
			,F17
			,F18
			,F19
			,F20
			,F21                          
			,F22                          
			,F23                          
			,F24                          
			,F25                          
			,F26                          
			,F27                          
			,F28                          
			,F29                          
			,F30                          
			,F31                          
			,F32                          
			,F33                          
			,F34                          
			,F35                          
			,F36
			,F37
			,F38
			,F39
			,F40
			,F41                          
			,F42                          
			,F43                          
			,F44                          
			,F45                          
			,F46                          
			,F47                          
			,F48  
			,FAIXA                          
			,ORIGEM                          
			,ROMANEIO                          
			,CUSTO_NA_DATA                          
			,MOEDA                          
			,CAMBIO_NA_DATA                          
			,ORIGEM_EMB                          
			,DATA_PARA_TRANSFERENCIA                          
			,CODIGO_LOCAL_ENTREGA                          
			,CODIGO_FISCAL_OPERACAO                          
			,COD_FILIAL_ESTOQUE                          
			,CUSTO_NA_DATA_2                          
			,CUSTO_NA_DATA_3                          
			,CUSTO_NA_DATA_4                          
			,ITEM_IMPRESSAO                          
			,ITEM_IMPRESSAO_FATURA                          
			,ITEM_PEDIDO                          
			,ORDEM_PRODUCAO                          
			,PRECO_2                          
			,PRECO_3                          
			,PRECO_4                          
			,VALOR_DIFERENCA_GUIA_FATURA_ITEM                          
			,DESC_VENDA_CLIENTE                       
			,ID_MODIFICACAO                          
			,LICENCIADO_ROYALTIES                          
			,ID_VENDA_ENTREGA_FUTURA                          
			,TIMESTAMP)                          
			SELECT @FILIAL AS FILIAL                          
			,'XYXZ' AS NF_SAIDA                          
			,@SERIE_NF AS SERIE_NF                          
			,A.PRODUTO                          
			,A.COR_PRODUTO                          
			,RIGHT('000000' + LTRIM(RTRIM(CAST(ROW_NUMBER() OVER(ORDER BY A.PRODUTO ASC, A.COR_PRODUTO ASC) AS VARCHAR(4)))),6) AS ITEM                        
			,NULL AS PEDIDO                          
			,NULL AS PEDIDO_PRODUTO                          
			,NULL AS PEDIDO_COR                          
			,NULL AS ENTREGA                          
			,NULL AS CAIXA                          
			,0 AS IPI                          
			,0 AS ICMS                          
			,0 AS DESCONTO_ITEM                          
			,A.TOTAL_ENTRADAS AS QTDE                          
			,case when @NOME_CLIFOR_FORNEC = 'KOMPORT' then custo1 else (case when p.VARIA_CUSTO_COR = 0 then pc.PRECO1 else ppc.PRECO1 end) * @fator_preco end AS PRECO                          
			,(TOTAL_ENTRADAS * case when @NOME_CLIFOR_FORNEC = 'KOMPORT' then custo1 else case when p.VARIA_CUSTO_COR = 0 then pc.PRECO1 else ppc.PRECO1 end end) * @fator_preco AS VALOR                          
			,NULL AS PACKS                          
			,0 AS MATA_SALDO                          
			,EN1 AS F1                          
			,EN2 AS F2                          
			,EN3 AS F3                          
			,EN4 AS F4                          
			,EN5 AS F5                          
			,EN6 AS F6                          
			,EN7 AS F7                          
			,EN8 AS F8                          
			,EN9 AS F9                          
			,EN10 AS F10                          
			,EN11 AS F11                          
			,EN12 AS F12                          
			,EN13 AS F13                          
			,EN14 AS F14                          
			,EN15 AS F15                          
			,EN16 AS F16                          
			,EN17 AS F17                          
			,EN18 AS F18                          
			,EN19 AS F19                          
			,EN20 AS F20    
			,EN21 AS F21                          
			,EN22 AS F22                          
			,EN23 AS F23                          
			,EN24 AS F24                          
			,EN25 AS F25                          
			,EN26 AS F26                          
			,EN27 AS F27                          
			,EN28 AS F28                          
			,EN29 AS F29                          
			,EN30 AS F30                          
			,EN31 AS F31                          
			,EN32 AS F32                          
			,EN33 AS F33                          
			,EN34 AS F34                          
			,EN35 AS F35                          
			,EN36 AS F36                          
			,EN37 AS F37                          
			,EN38 AS F38                          
			,EN39 AS F39                          
			,EN40 AS F40  
			,EN41 AS F41                          
			,EN42 AS F42                          
			,EN43 AS F43                          
			,EN44 AS F44                          
			,EN45 AS F45                          
			,EN46 AS F46                          
			,EN47 AS F47                          
			,EN48 AS F48  				  				                      
			,1 AS FAIXA                          
			,'O' AS ORIGEM                          
			,NULL AS ROMANEIO                          
			,case when @NOME_CLIFOR_FORNEC = 'KOMPORT' then custo1 else (case when p.VARIA_CUSTO_COR = 0 then pc.PRECO1 else ppc.PRECO1 end) * @fator_preco end AS CUSTO_NA_DATA                          
			--  ,NULL AS TIMESTAMP                          
			,'R$' AS MOEDA                          
			,1 AS CAMBIO_NA_DATA                          
			,'V' AS ORIGEM_EMB                          
			,GETDATE() AS DATA_PARA_TRANSFERENCIA                          
			,NULL AS CODIGO_LOCAL_ENTREGA                          
			,@CFOP AS CODIGO_FISCAL_OPERACAO                          
			,C.COD_FILIAL AS COD_FILIAL_ESTOQUE                          
			,0 AS CUSTO_NA_DATA_2                          
			,0 AS CUSTO_NA_DATA_3                          
			,0 AS CUSTO_NA_DATA_4                          
			,RIGHT('000000' + LTRIM(RTRIM(CAST(ROW_NUMBER() OVER(ORDER BY A.PRODUTO ASC, A.COR_PRODUTO ASC) AS VARCHAR(4)))),4) AS ITEM_IMPRESSAO                          
			,'' AS ITEM_IMPRESSAO_FATURA                          
			,NULL AS ITEM_PEDIDO                       
			,NULL AS ORDEM_PRODUCAO                          
			,0 AS PRECO_2                   
			,0 AS PRECO_3                          
			,0 AS PRECO_4                          
			,0 AS VALOR_DIFERENCA_GUIA_FATURA_ITEM                          
			,NULL AS DESC_VENDA_CLIENTE                          
			,NULL AS ID_MODIFICACAO                          
			,0 AS LICENCIADO_ROYALTIES                          
			,NULL AS ID_VENDA_ENTREGA_FUTURA                          
			,dbo.fx_producao_preco(CAST((case when @NOME_CLIFOR_FORNEC = 'KOMPORT' then custo1 else (case when p.VARIA_CUSTO_COR = 0 then pc.PRECO1 else ppc.PRECO1 end) * @fator_preco end)  AS VARCHAR(12)), 'T')                          
			from entradas_produto a
			left join produtos p on a.produto = p.produto
			left join produtos_precos pc on a.produto = pc.produto and pc.CODIGO_TAB_PRECO = @TAB_PRECO
			left join PRODUTOS_PRECO_COR ppc on a.produto = ppc.produto and a.cor_produto = ppc.cor_produto and ppc.CODIGO_TAB_PRECO = @TAB_PRECO           
			LEFT JOIN ENTRADAS B ON A.NF_ENTRADA = B.NF_ENTRADA AND A.SERIE_NF_ENTRADA = B.SERIE_NF_ENTRADA AND A.NOME_CLIFOR = B.NOME_CLIFOR
			JOIN FILIAIS C ON B.FILIAL = C.FILIAL
			where A.nf_entrada = @NF_ENTRADA and A.nome_clifor = @NOME_CLIFOR_FORNEC and A.serie_nf_entrada = @SERIE_NF_ENTRADA
            
		END TRY                           
            
		BEGIN CATCH                           
            
			SELECT @ERRMSG = @ERRMSG + CHAR(13)+CHAR(10) + 'Error: ' + CONVERT(VARCHAR(20),isnull(ERROR_NUMBER(),0)) + ' Message: ' +                                          
			ISNULL(RTRIM(ERROR_MESSAGE()), '') + ' Proc: ' + ISNULL(RTRIM(ERROR_PROCEDURE()), '')                           
            
			CLOSE XCUR_ENT
			DEALLOCATE XCUR_ENT                           
            
			GOTO ERROR                          
            
		END CATCH                                      
        
		-- Insiro os itens abertos por produto - cor - tamanho    

		begin try
			INSERT INTO FATURAMENTO_ITEM(CLASSIF_FISCAL                          
			,CODIGO_FISCAL_OPERACAO                          
			,CODIGO_ITEM                          
			,COD_TABELA_FILHA                          
			,COMISSAO_ITEM                          
			,COMISSAO_ITEM_GERENTE                          
			,CONTA_CONTABIL                          
			,DESCONTO_ITEM                          
			,DESCRICAO_ITEM                          
			,FAIXA                          
			,FILIAL                          
			,ID_EXCECAO_IMPOSTO                          
			,INDICADOR_CFOP                          
			,ITEM_IMPRESSAO                          
			,MPADRAO_DESCONTO_ITEM                          
			,MPADRAO_PRECO_UNITARIO                          
			,MPADRAO_VALOR_ITEM                          
			,NF_SAIDA                          
			,PESO                          
			,PORCENTAGEM_ITEM_RATEIO                          
			,PRECO_UNITARIO                
			,QTDE_DEVOLVIDA                          
			,QTDE_ITEM                          
			,QTDE_RETORNAR_BENEFICIAMENTO                          
			,SERIE_NF                          
			,SUB_ITEM_TAMANHO                          
			,TRIBUT_ICMS                          
			,TRIBUT_ORIGEM                          
			,UNIDADE                          
			,VALOR_ITEM                          
			,REFERENCIA                          
			,REFERENCIA_ITEM                          
			,REFERENCIA_PEDIDO                          
			,TIMESTAMP                
			,MPADRAO_VALOR_DESCONTOS                          
			,MPADRAO_VALOR_ENCARGOS                          
			,NAO_SOMA_VALOR                          
			,OBS_ITEM                          
			,ITEM_NFE                          
			,MPADRAO_SEGURO_ITEM                          
			,MPADRAO_FRETE_ITEM                          
			,MPADRAO_ENCARGO_ITEM                          
			,RATEIO_FILIAL                       
			,RATEIO_CENTRO_CUSTO                          
			,ORIGEM_ITEM                          
			,VALOR_IMPOSTO_ITEM                          
			,INDICA_PRODUTO_PROCESSO                          
			,CODIGO_FCI                          
			,PRECO_UNITARIO_ORIGINAL           
			,CTB_TIPO_OPERACAO)                          
			SELECT		p.CLASSIF_FISCAL                          
				,@CFOP AS CODIGO_FISCAL_OPERACAO                          
				,rtrim(a.PRODUTO) AS CODIGO_ITEM                          
				,'P' AS COD_TABELA_FILHA                          
				,@comissao AS COMISSAO_ITEM                          
				,@comissao_gerente AS COMISSAO_ITEM_GERENTE                          
				--,@CONTA AS CONTA_CONTABIL      
				,p.conta_contabil                     
				,0 AS DESCONTO_ITEM                          
				,rtrim(isnull(p.DESC_PROD_NF, p.DESC_PRODUTO)) AS DESCRICAO_ITEM                          
				,1 AS FAIXA                          
				,@FILIAL AS FILIAL                          
				,DBO.FX_ID_EXCECAO_IMPOSTO (@CTB_TIPO_OPERACAO, @COD_CLIFOR, P.INDICADOR_CFOP,'S',@FILIAL, @MATRIZ_FISCAL, GETDATE(), '0', @CFOP, @PRODUTO, @NOME_CLIFOR, 'P', @NATUREZA_SAIDA, @COD_FILIAL)                 
				,P.INDICADOR_CFOP AS INDICADOR_CFOP                          
				,RIGHT('000000' + LTRIM(RTRIM(CAST(ROW_NUMBER() OVER(ORDER BY A.PRODUTO ASC) AS VARCHAR(4)))),4)  AS ITEM_IMPRESSAO                          
				,0 AS MPADRAO_DESCONTO_ITEM                          
				,A.PRECO AS MPADRAO_PRECO_UNITARIO                          
				,sum(A.preco * a.qtde) AS MPADRAO_VALOR_ITEM                          
				,'XYXZ' AS NF_SAIDA                          
				,0 AS PESO                          
				,100 * (sum(A.preco * a.qtde)/@TOT_VALOR) AS PORCENTAGEM_ITEM_RATEIO                          
				,A.PRECO AS PRECO_UNITARIO                          
				,0 AS QTDE_DEVOLVIDA                          
				,sum(a.qtde) AS QTDE_ITEM                          
				,0 AS QTDE_RETORNAR_BENEFICIAMENTO               
				,@SERIE_NF AS SERIE_NF                          
				,1 AS SUB_ITEM_TAMANHO                          
				,P.TRIBUT_ICMS AS TRIBUT_ICMS                          
				,p.TRIBUT_ORIGEM                           
				,p.UNIDADE                          
				,sum(A.preco * a.qtde)  AS VALOR_ITEM                          
				,a.produto AS REFERENCIA                          
				,null AS REFERENCIA_ITEM                          
				,NULL AS REFERENCIA_PEDIDO                          
				,DBO.FX_PRODUCAO_PRECO(CAST(A.PRECO AS VARCHAR(12)),'T') AS TIMESTAMP                          
				,0 AS MPADRAO_VALOR_DESCONTOS                          
				,0 AS MPADRAO_VALOR_ENCARGOS                          
				,0 AS NAO_SOMA_VALOR                          
				,NULL AS OBS_ITEM                          
				,'0' AS ITEM_NFE                          
				,0 AS MPADRAO_SEGURO_ITEM                          
				,0 AS MPADRAO_FRETE_ITEM                          
				,0 AS MPADRAO_ENCARGO_ITEM                          
				,@RATEIO_FILIAL AS RATEIO_FILIAL                          
				,@RATEIO_CENTRO_CUSTO AS RATEIO_CENTRO_CUSTO                          
				,'P' AS ORIGEM_ITEM                          
				,0 AS VALOR_IMPOSTO_ITEM                          
				,0 AS INDICA_PRODUTO_PROCESSO                          
				,NULL AS CODIGO_FCI                          
				,A.PRECO AS PRECO_UNITARIO_ORIGINAL                          
				,@CTB_TIPO_OPERACAO AS CTB_TIPO_OPERACAO            
				FROM FATURAMENTO_PROD A                          
				JOIN FATURAMENTO B ON A.NF_SAIDA = B.NF_SAIDA AND A.FILIAL = B.FILIAL AND A.SERIE_NF = B.SERIE_NF
				JOIN FILIAIS C ON B.FILIAL = C.FILIAL
				join produtos p on a.produto = p.produto
				join produto_cores pc on a.produto = pc.produto and a.COR_PRODUTO = pc.COR_PRODUTO
				join PRODUTOS_TAMANHOS pt on p.grade = pt.grade
				WHERE A.NF_SAIDA = 'XYXZ' AND A.SERIE_NF = @SERIE_NF AND A.FILIAL = @FILIAL and a.qtde > 0
				group by p.CLASSIF_FISCAL, a.PRODUTO, p.conta_contabil, P.INDICADOR_CFOP, A.PRECO, P.TRIBUT_ICMS, p.TRIBUT_ORIGEM, p.unidade, rtrim(isnull(p.DESC_PROD_NF, p.DESC_PRODUTO))

		end try
		BEGIN CATCH                           
            
			SELECT @ERRMSG = @ERRMSG + CHAR(13)+CHAR(10) + 'Error: ' + CONVERT(VARCHAR(20),isnull(ERROR_NUMBER(),0)) + ' Message: ' +                                          
			ISNULL(RTRIM(ERROR_MESSAGE()), '') + ' Proc: ' + ISNULL(RTRIM(ERROR_PROCEDURE()), '')                           
            
			CLOSE XCUR_ENT
			DEALLOCATE XCUR_ENT                           
            
			GOTO ERROR                          
            
		END CATCH 

		select @valor = sum(valor_item) from faturamento_item WHERE NF_SAIDA = 'XYXZ'  
		
		update a set
			a.item_impressao = b.item_impressao
		from faturamento_prod a
		join faturamento_item b on a.nf_saida = b.nf_saida and a.filial = b.filial and a.serie_nf = b.serie_nf and a.produto = b.codigo_item
		where a.nf_saida = 'XYXZ'  
		
		UPDATE FATURAMENTO set
			VALOR_TOTAL = @VALOR, 
			COMISSAO_VALOR = ROUND(@VALOR * (@COMISSAO/100),2),   
			COMISSAO_VALOR_GERENTE = ROUND(@VALOR * (@COMISSAO_GERENTE/100),2) ,
			MPADRAO_VALOR_SUB_ITENS = @VALOR ,
			MPADRAO_VALOR_TOTAL = @VALOR      ,
			VALOR_SUB_ITENS = @VALOR          
		WHERE NF_SAIDA = 'XYXZ'                       

		-- ATUALIZA O NUMERO DA NOTA FISCAL
		
		 
		UPDATE faturamento_sequenciais SET SEQUENCIAL = SEQUENCIAL + 1 WHERE SERIE_NF = @SERIE_NF and filial = @filial

		UPDATE faturamento_sequenciais SET SEQUENCIAL = REPLICATE('0', 9 - LEN(LTRIM(RTRIM(SEQUENCIAL)))) + LTRIM(SEQUENCIAL) WHERE SERIE_NF = @SERIE_NF 
		
		SELECT @NF_SAIDA = SEQUENCIAL FROM faturamento_sequenciais WHERE SERIE_NF = @SERIE_NF and filial = @filial

		UPDATE FATURAMENTO SET NF_SAIDA = @NF_SAIDA WHERE NF_SAIDA = 'XYXZ'                       

		EXEC dbo.LX_GERA_IMPOSTOS_SAIDA @FILIAL, @NF_SAIDA, @SERIE_NF, 1, 0, 1             
                        
		SELECT @ANOMES = RIGHT(CAST(DATEPART(YY,GETDATE()) AS CHAR(4)),2) +                 
		CASE WHEN LEN(CAST(DATEPART(MM,GETDATE()) AS CHAR(2))) = 2                 
		THEN CAST(DATEPART(MM,GETDATE()) AS CHAR(2))                
		ELSE '0' + CAST(DATEPART(MM,GETDATE()) AS CHAR(2)) END                 
                  
		update a set
		a.item_nfe =  b.num 
		from faturamento_item a
		join 
		(
		select ROW_NUMBER() OVER(ORDER BY nf_saida ASC) as num, * from faturamento_item where nf_saida = @NF_SAIDA and serie_nf = @SERIE_NF and filial = @filial
		) b on a.nf_saida = b.nf_saida and a.filial = b.filial and a.serie_nf = b.serie_nf and a.item_impressao = b.item_impressao and a.SUB_ITEM_TAMANHO = b.SUB_ITEM_TAMANHO
		where a. nf_saida = @NF_SAIDA and a.serie_nf = @SERIE_NF and a.filial = @filial
	    
		INSERT INTO #TEMP EXEC DBO.LX_GERA_CHAVE_NFE_GENERICA @NF_SAIDA,@SERIE_NF,@CNPJ,@CIDADE,@UF_FILIAL,@ANOMES,'55',1,'4.00'                   
         
		SELECT @CHAVE_NFE = CHAVE_NF FROM #TEMP                       
                        
		UPDATE FATURAMENTO SET CHAVE_NFE = @CHAVE_NFE, DATA_HORA_EMISSAO = GETDATE(),               
		UTC_DATA_SAIDA = @UTC_FUSO, UTC_EMISSAO = @UTC_FUSO, FIN_EMISSAO_NFE = 1               
		WHERE NF_SAIDA = @NF_SAIDA AND SERIE_NF = @SERIE_NF  and filial = @filial           

		PRINT @NF_SAIDA
		print @SERIE_NF                      

		EXEC LX_CTB_INTEGRAR_FATURAMENTO @FILIAL, @NF_SAIDA, @SERIE_NF

		UPDATE FATURAMENTO_PROD SET ORIGEM = 'E' WHERE FILIAL = @FILIAL AND NF_SAIDA = @NF_SAIDA AND SERIE_NF = @SERIE_NF

		COMMIT TRANSACTION             
	
		update CSM_TRANSITO_NOTAS set NF_SAIDA = @NF_SAIDA, SERIE_NF = @SERIE_NF, FILIAL = @FILIAL, MSG = null 
		WHERE NF_ENTRADA = @NF_ENTRADA AND SERIE_NF_ENTRADA = @SERIE_NF_ENTRADA AND NOME_CLIFOR = @NOME_CLIFOR_FORNEC
	end

	FETCH NEXT FROM XCUR_ENT INTO @NF_ENTRADA, @NOME_CLIFOR_FORNEC, @SERIE_NF_ENTRADA, @FILIAL_ENTRADA
end

close XCUR_ENT
deallocate XCUR_ENT

drop table #TEMP

RETURN                             
                                
ERROR:    
--close XCUR_ENT
--deallocate XCUR_ENT                            
ROLLBACK TRANSACTION                            

update CSM_TRANSITO_NOTAS set MSG = @ERRMSG  WHERE NF_ENTRADA = @NF_ENTRADA AND SERIE_NF_ENTRADA = @SERIE_NF_ENTRADA AND NOME_CLIFOR = @NOME_CLIFOR_FORNEC      
                     
PRINT @ERRMSG

