set nocount on
declare @tabpedidos table (id int identity(1,1) not null primary key, pedido varchar(12) null)
--insert into @tabpedidos
--select b.pedido 
--from VENDAS_PROD_EMBALADO a
--inner join caedu_reserva_automatica b on b.caixa=a.CAIXA
--where a.entrega < '20250101'
--group by b.pedido

insert into @tabpedidos
select b.DISTRIBUICAO 
from VENDAS_PROD_EMBALADO a
inner join caedu_reserva_automatica_pack_wms b on b.caixa=a.CAIXA
where a.entrega < '20250101'
group by b.DISTRIBUICAO

declare @i int, @tot int, @pedido varchar(12)
select @i=min(id), @tot=max(id) from @tabpedidos

while @i <= @tot
begin
	
	print @i

	select @pedido = pedido 
	from @tabpedidos 
	where id = @i

	/* EXCLUI VENDAS_PROD_EMBALADO */
	DELETE VENDAS_PROD_EMBALADO WHERE PEDIDO IN
	--(select venda from caedu_reserva_automatica where pedido = @PEDIDO)
	(select venda from CAEDU_RESERVA_AUTOMATICA_PACK_WMS where pedido = @PEDIDO)

	/* EXCLUI VENDAS_PRODUTO */
	--DELETE VENDAS_PRODUTO WHERE PEDIDO IN
	--(select venda from caedu_reserva_automatica where pedido = @PEDIDO)

	/* EXCLUI FATURAMENTO_CAIXAS */
	--DELETE FATURAMENTO_CAIXAS WHERE CAIXA IN
	--(select CAIXA from caedu_reserva_automatica where pedido = @PEDIDO)
	
	/*Atualiza os pedidos de Venda para status REPROVADO e coloca o motivo na OBS_TRANSPORTE*/
	update v set APROVACAO='R',OBS_TRANSPORTE='DISTRIBUICAO EXCLUIDA PERTENCE AO PEDIDO '+@PEDIDO
	from caedu_reserva_automatica a
	inner join vendas v on v.PEDIDO=a.venda
	where a.pedido = @pedido

	set @i+=1
end
set nocount off