DECLARE 
	@DISTRIBUICAO VARCHAR(8) = '00008335'

BEGIN
	
	DECLARE @ERROFAT BIT
	SET @ERROFAT = 0
	DECLARE @MSG VARCHAR(1000)
	-- Executando a tarefa em transação

	IF NOT EXISTS(SELECT 1 from CAEDU_RESERVA_AUTOMATICA_PACK_WMS 
								where DISTRIBUICAO = @DISTRIBUICAO)
	BEGIN
		SET @ERROFAT = 1
		SET @MSG = 'A DISTRIBUICAO: '+@DISTRIBUICAO+', NAO EXISTE!!!'
		GOTO ERROFAT
	END
	
	/*
	IF EXISTS(SELECT 1
				FROM faturamento_prod
				WHERE caixa IN (SELECT caixa from CAEDU_RESERVA_AUTOMATICA_PACK_WMS 
								where DISTRIBUICAO = @DISTRIBUICAO))
	BEGIN
		SET @ERROFAT = 1
		SET @MSG = 'EXISTEM CAIXAS FATURADAS PARA A DISTRIBUICAO: '+@DISTRIBUICAO+', EXCLUSAO NAO PERMITIDA!!!'
		GOTO ERROFAT
	END
	*/

	/*BEGIN TRANSACTION -- TRANSAÇÃO ABERTA NO LINX*/

	BEGIN TRY

		--DELETE VENDAS 
		--WHERE PEDIDO IN (SELECT VENDA 
		--					FROM CAEDU_RESERVA_AUTOMATICA_PACK_WMS 
		--					WHERE DISTRIBUICAO = @DISTRIBUICAO) 

		--DELETE VENDAS 
		--WHERE PEDIDO IN (SELECT VENDA 
		--					FROM CAEDU_RESERVA_AUTOMATICA_PACK_WMS 
		--					WHERE DISTRIBUICAO = @DISTRIBUICAO) 


		DELETE FROM FATURAMENTO_CAIXAS
		WHERE CAIXA IN (SELECT CAIXA 
							FROM CAEDU_RESERVA_AUTOMATICA_PACK_WMS 
							WHERE DISTRIBUICAO = @DISTRIBUICAO) 
		AND CAIXA NOT IN (SELECT CAIXA FROM FATURAMENTO_PROD)

		DELETE FROM CAEDU_RESERVA_AUTOMATICA_WMS 
		WHERE DISTRIBUICAO = @DISTRIBUICAO 

		DELETE
		FROM VENDAS_PROD_EMBALADO
		WHERE CAIXA IN (
		SELECT CAIXA FROM 
			CAEDU_RESERVA_AUTOMATICA_PACK_WMS 
			WHERE DISTRIBUICAO = @DISTRIBUICAO) 


		DELETE CAEDU_RESERVA_AUTOMATICA_PACK_WMS 
		WHERE DISTRIBUICAO = @DISTRIBUICAO

		/*
		exclusao da distribuicao nas tabelas da PDA 
		*/

		DELETE 
		FROM PDA_WMS_TB_DISTRIBUICAO 
		WHERE DISTRIBUICAO = @DISTRIBUICAO


		DELETE 
		FROM PDA_WMS_TB_RESERVA_DISTRIBUICAO 
		WHERE DISTRIBUICAO = @DISTRIBUICAO


		DELETE 
		FROM PDA_WMS_STATUS_DISTRIBUICAO 
		WHERE DISTRIBUICAO = @DISTRIBUICAO


	END TRY

	BEGIN CATCH

		 SET @MSG = 'ERRO NA TRANSAÇÃO: '+ERROR_MESSAGE()
		 RAISERROR(@MSG, 16, 1)
		 /*ROLLBACK TRAN -- TRANSAÇÃO ABERTA NO LINX*/

	END CATCH


	ERROFAT:
	IF @ERROFAT = 1
	BEGIN
		RAISERROR(@MSG, 16, 1)
	END

END

