USE [CAEDU]
GO
/****** Object:  StoredProcedure [dbo].[LX_CAEDU_SELECIONA_COMBO_MODELAGEM]    Script Date: 18/05/2017 17:17:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[LX_CAEDU_SELECIONA_COMBO_MODELAGEM]

	@GRIFFE  VARCHAR(25) = NULL,
	@LINHA VARCHAR(25) = NULL,
	@GRUPO_PRODUTO VARCHAR(25) = NULL,
	@SUBGRUPO_PRODUTO VARCHAR(25) = NULL
AS
BEGIN

	IF RTRIM(LTRIM(ISNULL(@GRIFFE,''))) = ''
	BEGIN
		SET @GRIFFE = NULL
	END

	IF RTRIM(LTRIM(ISNULL(@LINHA,''))) = ''
	BEGIN
		SET @LINHA = NULL
	END

	IF RTRIM(LTRIM(ISNULL(@GRUPO_PRODUTO,''))) = ''
	BEGIN
		SET @GRUPO_PRODUTO = NULL
	END

	IF RTRIM(LTRIM(ISNULL(@SUBGRUPO_PRODUTO,''))) = ''
	BEGIN
		SET @SUBGRUPO_PRODUTO = NULL
	END

	SELECT 
		substring(rtrim(ltrim(nm_tabela)),1,100) as nm_tabela, 
		id_modelagem 
	FROM 
		tb_modelagem a
	where 
		a.ativo = 1 
		and a.GRIFFE = ISNULL(@GRIFFE,a.GRIFFE)
		and a.LINHA = ISNULL(@LINHA,a.LINHA)
		and a.grupo_produto = ISNULL(@GRUPO_PRODUTO,a.grupo_produto)
		and a.subgrupo_produto = ISNULL(@SUBGRUPO_PRODUTO,a.subgrupo_produto)
	ORDER BY 
		ordem

END

F_EXECUTE("exec LX_CAEDU_SELECIONA_COMBO_MODELAGEM @GRIFFE = ?V_PRODUTOS_00.GRIFFE","V_CBOMOD01")