USE [CAEDU]
GO
/****** Object:  StoredProcedure [dbo].[LX_CAEDU_ENTRADAS_CABIDES]    Script Date: 26/07/2018 09:33:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[LX_CAEDU_ENTRADAS_CABIDES]
AS
begin

	
	SET NOCOUNT ON

	DECLARE @FILA_NFE INT
	SELECT @FILA_NFE = case VALOR_ATUAL when 1 then 1 else -1 end
	FROM PARAMETROS WHERE PARAMETRO = 'MENSAGERIA_ENTRADA_CABIDE'
	
	DECLARE @ERRMSG varchar(400)

	DECLARE @NF_ENTRADA varchar(15), 
			@SERIE_NF_ENTRADA varchar(6), 
			@NOME_CLIFOR varchar(25)
	DECLARE @CABILOG_NATUREZA_ENTRADA CHAR(10)

	IF OBJECT_ID('TempDB.dbo.#ENTRADAS_CABILOG') IS NOT NULL
	BEGIN
		DROP TABLE #ENTRADAS_CABILOG
	END 

	IF OBJECT_ID('TempDB.dbo.#ENTRADAS_ITEM_CABILOG') IS NOT NULL
	BEGIN
		DROP TABLE #ENTRADAS_ITEM_CABILOG
	END 

	SELECT @CABILOG_NATUREZA_ENTRADA	= VALOR_ATUAL FROM PARAMETROS WHERE PARAMETRO = 'CABILOG_NATUREZA_ENTRADA'

	SELECT	A.FILIAL AS NOME_CLIFOR,C.NF_CABIDE AS NF_ENTRADA,A.NOME_CLIFOR AS FILIAL,'ENTRADAS_109' AS COD_TRANSACAO,
			@CABILOG_NATUREZA_ENTRADA AS NATUREZA,A.CONDICAO_PGTO,CONVERT(VARCHAR(10),GETDATE(),112) as RECEBIMENTO,
			A.EMISSAO,A.DESCONTO,A.ENCARGO,0 as NF_PROPRIA_EMITIDA,A.QTDE_TOTAL,
			A.VALOR_TOTAL,'FATURAMENTO_ITEM' as TABELA_FILHA,0 as NF_ENTRADA_PROPRIA,
			0 as FRETE_A_PAGAR,0 as VALOR_FRETE_TRANSPORTADORA,
			A.MOEDA, A.MOEDA as MOEDA_COMPRA, 1 as CAMBIO_NA_DATA,CONVERT(VARCHAR(10),GETDATE(),112) as DATA_DIGITACAO,
			A.PESO_LIQUIDO as PESO ,A.PESO_BRUTO,A.VOLUMES as EMBALAGENS,A.TIPO_VOLUME,
			A.SERIE_NF as SERIE_NF_ENTRADA,A.EMPRESA,
			A.RATEIO_CENTRO_CUSTO,A.RATEIO_FILIAL,A.VALOR_SUB_ITENS,
			'' as ESPECIE_SERIE,A.CHAVE_NFE,CONVERT(char(6),'') AS COD_CLIFOR_SACADO 
	into #ENTRADAS_CABILOG
	FROM FATURAMENTO A
	JOIN CAEDU_FATURAMENTO_CABIDES C ON A.NF_SAIDA = C.NF_CABIDE  AND A.SERIE_NF = C.SERIE_NF AND A.FILIAL = C.FILIAL
	JOIN LOJA_ENTRADAS B ON C.NF_SAIDA = B.NUMERO_NF_TRANSFERENCIA AND A.SERIE_NF = B.SERIE_NF_ENTRADA AND A.FILIAL = B.FILIAL_ORIGEM
	WHERE B.ENTRADA_CONFERIDA = 1 AND C.GERADO_ENTRADA = 0 AND C.GERADO_FATURAMENTO = 1

						
	SELECT	A.CLASSIF_FISCAL, CASE WHEN D.PAIS <> F.PAIS THEN C.CODIGO_FISCAL_EXTERIOR ELSE
			CASE WHEN D.UF <> F.UF THEN C.CODIGO_FISCAL_INTERESTADUAL ELSE C.CODIGO_FISCAL_OPERACAO END END AS CODIGO_FISCAL_OPERACAO , 
			A.CODIGO_ITEM, A.COD_TABELA_FILHA, A.CONTA_CONTABIL, A.DESCRICAO_ITEM, A.FAIXA, 
			DBO.FX_ID_EXCECAO_IMPOSTO(N.CTB_TIPO_OPERACAO,D.CLIFOR,I.INDICADOR_CFOP,'E',G.MATRIZ_FISCAL,F.NOME_CLIFOR,CONVERT(VARCHAR(10),GETDATE(),112),ISNULL(I.TRIBUT_ORIGEM, '0'),
										CASE WHEN D.PAIS <> F.PAIS THEN C.CODIGO_FISCAL_EXTERIOR ELSE
										CASE WHEN D.UF <> F.UF THEN C.CODIGO_FISCAL_INTERESTADUAL ELSE C.CODIGO_FISCAL_OPERACAO END END,
										NULL,B.NOME_CLIFOR,	'I',N.NATUREZA,F.CLIFOR) AS ID_EXCECAO_IMPOSTO,
			A.INDICADOR_CFOP, A.ITEM_IMPRESSAO, E.NF_CABIDE AS NF_ENTRADA, A.FILIAL AS NOME_CLIFOR, A.PESO, A.PORCENTAGEM_ITEM_RATEIO, A.PRECO_UNITARIO, A.QTDE_ITEM, 
			A.SERIE_NF AS SERIE_NF_ENTRADA, A.SUB_ITEM_TAMANHO, A.TRIBUT_ICMS, A.UNIDADE, A.VALOR_ITEM, A.RATEIO_FILIAL, A.RATEIO_CENTRO_CUSTO , A.PORCENTAGEM_ITEM_RATEIO 	AS 	PORC_ITEM_RATEIO_FRETE,
			A.ITEM_NFE, A.ORIGEM_ITEM , A.PRECO_UNITARIO_ORIGINAL, I.TRIBUT_ORIGEM 	
	into #ENTRADAS_ITEM_CABILOG		
	FROM FATURAMENTO_ITEM A
	JOIN CAEDU_FATURAMENTO_CABIDES E ON A.NF_SAIDA = E.NF_CABIDE  AND A.SERIE_NF = E.SERIE_NF AND A.FILIAL = E.FILIAL
	JOIN LOJA_ENTRADAS B ON E.NF_SAIDA = B.NUMERO_NF_TRANSFERENCIA AND A.SERIE_NF = B.SERIE_NF_ENTRADA AND A.FILIAL = B.FILIAL_ORIGEM
	JOIN CADASTRO_ITEM_FISCAL I on I.CODIGO_ITEM = A.CODIGO_ITEM
	JOIN NATUREZAS_ENTRADAS N ON N.NATUREZA = @CABILOG_NATUREZA_ENTRADA
	JOIN CADASTRO_CLI_FOR D ON D.NOME_CLIFOR = A.FILIAL
	JOIN CADASTRO_CLI_FOR F ON F.NOME_CLIFOR = B.FILIAL
	JOIN FILIAIS G ON F.NOME_CLIFOR = G.FILIAL 
	LEFT JOIN CTB_LX_CARACTERISTICA_CFOP C on C.CTB_TIPO_OPERACAO = N.CTB_TIPO_OPERACAO AND C.INDICADOR_CFOP = A.INDICADOR_CFOP and
				C.INDICADOR_FISCAL_TERCEIRO = D.INDICADOR_FISCAL_TERCEIRO AND C.INATIVO = 0
	WHERE B.ENTRADA_CONFERIDA = 1 AND E.GERADO_ENTRADA = 0 AND E.GERADO_FATURAMENTO = 1
	
	UPDATE A SET A.ESPECIE_SERIE = B.ESPECIE_SERIE, A.COD_CLIFOR_SACADO = C.CLIFOR
	FROM #ENTRADAS_CABILOG A
	JOIN SERIES_NF B ON A.SERIE_NF_ENTRADA COLLATE DATABASE_DEFAULT = B.SERIE_NF COLLATE DATABASE_DEFAULT
	JOIN CADASTRO_CLI_FOR C ON A.NOME_CLIFOR = C.NOME_CLIFOR

	

	BEGIN TRANSACTION ENTRADAS_CABIDES
	
		declare curEntradas cursor for
		SELECT NF_ENTRADA, SERIE_NF_ENTRADA, NOME_CLIFOR FROM #ENTRADAS_CABILOG
		
		open curEntradas
		fetch next from curEntradas into @NF_ENTRADA, @SERIE_NF_ENTRADA, @NOME_CLIFOR
		while (@@fetch_status <> -1)
		begin
			INSERT ENTRADAS (NOME_CLIFOR,NF_ENTRADA,FILIAL,COD_TRANSACAO,NATUREZA,CONDICAO_PGTO,RECEBIMENTO,EMISSAO,DESCONTO,
						ENCARGO,NF_PROPRIA_EMITIDA,QTDE_TOTAL,VALOR_TOTAL,TABELA_FILHA,NF_ENTRADA_PROPRIA,FRETE_A_PAGAR,
						VALOR_FRETE_TRANSPORTADORA,MOEDA,MOEDA_COMPRA,CAMBIO_NA_DATA,DATA_DIGITACAO,PESO,PESO_BRUTO,EMBALAGENS,
						TIPO_VOLUME,SERIE_NF_ENTRADA,EMPRESA,RATEIO_CENTRO_CUSTO,RATEIO_FILIAL,VALOR_SUB_ITENS,ESPECIE_SERIE,CHAVE_NFE,COD_CLIFOR_SACADO,INFO_PGTO,STATUS_NFE)
			SELECT NOME_CLIFOR,NF_ENTRADA,FILIAL,COD_TRANSACAO,NATUREZA,CONDICAO_PGTO,RECEBIMENTO,EMISSAO,DESCONTO,
					ENCARGO,NF_PROPRIA_EMITIDA,QTDE_TOTAL,VALOR_TOTAL,TABELA_FILHA,NF_ENTRADA_PROPRIA,FRETE_A_PAGAR,
					VALOR_FRETE_TRANSPORTADORA,MOEDA,MOEDA_COMPRA,CAMBIO_NA_DATA,DATA_DIGITACAO,PESO,PESO_BRUTO,EMBALAGENS,
					TIPO_VOLUME,SERIE_NF_ENTRADA,EMPRESA,RATEIO_CENTRO_CUSTO,RATEIO_FILIAL,VALOR_SUB_ITENS,ESPECIE_SERIE,CHAVE_NFE,COD_CLIFOR_SACADO,'99' as INFO_PGTO,
					@FILA_NFE AS STATUS_NFE
			FROM #ENTRADAS_CABILOG
			WHERE NF_ENTRADA = @NF_ENTRADA AND SERIE_NF_ENTRADA = @SERIE_NF_ENTRADA AND NOME_CLIFOR = @NOME_CLIFOR 
			IF @@ERROR <> 0 
			begin
				DEALLOCATE curEntradas 
				select @ERRMSG = 'ERRO AO GERAR ENTRADA ('+@NF_ENTRADA+'/'+@SERIE_NF_ENTRADA+'/'+@NOME_CLIFOR +')'
				goto error
			end
			
			
			INSERT ENTRADAS_ITEM (CLASSIF_FISCAL,CODIGO_FISCAL_OPERACAO,CODIGO_ITEM,COD_TABELA_FILHA,CONTA_CONTABIL,DESCRICAO_ITEM,FAIXA,ID_EXCECAO_IMPOSTO,
								INDICADOR_CFOP,ITEM_IMPRESSAO,NF_ENTRADA,NOME_CLIFOR,PESO,PORCENTAGEM_ITEM_RATEIO,PRECO_UNITARIO,QTDE_ITEM,SERIE_NF_ENTRADA,
								SUB_ITEM_TAMANHO,TRIBUT_ICMS,UNIDADE,VALOR_ITEM,RATEIO_FILIAL,RATEIO_CENTRO_CUSTO,PORC_ITEM_RATEIO_FRETE,ITEM_NFE,
								ORIGEM_ITEM,PRECO_UNITARIO_ORIGINAL, TRIBUT_ORIGEM)
			SELECT CLASSIF_FISCAL,CODIGO_FISCAL_OPERACAO,CODIGO_ITEM,COD_TABELA_FILHA,CONTA_CONTABIL,DESCRICAO_ITEM,FAIXA,ID_EXCECAO_IMPOSTO,
					INDICADOR_CFOP,ITEM_IMPRESSAO,NF_ENTRADA,NOME_CLIFOR,PESO,PORCENTAGEM_ITEM_RATEIO,PRECO_UNITARIO,QTDE_ITEM,SERIE_NF_ENTRADA,
					SUB_ITEM_TAMANHO,TRIBUT_ICMS,UNIDADE,VALOR_ITEM,RATEIO_FILIAL,RATEIO_CENTRO_CUSTO,PORC_ITEM_RATEIO_FRETE,ITEM_NFE,
					ORIGEM_ITEM,PRECO_UNITARIO_ORIGINAL, TRIBUT_ORIGEM 
			FROM  #ENTRADAS_ITEM_CABILOG
			WHERE NF_ENTRADA = @NF_ENTRADA AND SERIE_NF_ENTRADA = @SERIE_NF_ENTRADA AND NOME_CLIFOR = @NOME_CLIFOR 
			IF @@ERROR <> 0 
			begin
				DEALLOCATE curEntradas 
				select @ERRMSG = 'ERRO AO GERAR ENTRADA_ITEM ('+@NF_ENTRADA+'/'+@SERIE_NF_ENTRADA+'/'+@NOME_CLIFOR +')'
				goto error
			end
			
			EXEC LX_GERA_IMPOSTOS_ENTRADA @NOME_CLIFOR, @NF_ENTRADA, @SERIE_NF_ENTRADA, 1
			
			UPDATE CAEDU_FATURAMENTO_CABIDES SET GERADO_ENTRADA = 1
			WHERE NF_CABIDE = @NF_ENTRADA AND SERIE_NF = @SERIE_NF_ENTRADA AND FILIAL = @NOME_CLIFOR 
			IF @@ERROR <> 0 
			begin
				DEALLOCATE curEntradas 
				select @ERRMSG = 'ERRO AO ATUALIZAR CAEDU_FATURAMENTO_CABIDES ('+@NF_ENTRADA+'/'+@SERIE_NF_ENTRADA+'/'+@NOME_CLIFOR +')'
				goto error
			end
		
			fetch next from curEntradas into @NF_ENTRADA, @SERIE_NF_ENTRADA, @NOME_CLIFOR
		end
		deallocate curEntradas


	COMMIT TRANSACTION ENTRADAS_CABIDES
	RETURN

	-- rollback
	---------------------------------------------------------------------------------------------------------------------------------------
	ERROR:

	IF @@TRANCOUNT > 0
		ROLLBACK TRANSACTION ENTRADAS_CABIDES
	IF @ERRMSG IS NOT NULL
	BEGIN
		RAISERROR (@ERRMSG,11,1)
	END	

	SET NOCOUNT OFF	
end	