USE [CAEDU]
GO
/****** Object:  StoredProcedure [dbo].[PDA_WMS_SP_SE_NF_RECEBIMENTO_IMPORTADO]    Script Date: 21/01/2019 14:18:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[PDA_WMS_SP_SE_NF_RECEBIMENTO_IMPORTADO]--PDA_WMS_SP_SE_NF_RECEBIMENTO_IMPORTADO @nf='000016553',@DATA_INICIO='20170317',@DATA_FIM='20190317'
 --DECLARE
 @NF VARCHAR(50)='',
 @SERIE VARCHAR(10)  ='',
 @DATA_INICIO DATETIME=NULL,
 @DATA_FIM DATETIME = NULL
 AS
 BEGIN
 
DECLARE @CD_DISTRIBUICAO VARCHAR(25)
	
SELECT  @CD_DISTRIBUICAO = VALOR_ATUAL FROM PARAMETROS 
WHERE PARAMETRO = 'PALMA_CD_ORIGEM_DISTRIB'

 SELECT DISTINCT       NOTA=TB_UNPIVOT.NF_ENTRADA
					  ,SERIE=TB_UNPIVOT.SERIE_NF_ENTRADA
					  ,CHAVE_NFE=CHAVE_NFE					
					  ,PRODUTO= TB_UNPIVOT.PRODUTO					
					  ,COR_PRODUTO=''								 
					  ,DESC_PRODUTO=P.DESC_PRODUTO
					  ,TIPO_PRODUTO=P.TIPO_PRODUTO				
					  ,GRUPO_PRODUTO=P.GRUPO_PRODUTO
					  ,SUBGRUPO_PRODUTO=P.SUBGRUPO_PRODUTO
					  ,LINHA=P.LINHA
					  ,GRIFFE=P.GRIFFE
					  ,DESC_PROD_NF=P.DESC_PROD_NF
					  ,COLECAO=P.COLECAO
					  ,UNIDADE=P.UNIDADE
					  ,PACK=ISNULL(RC.PACK,'-')
					  ,NOME_CLIFOR= TB_UNPIVOT.NOME_CLIFOR
					  ,QTDE_ESPERADA=TB_UNPIVOT.QUANTIDADE					
					  ,DESC_COR_PRODUTO=''
					  ,isnull(RC.QUANTIDADE,0) QUANTIDADE_COLETADA,
					  EMISSAO,
					  ISNULL(S.DESCRICAO,'')STATUS
					  
 FROM 
   ( SELECT     E.NOME_CLIFOR,
                E.NF_SAIDA NF_ENTRADA,
                E.SERIE_NF SERIE_NF_ENTRADA,
                ITEM='',
                PRODUTO,
                COR_PRODUTO='',
				CHAVE_NFE,
				sum(EP.QTDE) QUANTIDADE,
				EMISSAO
       FROM  FATURAMENTO E
	   INNER JOIN  FATURAMENTO_PROD EP ON EP.NF_SAIDA=E.NF_SAIDA AND EP.SERIE_NF=E.SERIE_NF
	 WHERE TIPO_FATURAMENTO='TRANSFERENCIA' AND E.NOME_CLIFOR=@CD_DISTRIBUICAO AND E.FILIAL='CD BARRA VELHA'
        AND (E.NF_SAIDA=@NF OR CHAVE_NFE=@NF or @NF='')
        AND (E.SERIE_NF=@SERIE or @SERIE='')
        AND (E.EMISSAO BETWEEN @DATA_INICIO AND @DATA_FIM  OR @DATA_INICIO IS NULL)  
GROUP BY E.NOME_CLIFOR,
         E.NF_SAIDA ,
         E.SERIE_NF ,
         PRODUTO,
		 CHAVE_NFE,
	     EMISSAO
   ) TB_UNPIVOT
INNER JOIN  PRODUTOS P ON P.PRODUTO= TB_UNPIVOT.PRODUTO
LEFT JOIN (SELECT  PC.PRODUTO,
				   PC.PACK,
				   NF,
				   SERIE,
				   SUM(QUANTIDADE* isnull(QUANTIDADE_PACK,0))  QUANTIDADE
			FROM  PDA_WMS_TB_RECEBIMENTO_IMPORTADO_COLETA PC
			GROUP BY   PC.PRODUTO,
					   PC.PACK,
					   NF,
					   SERIE
		  ) RC ON RC.NF=TB_UNPIVOT.NF_ENTRADA AND SERIE=TB_UNPIVOT.SERIE_NF_ENTRADA AND RC.PRODUTO=TB_UNPIVOT.PRODUTO 
left join PDA_WMS_TB_REC_CD_STATUS_RECEBIMENTO SR ON SR.PEDIDO=rtrim(TB_UNPIVOT.NF_ENTRADA)+' '+ rtrim(TB_UNPIVOT.SERIE_NF_ENTRADA)
LEFT JOIN PDA_WMS_TB_REC_CD_STATUS S ON S.STATUS=SR.STATUS


order by  ISNULL(S.DESCRICAO,'') desc

END





