USE [CAEDU]
GO
/****** Object:  StoredProcedure [dbo].[CAE_LX_TXT_ETIQUETA_FORNECEDOR_INTERNA]    Script Date: 17/07/2018 09:35:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--EXEC CAE_LX_TXT_ETIQUETA_FORNECEDOR '183894', '01'
--EXEC CAE_LX_TXT_ETIQUETA_FORNECEDOR '180155', '01'
ALTER PROCEDURE  [dbo].[CAE_LX_TXT_ETIQUETA_FORNECEDOR_INTERNA]
/*
OBJETIVO  : PROCEDURE PARA GERAR TXT DE ETIQUETA PARA FORNECEDORES
AUTOR     : PAULO DEVIDE
CRIADO EM : 24/ABR/18
*/
(
@PEDIDO CHAR(8),
@TABELA CHAR(2)='01'
)
AS
SET NOCOUNT ON
/* PARAMETRO DE ETIQUETA DUPLA LIGADO OU DESLIGADO */
DECLARE @ETIQUETA_DUPLA BIT 
select	@ETIQUETA_DUPLA = CASE WHEN VALOR_ATUAL = '.T.' THEN 1 ELSE 0 END 
from	parametros 
where parametro like '%P_ETIQUETA_DUPLA%' 

/* PEGA O PRODUTO DO COMPRAS_PRODUTO */
DECLARE @PRODUTO VARCHAR(12)
SELECT	top 1 @PRODUTO = produto  
from	compras_produto 
where	pedido = @PEDIDO

/* DECLARE AS VARIASVEIS DA TABELA DE PRODUTOS ACABADOS */
DECLARE 
	@DESC_PRODUTO As varchar(40),
	@GRUPO_PRODUTO As varchar(25),
	@SUBGRUPO_PRODUTO As varchar(25),
	@COLECAO As char(6),
	@GRADE As varchar(25),
	@LINHA As varchar(25),
	@GRIFFE As varchar(25),
	@INATIVO As bit,
	@ERP_AREA_JEANS As bit,
	@ERP_QTD_PACK As int ,
	@ERP_LICENCIADO As bit,
	@ERP_DESC_LICENCIADO As varchar(50),
	@ERP_TEMA_LICENCIADO As varchar(50) 


/* CARREGA O REGISTRO DE PRODUTOS ACABADOS NAS VARIAVEIS*/
SELECT 
	@DESC_PRODUTO = DESC_PRODUTO,
	@GRUPO_PRODUTO = GRUPO_PRODUTO,
	@SUBGRUPO_PRODUTO = SUBGRUPO_PRODUTO,
	@COLECAO = COLECAO,
	@GRADE = GRADE,
	@LINHA = LINHA,
	@GRIFFE = GRIFFE,
	@INATIVO = INATIVO,
	@ERP_AREA_JEANS = ERP_AREA_JEANS,
	@ERP_QTD_PACK = ERP_QTD_PACK ,
	@ERP_LICENCIADO = ERP_LICENCIADO,
	@ERP_DESC_LICENCIADO = ERP_DESC_LICENCIADO,
	@ERP_TEMA_LICENCIADO = ERP_TEMA_LICENCIADO
FROM PRODUTOS
WHERE PRODUTO = @PRODUTO

/*DECLARE DA TABELA DE TXT_SAIDA*/
DECLARE @TXT_SAIDA TABLE (REGISTRO VARCHAR(400) NULL)


/* CRIA UMA TABELA TEMPORARIA DE MEMORIA PARA ARMAZENAR O SELECT DE SAIDA */
--SET IDENTITY_INSERT @TXT_SAIDA ON
DECLARE 
	@TABELASAIDA TABLE (
		[REGN] [int] IDENTITY(1,1) NOT NULL ,
		[DESC_COLECAO] [varchar](40) NULL,
		[FORNECEDOR] [varchar](25) NULL,
		[PRODUTO] [char](12) NULL,
		[PRECO1] [numeric](14, 2) NULL,
		[QTDE_ENTREGAR] int NULL,
		[GRADE] [varchar](25)  NULL,
		[COR_PRODUTO] [char](10)  NULL,
		[DESC_COR_PRODUTO] [varchar](40)  NULL,
		[TAMANHO] [varchar](8)  NULL,
		[DESC_PRODUTO] [varchar](40)  NULL,
		[CODIGO_BARRA] [varchar](25)  NULL,
		[LINHA] [varchar](25)  NULL,
		[TIPO_PRODUTO] [varchar](25)  NULL,
		[ENTREGA] [char](10) NULL,
		[DESCRICAO_MSG] [varchar](30) NULL,
		[GRUPO_PRODUTO] [varchar](25)  NULL,
		[ERP_AREA_JEANS] [bit]  NULL,
		[PACKS] [char](24) NULL,
		[QTDE_TOTAL] [int] NULL,
		[ZERAR_DATA] [varchar](70) NULL,
		[ERP_CONJUNTO] [bit] NULL, 
		[ERP_COR_PRODUTO2] [varchar](10),
		[DESCRICAO_COR2] [varchar](40)  NULL)

/*VERIFICA SE A GRIFFE É CALCADOS - ETIQUETA SIMPLES, SENÃO SE PARAMETRO LIGADO, ETIQUETA DUPLA*/
IF @GRIFFE <> 'CALCADOS' OR @ETIQUETA_DUPLA=0
BEGIN
	INSERT INTO @TABELASAIDA
	SELECT 
		DESC_COLECAO,
		A.FORNECEDOR,
		B.PRODUTO,PRECO1,
		CASE  WHEN TAMANHO=1 THEN ROUND(CE1*1.05,0) 
		WHEN TAMANHO=2 THEN ROUND(CE2*1.05,0) 
		WHEN TAMANHO=3 THEN ROUND(CE3*1.05,0) 
		WHEN TAMANHO=4 THEN ROUND(CE4*1.05,0) 
		WHEN TAMANHO=5 THEN ROUND(CE5*1.05,0) 
		WHEN TAMANHO=6 THEN ROUND(CE6*1.05,0) 
		WHEN TAMANHO=7 THEN ROUND(CE7*1.05,0) 
		WHEN TAMANHO=8 THEN ROUND(CE8*1.05,0) 
		WHEN TAMANHO=9 THEN ROUND(CE9*1.05,0) 
		WHEN TAMANHO=10 THEN ROUND(CE10*1.05,0) 
		WHEN TAMANHO=11 THEN ROUND(CE11*1.05,0) 
		WHEN TAMANHO=12 THEN ROUND(CE12*1.05,0) 
		WHEN TAMANHO=13 THEN ROUND(CE13*1.05,0) 
		WHEN TAMANHO=14 THEN ROUND(CE14*1.05,0) 
		WHEN TAMANHO=15 THEN ROUND(CE15*1.05,0) 
		WHEN TAMANHO=16 THEN ROUND(CE16*1.05,0) 
		WHEN TAMANHO=17 THEN ROUND(CE17*1.05,0) 
		WHEN TAMANHO=18 THEN ROUND(CE18*1.05,0) 
		WHEN TAMANHO=19 THEN ROUND(CE19*1.05,0) 
		WHEN TAMANHO=20 THEN ROUND(CE20*1.05,0) 
		WHEN TAMANHO=21 THEN ROUND(CE21*1.05,0) 
		WHEN TAMANHO=22 THEN ROUND(CE22*1.05,0) 
		WHEN TAMANHO=23 THEN ROUND(CE23*1.05,0) 
		WHEN TAMANHO=24 THEN ROUND(CE24*1.05,0) 
		END QTDE_ENTREGAR,
		C.GRADE,
		B.COR_PRODUTO,
		DESC_COR_PRODUTO,
		D.GRADE AS TAMANHO,
		DESC_PRODUTO,
		CODIGO_BARRA,
		LINHA, 
		C.TIPO_PRODUTO,
		CONVERT(CHAR(10),LIMITE_ENTREGA,103) ENTREGA 
		,(SELECT ISNULL(CAE_MENSAGEM_ETIQUETA.DESCRI_MSG,'') AS DESCRI_MSG
			FROM  [CAEDU].[dbo].PROP_PRODUTOS INNER JOIN [CAEDU].[dbo].CAE_MENSAGEM_ETIQUETA ON CAE_MENSAGEM_ETIQUETA.CODIGO_MSG=PROP_PRODUTOS.VALOR_PROPRIEDADE
			WHERE 	PROP_PRODUTOS.PRODUTO=B.PRODUTO AND PROP_PRODUTOS.PROPRIEDADE='00039') AS DESCRICAO_MSG,
		C.GRUPO_PRODUTO, C.ERP_AREA_JEANS,
		B.PACKS,
	        CAST(TOT_QTDE_ORIGINAL/ISNULL(H.QTDE,1) AS INT) AS QTDE_TOTAL
	,(SELECT ISNULL(VALOR_PROPRIEDADE,'NÃO') FROM PROP_PRODUTOS 
			WHERE 	PROP_PRODUTOS.PRODUTO=B.PRODUTO AND PROP_PRODUTOS.PROPRIEDADE='00100') AS ZERAR_DATA,
		B.ERP_CONJUNTO, 
		B.ERP_COR_PRODUTO2,
		C2.DESCRICAO AS DESCRICAO_COR2
	FROM 
		 [CAEDU].[dbo].COMPRAS A 
	INNER JOIN 
		 [CAEDU].[dbo].COMPRAS_PRODUTO B  ON A.PEDIDO=B.PEDIDO 
	INNER JOIN 
		 [CAEDU].[dbo].PRODUTOS C ON C.PRODUTO=B.PRODUTO 
	INNER JOIN 
		 [CAEDU].[dbo].PRODUTOS_BARRA D ON D.PRODUTO=B.PRODUTO AND D.COR_PRODUTO=B.COR_PRODUTO 
	INNER JOIN 
		 [CAEDU].[dbo].PRODUTOS_PRECOS E ON E.PRODUTO=B.PRODUTO 
	JOIN 
		 [CAEDU].[dbo].PRODUTO_CORES F ON F.PRODUTO=B.PRODUTO AND F.COR_PRODUTO=B.COR_PRODUTO 
	JOIN 
		 [CAEDU].[dbo].COLECOES G ON G.COLECAO=C.COLECAO
	LEFT JOIN  [CAEDU].[dbo].CAEDU_COMPRAS_PRODUTOS_PACKS_TOTAL H 
		ON H.PEDIDO=A.PEDIDO AND H.PRODUTO = B.PRODUTO	 
	LEFT JOIN 
		 [CAEDU].[dbo].CAEDU_LISTA_COMBO C2 
			ON C2.CODIGO = B.ERP_COR_PRODUTO2
	WHERE A.PEDIDO=@PEDIDO AND CODIGO_TAB_PRECO=@TABELA
	and RIGHT( ltrim(rtrim(d.codigo_barra)),1)<> 'D'
END
ELSE
BEGIN
	INSERT INTO @TABELASAIDA
	SELECT a.* FROM 
	(
	SELECT 
		DESC_COLECAO,
		A.FORNECEDOR,
		B.PRODUTO, 0 as PRECO1,
		CASE  WHEN TAMANHO=1 THEN ROUND(CE1*1.05,0) 
		WHEN TAMANHO=2 THEN ROUND(CE2*1.05,0) 
		WHEN TAMANHO=3 THEN ROUND(CE3*1.05,0) 
		WHEN TAMANHO=4 THEN ROUND(CE4*1.05,0) 
		WHEN TAMANHO=5 THEN ROUND(CE5*1.05,0) 
		WHEN TAMANHO=6 THEN ROUND(CE6*1.05,0) 
		WHEN TAMANHO=7 THEN ROUND(CE7*1.05,0) 
		WHEN TAMANHO=8 THEN ROUND(CE8*1.05,0) 
		WHEN TAMANHO=9 THEN ROUND(CE9*1.05,0) 
		WHEN TAMANHO=10 THEN ROUND(CE10*1.05,0) 
		WHEN TAMANHO=11 THEN ROUND(CE11*1.05,0) 
		WHEN TAMANHO=12 THEN ROUND(CE12*1.05,0) 
		WHEN TAMANHO=13 THEN ROUND(CE13*1.05,0) 
		WHEN TAMANHO=14 THEN ROUND(CE14*1.05,0) 
		WHEN TAMANHO=15 THEN ROUND(CE15*1.05,0) 
		WHEN TAMANHO=16 THEN ROUND(CE16*1.05,0) 
		WHEN TAMANHO=17 THEN ROUND(CE17*1.05,0) 
		WHEN TAMANHO=18 THEN ROUND(CE18*1.05,0) 
		WHEN TAMANHO=19 THEN ROUND(CE19*1.05,0) 
		WHEN TAMANHO=20 THEN ROUND(CE20*1.05,0) 
		WHEN TAMANHO=21 THEN ROUND(CE21*1.05,0) 
		WHEN TAMANHO=22 THEN ROUND(CE22*1.05,0) 
		WHEN TAMANHO=23 THEN ROUND(CE23*1.05,0) 
		WHEN TAMANHO=24 THEN ROUND(CE24*1.05,0) 
		END QTDE_ENTREGAR,
		C.GRADE,
		B.COR_PRODUTO,
		DESC_COR_PRODUTO,
		D.GRADE AS TAMANHO,
		DESC_PRODUTO,
		RTRIM(CODIGO_BARRA)+'D' as CODIGO_BARRA,
		LINHA, 
		C.TIPO_PRODUTO,
		CONVERT(CHAR(10),LIMITE_ENTREGA,103) ENTREGA 
		,(SELECT ISNULL(CAE_MENSAGEM_ETIQUETA.DESCRI_MSG,'') AS DESCRI_MSG
			FROM  [CAEDU].[dbo].PROP_PRODUTOS INNER JOIN  [CAEDU].[dbo].CAE_MENSAGEM_ETIQUETA ON CAE_MENSAGEM_ETIQUETA.CODIGO_MSG=PROP_PRODUTOS.VALOR_PROPRIEDADE
			WHERE 	PROP_PRODUTOS.PRODUTO=B.PRODUTO AND PROP_PRODUTOS.PROPRIEDADE='00039') AS DESCRICAO_MSG,
		C.GRUPO_PRODUTO, C.ERP_AREA_JEANS,
		B.PACKS,
        CAST(TOT_QTDE_ORIGINAL/ISNULL(H.QTDE,1) AS INT) AS QTDE_TOTAL
	,(SELECT ISNULL(VALOR_PROPRIEDADE,'NÃO') FROM PROP_PRODUTOS 
			WHERE 	PROP_PRODUTOS.PRODUTO=B.PRODUTO AND PROP_PRODUTOS.PROPRIEDADE='00100') AS ZERAR_DATA,
		CAST(0 AS BIT) AS ERP_CONJUNTO, 
		CAST('' AS VARCHAR(10)) AS ERP_COR_PRODUTO2,
		CAST('' AS VARCHAR(40)) AS DESCRICAO_COR2

	FROM 
		COMPRAS A 
	INNER JOIN 
		COMPRAS_PRODUTO B  ON A.PEDIDO=B.PEDIDO 
	INNER JOIN 
		PRODUTOS C ON C.PRODUTO=B.PRODUTO 
	INNER JOIN 
		PRODUTOS_BARRA D ON D.PRODUTO=B.PRODUTO AND D.COR_PRODUTO=B.COR_PRODUTO    and CODIGO_BARRA_PADRAO = 1 
	INNER JOIN 
		PRODUTOS_PRECOS E ON E.PRODUTO=B.PRODUTO 
	JOIN 
		PRODUTO_CORES F ON F.PRODUTO=B.PRODUTO AND F.COR_PRODUTO=B.COR_PRODUTO 
	JOIN 
		COLECOES G ON G.COLECAO=C.COLECAO 
	LEFT JOIN CAEDU_COMPRAS_PRODUTOS_PACKS_TOTAL H 
		ON H.PEDIDO=A.PEDIDO AND H.PRODUTO = B.PRODUTO
					
	WHERE A.PEDIDO=@PEDIDO AND CODIGO_TAB_PRECO=@TABELA
			
	UNION ALL
			
		SELECT 
		DESC_COLECAO,
		A.FORNECEDOR,
		B.PRODUTO, PRECO1,
		CASE  WHEN TAMANHO=1 THEN ROUND(CE1*1.05,0) 
		WHEN TAMANHO=2 THEN ROUND(CE2*1.05,0) 
		WHEN TAMANHO=3 THEN ROUND(CE3*1.05,0) 
		WHEN TAMANHO=4 THEN ROUND(CE4*1.05,0) 
		WHEN TAMANHO=5 THEN ROUND(CE5*1.05,0) 
		WHEN TAMANHO=6 THEN ROUND(CE6*1.05,0) 
		WHEN TAMANHO=7 THEN ROUND(CE7*1.05,0) 
		WHEN TAMANHO=8 THEN ROUND(CE8*1.05,0) 
		WHEN TAMANHO=9 THEN ROUND(CE9*1.05,0) 
		WHEN TAMANHO=10 THEN ROUND(CE10*1.05,0) 
		WHEN TAMANHO=11 THEN ROUND(CE11*1.05,0) 
		WHEN TAMANHO=12 THEN ROUND(CE12*1.05,0) 
		WHEN TAMANHO=13 THEN ROUND(CE13*1.05,0) 
		WHEN TAMANHO=14 THEN ROUND(CE14*1.05,0) 
		WHEN TAMANHO=15 THEN ROUND(CE15*1.05,0) 
		WHEN TAMANHO=16 THEN ROUND(CE16*1.05,0) 
		WHEN TAMANHO=17 THEN ROUND(CE17*1.05,0) 
		WHEN TAMANHO=18 THEN ROUND(CE18*1.05,0) 
		WHEN TAMANHO=19 THEN ROUND(CE19*1.05,0) 
		WHEN TAMANHO=20 THEN ROUND(CE20*1.05,0) 
		WHEN TAMANHO=21 THEN ROUND(CE21*1.05,0) 
		WHEN TAMANHO=22 THEN ROUND(CE22*1.05,0) 
		WHEN TAMANHO=23 THEN ROUND(CE23*1.05,0) 
		WHEN TAMANHO=24 THEN ROUND(CE24*1.05,0) 
		END QTDE_ENTREGAR,
		C.GRADE,
		B.COR_PRODUTO,
		DESC_COR_PRODUTO,
		D.GRADE AS TAMANHO,
		DESC_PRODUTO,
		RTRIM(CODIGO_BARRA)+'E' as CODIGO_BARRA,
		LINHA, 
		C.TIPO_PRODUTO,
		CONVERT(CHAR(10),LIMITE_ENTREGA,103) ENTREGA 
		,(SELECT ISNULL(CAE_MENSAGEM_ETIQUETA.DESCRI_MSG,'') AS DESCRI_MSG
			FROM PROP_PRODUTOS INNER JOIN dbo.CAE_MENSAGEM_ETIQUETA ON CAE_MENSAGEM_ETIQUETA.CODIGO_MSG=PROP_PRODUTOS.VALOR_PROPRIEDADE
			WHERE 	PROP_PRODUTOS.PRODUTO=B.PRODUTO AND PROP_PRODUTOS.PROPRIEDADE='00039') AS DESCRICAO_MSG,
		C.GRUPO_PRODUTO, C.ERP_AREA_JEANS,
		B.PACKS,
        CAST(TOT_QTDE_ORIGINAL/ISNULL(H.QTDE,1) AS INT) AS QTDE_TOTAL
	,(SELECT ISNULL(VALOR_PROPRIEDADE,'NÃO') FROM PROP_PRODUTOS 
			WHERE 	PROP_PRODUTOS.PRODUTO=B.PRODUTO AND PROP_PRODUTOS.PROPRIEDADE='00100') AS ZERAR_DATA,
		CAST(0 AS BIT) AS ERP_CONJUNTO, 
		CAST('' AS VARCHAR(10)) AS ERP_COR_PRODUTO2,
		CAST('' AS VARCHAR(40)) AS DESCRICAO_COR2

	FROM 
		COMPRAS A 
	INNER JOIN 
		COMPRAS_PRODUTO B  ON A.PEDIDO=B.PEDIDO 
	INNER JOIN 
		PRODUTOS C ON C.PRODUTO=B.PRODUTO 
	INNER JOIN 
		PRODUTOS_BARRA D ON D.PRODUTO=B.PRODUTO AND D.COR_PRODUTO=B.COR_PRODUTO  and CODIGO_BARRA_PADRAO = 1
	INNER JOIN 
		PRODUTOS_PRECOS E ON E.PRODUTO=B.PRODUTO 
	JOIN 
		PRODUTO_CORES F ON F.PRODUTO=B.PRODUTO AND F.COR_PRODUTO=B.COR_PRODUTO 
	JOIN 
		COLECOES G ON G.COLECAO=C.COLECAO 
	LEFT JOIN CAEDU_COMPRAS_PRODUTOS_PACKS_TOTAL H 
		ON H.PEDIDO=A.PEDIDO AND H.PRODUTO = B.PRODUTO	
	WHERE A.PEDIDO=@PEDIDO AND CODIGO_TAB_PRECO=@TABELA
	) A
	ORDER BY a.produto, a.tamanho, a.codigo_barra

END

/*DECLARE VARIAVEIS DE CONTROLE DE LOOP*/
DECLARE @I INT, @TOTREG INT
SET @I=1 
SELECT @TOTREG = MAX(REGN) FROM @TABELASAIDA

/*LOOP PARA VERIFICAR SE ZERAR_DATA = SIM, SE FOR O CAMPO ENTREGA TEM QUE SER 00/00/0000*/
DECLARE @ZERAR_DATA VARCHAR(70)
DECLARE @TIPO_PRODUTO VARCHAR(25)
DECLARE @DESCRICAO_MSG varchar(30)
DECLARE @ERP_TAG_ETIQUETA varchar(25) = ''
DECLARE @DESC_LINHA varchar(25) = ''
DECLARE @REGISTRO VARCHAR(400) = ''
DECLARE @VALOR1 VARCHAR(20)

DECLARE @ERP_CONJUNTO BIT 
DECLARE @ERP_COR_PRODUTO2 VARCHAR(10)
DECLARE @DESCRICAO_COR2 VARCHAR(40)


select	@ERP_TAG_ETIQUETA = MAX(ISNULL(A.ERP_TAG_ETIQUETA,'NULO'))
from	CAE_PRODUTOS_FATOR_P A
inner join (select PRODUTO,GRIFFE,LINHA,GRUPO_PRODUTO,SUBGRUPO_PRODUTO 
			FROM PRODUTOS WHERE PRODUTO = @PRODUTO) B 
				ON B.GRIFFE=A.GRIFFE 
					AND B.GRUPO_PRODUTO = A.GRUPO_PRODUTO 
					AND B.LINHA=A.LINHA 
					AND B.SUBGRUPO_PRODUTO=A.SUBGRUPO_PRODUTO

WHILE @I <= @TOTREG
BEGIN
	
	/*LE O REGISTRO E PEGA O VALOR DA VARIAVEL ZERAR_DATA */
	SELECT	@ZERAR_DATA = ZERAR_DATA, 
			@TIPO_PRODUTO = ISNULL(TIPO_PRODUTO,''),
			@DESCRICAO_MSG = ISNULL(DESCRICAO_MSG,''),
			@LINHA = LINHA,
			@ERP_CONJUNTO=ISNULL(ERP_CONJUNTO,0),
			@ERP_COR_PRODUTO2=ERP_COR_PRODUTO2,
			@DESCRICAO_COR2=DESCRICAO_COR2
	FROM @TABELASAIDA WHERE REGN = @I

	IF @TIPO_PRODUTO = ''
	BEGIN
		RAISERROR('Impossível gerar o arquivo, a Propriedade Tipo de Produto do Pedido de Compras não foi informada!',16,1)
		RETURN -1
	END

	IF @DESCRICAO_MSG = ''
	BEGIN
		RAISERROR('Impossível gerar o arquivo, a Propriedade MENSAGEM_ETIQ_PEDIDO, do cadastro de produto não foi informada!',16,1)
		RETURN -1
	END

	IF ISNULL(@ERP_AREA_JEANS,0)=1
	BEGIN
		SET @DESC_LINHA = 'AREA JEANS'
	END
	ELSE
	BEGIN
		IF @LINHA IN ('JEANS','PROMOCIONAL')
		BEGIN
			SET @DESC_LINHA = LTRIM(RTRIM(@ERP_TAG_ETIQUETA))
		END
		ELSE -- TODOS OS OUTROS 
		BEGIN
			SET @DESC_LINHA = LTRIM(RTRIM(@LINHA))
		END
	END

	IF @ZERAR_DATA = 'SIM'
	BEGIN
		/*ATUALIZA O CAMPO ENTREGA COM VALOR ZERADO*/
		UPDATE @TABELASAIDA
		SET ENTREGA = '00/00/0000'
		WHERE REGN = @I
	END

	IF @GRIFFE <> 'CALCADOS' 
	BEGIN
		
		IF @ERP_CONJUNTO=1
		BEGIN

			SET @DESCRICAO_COR2 = CASE WHEN ISNULL(@DESCRICAO_COR2,'')='' THEN '' 
									ELSE '/' + LTRIM(RTRIM(@DESCRICAO_COR2))
								  END

		END
		ELSE
		BEGIN
			SET @DESCRICAO_COR2 = ''
		END

		SELECT @REGISTRO= LTRIM(RTRIM(DESC_COLECAO))+','+LTRIM(RTRIM(FORNECEDOR))+','+LTRIM(RTRIM(@PEDIDO))+','+LTRIM(RTRIM(@PRODUTO))+','+'0.00'+','
				+CONVERT(VARCHAR,QTDE_ENTREGAR)+','+LTRIM(RTRIM(GRADE))+','+LTRIM(RTRIM(DESC_COR_PRODUTO))+@DESCRICAO_COR2+','+LTRIM(RTRIM(TAMANHO))+
				','+LTRIM(RTRIM(DESC_PRODUTO))+','+LTRIM(RTRIM(CODIGO_BARRA))+','+LTRIM(RTRIM(@DESC_LINHA))+','+LTRIM(RTRIM(TIPO_PRODUTO))+','+
				LTRIM(RTRIM(ENTREGA))+','+LTRIM(RTRIM(DESCRICAO_MSG))+','+@DESC_LINHA+','+LTRIM(RTRIM(PACKS))+','+CONVERT(VARCHAR,QTDE_TOTAL)
				FROM @TABELASAIDA WHERE REGN = @I
	END
	ELSE
	BEGIN
		 
		SELECT @REGISTRO= LTRIM(RTRIM(DESC_COLECAO))+','+LTRIM(RTRIM(FORNECEDOR))+','+LTRIM(RTRIM(@PEDIDO))+','+LTRIM(RTRIM(@PRODUTO))+','+
							CONVERT(VARCHAR,CASE WHEN PRECO1 = 0 THEN 0 ELSE PRECO1 END)+','
				+CONVERT(VARCHAR,QTDE_ENTREGAR)+','+LTRIM(RTRIM(GRADE))+','+LTRIM(RTRIM(DESC_COR_PRODUTO))+','+LTRIM(RTRIM(TAMANHO))+','+LTRIM(RTRIM(DESC_PRODUTO))+','+
				LTRIM(RTRIM(CODIGO_BARRA))+','+LTRIM(RTRIM(@DESC_LINHA))+','+LTRIM(RTRIM(TIPO_PRODUTO))+','+LTRIM(RTRIM(ENTREGA))+','+LTRIM(RTRIM(DESCRICAO_MSG))+','
				+@DESC_LINHA+','+LTRIM(RTRIM(PACKS))+','+CONVERT(VARCHAR,QTDE_TOTAL)
				FROM @TABELASAIDA WHERE REGN = @I
	END

	INSERT INTO @TXT_SAIDA (REGISTRO) VALUES (@REGISTRO)
	
	SET @I = @I + 1
END

SELECT * FROM @TXT_SAIDA
SET NOCOUNT OFF

