USE [CAEDU]
GO
/****** Object:  StoredProcedure [dbo].[PLM_IRIS_Umode_INS_PRODUTOS_PRECOS]    Script Date: 03/09/2026 16:51:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER   PROCEDURE [dbo].[PLM_IRIS_Umode_INS_PRODUTOS_PRECOS] 
@produto char(12),
@preco_venda numeric (14,2),
@preco_custo numeric (14,2),
@retorno varchar(100) output
AS 

set @retorno = 'NOK'

declare @tabprecos table (id int identity(1,1) not null, CODIGO_TAB_PRECO char(2) not null)
insert into @tabprecos (CODIGO_TAB_PRECO)
select CODIGO_TAB_PRECO 
from TABELAS_PRECO 
where
	CODIGO_TAB_PRECO not in ('AT','37','04','CM','CL','VA','00','02', '85') AND INATIVO=0

declare @min int, @max int, @CODIGO_TAB_PRECO char(2) 
		--@preco_venda numeric (14,2),
		--@preco_custo numeric (14,2), 
		--@produto char(12) 

select @min = min(id), @max = max(id)
from @tabprecos

--set @produto = '01050999'
--set @preco_custo = 25.86
--set @preco_venda = 69.99

-- looping para incluir os preços de venda
while @min <= @max
begin
	
	select @CODIGO_TAB_PRECO=CODIGO_TAB_PRECO
	from @tabprecos
	where id = @min

	insert into PRODUTOS_PRECOS
			(CODIGO_TAB_PRECO, PRODUTO, PRECO1, PRECO2,PRECO3,PRECO4, ULT_ATUALIZACAO)  
	values 	(@CODIGO_TAB_PRECO,@PRODUTO, @preco_venda ,0,0,0, getdate())

	set @min = @min + 1
end
/*insert dos preços de custo - tabelas 00 (custo original) e 02 (transferencia)*/
insert into PRODUTOS_PRECOS
		(CODIGO_TAB_PRECO, PRODUTO, PRECO1, PRECO2,PRECO3,PRECO4, ULT_ATUALIZACAO)  
values 	('00',@PRODUTO, @preco_custo ,0,0,0, getdate()),
		('02',@PRODUTO, @preco_custo ,0,0,0, getdate()),
		('85',@PRODUTO, @preco_custo ,0,0,0, getdate())
set @retorno = 'OK'

