USE [CAEDU]
GO
/****** Object:  StoredProcedure [dbo].[PLM_IRIS_Umode_INS_PRODUTO_v2]    Script Date: 06/04/2026 15:43:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER   PROCEDURE [dbo].[PLM_IRIS_Umode_INS_PRODUTO_v2] 
@codigo_produto varchar(100),
@val_ins varchar(2000),
@debug int,
@retproc varchar(100) output
AS
begin

DECLARE @SQL varchar(8000);
declare @retorno int;

set @SQL = 'INSERT INTO [CAEDU].[DBO].PRODUTOS (PRODUTO,ERP_CODIGO_UMODE,CLASSIF_FISCAL,TIPO_PRODUTO,TABELA_MEDIDAS,DESC_PRODUTO,GRUPO_PRODUTO,SUBGRUPO_PRODUTO,COLECAO,GRADE,DESC_PROD_NF,LINHA,GRIFFE,UNIDADE,PESO,REVENDA,ESTILISTA,INATIVO,ENVIA_LOJA_VAREJO,ENVIA_LOJA_ATACADO,ENVIA_VAREJO_INTERNET,PONTEIRO_PRECO_TAM,CODIGO_PRECO,MATERIAL,PERIODO_PCP,TABELA_OPERACOES,FATOR_OPERACOES,CARTELA,REFER_FABRICANTE,MODELAGEM,FABRICANTE,CUSTO_REPOSICAO1,CUSTO_REPOSICAO2,CUSTO_REPOSICAO3,CUSTO_REPOSICAO4,DATA_REPOSICAO,MODELISTA,TAMANHO_BASE,GIRO_ENTREGA,MODELO,REDE_LOJAS,DATA_PARA_TRANSFERENCIA,FABRICANTE_ICMS_ABATER,FABRICANTE_PRAZO_PGTO,TAXA_JUROS_DEFLACIONAR,TAXAS_IMPOSTOS_APLICAR,PRECO_REPOSICAO_1,PRECO_REPOSICAO_2,PRECO_REPOSICAO_3,PRECO_REPOSICAO_4,PRECO_A_VISTA_REPOSICAO_1,PRECO_A_VISTA_REPOSICAO_2,PRECO_A_VISTA_REPOSICAO_3,PRECO_A_VISTA_REPOSICAO_4,FABRICANTE_FRETE,DROP_DE_TAMANHOS,DATA_CADASTRAMENTO,STATUS_PRODUTO,TIPO_STATUS_PRODUTO,OBS,COMPOSICAO,RESTRICAO_LAVAGEM,EMPRESA,ORCAMENTO,CLIENTE_DO_PRODUTO,CONTA_CONTABIL,ESPESSURA,ALTURA,LARGURA,COMPRIMENTO,EMPILHAMENTO_MAXIMO,SEXO_TIPO,PARTE_TIPO,VERSAO_FICHA,COD_FLUXO_PRODUTO,DATA_INICIO_DESENVOLVIMENTO,INDICADOR_CFOP,MONTAGEM_KIT,MRP_AGRUPAR_NECESSIDADE_DIAS,MRP_AGRUPAR_NECESSIDADE_TIPO,MRP_DIAS_SEGURANCA,MRP_EMISSAO_LIBERACAO_DIAS,MRP_ENTREGA_GIRO_DIAS,MRP_PARTICIPANTE,MRP_MAIOR_GIRO_MP_DIAS,OP_QTDE_MAXIMA,OP_QTDE_MINIMA,QUALIDADE,SEMI_ACABADO,CONTA_CONTABIL_COMPRA,CONTA_CONTABIL_VENDA,CONTA_CONTABIL_DEV_COMPRA,CONTA_CONTABIL_DEV_VENDA,ID_EXCECAO_GRUPO,ID_EXCECAO_IMPOSTO,DIAS_COMPRA,FATOR_P,FATOR_Q,FATOR_F,CONTINUIDADE,COD_CATEGORIA,COD_SUBCATEGORIA,COD_PRODUTO_SOLUCAO,COD_PRODUTO_SEGMENTO,TIPO_ITEM_SPED,ID_PRECO,NATUREZA_RECEITA,COD_ALIQUOTA_PIS_COFINS_DIF,DATA_LIMITE_PEDIDO,ERP_CUPS_SEGMENTO,ERP_CUPS_STYLENUMBER,ERP_CUPS_EVENTO,ERP_CUPS_TEMA,ERP_CUPS_COMPRIMENTO,ERP_CUPS_CONTRUCAO,ERP_CUPS_COMPOSICAO,ERP_CUPS_FORRO,ERP_CUPS_PRODUTO,ERP_CUPS_SUPPLIER,ERP_CUPS_PRECO_CUSTO_ESTIMADO,ERP_CUPS_CODEBAR_REF,ERP_CUPS_CODEBAR_PB,ERP_CUPS_CODEBAR_CX,ERP_CUPS_BLOQUEIA_PRODUTO,ERP_CUPS_CONJUNTO,ERP_CUPS_COMPRIMENTO_BOTTOM,ERP_CUPS_COMPOSICAO_BOTTOM,ERP_CUPS_FORRO_BOTTOM,ERP_CUPS_SUBGRUPO_ATACADO,ID_ARTIGO,SPED_DATA_FIM,SPED_DATA_INI,ID_CEST_NCM,ERP_QTD_PACK,ERP_CUPS_CUSTO_FOB_MINIMO,ERP_DESC_LICENCIADO,ERP_TEMA_LICENCIADO,ID_MODELAGEM,ERP_USERS_ALTERA_PACK,FATOR_A,FATOR_B,FATOR_BUFFER,FATOR_LT,TIPO_CANAL,ID_MODELAGEM2,ERP_GRUPO_MERCADORIA,ERP_TIPO_ETIQUETA,ERP_DATA_ULTIMO_AGENDAMENTO,TITULO_B2C,DESCRICAO_B2C,TAGS,VIDEO_EMBED,CARACTERISTICAS_TECNICAS_B2C,ESTOQUE_MINIMO,DATA_PUBLICACAO_B2C,GRUPO_PRODUTO_B2C,SUBGRUPO_PRODUTO_B2C,TIPO_PRODUTO_B2C,GRIFFE_B2C,LINHA_B2C,FABRICANTE_B2C,CATEGORIA_B2C,SUBCATEGORIA_B2C,IMG_ESTILO,DESCRICAO_B2C_2,DESCRICAO_B2C_3,ERP_MATERIA_PRIMA,TRIBUT_ICMS,TRIBUT_ORIGEM,SORTIMENTO_TAMANHO,ERP_FT_MARCA,ERP_FT_DESC_MARCA,ERP_FT_REPEAT,ERP_FT_DESC_REPEAT,ERP_FT_ESTRUTURA,ERP_FT_DESC_ESTRUTURA,ERP_FT_MATERIA_PRIMA,ERP_FT_DESC_MATERIA_PRIMA,ERP_FT_COMPOSICAO,ERP_FT_DESC_COMPOSICAO,ERP_FT_CATEGORIA,ERP_FT_DESC_CATEGORIA,ERP_FT_FIT,ERP_FT_DESC_FIT,ERP_FT_ESPECIFICACOES,ERP_FT_DESC_ESPECIFICACOES,ERP_FT_CLASSIFICACAO,ERP_FT_DESC_CLASSIFICACAO,ERP_FT_DESENHO,ERP_FT_DESC_DESENHO,ERP_FT_FATOR_F,ERP_FT_DESC_FATOR_F,ERP_FT_RISCO,ERP_FT_DESC_RISCO,ERP_LICENCIADO,REQUERIDO_POR,TIPO_COMPRA,ERP_CAB_COD_CABIDE,ERP_CAB_OPCAO,ERP_CUPS_CUSTO_FOB,ERP_UMODE_ID_VARIANTE,ERP_UMODE_BATCH_NAME,ERP_ENTREGA,ERP_LIMITE_ENTREGA,ERP_CUPS_DATA_ACORDADA,ERP_COD_ESQUELETO) '
set @SQL = @SQL + 'VALUES (' + @val_ins + ')';

	print @sql;

	IF @debug > 0
		SELECT @sql;

	EXEC (@SQL);
	
	if (select count(*) from PRODUTOS where produto = @codigo_produto) > 0 begin
		
		update produtos 
		set DATA_UMODE = GETDATE() 
		WHERE PRODUTO = @codigo_produto

		set @retorno = 200;
		set @retproc = 'OK';
		if @debug > 0 
			select @retorno as 'cod','SUCESSO' as 'resultado';
	end
	else begin
		set @retorno = 400;
		set @retproc = 'NOK';
		if @debug > 0 
			select @retorno as 'cod', 'ERRO' as 'resultado';
	end;

	return @retorno;

end;


/*
EXEC PLM_IRIS_Umode_INS_PRODUTO '',1

SET @SQL = 'SELECT ProductID,Name,ProductNumber FROM SalesLT.Product where ProductID = '+ @Pid
 
EXEC (@SQL)
*/
