USE [CAEDU]
GO
/****** Object:  StoredProcedure [dbo].[PLM_IRIS_Umode_BUSCA_COMPOSICAO]    Script Date: 03/09/2026 16:50:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- exec DBO.PLM_IRIS_Umode_BUSCA_COMPOSICAO '000269'

ALTER PROCEDURE [dbo].[PLM_IRIS_Umode_BUSCA_COMPOSICAO]
@CODIGO CHAR(6),
@retproc nvarchar(MAX) output
AS
SELECT @retproc = 
(select CODIGO, DESCRICAO, ID_DOMINIO, DESC_DOMINIO, COMPOSICAO_LINX, COMPOSICAO_FT 
from CAEDU_LISTA_COMBO
WHERE ID_DOMINIO = '005' AND CODIGO = @CODIGO
for json auto)

