USE [CAEDU]
GO
/****** Object:  StoredProcedure [dbo].[PLM_IRIS_Umode_Ret_Seq]    Script Date: 03/09/2026 16:51:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER   PROC [dbo].[PLM_IRIS_Umode_Ret_Seq] 
@GRUPO_PRODUTO nvarchar(50),
@SUBGRUPO_PRODUTO nvarchar(50),
@debug int,
@retproc varchar(100) output
AS
begin

	declare @novo_sequencial nvarchar(50);
	declare @grupo nvarchar(50);
	declare @sub_grupo nvarchar(50);

	set @retproc = null;
	
	
	SELECT  @novo_sequencial =  RIGHT('0000'+CONVERT(VARCHAR,CAST(PRODUTOS_SUBGRUPO.CODIGO_SEQUENCIAL AS INT)+1),4) , 
		    @grupo = LTRIM(RTRIM(PRODUTOS_GRUPO.CODIGO_GRUPO)) ,
			@sub_grupo = LTRIM(RTRIM(PRODUTOS_SUBGRUPO.CODIGO_SUBGRUPO)) 
			--, PRODUTOS_SUBGRUPO.CODIGO_SEQUENCIAL AS SEQUENCIAL 
	FROM PRODUTOS_SUBGRUPO 
	INNER JOIN PRODUTOS_GRUPO ON PRODUTOS_GRUPO.GRUPO_PRODUTO = PRODUTOS_SUBGRUPO.GRUPO_PRODUTO 
	WHERE PRODUTOS_SUBGRUPO.GRUPO_PRODUTO = @GRUPO_PRODUTO AND PRODUTOS_SUBGRUPO.SUBGRUPO_PRODUTO = @SUBGRUPO_PRODUTO;

	set @retproc = @grupo + @sub_grupo + @novo_sequencial;

	if @debug > 0
		select @novo_sequencial as 'novo sequencial', @grupo as 'grupo', @sub_grupo as 'sub grupo';

	UPDATE PRODUTOS_SUBGRUPO 
			SET PRODUTOS_SUBGRUPO.CODIGO_SEQUENCIAL = RIGHT('0000'+CONVERT(VARCHAR,CAST(PRODUTOS_SUBGRUPO.CODIGO_SEQUENCIAL AS INT)+1),4) 
			FROM PRODUTOS_SUBGRUPO INNER JOIN PRODUTOS_GRUPO ON PRODUTOS_GRUPO.GRUPO_PRODUTO = PRODUTOS_SUBGRUPO.GRUPO_PRODUTO 
			WHERE PRODUTOS_SUBGRUPO.GRUPO_PRODUTO = @GRUPO_PRODUTO AND 
					PRODUTOS_SUBGRUPO.SUBGRUPO_PRODUTO = @SUBGRUPO_PRODUTO;

	

	--return 200;

end;


/*

USE CAEDU
declare @retornoOUTUPUT varchar(100);
execute PLM_IRIS_Umode_Ret_Seq 'TOP aaa TECIDO','M/C - M/L',0,@retornoOUTUPUT output;
select @retornoOUTUPUT as 'retorno OUTPUT';

USE CAEDU
declare @retornoOUTUPUT varchar(100);
declare @retornointerno varchar(100);

exec @retornointerno = PLM_IRIS_Umode_Ret_Seq 'TOP TECIDO','M/C - M/L',0,@retornoOUTUPUT output;

select @retornoOUTUPUT as 'retorno OUTPUT';

select  @retornointerno as 'retorno interno';
        

WHERE PRODUTOS_SUBGRUPO.GRUPO_PRODUTO = 'TOP TECIDO' AND PRODUTOS_SUBGRUPO.SUBGRUPO_PRODUTO = 'M/C - M/L';

*/
