USE [CAEDU]
GO
/****** Object:  StoredProcedure [dbo].[PLM_IRIS_Umode_INS_PRODUTO_CORES]    Script Date: 03/09/2026 16:51:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER   PROCEDURE [dbo].[PLM_IRIS_Umode_INS_PRODUTO_CORES]
@codigo_produto varchar(100),
@val_ins varchar(2000),
@debug int,
@retproc varchar(100) output
AS
begin

DECLARE @SQL varchar(8000);
declare @retorno int;

Set @retproc = 'NOK';

if exists (select 1 from PRODUTO_CORES where produto = @codigo_produto)
begin
	delete from PRODUTO_CORES where produto = @codigo_produto
end

set @SQL = 'INSERT INTO [CAEDU].[DBO].PRODUTO_CORES (PRODUTO,COR_PRODUTO,SIMILAR,DESC_COR_PRODUTO,STATUS_VENDA_ATUAL,INICIO_VENDAS,FIM_VENDAS,TIPO_LAVAGEM_TINTURARIA,COR,MATERIAL,COR_MATERIAL,ETIQUETA,VARIANTE_TAMANHO,CLASSIF_FISCAL,COMPOSICAO,TRIBUT_ORIGEM,LX_HASH,CUSTO_REPOSICAO1,PRECO_REPOSICAO_1,PRECO_A_VISTA_REPOSICAO_1) '
set @SQL = @SQL + 'VALUES (' + @val_ins + ')';

	print @sql;

	IF @debug > 0
		SELECT @sql;

	EXEC (@SQL);

Set @retproc = 'OK';
	
return @retorno;

end;
