USE [CAEDU]
GO
/****** Object:  StoredProcedure [dbo].[LX_AJUSTA_ESTOQUE_PA]    Script Date: 16/05/2025 15:38:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[LX_AJUSTA_ESTOQUE_PA] @NOME_CONTAGEM VARCHAR(25), @ALTERAR_DATA_AJUSTE BIT=1
AS
BEGIN

	-- 22/05/2024 - VALMIR SOARES	- LINXERP-17810 - #4# - Opção para atualizar ou não o campo DATA AJUSTE (quando vem da integração LX_API_AJUSTA_INVENTARIO não pode atualizar)
	-- 17/07/2018 - RODRIGO SOUZA	- DM 84559      - #3# - Correção para evitar que os itens fiquem nulos quando não existirem na contagem.
	-- 27/03/2018 - SZALONTAI		- DM 68774	    - #2# - Correção para não dar campo duplicado.
	-- 04/11/2015 - RODRIGO SOUZA	- TP 10573170   - #1# - Correção para zerar todos os itens do estoque em caso de contagem completa.
	-- 22/11/2005 - ALESSANDRO 		- CORREÇÃO DA CLAUSULA WHERE QUE EXCLUI ITENS COM MOVIMENTO 0.
	-- 04/11/2005 - FABIANO BANIN	- INCLUSÃO DO WHERE PARA NÃO INCLUIR ITENS COM MOVIMENTO 0.
	-- 12/07/2004 - ALESSANDRO 		- GERAÇÃO DOS AJUSTES MESMO COM A INCLUSÃO DE REGISTROS ZERADOS
	-- 09/07/2004 - ALESSANDRO 		- GERAÇÃO DE AJUSTES NO ESTOQUE, CONFORME CONTAGEM

	DECLARE @ERRMSG VARCHAR(400), @TIPO CHAR(1) , @QTDE_CONTAGEM INT

	SET NOCOUNT ON

	BEGIN TRANSACTION

	IF EXISTS( SELECT 1 FROM ESTOQUE_PROD_CONTAGEM WHERE ESTOQUE_AJUSTADO = 1 AND NOME_CONTAGEM = @NOME_CONTAGEM )
	BEGIN

		SELECT @ERRMSG = 'ESTOQUE JÁ AJUSTADO !'
		GOTO ERROR

	END	

	INSERT INTO ESTOQUE_PROD_CTG_AJUSTE( NOME_CONTAGEM, PRODUTO, COR_PRODUTO, QTDE_AJUSTE, A1, A2, A3, A4, A5, A6, A7, A8, A9, A10, A11, A12, A13,
									A14, A15, A16, A17, A18, A19, A20, A21, A22, A23, A24, A25, A26, A27, A28, A29, A30, A31, A32, A33, A34, A35,
									A36, A37, A38, A39, A40, A41, A42, A43, A44, A45, A46, A47, A48 )
	SELECT NOME_CONTAGEM, PRODUTO, COR_PRODUTO, ( QTDE_CONTAGEM - SALDO_CONTAGEM ), ( Q1 - S1 ), ( Q2 - S2 ), ( Q3 - S3 ), ( Q4 - S4 ), ( Q5 - S5 ),
			( Q6 - S6 ), ( Q7 - S7 ), ( Q8 - S8 ), ( Q9 - S9 ), ( Q10 - S10 ), ( Q11 - S11 ), ( Q12 - S12 ), ( Q13 - S13 ), ( Q14 - S14 ),
			( Q15 - S15 ), ( Q16 - S16 ), ( Q17 - S17 ), ( Q18 - S18 ), ( Q19 - S19 ), ( Q20 - S20 ), ( Q21 - S21 ), ( Q22 - S22 ), ( Q23 - S23 ),
			( Q24 - S24 ), ( Q25 - S25 ), ( Q26 - S26 ), ( Q27 - S27 ), ( Q28 - S28 ), ( Q29 - S29 ), ( Q30 - S30 ), ( Q31 - S31 ), ( Q32 - S32 ),
			( Q33 - S33 ), ( Q34 - S34 ), ( Q35 - S35 ), ( Q36 - S36 ), ( Q37 - S37 ), ( Q38 - S38 ), ( Q39 - S39 ), ( Q40 - S40 ), ( Q41 - S41 ),
			( Q42 - S42 ), ( Q43 - S43 ), ( Q44 - S44 ), ( Q45 - S45 ), ( Q46 - S46 ), ( Q47 - S47 ), ( Q48 - S48 )
	FROM ESTOQUE_PROD_CTG_ITENS
	WHERE NOME_CONTAGEM = @NOME_CONTAGEM  AND
			( 	(Q1<>S1) or (Q2<>S2) or 	(Q3<>S3) or (Q4<>S4) or (Q5<>S5) or (Q6<>S6) or (Q7<>S7) or (Q8<>S8) or (Q9<>S9) or 
		(Q10<>S10) or (Q11<>S11) or (Q12<>S12) or (Q13<>S13) or (Q14<>S14) or (Q15<>S15) or (Q16<>S16) or (Q17<>S17) or 
		(Q18<>S18) or (Q19<>S19) or (Q20<>S20) or (Q21<>S21) or (Q22<>S22) or (Q23<>S23) or (Q24<>S24) or (Q25<>S25) or 
		(Q26<>S26) or (Q27<>S27) or (Q28<>S28) or (Q29<>S29) or (Q30<>S30) or (Q31<>S31) or (Q32<>S32) or (Q33<>S33) or 
		(Q34<>S34) or (Q35<>S35) or (Q36<>S36) or (Q37<>S37) or (Q38<>S38) or (Q39<>S39) or (Q40<>S40) or (Q41<>S41) or 
		(Q42<>S42) or (Q43<>S43) or (Q44<>S44) or (Q45<>S45) or (Q46<>S46) or (Q47<>S47) or (Q48<>S48)  ) 


	--#1#
	SELECT @TIPO = TIPO FROM ESTOQUE_PROD_CONTAGEM WHERE NOME_CONTAGEM = @NOME_CONTAGEM
	SELECT @QTDE_CONTAGEM = SUM(QTDE_CONTAGEM) FROM ESTOQUE_PROD_CTG_ITENS  WHERE NOME_CONTAGEM = @NOME_CONTAGEM 
	--#1#

	--#1#
	IF @TIPO ='C'  AND @QTDE_CONTAGEM=0
	BEGIN
		INSERT INTO ESTOQUE_PROD_CTG_AJUSTE( NOME_CONTAGEM, PRODUTO, COR_PRODUTO, QTDE_AJUSTE, A1, A2, A3, A4, A5, A6, A7, A8, A9, A10, A11, A12, A13,
											 A14, A15, A16, A17, A18, A19, A20, A21, A22, A23, A24, A25, A26, A27, A28, A29, A30, A31, A32, A33, A34, A35,
											 A36, A37, A38, A39, A40, A41, A42, A43, A44, A45, A46, A47, A48 )
		SELECT	ESTOQUE_PROD_CONTAGEM.NOME_CONTAGEM, 
		isnull(ESTOQUE_PROD_CTG_ITENS.PRODUTO,ESTOQUE_PRODUTOS.PRODUTO), 
		isnull(ESTOQUE_PROD_CTG_ITENS.COR_PRODUTO,ESTOQUE_PRODUTOS.COR_PRODUTO) , 
		isnull(( QTDE_CONTAGEM - SALDO_CONTAGEM ),0), 
		--#3#
		isnull((Q1 - S1	),0)-ISNULL(ESTOQUE_PROD_CTG_ITENS.ES1,0),isnull((Q2 - S2),0)-ISNULL(ESTOQUE_PROD_CTG_ITENS.ES2,0),isnull((Q3 - S3),0)-ISNULL(ESTOQUE_PROD_CTG_ITENS.ES3,0)
		,isnull((Q4 - S4),0)-ISNULL(ESTOQUE_PROD_CTG_ITENS.ES4,0),isnull((Q5 - S5),0)-ISNULL(ESTOQUE_PROD_CTG_ITENS.ES5,0),isnull((Q6 - S6),0)-ISNULL(ESTOQUE_PROD_CTG_ITENS.ES6,0) /*#2#*/
		,isnull((Q7 - S7),0)-ISNULL(ESTOQUE_PROD_CTG_ITENS.ES7,0),isnull((Q8 - S8),0)-ISNULL(ESTOQUE_PROD_CTG_ITENS.ES8,0),isnull((Q9 - S9),0)-ISNULL(ESTOQUE_PROD_CTG_ITENS.ES9,0)
		,isnull((Q10-S10),0)-ISNULL(ESTOQUE_PROD_CTG_ITENS.ES10,0),isnull((Q11-S11),0)-ISNULL(ESTOQUE_PROD_CTG_ITENS.ES11,0),isnull((Q12-S12),0)-ISNULL(ESTOQUE_PROD_CTG_ITENS.ES12,0)/*#2#*/
		,isnull((Q13-S13),0)-ISNULL(ESTOQUE_PROD_CTG_ITENS.ES13,0),isnull((Q14-S14),0)-ISNULL(ESTOQUE_PROD_CTG_ITENS.ES14,0),isnull((Q15-S15),0)-ISNULL(ESTOQUE_PROD_CTG_ITENS.ES15,0)
		,isnull((Q16-S16),0)-ISNULL(ESTOQUE_PROD_CTG_ITENS.ES16,0),isnull((Q17-S17),0)-ISNULL(ESTOQUE_PROD_CTG_ITENS.ES17,0),isnull((Q18-S18),0)-ISNULL(ESTOQUE_PROD_CTG_ITENS.ES18,0)/*#2#*/
		,isnull((Q19-S19),0)-ISNULL(ESTOQUE_PROD_CTG_ITENS.ES19,0),isnull((Q20-S20),0)-ISNULL(ESTOQUE_PROD_CTG_ITENS.ES20,0),isnull((Q21-S21),0)-ISNULL(ESTOQUE_PROD_CTG_ITENS.ES21,0)
		,isnull((Q22-S22),0)-ISNULL(ESTOQUE_PROD_CTG_ITENS.ES22,0),isnull((Q23-S23),0)-ISNULL(ESTOQUE_PROD_CTG_ITENS.ES23,0),isnull((Q24-S24),0)-ISNULL(ESTOQUE_PROD_CTG_ITENS.ES24,0)/*#2#*/
		,isnull((Q25-S25),0)-ISNULL(ESTOQUE_PROD_CTG_ITENS.ES25,0),isnull((Q26-S26),0)-ISNULL(ESTOQUE_PROD_CTG_ITENS.ES26,0),isnull((Q27-S27),0)-ISNULL(ESTOQUE_PROD_CTG_ITENS.ES27,0)
		,isnull((Q28-S28),0)-ISNULL(ESTOQUE_PROD_CTG_ITENS.ES28,0),isnull((Q29-S29),0)-ISNULL(ESTOQUE_PROD_CTG_ITENS.ES29,0),isnull((Q30-S30),0)-ISNULL(ESTOQUE_PROD_CTG_ITENS.ES30,0)/*#2#*/
		,isnull((Q31-S31),0)-ISNULL(ESTOQUE_PROD_CTG_ITENS.ES31,0),isnull((Q32-S32),0)-ISNULL(ESTOQUE_PROD_CTG_ITENS.ES32,0),isnull((Q33-S33),0)-ISNULL(ESTOQUE_PROD_CTG_ITENS.ES33,0)
		,isnull((Q34-S34),0)-ISNULL(ESTOQUE_PROD_CTG_ITENS.ES34,0),isnull((Q35-S35),0)-ISNULL(ESTOQUE_PROD_CTG_ITENS.ES35,0),isnull((Q36-S36),0)-ISNULL(ESTOQUE_PROD_CTG_ITENS.ES36,0)/*#2#*/
		,isnull((Q37-S37),0)-ISNULL(ESTOQUE_PROD_CTG_ITENS.ES37,0),isnull((Q38-S38),0)-ISNULL(ESTOQUE_PROD_CTG_ITENS.ES38,0),isnull((Q39-S39),0)-ISNULL(ESTOQUE_PROD_CTG_ITENS.ES39,0)
		,isnull((Q40-S40),0)-ISNULL(ESTOQUE_PROD_CTG_ITENS.ES40,0),isnull((Q41-S41),0)-ISNULL(ESTOQUE_PROD_CTG_ITENS.ES41,0),isnull((Q42-S42),0)-ISNULL(ESTOQUE_PROD_CTG_ITENS.ES42,0)/*#2#*/
		,isnull((Q43-S43),0)-ISNULL(ESTOQUE_PROD_CTG_ITENS.ES43,0),isnull((Q44-S44),0)-ISNULL(ESTOQUE_PROD_CTG_ITENS.ES44,0),isnull((Q45-S45),0)-ISNULL(ESTOQUE_PROD_CTG_ITENS.ES45,0)
		,isnull((Q46-S46),0)-ISNULL(ESTOQUE_PROD_CTG_ITENS.ES46,0),isnull((Q47-S47),0)-ISNULL(ESTOQUE_PROD_CTG_ITENS.ES47,0),isnull((Q48-S48),0)-ISNULL(ESTOQUE_PROD_CTG_ITENS.ES48,0)/*#2#*/
		--#3#
		FROM ESTOQUE_PRODUTOS
			INNER JOIN ESTOQUE_PROD_CONTAGEM
				ON	ESTOQUE_PRODUTOS.FILIAL = ESTOQUE_PROD_CONTAGEM.FILIAL 
			LEFT JOIN  ESTOQUE_PROD_CTG_ITENS
				ON	ESTOQUE_PRODUTOS.PRODUTO=ESTOQUE_PROD_CTG_ITENS.PRODUTO
				AND	ESTOQUE_PRODUTOS.COR_PRODUTO=ESTOQUE_PROD_CTG_ITENS.COR_PRODUTO
				AND	ESTOQUE_PROD_CTG_ITENS.NOME_CONTAGEM=ESTOQUE_PROD_CONTAGEM.NOME_CONTAGEM
		WHERE	ESTOQUE_PROD_CONTAGEM.NOME_CONTAGEM=@NOME_CONTAGEM
		AND		ESTOQUE_PROD_CTG_ITENS.PRODUTO IS NULL
		AND		ESTOQUE_PROD_CTG_ITENS.COR_PRODUTO IS NULL

	END
	--#1#

	IF @@ERROR > 0
	BEGIN

		SELECT @ERRMSG = 'OCORREU UM ERRO AO INCLUIR OS AJUSTES !'
		GOTO ERROR

	END

	-- #4#
		--UPDATE ESTOQUE_PROD_CONTAGEM
		--SET ESTOQUE_AJUSTADO = 1,  DATA_AJUSTE = CONVERT(VARCHAR(8),GETDATE(),112)
		--WHERE NOME_CONTAGEM = @NOME_CONTAGEM
		IF ISNULL(@ALTERAR_DATA_AJUSTE,1)=1 --(quando não informado sempre ajusta)
		BEGIN 
			UPDATE ESTOQUE_PROD_CONTAGEM SET DATA_AJUSTE = CONVERT(VARCHAR(8),GETDATE(),112) WHERE NOME_CONTAGEM = @NOME_CONTAGEM
		END
		UPDATE ESTOQUE_PROD_CONTAGEM SET ESTOQUE_AJUSTADO = 1 WHERE NOME_CONTAGEM = @NOME_CONTAGEM
	-- #4#
	
	IF @@ERROR>0
	BEGIN
		SELECT @ERRMSG = 'OCORREU UM ERRO AO ATUALIZAR A CONTAGEM !'
		GOTO ERROR
	END

	SET NOCOUNT OFF
	COMMIT TRANSACTION
	RETURN

	ERROR:
			
		IF @@TRANCOUNT > 0
			ROLLBACK TRANSACTION 
	
		SET NOCOUNT OFF

		IF @ERRMSG IS NOT NULL
			--RAISERROR 30002 @ERRMSG
			RAISERROR (@ERRMSG,16,1)

END 
