USE [CAEDU]
GO
/****** Object:  StoredProcedure [dbo].[LX_CM_FECHAMENTO_CUSTO_MEDIO]    Script Date: 03/12/2021 08:55:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[LX_CM_FECHAMENTO_CUSTO_MEDIO] @COD_CUSTO_MEDIO AS CHAR(8), @EMPRESA AS INT  
AS  

	BEGIN TRY -- #4#
	 
	-------------------------------------------------------------------------------------------------------------------------------------------------  
	-- Procedure para geração da tabela CM_FECHAMENTO_CUSTO_MEDIO                                                                                  --  
	-------------------------------------------------------------------------------------------------------------------------------------------------
	-- 18/07/2019 - Adalberto (WAFX) - #11# - MODASP-1583   - Deleção de estoque por grandes, quando reprocessa (03/12/2018 - GSF).
	-- 18/03/2019 - Szalontai		- #10# - Demanda 113128 - Adição de tratamento para apagar o conteudo da tabela CM_PRODUCAO_PA_FILIAL.
	--                                                        Essa tabela foi criada para auxiliar nas consultas por filiais.
	-- 28/06/2018 - Rodrigo Souza	- #9#  - Demanda 81300 - Correção para atualizar a data da tabela CM_DATA_FECHAMENDO com a data saldo do custo anterior.
	-- 01/07/2016 - DIEGO QUARESMA  - #8#  - Demanda 2323 - REESTRURAÇÃO PERFORMANCE DO CUSTO.
	-- 16/07/2016 - Rodrigo Souza	- #7#  - Demanda 4493 - Adição validação de procedures de usuário.
	-- 21/06/2016 - Szalontai		- #6#  - Demanda 4327 - Adição de tratamento de erro que alimenta a tabela CM_FECHAMENTO_ERRO, criada para isso
	-- 21/06/2016 - Szalontai		- #5#  - Demanda 4327 - Correção na atualização da tabela CM_DATA_FECHAMENTO. O processo deve atualizar todas as
	--									 				   filiais que estão na tabela CM_FECHAMENTO_CUSTO_MEDIO_FILIAIS quando o custo for por filial.
	-- 10/06/2016 - Szalontai		- #4#  - Demanda 1658 - Adição de try para retornar para o FOXPRO as mensagens de erro 
	-- 02/02/2016 - Szalontai		- #3#  - Demanda 1658 - Tratamento de custo por matriz contabil
	-- 14/12/2015 - Szalontai		- #2#  - Demanda 1305 - Tratamento da tabela CM_DATA_FECHAMENTO para o Bloco K
	-- 13/08/2015 - Diego Quaresma	- #1#  - Atualização da tabela CM_DATA_FECHAMENTO com as datas de fechamento do ultimo custo para posterior bloqueio 
	--									   do estoque e producao.  
	-- 10/04/2012 - Fabiano Banin  - Inclusão dos novos itens de composição utilizado para ajustes nos custos.
	-- 12/03/2012 - Rafael - Atualiza a data de Fechamento de Custo do paramentro: DATA_BLOQUEIO_MOV_MP/DATA_BLOQUEIO_MOV_PA 
	-- 24/06/2008 - Felipe - Tratamento de OP de Transformação / Conserto  
	-- 30/01/2007 - Fabiano Banin - Ajustes nas chamadas das procedures de fechamento.  
	-- 19/06/2006 - Fabiano Banin - Adequação da procedure para a nova estrutura do banco de dados.  
	-------------------------------------------------------------------------------------------------------------------------------------------------  
	 
	SET NOCOUNT ON  
	 
	DECLARE @CALCULA_CUSTO_PA AS BIT, @CALCULA_CUSTO_MP AS BIT, @CALCULA_CUSTO_PRODUCAO_PA AS BIT, @CALCULA_CUSTO_PRODUCAO_MP AS BIT,  
			@UTILIZA_SALDO_ANTERIOR AS BIT, @COD_CUSTO_ANTERIOR AS CHAR(8), @ITEM_COMPOSICAO AS VARCHAR(255), @ARBITRADO_PA AS INT,  
			@FECHAMENTO_DIARIO AS BIT, @INICIO AS DATETIME, @FINAL AS DATETIME, @CUSTO_MEDIO_MANUAL AS BIT, @DATA_SALDO AS DATETIME
			,@BLK AS BIT  /*#2#*/
			,@CALCULA_CUSTO_POR_FILIAL AS BIT/*#3#*/
			,@ERRMSG  VARCHAR(255)/*#4#*/
			,@DATA_SALDO_ANTERIOR AS DATETIME --##

	SELECT @CALCULA_CUSTO_PA = A.CALCULA_CUSTO_PA, @CALCULA_CUSTO_MP = A.CALCULA_CUSTO_MP, @CALCULA_CUSTO_PRODUCAO_PA = A.CALCULA_CUSTO_PRODUCAO_PA,  
		   @CALCULA_CUSTO_PRODUCAO_MP = A.CALCULA_CUSTO_PRODUCAO_MP, @UTILIZA_SALDO_ANTERIOR = A.UTILIZA_SALDO_ANTERIOR,  
		   @ARBITRADO_PA = A.TIPO_CUSTO_PRODUCAO_PA, @FECHAMENTO_DIARIO = A.FECHAMENTO_DIARIO, @COD_CUSTO_ANTERIOR = A.COD_CUSTO_MEDIO_ANTERIOR, 
		   @DATA_SALDO = A.DATA_SALDO ,@CALCULA_CUSTO_POR_FILIAL = A.CALCULA_CUSTO_POR_FILIAL/*#3#*/
	FROM CM_FECHAMENTO_CUSTO_MEDIO AS A (NOLOCK)  
	WHERE A.COD_CUSTO_MEDIO = @COD_CUSTO_MEDIO  
	

	SELECT 	@DATA_SALDO_ANTERIOR=DATA_SALDO FROM CM_FECHAMENTO_CUSTO_MEDIO WHERE COD_CUSTO_MEDIO=@COD_CUSTO_ANTERIOR --##

	/*#2# - Início*/
	IF EXISTS(SELECT PARAMETRO FROM PARAMETROS WHERE PARAMETRO = 'VALIDA_BLOCO_K' AND VALOR_ATUAL = '.T.')
		SET @BLK = 1
	ELSE
		SET @BLK = 0
	/*#2# - Fim*/

	--#7#
	------------------------------------------------------------------------------------------------------------------------------------------------
	-- VERIFICA SE EXISTE UMA PROCEDURE DE USUÁRIO PARA FECHAMENTO DO CUSTO MÉDIO
	------------------------------------------------------------------------------------------------------------------------------------------------
	IF EXISTS( SELECT * FROM SYSOBJECTS WHERE NAME = 'LX_CM_FECHAMENTO_CUSTO_MEDIO_OE_INCIAL' )
		EXECUTE LX_CM_FECHAMENTO_CUSTO_MEDIO_OE_INCIAL @COD_CUSTO_MEDIO, @EMPRESA
	------------------------------------------------------------------------------------------------------------------------------------------------
	--#7#	
	
	-------------------------------------------------------------------------------------------------------------------------------------------------
	-- Insere os novos registros de item de composição.
	-------------------------------------------------------------------------------------------------------------------------------------------------
	IF NOT EXISTS ( SELECT 1 FROM CM_ITEM_COMPOSICAO WHERE ITEM_COMPOSICAO = '900' )
		INSERT INTO CM_ITEM_COMPOSICAO ( ITEM_COMPOSICAO, DESC_ITEM_COMPOSICAO, INDICA_ENTRADA_SAIDA, INATIVO, INDICADOR_LINX, COMPOE_CUSTO_MEDIO, 
		                                 LANCAMENTO_PADRAO, ATUALIZA_CUSTO_MOV, FATOR_EST_PROPRIO, FATOR_EST_DE_TERCEIRO, FATOR_EST_COM_TERCEIRO, 
		                                 INDICA_MOV_LOGICO )
		VALUES ( '900', 'AJUSTE-CUSTO MATRIZ', 'E', 0, 1, 0, NULL, 0, 1, 0, 0, 0 )

	IF NOT EXISTS ( SELECT 1 FROM CM_ITEM_COMPOSICAO WHERE ITEM_COMPOSICAO = '901' )
		INSERT INTO CM_ITEM_COMPOSICAO ( ITEM_COMPOSICAO, DESC_ITEM_COMPOSICAO, INDICA_ENTRADA_SAIDA, INATIVO, INDICADOR_LINX, COMPOE_CUSTO_MEDIO, 
		                                 LANCAMENTO_PADRAO, ATUALIZA_CUSTO_MOV, FATOR_EST_PROPRIO, FATOR_EST_DE_TERCEIRO, FATOR_EST_COM_TERCEIRO, 
		                                 INDICA_MOV_LOGICO ) 
		VALUES ( '901', 'AUTO AJUSTE - ESTOQUE NEGATIVO', 'E', 0, 1, 0, NULL, 0, 1, 0, 0, 0 )
	
	IF NOT EXISTS ( SELECT 1 FROM CM_ITEM_COMPOSICAO WHERE ITEM_COMPOSICAO = '902' )
		INSERT INTO CM_ITEM_COMPOSICAO ( ITEM_COMPOSICAO, DESC_ITEM_COMPOSICAO, INDICA_ENTRADA_SAIDA, INATIVO, INDICADOR_LINX, COMPOE_CUSTO_MEDIO, 
		                                 LANCAMENTO_PADRAO, ATUALIZA_CUSTO_MOV, FATOR_EST_PROPRIO, FATOR_EST_DE_TERCEIRO, FATOR_EST_COM_TERCEIRO, 
		                                 INDICA_MOV_LOGICO ) 
		VALUES ( '902', 'AUTO AJUSTE REV. - ESTOQUE NEGATIVO', 'S', 0, 1, 0, NULL, 0, 1, 0, 0, 0 )
	
	IF NOT EXISTS ( SELECT 1 FROM CM_ITEM_COMPOSICAO WHERE ITEM_COMPOSICAO = '903' )
		INSERT INTO CM_ITEM_COMPOSICAO ( ITEM_COMPOSICAO, DESC_ITEM_COMPOSICAO, INDICA_ENTRADA_SAIDA, INATIVO, INDICADOR_LINX, COMPOE_CUSTO_MEDIO, 
		                                 LANCAMENTO_PADRAO, ATUALIZA_CUSTO_MOV, FATOR_EST_PROPRIO, FATOR_EST_DE_TERCEIRO, FATOR_EST_COM_TERCEIRO, 
		                                 INDICA_MOV_LOGICO ) 
		VALUES ( '903', 'AJUSTE-SALDO EM VALOR SEM QTDE', '-', 0, 1, 0, NULL, 0, 1, 0, 0, 0 )
	
	IF NOT EXISTS ( SELECT 1 FROM CM_ITEM_COMPOSICAO WHERE ITEM_COMPOSICAO = '904' )
		INSERT INTO CM_ITEM_COMPOSICAO ( ITEM_COMPOSICAO, DESC_ITEM_COMPOSICAO, INDICA_ENTRADA_SAIDA, INATIVO, INDICADOR_LINX, COMPOE_CUSTO_MEDIO, 
		                                 LANCAMENTO_PADRAO, ATUALIZA_CUSTO_MOV, FATOR_EST_PROPRIO, FATOR_EST_DE_TERCEIRO, FATOR_EST_COM_TERCEIRO, 
		                                 INDICA_MOV_LOGICO ) 
		VALUES ( '904', 'AJUSTE REV.-SALDO EM VALOR SEM QTDE', '-', 0, 1, 0, NULL, 0, 1, 0, 0, 0 )
	-------------------------------------------------------------------------------------------------------------------------------------------------

-- Atualiza a data da tabela CM_DATA_FECHAMENTO com a data saldo do custo anterior.
---#9# -- INICIO 
 
 -- PRODUTO E PRODUCAO DE PRODUTO
	IF @CALCULA_CUSTO_PA = 1 OR @CALCULA_CUSTO_PRODUCAO_PA = 1
	BEGIN
		IF @CALCULA_CUSTO_POR_FILIAL=0
		BEGIN
			UPDATE CM_DATA_FECHAMENTO 
			SET DATA_SALDO_PA = @DATA_SALDO_ANTERIOR,
				DATA_SALDO_PRODUCAO_PA = CASE WHEN @CALCULA_CUSTO_PRODUCAO_PA = 1 THEN @DATA_SALDO_ANTERIOR ELSE NULL END
			FROM   CM_ESTOQUE_PA 
			   INNER JOIN CM_DATA_FECHAMENTO 
					   ON CM_ESTOQUE_PA.FILIAL = CM_DATA_FECHAMENTO.FILIAL 
			WHERE  COD_CUSTO_MEDIO = @COD_CUSTO_MEDIO
		END
		ELSE
		BEGIN
			UPDATE CM_DATA_FECHAMENTO 
			SET DATA_SALDO_PA = @DATA_SALDO_ANTERIOR,
				DATA_SALDO_PRODUCAO_PA = CASE WHEN @CALCULA_CUSTO_PRODUCAO_PA = 1 THEN @DATA_SALDO_ANTERIOR ELSE NULL END
			FROM   CM_FECHAMENTO_CUSTO_MEDIO_FILIAIS
			INNER JOIN FILIAIS				ON FILIAIS.COD_FILIAL = CM_FECHAMENTO_CUSTO_MEDIO_FILIAIS.COD_FILIAL
			LEFT JOIN CM_ESTOQUE_PA		ON CM_ESTOQUE_PA.COD_CUSTO_MEDIO = CM_FECHAMENTO_CUSTO_MEDIO_FILIAIS.COD_CUSTO_MEDIO AND CM_ESTOQUE_PA.FILIAL = FILIAIS.FILIAL /*#5#*/
			INNER JOIN CM_DATA_FECHAMENTO	ON FILIAIS.FILIAL = CM_DATA_FECHAMENTO.FILIAL 
			WHERE  CM_FECHAMENTO_CUSTO_MEDIO_FILIAIS.COD_CUSTO_MEDIO = @COD_CUSTO_MEDIO
		END
	END

	-- MATERIAL E PRODUCAO DE MATERIAL
	IF @CALCULA_CUSTO_MP = 1 OR @CALCULA_CUSTO_PRODUCAO_MP = 1
	BEGIN

		IF @CALCULA_CUSTO_POR_FILIAL=0
		BEGIN
			UPDATE	CM_DATA_FECHAMENTO 
			SET		DATA_SALDO_MP = @DATA_SALDO_ANTERIOR,
					DATA_SALDO_PRODUCAO_MP = CASE WHEN @CALCULA_CUSTO_PRODUCAO_MP = 1 THEN @DATA_SALDO_ANTERIOR ELSE NULL END
			FROM   CM_ESTOQUE_MP 
				   INNER JOIN CM_DATA_FECHAMENTO 
						   ON CM_ESTOQUE_MP.FILIAL = CM_DATA_FECHAMENTO.FILIAL 
			WHERE  COD_CUSTO_MEDIO = @COD_CUSTO_MEDIO
		END
		ELSE
		BEGIN
			UPDATE	CM_DATA_FECHAMENTO 
			SET		DATA_SALDO_MP = @DATA_SALDO_ANTERIOR,
				DATA_SALDO_PRODUCAO_MP = CASE WHEN @CALCULA_CUSTO_PRODUCAO_MP = 1 THEN @DATA_SALDO_ANTERIOR ELSE NULL END
			FROM   CM_FECHAMENTO_CUSTO_MEDIO_FILIAIS
			INNER JOIN FILIAIS				ON FILIAIS.COD_FILIAL = CM_FECHAMENTO_CUSTO_MEDIO_FILIAIS.COD_FILIAL
			LEFT JOIN CM_ESTOQUE_MP			ON CM_ESTOQUE_MP.COD_CUSTO_MEDIO = CM_FECHAMENTO_CUSTO_MEDIO_FILIAIS.COD_CUSTO_MEDIO AND CM_ESTOQUE_MP.FILIAL = FILIAIS.FILIAL /*#5#*/
			INNER JOIN CM_DATA_FECHAMENTO	ON FILIAIS.FILIAL = CM_DATA_FECHAMENTO.FILIAL
			WHERE  CM_FECHAMENTO_CUSTO_MEDIO_FILIAIS.COD_CUSTO_MEDIO = @COD_CUSTO_MEDIO
		END
	END		
---#9# -- FIM 

	-------------------------------------------------------------------------------------------------------------------------------------------------  
	-- Exclui os registros antigos das tabelas filhas.  
	-------------------------------------------------------------------------------------------------------------------------------------------------  
	DELETE CM_PRODUCAO_RECURSO  
	WHERE COD_CUSTO_MEDIO = @COD_CUSTO_MEDIO  
	 
	DELETE CM_PRODUCAO_MP_ABSORCAO  
	WHERE COD_CUSTO_MEDIO = @COD_CUSTO_MEDIO  
	 
	DELETE CM_PRODUCAO_MP  
	WHERE COD_CUSTO_MEDIO = @COD_CUSTO_MEDIO  
	 
	DELETE CM_ESTOQUE_MP  
	WHERE COD_CUSTO_MEDIO = @COD_CUSTO_MEDIO  
	 
	DELETE CM_ESTOQUE_MP_COMPOSICAO  
	WHERE COD_CUSTO_MEDIO = @COD_CUSTO_MEDIO  
	 
	DELETE CM_PRODUCAO_PA_ABSORCAO  
	WHERE COD_CUSTO_MEDIO = @COD_CUSTO_MEDIO  
	 
	DELETE CM_PRODUCAO_PA  
	WHERE COD_CUSTO_MEDIO = @COD_CUSTO_MEDIO  

	/*#10# - Inicio*/
	DELETE CM_PRODUCAO_PA_FILIAL
	WHERE COD_CUSTO_MEDIO = @COD_CUSTO_MEDIO  
	/*#10# - Fim*/
	 
	--#8#	
	IF ( DBO.FX_PARAMETRO('FECHA_CUSTO_MEDIO') = '.F.' )  
	BEGIN 
		DELETE CM_ESTOQUE_PA_COMPOSICAO  
		WHERE COD_CUSTO_MEDIO = @COD_CUSTO_MEDIO  
	END

	DELETE CM_ESTOQUE_PA  
	WHERE COD_CUSTO_MEDIO = @COD_CUSTO_MEDIO  
	
	DELETE CM_ESTOQUE_PA_GRADE -- #11#
	WHERE COD_CUSTO_MEDIO = @COD_CUSTO_MEDIO  

	DELETE CM_ESTOQUE_PA_COMPOSICAO_GRADE -- #11#
	WHERE COD_CUSTO_MEDIO = @COD_CUSTO_MEDIO  								   
	IF ( DBO.FX_PARAMETRO('FECHA_CUSTO_MEDIO') = '.T.' )  
	BEGIN 	
		DELETE FROM CM_ESTOQUE_PA_COMPOSICAO 
		WHERE ITEM_COMPOSICAO IN ('000','028','199','299','399','499','500','599','699','899','900','901','902','903','904','999') AND
		COD_CUSTO_MEDIO = @COD_CUSTO_MEDIO  
	END
	--#8#

	/*#6# - Inicio*/
	DELETE CM_FECHAMENTO_ERRO  
	WHERE COD_CUSTO_MEDIO = @COD_CUSTO_MEDIO  
	/*#6# - Fim*/
	-------------------------------------------------------------------------------------------------------------------------------------------------  
	 
	IF ( @CALCULA_CUSTO_PRODUCAO_MP = 1 OR @CALCULA_CUSTO_PRODUCAO_PA = 1 ) AND @ARBITRADO_PA = 0  
		EXECUTE LX_CM_PRODUCAO_RECURSO @COD_CUSTO_MEDIO, @EMPRESA  

	IF @CALCULA_CUSTO_MP = 1  
	BEGIN  

		EXECUTE LX_CM_COMPOSICAO_CUSTO_MP @COD_CUSTO_MEDIO, @EMPRESA  
		EXECUTE LX_CM_CUSTO_MP @COD_CUSTO_MEDIO, @EMPRESA

		/*#3# - Início
	
		UPDATE PARAMETROS 
		SET VALOR_ATUAL = CONVERT(CHAR(10), CONVERT(DATETIME, CONVERT(CHAR(10), @DATA_SALDO, 112)), 103) 
		WHERE PARAMETRO = 'DATA_BLOQUEIO_MOV_MP'
		
		#3# - Fim*/
	END  

	IF @CALCULA_CUSTO_PA = 1  
	BEGIN  

		EXECUTE LX_CM_COMPOSICAO_CUSTO_PA @COD_CUSTO_MEDIO, @EMPRESA  
		EXECUTE LX_CM_CUSTO_PA @COD_CUSTO_MEDIO, @EMPRESA 

		/*#3# - Início

		UPDATE PARAMETROS 
		SET VALOR_ATUAL = CONVERT(CHAR(10), CONVERT(DATETIME, CONVERT(CHAR(10), @DATA_SALDO, 112)), 103) 
		WHERE PARAMETRO = 'DATA_BLOQUEIO_MOV_PA'

		#3# - Fim*/

	END
	  
	UPDATE CM_FECHAMENTO_CUSTO_MEDIO  
	SET DATA_GERACAO = CONVERT(DATETIME, CONVERT(CHAR(10), GETDATE(), 112)),  
		AJUSTE_INFLACAO = 0,  
		PERC_AJUSTE = 0  
	WHERE COD_CUSTO_MEDIO = @COD_CUSTO_MEDIO  

	
	
	-- #1# -----------------------------------------------------------------------------------------------------------------------------------------	
	-- PRODUTO E PRODUCAO DE PRODUTO
	IF @CALCULA_CUSTO_PA = 1 OR @CALCULA_CUSTO_PRODUCAO_PA = 1
	BEGIN
		
		/*#3# - Início*/
		IF @CALCULA_CUSTO_POR_FILIAL=0
		BEGIN

			INSERT INTO CM_DATA_FECHAMENTO (FILIAL) 
			SELECT DISTINCT CM_ESTOQUE_PA.FILIAL
			FROM   CM_ESTOQUE_PA 
				   LEFT JOIN CM_DATA_FECHAMENTO 
						  ON CM_ESTOQUE_PA.FILIAL = CM_DATA_FECHAMENTO.FILIAL 
			WHERE  COD_CUSTO_MEDIO = @COD_CUSTO_MEDIO 
				   AND CM_DATA_FECHAMENTO.FILIAL IS NULL 
			GROUP  BY CM_ESTOQUE_PA.FILIAL, 
					  CM_ESTOQUE_PA.DATA_SALDO

			UPDATE CM_DATA_FECHAMENTO 
			SET DATA_SALDO_PA = CASE WHEN @CALCULA_CUSTO_PA = 1 THEN isnull(CM_ESTOQUE_PA.DATA_SALDO,@DATA_SALDO) ELSE @DATA_SALDO END,
				DATA_SALDO_PRODUCAO_PA = CASE WHEN @BLK = 1 /*#2#*/
					THEN 
						CASE WHEN @CALCULA_CUSTO_PRODUCAO_PA = 1 THEN isnull(CM_ESTOQUE_PA.DATA_SALDO,@DATA_SALDO) ELSE @DATA_SALDO END 
					ELSE 
						NULL 
					END
			FROM   CM_ESTOQUE_PA 
			   INNER JOIN CM_DATA_FECHAMENTO 
					   ON CM_ESTOQUE_PA.FILIAL = CM_DATA_FECHAMENTO.FILIAL 
			WHERE  COD_CUSTO_MEDIO = @COD_CUSTO_MEDIO

		END
		ELSE
		BEGIN

			INSERT INTO CM_DATA_FECHAMENTO (FILIAL) 
			SELECT	FILIAIS.FILIAL
			FROM	CM_FECHAMENTO_CUSTO_MEDIO_FILIAIS
			INNER JOIN FILIAIS ON FILIAIS.COD_FILIAL = CM_FECHAMENTO_CUSTO_MEDIO_FILIAIS.COD_FILIAL
			LEFT JOIN CM_DATA_FECHAMENTO ON FILIAIS.FILIAL = CM_DATA_FECHAMENTO.FILIAL /*#5#*/
			WHERE	CM_DATA_FECHAMENTO.FILIAL IS NULL AND 
					CM_FECHAMENTO_CUSTO_MEDIO_FILIAIS.COD_CUSTO_MEDIO = @COD_CUSTO_MEDIO 			   
			GROUP	BY FILIAIS.FILIAL--, CM_ESTOQUE_PA.DATA_SALDO

			UPDATE CM_DATA_FECHAMENTO 
			SET DATA_SALDO_PA = CASE WHEN @CALCULA_CUSTO_PA = 1 THEN isnull(CM_ESTOQUE_PA.DATA_SALDO,@DATA_SALDO) ELSE @DATA_SALDO END,
				DATA_SALDO_PRODUCAO_PA = CASE WHEN @BLK = 1 /*#2#*/
					THEN 
						CASE WHEN @CALCULA_CUSTO_PRODUCAO_PA = 1 THEN isnull(CM_ESTOQUE_PA.DATA_SALDO,@DATA_SALDO) ELSE @DATA_SALDO END 
					ELSE 
						NULL 
					END
			FROM   CM_FECHAMENTO_CUSTO_MEDIO_FILIAIS
			INNER JOIN FILIAIS				ON FILIAIS.COD_FILIAL = CM_FECHAMENTO_CUSTO_MEDIO_FILIAIS.COD_FILIAL
			LEFT JOIN CM_ESTOQUE_PA		ON CM_ESTOQUE_PA.COD_CUSTO_MEDIO = CM_FECHAMENTO_CUSTO_MEDIO_FILIAIS.COD_CUSTO_MEDIO AND CM_ESTOQUE_PA.FILIAL = FILIAIS.FILIAL /*#5#*/
			INNER JOIN CM_DATA_FECHAMENTO	ON FILIAIS.FILIAL = CM_DATA_FECHAMENTO.FILIAL 
			WHERE  CM_FECHAMENTO_CUSTO_MEDIO_FILIAIS.COD_CUSTO_MEDIO = @COD_CUSTO_MEDIO


		END
		/*#3# - Fim*/

	END
				
	-- MATERIAL E PRODUCAO DE MATERIAL
	IF @CALCULA_CUSTO_MP = 1 OR @CALCULA_CUSTO_PRODUCAO_MP = 1
	BEGIN

		/*#3# - Início*/
		IF @CALCULA_CUSTO_POR_FILIAL=0
		BEGIN

			INSERT INTO CM_DATA_FECHAMENTO (FILIAL)
			SELECT CM_ESTOQUE_MP.FILIAL
			FROM   CM_ESTOQUE_MP
				   LEFT JOIN CM_DATA_FECHAMENTO 
						  ON CM_ESTOQUE_MP.FILIAL = CM_DATA_FECHAMENTO.FILIAL 
			WHERE  COD_CUSTO_MEDIO = @COD_CUSTO_MEDIO 
				   AND CM_DATA_FECHAMENTO.FILIAL IS NULL 
			GROUP  BY CM_ESTOQUE_MP.FILIAL, 
					  CM_ESTOQUE_MP.DATA_SALDO

			UPDATE CM_DATA_FECHAMENTO 
			SET DATA_SALDO_MP = CASE WHEN @CALCULA_CUSTO_MP = 1 THEN isnull(CM_ESTOQUE_MP.DATA_SALDO,@DATA_SALDO) ELSE @DATA_SALDO END,
				DATA_SALDO_PRODUCAO_MP= CASE WHEN @BLK = 1 /*#2#*/
					THEN 
						CASE WHEN @CALCULA_CUSTO_PRODUCAO_MP = 1 THEN isnull(CM_ESTOQUE_MP.DATA_SALDO,@DATA_SALDO) ELSE @DATA_SALDO END
					ELSE
						NULL
					END
			FROM   CM_ESTOQUE_MP 
			   INNER JOIN CM_DATA_FECHAMENTO 
					   ON CM_ESTOQUE_MP.FILIAL = CM_DATA_FECHAMENTO.FILIAL 
			WHERE  COD_CUSTO_MEDIO = @COD_CUSTO_MEDIO
	
		END
		ELSE
		BEGIN

			INSERT INTO CM_DATA_FECHAMENTO (FILIAL)
			SELECT	FILIAIS.FILIAL
			FROM	CM_FECHAMENTO_CUSTO_MEDIO_FILIAIS
			INNER JOIN FILIAIS ON FILIAIS.COD_FILIAL = CM_FECHAMENTO_CUSTO_MEDIO_FILIAIS.COD_FILIAL
			LEFT JOIN CM_DATA_FECHAMENTO ON FILIAIS.FILIAL = CM_DATA_FECHAMENTO.FILIAL /*#5#*/
			WHERE	CM_DATA_FECHAMENTO.FILIAL IS NULL AND 
					CM_FECHAMENTO_CUSTO_MEDIO_FILIAIS.COD_CUSTO_MEDIO = @COD_CUSTO_MEDIO 			   
			GROUP	BY FILIAIS.FILIAL --, CM_ESTOQUE_MP.DATA_SALDO

			UPDATE CM_DATA_FECHAMENTO 
			SET DATA_SALDO_MP = CASE WHEN @CALCULA_CUSTO_MP = 1 THEN ISNULL(CM_ESTOQUE_MP.DATA_SALDO,@DATA_SALDO) ELSE @DATA_SALDO END,
				DATA_SALDO_PRODUCAO_MP = CASE WHEN @BLK = 1 /*#2#*/
					THEN 
						CASE WHEN @CALCULA_CUSTO_PRODUCAO_MP = 1 THEN ISNULL(CM_ESTOQUE_MP.DATA_SALDO,@DATA_SALDO) ELSE @DATA_SALDO END
					ELSE
						NULL
					END
			FROM   CM_FECHAMENTO_CUSTO_MEDIO_FILIAIS
			INNER JOIN FILIAIS				ON FILIAIS.COD_FILIAL = CM_FECHAMENTO_CUSTO_MEDIO_FILIAIS.COD_FILIAL
			LEFT JOIN CM_ESTOQUE_MP			ON CM_ESTOQUE_MP.COD_CUSTO_MEDIO = CM_FECHAMENTO_CUSTO_MEDIO_FILIAIS.COD_CUSTO_MEDIO AND CM_ESTOQUE_MP.FILIAL = FILIAIS.FILIAL /*#5#*/
			INNER JOIN CM_DATA_FECHAMENTO	ON FILIAIS.FILIAL = CM_DATA_FECHAMENTO.FILIAL
			WHERE  CM_FECHAMENTO_CUSTO_MEDIO_FILIAIS.COD_CUSTO_MEDIO = @COD_CUSTO_MEDIO

		END
		/*#3# - Fim*/

	END		
	-- #1# -----------------------------------------------------------------------------------------------------------------------------------------	  
	  
	SET NOCOUNT OFF

	--#7#
	------------------------------------------------------------------------------------------------------------------------------------------------
	-- VERIFICA SE EXISTE UMA PROCEDURE DE USUÁRIO PARA FECHAMENTO DO CUSTO MÉDIO
	------------------------------------------------------------------------------------------------------------------------------------------------
	IF EXISTS( SELECT * FROM SYSOBJECTS WHERE NAME = 'LX_CM_FECHAMENTO_CUSTO_MEDIO_OE_FINAL' )
		EXECUTE LX_CM_FECHAMENTO_CUSTO_MEDIO_OE_FINAL @COD_CUSTO_MEDIO, @EMPRESA
	------------------------------------------------------------------------------------------------------------------------------------------------
	--#7#

 END TRY /*#4#*/

 /* #4# - Início */
 BEGIN CATCH 

    WHILE @@TRANCOUNT != 0 
    BEGIN 
        IF ( XACT_STATE() ) = 1 
            BEGIN 
                COMMIT TRANSACTION 
            END 
        ELSE 
            BEGIN 
                ROLLBACK TRANSACTION 
            END 
    END 

	SET @ERRMSG = ERROR_MESSAGE()

    SET NOCOUNT OFF	
	SET ANSI_WARNINGS ON

	INSERT INTO CM_FECHAMENTO_ERRO(COD_CUSTO_MEDIO,ERRO,DATA)  SELECT @COD_CUSTO_MEDIO,@ERRMSG,GETDATE() /*#6#*/

	RAISERROR (@ERRMSG, 16,1            )

  END CATCH 
/* #4# - Fim */
