USE [CAEDU]
GO
/****** Object:  StoredProcedure [dbo].[LX_CAEDU_SELECIONA_GRUPO_MERCADORIA]    Script Date: 04/01/2018 14:09:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[LX_CAEDU_SELECIONA_GRUPO_MERCADORIA] 
(
@GRIFFE VARCHAR(25) = NULL,
@LINHA VARCHAR(25) = NULL,
@GRUPO_PRODUTO VARCHAR(25) = NULL,
@SUBGRUPO_PRODUTO VARCHAR(25) = NULL
)
AS
BEGIN 

	SET NOCOUNT ON
	IF LTRIM(ISNULL(@GRIFFE,'')) = ''
	BEGIN
		SET @GRIFFE = NULL
	END

	IF LTRIM(ISNULL(@LINHA,'')) = ''
	BEGIN
		SET @LINHA = NULL
	END

	IF LTRIM(ISNULL(@GRUPO_PRODUTO,'')) = ''
	BEGIN
		SET @GRUPO_PRODUTO = NULL
	END

	IF LTRIM(ISNULL(@SUBGRUPO_PRODUTO,'')) = ''
	BEGIN
		SET @SUBGRUPO_PRODUTO = NULL
	END

	IF ISNULL(@LINHA,'') = 'PROMOCIONAL'
	BEGIN
		SET @GRIFFE = NULL
		SET @LINHA = NULL
		SET @GRUPO_PRODUTO = NULL
		SET @SUBGRUPO_PRODUTO = NULL
	END

	DECLARE @TABRETORNO TABLE (ERP_GRUPO_MERCADORIA VARCHAR(50) NULL)
	DECLARE @QTDREGS INT 

	INSERT INTO @TABRETORNO
	SELECT 
		/*
		CODIGO_FATOR, 
		GRIFFE, 
		LINHA, 
		GRUPO_PRODUTO, 
		SUBGRUPO_PRODUTO, */
		
		ISNULL(ERP_GRUPO_MERCADORIA,'') AS ERP_GRUPO_MERCADORIA

	FROM CAE_PRODUTOS_FATOR_P
	WHERE 
		GRIFFE = ISNULL(@GRIFFE, GRIFFE)
		AND LINHA = ISNULL(@LINHA, LINHA)
		AND GRUPO_PRODUTO = ISNULL(@GRUPO_PRODUTO, GRUPO_PRODUTO)
		AND SUBGRUPO_PRODUTO = ISNULL(@SUBGRUPO_PRODUTO, SUBGRUPO_PRODUTO)
	GROUP BY ISNULL(ERP_GRUPO_MERCADORIA,'')

	
	SELECT @QTDREGS = COUNT(*)
	FROM @TABRETORNO

	IF @QTDREGS > 1
	BEGIN
		SELECT ERP_GRUPO_MERCADORIA FROM @TABRETORNO
	END
	ELSE
	BEGIN
		IF @QTDREGS = 1
		BEGIN
			DECLARE @ERP_GRUPO_MERCADORIA VARCHAR(50)
			DECLARE @DELIMITER CHAR(1)
			SELECT @ERP_GRUPO_MERCADORIA = ERP_GRUPO_MERCADORIA FROM @TABRETORNO
			SET @DELIMITER = ';'

			select CAST(VALUE AS VARCHAR(50)) AS ERP_GRUPO_MERCADORIA 
			FROM dbo.FX_SplitString2( @ERP_GRUPO_MERCADORIA, @DELIMITER) AS ERP_GRUPO_MERCADORIA 

		END
		ELSE
		BEGIN
			SELECT ERP_GRUPO_MERCADORIA FROM @TABRETORNO
		END

	END

	SET NOCOUNT OFF

END


