USE [CAEDU]
GO
/****** Object:  StoredProcedure [dbo].[PDA_AC_SP_IN_NOTA_FISCAL]    Script Date: 03/08/2026 15:08:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[PDA_AC_SP_IN_NOTA_FISCAL]--'SUMARE','0013310','1',262 
 @FILIAL VARCHAR(30),  
 @NOTA   VARCHAR(10),  
 @SERIE  VARCHAR(5),  
 @USUARIO INT  
AS  
BEGIN  

	--IF(RTRIM(LTRIM(@FILIAL)) = 'MAUA' OR RTRIM(LTRIM(@FILIAL)) = 'SAO MATHEUS')
BEGIN TRY
	
DECLARE @SEQUENCIA AS INT,@COD_FILIAL AS VARCHAR(20);
DECLARE @FILIAL_ORIGEM AS VARCHAR(30);	  
	
UPDATE LOJA_ENTRADAS 
		 SET ENTRADA_CONFERIDA = 1
			   , STATUS_TRANSITO = 4
			   , EMISSAO = convert( varchar,getdate(),112)
			   , OBS = 'Retirado do Transito pelo processo coletor'
 WHERE FILIAL = @FILIAL
	   AND  NUMERO_NF_TRANSFERENCIA = @NOTA
	   AND SERIE_NF_ENTRADA = @SERIE;
	   
	   
SET @FILIAL_ORIGEM =(SELECT FILIAL_ORIGEM FROM LOJA_ENTRADAS WHERE FILIAL = @FILIAL
	   AND  NUMERO_NF_TRANSFERENCIA = @NOTA
	   AND SERIE_NF_ENTRADA = @SERIE
	  );	   
	   
			   
			   
SELECT @COD_FILIAL= A.CODIGO_FILIAL,@SEQUENCIA = ISNULL(MAX(B.SEQUENCIA), 0) + 1  
									FROM LOJAS_VAREJO A LEFT JOIN LOJA_PROCESSOS B 
									ON A.CODIGO_FILIAL = B.CODIGO_FILIAL 
									WHERE A.FILIAL = @FILIAL GROUP BY A.CODIGO_FILIAL;
									
									
INSERT INTO LOJA_PROCESSOS (CODIGO_FILIAL, SEQUENCIA, PROCESSO, COMANDO, DATA_CRIACAO, DATA_PROCESSO, ERRO, DATA_PARA_TRANSFERENCIA)  
VALUES (@COD_FILIAL,
		@SEQUENCIA,
		'LX120024 - BAIXAR TRANSITO DA LOJA',
		'UPDATE LOJA_TRANSITO SET LANCADO_LOJA = 1 WHERE FILIAL_ORIGEM = '+@FILIAL_ORIGEM+' AND NUMERO_NF_TRANSFERENCIA = '+@NOTA+'',
		GETDATE(),
		NULL,
		NULL,
		GETDATE());
			   
END TRY
BEGIN CATCH
END CATCH
  
IF EXISTS (SELECT NF.FILIAL  
     ,NF.NOTA  
     ,NF.SERIE  
     ,NF.USUARIO   
     FROM PDA_AC_TB_NOTA_FISCAL NF  
     WHERE NF.FILIAL = @FILIAL   
    AND   NF.NOTA = @NOTA  
    AND   NF.SERIE = @SERIE and DTATUALIZACAO > dateadd(dd,-365,getdate()) /*'2014-01-01'*/)  -- alterado por Paulo Devide - pegar somente até 1 ano atras para evitar duplicidades

	
      
    SELECT NF.ID  
    FROM PDA_AC_TB_NOTA_FISCAL NF  
    WHERE NF.FILIAL = @FILIAL   
    AND   NF.NOTA = @NOTA  
    AND   NF.SERIE = @SERIE   
         
ELSE      
 INSERT INTO PDA_AC_TB_NOTA_FISCAL  
       (FILIAL,  
        NOTA,  
        SERIE,  
        USUARIO,  
        DTATUALIZACAO)  
   VALUES (@FILIAL,  
     @NOTA,  
     @SERIE,  
     @USUARIO,  
     GETDATE())  
     
SELECT  @@IDENTITY    

 
END  
   
   
