USE [CAEDU]
GO
/****** Object:  StoredProcedure [dbo].[PDA_WMS_GERA_ROMANEIO_LOJA_VIRTUAL]    Script Date: 26/12/2024 15:41:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER  PROCEDURE [dbo].[PDA_WMS_GERA_ROMANEIO_LOJA_VIRTUAL]
/*
AUTOR...: PAULO DEVIDE
DATA....: 25-09-2020
OBJETIVO:
=====================================================================================
PEGA AS CAIXAS QUE FORAM INSERIDAS NA TABELA PDA_WMS_TRANSFERE_ESTOQUE_LOJA_VIRTUAL
QUE TIVEREM DATA_PROCESSAMENTO NULA E FLG_PROCESSAMENTO DESMARCADO E GERA UM ROMANEIO
DE TRANSFERENCIA DE ESTOQUE DO CD CAJAMAR PARA A FILIAL LOJA VIRTUAL

SELECT * 
FROM dbo.PDA_WMS_TRANSFERE_ESTOQUE_LOJA_VIRTUAL 
WHERE ISNULL(DATA_PROCESSAMENTO,'')='' AND FLG_PROCESSAMENTO=0
UPDATE dbo.PDA_WMS_TRANSFERE_ESTOQUE_LOJA_VIRTUAL SET FLG_PROCESSAMENTO=0, data_processamento=null
=====================================================================================
*/
AS
BEGIN

DECLARE @TABCAIXAS table 
(
rownum INT NOT NULL IDENTITY(1,1),
ID INT  NOT NULL PRIMARY KEY,
caixa VARCHAR(8) NOT NULL,
operador VARCHAR(100) NULL,
data_operacao datetime NULL,
ROMANEIO_PRODUTO char(8) NULL,
data_processamento DATETIME NULL,
flg_processamento BIT NOT NULL 
)

INSERT INTO @TABCAIXAS
(ID,
caixa,
operador,
data_operacao,
ROMANEIO_PRODUTO,
data_processamento,
flg_processamento)
SELECT	ID,
		caixa,
		operador,
		data_operacao,
		ROMANEIO_PRODUTO,
		data_processamento,
		flg_processamento 
FROM dbo.PDA_WMS_TRANSFERE_ESTOQUE_LOJA_VIRTUAL 
WHERE ISNULL(DATA_PROCESSAMENTO,'')='' AND FLG_PROCESSAMENTO=0

/*MARCA TODAS AS LINHAS LIDAS COMO PROCESSADAS PARA OUTRO OPERADOR NÃO PEGAR OS MESMOS DADOS PARA PROCESSAR*/
UPDATE A SET flg_processamento = 1
FROM dbo.PDA_WMS_TRANSFERE_ESTOQUE_LOJA_VIRTUAL A
INNER JOIN @TABCAIXAS B ON B.ID = A.ID

declare		@ID INT, 
			@caixa VARCHAR(8), 
			@operador VARCHAR(100), 
			@data_operacao datetime, 
			@ROMANEIO_PRODUTO char(8), 
			@data_processamento DATETIME, 
			@flg_processamento BIT

/*gerar novo sequencial para o romaneio*/
declare @nEmpresa int, @NOVO_CODIGO VARCHAR(8)
set @nEmpresa = 1
SET @NOVO_CODIGO = ''
EXEC LX_SEQUENCIAL 'ESTOQUE_PROD_SAI.ROMANEIO_PRODUTO', @nEmpresa, @NOVO_CODIGO OUTPUT  

SELECT @romaneio_produto = @NOVO_CODIGO

/*Variaveis para dados da tabela pai = ESTOQUE_PROD_SAI*/
declare @filial_origem varchar(25), @filial_destino varchar(25), @RESPONSAVEL VARCHAR(25)
declare @emissao datetime, @tipo_romaneio varchar(25), @romaneio_destino varchar(8)
declare @CM_OPERACAO VARCHAR(3) = '012'

set @filial_origem = 'CD - SP - SAO ROQUE'
set @filial_destino = 'LOJA VIRTUAL SAO ROQUE'
SET @RESPONSAVEL = 'PDA'
set @emissao = convert(varchar,getdate(),112)
set @tipo_romaneio = 'TRANSFERENCIA'
SET @romaneio_destino = 'T'+@ROMANEIO_PRODUTO

INSERT INTO ESTOQUE_PROD_SAI (ROMANEIO_PRODUTO,FILIAL,RESPONSAVEL,EMISSAO,TIPO_ROMANEIO,ROMANEIO_DESTINO,FILIAL_DESTINO,CM_OPERACAO)
VALUES ( @ROMANEIO_PRODUTO, @filial_origem, @RESPONSAVEL, @emissao, @tipo_romaneio,@romaneio_destino,@filial_destino, @CM_OPERACAO )


INSERT INTO ESTOQUE_PROD1_SAI (FILIAL, ROMANEIO_PRODUTO, PRODUTO, COR_PRODUTO, QTDE, CUSTO1,VALOR, ID_MODIFICACAO, 
								SA_1, SA_2, SA_3, SA_4, SA_5, SA_6, SA_7, SA_8, SA_9, SA_10, SA_11, SA_12, SA_13, SA_14, 
								SA_15, SA_16, SA_17, SA_18, SA_19, SA_20, SA_21, SA_22, SA_23, SA_24, SA_25, SA_26, SA_27, SA_28, 
								SA_29, SA_30, SA_31, SA_32, SA_33, SA_34, SA_35, SA_36, SA_37, SA_38, SA_39, SA_40, SA_41, SA_42, 
								SA_43, SA_44, SA_45, SA_46, SA_47, SA_48)

SELECT	@filial_origem AS FILIAL, @romaneio_produto AS ROMANEIO_PRODUTO, A.PRODUTO, A.COR_PRODUTO, 
		SUM(A.QTDE_EMBALADA) AS QTDE_EMBALADA, 	MAX(A.PRECO1) AS PRECO1, SUM(A.VALOR_EMBALADO) AS VALOR_EMBALADO, NULL AS ID_MODIFICACAO,  
		SUM(A.E1) AS E1, SUM(A.E2) AS E2, SUM(A.E3) AS E3, SUM(A.E4) AS E4, SUM(A.E5) AS E5, SUM(A.E6) AS E6, SUM(A.E7) AS E7, 
		SUM(A.E8) AS E8, SUM(A.E9) AS E9, SUM(A.E10) AS E10, SUM(A.E11) AS E11, SUM(A.E12) AS E12, SUM(A.E13) AS E13, SUM(A.E14) AS E14, 
		SUM(A.E15) AS E15, SUM(A.E16) AS E16, SUM(A.E17) AS E17, SUM(A.E18) AS E18, SUM(A.E19) AS E19, SUM(A.E20) AS E20, SUM(A.E21) AS E21, 
		SUM(A.E22) AS E22, SUM(A.E23) AS E23, SUM(A.E24) AS E24, SUM(A.E25) AS E25, SUM(A.E26) AS E26, SUM(A.E27) AS E27, SUM(A.E28) AS E28, 
		SUM(A.E29) AS E29, SUM(A.E30) AS E30, SUM(A.E31) AS E31, SUM(A.E32) AS E32, SUM(A.E33) AS E33, SUM(A.E34) AS E34, SUM(A.E35) AS E35, 
		SUM(A.E36) AS E36, SUM(A.E37) AS E37, SUM(A.E38) AS E38, SUM(A.E39) AS E39, SUM(A.E40) AS E40, SUM(A.E41) AS E41, SUM(A.E42) AS E42, 
		SUM(A.E43) AS E43, SUM(A.E44) AS E44, SUM(A.E45) AS E45, SUM(A.E46) AS E46, SUM(A.E47) AS E47, SUM(A.E48) AS E48

from VENDAS_PROD_EMBALADO A
where caixa IN (SELECT CAIXA FROM @TABCAIXAS)
GROUP BY A.PRODUTO, A.COR_PRODUTO

SET NOCOUNT OFF
/*
ATUALIZA TABELA DA PDA COM DATA DE PROCESSAMENTO
*/
 UPDATE A SET flg_processamento = 1, data_processamento=GETDATE()
FROM dbo.PDA_WMS_TRANSFERE_ESTOQUE_LOJA_VIRTUAL A
INNER JOIN @TABCAIXAS B ON B.ID = A.ID

END
