USE [CAEDU]
GO
/****** Object:  StoredProcedure [dbo].[ARB_EXECUTA_AGENDAMENTOS]    Script Date: 09/11/2023 09:38:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-----------------------------------------------------------------------------------------------------------------------------------------------------------------------
ALTER PROC [dbo].[ARB_EXECUTA_AGENDAMENTOS]
AS
     BEGIN
         DECLARE @id_mark_down INT, @segunda INT, @terca INT, @quarta INT, @quinta INT, @sexta INT, @sabado INT, @domingo INT, @hora TIME, @datainicio DATETIME, @datafim DATETIME, @d INT, @ativo INT, @grife VARCHAR(200), @linha VARCHAR(200), @grupo VARCHAR(200), @idadeinicio INT, @idadefim INT, @evinicio INT, @evfim INT; 

         /* Inclui agendamentos nao criados a partir dos parametros*/

         --INSERT INTO dbo.arb_agendamento_markdown_proposicao(id_mark_down)
         --       SELECT id
         --       FROM dbo.arb_parametros_markdown apm
         --       WHERE id NOT IN
         --       (
         --           SELECT id_mark_down --id
         --           FROM dbo.arb_agendamento_markdown_proposicao aamp
         --       );


	   delete 
	   from arb_markdown_gerado 
	   where convert(nvarchar(10),emissao,112) <= convert( nvarchar(10), DATEADD( dd, -1 , getdate()),112 )
	   and data_aprovacao is null 

         DECLARE proposicao CURSOR
         FOR SELECT id as id_mark_down,
                    segunda,
                    terca,
                    quarta,
                    quinta,
                    sexta,
                    sabado,
                    domingo,
                    hora,
                    datainicio,
                    datafim,
                    d,
                    ativo_1 as ativo,
                    griffe,
                    linha,
                    grupo,
                    idadeinicio,
                    idadefim,
                    evinicio,
                    evfim
             FROM arb_parametros_markdown
             WHERE ativo_1 = 1
                   AND ((DATEPART(DW, GETDATE()) = 1
                         AND dbo.arb_parametros_markdown.domingo = 1)
                        OR (DATEPART(DW, GETDATE()) = 2
                            AND dbo.arb_parametros_markdown.segunda = 1)
                        OR (DATEPART(DW, GETDATE()) = 3
                            AND dbo.arb_parametros_markdown.terca = 1)
                        OR (DATEPART(DW, GETDATE()) = 4
                            AND dbo.arb_parametros_markdown.quarta = 1)
                        OR (DATEPART(DW, GETDATE()) = 5
                            AND dbo.arb_parametros_markdown.quinta = 1)
                        OR (DATEPART(DW, GETDATE()) = 6
                            AND dbo.arb_parametros_markdown.sexta = 1)
                        OR (DATEPART(DW, GETDATE()) = 7
                            AND dbo.arb_parametros_markdown.sabado = 1))
                   AND CONVERT(VARCHAR(10), dbo.arb_parametros_markdown.datainicio, 112) <= CONVERT(VARCHAR(10), GETDATE(), 112)
                   AND CAST(DATEPART(hh, GETDATE()) AS NCHAR(8)) >= CAST(hora AS NCHAR(2)) and CAST(DATEPART(hh, GETDATE()) AS NCHAR(8)) >= CAST(hora AS NCHAR(2));
         OPEN proposicao;
         FETCH NEXT FROM proposicao INTO @id_mark_down, @segunda, @terca, @quarta, @quinta, @sexta, @sabado, @domingo, @hora, @datainicio, @datafim, @d, @ativo, @grife, @linha, @grupo, @idadeinicio, @idadefim, @evinicio, @evfim;
         WHILE @@FETCH_STATUS = 0
             BEGIN

                 SELECT loja,
                        EMISSAO,
                        produto,
                        DESC_PRODUTO,
                        idade,
                        preco_loja,
                        preco_00,
                        preco_85,
                        estoque,
                        qtde_vendida,
                        estoque_total,
                        EV,
                        GRIFFE,
                        LINHA,
                        GRUPO,
                        SUBGRUPO_PRODUTO,
                        idadeinicio,
                        idadefim,
                        evinicio,
                        evfim,
                        desconto,
                        desconto_valor,
                        preco_markdown_sugerido,
                        preco_markdown_menor_sugerido,
                        preco_markdown_maior_sugerido,
                        CASE
                            WHEN(preco_markdown_sugerido - preco_markdown_menor_sugerido) < (preco_markdown_maior_sugerido - preco_markdown_sugerido)
                            THEN preco_markdown_menor_sugerido
                            ELSE preco_markdown_maior_sugerido
                        END AS MARKDOWN,
                        margem
                 INTO #tmpprodutos
                 FROM
                 (
                     SELECT a.loja,
                            a.EMISSAO,
                            a.produto,
                            a.DESC_PRODUTO,
                            a.idade,
                            a.preco_tabela AS preco_loja,
                            --           a.preco_venda AS preco_00,
                            pp0.PRECO1 AS preco_00,
                            pp85.PRECO1 AS preco_85,
                            a.estoque,
                            a.qtde_vendida,
                            a.estoque + a.qtde_vendida estoque_total,
                            a.EV,
                            a.GRIFFE,
                            a.LINHA,
                            a.GRUPO,
                            a.SUBGRUPO_PRODUTO,
                            b.idadeinicio,
                            b.idadefim,
                            b.evinicio,
                            b.evfim,
                            amg.descconto AS desconto,
                            (a.preco_tabela * amg.descconto / 100) AS desconto_valor,
                            a.preco_tabela - (a.preco_tabela * amg.descconto / 100) AS preco_markdown_sugerido,
                     (
                         SELECT *
                         FROM fc_arb_retorna_menor_valor_tabela_p(  a.preco_tabela - (a.preco_tabela * amg.descconto / 100), a.griffe, a.linha, a.grupo  ) NOLOCK  
                     ) AS preco_markdown_menor_sugerido,
                     (
                         SELECT *
                         FROM fc_arb_retorna_maior_valor_tabela_p(a.preco_tabela - (a.preco_tabela * amg.descconto / 100), a.griffe, a.linha, a.grupo  ) NOLOCK
                     ) AS preco_markdown_maior_sugerido,

                            (a.preco_tabela - pp0.PRECO1 / a.preco_tabela) / 10 AS margem
                     FROM --fc_arb_retorna_dados_proposicao(@grife, @linha, @grupo, '%', @idadeinicio, @idadefim, @evinicio, @evfim) AS a
				 -------------------------------------------------------------------------------------------------------------------
				 -----------------Correção dia 20-01-2017 --  para Buscar informações caso seja flagdo o desconsiderar_ev
				    (
					   SELECT *
					   FROM
					   (
						  SELECT DISTINCT
							    NOME_CLIFOR AS loja,
							    emissao,
							    --       pedido,
							    produto,
							    DESC_PRODUTO,
							    DATEDIFF(day, emissao, GETDATE()) AS idade,
						  (
							 SELECT TOP 1 c.PRECO1
							 FROM PRODUTOS_PRECOS c(nolock)
							 WHERE c.CODIGO_TAB_PRECO = VALOR_ATUAL
								  AND a.PRODUTO = c.PRODUTO
						  ) AS preco_tabela,


						 /* (
							SELECT TOP 1 c.PRECO1
							FROM PRODUTOS_PRECOS c(nolock)
							WHERE c.CODIGO_TAB_PRECO = (select valor_atual 
														from PARAMETROS_LOJA inner join FILIAIS
														on PARAMETROS_LOJA.codigo_filial  =  filiais.COD_FILIAL and parametro like '%CODIGO_TAB_PRECO%'
														where FILIAIS.COD_FILIAL =NOME_CLIFOR)
							AND a.PRODUTO = c.PRODUTO -- c.PRODUTO
						  ) AS preco_venda,
						  */
							    MAX(PRECO_LIQUIDO) AS preco_venda,

							    MAX(ESTOQUE) AS estoque,
							    SUM(QTDE) AS qtde_vendida,
							    --       e.preco_liquido / (MAX(d.ESTOQUE) + e.preco_liquido) * 100 AS ev,
							    CASE
								   WHEN(MAX(CAST(isnull(estoque, 0) AS NUMERIC(10, 2))) + SUM(CAST(isnull(QTDE, 0) AS NUMERIC(10, 2))) > 0)
								   THEN((SUM(CAST(isnull(QTDE, 0) AS NUMERIC(10, 2))) / (MAX(CAST(isnull(estoque, 0) AS NUMERIC(10, 2))) + SUM(CAST(isnull(QTDE, 0) AS NUMERIC(10, 2))))) * 100)
								   ELSE 0
							    END AS EV,
							    GRIFFE,
							    LINHA,
							    GRUPO,
							    SUBGRUPO_PRODUTO,
				    (
						  SELECT isnull(
									(
									    SELECT isnull(count(apm.desconsiderar_ev), 0) AS desconsiderar_ev
									    FROM arb_parametros_markdown apm
									    WHERE apm.griffe = @grife
											AND apm.linha = @linha
											AND apm.grupo = @grupo
											AND apm.idadeinicio = @idadeinicio
											AND apm.idadefim = @idadeinicio
											AND apm.evinicio =@evinicio
											AND apm.evfim = @evfim
									) , 0) AS desconsiderar_ev
					   )  as desconsiderar_ev
						  FROM dbo.fc_arb_seleciona_proposicao(@GRIFE, @LINHA, @GRUPO, '%', @idadeInicio, @idadefim, @evinicio, @evfim) a
						  GROUP BY NOME_CLIFOR,
								 produto,
								 GRUPO,
								 SUBGRUPO_PRODUTO,
								 emissao,
								 DESC_PRODUTO,
								 GRIFFE,
								 LINHA,
								 VALOR_ATUAL
					   ) a


				 ----------------------------------------------------------------------------------------------------------------
				 )  a
                          INNER JOIN dbo.arb_parametros_markdown b (nolock) ON a.GRIFFE = b.griffe
                                                                      AND a.LINHA = b.linha
                                                                      AND a.GRUPO = b.grupo
                --                                                      AND a.idade BETWEEN b.idadeinicio AND b.idadefim
                --                                                      AND	 ( 
																--( a.EV BETWEEN @evinicio AND ( case when @evfim = 0  or isnull(a.desconsiderar_ev,0) = 1 then 100 else @evfim END  )  
																--OR isnull(a.desconsiderar_ev,0) = 1  ) 
															 --)
                                                                      AND a.idade >= b.idadeinicio  and a.idade < b.idadefim
                                                                      AND	 ( 
																( a.EV >= @evinicio AND  a.EV < ( case when @evfim = 0  or isnull(b.desconsiderar_ev,0) = 1 then 100 else @evfim END  )  )
																OR isnull(b.desconsiderar_ev,0) = 1  
															 )

                                                                      
                          INNER JOIN PRODUTOS_PRECOS pp0 (nolock) ON a.produto = pp0.PRODUTO
                                                            AND pp0.CODIGO_TAB_PRECO = '00'
                          INNER JOIN PRODUTOS_PRECOS pp85 (nolock) ON a.produto = pp85.PRODUTO
                                                             AND pp85.CODIGO_TAB_PRECO = '85'
					INNER JOIN arb_parametros_markdown amg  (nolock) on a.GRIFFE = amg.griffe
                                                                      AND a.LINHA = amg.linha
                                                                      AND a.GRUPO = amg.grupo
                --                                                      AND a.idade BETWEEN b.idadeinicio AND b.idadefim
                --                                                      AND	 ( 
																--( a.EV BETWEEN @evinicio AND ( case when @evfim = 0  or isnull(a.desconsiderar_ev,0) = 1 then 100 else @evfim END  )  
																--OR isnull(a.desconsiderar_ev,0) = 1  ) 
															 --)
                                                                      AND a.idade >= amg.idadeinicio  and a.idade < amg.idadefim
                                                                      AND	 ( 
																( a.EV >= amg.evinicio AND  a.EV < ( case when @evfim = 0  or isnull(b.desconsiderar_ev,0) = 1 then 100 else amg.evfim END  )  )
																OR isnull(b.desconsiderar_ev,0) = 1  


															 )
		  		    left join (select a.*, b.FILIAL  
							from produtos_preco_log a (nolock)
							join (select f.filial, isnull(b.valor_Atual,a.valor_Atual) as valor_atual from parametros a 
							join filiais f on f.filial = f.filial
							left join parametros_loja b on a.parametro = b.parametro and b.codigo_filial = f.COD_FILIAL 
							where a.parametro = 'CODIGO_TAB_PRECO') b on a.CODIGO_TAB_PRECO = b.valor_atual ) plog on a.produto = plog.produto and a.loja = plog.filial and plog.DATA_ATIVACAO >= getdate() - amg.d 
				    left join arb_markdown_gerado mkd_gerado on a.loja = mkd_gerado.loja and a.produto = mkd_gerado.produto and convert(nvarchar(10),getdate(),112)= convert(nvarchar(10),mkd_gerado.emissao,112)
				    where plog.CODIGO_TAB_PRECO is null and mkd_gerado.id is null
                     --WHERE --loja IN('BARUERI', 'IPIRANGA', 'PRAIA GRANDE') --  AND a.produto = '70220459'
                     --FROM fc_arb_retorna_dados_proposicao('MASCULINO','CONTEMPORANEO','%',90,120,0,60)
                     GROUP BY a.loja,
                              a.EMISSAO,
                              a.produto,
                              a.DESC_PRODUTO,
                              a.idade,
                              a.preco_tabela,
                              a.preco_venda,
                              a.estoque,
                              a.qtde_vendida,
                              a.EV,
                              a.GRIFFE,
                              a.LINHA,
                              a.GRUPO,
                              a.SUBGRUPO_PRODUTO,
                              b.idadeinicio,
                              b.idadefim,
                              b.evinicio,
                              b.evfim,
                              b.descconto,
						amg.descconto,
                              pp0.PRECO1,
                              pp85.PRECO1
                 ) a
                 ORDER BY loja,
                          EMISSAO,
                          produto,
                          idadeinicio;

--print 'GRIFFE :' + @GRIFE + ' / LINHA : ' + @LINHA + ' / GRUPO : ' + @GRUPO + ' / SUB-GRUPO : ' + '%' + ' / ID.INICIO : ' + cast(@idadeInicio  as varchar(15) ) + ' / ID.FIM : ' + CAST(@idadefim as varchar(15)) + ' / EV.INI : ' + CAST(@evinicio as varchar(15)) + ' / EV.FIM : ' + cast(@evfim as varchar(15))                
			 
			  INSERT INTO dbo.arb_markdown_gerado
                 (id,
                  loja,
                  EMISSAO,
                  produto,
                  DESC_PRODUTO,
                  idade,
                  preco_tabela,
                  preco_venda,
                  estoque,
                  qtde_vendida,
                  EV,
                  GRIFFE,
                  LINHA,
                  GRUPO_PRODUTO,
                  SUBGRUPO_PRODUTO,
                  menor,
                  maior,
                  desconto,
                  preco_markdown,
                  custo_cmv,
			   aprovado
                 )
 SELECT @id_mark_down,
                               loja,
                               convert(varchar(10),GETDATE(),112),
                               produto,
                               DESC_PRODUTO,
                               idade,
                               preco_loja,
                               preco_00,
                               estoque,
                               qtde_vendida,
                               EV,
                               GRIFFE,
                               LINHA,
                               GRUPO,
                               SUBGRUPO_PRODUTO,
                               min(preco_markdown_menor_sugerido),
                               max(preco_markdown_maior_sugerido),
                               min(desconto),
                               max(markdown),
                               preco_85,
						1
                        FROM #tmpprodutos
                        WHERE not exists ( select 1  from arb_markdown_gerado a  where a.id = @id_mark_down 
					   and  #tmpprodutos.produto = a.produto 
					   and  #tmpprodutos.griffe = a.griffe 
					   and  #tmpprodutos.LINHA = a.linha 
					   and  #tmpprodutos.grupo = a.GRUPO_PRODUTO 
					   and  a.data_aprovacao is null
					   --and ev between evinicio and case when evfim > 0 then evfim else 1000 end 
					   and ev >= evinicio and ev < evfim -- case when evfim > 0 then evfim else 1000 end 
					   --and (  convert(varchar(10),  #tmpprodutos.emissao, 112) =  convert(varchar(10),  getdate(), 112)) 
					    ) 
				    group by 
						 loja,
                               produto,
                               DESC_PRODUTO,
                               idade,
                               preco_loja,
                               preco_00,
                               estoque,
                               qtde_vendida,
                               EV,
                               GRIFFE,
                               LINHA,
                               GRUPO,
                               SUBGRUPO_PRODUTO,
                               --desconto,
                               preco_85
                        ORDER BY #tmpprodutos.produto,
                                 #tmpprodutos.loja;

/*
       --                 SELECT @id_mark_down,
       --                        loja,
       --                        GETDATE(),
       --                        produto,
       --                        DESC_PRODUTO,
       --                        idade,
       --                        preco_loja,
       --                        preco_00,
       --                        estoque,
       --                        qtde_vendida,
       --                        EV,
       --                        GRIFFE,
       --                        LINHA,
       --                        GRUPO,
       --                        SUBGRUPO_PRODUTO,
       --                        preco_markdown_menor_sugerido,
       --                        preco_markdown_maior_sugerido,
       --                        desconto,
       --                        markdown,
       --                        preco_85,
						 --1
       --                 FROM #tmpprodutos
       --                 WHERE not exists ( select 1  from arb_markdown_gerado a  where a.id = @id_mark_down 
					  -- and  #tmpprodutos.produto = a.produto 
					  -- and  #tmpprodutos.griffe = a.griffe 
					  -- and  #tmpprodutos.LINHA = a.linha 
					  -- and  #tmpprodutos.grupo = a.GRUPO_PRODUTO 
					  -- and  a.data_aprovacao is null
					  -- --and (  convert(varchar(10),  #tmpprodutos.emissao, 112) =  convert(varchar(10),  getdate(), 112)) 
					  --  ) 
       --                 ORDER BY #tmpprodutos.produto,
       --                          #tmpprodutos.loja;
	  */
			 
/*
			 Update arb_markdown_gerado
			 SET CUSTO_CMV = case when CUSTO_CMV = 0  THEN custo_total * ( 100-21.25 ) / 100 ELSE CUSTO_CMV   END
			 where custo_cmv <= 0 
*/


			 Update arb_markdown_gerado
			 SET CUSTO_CMV = case when CUSTO_CMV <= 0  THEN custo * ( 100-21.25 ) / 100  ELSE CUSTO_CMV   END
			 where custo_cmv <= 0 

			 Update arb_markdown_gerado
			 SET CUSTO_CMV = case when CUSTO_CMV <= 0  THEN custo * ( 100-21.25 ) / 100  ELSE CUSTO_CMV   END
			 where custo_cmv <= 0 

			 Update arb_markdown_gerado
			 SET CUSTO_CMV = case when CUSTO_CMV <= 0  THEN custo * ( 100-21.25 ) / 100  ELSE CUSTO_CMV   END
			 where custo_cmv <= 0 

			 

			 update  a
			 set preco_markdown = p1
			 from arb_markdown_gerado a  
			 left join  arb_pbp  b on a.griffe = b.griffe and  a.LINHA= b.linha and b.GRUPO_PRODUTO = a.GRUPO_PRODUTO  
			 and (  b.p1 between menor and maior and preco_markdown = p1  ) 
			 where 
			 isnull(b.p1,0) <> preco_markdown
			 and isnull(b.p1,0) <>  0 


			 update a set a.preco_markdown = b.p1
			 from arb_markdown_gerado a
			 join (select a.id, a.loja, a.emissao, a.produto, min(p1) as p1
			 from arb_markdown_gerado a  
			 join arb_parametros_markdown c on a.id = c.id 
			 join  arb_pbp  b on a.griffe = b.griffe and  a.LINHA= b.linha and b.GRUPO_PRODUTO = a.GRUPO_PRODUTO  
			 and (  b.p1 between menor and maior and  (round(((1)-round(CUSTO_CMV*estoque,(3))/((round(b.p1,(2))*((1)-(27.25)/(100)))*estoque))*(100),(2))) > c.margemminima
			 ) group by a.id, a.loja, a.emissao, a.produto) b on a.id = b.id and a.loja = b.loja and a.emissao = b.emissao and a.produto = b.produto
			 where isnull(b.p1,0) <> preco_markdown
			 and isnull(b.p1,0) <> preco_tabela
			 and isnull(b.p1,0) <>  0 

			 update a set a.aprovado = 1, a.data_aprovacao = getdate()
			 from arb_markdown_gerado a
			 join arb_parametros_markdown b on a.id = b.id 
			 where envia_direto_mark_down = 1

                 DROP TABLE #tmpprodutos;
                 FETCH NEXT FROM proposicao INTO @id_mark_down, @segunda, @terca, @quarta, @quinta, @sexta, @sabado, @domingo, @hora, @datainicio, @datafim, @d, @ativo, @grife, @linha, @grupo, @idadeinicio, @idadefim, @evinicio, @evfim;
             END;
         CLOSE proposicao;
         DEALLOCATE proposicao;
     
	END;

	--drop table #tmpprodutos





