SELECT E.* 
FROM ESTOQUE_PRODUTOS E
/*verifica se PRODUTO+COR está nos recebimentos em SC da Komport*/
WHERE  RTRIM(LTRIM(E.PRODUTO))+RTRIM(LTRIM(E.COR_PRODUTO)) IN

	/*Seleciona todos os produtos com entrada em SC pela KOMPORT (importados) desde 01/01/2023*/
	(select RTRIM(LTRIM(B.PRODUTO))+RTRIM(LTRIM(B.COR_PRODUTO)) AS CHAVE_ENTRADA 
	from estoque_prod_ent A
	INNER JOIN CADASTRO_CLI_FOR C
		ON C.NOME_CLIFOR = A.FILIAL 
	INNER JOIN ESTOQUE_PROD1_ENT B 
		ON B.ROMANEIO_PRODUTO=A.ROMANEIO_PRODUTO AND B.FILIAL=A.FILIAL
	where 1=1 
			AND A.NOME_CLIFOR = 'KOMPORT' 
			AND C.CGC_CPF IN ('46377727006710','46377727001670')
			AND A.EMISSAO > '20230101'
	GROUP BY RTRIM(LTRIM(B.PRODUTO))+RTRIM(LTRIM(B.COR_PRODUTO)) 
	)

AND E.FILIAL = 'CD CAJAMAR' /*define o DEPOSITO de estoque CD CAJAMAR 

							  Para pegar outros depositos de saida só mudar aqui*/ 

/* seleciona estoque se o produto tiver quantidade > 0 em pelo menos 1 posição na grade */
and (es1 > 0 or es2 > 0 or es3 > 0 or es4 > 0 or es5 > 0 or es6 > 0 or es7 > 0 or es8 > 0 
		or es9 > 0 or es10 > 0 or es11 > 0 or es12 > 0 or es13 > 0 or es14 > 0 or es15 > 0 or es16 > 0) 




