--USE [CAEDU]
--GO
--/****** Object:  StoredProcedure [dbo].[LX_GERA_VENDAS_WMS]    Script Date: 29/04/2025 13:38:34 ******/
--SET ANSI_NULLS ON
--GO
--SET QUOTED_IDENTIFIER ON
--GO

--/*-------------------------------------------------------------------------------------------------------------------*/

--ALTER PROCEDURE [dbo].[LX_GERA_VENDAS_WMS] ( @DISTRIBUICAO VARCHAR(12) = NULL )
--AS
--BEGIN 

/*

select * 
update a set caixa=replace(caixa,'B|','A|')
from PDA_WMS_TB_DISTRIBUICAO_COLETA a 
where a.distribuicao = '00038499'

select *
update a set pack = 'A'
from CAEDU_RESERVA_AUTOMATICA_PACK_WMS a
where a.distribuicao = '00038499'

SELECT GERADO, * 
UPDATE A SET GERADO=0
FROM CAEDU_RESERVA_AUTOMATICA_PACK_WMS A WHERE DISTRIBUICAO = '00038499'

select b.pedido,A.* 
from caedu_reserva_automatica_pack_wms a
left join VENDAS_PROD_EMBALADO b on b.pedido = a.VENDA
where distribuicao = '00038499'
*/

DECLARE @DISTRIBUICAO VARCHAR(12) = '00038499' /* APAGAR ESTA LINHA DEPOIS QUANDO COMPILAR A PROCEDURE */

	DECLARE @ERRMSG varchar(400)
	DECLARE @CD_DISTRIBUICAO VARCHAR(25)
	
	SELECT  @CD_DISTRIBUICAO = VALOR_ATUAL FROM PARAMETROS 
	WHERE PARAMETRO = 'PALMA_CD_ORIGEM_DISTRIB'

	SET NOCOUNT ON
	
	IF OBJECT_ID('TempDB.dbo.#RESERVA_AUTOMATICA') IS NOT NULL
	BEGIN
		DROP TABLE #RESERVA_AUTOMATICA
	end 

	IF OBJECT_ID('TempDB.dbo.#DISTRIBUICAO_COLETA') IS NOT NULL
	BEGIN
		DROP TABLE #DISTRIBUICAO_COLETA
	end 

	IF OBJECT_ID('TempDB.dbo.#VENDAS') IS NOT NULL
	BEGIN
		DROP TABLE #VENDAS
	end

	IF OBJECT_ID('TempDB.dbo.#FATURAMENTO_CAIXA') IS NOT NULL
	BEGIN
		DROP TABLE #FATURAMENTO_CAIXA
	end

	IF OBJECT_ID('TempDB.dbo.#CAEDU_RESERVA_AUTOMATICA_WMS') IS NOT NULL
	BEGIN
		DROP TABLE #CAEDU_RESERVA_AUTOMATICA_WMS
	end

	IF OBJECT_ID('TempDB.dbo.#VENDAS_PRODUTO') IS NOT NULL
	BEGIN
		DROP TABLE #VENDAS_PRODUTO
	end

	IF OBJECT_ID('TempDB.dbo.#VENDAS_PROD_EMBALADO') IS NOT NULL
	BEGIN
		DROP TABLE #VENDAS_PROD_EMBALADO
	end

	/*
	* ROTINA PARA PEGAR A DIFERENÇA ENTRE DISTRIBUIÇÃO DE 
	* NACIONAL E IMPORTADO
	* PAULO DEVIDE -> 22-03-19
	*/
	DECLARE @QTD_PIPES INT, @CAIXA_COLETA VARCHAR(100)
	SELECT TOP 1 @CAIXA_COLETA = CAIXA 
	FROM PDA_WMS_TB_DISTRIBUICAO_COLETA 
	WHERE DISTRIBUICAO = @DISTRIBUICAO
	-- CONTA QUANTOS CARACTERES | (PIPE) CONTÉM NA STRING DO CAMPO CAIXA 
	SELECT @QTD_PIPES = LEN(@CAIXA_COLETA) - LEN(REPLACE(@CAIXA_COLETA,'|',''))


	SELECT *, convert(int,null) as COLETA, convert(char(1),null) as PACK1 ,
	ROW_NUMBER() OVER (PARTITION BY DISTRIBUICAO order by DISTRIBUICAO,CAIXA) as COD_RESERVA
	into #RESERVA_AUTOMATICA
	FROM CAEDU_RESERVA_AUTOMATICA_PACK_WMS
	WHERE GERADO = 0 AND (DISTRIBUICAO = @DISTRIBUICAO OR @DISTRIBUICAO is null)

	select ID_COLETA,DISTRIBUICAO,PRODUTO,QTDE, substring(CAIXA,1,1) as PACK,
	ROW_NUMBER() OVER (PARTITION BY DISTRIBUICAO order by DISTRIBUICAO,ID_COLETA) as COD_COLETA
	into #DISTRIBUICAO_COLETA
	FROM PDA_WMS_TB_DISTRIBUICAO_COLETA
	WHERE DISTRIBUICAO = @DISTRIBUICAO

	---COMANDO ORIGINAL - SUPRIMIDO O CAMPO PACK ABAIXO
	--UPDATE A SET A.PACK = B.PACK,  
	--A.COLETA = B.ID_COLETA
	--FROM #RESERVA_AUTOMATICA A
	--JOIN #DISTRIBUICAO_COLETA B ON A.DISTRIBUICAO = B.DISTRIBUICAO AND A.COD_RESERVA = B.COD_COLETA 

	IF @QTD_PIPES > 3 /* DISTRIBUICAO DE IMPORTADO */
	BEGIN
		--SELECT * FROM #DISTRIBUICAO_COLETA
		DECLARE @ICONT INT 
		DECLARE @TOTREG INT
		DECLARE @IREG INT
		DECLARE @QTDE_FILHAS INT
		DECLARE @ID_COD_COLETA INT = 1

		SELECT @ICONT = MIN(COD_COLETA), @TOTREG = MAX(COD_COLETA) 
		FROM #DISTRIBUICAO_COLETA

		DECLARE @TB_DISTRIBUICAO_COLETA TABLE 
		(ID_COLETA INT, 
		DISTRIBUICAO VARCHAR(12), 
		PRODUTO VARCHAR(12), 
		QTDE INT, 
		PACK CHAR(1), 
		COD_COLETA INT)

		DELETE FROM  @TB_DISTRIBUICAO_COLETA
		
		WHILE @ICONT <= @TOTREG
		BEGIN
			SELECT @QTDE_FILHAS = QTDE FROM #DISTRIBUICAO_COLETA 
			WHERE COD_COLETA = @ICONT

			SET @IREG = 1
			WHILE @IREG <= @QTDE_FILHAS
			BEGIN
				
				INSERT INTO @TB_DISTRIBUICAO_COLETA (ID_COLETA,	DISTRIBUICAO, PRODUTO, QTDE, PACK, COD_COLETA)
				SELECT ID_COLETA,	DISTRIBUICAO, PRODUTO, 1 AS QTDE, PACK, @ID_COD_COLETA
				FROM #DISTRIBUICAO_COLETA 
				WHERE COD_COLETA = @ICONT

				SET @ID_COD_COLETA = @ID_COD_COLETA + 1
				SET @IREG = @IREG + 1
			END
			
			SET @ICONT= @ICONT + 1
		END
		
	END

	IF @QTD_PIPES > 3 /* IMPORTADOS */
	BEGIN 
		UPDATE A SET
		A.COLETA = B.ID_COLETA
		FROM #RESERVA_AUTOMATICA A
		JOIN @TB_DISTRIBUICAO_COLETA B ON A.DISTRIBUICAO = B.DISTRIBUICAO AND A.COD_RESERVA = B.COD_COLETA 
	END
	ELSE /* NACIONAIS */
	BEGIN
		UPDATE A SET
		A.COLETA = B.ID_COLETA
		FROM #RESERVA_AUTOMATICA A
		JOIN #DISTRIBUICAO_COLETA B ON A.DISTRIBUICAO = B.DISTRIBUICAO AND A.COD_RESERVA = B.COD_COLETA 
	END

	DELETE #RESERVA_AUTOMATICA WHERE COLETA IS NULL

	--SELECT * FROM #RESERVA_AUTOMATICA

	SELECT DISTINCT A.VENDA AS PEDIDO,Isnull(RTRIM(LTRIM(DBO.FX_PARAMETRO('COLECAO_PADRAO'))),'') AS COLECAO,
	ISNULL(DBO.FX_PARAMETRO_EMPRESA('TABELA_PRECO_PADRAO',0),'') AS CODIGO_TAB_PRECO,ISNULL(DBO.FX_PARAMETRO_EMPRESA('TIPO_VENDA',0),'') AS TIPO,
	convert(varchar(8),getdate(),112) as DATA_RECEBIMENTO,ISNULL(DBO.FX_PARAMETRO_EMPRESA('COND_PGTO_PADRAO',0),'') AS CONDICAO_PGTO, 
	A.FILIAL_ORIGEM AS FILIAL, A.FILIAL AS CLIENTE_ATACADO,ISNULL(B.TRANSPORTADORA,ISNULL(DBO.FX_PARAMETRO_EMPRESA('TRANSPORTADORA_PADRAO',0),'')) AS TRANSPORTADORA,
	ISNULL(DBO.FX_PARAMETRO_EMPRESA('MOEDA_PADRAO',0),'') AS MOEDA,convert(varchar(8),getdate(),112) as EMISSAO,
	(CASE WHEN ISNULL(DBO.FX_PARAMETRO_EMPRESA('CTRL_MULT_ENTREGAS',0),'.F.') = '.T.' THEN 1 ELSE 0 END) AS CTRL_MULT_ENTREGAS,
	convert(char(1),null) as APROVACAO,'VENDAS_PRODUTO' AS TABELA_FILHA,convert(varchar(8),getdate(),112) as CADASTRAMENTO,100 AS ACEITA_PECAS_PEQUENAS, 100 AS ACEITA_PECAS_COM_CORTE,
	' ' AS APROVADO_POR,A.FILIAL AS REPRESENTANTE, A.FILIAL AS GERENTE, 1 as ENTREGA_CIF,FILIAL_ORIGEM AS FILIAL_DIGITACAO, A.FILIAL AS NOME_CLIFOR_ENTREGA,
	convert(numeric(12,2),null) as TOT_VALOR_ENTREGAR, convert(numeric(12,2),null) as TOT_VALOR_ORIGINAL,
	convert(int,null) as TOT_QTDE_ENTREGAR, convert(int,null) as TOT_QTDE_ORIGINAL
	into #VENDAS
	FROM #RESERVA_AUTOMATICA A
	LEFT JOIN CLIENTES_ATACADO B ON A.FILIAL = B.CLIENTE_ATACADO

	UPDATE #VENDAS SET APROVACAO = VENDAS_TIPO.APROVACAO 
	FROM #VENDAS
	JOIN VENDAS_TIPO ON #VENDAS.TIPO = VENDAS_TIPO.TIPO 

	select CAIXA, FILIAL as NOME_CLIFOR, 80 as PESO_BRUTO_CAIXA,0 AS PESO_LIQUIDO_CAIXA, convert(varchar(8),getdate(),112) as DATA_EMBALAGEM,'automatico' as EMBALADOR,
	QTDE_TOTAL as QTDE_CAIXA, '01' as TIPO_CAIXA, FILIAL AS  NOME_CLIFOR_ENTREGA, 1 AS CAIXA_FECHADA
	INTO #FATURAMENTO_CAIXA
	FROM #RESERVA_AUTOMATICA 


	select ROW_NUMBER() OVER (ORDER BY DISTRIBUICAO) AS CHAVE,
	DISTRIBUICAO,A.PRODUTO,COR_PRODUTO,FILIAL,FILIAL_ORIGEM,QTDE_TOTAL,
	Q1,Q2,Q3,Q4,Q5,Q6,Q7,Q8,Q9,Q10,Q11,Q12,Q13,Q14,Q15,Q16,Q17,Q18,Q19,Q20,Q21,Q22,Q23,Q24,
	Q25,Q26,Q27,Q28,Q29,Q30,Q31,Q32,Q33,Q34,Q35,Q36,Q37,Q38,Q39,Q40,Q41,Q42,Q43,Q44,Q45,Q46,Q47,Q48,
	DATA,QTDE_PACK,CAIXA,VENDA,ROMANEIO,GERADO,CODIGO,ROMANEIO_PRODUTO, COD_RESERVA
	into #CAEDU_RESERVA_AUTOMATICA_WMS
	FROM #RESERVA_AUTOMATICA A
	JOIN PRODUTOS_PACKS_PERMITIDOS B ON A.PRODUTO = B.PRODUTO AND A.PACK = B.PACK 


	SELECT VENDA AS PEDIDO , A.PRODUTO, A.COR_PRODUTO, CONVERT(VARCHAR(8),GETDATE(),112) AS ENTREGA, CONVERT(VARCHAR(8),GETDATE(),112) AS LIMITE_ENTREGA, 
	QTDE_TOTAL AS QTDE_ORIGINAL, QTDE_TOTAL AS QTDE_ENTREGAR, 
	convert(numeric(12,2),null) as VALOR_ORIGINAL, convert(numeric(12,2),null) as VALOR_ENTREGAR,
	ISNULL(CASE WHEN b.VARIA_PRECO_COR = 0 THEN c.PRECO1 ELSE d.PRECO1 END,0) AS PRECO1,ISNULL(CASE WHEN b.VARIA_PRECO_COR = 0 THEN c.PRECO2 ELSE d.PRECO2 END,0) AS PRECO2,
	ISNULL(CASE WHEN b.VARIA_PRECO_COR = 0 THEN c.PRECO3 ELSE d.PRECO3 END,0) AS PRECO3,ISNULL(CASE WHEN b.VARIA_PRECO_COR = 0 THEN c.PRECO4 ELSE d.PRECO4 END,0) AS PRECO4,
	Q1 as VO1, Q2 AS VO2, Q3 AS VO3, Q4 AS VO4, Q5 AS VO5, Q6 AS VO6, Q7 AS VO7, Q8 AS VO8, Q9 AS VO9, Q10 AS VO10, Q11 AS VO11, Q12 AS VO12, 
	Q13 AS VO13, Q14 AS VO14, Q15 AS VO15, Q16 AS VO16, Q17 AS VO17, Q18 AS VO18, Q19 AS VO19, Q20 AS VO20, Q21 AS VO21, Q22 AS VO22, Q23 AS VO23, Q24 AS VO24, 
	Q25 AS VO25, Q26 AS VO26, Q27 AS VO27, Q28 AS VO28, Q29 AS VO29, Q30 AS VO30, Q31 AS VO31, Q32 AS VO32, Q33 AS VO33, Q34 AS VO34, Q35 AS VO35, Q36 AS VO36, 
	Q37 AS VO37, Q38 AS VO38, Q39 AS VO39, Q40 AS VO40, Q41 AS VO41, Q42 AS VO42, Q43 AS VO43, Q44 AS VO44, Q45 AS VO45, Q46 AS VO46, Q47 AS VO47, Q48 AS VO48, 
	Q1 AS VE1,  Q2 AS VE2,  Q3 AS VE3,  Q4 AS VE4,  Q5 AS VE5,  Q6 AS VE6,  Q7 AS VE7,  Q8 AS VE8,  Q9 AS VE9,  Q10 AS VE10, Q11 AS VE11, Q12 AS VE12, 
	Q13 AS VE13, Q14 AS VE14, Q15 AS VE15, Q16 AS VE16, Q17 AS VE17, Q18 AS VE18, Q19 AS VE19, Q20 AS VE20, Q21 AS VE21, Q22 AS VE22, Q23 AS VE23, Q24 AS VE24, 
	Q25 AS VE25, Q26 AS VE26, Q27 AS VE27, Q28 AS VE28, Q29 AS VE29, Q30 AS VE30, Q31 AS VE31, Q32 AS VE32, Q33 AS VE33, Q34 AS VE34, Q35 AS VE35, Q36 AS VE36, 
	Q37 AS VE37, Q38 AS VE38, Q39 AS VE39, Q40 AS VE40, Q41 AS VE41, Q42 AS VE42, Q43 AS VE43, Q44 AS VE44, Q45 AS VE45, Q46 AS VE46, Q47 AS VE47, Q48 AS VE48,'0000' as ITEM_PEDIDO
	INTO #VENDAS_PRODUTO
	FROM #CAEDU_RESERVA_AUTOMATICA_WMS A
	JOIN #VENDAS V ON A.VENDA = V.PEDIDO
	JOIN PRODUTOS B ON A.PRODUTO = B.PRODUTO
	LEFT JOIN PRODUTOS_PRECOS C ON A.PRODUTO = C.PRODUTO AND V.CODIGO_TAB_PRECO = C.CODIGO_TAB_PRECO
	LEFT JOIN PRODUTOS_PRECO_COR D ON A.PRODUTO =D.PRODUTO AND A.COR_PRODUTO = D.COR_PRODUTO AND V.CODIGO_TAB_PRECO = D.CODIGO_TAB_PRECO 

	UPDATE #VENDAS_PRODUTO SET VALOR_ORIGINAL = QTDE_ORIGINAL * PRECO1, VALOR_ENTREGAR = QTDE_ENTREGAR * PRECO1

	UPDATE A SET A.TOT_VALOR_ENTREGAR = B.TOT_VALOR_ORIGINAL, A.TOT_VALOR_ORIGINAL = B.TOT_VALOR_ORIGINAL, 
	A.TOT_QTDE_ENTREGAR = B.TOT_QTDE_ORIGINAL, A.TOT_QTDE_ORIGINAL = B.TOT_QTDE_ORIGINAL
	FROM #VENDAS A
	JOIN (SELECT PEDIDO, SUM(VALOR_ORIGINAL) AS TOT_VALOR_ORIGINAL, SUM(QTDE_ORIGINAL) AS TOT_QTDE_ORIGINAL
			FROM #VENDAS_PRODUTO GROUP BY PEDIDO ) B ON A.PEDIDO = B.PEDIDO



	SELECT A.CHAVE,
	1 AS CAIXA_FECHADA, a.CAIXA, a.FILIAL AS NOME_CLIFOR, VENDA AS PEDIDO, CONVERT(VARCHAR(8),GETDATE(),112) AS ENTREGA,
	a.PRODUTO, a.COR_PRODUTO, a.QTDE_TOTAL as QTDE_EMBALADA, b.VALOR_ENTREGAR as VALOR_EMBALADO,
	Q1 AS E1, Q2 AS E2, Q3 AS E3, Q4 AS E4, Q5 AS E5, Q6 AS E6, Q7 AS E7, Q8 AS E8, Q9 AS E9, Q10 AS E10, Q11 AS E11, Q12 AS E12, 
	Q13 AS E13, Q14 AS E14, Q15 AS E15, Q16 AS E16, Q17 AS E17, Q18 AS E18, Q19 AS E19, Q20 AS E20, Q21 AS E21, Q22 AS E22, Q23 AS E23, Q24 AS E24, 
	Q25 AS E25, Q26 AS E26, Q27 AS E27, Q28 AS E28, Q29 AS E29, Q30 AS E30, Q31 AS E31, Q32 AS E32, Q33 AS E33, Q34 AS E34, Q35 AS E35, Q36 AS E36, 
	Q37 AS E37, Q38 AS E38, Q39 AS E39, Q40 AS E40, Q41 AS E41, Q42 AS E42, Q43 AS E43, Q44 AS E44, Q45 AS E45, Q46 AS E46, Q47 AS E47, Q48 AS E48, 
	/*right('000000'+ltrim(convert(varchar(6),ROW_NUMBER() OVER (PARTITION BY A.FILIAL, A.PRODUTO, A.COR_PRODUTO order by A.FILIAL, A.PRODUTO, A.COR_PRODUTO,CAIXA))),6) as ITEM, */
	isnull( dbo.FX_PROXIMO_ITEM_PROD_EMBALADO(a.FILIAL,a.PRODUTO,a.COR_PRODUTO,@CD_DISTRIBUICAO), right(a.CAIXA,6)) AS ITEM,
	b.PRECO1, b.QTDE_ENTREGAR , a.FILIAL_ORIGEM as FILIAL,
	a.produto as PEDIDO_PRODUTO,a.COR_PRODUTO as PEDIDO_COR_PRODUTO,'S' AS ORIGEM,0 AS MATA_SALDO,B.ITEM_PEDIDO, A.FILIAL AS REPRESENTANTE
	INTO #VENDAS_PROD_EMBALADO
	FROM #CAEDU_RESERVA_AUTOMATICA_WMS  A
	JOIN #VENDAS_PRODUTO  B ON A.VENDA = PEDIDO AND A.PRODUTO = B.PRODUTO AND A.COR_PRODUTO = B.COR_PRODUTO

	DECLARE @TOTLINHAS INT, @I INT
	SET @I=1
	SELECT @TOTLINHAS = COUNT(*) FROM #VENDAS_PROD_EMBALADO

	WHILE @I <= @TOTLINHAS
	BEGIN
	   UPDATE #VENDAS_PROD_EMBALADO 
	   SET ITEM = RIGHT(REPLACE(CONVERT(VARCHAR,GETDATE(),114),':',''),6)
	   WHERE CHAVE = @I
	   -- ESPERA 50 MILESIMOS DE SEGUNDO
	   WAITFOR DELAY '00:00:00:50'
	   SET @I = @I + 1
	END


	BEGIN TRANSACTION GERA_VENDAS_WMS

	insert into CAEDU_RESERVA_AUTOMATICA_WMS (	DISTRIBUICAO,PRODUTO,COR_PRODUTO,FILIAL,FILIAL_ORIGEM,QTDE_TOTAL,
												Q1,Q2,Q3,Q4,Q5,Q6,Q7,Q8,Q9,Q10,Q11,Q12,Q13,Q14,Q15,Q16,Q17,Q18,Q19,Q20,Q21,Q22,Q23,Q24,
												Q25,Q26,Q27,Q28,Q29,Q30,Q31,Q32,Q33,Q34,Q35,Q36,Q37,Q38,Q39,Q40,Q41,Q42,Q43,Q44,Q45,Q46,Q47,Q48,
												DATA,QTDE_PACK,CAIXA,VENDA,ROMANEIO,GERADO,CODIGO,ROMANEIO_PRODUTO)
	select DISTRIBUICAO,PRODUTO,COR_PRODUTO,FILIAL,FILIAL_ORIGEM,QTDE_TOTAL,
			Q1,Q2,Q3,Q4,Q5,Q6,Q7,Q8,Q9,Q10,Q11,Q12,Q13,Q14,Q15,Q16,Q17,Q18,Q19,Q20,Q21,Q22,Q23,Q24,
			Q25,Q26,Q27,Q28,Q29,Q30,Q31,Q32,Q33,Q34,Q35,Q36,Q37,Q38,Q39,Q40,Q41,Q42,Q43,Q44,Q45,Q46,Q47,Q48,
			DATA,QTDE_PACK,CAIXA,VENDA,ROMANEIO,GERADO,CODIGO,ROMANEIO_PRODUTO
	from #CAEDU_RESERVA_AUTOMATICA_WMS A WHERE NOT EXISTS (SELECT 1 FROM CAEDU_RESERVA_AUTOMATICA_WMS WHERE DISTRIBUICAO = A.DISTRIBUICAO)
	IF @@ERROR <> 0 
	begin
		select @ERRMSG = 'ERRO AO INSERIR CAEDU_RESERVA_AUTOMATICA_WMS'
		goto error
	end
	
	Insert Into VENDAS (PEDIDO, COLECAO, CODIGO_TAB_PRECO, TIPO, DATA_RECEBIMENTO, CONDICAO_PGTO, FILIAL, CLIENTE_ATACADO, TRANSPORTADORA, 
						MOEDA, EMISSAO, CTRL_MULT_ENTREGAS, APROVACAO, TABELA_FILHA,CADASTRAMENTO, ACEITA_PECAS_PEQUENAS, 
						ACEITA_PECAS_COM_CORTE, APROVADO_POR, REPRESENTANTE, GERENTE,ENTREGA_CIF,FILIAL_DIGITACAO,NOME_CLIFOR_ENTREGA,
						TOT_VALOR_ENTREGAR, TOT_VALOR_ORIGINAL,	TOT_QTDE_ENTREGAR, TOT_QTDE_ORIGINAL, NATUREZA_SAIDA) 
	select	PEDIDO, COLECAO, CODIGO_TAB_PRECO, TIPO, DATA_RECEBIMENTO, CONDICAO_PGTO, FILIAL, CLIENTE_ATACADO, TRANSPORTADORA, 
			MOEDA, EMISSAO, CTRL_MULT_ENTREGAS, APROVACAO, TABELA_FILHA,CADASTRAMENTO, ACEITA_PECAS_PEQUENAS, 
			ACEITA_PECAS_COM_CORTE, APROVADO_POR, REPRESENTANTE, GERENTE,1 AS ENTREGA_CIF,FILIAL_DIGITACAO,NOME_CLIFOR_ENTREGA,
			TOT_VALOR_ENTREGAR, TOT_VALOR_ORIGINAL,	TOT_QTDE_ENTREGAR, TOT_QTDE_ORIGINAL, '120.01' AS NATUREZA_SAIDA 
	from #VENDAS A WHERE NOT EXISTS (SELECT 1 FROM VENDAS WHERE PEDIDO = A.PEDIDO)
	IF @@ERROR <> 0 
	begin
		select @ERRMSG = 'ERRO AO INSERIR VENDAS'
		goto error
	end
	
	INSERT INTO FATURAMENTO_CAIXAS (CAIXA,NOME_CLIFOR,PESO_BRUTO_CAIXA,PESO_LIQUIDO_CAIXA,DATA_EMBALAGEM,EMBALADOR,
									QTDE_CAIXA, TIPO_CAIXA,NOME_CLIFOR_ENTREGA,CAIXA_FECHADA)
	select	CAIXA,NOME_CLIFOR,PESO_BRUTO_CAIXA,PESO_LIQUIDO_CAIXA,DATA_EMBALAGEM,EMBALADOR,
			QTDE_CAIXA, TIPO_CAIXA,NOME_CLIFOR_ENTREGA,1 as CAIXA_FECHADA
	from #FATURAMENTO_CAIXA A WHERE NOT EXISTS (SELECT 1 FROM FATURAMENTO_CAIXAS WHERE CAIXA = A.CAIXA)
	IF @@ERROR <> 0 
	begin
		select @ERRMSG = 'ERRO AO INSERIR FATURAMENTO_CAIXAS'
		goto error
	end
	
	INSERT INTO VENDAS_PRODUTO (PEDIDO , PRODUTO, COR_PRODUTO, ENTREGA, LIMITE_ENTREGA, 
								QTDE_ORIGINAL, QTDE_ENTREGAR, VALOR_ORIGINAL, VALOR_ENTREGAR, PRECO1,PRECO2, PRECO3, PRECO4, 
								VO1, VO2, VO3, VO4, VO5, VO6, VO7, VO8, VO9, VO10, VO11, VO12, VO13, VO14, VO15, VO16, VO17, VO18, VO19, VO20, 
								VO21, VO22, VO23, VO24, VO25, VO26, VO27, VO28, VO29, VO30, VO31, VO32, VO33, VO34, VO35, VO36, VO37, VO38, VO39, VO40, VO41, 
								VO42, VO43, VO44, VO45, VO46, VO47, VO48, VE1,  VE2,  VE3,  VE4,  VE5,  VE6,  VE7,  VE8,  VE9,  VE10, VE11, VE12, VE13, VE14, 
								VE15, VE16, VE17, VE18, VE19, VE20, VE21, VE22, VE23, VE24, VE25, VE26, VE27, VE28, VE29, VE30, VE31, VE32, VE33, VE34, VE35, 
								VE36, VE37, VE38, VE39, VE40, VE41, VE42, VE43, VE44, VE45, VE46, VE47, VE48, ITEM_PEDIDO) 
	select  PEDIDO , PRODUTO, COR_PRODUTO, ENTREGA, LIMITE_ENTREGA, 
			QTDE_ORIGINAL, QTDE_ENTREGAR, VALOR_ORIGINAL, VALOR_ENTREGAR, PRECO1,PRECO2, PRECO3, PRECO4, 
			VO1, VO2, VO3, VO4, VO5, VO6, VO7, VO8, VO9, VO10, VO11, VO12, VO13, VO14, VO15, VO16, VO17, VO18, VO19, VO20, 
			VO21, VO22, VO23, VO24, VO25, VO26, VO27, VO28, VO29, VO30, VO31, VO32, VO33, VO34, VO35, VO36, VO37, VO38, VO39, VO40, VO41, 
			VO42, VO43, VO44, VO45, VO46, VO47, VO48, VE1,  VE2,  VE3,  VE4,  VE5,  VE6,  VE7,  VE8,  VE9,  VE10, VE11, VE12, VE13, VE14, 
			VE15, VE16, VE17, VE18, VE19, VE20, VE21, VE22, VE23, VE24, VE25, VE26, VE27, VE28, VE29, VE30, VE31, VE32, VE33, VE34, VE35, 
			VE36, VE37, VE38, VE39, VE40, VE41, VE42, VE43, VE44, VE45, VE46, VE47, VE48, ITEM_PEDIDO
	from #VENDAS_PRODUTO A WHERE NOT EXISTS (SELECT 1 FROM VENDAS_PRODUTO WHERE PEDIDO = A.PEDIDO)
	IF @@ERROR <> 0 
	begin
		select @ERRMSG = 'ERRO AO INSERIR VENDAS_PRODUTO '
		goto error
	end

	INSERT INTO VENDAS_PROD_EMBALADO (CAIXA_FECHADA, CAIXA, NOME_CLIFOR, PEDIDO,ENTREGA,PRODUTO,COR_PRODUTO,QTDE_EMBALADA,
										E1, E2,E3, E4,E5, E6,E7, E8, E9, E10,E11,E12, E13,E14,E15,E16, E17,E18,E19,E20, E21,E22,E23,E24,
										E25,E26,E27,E28, E29,E30,E31,E32, E33,E34,E35,E36, E37,E38,E39,E40, E41,E42,E43,E44,E45,E46,E47,E48,
										ITEM,PRECO1,VALOR_EMBALADO,FILIAL,PEDIDO_PRODUTO,PEDIDO_COR_PRODUTO,ORIGEM,MATA_SALDO,ITEM_PEDIDO,REPRESENTANTE) 
	select	1 as CAIXA_FECHADA, CAIXA, NOME_CLIFOR, PEDIDO,ENTREGA,PRODUTO,COR_PRODUTO,QTDE_EMBALADA,
			E1, E2,E3, E4,E5, E6,E7, E8, E9, E10,E11,E12, E13,E14,E15,E16, E17,E18,E19,E20, E21,E22,E23,E24,
			E25,E26,E27,E28, E29,E30,E31,E32, E33,E34,E35,E36, E37,E38,E39,E40, E41,E42,E43,E44,E45,E46,E47,E48,
			ITEM,PRECO1,VALOR_EMBALADO,FILIAL,PEDIDO_PRODUTO,PEDIDO_COR_PRODUTO,ORIGEM,MATA_SALDO,ITEM_PEDIDO,REPRESENTANTE
	from #VENDAS_PROD_EMBALADO A WHERE NOT EXISTS (SELECT 1 FROM VENDAS_PROD_EMBALADO WHERE PEDIDO = A.PEDIDO)
	IF @@ERROR <> 0 
	begin
		select @ERRMSG = 'ERRO AO INSERIR VENDAS_PROD_EMBALADO'
		goto error
	end

	UPDATE A SET A.GERADO = 1
	FROM CAEDU_RESERVA_AUTOMATICA_PACK_WMS A
	JOIN #RESERVA_AUTOMATICA B ON A.DISTRIBUICAO = B.DISTRIBUICAO
	IF @@ERROR <> 0 
	begin
		select @ERRMSG = 'ERRO AO ATUALIZAR CAEDU_RESERVA_AUTOMATICA_PACK_WMS'
		goto error
	end

	UPDATE A SET A.GERADO = 1
	FROM CAEDU_RESERVA_AUTOMATICA_WMS A
	JOIN #RESERVA_AUTOMATICA B ON A.DISTRIBUICAO = B.DISTRIBUICAO
	IF @@ERROR <> 0 
	begin
		select @ERRMSG = 'ERRO AO ATUALIZAR CAEDU_RESERVA_AUTOMATICA_WMS'
		goto error
	end

	COMMIT TRANSACTION GERA_VENDAS_WMS
	RETURN

---------------------------------------------------------------------------------------------------------------------------------------
	ERROR:
	
	IF @@TRANCOUNT > 0
		ROLLBACK TRANSACTION GERA_VENDAS_WMS
	IF @ERRMSG IS NOT NULL
	BEGIN
		RAISERROR (@ERRMSG,11,1)
	END	
	
	SET NOCOUNT OFF

--END 

select * from #VENDAS 

--select * from #VENDAS_PRODUTO

--select * from #RESERVA_AUTOMATICA

/*
SELECT * FROM PRODUTOS_PACKS_PERMITIDOS WHERE PRODUTO='47012312'
select * from compras_produto where produto = '47012312'

select *
--update a set pack='A'
from CAEDU_RESERVA_AUTOMATICA_PACK_WMS a where distribuicao = '00037675'

select *
--update a set caixa = replace(caixa,'B|','A|')
from PDA_WMS_TB_DISTRIBUICAO_COLETA a where distribuicao = '00037675'
*/