USE [CAEDU]
GO
/****** Object:  Trigger [dbo].[LXU_FATURAMENTO]    Script Date: 04/04/2018 17:34:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER TRIGGER [dbo].[LXU_FATURAMENTO] 
ON [dbo].[FATURAMENTO]
FOR UPDATE NOT FOR REPLICATION
AS 
-- UPDATE Trigger On FATURAMENTO
-- 23/11/2016 - Edson Filenti		 - #9# - Demanda 11797 - InclusÃ£o da verificaÃ§Ã£o STATUS_NFE = 5 (AUTORIZADA) para a inclusÃ£o do comando LX_GERA_TRANSFERENCIA_AUTOMATICA na tabela LX_PROCESSOS_LOG
-- 04/02/2016 - Szalontai		 - #8# - Demanda 1658 - Tratamento de custo por matriz contabil
-- 18/11/2014 - RODRIGO SOUZA		- TP 4688930 - #7# - Melhoria - Adicionado tratamento para nÃ£o permitir cancelar a nota quando o estoque ficara negativo e a filial nÃ£o permite estoque negativo.
-- 22/01/2013 - WENDEL CRESPIGIO	- TP 4967670 - #6# - INCLUIDO A COLUNA USUARIO_RETIRADA NA ALTERAÃ‡ÃƒO FEITA PELO ALEX BORTOTO A COLUNA NÃƒO ACEITA NULL.
-- 13/09/2013 - DANIEL GONCALVES	- TP 4260968 - #1# - ALTERADO TAMANHO DO CAMPO SERIE DE 3 PARA 6.
-- 26/03/2013 - RAFAEL			- #5# TP 3485165 - Add tratamento para atualizacao do STATUS_NFE para NF Denegada
-- 04/12/2012 - ALEX BORTOTO		- TP 3158989 - #4# - INCLUSAO DE TRATAMENTO DE CANCELAMENTO DE NOTAS COM BORDERO GERADO.
-- 29/10/2012 - RAFAEL				- #3# TP'S 3101063, 3101125 - Add tratamento na atualizacao do STATUS_NFE para notas canceladas
-- 15/10/2012 - SAMUEL				- #2# TP 3055807 - Add tratamento na atualizacao do STATUS_NFE
-- 01/08/2012 - RAFAEL				- #1# TP 2805768 - ADD Tratamento na atualizacao do STATUS_NFE quando nao estiver definido o PROTOCOLO_AUTORIZACAO_NFE e DATA_AUTORIZACAO_NFE
-- 23/07/2012 - RAFAEL				- ALTERACAO NA QUANTIDADE DE DIGITOS DA NOTA FISCAL E SERIE NF
-- 30/08/2011 - PADIAL				- TRATAMENTO PARA GERAR TRANSFERENCIA SOMENTE PARA PARA PRODUTO (TABELA FILHA)
-- 29/06/2010 - Padial				- O campo item_nfe nÃ£o existe na tabela faturamento e foi colocado erroneamente na versao 8.01. E como ele estava nesta trigger, foi tirado.
-- 12/05/2010 - Samuel				- Regra especial para evitar travas do negocio  
-- 15/01/2010 - Padial				- Inclusao de uma condicao para verificar se a nota e uma NF-e ao integrar o faturamento novamente
-- Alterada por Denys				- 08/04/2008 - Ao alterar o campo NOME_CLIFOR, "zera" a entrada em transito para a filial antiga e cria uma nova (se nao for cancelamento de NF).

Begin

	Declare	@numrows	Int,
		@nullcnt	Int,
		@validcnt	Int,
		@insFILIAL varchar(25)  , 
		@insSERIE_NF char(6)  , --#1# 
		@insNF_SAIDA char(15) ,
		@delFILIAL varchar(25)  , 
		@delSERIE_NF char(6)  , --#1# 
		@delNF_SAIDA char(15) ,
		@errno   Int,
		@errmsg  varchar(255)


	Select @numrows = @@rowcount

IF (UPDATE(NUMERO_CONHECIMENTO_RELACIONADO) or UPDATE(NRO_CONHECIMENTO_EMBARQUE) or UPDATE(DATA_CONHECIMENTO) or UPDATE(TIPO_CONHECIMENTO))
		and  not(UPDATE(FILIAL) OR UPDATE(NF_SAIDA) OR 
		UPDATE(SERIE_NF) OR UPDATE(CODIGO_LOCAL_ENTREGA) OR 
		UPDATE(FILIAL_FATURADA) OR UPDATE(TIPO_FATURAMENTO) OR 
		UPDATE(LANCAMENTO) OR UPDATE(NOME_CLIFOR) OR 
		UPDATE(CONDICAO_PGTO) OR UPDATE(NATUREZA_SAIDA) OR 
		UPDATE(TRANSPORTADORA) OR UPDATE(TRANSP_REDESPACHO) OR 
		UPDATE(TIPO_FRETE) OR UPDATE(COD_TRANSACAO) OR 
		UPDATE(EMISSAO) OR UPDATE(DATA_SAIDA) OR 
		UPDATE(FRETE) OR UPDATE(SEGURO) OR 
		UPDATE(DESCONTO) OR UPDATE(DESCONTO_COND_PGTO) OR 
		UPDATE(ENCARGO) OR UPDATE(ICMS) OR 
		UPDATE(IPI_VALOR) OR UPDATE(VALOR_TOTAL) OR 
		UPDATE(QTDE_TOTAL) OR UPDATE(NF_FATURA) OR 
		UPDATE(FATURA) OR UPDATE(NOTA_IMPRESSA) OR 
		UPDATE(ACERTO_CONTAS_P_R) OR UPDATE(TABELA_FILHA) OR 
		UPDATE(OBS) OR UPDATE(PESO_LIQUIDO) OR 
		UPDATE(PESO_BRUTO) OR UPDATE(VOLUMES) OR 
		UPDATE(TIPO_VOLUME) OR UPDATE(CONFERIDO) OR 
		UPDATE(CONFERIDO_POR) OR UPDATE(ENTREGA_CIF) OR 
		UPDATE(IRRF) OR UPDATE(IRRF_RET_FONTE) OR 
		UPDATE(NOTA_CANCELADA) OR UPDATE(DEVOLUCAO) OR 
		UPDATE(REPRESENTANTE) OR UPDATE(COMISSAO) OR 
		UPDATE(PORCENTAGEM_ACERTO) OR UPDATE(GERENTE) OR 
		UPDATE(COMISSAO_GERENTE) OR UPDATE(DESCONTO_BRUTO) OR 
		UPDATE(TIMESTAMP) OR UPDATE(CONFERENCIA) OR 
		UPDATE(MARCA_EXPORTACAO) OR UPDATE(ATUALIZACAO_EXPORTAR) OR 
		UPDATE(DATA_EXPORTACAO) OR UPDATE(ICMS_BASE) OR 
		UPDATE(STATUS_TRANSITO) OR UPDATE(DATA_CANCELAMENTO) OR 
		UPDATE(VALOR_CANCELADO) OR UPDATE(QTDE_CANCELADA) OR 
		UPDATE(MOEDA) OR UPDATE(CAMBIO_NA_DATA) OR 
		UPDATE(COBRAR_MOEDA_PADRAO) OR UPDATE(DATA_FATURAMENTO_RELATIVO) OR 
		UPDATE(RECARGO) OR UPDATE(DATA_PARA_TRANSFERENCIA) OR 
		UPDATE(NOME_CLIFOR_ENTREGA) OR UPDATE(TABELA_PRECO_FRETE) OR 
		UPDATE(VALOR_FRETE) OR UPDATE(NOME_CLIFOR_COBRANCA) OR 
		UPDATE(VALOR_ADICIONAL) OR UPDATE(IPI_ADICIONAL) OR 
		UPDATE(OBS_TRANSPORTE) OR UPDATE(AGRUPAMENTO_ITENS) OR 
		UPDATE(COMISSAO_VALOR) OR UPDATE(COMISSAO_VALOR_GERENTE) OR 
		UPDATE(CTB_ITEM) OR UPDATE(CTB_LANCAMENTO) OR 
		UPDATE(DESCONTO_BRUTO_1) OR UPDATE(DESCONTO_BRUTO_2) OR 
		UPDATE(DESCONTO_BRUTO_3) OR UPDATE(DESCONTO_BRUTO_4) OR 
		UPDATE(DESCONTO_SOBRE_1) OR UPDATE(DESCONTO_SOBRE_2) OR 
		UPDATE(DESCONTO_SOBRE_3) OR UPDATE(DESCONTO_SOBRE_4) OR 
		UPDATE(EMPRESA) OR UPDATE(FATURA_FILIAL) OR 
		UPDATE(FATURA_NUMERO) OR UPDATE(FATURA_SERIE) OR 
		UPDATE(ICMS_ISENTO) OR UPDATE(ICMS_OUTROS) OR 
		UPDATE(MPADRAO_DESCONTO) OR UPDATE(MPADRAO_DESCONTO_COND_PGTO) OR 
		UPDATE(MPADRAO_ENCARGO) OR UPDATE(MPADRAO_FRETE) OR 
		UPDATE(MPADRAO_IMPOSTO_AGREGAR) OR UPDATE(MPADRAO_SEGURO) OR 
		UPDATE(MPADRAO_VALOR_SUB_ITENS) OR UPDATE(MPADRAO_VALOR_TOTAL) OR 
		UPDATE(MULTI_DESCONTO_ACUMULAR) OR UPDATE(NUMERO_CONFERENCIA) OR 
		UPDATE(PORC_DESCONTO) OR UPDATE(PORC_DESCONTO_BRUTO) OR 
		UPDATE(PORC_DESCONTO_COND_PGTO) OR UPDATE(PORC_DESCONTO_DIGITADO) OR 
		UPDATE(PORC_ENCARGO) OR UPDATE(RATEIO_CENTRO_CUSTO) OR 
		UPDATE(RATEIO_FILIAL) OR UPDATE(VALOR_DIFERENCA_GUIA_FATURA) OR 
		UPDATE(VALOR_IMPOSTO_AGREGAR) OR UPDATE(VALOR_SUB_ITENS) OR 
		UPDATE(IMPRIMIR_ENDERECO_COBRANCA) OR UPDATE(INDICA_CONSUMIDOR_FINAL) OR 
		UPDATE(BANCO) OR UPDATE(AGENCIA) OR UPDATE(RESPONSAVEL_TRANSPORTE) OR 
		UPDATE(NOTA_COMPLEMENTAR) OR UPDATE(PORC_DESCONTO_SEFAZ) OR 
		UPDATE(DESCONTO_SEFAZ) OR UPDATE(MPADRAO_DESCONTO_SEFAZ) OR 
		UPDATE(ID_CAIXA_PGTO) OR UPDATE(NRO_DE) OR UPDATE(DATA_DE) OR 
		UPDATE(NATUREZA_EXPORTACAO) OR UPDATE(NRO_RE) OR UPDATE(DATA_RE) OR 
		UPDATE(COD_PAIS) OR UPDATE(NRO_COMPROVANTE_EXPORTACAO) OR 
		UPDATE(DATA_COMPROVANTE_EXPORTACAO) OR UPDATE(DATA_AVERBACAO) OR 
		UPDATE(NF_EMITIDA_EXPORTADOR) OR UPDATE(COD_RELACIONAMENTO_RE_NF) OR 
		UPDATE(NF_E_NUMERO) OR UPDATE(NF_E_DATA_EMISSAO) OR 
		UPDATE(NF_E_COD_VERIFICACAO) OR UPDATE(NF_E_DATA_QUITACAO_GUIA) OR 
		UPDATE(NF_E_GERACAO) OR UPDATE(SEQUENCIAL_UNICO) OR 
		UPDATE(DATA_GERACAO_NSU) OR UPDATE(CODIGO_CLIENTE_VAREJO) OR 
		UPDATE(PIN) OR UPDATE(CHAVE_NFE) OR UPDATE(PROTOCOLO_AUTORIZACAO_NFE) OR 
		UPDATE(PROTOCOLO_CANCELAMENTO_NFE) OR UPDATE(DATA_AUTORIZACAO_NFE) OR 
		UPDATE(GERAR_AUTOMATICO) OR --UPDATE(STATUS_NFE) OR UPDATE(LOG_STATUS_NFE) OR 
		UPDATE(MOTIVO_CANCELAMENTO_NFE) OR
		UPDATE(PRIORIZACAO) OR UPDATE(REGISTRO_DPEC) OR UPDATE(DATA_REGISTRO_DPEC) OR 
		UPDATE(TIPO_EMISSAO_NFE) OR UPDATE(FIN_EMISSAO_NFE) OR UPDATE(COD_MOTIVO_CANC))
	RETURN

-- Bloqueio Estoque PA ------------------------------------------------------------------------------------------
	IF UPDATE(EMISSAO)
	BEGIN
		/*
		--Verifica Bloqueio por Parametro DATA_BLOQUEIO_MOV_PA
		DECLARE @dDataSaldo DateTime
		SELECT @dDataSaldo='18000101'
		SELECT @dDataSaldo=IsNull(CONVERT(DATETIME,VALOR_ATUAL,103),'18000101') FROM PARAMETROS WHERE PARAMETRO='DATA_BLOQUEIO_MOV_PA'

		IF EXISTS (	SELECT EMISSAO
				FROM Inserted 
				WHERE EMISSAO < @dDataSaldo )

			AND 
			EXISTS (	SELECT EMISSAO
				FROM Deleted 
				WHERE EMISSAO < @dDataSaldo )

		BEGIN
			Select 	@errno=30002,
				@errmsg='NÃ£o Ã© possÃ­Â­vel alterar Movimentacao de Estoque anterior a #'+CONVERT(Char(10),@dDataSaldo,103)+' !'
			GoTo Error
		END
		*/

		/*
		#8#
		-------------------------------------------------------------------------------------------------------------------------
		INICIO
		-------------------------------------------------------------------------------------------------------------------------
		*/
		--/*
		DECLARE @xDataSaldoI DateTime,@xDataSaldoD DateTime,@xfilial char(25)
		SELECT @xDataSaldoI='18000101', @xDataSaldoD='18000101'

		SELECT @xDataSaldoD=B.DATA_SALDO_PA
   		FROM Deleted A	 
		INNER JOIN CM_DATA_FECHAMENTO B	ON	A.FILIAL = B.FILIAL AND A.EMISSAO<B.DATA_SALDO_PA

		SELECT @xDataSaldoI=B.DATA_SALDO_PA,@xfilial = A.FILIAL	
   		FROM Inserted A	 
		INNER JOIN CM_DATA_FECHAMENTO B	ON	A.FILIAL = B.FILIAL AND A.EMISSAO<B.DATA_SALDO_PA
	
		IF	(
				SELECT COUNT(*)    
   				FROM Deleted A	 
				INNER JOIN CM_DATA_FECHAMENTO B	ON	A.FILIAL = B.FILIAL AND A.EMISSAO<@xDataSaldoD 
			)+
			(
				SELECT COUNT(*)    
   				FROM Inserted A	 
				INNER JOIN CM_DATA_FECHAMENTO B	ON	A.FILIAL = B.FILIAL AND  A.EMISSAO<@xDataSaldoI 
			) > 0	
		BEGIN
			SELECT 	@errno=30002,
				@errmsg='NÃ£o Ã© possÃ­Â­vel alterar Movimentacao de Estoque anterior a #'+CONVERT(Char(10),@xDataSaldoI,103)+' para a filial '+rtrim(ltrim(@xfilial))+' !'
			GOTO error
		END
		--*/
		/*
		-------------------------------------------------------------------------------------------------------------------------
		FIM
		-------------------------------------------------------------------------------------------------------------------------
		*/

		--Verifica Bloqueio por Contagem
		IF EXISTS (	SELECT Inserted.EMISSAO
				FROM Inserted 
					JOIN FATURAMENTO_PROD ON 
						Inserted.NF_SAIDA = FATURAMENTO_PROD.NF_SAIDA AND 
						Inserted.FILIAL = FATURAMENTO_PROD.FILIAL AND 
						Inserted.SERIE_NF = FATURAMENTO_PROD.SERIE_NF
					JOIN FILIAIS ON 
						FILIAIS.COD_FILIAL = FATURAMENTO_PROD.COD_FILIAL_ESTOQUE
					JOIN ESTOQUE_PRODUTOS ON 
						ESTOQUE_PRODUTOS.FILIAL=FILIAIS.FILIAL AND 
						ESTOQUE_PRODUTOS.PRODUTO=FATURAMENTO_PROD.PRODUTO AND 
						ESTOQUE_PRODUTOS.COR_PRODUTO=FATURAMENTO_PROD.COR_PRODUTO 
				WHERE Inserted.EMISSAO <= ESTOQUE_PRODUTOS.DATA_AJUSTE )

			AND 
			EXISTS (	SELECT Deleted.EMISSAO
				FROM Deleted 
					JOIN FATURAMENTO_PROD ON 
						Deleted.NF_SAIDA = FATURAMENTO_PROD.NF_SAIDA AND 
						Deleted.FILIAL = FATURAMENTO_PROD.FILIAL AND 
						Deleted.SERIE_NF = FATURAMENTO_PROD.SERIE_NF
					JOIN FILIAIS ON 
						FILIAIS.COD_FILIAL = FATURAMENTO_PROD.COD_FILIAL_ESTOQUE
					JOIN ESTOQUE_PRODUTOS ON 
						ESTOQUE_PRODUTOS.FILIAL=FILIAIS.FILIAL AND 
						ESTOQUE_PRODUTOS.PRODUTO=FATURAMENTO_PROD.PRODUTO AND 
						ESTOQUE_PRODUTOS.COR_PRODUTO=FATURAMENTO_PROD.COR_PRODUTO 
				WHERE Deleted.EMISSAO <= ESTOQUE_PRODUTOS.DATA_AJUSTE )

		BEGIN
			Select 	@errno=30002,
				@errmsg='NÃ£o Ã© possÃ­Â­vel alterar Movimentacao de Estoque anterior ao ajuste!'
			GoTo Error
		END
	END
	
	--#4# INCLUSÃƒÆ’O DE LOG DE CANCELAMENTOS DE FATURAS COM TÃƒÂTULOS ENVIADOS A BORDERÃƒâ€.
	
	IF UPDATE(NOTA_CANCELADA)
	BEGIN 

			
			INSERT INTO CTB_A_RECEBER_CANCELAMENTO (
														FATURA, ID_PARCELA, EMISSAO, COD_FILIAL, COD_CLIFOR, VENCIMENTO, 
														VENCIMENTO_REAL, VALOR_A_RECEBER, DATA_CANCELAMENTO,
														USUARIO, INDICA_RETIRADA,USUARIO_RETIRADA)
			SELECT		B.FATURA, C.ID_PARCELA, B.EMISSAO, B.COD_EMISSOR, B.COD_CLIFOR, C.VENCIMENTO, 
						C.VENCIMENTO_REAL, C.VALOR_A_RECEBER, DATA_CANCELAMENTO = GETDATE(), 
						USUARUIO = UPPER(SYSTEM_USER) + ' # ' + HOST_NAME(), INDICA_RETIRADA = 0,
						USUARIO_RETIRADA =  UPPER(SYSTEM_USER) + ' # ' + HOST_NAME() -- #6#
			FROM 		DELETED A
			INNER JOIN	CTB_A_RECEBER_FATURA B
							ON	A.EMPRESA = B.EMPRESA AND A.CTB_LANCAMENTO = B.LANCAMENTO AND A.CTB_ITEM = B.ITEM	
			INNER JOIN	CTB_A_RECEBER_PARCELA C
							ON	B.EMPRESA = C.EMPRESA AND B.LANCAMENTO = C.LANCAMENTO AND B.ITEM = C.ITEM			
			INNER JOIN	CTB_BORDERO_PARCELA_CMD D
							ON	C.EMPRESA = D.EMPRESA AND C.LANCAMENTO = D.LANCAMENTO_MOV AND C.ITEM = D.ITEM_MOV AND
								C.ID_PARCELA = D.ID_PARCELA	
			LEFT JOIN	CTB_A_RECEBER_CANCELAMENTO E
							ON	B.FATURA = E.FATURA AND C.ID_PARCELA = E.ID_PARCELA AND B.EMISSAO = E.EMISSAO AND
								B.COD_EMISSOR = E.COD_FILIAL AND B.COD_CLIFOR = E.COD_CLIFOR
			INNER JOIN	CTB_BORDERO F
							ON D.EMPRESA = F.EMPRESA AND D.LANCAMENTO = F.LANCAMENTO
			WHERE		E.FATURA IS NULL AND F.LX_TIPO_BORDERO IN (1,3,9,10,16)
		
	END
	
/*-#1#- INICIO -------------------------------------------------------------------------------------------------------------------*/    
	DECLARE @STATUS_APROVADA INT, @STATUS_INUTILIZADA INT, @STATUS_CANCELADA INT, @STATUS_DENEGADA INT, @STATUS_NFE INT, 
			@STATUS_APROVADA_F_PRAZO INT, @STATUS_CANCELADA_F_PRAZO INT, @STATUS_AGUARDANDO_CANCELAMENTO INT
	
	SELECT @STATUS_APROVADA = 5
	SELECT @STATUS_APROVADA_F_PRAZO = 6  --#2#
	SELECT @STATUS_CANCELADA = 49
	SELECT @STATUS_CANCELADA_F_PRAZO = 50 --#2#
	SELECT @STATUS_INUTILIZADA = 59
	SELECT @STATUS_DENEGADA = 70
	SELECT @STATUS_AGUARDANDO_CANCELAMENTO=42 --#7#

	SELECT @STATUS_NFE = STATUS_NFE FROM INSERTED

	--#2#
	IF UPDATE(STATUS_NFE) 	
	BEGIN
		IF @STATUS_NFE = @STATUS_INUTILIZADA
			BEGIN
				IF EXISTS ( SELECT 1 FROM INSERTED WHERE (ISNULL(PROTOCOLO_CANCELAMENTO_NFE,'') = '' OR DATA_CANCELAMENTO IS NULL OR MOTIVO_CANCELAMENTO_NFE IS NULL ) )
				BEGIN
					Select @errno=30002,
						   @errmsg='NÃ£o Ã© possÃ­vel alterar o #STATUS_NFE. #PROTOCOLO_CANCELAMENTO_NFE e/ou #DATA_CANCELAMENTO e/ou #MOTIVO_CANCELAMENTO_NFE nÃ£o estÃ£o informados !'
					GoTo Error
				END
			END
		ELSE
		--#5#
		IF @STATUS_NFE = @STATUS_DENEGADA
			BEGIN
				IF EXISTS ( SELECT 1 FROM INSERTED WHERE (ISNULL(PROTOCOLO_CANCELAMENTO_NFE,'') = '' OR DATA_CANCELAMENTO IS NULL) )
				BEGIN
					Select @errno=30002,
						   @errmsg='NÃ£o Ã© possÃ­vel Alterar o #STATUS_NFE. #PROTOCOLO_CANCELAMENTO_NFE e/ou #DATA_CANCELAMENTO nÃ£o estÃ£o informados !'
					GoTo Error
				END
			END
		ELSE	
			IF @STATUS_NFE IN(@STATUS_CANCELADA,@STATUS_CANCELADA_F_PRAZO)
			BEGIN
				IF EXISTS ( SELECT 1 FROM INSERTED A WHERE ((ISNULL(A.PROTOCOLO_AUTORIZACAO_NFE,'') = '' OR A.DATA_AUTORIZACAO_NFE IS NULL OR A.MOTIVO_CANCELAMENTO_NFE IS NULL 
						   OR (ISNULL(A.PROTOCOLO_CANCELAMENTO_NFE,'') = '' OR A.DATA_CANCELAMENTO IS NULL))))  
				BEGIN
					Select @errno=30002,
						   @errmsg='NÃ£o Ã© possÃ­vel Alterar o #STATUS_NFE. #PROTOCOLO_CANCELAMENTO_NFE e/ou #DATA_CANCELAMENTO e/ou #MOTIVO_CANCELAMENTO_NFE ou #PROTOCOLO_AUTORIZACAO_NFE e/ou #DATA_AUTORIZACAO_NFE nÃ£o estÃ£o informados !'
					GoTo Error
				END
			END
			ELSE
		BEGIN 
			IF EXISTS ( SELECT 1 FROM INSERTED A
				 WHERE (A.STATUS_NFE = @STATUS_APROVADA OR A.STATUS_NFE = @STATUS_APROVADA_F_PRAZO ) 
				   AND ((ISNULL(A.PROTOCOLO_AUTORIZACAO_NFE,'') = '') OR A.DATA_AUTORIZACAO_NFE IS NULL)) 
			BEGIN
				Select @errno=30002,
					   @errmsg='NÃ£o Ã© possÃ­vel Alterar o #STATUS_NFE. #PROTOCOLO_AUTORIZACAO_NFE e/ou #DATA_AUTORIZACAO_NFE nÃ£o estÃ£o informados !'
				GoTo Error
			END
		END	

		--#7#
		IF ( DBO.FX_PARAMETRO('VALIDA_ESTOQ_FIN_CANC_NFE') = '.T.' ) 
		BEGIN
				IF @STATUS_NFE IN (@STATUS_AGUARDANDO_CANCELAMENTO,@STATUS_INUTILIZADA)
					BEGIN
					IF EXISTS (	SELECT  TOP 1 1
								FROM	FATURAMENTO_PROD AS A 
									JOIN ESTOQUE_PRODUTOS AS B 
										ON	A.FILIAL=B.FILIAL AND A.PRODUTO=B.PRODUTO AND	A.COR_PRODUTO=B.COR_PRODUTO	
									JOIN FILIAIS AS C 
										ON A.FILIAL=C.FILIAL
									JOIN INSERTED AS D
										ON	D.FILIAL=C.FILIAL
										AND	D.FILIAL=A.FILIAL
										AND	D.NF_SAIDA=A.NF_SAIDA
										AND	D.SERIE_NF=A.SERIE_NF
								WHERE C.PERMITE_EST_NEGATIVO = 0 
								AND ((B.ESTOQUE + A.QTDE) < 0 OR 
								(B.ES1 + A.F1 ) < 0	OR (B.ES2 + A.F2 ) < 0	OR (B.ES3 + A.F3 ) < 0	OR (B.ES4 + A.F4 ) < 0	OR (B.ES5 + A.F5 ) < 0	OR (B.ES6 + A.F6 ) < 0	OR
								(B.ES7 + A.F7 ) < 0	OR (B.ES8 + A.F8 ) < 0	OR (B.ES9 + A.F9 ) < 0	OR (B.ES10 + A.F10 ) < 0	OR (B.ES11 + A.F11 ) < 0	OR (B.ES12 + A.F12 ) < 0	OR
								(B.ES13 + A.F13 ) < 0	OR (B.ES14 + A.F14 ) < 0	OR (B.ES15 + A.F15 ) < 0	OR (B.ES16 + A.F16 ) < 0	OR (B.ES17 + A.F17 ) < 0	OR (B.ES18 + A.F18 ) < 0	OR
								(B.ES19 + A.F19 ) < 0	OR (B.ES20 + A.F20 ) < 0	OR (B.ES21 + A.F21 ) < 0	OR (B.ES22 + A.F22 ) < 0	OR (B.ES23 + A.F23 ) < 0	OR (B.ES24 + A.F24 ) < 0	OR
								(B.ES25 + A.F25 ) < 0	OR (B.ES26 + A.F26 ) < 0	OR (B.ES27 + A.F27 ) < 0	OR (B.ES28 + A.F28 ) < 0	OR (B.ES29 + A.F29 ) < 0	OR (B.ES30 + A.F30 ) < 0	OR
								(B.ES31 + A.F31 ) < 0	OR (B.ES32 + A.F32 ) < 0	OR (B.ES33 + A.F33 ) < 0	OR (B.ES34 + A.F34 ) < 0	OR (B.ES35 + A.F35 ) < 0	OR (B.ES36 + A.F36 ) < 0	OR
								(B.ES37 + A.F37 ) < 0	OR (B.ES38 + A.F38 ) < 0	OR (B.ES39 + A.F39 ) < 0	OR (B.ES40 + A.F40 ) < 0	OR (B.ES41 + A.F41 ) < 0	OR (B.ES42 + A.F42 ) < 0	OR
								(B.ES43 + A.F43 ) < 0	OR (B.ES44 + A.F44 ) < 0	OR (B.ES45 + A.F45 ) < 0	OR (B.ES46 + A.F46 ) < 0	OR (B.ES47 + A.F47 ) < 0	OR (B.ES48 + A.F48 ) < 0))
					BEGIN
						Select @errno=30002,
							   @errmsg='NÃ£o Ã© possÃ­vel alterar o #STATUS_NFE. Filial nÃ£o permite estoque negativo !'
						GoTo Error
					END
				END 
		END
		--#7#

	END
	--#2#   
/*-#1#- FIM ----------------------------------------------------------------------------------------------------------------------*/

/*------------fechamento somente fiscal--------------*/
	IF (SELECT COUNT(1)
		FROM DELETED A
				JOIN FILIAIS C ON
					A.FILIAL				= C.FILIAL
				JOIN W_LF_MATRIZ_FISCAL E ON
					C.MATRIZ_FISCAL	= E.NOME_CLIFOR
				JOIN CTB_FECHAMENTO D ON
					E.COD_clifor				= D.COD_FILIAL	AND
					D.INATIVO					= 0				AND
					D.TIPO_FECHAMENTO			= '03'
		WHERE A.EMISSAO <= D.DATA_FECHAMENTO) > 0
		BEGIN
			  SELECT  @errno=30002,
			   @errmsg='NÃ£o Ã© possÃ­Â­vel alterar nota, existe um fechamento somente fiscal para a data !'
			   GOTO error
		END

	IF (SELECT COUNT(1)
		FROM INSERTED A
				JOIN FILIAIS C ON
					A.FILIAL				= C.FILIAL
				JOIN W_LF_MATRIZ_FISCAL E ON
					C.MATRIZ_FISCAL	= E.NOME_CLIFOR
				JOIN CTB_FECHAMENTO D ON
					E.COD_clifor				= D.COD_FILIAL	AND
					D.INATIVO					= 0				AND
					D.TIPO_FECHAMENTO			= '03'
		WHERE A.EMISSAO <= D.DATA_FECHAMENTO) > 0
		BEGIN
			  SELECT  @errno=30002,
			   @errmsg='NÃ£o Ã© possÃ­Â­vel alterar nota, existe um fechamento somente fiscal para a data !'
			   GOTO error
		END

/*-----------------------------------------------------*/



-- CTB_CENTRO_CUSTO_RATEIO - Child Update Restrict
	IF	UPDATE(RATEIO_CENTRO_CUSTO)
	Begin
		SELECT @NullCnt = 0
		SELECT @ValidCnt = count(*)
		FROM Inserted, CTB_CENTRO_CUSTO_RATEIO
		WHERE	INSERTED.RATEIO_CENTRO_CUSTO = CTB_CENTRO_CUSTO_RATEIO.RATEIO_CENTRO_CUSTO

		SELECT @NullCnt = count(*)
		FROM Inserted 
		WHERE	INSERTED.RATEIO_CENTRO_CUSTO IS NULL

		If @validcnt + @nullcnt != @numrows
		Begin
			Select	@errno  = 30002,
				@errmsg = 'ImpossÃ­Â­vel atualizar #FATURAMENTO #porque #CTB_CENTRO_CUSTO_RATEIO nÃ£o existe.'
			GoTo Error
		End
	End

-- CTB_FILIAL_RATEIO - Child Update Restrict
	IF	UPDATE(RATEIO_FILIAL)
	Begin
		SELECT @NullCnt = 0
		SELECT @ValidCnt = count(*)
		FROM Inserted, CTB_FILIAL_RATEIO
		WHERE	INSERTED.RATEIO_FILIAL = CTB_FILIAL_RATEIO.RATEIO_FILIAL

		SELECT @NullCnt = count(*)
		FROM Inserted 
		WHERE	INSERTED.RATEIO_FILIAL IS NULL

		If @validcnt + @nullcnt != @numrows
		Begin
			Select	@errno  = 30002,
				@errmsg = 'ImpossÃ­vel Atualizar #FATURAMENTO #porque #CTB_FILIAL_RATEIO nÃ£o existe.'
			GoTo Error
		End
	End

-- FATURAMENTO - Child Update Restrict
	IF	UPDATE(FATURA_FILIAL) OR 
		UPDATE(FATURA_SERIE) OR 
		UPDATE(FATURA_NUMERO)
	Begin
		SELECT @NullCnt = 0
		SELECT @ValidCnt = count(*)
		FROM Inserted, FATURAMENTO
		WHERE	INSERTED.FATURA_FILIAL = FATURAMENTO.FILIAL AND 
			INSERTED.FATURA_SERIE = FATURAMENTO.SERIE_NF AND 
			INSERTED.FATURA_NUMERO = FATURAMENTO.NF_SAIDA

		SELECT @NullCnt = count(*)
		FROM Inserted 
		WHERE	INSERTED.FATURA_FILIAL IS NULL AND 
			INSERTED.FATURA_SERIE IS NULL AND 
			INSERTED.FATURA_NUMERO IS NULL

		If @validcnt + @nullcnt != @numrows
		Begin
			Select	@errno  = 30002,
				@errmsg = 'ImpossÃ­Â­vel atualizar #FATURAMENTO #porque #FATURAMENTO nÃ£o existe.'
			GoTo Error
		End
	End

-- LA_CAIXA_CTRL - Child Update Restrict
	IF	UPDATE(ID_CAIXA_PGTO)
	Begin
		SELECT @NullCnt = 0
		SELECT @ValidCnt = count(*)
		FROM Inserted, LA_CAIXA_CTRL
		WHERE	INSERTED.ID_CAIXA_PGTO = LA_CAIXA_CTRL.ID_CAIXA_PGTO

		SELECT @NullCnt = count(*)
		FROM Inserted 
		WHERE	INSERTED.ID_CAIXA_PGTO IS NULL

		If @validcnt + @nullcnt != @numrows
		Begin
			Select	@errno  = 30002,
				@errmsg = 'ImpossÃ­vel Atualizar #FATURAMENTO #porque #LA_CAIXA_CTRL nÃ£o existe.'
			GoTo Error
		End
	End

-- MOEDAS - Child Update Restrict
	IF	UPDATE(MOEDA)
	Begin
		SELECT @NullCnt = 0
		SELECT @ValidCnt = count(*)
		FROM Inserted, MOEDAS
		WHERE	INSERTED.MOEDA = MOEDAS.MOEDA

		SELECT @NullCnt = count(*)
		FROM Inserted 
		WHERE	INSERTED.MOEDA IS NULL

		If @validcnt + @nullcnt != @numrows
		Begin
			Select	@errno  = 30002,
				@errmsg = 'ImpossÃ­Â­vel Atualizar #FATURAMENTO #porque #MOEDAS nÃ£o existe.'
			GoTo Error
		End
	End

-- TRANSPORTADORAS - Child Update Restrict
	IF	UPDATE(TRANSPORTADORA)
	Begin
		SELECT @NullCnt = 0
		SELECT @ValidCnt = count(*)
		FROM Inserted, TRANSPORTADORAS
		WHERE	INSERTED.TRANSPORTADORA = TRANSPORTADORAS.TRANSPORTADORA

		SELECT @NullCnt = count(*)
		FROM Inserted 
		WHERE	INSERTED.TRANSPORTADORA IS NULL

		If @validcnt + @nullcnt != @numrows
		Begin
			Select	@errno  = 30002,
				@errmsg = 'ImpossÃ­Â­vel Atualizar #FATURAMENTO #porque #TRANSPORTADORAS nÃ£o existe.'
			GoTo Error
		End
	End

-- NATUREZAS_SAIDAS - Child Update Restrict
	IF	UPDATE(NATUREZA_SAIDA)
	Begin
		SELECT @NullCnt = 0
		SELECT @ValidCnt = count(*)
		FROM Inserted, NATUREZAS_SAIDAS
		WHERE	INSERTED.NATUREZA_SAIDA = NATUREZAS_SAIDAS.NATUREZA_SAIDA

		If @validcnt + @nullcnt != @numrows
		Begin
			Select	@errno  = 30002,
				@errmsg = 'ImpossÃ­vel Atualizar #FATURAMENTO #porque #NATUREZAS_SAIDAS nÃ£o existe.'
			GoTo Error
		End
	End

-- TRANSPORTADORAS - Child Update Restrict
	IF	UPDATE(TRANSP_REDESPACHO)
	Begin
		SELECT @NullCnt = 0
		SELECT @ValidCnt = count(*)
		FROM Inserted, TRANSPORTADORAS
		WHERE	INSERTED.TRANSP_REDESPACHO = TRANSPORTADORAS.TRANSPORTADORA

		SELECT @NullCnt = count(*)
		FROM Inserted 
		WHERE	INSERTED.TRANSP_REDESPACHO IS NULL

		If @validcnt + @nullcnt != @numrows
		Begin
			Select	@errno  = 30002,
				@errmsg = 'ImpossÃ­vel Atualizar #FATURAMENTO #porque #TRANSPORTADORAS nÃ£o existe.'
			GoTo Error
		End
	End

-- CADASTRO_CLI_FOR - Child Update Restrict
	IF	UPDATE(NOME_CLIFOR)
	Begin
		SELECT @NullCnt = 0
		SELECT @ValidCnt = count(*)
		FROM Inserted, CADASTRO_CLI_FOR
		WHERE	INSERTED.NOME_CLIFOR = CADASTRO_CLI_FOR.NOME_CLIFOR

		SELECT @NullCnt = count(*)
		FROM Inserted 
		WHERE	INSERTED.NOME_CLIFOR IS NULL

		If @validcnt + @nullcnt != @numrows
		Begin
			Select	@errno  = 30002,
				@errmsg = 'ImpossÃ­vel Atualizar #FATURAMENTO #porque #CADASTRO_CLI_FOR nÃ£o existe.'
			GoTo Error
		End
	End

-- REPRESENTANTES - Child Update Restrict
	IF	UPDATE(REPRESENTANTE)
	Begin
		SELECT @NullCnt = 0
		SELECT @ValidCnt = count(*)
		FROM Inserted, REPRESENTANTES
		WHERE	INSERTED.REPRESENTANTE = REPRESENTANTES.REPRESENTANTE

		SELECT @NullCnt = count(*)
		FROM Inserted 
		WHERE	INSERTED.REPRESENTANTE IS NULL

		If @validcnt + @nullcnt != @numrows
		Begin
			Select	@errno  = 30002,
				@errmsg = 'ImpossÃƒÃ­vel Atualizar #FATURAMENTO #porque #REPRESENTANTES nÃ£o existe.'
			GoTo Error
		End
	End

-- REPRESENTANTES - Child Update Restrict
	IF	UPDATE(GERENTE)
	Begin
		SELECT @NullCnt = 0
		SELECT @ValidCnt = count(*)
		FROM Inserted, REPRESENTANTES
		WHERE	INSERTED.GERENTE = REPRESENTANTES.REPRESENTANTE

		SELECT @NullCnt = count(*)
		FROM Inserted 
		WHERE	INSERTED.GERENTE IS NULL

		If @validcnt + @nullcnt != @numrows
		Begin
			Select	@errno  = 30002,
				@errmsg = 'ImpossÃ­Â­vel Atualizar #FATURAMENTO #porque #REPRESENTANTES nÃ£o existe.'
			GoTo Error
		End
	End

-- FATURAMENTO_SEQUENCIAIS - Child Update Restrict
	IF	UPDATE(SERIE_NF) OR 
		UPDATE(FILIAL)
	Begin
		SELECT @NullCnt = 0
		SELECT @ValidCnt = count(*)
		FROM Inserted, FATURAMENTO_SEQUENCIAIS
		WHERE	INSERTED.SERIE_NF = FATURAMENTO_SEQUENCIAIS.SERIE_NF AND 
			INSERTED.FILIAL = FATURAMENTO_SEQUENCIAIS.FILIAL

		If @validcnt + @nullcnt != @numrows
		Begin
			Select	@errno  = 30002,
				@errmsg = 'ImpossÃ­Â­vel Atualizar #FATURAMENTO #porque #FATURAMENTO_SEQUENCIAIS nÃ£o existe.'
			GoTo Error
		End
	End

-- FATURAMENTO_TIPO - Child Update Restrict
	IF	UPDATE(TIPO_FATURAMENTO)
	Begin
		SELECT @NullCnt = 0
		SELECT @ValidCnt = count(*)
		FROM Inserted, FATURAMENTO_TIPO
		WHERE	INSERTED.TIPO_FATURAMENTO = FATURAMENTO_TIPO.TIPO_FATURAMENTO

		SELECT @NullCnt = count(*)
		FROM Inserted 
		WHERE	INSERTED.TIPO_FATURAMENTO IS NULL

		If @validcnt + @nullcnt != @numrows
		Begin
			Select	@errno  = 30002,
				@errmsg = 'ImpossÃ­vel Atualizar #FATURAMENTO #porque #FATURAMENTO_TIPO nÃ£o existe.'
			GoTo Error
		End
	End

-- TIPO_FRETE - Child Update Restrict
	IF	UPDATE(TIPO_FRETE)
	Begin
		SELECT @NullCnt = 0
		SELECT @ValidCnt = count(*)
		FROM Inserted, TIPO_FRETE
		WHERE	INSERTED.TIPO_FRETE = TIPO_FRETE.TIPO_FRETE

		SELECT @NullCnt = count(*)
		FROM Inserted 
		WHERE	INSERTED.TIPO_FRETE IS NULL

		If @validcnt + @nullcnt != @numrows
		Begin
			Select	@errno  = 30002,
				@errmsg = 'ImpossÃ­vel Atualizar #FATURAMENTO #porque #TIPO_FRETE nÃ£o existe.'
			GoTo Error
		End
	End

-- CADASTRO_CLI_FOR - Child Update Restrict
	IF	UPDATE(NOME_CLIFOR_ENTREGA)
	Begin
		SELECT @NullCnt = 0
		SELECT @ValidCnt = count(*)
		FROM Inserted, CADASTRO_CLI_FOR
		WHERE	INSERTED.NOME_CLIFOR_ENTREGA = CADASTRO_CLI_FOR.NOME_CLIFOR

		SELECT @NullCnt = count(*)
		FROM Inserted 
		WHERE	INSERTED.NOME_CLIFOR_ENTREGA IS NULL

		If @validcnt + @nullcnt != @numrows
		Begin
			Select	@errno  = 30002,
				@errmsg = 'ImpossÃ­vel Atualizar #FATURAMENTO #porque #CADASTRO_CLI_FOR nÃ£o existe.'
			GoTo Error
		End
	End


-- ENTRADA_RETORNO_BENEFICIAMENTO - Parent Update Restrict
	IF	UPDATE(FILIAL) OR 
		UPDATE(NF_SAIDA) OR 
		UPDATE(SERIE_NF)
	Begin
		If Exists (	SELECT * 
			FROM ENTRADA_RETORNO_BENEFICIAMENTO, DELETED 
			WHERE	ENTRADA_RETORNO_BENEFICIAMENTO.FILIAL = DELETED.FILIAL AND 
			ENTRADA_RETORNO_BENEFICIAMENTO.NF_SAIDA = DELETED.NF_SAIDA AND 
			ENTRADA_RETORNO_BENEFICIAMENTO.SERIE_NF = DELETED.SERIE_NF
			)
		Begin
			Select	@errno  = 30002,
				@errmsg = 'ImpossÃ­vel Atualizar #FATURAMENTO #porque existem registros em #ENTRADA_RETORNO_BENEFICIAMENTO.'
			GoTo Error
		End
	End


-- FATURAMENTO - Parent Update Cascade
	IF	UPDATE(FILIAL) OR 
		UPDATE(SERIE_NF) OR 
		UPDATE(NF_SAIDA)
	BEGIN	
		If Exists (	SELECT * 
				FROM INSERTED 
					LEFT JOIN DELETED ON 
						DELETED.FILIAL = INSERTED.FILIAL AND 
					DELETED.SERIE_NF = INSERTED.SERIE_NF AND 
					DELETED.NF_SAIDA = INSERTED.NF_SAIDA
				WHERE	DELETED.FILIAL IS NULL  OR  
				DELETED.SERIE_NF IS NULL  OR  
				DELETED.NF_SAIDA IS NULL
			)
		BEGIN
			DECLARE CURI_FATURAMENTO1479 CURSOR FOR 
				SELECT	FILIAL ,  
				SERIE_NF ,  
				NF_SAIDA
				FROM INSERTED
			DECLARE CURD_FATURAMENTO1479 CURSOR FOR 
				SELECT	FILIAL ,  
				SERIE_NF ,  
				NF_SAIDA
				FROM DELETED
			OPEN CURI_FATURAMENTO1479
			OPEN CURD_FATURAMENTO1479
			FETCH NEXT FROM CURI_FATURAMENTO1479
					INTO	@InsFILIAL ,  
					@InsSERIE_NF ,  
					@InsNF_SAIDA
			FETCH NEXT FROM CURD_FATURAMENTO1479
					INTO	@DelFILIAL ,  
					@DelSERIE_NF ,  
					@DelNF_SAIDA
			WHILE @@Fetch_Status = 0
			BEGIN
				UPDATE FATURAMENTO
				SET	FATURA_FILIAL = @InsFILIAL, 
				FATURA_SERIE = @InsSERIE_NF, 
				FATURA_NUMERO = @InsNF_SAIDA
				WHERE	FATURA_FILIAL = @delFILIAL AND 
				FATURA_SERIE = @delSERIE_NF AND 
				FATURA_NUMERO = @delNF_SAIDA

				FETCH NEXT FROM CURI_FATURAMENTO1479
						INTO	@InsFILIAL ,  
						@InsSERIE_NF ,  
						@InsNF_SAIDA
				FETCH NEXT FROM CURD_FATURAMENTO1479
						INTO	@DelFILIAL ,  
						@DelSERIE_NF ,  
						@DelNF_SAIDA
			END
		CLOSE CURI_FATURAMENTO1479
		CLOSE CURD_FATURAMENTO1479
		DEALLOCATE CURI_FATURAMENTO1479
		DEALLOCATE CURD_FATURAMENTO1479
		END
	END

-- FATURAMENTO_ITEM - Parent Update Cascade
	IF	UPDATE(NF_SAIDA) OR 
		UPDATE(FILIAL) OR 
		UPDATE(SERIE_NF)
	BEGIN	
		If Exists (	SELECT * 
				FROM INSERTED 
					LEFT JOIN DELETED ON 
						DELETED.NF_SAIDA = INSERTED.NF_SAIDA AND 
					DELETED.FILIAL = INSERTED.FILIAL AND 
					DELETED.SERIE_NF = INSERTED.SERIE_NF
				WHERE	DELETED.NF_SAIDA IS NULL  OR  
				DELETED.FILIAL IS NULL  OR  
				DELETED.SERIE_NF IS NULL
			)
		BEGIN
			DECLARE CURI_FATURAMENTO_ITEM1493 CURSOR FOR 
				SELECT	NF_SAIDA ,  
				FILIAL ,  
				SERIE_NF
				FROM INSERTED
			DECLARE CURD_FATURAMENTO_ITEM1493 CURSOR FOR 
				SELECT	NF_SAIDA ,  
				FILIAL ,  
				SERIE_NF
				FROM DELETED
			OPEN CURI_FATURAMENTO_ITEM1493
			OPEN CURD_FATURAMENTO_ITEM1493
			FETCH NEXT FROM CURI_FATURAMENTO_ITEM1493
					INTO	@InsNF_SAIDA ,  
					@InsFILIAL ,  
					@InsSERIE_NF
			FETCH NEXT FROM CURD_FATURAMENTO_ITEM1493
					INTO	@DelNF_SAIDA ,  
					@DelFILIAL ,  
					@DelSERIE_NF
			WHILE @@Fetch_Status = 0
			BEGIN
				UPDATE FATURAMENTO_ITEM
				SET	NF_SAIDA = @InsNF_SAIDA, 
				FILIAL = @InsFILIAL, 
				SERIE_NF = @InsSERIE_NF
				WHERE	NF_SAIDA = @delNF_SAIDA AND 
				FILIAL = @delFILIAL AND 
				SERIE_NF = @delSERIE_NF

				FETCH NEXT FROM CURI_FATURAMENTO_ITEM1493
						INTO	@InsNF_SAIDA ,  
						@InsFILIAL ,  
						@InsSERIE_NF
				FETCH NEXT FROM CURD_FATURAMENTO_ITEM1493
						INTO	@DelNF_SAIDA ,  
						@DelFILIAL ,  
						@DelSERIE_NF
			END
		CLOSE CURI_FATURAMENTO_ITEM1493
		CLOSE CURD_FATURAMENTO_ITEM1493
		DEALLOCATE CURI_FATURAMENTO_ITEM1493
		DEALLOCATE CURD_FATURAMENTO_ITEM1493
		END
	END

-- FATURAMENTO_ITEM_RELACIONADO - Parent Update Cascade
	IF	UPDATE(SERIE_NF) OR 
		UPDATE(FILIAL) OR 
		UPDATE(NF_SAIDA)
	BEGIN	
		If Exists (	SELECT * 
				FROM INSERTED 
					LEFT JOIN DELETED ON 
						DELETED.SERIE_NF = INSERTED.SERIE_NF AND 
					DELETED.FILIAL = INSERTED.FILIAL AND 
					DELETED.NF_SAIDA = INSERTED.NF_SAIDA
				WHERE	DELETED.SERIE_NF IS NULL  OR  
				DELETED.FILIAL IS NULL  OR  
				DELETED.NF_SAIDA IS NULL
			)
		BEGIN
			DECLARE CURI_FATURAMENTO_ITEM_RELACIONADO1836 CURSOR FOR 
				SELECT	SERIE_NF ,  
				FILIAL ,  
				NF_SAIDA
				FROM INSERTED
			DECLARE CURD_FATURAMENTO_ITEM_RELACIONADO1836 CURSOR FOR 
				SELECT	SERIE_NF ,  
				FILIAL ,  
				NF_SAIDA
				FROM DELETED
			OPEN CURI_FATURAMENTO_ITEM_RELACIONADO1836
			OPEN CURD_FATURAMENTO_ITEM_RELACIONADO1836
			FETCH NEXT FROM CURI_FATURAMENTO_ITEM_RELACIONADO1836
					INTO	@InsSERIE_NF ,  
					@InsFILIAL ,  
					@InsNF_SAIDA
			FETCH NEXT FROM CURD_FATURAMENTO_ITEM_RELACIONADO1836
					INTO	@DelSERIE_NF ,  
					@DelFILIAL ,  
					@DelNF_SAIDA
			WHILE @@Fetch_Status = 0
			BEGIN
				UPDATE FATURAMENTO_ITEM_RELACIONADO
				SET	SERIE_NF = @InsSERIE_NF, 
				FILIAL = @InsFILIAL, 
				NF_SAIDA = @InsNF_SAIDA
				WHERE	SERIE_NF = @delSERIE_NF AND 
				FILIAL = @delFILIAL AND 
				NF_SAIDA = @delNF_SAIDA

				FETCH NEXT FROM CURI_FATURAMENTO_ITEM_RELACIONADO1836
						INTO	@InsSERIE_NF ,  
						@InsFILIAL ,  
						@InsNF_SAIDA
				FETCH NEXT FROM CURD_FATURAMENTO_ITEM_RELACIONADO1836
						INTO	@DelSERIE_NF ,  
						@DelFILIAL ,  
						@DelNF_SAIDA
			END
		CLOSE CURI_FATURAMENTO_ITEM_RELACIONADO1836
		CLOSE CURD_FATURAMENTO_ITEM_RELACIONADO1836
		DEALLOCATE CURI_FATURAMENTO_ITEM_RELACIONADO1836
		DEALLOCATE CURD_FATURAMENTO_ITEM_RELACIONADO1836
		END
	END

-- FATURAMENTO_PGTO - Parent Update Cascade
	IF	UPDATE(SERIE_NF) OR 
		UPDATE(FILIAL) OR 
		UPDATE(NF_SAIDA)
	BEGIN	
		If Exists (	SELECT * 
				FROM INSERTED 
					LEFT JOIN DELETED ON 
						DELETED.SERIE_NF = INSERTED.SERIE_NF AND 
					DELETED.FILIAL = INSERTED.FILIAL AND 
					DELETED.NF_SAIDA = INSERTED.NF_SAIDA
				WHERE	DELETED.SERIE_NF IS NULL  OR  
				DELETED.FILIAL IS NULL  OR  
				DELETED.NF_SAIDA IS NULL
			)
		BEGIN
			DECLARE CURI_FATURAMENTO_PGTO2330 CURSOR FOR 
				SELECT	SERIE_NF ,  
				FILIAL ,  
				NF_SAIDA
				FROM INSERTED
			DECLARE CURD_FATURAMENTO_PGTO2330 CURSOR FOR 
				SELECT	SERIE_NF ,  
				FILIAL ,  
				NF_SAIDA
				FROM DELETED
			OPEN CURI_FATURAMENTO_PGTO2330
			OPEN CURD_FATURAMENTO_PGTO2330
			FETCH NEXT FROM CURI_FATURAMENTO_PGTO2330
					INTO	@InsSERIE_NF ,  
					@InsFILIAL ,  
					@InsNF_SAIDA
			FETCH NEXT FROM CURD_FATURAMENTO_PGTO2330
					INTO	@DelSERIE_NF ,  
					@DelFILIAL ,  
					@DelNF_SAIDA
			WHILE @@Fetch_Status = 0
			BEGIN
				UPDATE FATURAMENTO_PGTO
				SET	SERIE_NF = @InsSERIE_NF, 
				FILIAL = @InsFILIAL, 
				NF_SAIDA = @InsNF_SAIDA
				WHERE	SERIE_NF = @delSERIE_NF AND 
				FILIAL = @delFILIAL AND 
				NF_SAIDA = @delNF_SAIDA

				FETCH NEXT FROM CURI_FATURAMENTO_PGTO2330
						INTO	@InsSERIE_NF ,  
						@InsFILIAL ,  
						@InsNF_SAIDA
				FETCH NEXT FROM CURD_FATURAMENTO_PGTO2330
						INTO	@DelSERIE_NF ,  
						@DelFILIAL ,  
						@DelNF_SAIDA
			END
		CLOSE CURI_FATURAMENTO_PGTO2330
		CLOSE CURD_FATURAMENTO_PGTO2330
		DEALLOCATE CURI_FATURAMENTO_PGTO2330
		DEALLOCATE CURD_FATURAMENTO_PGTO2330
		END
	END

-- FATURAMENTO_VENDEDORES - Parent Update Cascade
	IF	UPDATE(FILIAL) OR 
		UPDATE(NF_SAIDA) OR 
		UPDATE(SERIE_NF)
	BEGIN	
		If Exists (	SELECT * 
				FROM INSERTED 
					LEFT JOIN DELETED ON 
						DELETED.FILIAL = INSERTED.FILIAL AND 
					DELETED.NF_SAIDA = INSERTED.NF_SAIDA AND 
					DELETED.SERIE_NF = INSERTED.SERIE_NF
				WHERE	DELETED.FILIAL IS NULL  OR  
				DELETED.NF_SAIDA IS NULL  OR  
				DELETED.SERIE_NF IS NULL
			)
		BEGIN
			DECLARE CURI_FATURAMENTO_VENDEDORES2341 CURSOR FOR 
				SELECT	FILIAL ,  
				NF_SAIDA ,  
				SERIE_NF
				FROM INSERTED
			DECLARE CURD_FATURAMENTO_VENDEDORES2341 CURSOR FOR 
				SELECT	FILIAL ,  
				NF_SAIDA ,  
				SERIE_NF
				FROM DELETED
			OPEN CURI_FATURAMENTO_VENDEDORES2341
			OPEN CURD_FATURAMENTO_VENDEDORES2341
			FETCH NEXT FROM CURI_FATURAMENTO_VENDEDORES2341
					INTO	@InsFILIAL ,  
					@InsNF_SAIDA ,  
					@InsSERIE_NF
			FETCH NEXT FROM CURD_FATURAMENTO_VENDEDORES2341
					INTO	@DelFILIAL ,  
					@DelNF_SAIDA ,  
					@DelSERIE_NF
			WHILE @@Fetch_Status = 0
			BEGIN
				UPDATE FATURAMENTO_VENDEDORES
				SET	FILIAL = @InsFILIAL, 
				NF_SAIDA = @InsNF_SAIDA, 
				SERIE_NF = @InsSERIE_NF
				WHERE	FILIAL = @delFILIAL AND 
				NF_SAIDA = @delNF_SAIDA AND 
				SERIE_NF = @delSERIE_NF

				FETCH NEXT FROM CURI_FATURAMENTO_VENDEDORES2341
						INTO	@InsFILIAL ,  
						@InsNF_SAIDA ,  
						@InsSERIE_NF
				FETCH NEXT FROM CURD_FATURAMENTO_VENDEDORES2341
						INTO	@DelFILIAL ,  
						@DelNF_SAIDA ,  
						@DelSERIE_NF
			END
		CLOSE CURI_FATURAMENTO_VENDEDORES2341
		CLOSE CURD_FATURAMENTO_VENDEDORES2341
		DEALLOCATE CURI_FATURAMENTO_VENDEDORES2341
		DEALLOCATE CURD_FATURAMENTO_VENDEDORES2341
		END
	END

-- ENTRADAS - Parent Update Cascade
	IF	UPDATE(FILIAL) OR 
		UPDATE(SERIE_NF) OR 
		UPDATE(NF_SAIDA)
	BEGIN	
		If Exists (	SELECT * 
				FROM INSERTED 
					LEFT JOIN DELETED ON 
						DELETED.FILIAL = INSERTED.FILIAL AND 
					DELETED.SERIE_NF = INSERTED.SERIE_NF AND 
					DELETED.NF_SAIDA = INSERTED.NF_SAIDA
				WHERE	DELETED.FILIAL IS NULL  OR  
				DELETED.SERIE_NF IS NULL  OR  
				DELETED.NF_SAIDA IS NULL
			)
		BEGIN
			DECLARE CURI_ENTRADAS222 CURSOR FOR 
				SELECT	FILIAL ,  
				SERIE_NF ,  
				NF_SAIDA
				FROM INSERTED
			DECLARE CURD_ENTRADAS222 CURSOR FOR 
				SELECT	FILIAL ,  
				SERIE_NF ,  
				NF_SAIDA
				FROM DELETED
			OPEN CURI_ENTRADAS222
			OPEN CURD_ENTRADAS222
			FETCH NEXT FROM CURI_ENTRADAS222
					INTO	@InsFILIAL ,  
					@InsSERIE_NF ,  
					@InsNF_SAIDA
			FETCH NEXT FROM CURD_ENTRADAS222
					INTO	@DelFILIAL ,  
					@DelSERIE_NF ,  
					@DelNF_SAIDA
			WHILE @@Fetch_Status = 0
			BEGIN
				UPDATE ENTRADAS
				SET	FILIAL_SAIDA = @InsFILIAL, 
				SERIE_NF_SAIDA = @InsSERIE_NF, 
				NF_SAIDA = @InsNF_SAIDA
				WHERE	FILIAL_SAIDA = @delFILIAL AND 
				SERIE_NF_SAIDA = @delSERIE_NF AND 
				NF_SAIDA = @delNF_SAIDA

				FETCH NEXT FROM CURI_ENTRADAS222
						INTO	@InsFILIAL ,  
						@InsSERIE_NF ,  
						@InsNF_SAIDA
				FETCH NEXT FROM CURD_ENTRADAS222
						INTO	@DelFILIAL ,  
						@DelSERIE_NF ,  
						@DelNF_SAIDA
			END
		CLOSE CURI_ENTRADAS222
		CLOSE CURD_ENTRADAS222
		DEALLOCATE CURI_ENTRADAS222
		DEALLOCATE CURD_ENTRADAS222
		END
	END

-- FATURAMENTO_IMPOSTO - Parent Update Cascade
	IF	UPDATE(NF_SAIDA) OR 
		UPDATE(SERIE_NF) OR 
		UPDATE(FILIAL)
	BEGIN	
		If Exists (	SELECT * 
				FROM INSERTED 
					LEFT JOIN DELETED ON 
						DELETED.NF_SAIDA = INSERTED.NF_SAIDA AND 
					DELETED.SERIE_NF = INSERTED.SERIE_NF AND 
					DELETED.FILIAL = INSERTED.FILIAL
				WHERE	DELETED.NF_SAIDA IS NULL  OR  
				DELETED.SERIE_NF IS NULL  OR  
				DELETED.FILIAL IS NULL
			)
		BEGIN
			DECLARE CURI_FATURAMENTO_IMPOSTO298 CURSOR FOR 
				SELECT	NF_SAIDA ,  
				SERIE_NF ,  
				FILIAL
				FROM INSERTED
			DECLARE CURD_FATURAMENTO_IMPOSTO298 CURSOR FOR 
				SELECT	NF_SAIDA ,  
				SERIE_NF ,  
				FILIAL
				FROM DELETED
			OPEN CURI_FATURAMENTO_IMPOSTO298
			OPEN CURD_FATURAMENTO_IMPOSTO298
			FETCH NEXT FROM CURI_FATURAMENTO_IMPOSTO298
					INTO	@InsNF_SAIDA ,  
					@InsSERIE_NF ,  
					@InsFILIAL
			FETCH NEXT FROM CURD_FATURAMENTO_IMPOSTO298
					INTO	@DelNF_SAIDA ,  
					@DelSERIE_NF ,  
					@DelFILIAL
			WHILE @@Fetch_Status = 0
			BEGIN
				UPDATE FATURAMENTO_IMPOSTO
				SET	NF_SAIDA = @InsNF_SAIDA, 
				SERIE_NF = @InsSERIE_NF, 
				FILIAL = @InsFILIAL
				WHERE	NF_SAIDA = @delNF_SAIDA AND 
				SERIE_NF = @delSERIE_NF AND 
				FILIAL = @delFILIAL

				FETCH NEXT FROM CURI_FATURAMENTO_IMPOSTO298
						INTO	@InsNF_SAIDA ,  
						@InsSERIE_NF ,  
						@InsFILIAL
				FETCH NEXT FROM CURD_FATURAMENTO_IMPOSTO298
						INTO	@DelNF_SAIDA ,  
						@DelSERIE_NF ,  
						@DelFILIAL
			END
		CLOSE CURI_FATURAMENTO_IMPOSTO298
		CLOSE CURD_FATURAMENTO_IMPOSTO298
		DEALLOCATE CURI_FATURAMENTO_IMPOSTO298
		DEALLOCATE CURD_FATURAMENTO_IMPOSTO298
		END
	END

-- FATURAMENTO_SERVICO - Parent Update Cascade
	IF	UPDATE(NF_SAIDA) OR 
		UPDATE(SERIE_NF) OR 
		UPDATE(FILIAL)
	BEGIN	
		If Exists (	SELECT * 
				FROM INSERTED 
					LEFT JOIN DELETED ON 
						DELETED.NF_SAIDA = INSERTED.NF_SAIDA AND 
					DELETED.SERIE_NF = INSERTED.SERIE_NF AND 
					DELETED.FILIAL = INSERTED.FILIAL
				WHERE	DELETED.NF_SAIDA IS NULL  OR  
				DELETED.SERIE_NF IS NULL  OR  
				DELETED.FILIAL IS NULL
			)
		BEGIN
			DECLARE CURI_FATURAMENTO_SERVICO313 CURSOR FOR 
				SELECT	NF_SAIDA ,  
				SERIE_NF ,  
				FILIAL
				FROM INSERTED
			DECLARE CURD_FATURAMENTO_SERVICO313 CURSOR FOR 
				SELECT	NF_SAIDA ,  
				SERIE_NF ,  
				FILIAL
				FROM DELETED
			OPEN CURI_FATURAMENTO_SERVICO313
			OPEN CURD_FATURAMENTO_SERVICO313
			FETCH NEXT FROM CURI_FATURAMENTO_SERVICO313
					INTO	@InsNF_SAIDA ,  
					@InsSERIE_NF ,  
					@InsFILIAL
			FETCH NEXT FROM CURD_FATURAMENTO_SERVICO313
					INTO	@DelNF_SAIDA ,  
					@DelSERIE_NF ,  
					@DelFILIAL
			WHILE @@Fetch_Status = 0
			BEGIN
				UPDATE FATURAMENTO_SERVICO
				SET	NF_SAIDA = @InsNF_SAIDA, 
				SERIE_NF = @InsSERIE_NF, 
				FILIAL = @InsFILIAL
				WHERE	NF_SAIDA = @delNF_SAIDA AND 
				SERIE_NF = @delSERIE_NF AND 
				FILIAL = @delFILIAL

				FETCH NEXT FROM CURI_FATURAMENTO_SERVICO313
						INTO	@InsNF_SAIDA ,  
						@InsSERIE_NF ,  
						@InsFILIAL
				FETCH NEXT FROM CURD_FATURAMENTO_SERVICO313
						INTO	@DelNF_SAIDA ,  
						@DelSERIE_NF ,  
						@DelFILIAL
			END
		CLOSE CURI_FATURAMENTO_SERVICO313
		CLOSE CURD_FATURAMENTO_SERVICO313
		DEALLOCATE CURI_FATURAMENTO_SERVICO313
		DEALLOCATE CURD_FATURAMENTO_SERVICO313
		END
	END

-- FATURAMENTO_PROD_PROFORMA - Parent Update Cascade
	IF	UPDATE(NF_SAIDA) OR 
		UPDATE(FILIAL) OR 
		UPDATE(SERIE_NF)
	BEGIN	
		If Exists (	SELECT * 
				FROM INSERTED 
					LEFT JOIN DELETED ON 
						DELETED.NF_SAIDA = INSERTED.NF_SAIDA AND 
					DELETED.FILIAL = INSERTED.FILIAL AND 
					DELETED.SERIE_NF = INSERTED.SERIE_NF
				WHERE	DELETED.NF_SAIDA IS NULL  OR  
				DELETED.FILIAL IS NULL  OR  
				DELETED.SERIE_NF IS NULL
			)
		BEGIN
			DECLARE CURI_FATURAMENTO_PROD_PROFORMA352 CURSOR FOR 
				SELECT	NF_SAIDA ,  
				FILIAL ,  
				SERIE_NF
				FROM INSERTED
			DECLARE CURD_FATURAMENTO_PROD_PROFORMA352 CURSOR FOR 
				SELECT	NF_SAIDA ,  
				FILIAL ,  
				SERIE_NF
				FROM DELETED
			OPEN CURI_FATURAMENTO_PROD_PROFORMA352
			OPEN CURD_FATURAMENTO_PROD_PROFORMA352
			FETCH NEXT FROM CURI_FATURAMENTO_PROD_PROFORMA352
					INTO	@InsNF_SAIDA ,  
					@InsFILIAL ,  
					@InsSERIE_NF
			FETCH NEXT FROM CURD_FATURAMENTO_PROD_PROFORMA352
					INTO	@DelNF_SAIDA ,  
					@DelFILIAL ,  
					@DelSERIE_NF
			WHILE @@Fetch_Status = 0
			BEGIN
				UPDATE FATURAMENTO_PROD_PROFORMA
				SET	NF_SAIDA = @InsNF_SAIDA, 
				FILIAL = @InsFILIAL, 
				SERIE_NF = @InsSERIE_NF
				WHERE	NF_SAIDA = @delNF_SAIDA AND 
				FILIAL = @delFILIAL AND 
				SERIE_NF = @delSERIE_NF

				FETCH NEXT FROM CURI_FATURAMENTO_PROD_PROFORMA352
						INTO	@InsNF_SAIDA ,  
						@InsFILIAL ,  
						@InsSERIE_NF
				FETCH NEXT FROM CURD_FATURAMENTO_PROD_PROFORMA352
						INTO	@DelNF_SAIDA ,  
						@DelFILIAL ,  
						@DelSERIE_NF
			END
		CLOSE CURI_FATURAMENTO_PROD_PROFORMA352
		CLOSE CURD_FATURAMENTO_PROD_PROFORMA352
		DEALLOCATE CURI_FATURAMENTO_PROD_PROFORMA352
		DEALLOCATE CURD_FATURAMENTO_PROD_PROFORMA352
		END
	END

-- FATURAMENTO_PROD - Parent Update Cascade
	IF	UPDATE(NF_SAIDA) OR 
		UPDATE(FILIAL) OR 
		UPDATE(SERIE_NF)
	BEGIN	
		If Exists (	SELECT * 
				FROM INSERTED 
					LEFT JOIN DELETED ON 
						DELETED.NF_SAIDA = INSERTED.NF_SAIDA AND 
					DELETED.FILIAL = INSERTED.FILIAL AND 
					DELETED.SERIE_NF = INSERTED.SERIE_NF
				WHERE	DELETED.NF_SAIDA IS NULL  OR  
				DELETED.FILIAL IS NULL  OR  
				DELETED.SERIE_NF IS NULL
			)
		BEGIN
			DECLARE CURI_FATURAMENTO_PROD569 CURSOR FOR 
				SELECT	NF_SAIDA ,  
				FILIAL ,  
				SERIE_NF
				FROM INSERTED
			DECLARE CURD_FATURAMENTO_PROD569 CURSOR FOR 
				SELECT	NF_SAIDA ,  
				FILIAL ,  
				SERIE_NF
				FROM DELETED
			OPEN CURI_FATURAMENTO_PROD569
			OPEN CURD_FATURAMENTO_PROD569
			FETCH NEXT FROM CURI_FATURAMENTO_PROD569
					INTO	@InsNF_SAIDA ,  
					@InsFILIAL ,  
					@InsSERIE_NF
			FETCH NEXT FROM CURD_FATURAMENTO_PROD569
					INTO	@DelNF_SAIDA ,  
					@DelFILIAL ,  
					@DelSERIE_NF
			WHILE @@Fetch_Status = 0
			BEGIN
				UPDATE FATURAMENTO_PROD
				SET	NF_SAIDA = @InsNF_SAIDA, 
				FILIAL = @InsFILIAL, 
				SERIE_NF = @InsSERIE_NF
				WHERE	NF_SAIDA = @delNF_SAIDA AND 
				FILIAL = @delFILIAL AND 
				SERIE_NF = @delSERIE_NF

				FETCH NEXT FROM CURI_FATURAMENTO_PROD569
						INTO	@InsNF_SAIDA ,  
						@InsFILIAL ,  
						@InsSERIE_NF
				FETCH NEXT FROM CURD_FATURAMENTO_PROD569
						INTO	@DelNF_SAIDA ,  
						@DelFILIAL ,  
						@DelSERIE_NF
			END
		CLOSE CURI_FATURAMENTO_PROD569
		CLOSE CURD_FATURAMENTO_PROD569
		DEALLOCATE CURI_FATURAMENTO_PROD569
		DEALLOCATE CURD_FATURAMENTO_PROD569
		END
	END

-- FATURAMENTO_CONSUMO - Parent Update Cascade
	IF	UPDATE(NF_SAIDA) OR 
		UPDATE(SERIE_NF) OR 
		UPDATE(FILIAL)
	BEGIN	
		If Exists (	SELECT * 
				FROM INSERTED 
					LEFT JOIN DELETED ON 
						DELETED.NF_SAIDA = INSERTED.NF_SAIDA AND 
					DELETED.SERIE_NF = INSERTED.SERIE_NF AND 
					DELETED.FILIAL = INSERTED.FILIAL
				WHERE	DELETED.NF_SAIDA IS NULL  OR  
				DELETED.SERIE_NF IS NULL  OR  
				DELETED.FILIAL IS NULL
			)
		BEGIN
			DECLARE CURI_FATURAMENTO_CONSUMO595 CURSOR FOR 
				SELECT	NF_SAIDA ,  
				SERIE_NF ,  
				FILIAL
				FROM INSERTED
			DECLARE CURD_FATURAMENTO_CONSUMO595 CURSOR FOR 
				SELECT	NF_SAIDA ,  
				SERIE_NF ,  
				FILIAL
				FROM DELETED
			OPEN CURI_FATURAMENTO_CONSUMO595
			OPEN CURD_FATURAMENTO_CONSUMO595
			FETCH NEXT FROM CURI_FATURAMENTO_CONSUMO595
					INTO	@InsNF_SAIDA ,  
					@InsSERIE_NF ,  
					@InsFILIAL
			FETCH NEXT FROM CURD_FATURAMENTO_CONSUMO595
					INTO	@DelNF_SAIDA ,  
					@DelSERIE_NF ,  
					@DelFILIAL
			WHILE @@Fetch_Status = 0
			BEGIN
				UPDATE FATURAMENTO_CONSUMO
				SET	NF_SAIDA = @InsNF_SAIDA, 
				SERIE_NF = @InsSERIE_NF, 
				FILIAL = @InsFILIAL
				WHERE	NF_SAIDA = @delNF_SAIDA AND 
				SERIE_NF = @delSERIE_NF AND 
				FILIAL = @delFILIAL

				FETCH NEXT FROM CURI_FATURAMENTO_CONSUMO595
						INTO	@InsNF_SAIDA ,  
						@InsSERIE_NF ,  
						@InsFILIAL
				FETCH NEXT FROM CURD_FATURAMENTO_CONSUMO595
						INTO	@DelNF_SAIDA ,  
						@DelSERIE_NF ,  
						@DelFILIAL
			END
		CLOSE CURI_FATURAMENTO_CONSUMO595
		CLOSE CURD_FATURAMENTO_CONSUMO595
		DEALLOCATE CURI_FATURAMENTO_CONSUMO595
		DEALLOCATE CURD_FATURAMENTO_CONSUMO595
		END
	END

-- FATURAM_DEV_MAT - Parent Update Cascade
	IF	UPDATE(NF_SAIDA) OR 
		UPDATE(SERIE_NF) OR 
		UPDATE(FILIAL)
	BEGIN	
		If Exists (	SELECT * 
				FROM INSERTED 
					LEFT JOIN DELETED ON 
						DELETED.NF_SAIDA = INSERTED.NF_SAIDA AND 
					DELETED.SERIE_NF = INSERTED.SERIE_NF AND 
					DELETED.FILIAL = INSERTED.FILIAL
				WHERE	DELETED.NF_SAIDA IS NULL  OR  
				DELETED.SERIE_NF IS NULL  OR  
				DELETED.FILIAL IS NULL
			)
		BEGIN
			DECLARE CURI_FATURAM_DEV_MAT611 CURSOR FOR 
				SELECT	NF_SAIDA ,  
				SERIE_NF ,  
				FILIAL
				FROM INSERTED
			DECLARE CURD_FATURAM_DEV_MAT611 CURSOR FOR 
				SELECT	NF_SAIDA ,  
				SERIE_NF ,  
				FILIAL
				FROM DELETED
			OPEN CURI_FATURAM_DEV_MAT611
			OPEN CURD_FATURAM_DEV_MAT611
			FETCH NEXT FROM CURI_FATURAM_DEV_MAT611
					INTO	@InsNF_SAIDA ,  
					@InsSERIE_NF ,  
					@InsFILIAL
			FETCH NEXT FROM CURD_FATURAM_DEV_MAT611
					INTO	@DelNF_SAIDA ,  
					@DelSERIE_NF ,  
					@DelFILIAL
			WHILE @@Fetch_Status = 0
			BEGIN
				UPDATE FATURAM_DEV_MAT
				SET	NF_SAIDA = @InsNF_SAIDA, 
				SERIE_NF = @InsSERIE_NF, 
				FILIAL = @InsFILIAL
				WHERE	NF_SAIDA = @delNF_SAIDA AND 
				SERIE_NF = @delSERIE_NF AND 
				FILIAL = @delFILIAL

				FETCH NEXT FROM CURI_FATURAM_DEV_MAT611
						INTO	@InsNF_SAIDA ,  
						@InsSERIE_NF ,  
						@InsFILIAL
				FETCH NEXT FROM CURD_FATURAM_DEV_MAT611
						INTO	@DelNF_SAIDA ,  
						@DelSERIE_NF ,  
						@DelFILIAL
			END
		CLOSE CURI_FATURAM_DEV_MAT611
		CLOSE CURD_FATURAM_DEV_MAT611
		DEALLOCATE CURI_FATURAM_DEV_MAT611
		DEALLOCATE CURD_FATURAM_DEV_MAT611
		END
	END

-- FATURAMENTO_DEVOLUCAO_ACERTO - Parent Update Cascade
	IF	UPDATE(NF_SAIDA) OR 
		UPDATE(SERIE_NF) OR 
		UPDATE(FILIAL)
	BEGIN	
		If Exists (	SELECT * 
				FROM INSERTED 
					LEFT JOIN DELETED ON 
						DELETED.NF_SAIDA = INSERTED.NF_SAIDA AND 
					DELETED.SERIE_NF = INSERTED.SERIE_NF AND 
					DELETED.FILIAL = INSERTED.FILIAL
				WHERE	DELETED.NF_SAIDA IS NULL  OR  
				DELETED.SERIE_NF IS NULL  OR  
				DELETED.FILIAL IS NULL
			)
		BEGIN
			DECLARE CURI_FATURAMENTO_DEVOLUCAO_ACERTO653 CURSOR FOR 
				SELECT	NF_SAIDA ,  
				SERIE_NF ,  
				FILIAL
				FROM INSERTED
			DECLARE CURD_FATURAMENTO_DEVOLUCAO_ACERTO653 CURSOR FOR 
				SELECT	NF_SAIDA ,  
				SERIE_NF ,  
				FILIAL
				FROM DELETED
			OPEN CURI_FATURAMENTO_DEVOLUCAO_ACERTO653
			OPEN CURD_FATURAMENTO_DEVOLUCAO_ACERTO653
			FETCH NEXT FROM CURI_FATURAMENTO_DEVOLUCAO_ACERTO653
					INTO	@InsNF_SAIDA ,  
					@InsSERIE_NF ,  
					@InsFILIAL
			FETCH NEXT FROM CURD_FATURAMENTO_DEVOLUCAO_ACERTO653
					INTO	@DelNF_SAIDA ,  
					@DelSERIE_NF ,  
					@DelFILIAL
			WHILE @@Fetch_Status = 0
			BEGIN
				UPDATE FATURAMENTO_DEVOLUCAO_ACERTO
				SET	NF_SAIDA = @InsNF_SAIDA, 
				SERIE_NF = @InsSERIE_NF, 
				FILIAL = @InsFILIAL
				WHERE	NF_SAIDA = @delNF_SAIDA AND 
				SERIE_NF = @delSERIE_NF AND 
				FILIAL = @delFILIAL

				FETCH NEXT FROM CURI_FATURAMENTO_DEVOLUCAO_ACERTO653
						INTO	@InsNF_SAIDA ,  
						@InsSERIE_NF ,  
						@InsFILIAL
				FETCH NEXT FROM CURD_FATURAMENTO_DEVOLUCAO_ACERTO653
						INTO	@DelNF_SAIDA ,  
						@DelSERIE_NF ,  
						@DelFILIAL
			END
		CLOSE CURI_FATURAMENTO_DEVOLUCAO_ACERTO653
		CLOSE CURD_FATURAMENTO_DEVOLUCAO_ACERTO653
		DEALLOCATE CURI_FATURAMENTO_DEVOLUCAO_ACERTO653
		DEALLOCATE CURD_FATURAMENTO_DEVOLUCAO_ACERTO653
		END
	END

-- ESTOQUE_SAI1_MAT - Parent Update Cascade
	IF	UPDATE(NF_SAIDA) OR 
		UPDATE(SERIE_NF) OR 
		UPDATE(FILIAL)
	BEGIN	
		If Exists (	SELECT * 
				FROM INSERTED 
					LEFT JOIN DELETED ON 
						DELETED.NF_SAIDA = INSERTED.NF_SAIDA AND 
					DELETED.SERIE_NF = INSERTED.SERIE_NF AND 
					DELETED.FILIAL = INSERTED.FILIAL
				WHERE	DELETED.NF_SAIDA IS NULL  OR  
				DELETED.SERIE_NF IS NULL  OR  
				DELETED.FILIAL IS NULL
			)
		BEGIN
			DECLARE CURI_ESTOQUE_SAI1_MAT743 CURSOR FOR 
				SELECT	NF_SAIDA ,  
				SERIE_NF ,  
				FILIAL
				FROM INSERTED
			DECLARE CURD_ESTOQUE_SAI1_MAT743 CURSOR FOR 
				SELECT	NF_SAIDA ,  
				SERIE_NF ,  
				FILIAL
				FROM DELETED
			OPEN CURI_ESTOQUE_SAI1_MAT743
			OPEN CURD_ESTOQUE_SAI1_MAT743
			FETCH NEXT FROM CURI_ESTOQUE_SAI1_MAT743
					INTO	@InsNF_SAIDA ,  
					@InsSERIE_NF ,  
					@InsFILIAL
			FETCH NEXT FROM CURD_ESTOQUE_SAI1_MAT743
					INTO	@DelNF_SAIDA ,  
					@DelSERIE_NF ,  
					@DelFILIAL
			WHILE @@Fetch_Status = 0
			BEGIN
				UPDATE ESTOQUE_SAI1_MAT
				SET	NF_SAIDA = @InsNF_SAIDA, 
				SERIE_NF = @InsSERIE_NF, 
				FILIAL_FATURAMENTO = @InsFILIAL
				WHERE	NF_SAIDA = @delNF_SAIDA AND 
				SERIE_NF = @delSERIE_NF AND 
				FILIAL_FATURAMENTO = @delFILIAL

				FETCH NEXT FROM CURI_ESTOQUE_SAI1_MAT743
						INTO	@InsNF_SAIDA ,  
						@InsSERIE_NF ,  
						@InsFILIAL
				FETCH NEXT FROM CURD_ESTOQUE_SAI1_MAT743
						INTO	@DelNF_SAIDA ,  
						@DelSERIE_NF ,  
						@DelFILIAL
			END
		CLOSE CURI_ESTOQUE_SAI1_MAT743
		CLOSE CURD_ESTOQUE_SAI1_MAT743
		DEALLOCATE CURI_ESTOQUE_SAI1_MAT743
		DEALLOCATE CURD_ESTOQUE_SAI1_MAT743
		END
	END

-- FATURAM_DEV_PROD - Parent Update Cascade
	IF	UPDATE(FILIAL) OR 
		UPDATE(SERIE_NF) OR 
		UPDATE(NF_SAIDA)
	BEGIN	
		If Exists (	SELECT * 
				FROM INSERTED 
					LEFT JOIN DELETED ON 
						DELETED.FILIAL = INSERTED.FILIAL AND 
					DELETED.SERIE_NF = INSERTED.SERIE_NF AND 
					DELETED.NF_SAIDA = INSERTED.NF_SAIDA
				WHERE	DELETED.FILIAL IS NULL  OR  
				DELETED.SERIE_NF IS NULL  OR  
				DELETED.NF_SAIDA IS NULL
			)
		BEGIN
			DECLARE CURI_FATURAM_DEV_PROD929 CURSOR FOR 
				SELECT	FILIAL ,  
				SERIE_NF ,  
				NF_SAIDA
				FROM INSERTED
			DECLARE CURD_FATURAM_DEV_PROD929 CURSOR FOR 
				SELECT	FILIAL ,  
				SERIE_NF ,  
				NF_SAIDA
				FROM DELETED
			OPEN CURI_FATURAM_DEV_PROD929
			OPEN CURD_FATURAM_DEV_PROD929
			FETCH NEXT FROM CURI_FATURAM_DEV_PROD929
					INTO	@InsFILIAL ,  
					@InsSERIE_NF ,  
					@InsNF_SAIDA
			FETCH NEXT FROM CURD_FATURAM_DEV_PROD929
					INTO	@DelFILIAL ,  
					@DelSERIE_NF ,  
					@DelNF_SAIDA
			WHILE @@Fetch_Status = 0
			BEGIN
				UPDATE FATURAM_DEV_PROD
				SET	FILIAL = @InsFILIAL, 
				SERIE_NF = @InsSERIE_NF, 
				NF_SAIDA = @InsNF_SAIDA
				WHERE	FILIAL = @delFILIAL AND 
				SERIE_NF = @delSERIE_NF AND 
				NF_SAIDA = @delNF_SAIDA

				FETCH NEXT FROM CURI_FATURAM_DEV_PROD929
						INTO	@InsFILIAL ,  
						@InsSERIE_NF ,  
						@InsNF_SAIDA
				FETCH NEXT FROM CURD_FATURAM_DEV_PROD929
						INTO	@DelFILIAL ,  
						@DelSERIE_NF ,  
						@DelNF_SAIDA
			END
		CLOSE CURI_FATURAM_DEV_PROD929
		CLOSE CURD_FATURAM_DEV_PROD929
		DEALLOCATE CURI_FATURAM_DEV_PROD929
		DEALLOCATE CURD_FATURAM_DEV_PROD929
		END
	END

-- FATURAMENTO_TERCEIROS - Parent Update Cascade
	IF	UPDATE(NF_SAIDA) OR 
		UPDATE(FILIAL) OR 
		UPDATE(SERIE_NF)
	BEGIN	
		If Exists (	SELECT * 
				FROM INSERTED 
					LEFT JOIN DELETED ON 
						DELETED.NF_SAIDA = INSERTED.NF_SAIDA AND 
					DELETED.FILIAL = INSERTED.FILIAL AND 
					DELETED.SERIE_NF = INSERTED.SERIE_NF
				WHERE	DELETED.NF_SAIDA IS NULL  OR  
				DELETED.FILIAL IS NULL  OR  
				DELETED.SERIE_NF IS NULL
			)
		BEGIN
			DECLARE CURI_FATURAMENTO_TERCEIROS958 CURSOR FOR 
				SELECT	NF_SAIDA ,  
				FILIAL ,  
				SERIE_NF
				FROM INSERTED
			DECLARE CURD_FATURAMENTO_TERCEIROS958 CURSOR FOR 
				SELECT	NF_SAIDA ,  
				FILIAL ,  
				SERIE_NF
				FROM DELETED
			OPEN CURI_FATURAMENTO_TERCEIROS958
			OPEN CURD_FATURAMENTO_TERCEIROS958
			FETCH NEXT FROM CURI_FATURAMENTO_TERCEIROS958
					INTO	@InsNF_SAIDA ,  
					@InsFILIAL ,  
					@InsSERIE_NF
			FETCH NEXT FROM CURD_FATURAMENTO_TERCEIROS958
					INTO	@DelNF_SAIDA ,  
					@DelFILIAL ,  
					@DelSERIE_NF
			WHILE @@Fetch_Status = 0
			BEGIN
				UPDATE FATURAMENTO_TERCEIROS
				SET	NF_SAIDA = @InsNF_SAIDA, 
				FILIAL = @InsFILIAL, 
				SERIE_NF = @InsSERIE_NF
				WHERE	NF_SAIDA = @delNF_SAIDA AND 
				FILIAL = @delFILIAL AND 
				SERIE_NF = @delSERIE_NF

				FETCH NEXT FROM CURI_FATURAMENTO_TERCEIROS958
						INTO	@InsNF_SAIDA ,  
						@InsFILIAL ,  
						@InsSERIE_NF
				FETCH NEXT FROM CURD_FATURAMENTO_TERCEIROS958
						INTO	@DelNF_SAIDA ,  
						@DelFILIAL ,  
						@DelSERIE_NF
			END
		CLOSE CURI_FATURAMENTO_TERCEIROS958
		CLOSE CURD_FATURAMENTO_TERCEIROS958
		DEALLOCATE CURI_FATURAMENTO_TERCEIROS958
		DEALLOCATE CURD_FATURAMENTO_TERCEIROS958
		END
	END




------------------------------------------------------------------------------------------------------------------
/* 
15/01/2010 - Padial:	Inclusao do tratamento da chave nfe para somente refazer o financeiro se a nota nÃ£o esta parametrizada com dados da NF-e.
						Esta alteraÃƒÂ§ÃƒÂ£o ocorre porque o financeiro ÃƒÂ© gerado apenas na autorizaÃƒÂ§ÃƒÂ£o do documento de NF-e pela Sefaz	
08/07/2006 - Alessandro: Tratamento para o id_caixa_pgto do loja_tacado
*/
-- 01/06/2005 - Alessandro   - AlteraÃƒÂ§ÃƒÂ£o para verificar a chamada das procedures de integraÃƒÂ§ÃƒÂ£o ou geraÃƒÂ§ÃƒÂ£o de comissÃƒÂ£o
-- 28/10/2004 - Basilio      - AlteraÃƒÂ§ÃƒÂ£o para incluir campos de rateio_filial e rateio_centro_custo 
-- 13/05/2004 - joÃƒÂ£o ricardo - alteraÃƒÂ§ÃƒÂ£o para deletar somente o que precisa e tratar a parte nova de comissÃƒÂ£o.
-- em 13/01/2004 	Sergio - CorreÃƒÂ§ÃƒÂ£o no tratamento que verifica se deve processar a integraÃƒÂ§ÃƒÂ£o contÃƒÂ¡bil, nÃ£o estava prevendo valores em produÃƒÂ§ÃƒÂ£o

	if (cursor_status('global','cur_faturamento'  )>-3)
		return

	/*SÃƒÂ³ reintegra com o financeiro se for alter*/
	if  (dbo.fx_parametro_empresa('CONTABILIDADE_ATIVA',0)='.T.')	
	and exists( select 1 from inserted where id_caixa_pgto is null)    
	and exists( select 1 from deleted  where id_caixa_pgto is null)  
	and exists( select 1 from inserted where (status_nfe = 0 or status_nfe is null or status_nfe > 5))   
	and exists( select 1 from deleted where (status_nfe = 0 or status_nfe is null or status_nfe > 5))   

	begin

		if  not exists( select 1 from inserted as a join deleted as b on (a.nf_saida=b.nf_saida and a.filial=b.filial and a.serie_nf=b.serie_nf) 
				where 	(a.moeda)=(b.moeda)
					and (isnull(a.timestamp,''))=(isnull(b.timestamp,''))
					and (a.cambio_na_data)=(b.cambio_na_data)					
					and (a.condicao_pgto)=(b.condicao_pgto)
					and (a.cobrar_moeda_padrao)=(b.cobrar_moeda_padrao)
					and (isnull(a.data_faturamento_relativo,'19000101'))=(isnull(b.data_faturamento_relativo,'19000101'))
					and (a.emissao)=(b.emissao)
					and (a.nota_cancelada)=(b.nota_cancelada)
					and (a.icms)=(b.icms)
					and (a.ipi_valor)=(b.ipi_valor)
					and (a.irrf)=(b.irrf)
					and (a.irrf_ret_fonte)=(b.irrf_ret_fonte)
					and (a.icms_base)=(b.icms_base)
					and (a.valor_total)=(b.valor_total)
					and (a.desconto)=(b.desconto)
					and (a.desconto_cond_pgto)=(b.desconto_cond_pgto)
					and (a.recargo)=(b.recargo)
					and (a.encargo)=(b.encargo)
					and (a.frete)=(b.frete)
					and (a.seguro)=(b.seguro)
					and (isnull(a.rateio_filial,''))=(isnull(b.rateio_filial,''))
					and (isnull(a.rateio_centro_custo,''))=(isnull(b.rateio_centro_custo,'')) )
			or exists(select * from inserted where isnull(empresa,0)=0 or (isnull(ctb_lancamento,0)=0 and isnull(numero_conferencia, 0) = 0))
		begin

			/* se a nota for cancelada, deleta as contrapartidas do lancamento para que sejam gerados novamente */
			update a set gerado_integracao = 1 
				from ctb_lancamento a 
					join inserted b on a.empresa=b.empresa and (a.lancamento=b.ctb_lancamento or a.lancamento=b.numero_conferencia)
				where b.nota_cancelada = 1 and b.id_caixa_pgto is null
	
			/*deleta lancamento item da nota */
			delete a 
				from ctb_lancamento_item a 
							join deleted b on 
									a.empresa		= b.empresa 			and 
									a.lancamento	= b.ctb_lancamento 	and 
									a.item			= b.ctb_item
				where ctb_lancamento is not null and b.id_caixa_pgto is null
			
			/*deleta o item contÃƒÂ¡bil do tipo de produÃƒÂ§ÃƒÂ£o*/
			delete a 
				from ctb_lancamento_item a 
							join deleted b on 
									a.empresa		= b.empresa 				and 
									a.lancamento	= b.numero_conferencia 	and 
									a.item			= b.ctb_item
			where b.numero_conferencia is not null and b.id_caixa_pgto is null
	
	
			/*deleta lancamento item da nota */
			delete a 
				from ctb_lancamento_item a 
							join inserted b on 
									a.empresa		= b.empresa 			and 
									a.lancamento	= b.ctb_lancamento 	and 
									a.item			= b.ctb_item
				where ctb_lancamento is not null and b.id_caixa_pgto is null
			
			/*deleta o item contÃƒÂ¡bil do tipo de produÃƒÂ§ÃƒÂ£o*/
			delete a 
				from ctb_lancamento_item a 
							join inserted b on 
									a.empresa		= b.empresa 				and 
									a.lancamento	= b.numero_conferencia 	and 
									a.item			= b.ctb_item
			where b.numero_conferencia is not null and b.id_caixa_pgto is null
	
			

			/*chama a procedure em bloco.*/
			declare cur_faturamento cursor for select filial,nf_saida,serie_nf from inserted where  id_caixa_pgto is null
			open cur_faturamento
	
			fetch next from cur_faturamento into @INSfilial,@INSnf_saida,@INSserie_nf
	
			while @@fetch_status=0
			begin
				exec lx_ctb_integrar_faturamento @INSfilial,@INSnf_saida,@INSserie_nf
				if @@error>0 goto error
				fetch next from cur_faturamento into @INSfilial,@INSnf_saida,@INSserie_nf
	
			end
	
			close cur_faturamento
			deallocate cur_faturamento
		end
		else
		begin
			

			/*chama a procedure em bloco apenas para comissÃƒÂµes.*/

			if not exists( 
					select 1 from inserted as a join deleted as b on (a.nf_saida=b.nf_saida and a.filial=b.filial and a.serie_nf=b.serie_nf) 
					where 	    (a.comissao)=(b.comissao)
						and (a.comissao_gerente)=(b.comissao_gerente)	
						and (isnull(a.representante,''))=(isnull(b.representante,'')) 
						and (isnull(a.gerente,''))=(isnull(b.gerente,''))
						and (a.porcentagem_acerto)=(b.porcentagem_acerto)
				)
			begin
			
				declare cur_faturamento cursor for select filial,nf_saida,serie_nf from inserted  where id_caixa_pgto is null
				open cur_faturamento
		
				fetch next from cur_faturamento into @INSfilial,@INSnf_saida,@INSserie_nf
		
				while @@fetch_status=0
				begin
					exec lx_ctb_integrar_comissao_nf @INSfilial,@INSnf_saida,@INSserie_nf
					if @@error>0 goto error
					fetch next from cur_faturamento into @INSfilial,@INSnf_saida,@INSserie_nf
		
				end
		
				close cur_faturamento
				deallocate cur_faturamento
			end 
			
		end 
	end

	------------------------------------------------------------------------------------------------------------------
	/*--- GERA ENTRADA AUTOMATICA --------------------------------------------------------------------------*/
	-- "Zera" a entrada na filial antiga
	IF UPDATE (NOME_CLIFOR) OR UPDATE(NOTA_CANCELADA)
		INSERT INTO LX_PROCESSO_LOG (PROCESSO, COMANDO, ORIGEM) 
		SELECT 'LX_GERA_TRANSFERENCIA_AUTOMATICA', 'LX_GERA_TRANSFERENCIA_AUTOMATICA @FILIAL=''' + RTRIM(FILIAL) + ''', @ROMANEIO_PRODUTO=''' + RTRIM(NF_SAIDA) + ''',@FILIAL_DESTINO=''' + RTRIM(NOME_CLIFOR) + ''',@SERIE_NF=''' + RTRIM(SERIE_NF) + ''', @ORIGEM=''F'', @EXCLUSAO=''S''', 'LXU_FATURAMENTO' 
		FROM DELETED A 
		LEFT JOIN LX_PROCESSO_LOG L ON L.COMANDO = 'LX_GERA_TRANSFERENCIA_AUTOMATICA @FILIAL=''' + RTRIM(FILIAL) + ''', @ROMANEIO_PRODUTO=''' + RTRIM(NF_SAIDA) + ''',@FILIAL_DESTINO=''' + RTRIM(NOME_CLIFOR) + ''',@SERIE_NF=''' + RTRIM(SERIE_NF) + ''', @ORIGEM=''F'', @EXCLUSAO=''S''' AND L.STATUS = 0 
		WHERE L.COMANDO IS NULL AND A.TABELA_FILHA = 'FATURAMENTO_PROD' AND A.STATUS_NFE = 5 --#9#

	INSERT INTO LX_PROCESSO_LOG (PROCESSO, COMANDO, ORIGEM) 
	SELECT 'LX_GERA_TRANSFERENCIA_AUTOMATICA', 'LX_GERA_TRANSFERENCIA_AUTOMATICA @FILIAL=''' + RTRIM(FILIAL) + ''', @ROMANEIO_PRODUTO=''' + RTRIM(NF_SAIDA) + ''',@FILIAL_DESTINO=''' + RTRIM(NOME_CLIFOR) + ''',@SERIE_NF=''' + RTRIM(SERIE_NF) + ''', @ORIGEM=''F'', @EXCLUSAO=''N''', 'LXU_FATURAMENTO' 
	FROM INSERTED A
	LEFT JOIN LX_PROCESSO_LOG L ON L.COMANDO = 'LX_GERA_TRANSFERENCIA_AUTOMATICA @FILIAL=''' + RTRIM(FILIAL) + ''', @ROMANEIO_PRODUTO=''' + RTRIM(NF_SAIDA) + ''',@FILIAL_DESTINO=''' + RTRIM(NOME_CLIFOR) + ''',@SERIE_NF=''' + RTRIM(SERIE_NF) + ''', @ORIGEM=''F'', @EXCLUSAO=''N''' AND L.STATUS = 0 
	WHERE L.COMANDO IS NULL AND A.TABELA_FILHA = 'FATURAMENTO_PROD' AND A.STATUS_NFE = 5 --#9#
	/*-----------------------------------------------------------------------------------------------------*/

	---DATA PARA TRANSFERENCIA---------------------------------------------------------------------------
	IF NOT UPDATE(DATA_PARA_TRANSFERENCIA)
	UPDATE 	FATURAMENTO
	SET 	DATA_PARA_TRANSFERENCIA = GETDATE()
	FROM 	FATURAMENTO, INSERTED
	WHERE	FATURAMENTO.FILIAL = INSERTED.FILIAL AND 
			FATURAMENTO.SERIE_NF = INSERTED.SERIE_NF AND 
			FATURAMENTO.NF_SAIDA = INSERTED.NF_SAIDA
			AND (INSERTED.DATA_PARA_TRANSFERENCIA Is Null 
				OR FATURAMENTO.DATA_PARA_TRANSFERENCIA = INSERTED.DATA_PARA_TRANSFERENCIA) 
	-----------------------------------------------------------------------------------------------------

	return
Error:
	raiserror (@errmsg, 16, 1)
	rollback transaction
End