USE [portal_fornecedor]
GO
/****** Object:  Trigger [dbo].[trg_cabine_escala]    Script Date: 01/06/2026 13:46:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO






ALTER trigger [dbo].[trg_cabine_escala]  
on [dbo].[cabine_escala] 
after update as

declare @v_id_escala int;
declare @v_id_funcionario varchar(15);
declare @v_id_loja int;
declare @v_status varchar(20);
declare @v_dia_01 varchar(20);
declare @v_dia_02 varchar(20);
declare @v_dia_03 varchar(20);
declare @v_dia_04 varchar(20);
declare @v_dia_05 varchar(20);
declare @v_dia_06 varchar(20);
declare @v_dia_07 varchar(20);
declare @v_dia_08 varchar(20);
declare @v_dia_09 varchar(20);
declare @v_dia_10 varchar(20);
declare @v_dia_11 varchar(20);
declare @v_dia_12 varchar(20);
declare @v_dia_13 varchar(20);
declare @v_dia_14 varchar(20);
declare @v_dia_15 varchar(20);
declare @v_dia_16 varchar(20);
declare @v_dia_17 varchar(20);
declare @v_dia_18 varchar(20);
declare @v_dia_19 varchar(20);
declare @v_dia_20 varchar(20);
declare @v_dia_21 varchar(20);
declare @v_dia_22 varchar(20);
declare @v_dia_23 varchar(20);
declare @v_dia_24 varchar(20);
declare @v_dia_25 varchar(20);
declare @v_dia_26 varchar(20);
declare @v_dia_27 varchar(20);
declare @v_dia_28 varchar(20);
declare @v_dia_29 varchar(20);
declare @v_dia_30 varchar(20);
declare @v_dia_31 varchar(20);
declare @v_id_usuario int;
declare @v_id_usuario_executor int;
declare @v_skmes char(6);
declare @v_dtedicao datetime;
declare @v_data	datetime;
declare @v_ultimodsr date;
declare @v_dtinsercao date;
declare @v_id_fprimaria varchar(20);

declare linhas cursor for 
select d.id_escala
      ,d.id_funcionario
	  ,d.id_loja
	  ,case when d.status <> i.status then cast (d.status as varchar) + ' --> ' + cast(i.status as varchar) else null end as status
	  ,case when rtrim(ltrim(d.dia_01)) <> rtrim(ltrim(i.dia_01 )) then d.dia_01 + ' --> ' + i.dia_01 else null end dia_01
	  ,case when rtrim(ltrim(d.dia_02)) <> rtrim(ltrim(i.dia_02 )) then d.dia_02 + ' --> ' + i.dia_02 else null end dia_02
	  ,case when rtrim(ltrim(d.dia_03)) <> rtrim(ltrim(i.dia_03 )) then d.dia_03 + ' --> ' + i.dia_03 else null end dia_03
	  ,case when rtrim(ltrim(d.dia_04)) <> rtrim(ltrim(i.dia_04 )) then d.dia_04 + ' --> ' + i.dia_04 else null end dia_04
	  ,case when rtrim(ltrim(d.dia_05)) <> rtrim(ltrim(i.dia_05 )) then d.dia_05 + ' --> ' + i.dia_05 else null end dia_05
	  ,case when rtrim(ltrim(d.dia_06)) <> rtrim(ltrim(i.dia_06 )) then d.dia_06 + ' --> ' + i.dia_06 else null end dia_06
	  ,case when rtrim(ltrim(d.dia_07)) <> rtrim(ltrim(i.dia_07 )) then d.dia_07 + ' --> ' + i.dia_07 else null end dia_07
	  ,case when rtrim(ltrim(d.dia_08)) <> rtrim(ltrim(i.dia_08 )) then d.dia_08 + ' --> ' + i.dia_08 else null end dia_08
	  ,case when rtrim(ltrim(d.dia_09)) <> rtrim(ltrim(i.dia_09 )) then d.dia_09 + ' --> ' + i.dia_09 else null end dia_09
	  ,case when rtrim(ltrim(d.dia_10)) <> rtrim(ltrim(i.dia_10 )) then d.dia_10 + ' --> ' + i.dia_10 else null end dia_10
	  ,case when rtrim(ltrim(d.dia_11)) <> rtrim(ltrim(i.dia_11 )) then d.dia_11 + ' --> ' + i.dia_11 else null end dia_11
	  ,case when rtrim(ltrim(d.dia_12)) <> rtrim(ltrim(i.dia_12 )) then d.dia_12 + ' --> ' + i.dia_12 else null end dia_12
	  ,case when rtrim(ltrim(d.dia_13)) <> rtrim(ltrim(i.dia_13 )) then d.dia_13 + ' --> ' + i.dia_13 else null end dia_13
	  ,case when rtrim(ltrim(d.dia_14)) <> rtrim(ltrim(i.dia_14 )) then d.dia_14 + ' --> ' + i.dia_14 else null end dia_14
	  ,case when rtrim(ltrim(d.dia_15)) <> rtrim(ltrim(i.dia_15 )) then d.dia_15 + ' --> ' + i.dia_15 else null end dia_15
	  ,case when rtrim(ltrim(d.dia_16)) <> rtrim(ltrim(i.dia_16 )) then d.dia_16 + ' --> ' + i.dia_16 else null end dia_16
  	  ,case when rtrim(ltrim(d.dia_17)) <> rtrim(ltrim(i.dia_17 )) then d.dia_17 + ' --> ' + i.dia_17 else null end dia_17
	  ,case when rtrim(ltrim(d.dia_18)) <> rtrim(ltrim(i.dia_18 )) then d.dia_18 + ' --> ' + i.dia_18 else null end dia_18
	  ,case when rtrim(ltrim(d.dia_19)) <> rtrim(ltrim(i.dia_19 )) then d.dia_19 + ' --> ' + i.dia_19 else null end dia_19
	  ,case when rtrim(ltrim(d.dia_20)) <> rtrim(ltrim(i.dia_20 )) then d.dia_20 + ' --> ' + i.dia_20 else null end dia_20
	  ,case when rtrim(ltrim(d.dia_21)) <> rtrim(ltrim(i.dia_21 )) then d.dia_21 + ' --> ' + i.dia_21 else null end dia_21
	  ,case when rtrim(ltrim(d.dia_22)) <> rtrim(ltrim(i.dia_22 )) then d.dia_22 + ' --> ' + i.dia_22 else null end dia_22
	  ,case when rtrim(ltrim(d.dia_23)) <> rtrim(ltrim(i.dia_23 )) then d.dia_23 + ' --> ' + i.dia_23 else null end dia_23
	  ,case when rtrim(ltrim(d.dia_24)) <> rtrim(ltrim(i.dia_24 )) then d.dia_24 + ' --> ' + i.dia_24 else null end dia_24
	  ,case when rtrim(ltrim(d.dia_25)) <> rtrim(ltrim(i.dia_25 )) then d.dia_25 + ' --> ' + i.dia_25 else null end dia_25
	  ,case when rtrim(ltrim(d.dia_26)) <> rtrim(ltrim(i.dia_26 )) then d.dia_26 + ' --> ' + i.dia_26 else null end dia_26
	  ,case when rtrim(ltrim(d.dia_27)) <> rtrim(ltrim(i.dia_27 )) then d.dia_27 + ' --> ' + i.dia_27 else null end dia_27
	  ,case when rtrim(ltrim(d.dia_28)) <> rtrim(ltrim(i.dia_28 )) then d.dia_28 + ' --> ' + i.dia_28 else null end dia_28
	  ,case when rtrim(ltrim(d.dia_29)) <> rtrim(ltrim(i.dia_29 )) then d.dia_29 + ' --> ' + i.dia_29 else null end dia_29
	  ,case when rtrim(ltrim(d.dia_30)) <> rtrim(ltrim(i.dia_30 )) then d.dia_30 + ' --> ' + i.dia_30 else null end dia_30
	  ,case when rtrim(ltrim(d.dia_31)) <> rtrim(ltrim(i.dia_31 )) then d.dia_31 + ' --> ' + i.dia_31 else null end dia_31
	  ,d.id_usuario
	  ,d.skmes
	  ,d.dtedicao
	  ,d.data
	  ,d.ultimodsr
	  ,i.id_usuario as id_usuario_executor
	  ,case when d.id_fprimaria <> i.id_fprimaria then cast(d.id_fprimaria as varchar) + ' --> ' + cast(i.id_fprimaria as varchar) else null end  id_fprimaria
  from deleted d 
       inner join inserted i 
	           on d.id_escala = i.id_escala              
 
 where  rtrim(ltrim(d.dia_01))  <>  rtrim(ltrim(i.dia_01)) 
	or (rtrim(ltrim(d.dia_02 )) <> rtrim(ltrim(i.dia_02)))
    or (rtrim(ltrim(d.dia_03 )) <> rtrim(ltrim(i.dia_03)))
    or (rtrim(ltrim(d.dia_04 )) <> rtrim(ltrim(i.dia_04)))
    or (rtrim(ltrim(d.dia_05 )) <> rtrim(ltrim(i.dia_05)))
    or (rtrim(ltrim(d.dia_06 )) <> rtrim(ltrim(i.dia_06)))
    or (rtrim(ltrim(d.dia_07 )) <> rtrim(ltrim(i.dia_07)))
    or (rtrim(ltrim(d.dia_08 )) <> rtrim(ltrim(i.dia_08)))
    or (rtrim(ltrim(d.dia_09 )) <> rtrim(ltrim(i.dia_09)))
    or (rtrim(ltrim(d.dia_10 )) <> rtrim(ltrim(i.dia_10)))
    or (rtrim(ltrim(d.dia_11 )) <> rtrim(ltrim(i.dia_11)))
    or (rtrim(ltrim(d.dia_12 )) <> rtrim(ltrim(i.dia_12)))
    or (rtrim(ltrim(d.dia_13 )) <> rtrim(ltrim(i.dia_13)))
    or (rtrim(ltrim(d.dia_14 )) <> rtrim(ltrim(i.dia_14)))
    or (rtrim(ltrim(d.dia_15 )) <> rtrim(ltrim(i.dia_15)))
    or (rtrim(ltrim(d.dia_16 )) <> rtrim(ltrim(i.dia_16)))
    or (rtrim(ltrim(d.dia_17 )) <> rtrim(ltrim(i.dia_17)))
    or (rtrim(ltrim(d.dia_18 )) <> rtrim(ltrim(i.dia_18)))
    or (rtrim(ltrim(d.dia_19 )) <> rtrim(ltrim(i.dia_19)))
    or (rtrim(ltrim(d.dia_20 )) <> rtrim(ltrim(i.dia_20)))
    or (rtrim(ltrim(d.dia_21 )) <> rtrim(ltrim(i.dia_21)))
    or (rtrim(ltrim(d.dia_22 )) <> rtrim(ltrim(i.dia_22)))
    or (rtrim(ltrim(d.dia_23 )) <> rtrim(ltrim(i.dia_23)))
    or (rtrim(ltrim(d.dia_24 )) <> rtrim(ltrim(i.dia_24)))
    or (rtrim(ltrim(d.dia_25 )) <> rtrim(ltrim(i.dia_25)))
    or (rtrim(ltrim(d.dia_26 )) <> rtrim(ltrim(i.dia_26)))
    or (rtrim(ltrim(d.dia_27 )) <> rtrim(ltrim(i.dia_27)))
    or (rtrim(ltrim(d.dia_28 )) <> rtrim(ltrim(i.dia_28)))
    or (rtrim(ltrim(d.dia_29 )) <> rtrim(ltrim(i.dia_29)))
    or (rtrim(ltrim(d.dia_30 )) <> rtrim(ltrim(i.dia_30)))
    or (rtrim(ltrim(d.dia_31 )) <> rtrim(ltrim(i.dia_31)))   
	or (d.status <> i.status)
	or (d.id_fprimaria <> i.id_fprimaria)
begin


	open linhas;
	fetch next from linhas into @v_id_escala, @v_id_funcionario, @v_id_loja, @v_status, @v_dia_01, @v_dia_02, @v_dia_03, @v_dia_04, @v_dia_05,
	                            @v_dia_06, @v_dia_07, @v_dia_08, @v_dia_09, @v_dia_10, @v_dia_11, @v_dia_12, @v_dia_13, @v_dia_14, @v_dia_15, 
								@v_dia_16, @v_dia_17, @v_dia_18, @v_dia_19, @v_dia_20, @v_dia_21, @v_dia_22, @v_dia_23, @v_dia_24, @v_dia_25,
								@v_dia_26, @v_dia_27, @v_dia_28, @v_dia_29, @v_dia_30, @v_dia_31, @v_id_usuario, @v_skmes, @v_dtedicao,
								@v_data, @v_ultimodsr, @v_id_usuario_executor, @v_id_fprimaria 

    while @@fetch_status=0

	
	begin
	   insert into cabine_escala_hist (   id_escala,    id_funcionario,					 id_loja,         status,       dia_01,    dia_02,       dia_03,       dia_04,       
		                                     dia_05,            dia_06,					  dia_07,         dia_08,       dia_09,    dia_10,       dia_11,       dia_12,    
									         dia_13,            dia_14,					  dia_15,         dia_16,       dia_17,    dia_18, 	    dia_19,       dia_20,      
									         dia_21,            dia_22,					  dia_23,         dia_24,       dia_25,    dia_26,       dia_27,       dia_28,    
										     dia_29,     	    dia_30,                   dia_31,     id_usuario,       skmes,     dtedicao,         data,    
										  ultimodsr,        dtinsercao,      id_usuario_executor,   id_fprimaria )

	                            values(@v_id_escala, @v_id_funcionario,               @v_id_loja,	   @v_status,    @v_dia_01, @v_dia_02,    @v_dia_03,    @v_dia_04,
								          @v_dia_05,         @v_dia_06,	               @v_dia_07,      @v_dia_08,    @v_dia_09, @v_dia_10,    @v_dia_11,    @v_dia_12,
										  @v_dia_13,         @v_dia_14,                @v_dia_15,      @v_dia_16,    @v_dia_17, @v_dia_18,    @v_dia_19,    @v_dia_20,
										  @v_dia_21,         @v_dia_22,                @v_dia_23,      @v_dia_24,    @v_dia_25, @v_dia_26,    @v_dia_27,    @v_dia_28,
						                  @v_dia_29,         @v_dia_30,                @v_dia_31,  @v_id_usuario,    @v_skmes,  @v_dtedicao,      @v_data, 
										  @v_ultimodsr,      getdate(),   @v_id_usuario_executor, @v_id_fprimaria)



	fetch next from linhas into @v_id_escala, @v_id_funcionario, @v_id_loja, @v_status, @v_dia_01, @v_dia_02, @v_dia_03, @v_dia_04, @v_dia_05,
	                            @v_dia_06, @v_dia_07, @v_dia_08, @v_dia_09, @v_dia_10, @v_dia_11, @v_dia_12, @v_dia_13, @v_dia_14, @v_dia_15, 
								@v_dia_16, @v_dia_17, @v_dia_18, @v_dia_19, @v_dia_20, @v_dia_21, @v_dia_22, @v_dia_23, @v_dia_24, @v_dia_25,
								@v_dia_26, @v_dia_27, @v_dia_28, @v_dia_29, @v_dia_30, @v_dia_31, @v_id_usuario,  @v_skmes, @v_dtedicao,
								@v_data, @v_ultimodsr, @v_id_usuario_executor, @v_id_fprimaria

	end 
	close linhas
    deallocate linhas
end




