USE [CAEDU]
GO
/****** Object:  Trigger [dbo].[LXU_PRODUTOS]    Script Date: 06/03/2024 09:15:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER TRIGGER [dbo].[LXU_PRODUTOS] ON [dbo].[PRODUTOS]
FOR UPDATE NOT FOR REPLICATION
As 
-- 29/07/2019 - Rodrigo Souza		- #7# - MODASP-4360 - Correção para melhorar a performance na importação de pacote do datasync SMB.
-- 05/06/2019 - JULIANA NASCIMENTO	- #6# - ID 121224  - Retirado o comentário #4# para inclusão do log na tabela produtos_log.
-- 30/11/2017 - Rodrigo Souza		- #5# - ID 52834   - Correção para atualizar o campo DATA_PARA_TRANSFERENCIA da tabela PRODUTOS_INDICADOR_CFOP.
-- 12/02/2015 - Barbara Lima		- #4# - TP 7653867 - Adicionar inclusão na tabela PRODUTOS_LOG.
-- 18/11/2014 - Rodrigo Souza		- #3# - TP 7124565 - Correção na atualização da data para transferencia, convertando o getdate() para smalldatetime.
-- 08/10/2014 - Barbara Lima		- #2# - TP 6414536 - Adicionada atualização para permitir alteração da DATA DE TRANSFERENCIA, convertendo o datetime para retirar os milissegundos, para que o Visual Foxpro consiga entender.
-- 04/07/2014 - Rodrigo Souza		- #1# - TP 5921945 - Adicionado atualização da tabela PRODUTOS_STATUS_LOG, atualização foi retirada da tela 002006.
-- ALESSANDRO ARAÚJO - 07/07/2008 - CORREÇÃO DO LOOP QUE RECRIA OS AGRUPAMENTOS DO PLANEJAMENTO E ADIÇÃO DOS CAMPOS CODIGO_PRECO, COD_PRODUTO_SEGMENTO E COD_PRODUTO_SOLUCAO
-- UPDATE Trigger On PRODUTOS
Begin
	Declare	
		@numrows	Int,
		@nullcnt	Int,
		@validcnt	Int,
		@insPRODUTO char(12) ,
		@delPRODUTO char(12) ,
		@errno      Int,
		@errmsg     varchar(255)

	Select @numrows = @@rowcount

-- CTB_LX_INDICADOR_CFOP - Child Update Restrict
	IF	UPDATE(INDICADOR_CFOP)
	Begin
		SELECT @NullCnt = 0
		SELECT @ValidCnt = count(*)
		FROM Inserted, CTB_LX_INDICADOR_CFOP
		WHERE	INSERTED.INDICADOR_CFOP = CTB_LX_INDICADOR_CFOP.INDICADOR_CFOP

		SELECT @NullCnt = count(*)
		FROM Inserted 
		WHERE	INSERTED.INDICADOR_CFOP IS NULL

		If @validcnt + @nullcnt != @numrows
		Begin
			Select	@errno  = 30002,
				@errmsg = 'Impossível Atualizar #PRODUTOS #porque #CTB_LX_INDICADOR_CFOP #não existe.'
			GoTo Error
		End
	End

-- PRODUTOS_SUBCATEGORIA - Child Update Restrict
	IF	UPDATE(COD_SUBCATEGORIA) OR 
		UPDATE(COD_CATEGORIA)
	Begin
		SELECT @NullCnt = 0
		SELECT @ValidCnt = count(*)
		FROM Inserted, PRODUTOS_SUBCATEGORIA
		WHERE	INSERTED.COD_SUBCATEGORIA = PRODUTOS_SUBCATEGORIA.COD_SUBCATEGORIA AND 
			INSERTED.COD_CATEGORIA = PRODUTOS_SUBCATEGORIA.COD_CATEGORIA

		SELECT @NullCnt = count(*)
		FROM Inserted 
		WHERE	INSERTED.COD_SUBCATEGORIA IS NULL AND 
			INSERTED.COD_CATEGORIA IS NULL

		If @validcnt + @nullcnt != @numrows
		Begin
			Select	@errno  = 30002,
				@errmsg = 'Impossível Atualizar #PRODUTOS #porque #PRODUTOS_SUBCATEGORIA #não existe.'
			GoTo Error
		End
	End

-- CTB_EXCECAO_GRUPO - Child Update Restrict
	IF	UPDATE(ID_EXCECAO_GRUPO)
	Begin
		SELECT @NullCnt = 0
		SELECT @ValidCnt = count(*)
		FROM Inserted, CTB_EXCECAO_GRUPO
		WHERE	INSERTED.ID_EXCECAO_GRUPO = CTB_EXCECAO_GRUPO.ID_EXCECAO_GRUPO

		SELECT @NullCnt = count(*)
		FROM Inserted 
		WHERE	INSERTED.ID_EXCECAO_GRUPO IS NULL

		If @validcnt + @nullcnt != @numrows
		Begin
			Select	@errno  = 30002,
				@errmsg = 'Impossível Atualizar #PRODUTOS #porque #CTB_EXCECAO_GRUPO #não existe.'
			GoTo Error
		End
	End

-- CTB_CONTA_PLANO - Child Update Restrict
	IF	UPDATE(CONTA_CONTABIL_DEV_VENDA)
	Begin
		SELECT @NullCnt = 0
		SELECT @ValidCnt = count(*)
		FROM Inserted, CTB_CONTA_PLANO
		WHERE	INSERTED.CONTA_CONTABIL_DEV_VENDA = CTB_CONTA_PLANO.CONTA_CONTABIL

		SELECT @NullCnt = count(*)
		FROM Inserted 
		WHERE	INSERTED.CONTA_CONTABIL_DEV_VENDA IS NULL

		If @validcnt + @nullcnt != @numrows
		Begin
			Select	@errno  = 30002,
				@errmsg = 'Impossível Atualizar #PRODUTOS #porque #CTB_CONTA_PLANO #não existe.'
			GoTo Error
		End
	End

-- CTB_CONTA_PLANO - Child Update Restrict
	IF	UPDATE(CONTA_CONTABIL_DEV_COMPRA)
	Begin
		SELECT @NullCnt = 0
		SELECT @ValidCnt = count(*)
		FROM Inserted, CTB_CONTA_PLANO
		WHERE	INSERTED.CONTA_CONTABIL_DEV_COMPRA = CTB_CONTA_PLANO.CONTA_CONTABIL

		SELECT @NullCnt = count(*)
		FROM Inserted 
		WHERE	INSERTED.CONTA_CONTABIL_DEV_COMPRA IS NULL

		If @validcnt + @nullcnt != @numrows
		Begin
			Select	@errno  = 30002,
				@errmsg = 'Impossível Atualizar #PRODUTOS #porque #CTB_CONTA_PLANO #não existe.'
			GoTo Error
		End
	End

-- CTB_CONTA_PLANO - Child Update Restrict
	IF	UPDATE(CONTA_CONTABIL_VENDA)
	Begin
		SELECT @NullCnt = 0
		SELECT @ValidCnt = count(*)
		FROM Inserted, CTB_CONTA_PLANO
		WHERE	INSERTED.CONTA_CONTABIL_VENDA = CTB_CONTA_PLANO.CONTA_CONTABIL

		SELECT @NullCnt = count(*)
		FROM Inserted 
		WHERE	INSERTED.CONTA_CONTABIL_VENDA IS NULL

		If @validcnt + @nullcnt != @numrows
		Begin
			Select	@errno  = 30002,
				@errmsg = 'Impossível Atualizar #PRODUTOS #porque #CTB_CONTA_PLANO #não existe.'
			GoTo Error
		End
	End

-- CTB_CONTA_PLANO - Child Update Restrict
	IF	UPDATE(CONTA_CONTABIL_COMPRA)
	Begin
		SELECT @NullCnt = 0
		SELECT @ValidCnt = count(*)
		FROM Inserted, CTB_CONTA_PLANO
		WHERE	INSERTED.CONTA_CONTABIL_COMPRA = CTB_CONTA_PLANO.CONTA_CONTABIL

		SELECT @NullCnt = count(*)
		FROM Inserted 
		WHERE	INSERTED.CONTA_CONTABIL_COMPRA IS NULL

		If @validcnt + @nullcnt != @numrows
		Begin
			Select	@errno  = 30002,
				@errmsg = 'Impossível Atualizar #PRODUTOS #porque #CTB_CONTA_PLANO #não existe.'
			GoTo Error
		End
	End

-- CTB_CONTA_PLANO - Child Update Restrict
	IF	UPDATE(CONTA_CONTABIL)
	Begin
		SELECT @NullCnt = 0
		SELECT @ValidCnt = count(*)
		FROM Inserted, CTB_CONTA_PLANO
		WHERE	INSERTED.CONTA_CONTABIL = CTB_CONTA_PLANO.CONTA_CONTABIL

		SELECT @NullCnt = count(*)
		FROM Inserted 
		WHERE	INSERTED.CONTA_CONTABIL IS NULL

		If @validcnt + @nullcnt != @numrows
		Begin
			Select	@errno  = 30002,
				@errmsg = 'Impossível Atualizar #PRODUTOS #porque #CTB_CONTA_PLANO #não existe.'
			GoTo Error
		End
	End

-- PRODUTOS_FLUXO - Child Update Restrict
	IF	UPDATE(COD_FLUXO_PRODUTO)
	Begin
		SELECT @NullCnt = 0
		SELECT @ValidCnt = count(*)
		FROM Inserted, PRODUTOS_FLUXO
		WHERE	INSERTED.COD_FLUXO_PRODUTO = PRODUTOS_FLUXO.COD_FLUXO_PRODUTO

		SELECT @NullCnt = count(*)
		FROM Inserted 
		WHERE	INSERTED.COD_FLUXO_PRODUTO IS NULL

		If @validcnt + @nullcnt != @numrows
		Begin
			Select	@errno  = 30002,
				@errmsg = 'Impossível Atualizar #PRODUTOS #porque #PRODUTOS_FLUXO #não existe.'
			GoTo Error
		End
	End

-- COLECOES - Child Update Restrict
	IF	UPDATE(COLECAO)
	Begin
		SELECT @NullCnt = 0
		SELECT @ValidCnt = count(*)
		FROM Inserted, COLECOES
		WHERE	INSERTED.COLECAO = COLECOES.COLECAO

		If @validcnt + @nullcnt != @numrows
		Begin
			Select	@errno  = 30002,
				@errmsg = 'Impossível Atualizar #PRODUTOS #porque #COLECOES #não existe.'
			GoTo Error
		End
	End

-- PRODUTOS_GRIFFES - Child Update Restrict
	IF	UPDATE(GRIFFE)
	Begin
		SELECT @NullCnt = 0
		SELECT @ValidCnt = count(*)
		FROM Inserted, PRODUTOS_GRIFFES
		WHERE	INSERTED.GRIFFE = PRODUTOS_GRIFFES.GRIFFE

		If @validcnt + @nullcnt != @numrows
		Begin
			Select	@errno  = 30002,
				@errmsg = 'Impossível Atualizar #PRODUTOS #porque #PRODUTOS_GRIFFES #não existe.'
			GoTo Error
		End
	End

-- PRODUTOS_LINHAS - Child Update Restrict
	IF	UPDATE(LINHA)
	Begin
		SELECT @NullCnt = 0
		SELECT @ValidCnt = count(*)
		FROM Inserted, PRODUTOS_LINHAS
		WHERE	INSERTED.LINHA = PRODUTOS_LINHAS.LINHA

		If @validcnt + @nullcnt != @numrows
		Begin
			Select	@errno  = 30002,
				@errmsg = 'Impossível Atualizar #PRODUTOS #porque #PRODUTOS_LINHAS #não existe.'
			GoTo Error
		End
	End

-- FORNECEDORES - Child Update Restrict
	IF	UPDATE(FABRICANTE)
	Begin
		SELECT @NullCnt = 0
		SELECT @ValidCnt = count(*)
		FROM Inserted, FORNECEDORES
		WHERE	INSERTED.FABRICANTE = FORNECEDORES.FORNECEDOR

		If @validcnt + @nullcnt != @numrows
		Begin
			Select	@errno  = 30002,
				@errmsg = 'Impossível Atualizar #PRODUTOS #porque #FORNECEDORES #não existe.'
			GoTo Error
		End
	End

-- PRODUTOS_TAMANHOS - Child Update Restrict
	IF	UPDATE(GRADE)
	Begin
		SELECT @NullCnt = 0
		SELECT @ValidCnt = count(*)
		FROM Inserted, PRODUTOS_TAMANHOS
		WHERE	INSERTED.GRADE = PRODUTOS_TAMANHOS.GRADE

		If @validcnt + @nullcnt != @numrows
		Begin
			Select	@errno  = 30002,
				@errmsg = 'Impossível Atualizar #PRODUTOS #porque #PRODUTOS_TAMANHOS #não existe.'
			GoTo Error
		End
	End

-- TRIBUT_ORIGEM - Child Update Restrict
	IF	UPDATE(TRIBUT_ORIGEM)
	Begin
		SELECT @NullCnt = 0
		SELECT @ValidCnt = count(*)
		FROM Inserted, TRIBUT_ORIGEM
		WHERE	INSERTED.TRIBUT_ORIGEM = TRIBUT_ORIGEM.TRIBUT_ORIGEM

		If @validcnt + @nullcnt != @numrows
		Begin
			Select	@errno  = 30002,
				@errmsg = 'Impossível Atualizar #PRODUTOS #porque #TRIBUT_ORIGEM #não existe.'
			GoTo Error
		End
	End

-- UNIDADES - Child Update Restrict
	IF	UPDATE(UNIDADE)
	Begin
		SELECT @NullCnt = 0
		SELECT @ValidCnt = count(*)
		FROM Inserted, UNIDADES
		WHERE	INSERTED.UNIDADE = UNIDADES.UNIDADE

		If @validcnt + @nullcnt != @numrows
		Begin
			Select	@errno  = 30002,
				@errmsg = 'Impossível Atualizar #PRODUTOS #porque #UNIDADES #não existe.'
			GoTo Error
		End
	End

-- PRODUTOS_SUBGRUPO - Child Update Restrict
	IF	UPDATE(SUBGRUPO_PRODUTO) OR 
		UPDATE(GRUPO_PRODUTO)
	Begin
		SELECT @NullCnt = 0
		SELECT @ValidCnt = count(*)
		FROM Inserted, PRODUTOS_SUBGRUPO
		WHERE	INSERTED.SUBGRUPO_PRODUTO = PRODUTOS_SUBGRUPO.SUBGRUPO_PRODUTO AND 
			INSERTED.GRUPO_PRODUTO = PRODUTOS_SUBGRUPO.GRUPO_PRODUTO

		If @validcnt + @nullcnt != @numrows
		Begin
			Select	@errno  = 30002,
				@errmsg = 'Impossível Atualizar #PRODUTOS #porque #PRODUTOS_SUBGRUPO #não existe.'
			GoTo Error
		End
	End

-- TRIBUT_ICMS - Child Update Restrict
	IF	UPDATE(TRIBUT_ICMS)
	Begin
		SELECT @NullCnt = 0
		SELECT @ValidCnt = count(*)
		FROM Inserted, TRIBUT_ICMS
		WHERE	INSERTED.TRIBUT_ICMS = TRIBUT_ICMS.TRIBUT_ICMS

		If @validcnt + @nullcnt != @numrows
		Begin
			Select	@errno  = 30002,
				@errmsg = 'Impossível Atualizar #PRODUTOS #porque #TRIBUT_ICMS #não existe.'
			GoTo Error
		End
	End

-- PRODUTOS_TIPOS - Child Update Restrict
	IF	UPDATE(TIPO_PRODUTO)
	Begin
		SELECT @NullCnt = 0
		SELECT @ValidCnt = count(*)
		FROM Inserted, PRODUTOS_TIPOS
		WHERE	INSERTED.TIPO_PRODUTO = PRODUTOS_TIPOS.TIPO_PRODUTO

		If @validcnt + @nullcnt != @numrows
		Begin
			Select	@errno  = 30002,
				@errmsg = 'Impossível Atualizar #PRODUTOS #porque #PRODUTOS_TIPOS #não existe.'
			GoTo Error
		End
	End

-- CLASSIF_FISCAL - Child Update Restrict
	IF	UPDATE(CLASSIF_FISCAL)
	Begin
		SELECT @NullCnt = 0
		SELECT @ValidCnt = count(*)
		FROM Inserted, CLASSIF_FISCAL
		WHERE	INSERTED.CLASSIF_FISCAL = CLASSIF_FISCAL.CLASSIF_FISCAL

		If @validcnt + @nullcnt != @numrows
		Begin
			Select	@errno  = 30002,
				@errmsg = 'Impossível Atualizar #PRODUTOS #porque #CLASSIF_FISCAL #não existe.'
			GoTo Error
		End
	End

-- PRODUTOS_TAB_MEDIDAS - Child Update Restrict
	IF	UPDATE(TABELA_MEDIDAS)
	Begin
		SELECT @NullCnt = 0
		SELECT @ValidCnt = count(*)
		FROM Inserted, PRODUTOS_TAB_MEDIDAS
		WHERE	INSERTED.TABELA_MEDIDAS = PRODUTOS_TAB_MEDIDAS.TABELA_MEDIDAS

		SELECT @NullCnt = count(*)
		FROM Inserted 
		WHERE	INSERTED.TABELA_MEDIDAS IS NULL

		If @validcnt + @nullcnt != @numrows
		Begin
			Select	@errno  = 30002,
				@errmsg = 'Impossível Atualizar #PRODUTOS #porque #PRODUTOS_TAB_MEDIDAS #não existe.'
			GoTo Error
		End
	End

-- PRODUTOS_TAB_OPERACOES - Child Update Restrict
	IF	UPDATE(TABELA_OPERACOES)
	Begin
		SELECT @NullCnt = 0
		SELECT @ValidCnt = count(*)
		FROM Inserted, PRODUTOS_TAB_OPERACOES
		WHERE	INSERTED.TABELA_OPERACOES = PRODUTOS_TAB_OPERACOES.TABELA_OPERACOES

		SELECT @NullCnt = count(*)
		FROM Inserted 
		WHERE	INSERTED.TABELA_OPERACOES IS NULL

		If @validcnt + @nullcnt != @numrows
		Begin
			Select	@errno  = 30002,
				@errmsg = 'Impossível Atualizar #PRODUTOS #porque #PRODUTOS_TAB_OPERACOES #não existe.'
			GoTo Error
		End
	End

-- PRODUTOS_PERIODOS_PCP - Child Update Restrict
	IF	UPDATE(PERIODO_PCP)
	Begin
		SELECT @NullCnt = 0
		SELECT @ValidCnt = count(*)
		FROM Inserted, PRODUTOS_PERIODOS_PCP
		WHERE	INSERTED.PERIODO_PCP = PRODUTOS_PERIODOS_PCP.PERIODO_PCP

		SELECT @NullCnt = count(*)
		FROM Inserted 
		WHERE	INSERTED.PERIODO_PCP IS NULL

		If @validcnt + @nullcnt != @numrows
		Begin
			Select	@errno  = 30002,
				@errmsg = 'Impossível Atualizar #PRODUTOS #porque #PRODUTOS_PERIODOS_PCP #não existe.'
			GoTo Error
		End
	End

-- MATERIAIS - Child Update Restrict
	IF	UPDATE(MATERIAL)
	Begin
		SELECT @NullCnt = 0
		SELECT @ValidCnt = count(*)
		FROM Inserted, MATERIAIS
		WHERE	INSERTED.MATERIAL = MATERIAIS.MATERIAL

		SELECT @NullCnt = count(*)
		FROM Inserted 
		WHERE	INSERTED.MATERIAL IS NULL

		If @validcnt + @nullcnt != @numrows
		Begin
			Select	@errno  = 30002,
				@errmsg = 'Impossível Atualizar #PRODUTOS #porque #MATERIAIS #não existe.'
			GoTo Error
		End
	End

-- LOJAS_REDE - Child Update Restrict
	IF	UPDATE(REDE_LOJAS)
	Begin
		SELECT @NullCnt = 0
		SELECT @ValidCnt = count(*)
		FROM Inserted, LOJAS_REDE
		WHERE	INSERTED.REDE_LOJAS = LOJAS_REDE.REDE_LOJAS

		SELECT @NullCnt = count(*)
		FROM Inserted 
		WHERE	INSERTED.REDE_LOJAS IS NULL

		If @validcnt + @nullcnt != @numrows
		Begin
			Select	@errno  = 30002,
				@errmsg = 'Impossível Atualizar #PRODUTOS #porque #LOJAS_REDE #não existe.'
			GoTo Error
		End
	End

-- PRODUTOS_STATUS - Child Update Restrict
	IF	UPDATE(STATUS_PRODUTO)
	Begin
		SELECT @NullCnt = 0
		SELECT @ValidCnt = count(*)
		FROM Inserted, PRODUTOS_STATUS
		WHERE	INSERTED.STATUS_PRODUTO = PRODUTOS_STATUS.STATUS_PRODUTO

		SELECT @NullCnt = count(*)
		FROM Inserted 
		WHERE	INSERTED.STATUS_PRODUTO IS NULL

		If @validcnt + @nullcnt != @numrows
		Begin
			Select	@errno  = 30002,
				@errmsg = 'Impossível Atualizar #PRODUTOS #porque #PRODUTOS_STATUS #não existe.'
			GoTo Error
		End
	End

-- MATERIAIS_TIPO_LAVAGEM - Child Update Restrict
	IF	UPDATE(RESTRICAO_LAVAGEM)
	Begin
		SELECT @NullCnt = 0
		SELECT @ValidCnt = count(*)
		FROM Inserted, MATERIAIS_TIPO_LAVAGEM
		WHERE	INSERTED.RESTRICAO_LAVAGEM = MATERIAIS_TIPO_LAVAGEM.RESTRICAO_LAVAGEM

		SELECT @NullCnt = count(*)
		FROM Inserted 
		WHERE	INSERTED.RESTRICAO_LAVAGEM IS NULL

		If @validcnt + @nullcnt != @numrows
		Begin
			Select	@errno  = 30002,
				@errmsg = 'Impossível Atualizar #PRODUTOS #porque #MATERIAIS_TIPO_LAVAGEM #não existe.'
			GoTo Error
		End
	End

-- MATERIAIS_COMPOSICAO - Child Update Restrict
	IF	UPDATE(COMPOSICAO)
	Begin
		SELECT @NullCnt = 0
		SELECT @ValidCnt = count(*)
		FROM Inserted, MATERIAIS_COMPOSICAO
		WHERE	INSERTED.COMPOSICAO = MATERIAIS_COMPOSICAO.COMPOSICAO

		SELECT @NullCnt = count(*)
		FROM Inserted 
		WHERE	INSERTED.COMPOSICAO IS NULL

		If @validcnt + @nullcnt != @numrows
		Begin
			Select	@errno  = 30002,
				@errmsg = 'Impossível Atualizar #PRODUTOS #porque #MATERIAIS_COMPOSICAO #não existe.'
			GoTo Error
		End
	End

-- EMPRESA - Child Update Restrict
	IF	UPDATE(EMPRESA)
	Begin
		SELECT @NullCnt = 0
		SELECT @ValidCnt = count(*)
		FROM Inserted, EMPRESA
		WHERE	INSERTED.EMPRESA = EMPRESA.EMPRESA

		If @validcnt + @nullcnt != @numrows
		Begin
			Select	@errno  = 30002,
				@errmsg = 'Impossível Atualizar #PRODUTOS #porque #EMPRESA #não existe.'
			GoTo Error
		End
	End

-- CLIENTES_ATACADO - Child Update Restrict
	IF	UPDATE(CLIENTE_DO_PRODUTO)
	Begin
		SELECT @NullCnt = 0
		SELECT @ValidCnt = count(*)
		FROM Inserted, CLIENTES_ATACADO
		WHERE	INSERTED.CLIENTE_DO_PRODUTO = CLIENTES_ATACADO.CLIENTE_ATACADO

		SELECT @NullCnt = count(*)
		FROM Inserted 
		WHERE	INSERTED.CLIENTE_DO_PRODUTO IS NULL

		If @validcnt + @nullcnt != @numrows
		Begin
			Select	@errno  = 30002,
				@errmsg = 'Impossível Atualizar #PRODUTOS #porque #CLIENTES_ATACADO #não existe.'
			GoTo Error
		End
	End

-- ORCAMENTOS - Child Update Restrict
	IF	UPDATE(ORCAMENTO)
	Begin
		SELECT @NullCnt = 0
		SELECT @ValidCnt = count(*)
		FROM Inserted, ORCAMENTOS
		WHERE	INSERTED.ORCAMENTO = ORCAMENTOS.ORCAMENTO

		SELECT @NullCnt = count(*)
		FROM Inserted 
		WHERE	INSERTED.ORCAMENTO IS NULL

		If @validcnt + @nullcnt != @numrows
		Begin
			Select	@errno  = 30002,
				@errmsg = 'Impossível Atualizar #PRODUTOS #porque #ORCAMENTOS #não existe.'
			GoTo Error
		End
	End

-- PRODUTOS_MODELO - Child Update Restrict
	IF	UPDATE(MODELAGEM)
	Begin
		SELECT @NullCnt = 0
		SELECT @ValidCnt = count(*)
		FROM Inserted, PRODUTOS_MODELO
		WHERE	INSERTED.MODELAGEM = PRODUTOS_MODELO.MODELAGEM

		SELECT @NullCnt = count(*)
		FROM Inserted 
		WHERE	INSERTED.MODELAGEM IS NULL

		If @validcnt + @nullcnt != @numrows
		Begin
			Select	@errno  = 30002,
				@errmsg = 'Impossível Atualizar #PRODUTOS #porque #PRODUTOS_MODELO #não existe.'
			GoTo Error
		End
	End


-- MODIFICACAO_FICHA_TECNICA - Parent Update Restrict
	IF	UPDATE(PRODUTO)
	Begin
		If Exists (	SELECT * 
			FROM MODIFICACAO_FICHA_TECNICA, DELETED 
			WHERE	MODIFICACAO_FICHA_TECNICA.PRODUTO = DELETED.PRODUTO
			)
		Begin
			Select	@errno  = 30002,
				@errmsg = 'Impossível Atualizar #PRODUTOS #porque existem registros em #MODIFICACAO_FICHA_TECNICA.'
			GoTo Error
		End
	End

-- PRODUTOS_FORNECEDOR - Parent Update Restrict
	IF	UPDATE(PRODUTO)
	Begin
		If Exists (	SELECT * 
			FROM PRODUTOS_FORNECEDOR, DELETED 
			WHERE	PRODUTOS_FORNECEDOR.PRODUTO = DELETED.PRODUTO
			)
		Begin
			Select	@errno  = 30002,
				@errmsg = 'Impossível Atualizar #PRODUTOS #porque existem registros em #PRODUTOS_FORNECEDOR.'
			GoTo Error
		End
	End


-- PRODUCAO_CORTE_GRADE - Parent Update Cascade
	IF	UPDATE(PRODUTO)
	BEGIN	
		If Exists (	SELECT * 
				FROM INSERTED 
					LEFT JOIN DELETED ON 
						DELETED.PRODUTO = INSERTED.PRODUTO
				WHERE	DELETED.PRODUTO IS NULL
			)
		BEGIN
			DECLARE CURI_PRODUCAO_CORTE_GRADE1383 CURSOR FOR 
				SELECT	PRODUTO
				FROM INSERTED
			DECLARE CURD_PRODUCAO_CORTE_GRADE1383 CURSOR FOR 
				SELECT	PRODUTO
				FROM DELETED
			OPEN CURI_PRODUCAO_CORTE_GRADE1383
			OPEN CURD_PRODUCAO_CORTE_GRADE1383
			FETCH NEXT FROM CURI_PRODUCAO_CORTE_GRADE1383
					INTO	@InsPRODUTO
			FETCH NEXT FROM CURD_PRODUCAO_CORTE_GRADE1383
					INTO	@DelPRODUTO
			WHILE @@Fetch_Status = 0
			BEGIN
				UPDATE PRODUCAO_CORTE_GRADE
				SET	PRODUTO = @InsPRODUTO
				WHERE	PRODUTO = @delPRODUTO

				FETCH NEXT FROM CURI_PRODUCAO_CORTE_GRADE1383
						INTO	@InsPRODUTO
				FETCH NEXT FROM CURD_PRODUCAO_CORTE_GRADE1383
						INTO	@DelPRODUTO
			END
		CLOSE CURI_PRODUCAO_CORTE_GRADE1383
		CLOSE CURD_PRODUCAO_CORTE_GRADE1383
		DEALLOCATE CURI_PRODUCAO_CORTE_GRADE1383
		DEALLOCATE CURD_PRODUCAO_CORTE_GRADE1383
		END
	END

-- PRODUTO_FICHA_VERSAO - Parent Update Cascade
	IF	UPDATE(PRODUTO)
	BEGIN	
		If Exists (	SELECT * 
				FROM INSERTED 
					LEFT JOIN DELETED ON 
						DELETED.PRODUTO = INSERTED.PRODUTO
				WHERE	DELETED.PRODUTO IS NULL
			)
		BEGIN
			DECLARE CURI_PRODUTO_FICHA_VERSAO1405 CURSOR FOR 
				SELECT	PRODUTO
				FROM INSERTED
			DECLARE CURD_PRODUTO_FICHA_VERSAO1405 CURSOR FOR 
				SELECT	PRODUTO
				FROM DELETED
			OPEN CURI_PRODUTO_FICHA_VERSAO1405
			OPEN CURD_PRODUTO_FICHA_VERSAO1405
			FETCH NEXT FROM CURI_PRODUTO_FICHA_VERSAO1405
					INTO	@InsPRODUTO
			FETCH NEXT FROM CURD_PRODUTO_FICHA_VERSAO1405
					INTO	@DelPRODUTO
			WHILE @@Fetch_Status = 0
			BEGIN
				UPDATE PRODUTO_FICHA_VERSAO
				SET	PRODUTO = @InsPRODUTO
				WHERE	PRODUTO = @delPRODUTO

				FETCH NEXT FROM CURI_PRODUTO_FICHA_VERSAO1405
						INTO	@InsPRODUTO
				FETCH NEXT FROM CURD_PRODUTO_FICHA_VERSAO1405
						INTO	@DelPRODUTO
			END
		CLOSE CURI_PRODUTO_FICHA_VERSAO1405
		CLOSE CURD_PRODUTO_FICHA_VERSAO1405
		DEALLOCATE CURI_PRODUTO_FICHA_VERSAO1405
		DEALLOCATE CURD_PRODUTO_FICHA_VERSAO1405
		END
	END

-- PRODUTO_RECURSO_CUSTO - Parent Update Cascade
	IF	UPDATE(PRODUTO)
	BEGIN	
		If Exists (	SELECT * 
				FROM INSERTED 
					LEFT JOIN DELETED ON 
						DELETED.PRODUTO = INSERTED.PRODUTO
				WHERE	DELETED.PRODUTO IS NULL
			)
		BEGIN
			DECLARE CURI_PRODUTO_RECURSO_CUSTO1605 CURSOR FOR 
				SELECT	PRODUTO
				FROM INSERTED
			DECLARE CURD_PRODUTO_RECURSO_CUSTO1605 CURSOR FOR 
				SELECT	PRODUTO
				FROM DELETED
			OPEN CURI_PRODUTO_RECURSO_CUSTO1605
			OPEN CURD_PRODUTO_RECURSO_CUSTO1605
			FETCH NEXT FROM CURI_PRODUTO_RECURSO_CUSTO1605
					INTO	@InsPRODUTO
			FETCH NEXT FROM CURD_PRODUTO_RECURSO_CUSTO1605
					INTO	@DelPRODUTO
			WHILE @@Fetch_Status = 0
			BEGIN
				UPDATE PRODUTO_RECURSO_CUSTO
				SET	PRODUTO = @InsPRODUTO
				WHERE	PRODUTO = @delPRODUTO

				FETCH NEXT FROM CURI_PRODUTO_RECURSO_CUSTO1605
						INTO	@InsPRODUTO
				FETCH NEXT FROM CURD_PRODUTO_RECURSO_CUSTO1605
						INTO	@DelPRODUTO
			END
		CLOSE CURI_PRODUTO_RECURSO_CUSTO1605
		CLOSE CURD_PRODUTO_RECURSO_CUSTO1605
		DEALLOCATE CURI_PRODUTO_RECURSO_CUSTO1605
		DEALLOCATE CURD_PRODUTO_RECURSO_CUSTO1605
		END
	END

-- PRODUTOS_LICENCIADO - Parent Update Cascade
	IF	UPDATE(PRODUTO)
	BEGIN	
		If Exists (	SELECT * 
				FROM INSERTED 
					LEFT JOIN DELETED ON 
						DELETED.PRODUTO = INSERTED.PRODUTO
				WHERE	DELETED.PRODUTO IS NULL
			)
		BEGIN
			DECLARE CURI_PRODUTOS_LICENCIADO1810 CURSOR FOR 
				SELECT	PRODUTO
				FROM INSERTED
			DECLARE CURD_PRODUTOS_LICENCIADO1810 CURSOR FOR 
				SELECT	PRODUTO
				FROM DELETED
			OPEN CURI_PRODUTOS_LICENCIADO1810
			OPEN CURD_PRODUTOS_LICENCIADO1810
			FETCH NEXT FROM CURI_PRODUTOS_LICENCIADO1810
					INTO	@InsPRODUTO
			FETCH NEXT FROM CURD_PRODUTOS_LICENCIADO1810
					INTO	@DelPRODUTO
			WHILE @@Fetch_Status = 0
			BEGIN
				UPDATE PRODUTOS_LICENCIADO
				SET	PRODUTO = @InsPRODUTO
				WHERE	PRODUTO = @delPRODUTO

				FETCH NEXT FROM CURI_PRODUTOS_LICENCIADO1810
						INTO	@InsPRODUTO
				FETCH NEXT FROM CURD_PRODUTOS_LICENCIADO1810
						INTO	@DelPRODUTO
			END
		CLOSE CURI_PRODUTOS_LICENCIADO1810
		CLOSE CURD_PRODUTOS_LICENCIADO1810
		DEALLOCATE CURI_PRODUTOS_LICENCIADO1810
		DEALLOCATE CURD_PRODUTOS_LICENCIADO1810
		END
	END

-- PRODUTOS_INDICADOR_CFOP - Parent Update Cascade
	IF	UPDATE(PRODUTO)
	BEGIN	
		If Exists (	SELECT * 
				FROM INSERTED 
					LEFT JOIN DELETED ON 
						DELETED.PRODUTO = INSERTED.PRODUTO
				WHERE	DELETED.PRODUTO IS NULL
			)
		BEGIN
			DECLARE CURI_PRODUTOS_INDICADOR_CFOP126 CURSOR FOR 
				SELECT	PRODUTO
				FROM INSERTED
			DECLARE CURD_PRODUTOS_INDICADOR_CFOP126 CURSOR FOR 
				SELECT	PRODUTO
				FROM DELETED
			OPEN CURI_PRODUTOS_INDICADOR_CFOP126
			OPEN CURD_PRODUTOS_INDICADOR_CFOP126
			FETCH NEXT FROM CURI_PRODUTOS_INDICADOR_CFOP126
					INTO	@InsPRODUTO
			FETCH NEXT FROM CURD_PRODUTOS_INDICADOR_CFOP126
					INTO	@DelPRODUTO
			WHILE @@Fetch_Status = 0
			BEGIN
				UPDATE PRODUTOS_INDICADOR_CFOP
				SET	PRODUTO = @InsPRODUTO
				WHERE	PRODUTO = @delPRODUTO

				FETCH NEXT FROM CURI_PRODUTOS_INDICADOR_CFOP126
						INTO	@InsPRODUTO
				FETCH NEXT FROM CURD_PRODUTOS_INDICADOR_CFOP126
						INTO	@DelPRODUTO
			END
		CLOSE CURI_PRODUTOS_INDICADOR_CFOP126
		CLOSE CURD_PRODUTOS_INDICADOR_CFOP126
		DEALLOCATE CURI_PRODUTOS_INDICADOR_CFOP126
		DEALLOCATE CURD_PRODUTOS_INDICADOR_CFOP126
		END
	END

-- CTB_EXCECAO_IMPOSTO - Parent Update Cascade
	IF	UPDATE(PRODUTO)
	BEGIN	
		If Exists (	SELECT * 
				FROM INSERTED 
					LEFT JOIN DELETED ON 
						DELETED.PRODUTO = INSERTED.PRODUTO
				WHERE	DELETED.PRODUTO IS NULL
			)
		BEGIN
			DECLARE CURI_CTB_EXCECAO_IMPOSTO249 CURSOR FOR 
				SELECT	PRODUTO
				FROM INSERTED
			DECLARE CURD_CTB_EXCECAO_IMPOSTO249 CURSOR FOR 
				SELECT	PRODUTO
				FROM DELETED
			OPEN CURI_CTB_EXCECAO_IMPOSTO249
			OPEN CURD_CTB_EXCECAO_IMPOSTO249
			FETCH NEXT FROM CURI_CTB_EXCECAO_IMPOSTO249
					INTO	@InsPRODUTO
			FETCH NEXT FROM CURD_CTB_EXCECAO_IMPOSTO249
					INTO	@DelPRODUTO
			WHILE @@Fetch_Status = 0
			BEGIN
				UPDATE CTB_EXCECAO_IMPOSTO
				SET	PRODUTO = @InsPRODUTO
				WHERE	PRODUTO = @delPRODUTO

				FETCH NEXT FROM CURI_CTB_EXCECAO_IMPOSTO249
						INTO	@InsPRODUTO
				FETCH NEXT FROM CURD_CTB_EXCECAO_IMPOSTO249
						INTO	@DelPRODUTO
			END
		CLOSE CURI_CTB_EXCECAO_IMPOSTO249
		CLOSE CURD_CTB_EXCECAO_IMPOSTO249
		DEALLOCATE CURI_CTB_EXCECAO_IMPOSTO249
		DEALLOCATE CURD_CTB_EXCECAO_IMPOSTO249
		END
	END

-- VENDAS_RATEIO_PACK - Parent Update Cascade
	IF	UPDATE(PRODUTO)
	BEGIN	
		If Exists (	SELECT * 
				FROM INSERTED 
					LEFT JOIN DELETED ON 
						DELETED.PRODUTO = INSERTED.PRODUTO
				WHERE	DELETED.PRODUTO IS NULL
			)
		BEGIN
			DECLARE CURI_VENDAS_RATEIO_PACK253 CURSOR FOR 
				SELECT	PRODUTO
				FROM INSERTED
			DECLARE CURD_VENDAS_RATEIO_PACK253 CURSOR FOR 
				SELECT	PRODUTO
				FROM DELETED
			OPEN CURI_VENDAS_RATEIO_PACK253
			OPEN CURD_VENDAS_RATEIO_PACK253
			FETCH NEXT FROM CURI_VENDAS_RATEIO_PACK253
					INTO	@InsPRODUTO
			FETCH NEXT FROM CURD_VENDAS_RATEIO_PACK253
					INTO	@DelPRODUTO
			WHILE @@Fetch_Status = 0
			BEGIN
				UPDATE VENDAS_RATEIO_PACK
				SET	PRODUTO = @InsPRODUTO
				WHERE	PRODUTO = @delPRODUTO

				FETCH NEXT FROM CURI_VENDAS_RATEIO_PACK253
						INTO	@InsPRODUTO
				FETCH NEXT FROM CURD_VENDAS_RATEIO_PACK253
						INTO	@DelPRODUTO
			END
		CLOSE CURI_VENDAS_RATEIO_PACK253
		CLOSE CURD_VENDAS_RATEIO_PACK253
		DEALLOCATE CURI_VENDAS_RATEIO_PACK253
		DEALLOCATE CURD_VENDAS_RATEIO_PACK253
		END
	END

-- PRODUTOS_FLUXO_STATUS - Parent Update Cascade
	IF	UPDATE(PRODUTO)
	BEGIN	
		If Exists (	SELECT * 
				FROM INSERTED 
					LEFT JOIN DELETED ON 
						DELETED.PRODUTO = INSERTED.PRODUTO
				WHERE	DELETED.PRODUTO IS NULL
			)
		BEGIN
			DECLARE CURI_PRODUTOS_FLUXO_STATUS341 CURSOR FOR 
				SELECT	PRODUTO
				FROM INSERTED
			DECLARE CURD_PRODUTOS_FLUXO_STATUS341 CURSOR FOR 
				SELECT	PRODUTO
				FROM DELETED
			OPEN CURI_PRODUTOS_FLUXO_STATUS341
			OPEN CURD_PRODUTOS_FLUXO_STATUS341
			FETCH NEXT FROM CURI_PRODUTOS_FLUXO_STATUS341
					INTO	@InsPRODUTO
			FETCH NEXT FROM CURD_PRODUTOS_FLUXO_STATUS341
					INTO	@DelPRODUTO
			WHILE @@Fetch_Status = 0
			BEGIN
				UPDATE PRODUTOS_FLUXO_STATUS
				SET	PRODUTO = @InsPRODUTO
				WHERE	PRODUTO = @delPRODUTO

				FETCH NEXT FROM CURI_PRODUTOS_FLUXO_STATUS341
						INTO	@InsPRODUTO
				FETCH NEXT FROM CURD_PRODUTOS_FLUXO_STATUS341
						INTO	@DelPRODUTO
			END
		CLOSE CURI_PRODUTOS_FLUXO_STATUS341
		CLOSE CURD_PRODUTOS_FLUXO_STATUS341
		DEALLOCATE CURI_PRODUTOS_FLUXO_STATUS341
		DEALLOCATE CURD_PRODUTOS_FLUXO_STATUS341
		END
	END

-- PRODUTOS_FLUXO_TEMPO_VENDA - Parent Update Cascade
	IF	UPDATE(PRODUTO)
	BEGIN	
		If Exists (	SELECT * 
				FROM INSERTED 
					LEFT JOIN DELETED ON 
						DELETED.PRODUTO = INSERTED.PRODUTO
				WHERE	DELETED.PRODUTO IS NULL
			)
		BEGIN
			DECLARE CURI_PRODUTOS_FLUXO_TEMPO_VENDA342 CURSOR FOR 
				SELECT	PRODUTO
				FROM INSERTED
			DECLARE CURD_PRODUTOS_FLUXO_TEMPO_VENDA342 CURSOR FOR 
				SELECT	PRODUTO
				FROM DELETED
			OPEN CURI_PRODUTOS_FLUXO_TEMPO_VENDA342
			OPEN CURD_PRODUTOS_FLUXO_TEMPO_VENDA342
			FETCH NEXT FROM CURI_PRODUTOS_FLUXO_TEMPO_VENDA342
					INTO	@InsPRODUTO
			FETCH NEXT FROM CURD_PRODUTOS_FLUXO_TEMPO_VENDA342
					INTO	@DelPRODUTO
			WHILE @@Fetch_Status = 0
			BEGIN
				UPDATE PRODUTOS_FLUXO_TEMPO_VENDA
				SET	PRODUTO = @InsPRODUTO
				WHERE	PRODUTO = @delPRODUTO

				FETCH NEXT FROM CURI_PRODUTOS_FLUXO_TEMPO_VENDA342
						INTO	@InsPRODUTO
				FETCH NEXT FROM CURD_PRODUTOS_FLUXO_TEMPO_VENDA342
						INTO	@DelPRODUTO
			END
		CLOSE CURI_PRODUTOS_FLUXO_TEMPO_VENDA342
		CLOSE CURD_PRODUTOS_FLUXO_TEMPO_VENDA342
		DEALLOCATE CURI_PRODUTOS_FLUXO_TEMPO_VENDA342
		DEALLOCATE CURD_PRODUTOS_FLUXO_TEMPO_VENDA342
		END
	END

-- PRODUCAO_ORDEM - Parent Update Cascade
	IF	UPDATE(PRODUTO)
	BEGIN	
		If Exists (	SELECT * 
				FROM INSERTED 
					LEFT JOIN DELETED ON 
						DELETED.PRODUTO = INSERTED.PRODUTO
				WHERE	DELETED.PRODUTO IS NULL
			)
		BEGIN
			DECLARE CURI_PRODUCAO_ORDEM379 CURSOR FOR 
				SELECT	PRODUTO
				FROM INSERTED
			DECLARE CURD_PRODUCAO_ORDEM379 CURSOR FOR 
				SELECT	PRODUTO
				FROM DELETED
			OPEN CURI_PRODUCAO_ORDEM379
			OPEN CURD_PRODUCAO_ORDEM379
			FETCH NEXT FROM CURI_PRODUCAO_ORDEM379
					INTO	@InsPRODUTO
			FETCH NEXT FROM CURD_PRODUCAO_ORDEM379
					INTO	@DelPRODUTO
			WHILE @@Fetch_Status = 0
			BEGIN
				UPDATE PRODUCAO_ORDEM
				SET	PRODUTO = @InsPRODUTO
				WHERE	PRODUTO = @delPRODUTO

				FETCH NEXT FROM CURI_PRODUCAO_ORDEM379
						INTO	@InsPRODUTO
				FETCH NEXT FROM CURD_PRODUCAO_ORDEM379
						INTO	@DelPRODUTO
			END
		CLOSE CURI_PRODUCAO_ORDEM379
		CLOSE CURD_PRODUCAO_ORDEM379
		DEALLOCATE CURI_PRODUCAO_ORDEM379
		DEALLOCATE CURD_PRODUCAO_ORDEM379
		END
	END

-- PRODUTOS_PRECOS - Parent Update Cascade
	IF	UPDATE(PRODUTO)
	BEGIN	
		If Exists (	SELECT * 
				FROM INSERTED 
					LEFT JOIN DELETED ON 
						DELETED.PRODUTO = INSERTED.PRODUTO
				WHERE	DELETED.PRODUTO IS NULL
			)
		BEGIN
			DECLARE CURI_PRODUTOS_PRECOS419 CURSOR FOR 
				SELECT	PRODUTO
				FROM INSERTED
			DECLARE CURD_PRODUTOS_PRECOS419 CURSOR FOR 
				SELECT	PRODUTO
				FROM DELETED
			OPEN CURI_PRODUTOS_PRECOS419
			OPEN CURD_PRODUTOS_PRECOS419
			FETCH NEXT FROM CURI_PRODUTOS_PRECOS419
					INTO	@InsPRODUTO
			FETCH NEXT FROM CURD_PRODUTOS_PRECOS419
					INTO	@DelPRODUTO
			WHILE @@Fetch_Status = 0
			BEGIN
				UPDATE PRODUTOS_PRECOS
				SET	PRODUTO = @InsPRODUTO
				WHERE	PRODUTO = @delPRODUTO

				FETCH NEXT FROM CURI_PRODUTOS_PRECOS419
						INTO	@InsPRODUTO
				FETCH NEXT FROM CURD_PRODUTOS_PRECOS419
						INTO	@DelPRODUTO
			END
		CLOSE CURI_PRODUTOS_PRECOS419
		CLOSE CURD_PRODUTOS_PRECOS419
		DEALLOCATE CURI_PRODUTOS_PRECOS419
		DEALLOCATE CURD_PRODUTOS_PRECOS419
		END
	END

-- PRODUTOS_FOTO - Parent Update Cascade
	IF	UPDATE(PRODUTO)
	BEGIN	
		If Exists (	SELECT * 
				FROM INSERTED 
					LEFT JOIN DELETED ON 
						DELETED.PRODUTO = INSERTED.PRODUTO
				WHERE	DELETED.PRODUTO IS NULL
			)
		BEGIN
			DECLARE CURI_PRODUTOS_FOTO492 CURSOR FOR 
				SELECT	PRODUTO
				FROM INSERTED
			DECLARE CURD_PRODUTOS_FOTO492 CURSOR FOR 
				SELECT	PRODUTO
				FROM DELETED
			OPEN CURI_PRODUTOS_FOTO492
			OPEN CURD_PRODUTOS_FOTO492
			FETCH NEXT FROM CURI_PRODUTOS_FOTO492
					INTO	@InsPRODUTO
			FETCH NEXT FROM CURD_PRODUTOS_FOTO492
					INTO	@DelPRODUTO
			WHILE @@Fetch_Status = 0
			BEGIN
				UPDATE PRODUTOS_FOTO
				SET	PRODUTO = @InsPRODUTO
				WHERE	PRODUTO = @delPRODUTO

				FETCH NEXT FROM CURI_PRODUTOS_FOTO492
						INTO	@InsPRODUTO
				FETCH NEXT FROM CURD_PRODUTOS_FOTO492
						INTO	@DelPRODUTO
			END
		CLOSE CURI_PRODUTOS_FOTO492
		CLOSE CURD_PRODUTOS_FOTO492
		DEALLOCATE CURI_PRODUTOS_FOTO492
		DEALLOCATE CURD_PRODUTOS_FOTO492
		END
	END

-- PRODUTOS_OPE_EXTRA - Parent Update Cascade
	IF	UPDATE(PRODUTO)
	BEGIN	
		If Exists (	SELECT * 
				FROM INSERTED 
					LEFT JOIN DELETED ON 
						DELETED.PRODUTO = INSERTED.PRODUTO
				WHERE	DELETED.PRODUTO IS NULL
			)
		BEGIN
			DECLARE CURI_PRODUTOS_OPE_EXTRA504 CURSOR FOR 
				SELECT	PRODUTO
				FROM INSERTED
			DECLARE CURD_PRODUTOS_OPE_EXTRA504 CURSOR FOR 
				SELECT	PRODUTO
				FROM DELETED
			OPEN CURI_PRODUTOS_OPE_EXTRA504
			OPEN CURD_PRODUTOS_OPE_EXTRA504
			FETCH NEXT FROM CURI_PRODUTOS_OPE_EXTRA504
					INTO	@InsPRODUTO
			FETCH NEXT FROM CURD_PRODUTOS_OPE_EXTRA504
					INTO	@DelPRODUTO
			WHILE @@Fetch_Status = 0
			BEGIN
				UPDATE PRODUTOS_OPE_EXTRA
				SET	PRODUTO = @InsPRODUTO
				WHERE	PRODUTO = @delPRODUTO

				FETCH NEXT FROM CURI_PRODUTOS_OPE_EXTRA504
						INTO	@InsPRODUTO
				FETCH NEXT FROM CURD_PRODUTOS_OPE_EXTRA504
						INTO	@DelPRODUTO
			END
		CLOSE CURI_PRODUTOS_OPE_EXTRA504
		CLOSE CURD_PRODUTOS_OPE_EXTRA504
		DEALLOCATE CURI_PRODUTOS_OPE_EXTRA504
		DEALLOCATE CURD_PRODUTOS_OPE_EXTRA504
		END
	END

-- VENDAS_COTAS_TIPO_ITENS - Parent Update Cascade
	IF	UPDATE(PRODUTO)
	BEGIN	
		If Exists (	SELECT * 
				FROM INSERTED 
					LEFT JOIN DELETED ON 
						DELETED.PRODUTO = INSERTED.PRODUTO
				WHERE	DELETED.PRODUTO IS NULL
			)
		BEGIN
			DECLARE CURI_VENDAS_COTAS_TIPO_ITENS579 CURSOR FOR 
				SELECT	PRODUTO
				FROM INSERTED
			DECLARE CURD_VENDAS_COTAS_TIPO_ITENS579 CURSOR FOR 
				SELECT	PRODUTO
				FROM DELETED
			OPEN CURI_VENDAS_COTAS_TIPO_ITENS579
			OPEN CURD_VENDAS_COTAS_TIPO_ITENS579
			FETCH NEXT FROM CURI_VENDAS_COTAS_TIPO_ITENS579
					INTO	@InsPRODUTO
			FETCH NEXT FROM CURD_VENDAS_COTAS_TIPO_ITENS579
					INTO	@DelPRODUTO
			WHILE @@Fetch_Status = 0
			BEGIN
				UPDATE VENDAS_COTAS_TIPO_ITENS
				SET	PRODUTO = @InsPRODUTO
				WHERE	PRODUTO = @delPRODUTO

				FETCH NEXT FROM CURI_VENDAS_COTAS_TIPO_ITENS579
						INTO	@InsPRODUTO
				FETCH NEXT FROM CURD_VENDAS_COTAS_TIPO_ITENS579
						INTO	@DelPRODUTO
			END
		CLOSE CURI_VENDAS_COTAS_TIPO_ITENS579
		CLOSE CURD_VENDAS_COTAS_TIPO_ITENS579
		DEALLOCATE CURI_VENDAS_COTAS_TIPO_ITENS579
		DEALLOCATE CURD_VENDAS_COTAS_TIPO_ITENS579
		END
	END

-- PRODUTOS_PACKS_PERMITIDOS - Parent Update Cascade
	IF	UPDATE(PRODUTO)
	BEGIN	
		If Exists (	SELECT * 
				FROM INSERTED 
					LEFT JOIN DELETED ON 
						DELETED.PRODUTO = INSERTED.PRODUTO
				WHERE	DELETED.PRODUTO IS NULL
			)
		BEGIN
			DECLARE CURI_PRODUTOS_PACKS_PERMITIDOS681 CURSOR FOR 
				SELECT	PRODUTO
				FROM INSERTED
			DECLARE CURD_PRODUTOS_PACKS_PERMITIDOS681 CURSOR FOR 
				SELECT	PRODUTO
				FROM DELETED
			OPEN CURI_PRODUTOS_PACKS_PERMITIDOS681
			OPEN CURD_PRODUTOS_PACKS_PERMITIDOS681
			FETCH NEXT FROM CURI_PRODUTOS_PACKS_PERMITIDOS681
					INTO	@InsPRODUTO
			FETCH NEXT FROM CURD_PRODUTOS_PACKS_PERMITIDOS681
					INTO	@DelPRODUTO
			WHILE @@Fetch_Status = 0
			BEGIN
				UPDATE PRODUTOS_PACKS_PERMITIDOS
				SET	PRODUTO = @InsPRODUTO
				WHERE	PRODUTO = @delPRODUTO

				FETCH NEXT FROM CURI_PRODUTOS_PACKS_PERMITIDOS681
						INTO	@InsPRODUTO
				FETCH NEXT FROM CURD_PRODUTOS_PACKS_PERMITIDOS681
						INTO	@DelPRODUTO
			END
		CLOSE CURI_PRODUTOS_PACKS_PERMITIDOS681
		CLOSE CURD_PRODUTOS_PACKS_PERMITIDOS681
		DEALLOCATE CURI_PRODUTOS_PACKS_PERMITIDOS681
		DEALLOCATE CURD_PRODUTOS_PACKS_PERMITIDOS681
		END
	END

-- ORCAMENTOS - Parent Update Cascade
	IF	UPDATE(PRODUTO)
	BEGIN	
		If Exists (	SELECT * 
				FROM INSERTED 
					LEFT JOIN DELETED ON 
						DELETED.PRODUTO = INSERTED.PRODUTO
				WHERE	DELETED.PRODUTO IS NULL
			)
		BEGIN
			DECLARE CURI_ORCAMENTOS793 CURSOR FOR 
				SELECT	PRODUTO
				FROM INSERTED
			DECLARE CURD_ORCAMENTOS793 CURSOR FOR 
				SELECT	PRODUTO
				FROM DELETED
			OPEN CURI_ORCAMENTOS793
			OPEN CURD_ORCAMENTOS793
			FETCH NEXT FROM CURI_ORCAMENTOS793
					INTO	@InsPRODUTO
			FETCH NEXT FROM CURD_ORCAMENTOS793
					INTO	@DelPRODUTO
			WHILE @@Fetch_Status = 0
			BEGIN
				UPDATE ORCAMENTOS
				SET	PRODUTO = @InsPRODUTO
				WHERE	PRODUTO = @delPRODUTO

				FETCH NEXT FROM CURI_ORCAMENTOS793
						INTO	@InsPRODUTO
				FETCH NEXT FROM CURD_ORCAMENTOS793
						INTO	@DelPRODUTO
			END
		CLOSE CURI_ORCAMENTOS793
		CLOSE CURD_ORCAMENTOS793
		DEALLOCATE CURI_ORCAMENTOS793
		DEALLOCATE CURD_ORCAMENTOS793
		END
	END

-- COND_PGTO_PRODUTOS - Parent Update Cascade
	IF	UPDATE(PRODUTO)
	BEGIN	
		If Exists (	SELECT * 
				FROM INSERTED 
					LEFT JOIN DELETED ON 
						DELETED.PRODUTO = INSERTED.PRODUTO
				WHERE	DELETED.PRODUTO IS NULL
			)
		BEGIN
			DECLARE CURI_COND_PGTO_PRODUTOS810 CURSOR FOR 
				SELECT	PRODUTO
				FROM INSERTED
			DECLARE CURD_COND_PGTO_PRODUTOS810 CURSOR FOR 
				SELECT	PRODUTO
				FROM DELETED
			OPEN CURI_COND_PGTO_PRODUTOS810
			OPEN CURD_COND_PGTO_PRODUTOS810
			FETCH NEXT FROM CURI_COND_PGTO_PRODUTOS810
					INTO	@InsPRODUTO
			FETCH NEXT FROM CURD_COND_PGTO_PRODUTOS810
					INTO	@DelPRODUTO
			WHILE @@Fetch_Status = 0
			BEGIN
				UPDATE COND_PGTO_PRODUTOS
				SET	PRODUTO = @InsPRODUTO
				WHERE	PRODUTO = @delPRODUTO

				FETCH NEXT FROM CURI_COND_PGTO_PRODUTOS810
						INTO	@InsPRODUTO
				FETCH NEXT FROM CURD_COND_PGTO_PRODUTOS810
						INTO	@DelPRODUTO
			END
		CLOSE CURI_COND_PGTO_PRODUTOS810
		CLOSE CURD_COND_PGTO_PRODUTOS810
		DEALLOCATE CURI_COND_PGTO_PRODUTOS810
		DEALLOCATE CURD_COND_PGTO_PRODUTOS810
		END
	END

-- VENDAS_HISTORICO_PROD - Parent Update Cascade
	IF	UPDATE(PRODUTO)
	BEGIN	
		If Exists (	SELECT * 
				FROM INSERTED 
					LEFT JOIN DELETED ON 
						DELETED.PRODUTO = INSERTED.PRODUTO
				WHERE	DELETED.PRODUTO IS NULL
			)
		BEGIN
			DECLARE CURI_VENDAS_HISTORICO_PROD817 CURSOR FOR 
				SELECT	PRODUTO
				FROM INSERTED
			DECLARE CURD_VENDAS_HISTORICO_PROD817 CURSOR FOR 
				SELECT	PRODUTO
				FROM DELETED
			OPEN CURI_VENDAS_HISTORICO_PROD817
			OPEN CURD_VENDAS_HISTORICO_PROD817
			FETCH NEXT FROM CURI_VENDAS_HISTORICO_PROD817
					INTO	@InsPRODUTO
			FETCH NEXT FROM CURD_VENDAS_HISTORICO_PROD817
					INTO	@DelPRODUTO
			WHILE @@Fetch_Status = 0
			BEGIN
				UPDATE VENDAS_HISTORICO_PROD
				SET	PRODUTO = @InsPRODUTO
				WHERE	PRODUTO = @delPRODUTO

				FETCH NEXT FROM CURI_VENDAS_HISTORICO_PROD817
						INTO	@InsPRODUTO
				FETCH NEXT FROM CURD_VENDAS_HISTORICO_PROD817
						INTO	@DelPRODUTO
			END
		CLOSE CURI_VENDAS_HISTORICO_PROD817
		CLOSE CURD_VENDAS_HISTORICO_PROD817
		DEALLOCATE CURI_VENDAS_HISTORICO_PROD817
		DEALLOCATE CURD_VENDAS_HISTORICO_PROD817
		END
	END

-- SUBSTITUICOES_MATERIAL_PRODUTO - Parent Update Cascade
	IF	UPDATE(PRODUTO)
	BEGIN	
		If Exists (	SELECT * 
				FROM INSERTED 
					LEFT JOIN DELETED ON 
						DELETED.PRODUTO = INSERTED.PRODUTO
				WHERE	DELETED.PRODUTO IS NULL
			)
		BEGIN
			DECLARE CURI_SUBSTITUICOES_MATERIAL_PRODUTO924 CURSOR FOR 
				SELECT	PRODUTO
				FROM INSERTED
			DECLARE CURD_SUBSTITUICOES_MATERIAL_PRODUTO924 CURSOR FOR 
				SELECT	PRODUTO
				FROM DELETED
			OPEN CURI_SUBSTITUICOES_MATERIAL_PRODUTO924
			OPEN CURD_SUBSTITUICOES_MATERIAL_PRODUTO924
			FETCH NEXT FROM CURI_SUBSTITUICOES_MATERIAL_PRODUTO924
					INTO	@InsPRODUTO
			FETCH NEXT FROM CURD_SUBSTITUICOES_MATERIAL_PRODUTO924
					INTO	@DelPRODUTO
			WHILE @@Fetch_Status = 0
			BEGIN
				UPDATE SUBSTITUICOES_MATERIAL_PRODUTO
				SET	PRODUTO = @InsPRODUTO
				WHERE	PRODUTO = @delPRODUTO

				FETCH NEXT FROM CURI_SUBSTITUICOES_MATERIAL_PRODUTO924
						INTO	@InsPRODUTO
				FETCH NEXT FROM CURD_SUBSTITUICOES_MATERIAL_PRODUTO924
						INTO	@DelPRODUTO
			END
		CLOSE CURI_SUBSTITUICOES_MATERIAL_PRODUTO924
		CLOSE CURD_SUBSTITUICOES_MATERIAL_PRODUTO924
		DEALLOCATE CURI_SUBSTITUICOES_MATERIAL_PRODUTO924
		DEALLOCATE CURD_SUBSTITUICOES_MATERIAL_PRODUTO924
		END
	END

-- PRODUTOS_CLIENTE - Parent Update Cascade
	IF	UPDATE(PRODUTO)
	BEGIN	
		If Exists (	SELECT * 
				FROM INSERTED 
					LEFT JOIN DELETED ON 
						DELETED.PRODUTO = INSERTED.PRODUTO
				WHERE	DELETED.PRODUTO IS NULL
			)
		BEGIN
			DECLARE CURI_PRODUTOS_CLIENTE926 CURSOR FOR 
				SELECT	PRODUTO
				FROM INSERTED
			DECLARE CURD_PRODUTOS_CLIENTE926 CURSOR FOR 
				SELECT	PRODUTO
				FROM DELETED
			OPEN CURI_PRODUTOS_CLIENTE926
			OPEN CURD_PRODUTOS_CLIENTE926
			FETCH NEXT FROM CURI_PRODUTOS_CLIENTE926
					INTO	@InsPRODUTO
			FETCH NEXT FROM CURD_PRODUTOS_CLIENTE926
					INTO	@DelPRODUTO
			WHILE @@Fetch_Status = 0
			BEGIN
				UPDATE PRODUTOS_CLIENTE
				SET	PRODUTO = @InsPRODUTO
				WHERE	PRODUTO = @delPRODUTO

				FETCH NEXT FROM CURI_PRODUTOS_CLIENTE926
						INTO	@InsPRODUTO
				FETCH NEXT FROM CURD_PRODUTOS_CLIENTE926
						INTO	@DelPRODUTO
			END
		CLOSE CURI_PRODUTOS_CLIENTE926
		CLOSE CURD_PRODUTOS_CLIENTE926
		DEALLOCATE CURI_PRODUTOS_CLIENTE926
		DEALLOCATE CURD_PRODUTOS_CLIENTE926
		END
	END

-- PRODUTOS_STATUS_LOG - Parent Update Cascade
	IF	UPDATE(PRODUTO)
	BEGIN	
		If Exists (	SELECT * 
				FROM INSERTED 
					LEFT JOIN DELETED ON 
						DELETED.PRODUTO = INSERTED.PRODUTO
				WHERE	DELETED.PRODUTO IS NULL
			)
		BEGIN
			DECLARE CURI_PRODUTOS_STATUS_LOG940 CURSOR FOR 
				SELECT	PRODUTO
				FROM INSERTED
			DECLARE CURD_PRODUTOS_STATUS_LOG940 CURSOR FOR 
				SELECT	PRODUTO
				FROM DELETED
			OPEN CURI_PRODUTOS_STATUS_LOG940
			OPEN CURD_PRODUTOS_STATUS_LOG940
			FETCH NEXT FROM CURI_PRODUTOS_STATUS_LOG940
					INTO	@InsPRODUTO
			FETCH NEXT FROM CURD_PRODUTOS_STATUS_LOG940
					INTO	@DelPRODUTO
			WHILE @@Fetch_Status = 0
			BEGIN
				UPDATE PRODUTOS_STATUS_LOG
				SET	PRODUTO = @InsPRODUTO
				WHERE	PRODUTO = @delPRODUTO

				FETCH NEXT FROM CURI_PRODUTOS_STATUS_LOG940
						INTO	@InsPRODUTO
				FETCH NEXT FROM CURD_PRODUTOS_STATUS_LOG940
						INTO	@DelPRODUTO
			END
		CLOSE CURI_PRODUTOS_STATUS_LOG940
		CLOSE CURD_PRODUTOS_STATUS_LOG940
		DEALLOCATE CURI_PRODUTOS_STATUS_LOG940
		DEALLOCATE CURD_PRODUTOS_STATUS_LOG940
		END
	END

-- PRODUTOS_PESO_TAMANHO - Parent Update Cascade
	IF	UPDATE(PRODUTO)
	BEGIN	
		If Exists (	SELECT * 
				FROM INSERTED 
					LEFT JOIN DELETED ON 
						DELETED.PRODUTO = INSERTED.PRODUTO
				WHERE	DELETED.PRODUTO IS NULL
			)
		BEGIN
			DECLARE CURI_PRODUTOS_PESO_TAMANHO1150 CURSOR FOR 
				SELECT	PRODUTO
				FROM INSERTED
			DECLARE CURD_PRODUTOS_PESO_TAMANHO1150 CURSOR FOR 
				SELECT	PRODUTO
				FROM DELETED
			OPEN CURI_PRODUTOS_PESO_TAMANHO1150
			OPEN CURD_PRODUTOS_PESO_TAMANHO1150
			FETCH NEXT FROM CURI_PRODUTOS_PESO_TAMANHO1150
					INTO	@InsPRODUTO
			FETCH NEXT FROM CURD_PRODUTOS_PESO_TAMANHO1150
					INTO	@DelPRODUTO
			WHILE @@Fetch_Status = 0
			BEGIN
				UPDATE PRODUTOS_PESO_TAMANHO
				SET	PRODUTO = @InsPRODUTO
				WHERE	PRODUTO = @delPRODUTO

				FETCH NEXT FROM CURI_PRODUTOS_PESO_TAMANHO1150
						INTO	@InsPRODUTO
				FETCH NEXT FROM CURD_PRODUTOS_PESO_TAMANHO1150
						INTO	@DelPRODUTO
			END
		CLOSE CURI_PRODUTOS_PESO_TAMANHO1150
		CLOSE CURD_PRODUTOS_PESO_TAMANHO1150
		DEALLOCATE CURI_PRODUTOS_PESO_TAMANHO1150
		DEALLOCATE CURD_PRODUTOS_PESO_TAMANHO1150
		END
	END


----- DATA PARA TRANSFERENCIA---------------/------------------------------------------------------------

IF NOT UPDATE(DATA_PARA_TRANSFERENCIA)	
BEGIN
	UPDATE 	PRODUTOS
/*#2#*/	SET 	DATA_PARA_TRANSFERENCIA = CONVERT(smalldatetime, GETDATE()) /*Converte campo datetime para o vfp conseguir atualizar, discartando os milisegundos*/ --#3#
		FROM 	INSERTED 
		JOIN PRODUTOS ON INSERTED.PRODUTO=PRODUTOS.PRODUTO
END

/* CUSTOMIZAÇÃO CAEDU - INICIO */

--> atualização do campo ERP_DATA_ATUALIZACAO para utilização no ENSEMBLE para atualizar lojas
IF NOT UPDATE(ERP_DATA_ATUALIZACAO)
BEGIN
	IF NOT UPDATE(CUSTO_REPOSICAO1) 
		AND NOT UPDATE(CUSTO_REPOSICAO2)
		AND NOT UPDATE(CUSTO_REPOSICAO3)
		AND NOT UPDATE(CUSTO_REPOSICAO4)
		AND NOT UPDATE(PRECO_REPOSICAO_1)
		AND NOT UPDATE(PRECO_REPOSICAO_2)
		AND NOT UPDATE(PRECO_REPOSICAO_3)
		AND NOT UPDATE(PRECO_REPOSICAO_4)
		AND NOT UPDATE(PRECO_A_VISTA_REPOSICAO_1)
		AND NOT UPDATE(PRECO_A_VISTA_REPOSICAO_2)
		AND NOT UPDATE(PRECO_A_VISTA_REPOSICAO_3)
		AND NOT UPDATE(PRECO_A_VISTA_REPOSICAO_4)
	BEGIN
		update p set ERP_DATA_ATUALIZACAO=CONVERT(smalldatetime, GETDATE()) 
		FROM inserted i
		INNER JOIN PRODUTOS p
			ON p.PRODUTO=i.PRODUTO
	END
END

--> atualização do campo ERP_CUPS_STYLENUMBER para utilização no CARTEIRA DE IMPORTADOS
IF NOT UPDATE(ERP_CUPS_STYLENUMBER)
BEGIN
	update p set ERP_CUPS_STYLENUMBER=i.REFER_FABRICANTE 
	FROM inserted i
	INNER JOIN PRODUTOS p
		ON p.PRODUTO=i.PRODUTO
	WHERE p.ERP_CUPS_STYLENUMBER IS NULL
			AND p.FABRICANTE = 'KOMPORT'
END

IF NOT UPDATE(ENVIA_LOJA_VAREJO)
BEGIN

	update p set ENVIA_LOJA_VAREJO = 1 
	FROM inserted i
	INNER JOIN PRODUTOS p
		ON p.PRODUTO=i.PRODUTO
	WHERE i.ENVIA_LOJA_VAREJO = 0 
			and i.STATUS_PRODUTO ='01'
			AND i.ERP_CUPS_SEGMENTO <> '000156'

END

/* CUSTOMIZAÇÃO CAEDU - FIM */

-- Define Agrupamento Distribuicao ----------------------------------------------------------------------
IF UPDATE(PRODUTO)
	 OR UPDATE(GRUPO_PRODUTO)
	 OR UPDATE(SUBGRUPO_PRODUTO)
	 OR UPDATE(GRIFFE)
	 OR UPDATE(LINHA)
	 OR UPDATE(COLECAO)
	 OR UPDATE(TIPO_PRODUTO)
	 OR UPDATE(REDE_LOJAS)
	 OR UPDATE(SEXO_TIPO)
	 OR UPDATE(CONTINUIDADE)
	 OR UPDATE(FATOR_P)
	 OR UPDATE(FATOR_Q) --PRODUTOS
	 OR UPDATE(FATOR_F)
	 OR UPDATE(MODELAGEM)
	 OR UPDATE(COD_CATEGORIA)
	 OR UPDATE(COD_SUBCATEGORIA)
	 OR UPDATE(COD_PRODUTO_SOLUCAO)
	 OR UPDATE(COD_PRODUTO_SEGMENTO)
	 OR UPDATE(CODIGO_PRECO)
BEGIN
    DECLARE curPRODupdate CURSOR LOCAL FAST_FORWARD FOR SELECT PRODUTO FROM INSERTED
    OPEN curPRODupdate
    FETCH NEXT FROM curPRODupdate INTO @insPRODUTO
    WHILE @@FETCH_STATUS = 0
    BEGIN
		EXEC LX_GIV_AGRUPAMENTO_PRODUTO @insPRODUTO
        FETCH NEXT FROM curPRODupdate INTO @insPRODUTO
    END
    CLOSE curPRODupdate
    DEALLOCATE curPRODupdate
END

	IF (UPDATE(ENVIA_LOJA_VAREJO) /*#5#*/OR UPDATE(STATUS_PRODUTO)/*#5#*/) 
	AND (SELECT CASE WHEN APP_NAME() LIKE '%SMB%' THEN 1 ELSE 0 END) = 0 --#7#
	AND EXISTS( SELECT * FROM INSERTED WHERE ENVIA_LOJA_VAREJO = 1 ) --AND NOT EXISTS( SELECT * FROM DELETED WHERE ENVIA_LOJA_VAREJO = 1 ) --#5#
	BEGIN

		UPDATE A
		SET DATA_PARA_TRANSFERENCIA = GETDATE()
		FROM PRODUTO_CORES AS A
		     INNER JOIN INSERTED ON A.PRODUTO = INSERTED.PRODUTO
		WHERE INSERTED.ENVIA_LOJA_VAREJO = 1

		UPDATE A
		SET DATA_PARA_TRANSFERENCIA = GETDATE()
		FROM PRODUTOS_FOTO AS A
		     INNER JOIN INSERTED ON A.PRODUTO = INSERTED.PRODUTO
		WHERE INSERTED.ENVIA_LOJA_VAREJO = 1

		UPDATE A
		SET DATA_PARA_TRANSFERENCIA = GETDATE()
		FROM PRODUTOS_BARRA AS A
		     INNER JOIN INSERTED ON A.PRODUTO = INSERTED.PRODUTO
		WHERE INSERTED.ENVIA_LOJA_VAREJO = 1

		UPDATE A
		SET DATA_PARA_TRANSFERENCIA = GETDATE()
		FROM PRODUTOS_PRECOS AS A
		     INNER JOIN INSERTED ON A.PRODUTO = INSERTED.PRODUTO
		WHERE INSERTED.ENVIA_LOJA_VAREJO = 1

		UPDATE A
		SET DATA_PARA_TRANSFERENCIA = GETDATE()
		FROM PRODUTOS_PRECO_COR AS A
		     INNER JOIN INSERTED ON A.PRODUTO = INSERTED.PRODUTO
		WHERE INSERTED.ENVIA_LOJA_VAREJO = 1

		UPDATE A
		SET DATA_PARA_TRANSFERENCIA = GETDATE()
		FROM PRODUTOS_PRECO_COR_LOG AS A
		     INNER JOIN INSERTED ON A.PRODUTO = INSERTED.PRODUTO
		WHERE INSERTED.ENVIA_LOJA_VAREJO = 1

		UPDATE A
		SET DATA_PARA_TRANSFERENCIA = GETDATE()
		FROM PRODUTOS_PRECO_LOG AS A
		     INNER JOIN INSERTED ON A.PRODUTO = INSERTED.PRODUTO
		WHERE INSERTED.ENVIA_LOJA_VAREJO = 1

		--#5#
		UPDATE A
		SET DATA_PARA_TRANSFERENCIA = GETDATE()
		FROM PRODUTOS_INDICADOR_CFOP AS A
		     INNER JOIN INSERTED ON A.PRODUTO = INSERTED.PRODUTO
		WHERE INSERTED.ENVIA_LOJA_VAREJO = 1
		--#5#		

	END

/*-----------------------------------------------------------------------------------------------------*/
/*VERIFICACAO DA EXISTENCIA DA PARTE_APLICADO_MATERIAL EM PRODUTOS_SUBGRUPO                            */
/*-----------------------------------------------------------------------------------------------------*/
if update(GRUPO_PRODUTO) OR update(SUBGRUPO_PRODUTO)
begin
    select @validcnt = count(*)
        from inserted a inner join produtos_subgrupo b on a.grupo_produto = b.grupo_produto
        and a.subgrupo_produto = b.subgrupo_produto inner join produtos_ficha c on a.produto = c.produto
        where b.PARTES_DO_PRODUTO not LIKE '%' + c.PARTE_APLICADO_MATERIAL  + '%' and c.parte_aplicado_material is not null
    if @validcnt > 0
    begin
      select @errno  = 30002,
             @errmsg = 'Impossível Alterar #PRODUTOS #porque #existem registros em #PRODUTOS_FICHA com #PARTE_APLICADO_MATERIAL do #SUBGRUPO_ANTIGO.'
      goto error
    end
end

--PRODUTOS_STATUS_LOG----------------------------------------------------------------------------------------------------------
if update (STATUS_PRODUTO)
begin
	declare @valor_parametro char(3)
	select @valor_parametro=dbo.fx_parametro('controla_status_produto')


	if UPPER(@valor_parametro) ='.T.'
	begin
		if exists(select *
		  from inserted a
				join deleted b on a.produto=b.produto and 
					(a.status_produto<>b.status_produto or a.status_produto is null or b.status_produto is null) and
					(a.status_produto is not null or b.status_produto is not null) )
		begin
			insert into produtos_status_log (status_produto, produto, data_alteracao, status_antigo, responsavel)
			select a.status_produto, a.produto, getdate(), isnull(b.status_produto,a.status_produto), upper(system_user)
			from inserted a
				join deleted b on a.produto=b.produto and a.status_produto<>b.status_produto
		end
	end
end


----#4#--#6#--- PRODUTOS_LOG ----------------------------------------------------------------------------------------------------------
IF UPDATE(DESC_PRODUTO) AND EXISTS (SELECT 1 FROM INSERTED AS A JOIN DELETED AS B ON A.PRODUTO = B.PRODUTO AND A.DESC_PRODUTO <>B.DESC_PRODUTO )  --##
BEGIN
	INSERT INTO PRODUTOS_LOG (PRODUTO, DESCR_ANT_ITEM, DATA_ALTERACAO)
	SELECT PRODUTO, DESC_PRODUTO, GETDATE()
	FROM DELETED
END
----#4#--#6#---------------------------------------------------------------------------------------------------------------------------

	return
Error:
	raiserror (@errmsg, 16, 1)
	rollback transaction
End