
USE [CAEDU]
GO
/****** Object:  Trigger [dbo].[LXU_CAEDU_LOG_AUTORIZA_COMPRAS_ITEM]    Script Date: 02/10/2018 09:30:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ==============================================================
-- Author:	 PAULO DEVIDE
-- Create date: 17-10-2016
-- Description: ATUALIZA O CAMPO MARGEM NA TABELA COMPRAS_PRODUTO
-- ==============================================================
ALTER TRIGGER [dbo].[LXU_CAEDU_LOG_AUTORIZA_COMPRAS_ITEM]  
   ON  [dbo].[CAEDU_LOG_AUTORIZA_COMPRAS_ITEM]
   FOR UPDATE	 
AS 
BEGIN

    SET NOCOUNT ON
    DECLARE @TOTLINHA int

    DECLARE @PEDIDO CHAR(8)
    DECLARE @PRODUTO CHAR(12)
    DECLARE @COR_PRODUTO CHAR(10)
    DECLARE @COD_METRICA CHAR(2)
    DECLARE @DATA_LOG DATETIME
    DECLARE @VALOR_ANTES CHAR(40)
    DECLARE @VALOR_DEPOIS CHAR(40)
    DECLARE @APROVADO BIT

    SELECT @TOTLINHA = COUNT(*)
    FROM DELETED d
    WHERE d.APROVADO=0 AND d.cod_metrica='05' /*metrica de calculo de margem*/

    IF @TOTLINHA = 0
    BEGIN
	   /*FINALIZA A TRIGGER. NAO FOI ENCONTRADA METRICA 05 PARA APROVAR*/
	   GOTO fim
    END

    DECLARE CUR_COMPRAS_PRODUTO CURSOR FOR
    SELECT  d.PEDIDO, d.PRODUTO, d.COR_PRODUTO, d.COD_METRICA, d.DATA_LOG, 
			 d.VALOR_ANTES, d.VALOR_DEPOIS, d.APROVADO 
    FROM DELETED d
    WHERE d.APROVADO=0 AND d.cod_metrica='05' /*and DATA_LOG = @MAXDATA - metrica de calculo de margem*/
	ORDER BY DATA_LOG

    OPEN CUR_COMPRAS_PRODUTO	  
    
    FETCH NEXT FROM CUR_COMPRAS_PRODUTO	
    INTO @PEDIDO, @PRODUTO, @COR_PRODUTO, @COD_METRICA, @DATA_LOG, 
			 @VALOR_ANTES, @VALOR_DEPOIS, @APROVADO 

    WHILE @@FETCH_STATUS = 0
    BEGIN
	   
	   SELECT  @VALOR_DEPOIS = i.VALOR_DEPOIS, @APROVADO = i.APROVADO
	   FROM INSERTED i
	   WHERE i.PEDIDO = @PEDIDO AND i.PRODUTO = @PRODUTO AND i.COR_PRODUTO = @COR_PRODUTO 
			 AND COD_METRICA = @COD_METRICA AND DATA_LOG = @DATA_LOG
    
	   IF ISNUMERIC(@VALOR_DEPOIS) = 1 AND @APROVADO = 1
	   BEGIN
		  UPDATE dbo.COMPRAS_PRODUTO
		  SET
			 dbo.COMPRAS_PRODUTO.ERP_PERC_MARGEM = CAST(@VALOR_DEPOIS AS NUMERIC(10,6))
		  WHERE PEDIDO=@PEDIDO AND PRODUTO=@PRODUTO AND COR_PRODUTO=@COR_PRODUTO	 
	   END

	   FETCH NEXT FROM CUR_COMPRAS_PRODUTO	
	   INTO @PEDIDO, @PRODUTO, @COR_PRODUTO, @COD_METRICA, @DATA_LOG, 
				@VALOR_ANTES, @VALOR_DEPOIS, @APROVADO 

    END	   


fim:
    /*FECHA E DESALOCA O CURSOR ABERTO*/
    IF @TOTLINHA > 0
    BEGIN
	   CLOSE CUR_COMPRAS_PRODUTO
	   DEALLOCATE CUR_COMPRAS_PRODUTO
    END

    RETURN
        

END



