USE [CAEDU]
GO
/****** Object:  Trigger [dbo].[LXD_COMPRAS_PRODUTO]    Script Date: 14/03/2019 10:56:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE trigger [dbo].[UNOUS_DELETE_COMPRAS_PRODUTO] on [dbo].[COMPRAS_PRODUTO]
  for DELETE 
  as
begin

	DECLARE @PEDIDO CHAR(12)
	SELECT @PEDIDO = DELETED.PEDIDO FROM deleted

	UPDATE COMPRAS SET ERP_UNOUS_DATA_ENVIO = NULL
	WHERE PEDIDO = @PEDIDO

end