USE [CAEDU]
GO
/****** Object:  Trigger [dbo].[TGR_UPD_PROP_COMPRAS]    Script Date: 20/02/2024 08:53:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER TRIGGER [dbo].[TGR_UPD_PROP_COMPRAS] 
   ON  [dbo].[PROP_COMPRAS]
   FOR UPDATE, INSERT
AS 
BEGIN
	SET NOCOUNT ON;
	
	IF UPDATE(VALOR_PROPRIEDADE)
	BEGIN
		DECLARE @PROPRIEDADE VARCHAR(5), @VALOR_PROPRIEDADE VARCHAR(70),  @VALOR_PROPRIEDADE_ANTES VARCHAR(70)

		SELECT	@PROPRIEDADE = inserted.PROPRIEDADE, 
				@VALOR_PROPRIEDADE = inserted.VALOR_PROPRIEDADE,
				@VALOR_PROPRIEDADE_ANTES = DELETED.VALOR_PROPRIEDADE
		FROM inserted
		INNER JOIN deleted ON deleted.PEDIDO = inserted.PEDIDO AND INSERTED.PROPRIEDADE = DELETED.PROPRIEDADE

		IF @PROPRIEDADE = '00106' AND (@VALOR_PROPRIEDADE_ANTES <> @VALOR_PROPRIEDADE)
		BEGIN
			
			UPDATE A SET ERP_UNOUS_DATA_ENVIO = NULL
			FROM COMPRAS A
			INNER JOIN inserted B ON B.PEDIDO = A.PEDIDO

		END
		/* ATUALIZA DATA_PARA_TRANSFERENCIA DA PROP_COMPRAS*/
		IF NOT UPDATE(DATA_PARA_TRANSFERENCIA) AND UPDATE(VALOR_PROPRIEDADE)
		BEGIN	
			UPDATE PROP_COMPRAS 
			SET DATA_PARA_TRANSFERENCIA = GETDATE()
			FROM PROP_COMPRAS, INSERTED
			WHERE  PROP_COMPRAS.PEDIDO = inserted.PEDIDO
			/*AND (INSERTED.DATA_PARA_TRANSFERENCIA IS NULL 
			OR PROP_COMPRAS.DATA_PARA_TRANSFERENCIA = INSERTED.DATA_PARA_TRANSFERENCIA)*/
			AND PROP_COMPRAS.PROPRIEDADE=inserted.PROPRIEDADE
		END
	END

END
