USE [CAEDU]
GO
/****** Object:  StoredProcedure [dbo].[VC_COPIA_EXCECAO_RT]    Script Date: 19/12/2025 17:46:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


ALTER PROCEDURE [dbo].[VC_COPIA_EXCECAO_RT]
	@ID_EXCECAO_IMPOSTO INT,
	@DT_INICIO_VIGENCIA_SEMRT DATE, 
	@DT_FIM_VIGENCIA_SEMRT DATE, 
	@DT_INICIO_VIGENCIA_RT DATE, 
	@DT_FIM_VIGENCIA_RT DATE, 
	@INATIVO_SEMRF BIT
AS

DECLARE @USUARIOLOGADO VARCHAR(100)

SET @USUARIOLOGADO = SUSER_SNAME()

IF (SELECT ID_EXCECAO_IMPOSTO FROM CTB_EXCECAO_IMPOSTO WHERE ID_EXCECAO_IMPOSTO=@ID_EXCECAO_IMPOSTO AND INATIVO='1') > 1
BEGIN
	SELECT 'EXCEÇÃO ESCOLHIDA ESTA INATIVA. OPERAÇÃO CANCELADA.'
	RETURN
END

ELSE


	UPDATE A SET 
				DT_INICIO_VIGENCIA=CASE WHEN A.DT_INICIO_VIGENCIA IS NULL THEN @DT_INICIO_VIGENCIA_SEMRT ELSE A.DT_INICIO_VIGENCIA END,
				DT_FIM_VIGENCIA=@DT_FIM_VIGENCIA_SEMRT,
				INATIVO=@INATIVO_SEMRF
	FROM CTB_EXCECAO_IMPOSTO A
	WHERE A.ID_EXCECAO_IMPOSTO=@ID_EXCECAO_IMPOSTO

	DECLARE @ID VARCHAR(100);
	DECLARE @ID_TEMP TABLE (ID VARCHAR(100));
	
	INSERT INTO @ID_TEMP
	EXEC LX_CTB_COPIA_EXCECAO @EMPRESA=1, @ID_EXCECAO_ORIGEM=@ID_EXCECAO_IMPOSTO
	
	SELECT @ID = ID FROM @ID_TEMP;

	UPDATE A SET 
				DESC_DETALHADA=	SUBSTRING(	ISNULL(LTRIM(RTRIM(DESC_DETALHADA)),'') + CHAR(13) + CHAR(10) +  + CHAR(13) + CHAR(10) +
											'#REFERENTE A REFORMA TRIBUTARIA#' + CHAR(13) + CHAR(10) +
											'CRIADO POR ' + LTRIM(RTRIM(UPPER(@USUARIOLOGADO))) + CHAR(13) + CHAR(10) +
											'DATA DE ' + CONVERT(VARCHAR, GETDATE(), 103) + CHAR(13) + CHAR(10) +
											'COPIA DA EXCEÇÃO ' + CAST(@ID_EXCECAO_IMPOSTO AS VARCHAR),1,250),
				DT_INICIO_VIGENCIA=@DT_INICIO_VIGENCIA_RT,
				DT_FIM_VIGENCIA=@DT_FIM_VIGENCIA_RT,
				INATIVO='0',
				
				CST_IBS_CBS=			CASE	WHEN	NATUREZA_ENTRADA LIKE '200%'	THEN '000'
												WHEN	NATUREZA_ENTRADA LIKE '250%'	THEN '000'
												WHEN	NATUREZA_SAIDA LIKE '105%'		THEN '000'
												WHEN	NATUREZA_SAIDA LIKE '107%'		THEN '000'
												WHEN	NATUREZA_SAIDA LIKE '100%'		THEN '000'
												WHEN	NATUREZA_SAIDA LIKE '128%'		THEN '000' 
												WHEN	NATUREZA_SAIDA LIKE '150%'		THEN '000' ELSE '410' END,
				
				DESCRICAO_CST_IBS_CBS=	CASE	WHEN NATUREZA_ENTRADA LIKE '200%'	THEN 'Tributação integral'
												WHEN NATUREZA_ENTRADA LIKE '250%'	THEN 'Tributação integral'
												WHEN NATUREZA_SAIDA LIKE '100%'		THEN 'Tributação integral' 
												WHEN NATUREZA_SAIDA LIKE '105%'		THEN 'Tributação integral' 
												WHEN NATUREZA_SAIDA LIKE '107%'		THEN 'Tributação integral' 
												WHEN NATUREZA_SAIDA LIKE '128%'		THEN 'Tributação integral' 
												WHEN NATUREZA_SAIDA LIKE '150%'		THEN 'Tributação integral' ELSE 'Imunidade e não incidência' END,
				
				CCLASSTRIB=				CASE	WHEN	NATUREZA_ENTRADA LIKE '200%'	THEN '000001'
												WHEN	NATUREZA_ENTRADA LIKE '221%'	THEN '410002'
												WHEN	NATUREZA_ENTRADA LIKE '250%'	THEN '000001'
												WHEN	NATUREZA_SAIDA LIKE '100%'		THEN '000001'
												WHEN	NATUREZA_SAIDA LIKE '105%'		THEN '000001'
												WHEN	NATUREZA_SAIDA LIKE '107%'		THEN '000001'
												wHEN	NATUREZA_SAIDA LIKE '128%'		THEN '000001'
												WHEN	NATUREZA_SAIDA LIKE '120%'		THEN '410002' 
												WHEN	NATUREZA_SAIDA LIKE '150%'		THEN '000001' ELSE '410999' END,
				
				DESCRICAO_CCLASSTRIB=	CASE	WHEN	NATUREZA_ENTRADA LIKE '200%'	THEN 'Situações tributadas integralmente pelo IBS e CBS.'
												WHEN	NATUREZA_ENTRADA LIKE '221%'	THEN 'Transferências entre estabelecimentos pertencentes ao mesmo contribuinte, observado o art. 6º da Lei Complementar nº 214, de 2025.'
												WHEN	NATUREZA_ENTRADA LIKE '250%'	THEN 'Situações tributadas integralmente pelo IBS e CBS.'
												WHEN	NATUREZA_SAIDA LIKE '100%'		THEN 'Situações tributadas integralmente pelo IBS e CBS.'
												WHEN	NATUREZA_SAIDA LIKE '105%'		THEN 'Situações tributadas integralmente pelo IBS e CBS.'
												WHEN	NATUREZA_SAIDA LIKE '107%'		THEN 'Situações tributadas integralmente pelo IBS e CBS.'
												WHEN	NATUREZA_SAIDA LIKE '128%'		THEN 'Situações tributadas integralmente pelo IBS e CBS.'
												WHEN	NATUREZA_SAIDA LIKE '120%'		THEN 'Transferências entre estabelecimentos pertencentes ao mesmo contribuinte, observado o art. 6º da Lei Complementar nº 214, de 2025.' 
												WHEN	NATUREZA_SAIDA LIKE '150%'		THEN 'Situações tributadas integralmente pelo IBS e CBS.'
													ELSE 'Operações não onerosas sem previsão de tributação, não especificadas anteriormente, observado o art. 4º da Lei Complementar nº 214, de 2025.' END												

	FROM CTB_EXCECAO_IMPOSTO A
	WHERE ID_EXCECAO_IMPOSTO=@ID



	IF NOT EXISTS (SELECT *	FROM CTB_EXCECAO_IMPOSTO A
			JOIN CTB_EXCECAO_IMPOSTO_ITEM B ON A.ID_EXCECAO_IMPOSTO=B.ID_EXCECAO_IMPOSTO
			WHERE A.ID_EXCECAO_IMPOSTO=@ID AND ID_IMPOSTO=92)

		INSERT INTO CTB_EXCECAO_IMPOSTO_ITEM 
		(ID_EXCECAO_IMPOSTO,ID_IMPOSTO,PORCENT_REDUCAO_DE_BASE,ISENTO_OU_OUTROS,TAXA_IMPOSTO,PORC_RECUPERACAO,AGREGA_APOS_DESCONTO,INCIDENCIA,AGREGA_APOS_ENCARGO,
		APLICA_ESPELHO_ENTRADA,VALOR_MIN_ARRECADACAO,VALOR_MAX_ARRECADACAO,VALIDA_VALOR_PARCELA)

		SELECT
			ID_EXCECAO_IMPOSTO			=	@ID,
			ID_IMPOSTO					=	'92',
			PORCENT_REDUCAO_DE_BASE		=	CASE WHEN CST_IBS_CBS='000' THEN '0' ELSE '100' END,
			ISENTO_OU_OUTROS			=	'I',
			TAXA_IMPOSTO				=	'0',
			PORC_RECUPERACAO			=	CASE WHEN CST_IBS_CBS='410' THEN '0' ELSE '100' END,
			AGREGA_APOS_DESCONTO		=	'1',
			INCIDENCIA					=	'3',
			AGREGA_APOS_ENCARGO			=	'1',
			APLICA_ESPELHO_ENTRADA		=	'1',
			VALOR_MIN_ARRECADACAO		=	0,
			VALOR_MAX_ARRECADACAO		=	0,
			VALIDA_VALOR_PARCELA		=	0
		FROM CTB_EXCECAO_IMPOSTO
		WHERE ID_EXCECAO_IMPOSTO=@ID


	IF NOT EXISTS (SELECT *	FROM CTB_EXCECAO_IMPOSTO A
			JOIN CTB_EXCECAO_IMPOSTO_ITEM B ON A.ID_EXCECAO_IMPOSTO=B.ID_EXCECAO_IMPOSTO
			WHERE A.ID_EXCECAO_IMPOSTO=@ID AND ID_IMPOSTO=93)

		INSERT INTO CTB_EXCECAO_IMPOSTO_ITEM 
		(ID_EXCECAO_IMPOSTO,ID_IMPOSTO,PORCENT_REDUCAO_DE_BASE,ISENTO_OU_OUTROS,TAXA_IMPOSTO,PORC_RECUPERACAO,AGREGA_APOS_DESCONTO,INCIDENCIA,AGREGA_APOS_ENCARGO,
		APLICA_ESPELHO_ENTRADA,VALOR_MIN_ARRECADACAO,VALOR_MAX_ARRECADACAO,VALIDA_VALOR_PARCELA)

		SELECT
			ID_EXCECAO_IMPOSTO			=	@ID,
			ID_IMPOSTO					=	'93',
			PORCENT_REDUCAO_DE_BASE		=	CASE WHEN CST_IBS_CBS='000' THEN '0' ELSE '100' END,
			ISENTO_OU_OUTROS			=	'I',
			TAXA_IMPOSTO				=	'0',
			PORC_RECUPERACAO			=	CASE WHEN CST_IBS_CBS='410' THEN '0' ELSE '100' END,
			AGREGA_APOS_DESCONTO		=	'1',
			INCIDENCIA					=	'3',
			AGREGA_APOS_ENCARGO			=	'1',
			APLICA_ESPELHO_ENTRADA		=	'1',
			VALOR_MIN_ARRECADACAO		=	0,
			VALOR_MAX_ARRECADACAO		=	0,
			VALIDA_VALOR_PARCELA		=	0
		FROM CTB_EXCECAO_IMPOSTO
		WHERE ID_EXCECAO_IMPOSTO=@ID

		SELECT @ID

