USE [CAEDU]
GO
/****** Object:  StoredProcedure [dbo].[CAE_ATUALIZA_PRODUTOS_FATOR_P]    Script Date: 28/10/2022 14:16:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[CAE_ATUALIZA_PRODUTOS_FATOR_P]

AS
BEGIN
/****
* 	COORDENADOR.................: LUCIANO REIS
*	ANALISTA RESPONSAVEL........: PAULO EDUARDO DEVIDE
*	DATA DA CRIACAO.............: 07/05/2013
*	DATA DA ULTIMA MODIFICACAO..: 07/05/2013
*   ATUALIZACAO DA TABELA dbo.CAE_PRODUTOS_FATOR_P
*/
DECLARE @ULTIMO INT, @I INT, @TOTREG INT, @NREF INT
DECLARE @GRIFFE VARCHAR(25),@LINHA VARCHAR(25)
DECLARE @GRUPO_PRODUTO VARCHAR(25),@SUBGRUPO_PRODUTO VARCHAR(25)
DECLARE @CODIGO_FATOR CHAR(6), @REFERENCIA CHAR(1)
DECLARE @VALOR1 NUMERIC(14,2), @VALOR2 NUMERIC(14,2)

SELECT @ULTIMO = CAST(MAX(CODIGO_FATOR) AS INT)
FROM dbo.CAE_PRODUTOS_FATOR_P

select distinct IDENTITY(int, 1,1)  AS ID,
P.GRIFFE,P.LINHA,P.GRUPO_PRODUTO,P.SUBGRUPO_PRODUTO 
INTO #TEMP_PRD
FROM PRODUTOS P
WHERE RTRIM(LTRIM(ISNULL(P.GRIFFE,'')))+RTRIM(LTRIM(ISNULL(P.LINHA,'')))+
		RTRIM(LTRIM(ISNULL(P.GRUPO_PRODUTO,'')))+RTRIM(LTRIM(ISNULL(P.SUBGRUPO_PRODUTO,'')))
NOT IN (SELECT 
RTRIM(LTRIM(ISNULL(FP.GRIFFE,'')))+RTRIM(LTRIM(ISNULL(FP.LINHA,'')))+
		RTRIM(LTRIM(ISNULL(FP.GRUPO_PRODUTO,'')))+RTRIM(LTRIM(ISNULL(FP.SUBGRUPO_PRODUTO,'')))		
FROM dbo.CAE_PRODUTOS_FATOR_P AS FP)

SET @I=1

SELECT @TOTREG=COUNT(*) 
FROM #TEMP_PRD

WHILE @I <= @TOTREG
BEGIN

	SELECT @CODIGO_FATOR=RIGHT('000000'+CAST(ID + @ULTIMO AS VARCHAR),6),
		@GRIFFE=GRIFFE,@LINHA=LINHA,@GRUPO_PRODUTO=GRUPO_PRODUTO,
		@SUBGRUPO_PRODUTO=SUBGRUPO_PRODUTO  
	FROM  #TEMP_PRD 
	WHERE ID = @I
	
	SET @NREF=1
	WHILE @NREF <= 4
	BEGIN
		SET @REFERENCIA = CAST(@NREF AS CHAR(1))

		SET @VALOR1 = 
			CASE @NREF
				WHEN 1 THEN 0 
				WHEN 2 THEN 1
				WHEN 3 THEN 2
				WHEN 4 THEN 3
			END		

		SET @VALOR2 = 
			CASE @NREF
				WHEN 1 THEN 0.99 
				WHEN 2 THEN 1.99
				WHEN 3 THEN 2.99
				WHEN 4 THEN 1000000
			END		
		
		INSERT INTO dbo.CAE_PRODUTOS_FATOR_P
		(CODIGO_FATOR, REFERENCIA, GRIFFE, LINHA, GRUPO_PRODUTO, SUBGRUPO_PRODUTO, VALOR1, VALOR2)
		VALUES 
		(@CODIGO_FATOR, @REFERENCIA, @GRIFFE, @LINHA, @GRUPO_PRODUTO, @SUBGRUPO_PRODUTO, @VALOR1, @VALOR2)
		
		SET @NREF = @NREF + 1
	END
	
	
	SET @I=@I+1
END

END
