USE [CAEDU]
GO
/****** Object:  StoredProcedure [dbo].[PRC_CRIARALOCACAO]    Script Date: 01/07/2021 15:13:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO










ALTER PROCEDURE [dbo].[PRC_CRIARALOCACAO] @P_PED_DIST VARCHAR(12)
										 ,@P_PRODUTO VARCHAR(12)										 
										 ,@P_TIPO_PACK VARCHAR(10)
										 ,@P_FILIAL VARCHAR(25)
										 ,@P_FILIAL_ORIGEM VARCHAR(25)											
										 ,@P_TIPO_ALOCACAO VARCHAR(1)  /* 'P = PEDIDO, W = WMS' */
										 ,@P_DATA_ULTIMA_ATUALIZACAO VARCHAR(25)  /* DATA DA ULTIMA ATUALIZACAO DO PEDIDO */
										 ,@P_RETORNO VARCHAR(1000) OUTPUT
										 
										 AS 

DECLARE @NEMPRESA INT= 1;
DECLARE @V_PASSO CHAR(5);
DECLARE @V_CAIXA CHAR(8);
DECLARE @V_VENDA VARCHAR(12);
DECLARE @V_ROMANEIO CHAR(8);
DECLARE @V_GERADO BIT;
DECLARE @V_CODIGO CHAR(12);
DECLARE @V_ROMANEIO_PRODUTO CHAR(8);		
DECLARE @V_DISTRIBUICAO VARCHAR(12);				
DECLARE @V_FILIAL VARCHAR(25);							
DECLARE @V_FILIAL_ORIGEM VARCHAR(25);
DECLARE @V_DT_ULT_ATU DATETIME;
DECLARE @V_DT_HR_ZERADA DATETIME;
DECLARE @V_Q1 INT; 
DECLARE @V_Q2 INT; 
DECLARE @V_Q3 INT; 
DECLARE @V_Q4 INT; 
DECLARE @V_Q5 INT; 
DECLARE @V_Q6 INT; 
DECLARE @V_Q7 INT; 
DECLARE @V_Q8 INT; 
DECLARE @V_Q9 INT; 
DECLARE @V_Q10 INT;
DECLARE @V_Q11 INT;
DECLARE @V_Q12 INT;
DECLARE @V_Q13 INT;
DECLARE @V_Q14 INT;
DECLARE @V_Q15 INT;
DECLARE @V_Q16 INT;
DECLARE @V_Q17 INT;
DECLARE @V_Q18 INT;
DECLARE @V_Q19 INT;
DECLARE @V_Q20 INT;
DECLARE @V_Q21 INT;
DECLARE @V_Q22 INT;
DECLARE @V_Q23 INT;
DECLARE @V_Q24 INT;
DECLARE @V_Q25 INT;
DECLARE @V_Q26 INT;
DECLARE @V_Q27 INT;
DECLARE @V_Q28 INT;
DECLARE @V_Q29 INT;
DECLARE @V_Q30 INT;
DECLARE @V_Q31 INT;
DECLARE @V_Q32 INT;
DECLARE @V_Q33 INT;
DECLARE @V_Q34 INT;
DECLARE @V_Q35 INT;
DECLARE @V_Q36 INT;
DECLARE @V_Q37 INT;
DECLARE @V_Q38 INT;
DECLARE @V_Q39 INT;
DECLARE @V_Q40 INT;
DECLARE @V_Q41 INT;
DECLARE @V_Q42 INT;
DECLARE @V_Q43 INT;
DECLARE @V_Q44 INT;
DECLARE @V_Q45 INT;
DECLARE @V_Q46 INT;
DECLARE @V_Q47 INT;
DECLARE @V_Q48 INT;
DECLARE @V_QTDE INT;
DECLARE @V_CAIXA_PRODUTO CHAR(8);
DECLARE @V_CAIXA_PRODUTO_COR CHAR(8);
DECLARE @V_COUNT_PROD_PEDIDO INT = 0;
DECLARE @V_COUNT_PROD_COR_PEDIDO INT = 0;
DECLARE @V_TABELA VARCHAR(20);
DECLARE @V_COUNT_COR_PACK INT = 0;
DECLARE @V_DIST_ATUAL VARCHAR(12);
DECLARE @V_EXIST_DIST VARCHAR(12);
DECLARE @V_COR_PRODUTO VARCHAR(10)
DECLARE @V_COR_PACK_PERMITIDO VARCHAR(10)
DECLARE @V_QTD_PCK_PERM VARCHAR(10)
DECLARE @V_QTD_PACK INT = 1 

DECLARE @V_NUM_DISTRIBUICAO VARCHAR(12);
DECLARE @V_PRODUTO_DISTRIBUICAO VARCHAR(12);
DECLARE @V_CAIXA_DISTRIBUICAO CHAR(8);

IF NOT EXISTS(SELECT 1 
			FROM CAE_PRODUTOS_FATOR_P A
			INNER JOIN PRODUTOS B 
				ON B.GRIFFE=A.GRIFFE AND B.LINHA = A.LINHA 	AND B.GRUPO_PRODUTO = A.GRUPO_PRODUTO 
				AND B.SUBGRUPO_PRODUTO = A.SUBGRUPO_PRODUTO	WHERE B.PRODUTO = @P_PRODUTO AND A.UNOUS_ALOCAR = 1)
BEGIN
    --RAISERROR('Hierarquia nao selecionada para gerar distribuicao pela UNOUS.', 16, 1)
	SET @P_RETORNO = 'OK'
	RETURN
END

IF OBJECT_ID('TEMPDB..#PACKS_POR_COR') IS NOT NULL
BEGIN 
	DROP TABLE #PACKS_POR_COR	
END

CREATE TABLE #PACKS_POR_COR(COR_PRODUTO VARCHAR(10), QTDE VARCHAR(10) )

BEGIN

  BEGIN TRY

     SET @V_PASSO = '1' 
	 SELECT @V_PASSO
	 -- PEGA O NOME DA LOJA
	 SET @V_FILIAL = NULL

	 SELECT @V_FILIAL = FILIAL 
       FROM  ( SELECT FILIAL AS FILIAL, COD_FILIAL ,CGC_CPF FROM CAEDU.DBO.CGP_VW_UNIDADES ) A 
	  WHERE SUBSTRING(RTRIM(LTRIM(A.CGC_CPF)), 9,4) = @P_FILIAL 
	 
	 IF ISNULL(@V_FILIAL,'NULO') = 'NULO' BEGIN

	 SELECT  @V_FILIAL = FILIAL	  
       FROM (SELECT FILIAL AS FILIAL, COD_FILIAL ,CGC_CPF FROM CAEDU.DBO.CGP_VW_UNIDADES ) A 
      WHERE  RIGHT(COD_FILIAL,4) = @P_FILIAL  
	        
     END 

	 SET @V_PASSO = '2' 
	 SELECT @V_PASSO	

	  --PEGA O NOME DO CD
	 SELECT @V_FILIAL_ORIGEM = VALOR_ATUAL FROM CAEDU.DBO.PARAMETROS NOLOCK WHERE PARAMETRO = 'PALMA_CD_ORIGEM_DISTRIB'

     -- SE A FILIAL FOR O CD, NÃO DEVEMOS GERAR DISTRIBUICAO
     SET @V_PASSO = '3'
	 IF(@V_FILIAL = @V_FILIAL_ORIGEM) BEGIN
	   SET @P_RETORNO = 'OK'	
	   RETURN
	 END

     SET @V_PASSO = '4'
	 SELECT @V_PASSO
	 
	 SELECT @V_DT_ULT_ATU = CONVERT(VARCHAR,@P_DATA_ULTIMA_ATUALIZACAO,105)
	 SELECT @V_DT_HR_ZERADA = CAST(CONVERT(VARCHAR(10),GETDATE(),121)+' 00:00:00.000' AS DATETIME)

	 SET @V_PASSO = '5'
	 SELECT @V_PASSO

	 --PEGAR A CONFIGURACAO POR COR
	 INSERT INTO #PACKS_POR_COR
	 SELECT COR_PRODUTO, QTDE
       FROM CAEDU.DBO.PRODUTOS_PACKS_PERMITIDOS NOLOCK
	  WHERE PRODUTO  = @P_PRODUTO
	    AND PACK = @P_TIPO_PACK

	 SET @V_PASSO = '6'
	 SELECT @V_PASSO

	--LOOP PELA QUANTIDADE DE CORES
	 WHILE (SELECT COUNT(1) FROM #PACKS_POR_COR ) > 0  BEGIN			
        SET @V_PASSO = '7'
		SELECT @V_PASSO
	    SELECT TOP 1 @V_COR_PACK_PERMITIDO = COR_PRODUTO, @V_QTD_PCK_PERM = QTDE FROM #PACKS_POR_COR

		--POPULAR OS TAMANHOS 
		SELECT DISTINCT
			   @V_Q1   = Q1     ,@V_Q2  = Q2     ,@V_Q3  = Q3     ,@V_Q4  = Q4     ,@V_Q5  = Q5     ,@V_Q6  = Q6     ,@V_Q7  = Q7     ,@V_Q8  = Q8
	 		  ,@V_Q9   = Q9     ,@V_Q10 = Q10    ,@V_Q11 = Q11    ,@V_Q12 = Q12    ,@V_Q13 = Q13    ,@V_Q14 = Q14    ,@V_Q15 = Q15    ,@V_Q16 = Q16
			  ,@V_Q17  = Q17    ,@V_Q18 = Q18    ,@V_Q19 = Q19    ,@V_Q20 = Q20    ,@V_Q21 = Q21    ,@V_Q22 = Q22    ,@V_Q23 = Q23    ,@V_Q24 = Q24
			  ,@V_Q25  = Q25    ,@V_Q26 = Q26    ,@V_Q27 = Q27    ,@V_Q28 = Q28    ,@V_Q29 = Q29    ,@V_Q30 = Q30    ,@V_Q31 = Q31    ,@V_Q32 = Q32
			  ,@V_Q33  = Q33    ,@V_Q34 = Q34    ,@V_Q35 = Q35    ,@V_Q36 = Q36    ,@V_Q37 = Q37    ,@V_Q38 = Q38    ,@V_Q39 = Q39    ,@V_Q40 = Q40
			  ,@V_Q41  = Q41    ,@V_Q42 = Q42    ,@V_Q43 = Q43    ,@V_Q44 = Q44    ,@V_Q45 = Q45    ,@V_Q46 = Q46    ,@V_Q47 = Q47    ,@V_Q48 = Q48
			  ,@V_QTDE = QTDE   ,@V_COR_PRODUTO = COR_PRODUTO 
		  FROM CAEDU.DBO.PRODUTOS_PACKS_PERMITIDOS NOLOCK
		 WHERE PRODUTO     = @P_PRODUTO
		   AND PACK	       = @P_TIPO_PACK
		   AND COR_PRODUTO = @V_COR_PACK_PERMITIDO

		SET @V_PASSO = '8'
		SELECT @V_PASSO

		IF(@P_TIPO_ALOCACAO = 'P') BEGIN

		   SET @V_PASSO = '9'
		   SELECT @V_PASSO

		   SELECT @V_EXIST_DIST = PEDIDO   
		     FROM CAEDU_RESERVA_AUTOMATICA NOLOCK 		
		    WHERE 1 = 1 		   
			 AND PRODUTO = @P_PRODUTO		   
			 AND FILIAL = @V_FILIAL
			 AND FILIAL_ORIGEM = @V_FILIAL_ORIGEM
			 AND PEDIDO = @P_PED_DIST				
			 AND DATA_UNOUS < @V_DT_ULT_ATU
		   
			-- DELETAR A DISTRIBUICAO ANTERIOR				
		   SET @V_PASSO = '10'
		   SELECT @V_PASSO

		   IF(ISNULL(@V_EXIST_DIST,'NULO') <> 'NULO')		
		      BEGIN		      
			     BEGIN TRY		      
		            SET @V_PASSO = '11'	
					SELECT @V_PASSO 
								 				 
					EXEC LX_CAEDU_EXCLUI_DISTRIBUICAO_PEDIDO @V_EXIST_DIST
					SET @P_RETORNO = 'OK';
				 END TRY
		         BEGIN CATCH
		            SET @V_PASSO = '12'
					SELECT @V_PASSO
		            SELECT  @P_RETORNO = 'PASSO: ' + @V_PASSO + ' - ' + ERROR_MESSAGE() 
		         END CATCH		   
		   END -- DELETAR SISTRIBUICAO PEDIDO

		   SET @V_PASSO = '13'
		   SELECT @V_PASSO

		   --CONSEGUIU DELETAR O PEDIDO ?		
		   IF((ISNULL(@P_RETORNO, 'NULO') = 'NULO') OR  @P_RETORNO = 'OK') 
			  BEGIN 
			   --VERIFICAR SE JA TEM CAIXA 
				 IF((ISNULL(@V_CAIXA, 'NULO') = 'NULO') OR @V_CAIXA = '')

				    BEGIN
				       SET @V_PASSO = '14'	
					   SELECT @V_PASSO	  

			           SET @V_CAIXA = ''
			           EXEC LX_SEQUENCIAL 'FATURAMENTO_CAIXAS.CAIXA', @NEMPRESA, @V_CAIXA OUTPUT  		  
	                   SET @V_VENDA =  'CX-'+ @V_CAIXA	
				 END -- IF

				 SET @V_PASSO = '15'
				 SELECT @V_PASSO		


				 SET @P_RETORNO = 'OK';	   	    
	       END --DELETOU O PEDIDO
		   ELSE 
		      BEGIN		      
			     SET @P_RETORNO = 'ERRO DERRUBANDO ALOCACAO ANTERIOR PEDIDO(' + CAST(@P_PED_DIST  AS VARCHAR) + ') -  ' + CAST(@P_RETORNO AS VARCHAR)
		      END
           END -- TIPO PEDIDO
	 
	       ELSE IF (@P_TIPO_ALOCACAO = 'W') --DISTRIBUICAO
	          BEGIN 
	 	         SET @V_PASSO = '16' 			     
			     SELECT @V_PASSO  

				 --busca informacoes do produto para testar se é uma nova distribuição ou sobreposição
		         SELECT TOP 1 @V_NUM_DISTRIBUICAO     = W.DISTRIBUICAO
				       ,@V_PRODUTO_DISTRIBUICAO = W.PRODUTO
				       ,@V_CAIXA_DISTRIBUICAO   = MAX(W.CAIXA)
		           FROM CAEDU_RESERVA_AUTOMATICA_PACK_WMS W WITH (NOLOCK) 
			      WHERE PRODUTO       = @P_PRODUTO 			        
			        AND FILIAL = @V_FILIAL						
			        AND DATA_UNOUS    < @V_DT_ULT_ATU 		   
		          GROUP BY DISTRIBUICAO,PRODUTO

   	 	         SET @V_PASSO = '17' 			     
			     SELECT @V_PASSO  
				 select @V_NUM_DISTRIBUICAO, ' - ', @V_PRODUTO_DISTRIBUICAO, ' - ' , @V_CAIXA_DISTRIBUICAO

				 --TESTA SE TEMOS DISTRIBUICAO PARA ESSE PRODUTO 
				 IF (ISNULL(@V_PRODUTO_DISTRIBUICAO, 'NULO') <> 'NULO'  AND ISNULL(@V_CAIXA_DISTRIBUICAO, 'NULO') <> 'NULO' AND ISNULL(@V_NUM_DISTRIBUICAO,'NULO') <> 'NULO') BEGIN 

   	 	            SET @V_PASSO = '18' 			     
			        SELECT @V_PASSO  

					 --TESTA SE A CAIXA RECUPERADA ACIMA FOI FATURADA
   				    IF EXISTS ( SELECT 1 FROM FATURAMENTO_PROD WHERE CAIXA = @V_CAIXA_DISTRIBUICAO  AND PRODUTO = @V_PRODUTO_DISTRIBUICAO ) BEGIN

     	 	           SET @V_PASSO = '19' 			     
			           SELECT @V_PASSO  	
				       SET @V_EXIST_DIST = NULL;

				    END 
					ELSE BEGIN
     	 	           SET @V_PASSO = '20' 			     
			           SELECT @V_PASSO  	
					   SET @V_EXIST_DIST = @V_NUM_DISTRIBUICAO;
					END

				 END --fim teste se existe distribuicao
		  
		         SET @V_PASSO = '21'
			     SELECT @V_PASSO

                 IF(ISNULL(@V_EXIST_DIST,'NULO') <> 'NULO') -- Teste para saber se tem que deletar uma distribuição anterior			 
		            BEGIN 		    
				       SELECT @V_EXIST_DIST   				 
		               BEGIN TRY
		                  SET @V_PASSO = '22'		
					      SELECT @V_PASSO		
						  SELECT 'NUMERO DISTRIBUICAO A SER EXCLUIDA '	+ @V_EXIST_DIST					
		                  EXEC LX_CAEDU_EXCLUI_DISTRIBUICAO_WMS @V_EXIST_DIST
			              SET @P_RETORNO = 'OK';
		               END TRY
		               BEGIN CATCH
		                  SET @V_PASSO = '23'
					      SELECT @V_PASSO
		                  SELECT  @P_RETORNO = 'PASSO: ' + @V_PASSO + ' --> '+ ' - ' +  CAST(ERROR_NUMBER()AS VARCHAR) +' - '+   CAST(ERROR_MESSAGE()AS VARCHAR)
		               END CATCH		   
	             END -- fim  DELETAR A DISTRIBUICAO ANTERIOR
		
		         IF((ISNULL(@P_RETORNO, 'NULO') = 'NULO') OR  @P_RETORNO = 'OK')  -- Inicio montagem distribuicao
		            BEGIN		        
			           SET @V_PASSO = '24'
				       SELECT @V_PASSO

					   --BUSCAR DADOS DISTRIBUICAO PARA O PRODUTO HOJE		 
                       SELECT DISTINCT @V_DIST_ATUAL = DISTRIBUICAO 
			             FROM CAEDU_RESERVA_AUTOMATICA_PACK_WMS  NOLOCK  		    
			            WHERE 1 = 1        
				          AND PRODUTO = @P_PRODUTO	      
				          AND CONVERT(DATE ,DATA,113) = CONVERT(DATE ,GETDATE(),113) 		    			  		      

                       SET @V_PASSO = '25'
					   SELECT @V_PASSO

		               IF(ISNULL(@V_DIST_ATUAL, 'NULO') <> 'NULO') -- Teste já tem distribuicao hoje
			              BEGIN				 
			              --VERIFICAR SE JA TEM CAIXA 
				             IF((ISNULL(@V_CAIXA,'NULO') = 'NULO') OR @V_CAIXA = '')
					            BEGIN
				                   SET @V_PASSO = '26'	
						           SELECT @V_PASSO	  

			                       SET @V_CAIXA = ''
			                       EXEC LX_SEQUENCIAL 'FATURAMENTO_CAIXAS.CAIXA', @NEMPRESA, @V_CAIXA OUTPUT  		  
	                               SET @V_VENDA =  'CX-'+ @V_CAIXA	
				             END --END IF	CAIXA	 			  					
                       END --END IF DIST
	                   ELSE 
			              BEGIN		 
		                     SET @V_PASSO = '27'	
					         SELECT @V_PASSO

		                     SET @V_DIST_ATUAL = ''
		                     EXEC LX_SEQUENCIAL 'CAEDU_PEDIDOS_A_DISTRIBNUIR.CODIGO', @NEMPRESA, @V_DIST_ATUAL OUTPUT  		  
					         SET @V_DIST_ATUAL = RIGHT(@V_DIST_ATUAL,8)
							  
		
			                --VERIFICAR SE JA TEM CAIXA 
				             IF(@V_CAIXA IS NULL OR @V_CAIXA = '')
					            BEGIN
						           SET @V_PASSO = '28'	
							       SELECT @V_PASSO	  

							       SET @V_CAIXA = ''
							       EXEC LX_SEQUENCIAL 'FATURAMENTO_CAIXAS.CAIXA', @NEMPRESA, @V_CAIXA OUTPUT  		  
							       SET @V_VENDA =  'CX-'+ @V_CAIXA	
								   select  @V_VENDA as '@V_VENDA'
					         END --END IF CAIXA	
	                   END --FIM ELSE

		               SET @V_PASSO = '29'	
				       SELECT @V_PASSO	


                       SET @P_RETORNO = 'OK'		
	             END -- RETORNO DELETE
		   
	             ELSE --NAO CONSEGUIU DELETAR A DISTRIBUICAO
		            BEGIN 	             
			           SET @P_RETORNO = 'ERRO EXECUTANDO LX_CAEDU_EXCLUI_DISTRIBUICAO_WMS :' + @P_RETORNO			     
	             END --FIM DELETAR A DISTRIBUICAO		   
          END --FIM RETORNO DISTRIBUICAO
	      ELSE 
	         BEGIN	    
	            SET @P_RETORNO = ' TIPO ALOCACACAO INFORMADO: --> (' + ISNULL(CAST(@P_TIPO_ALOCACAO AS VARCHAR), '') + ') INVALIDO, VALORES PERMITIDOS SAO (P = PEDIDO, W = WMS )'	 
	      END

		  SET @V_PASSO = '30'
		  SELECT @V_PASSO
	      DELETE #PACKS_POR_COR  WHERE COR_PRODUTO = @V_COR_PACK_PERMITIDO  AND QTDE = @V_QTD_PCK_PERM

	 END--WHILE	 	 
  END TRY
  BEGIN CATCH
     IF(ISNULL(@P_RETORNO, 'NULO') = 'NULO')
	    BEGIN
	       SET @P_RETORNO = 'ERRO EXECUTANDO PASSO:  --> ' + CAST(@V_PASSO AS VARCHAR ) + ' - ' +  CAST(ERROR_NUMBER()AS VARCHAR) +' - '+   CAST(ERROR_MESSAGE()AS VARCHAR);
	    END	  
  END CATCH
END;







