USE [CAEDU]
GO
/****** Object:  Trigger [dbo].[LXUDT_COMPRAS_PRODUTO]    Script Date: 04/09/2019 17:08:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Trigger [dbo].[LXUNOUS_COMPRAS_PRODUTO] On [dbo].[COMPRAS_PRODUTO]
For UPDATE 
As 

Begin
	DECLARE @PEDIDO VARCHAR(12), @QTDE_ENTREGAR_NEW INT, @QTDE_ENTREGAR_OLD INT
	SELECT @PEDIDO = I.PEDIDO, @QTDE_ENTREGAR_NEW = I.QTDE_ENTREGAR, @QTDE_ENTREGAR_OLD = D.QTDE_ENTREGAR
	FROM INSERTED i
	inner join deleted d 
		on d.PEDIDO = i.PEDIDO 
			and d.PRODUTO = i.PRODUTO 
			and D.COR_PRODUTO=I.COR_PRODUTO
	IF @QTDE_ENTREGAR_NEW <> @QTDE_ENTREGAR_OLD
	BEGIN
		UPDATE COMPRAS SET ERP_UNOUS_DATA_ENVIO=NULL
		WHERE PEDIDO = @PEDIDO
	END
	
End


  

