USE [CAEDU]
GO
/****** Object:  Trigger [dbo].[LXUNOUS_COMPRAS_PRODUTO]    Script Date: 30/11/2020 16:20:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER Trigger [dbo].[LXUNOUS_COMPRAS_PRODUTO] On [dbo].[COMPRAS_PRODUTO]
For UPDATE 
As 

Begin
	DECLARE 
			@PEDIDO VARCHAR(12), 
			@QTDE_ENTREGAR_NEW INT, 
			@QTDE_ENTREGAR_OLD INT,
			@ENTREGA_NEW DATETIME,
			@ENTREGA_OLD DATETIME,
			@LIMITE_ENTREGA_NEW DATETIME,
			@LIMITE_ENTREGA_OLD DATETIME,
			@QTDE_CANCELADA_NEW INT,
			@QTDE_CANCELADA_OLD INT

	SELECT	@PEDIDO = I.PEDIDO, 
			@QTDE_ENTREGAR_NEW = I.QTDE_ENTREGAR, 
			@QTDE_ENTREGAR_OLD = D.QTDE_ENTREGAR,
			@ENTREGA_NEW = I.ENTREGA,
			@ENTREGA_OLD = D.ENTREGA,
			@LIMITE_ENTREGA_NEW = I.LIMITE_ENTREGA,
			@LIMITE_ENTREGA_OLD = D.LIMITE_ENTREGA,
			@QTDE_CANCELADA_NEW = I.QTDE_CANCELADA,
			@QTDE_CANCELADA_OLD =D.QTDE_CANCELADA

	FROM INSERTED i
	inner join deleted d 
		on d.PEDIDO = i.PEDIDO 
			and d.PRODUTO = i.PRODUTO 
			and D.COR_PRODUTO=I.COR_PRODUTO

	IF (@QTDE_ENTREGAR_NEW <> @QTDE_ENTREGAR_OLD) 
		OR (@ENTREGA_NEW <> @ENTREGA_OLD)
		OR (@LIMITE_ENTREGA_NEW <> @LIMITE_ENTREGA_OLD)
		OR (@QTDE_CANCELADA_NEW <> @QTDE_CANCELADA_OLD)

	BEGIN
		UPDATE COMPRAS SET ERP_UNOUS_DATA_ENVIO=NULL
		WHERE PEDIDO = @PEDIDO
	END
	
End


  

