USE [CAEDU]
GO
/****** Object:  StoredProcedure [dbo].[PRC_PDA_ATUALIZA_TABELAS_DISTRIBUICAO_WMS]    Script Date: 16/08/2021 17:13:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--SELECT DISTRIBUICAO, DATA 
--FROM CAEDU_RESERVA_AUTOMATICA_PACK_WMS 
--WHERE DISTRIBUICAO NOT IN (SELECT DISTRIBUICAO FROM PDA_WMS_TB_DISTRIBUICAO)
--GROUP BY DISTRIBUICAO, DATA 
--ORDER BY 2 DESC

--EXEC PRC_PDA_ATUALIZA_TABELAS_DISTRIBUICAO_WMS '00003413'
--GO

ALTER PROCEDURE [dbo].[PRC_PDA_ATUALIZA_TABELAS_DISTRIBUICAO_WMS]
@DISTRIBUICAO VARCHAR(8)
,@P_RETORNO VARCHAR(1000) OUTPUT AS

DECLARE @TABDISTRIB TABLE 
(ID INT IDENTITY(1,1), 
DISTRIBUICAO VARCHAR(8),
PRODUTO VARCHAR(12),
CODIGO_FILIAL VARCHAR(6),
LETRAPACK VARCHAR(1),
QUANTIDADE INT
)

SET @P_RETORNO = ''

DECLARE @I INT, @TOT INT
DECLARE 
	@PRODUTO VARCHAR(12),
	@CODIGO_FILIAL VARCHAR(6),
	@LETRAPACK VARCHAR(1),
	@QUANTIDADE INT

BEGIN

  BEGIN TRY

  		DELETE from pda_wms_tb_distribuicao where distribuicao = @DISTRIBUICAO
		DELETE from dbo.PDA_WMS_TB_CONTROLE_DISTRIBUICAO  where distribuicao = @DISTRIBUICAO
		DELETE from pda_wms_tb_distribuicao_coleta where distribuicao = @DISTRIBUICAO
		DELETE from dbo.PDA_WMS_TB_RESERVA_DISTRIBUICAO where distribuicao = @DISTRIBUICAO

		INSERT INTO @TABDISTRIB (DISTRIBUICAO, PRODUTO, CODIGO_FILIAL, LETRAPACK, QUANTIDADE)
		SELECT	distribuicao, produto, B.COD_FILIAL AS codigo_filial, 
				A.PACK AS LETRAPACK, SUM(qtde_pack) as quantidade
		FROM CAEDU_RESERVA_AUTOMATICA_PACK_WMS A
		inner join FILIAIS B ON B.FILIAL = A.FILIAL
		WHERE A.DISTRIBUICAO = @DISTRIBUICAO
		GROUP BY distribuicao, produto, B.COD_FILIAL, A.PACK  

		SELECT @I=MIN(ID) , @TOT=MAX(ID)
		FROM @TABDISTRIB

		WHILE @I <= @TOT
		BEGIN

			SELECT 	@PRODUTO = PRODUTO,
					@CODIGO_FILIAL = CODIGO_FILIAL,
					@LETRAPACK = LETRAPACK,
					@QUANTIDADE = QUANTIDADE
			FROM @TABDISTRIB
			WHERE ID = @I

			INSERT PDA_WMS_TB_DISTRIBUICAO (DISTRIBUICAO,PRODUTO, CODIGO_FILIAL, QUANTIDADE, DATA, PACK)
			values (@DISTRIBUICAO,@PRODUTO, @CODIGO_FILIAL,	@QUANTIDADE, convert(varchar(8), getdate(),112), @LETRAPACK)

			SET @I = @I + 1

		END

		DECLARE @TABDISTRIB2 TABLE 
		(ID INT IDENTITY(1,1), 
		DISTRIBUICAO VARCHAR(8),
		PRODUTO VARCHAR(12),
		LETRAPACK VARCHAR(1),
		QUANTIDADE INT
		)

		INSERT INTO @TABDISTRIB2 (DISTRIBUICAO, PRODUTO, LETRAPACK, QUANTIDADE)
		SELECT distribuicao, produto, A.PACK AS LETRAPACK, SUM(qtde_pack) as quantidade 
		FROM CAEDU_RESERVA_AUTOMATICA_PACK_WMS A
		WHERE A.DISTRIBUICAO = @DISTRIBUICAO
		GROUP BY distribuicao, produto, A.PACK 

		SELECT @I=MIN(ID) , @TOT=MAX(ID)
		FROM @TABDISTRIB2

		WHILE @I <= @TOT
		BEGIN

			SELECT 	@PRODUTO = PRODUTO,
					@LETRAPACK = LETRAPACK,
					@QUANTIDADE = QUANTIDADE
			FROM @TABDISTRIB2
			WHERE ID = @I

			exec PDA_WMS_SP_IN_RESERVA_DISTRIBUICAO @PRODUTO, @QUANTIDADE, @DISTRIBUICAO, @LETRAPACK

			SET @I = @I + 1

		END

		SET @P_RETORNO = 'OK'

  END TRY
  BEGIN CATCH
     IF(ISNULL(@P_RETORNO, '') = '')
	    BEGIN
	       SET @P_RETORNO = 'ERRO NA EXECUCAO DO PROCESSO DE TRANSFERENCIA PARA O WMS - ' +  CAST(ERROR_NUMBER() AS VARCHAR) +' - '+   CAST(ERROR_MESSAGE() AS VARCHAR);
	    END	  
  END CATCH

END
