USE [CAEDU]
GO
/****** Object:  StoredProcedure [dbo].[LX_CAEDU_EXCLUI_DISTRIBUICAO_WMS]    Script Date: 6/30/2025 1:56:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[LX_CAEDU_EXCLUI_DISTRIBUICAO_WMS]
	@DISTRIBUICAO VARCHAR(8)
AS
BEGIN
	
	
	DECLARE @ERROFAT BIT, @IGNORA_INTEGRACAO VARCHAR(3)
	
	select @IGNORA_INTEGRACAO=rtrim(ltrim(VALOR_ATUAL)) 
		from parametros where parametro = 'PALMA_IGNORA_INTEGR_PDA'

	SET @ERROFAT = 0
	DECLARE @MSG VARCHAR(1000)
	-- Executando a tarefa em transação

	IF NOT EXISTS(SELECT 1 from CAEDU_RESERVA_AUTOMATICA_PACK_WMS 
								where DISTRIBUICAO = @DISTRIBUICAO)
	BEGIN
		SET @ERROFAT = 1
		SET @MSG = 'A DISTRIBUICAO: '+@DISTRIBUICAO+', NAO EXISTE!!!'
		GOTO ERROFAT
	END
	
	IF EXISTS(SELECT 1
				FROM faturamento_prod
				WHERE caixa IN (SELECT caixa from CAEDU_RESERVA_AUTOMATICA_PACK_WMS 
								where DISTRIBUICAO = @DISTRIBUICAO))
	BEGIN
		SET @ERROFAT = 1
		SET @MSG = 'EXISTEM CAIXAS FATURADAS PARA A DISTRIBUICAO: '+@DISTRIBUICAO+', EXCLUSAO NAO PERMITIDA!!!'
		GOTO ERROFAT
	END

	/*se a distribuicao ainda nao foi integrada na PDA, nao permite excluir*/
	IF @IGNORA_INTEGRACAO='.F.'
	BEGIN
		IF not EXISTS(SELECT 1 	FROM DBO.CGP_PDA_WMS_STATUS_DISTRIBUICAO 
					where DISTRIBUICAO = @DISTRIBUICAO)
		BEGIN
			SET @ERROFAT = 1
			SET @MSG = 'Erro: Nao foi possivel a exclusao da distribuicao '+@DISTRIBUICAO+', pois a distribuicao nao foi integrada na PDA' 
			GOTO ERROFAT
		END
	END
	/*se STATUS da distribuicao for diferente de 1, nao permite excluir*/
	IF EXISTS(SELECT 1 	FROM DBO.CGP_PDA_WMS_STATUS_DISTRIBUICAO 
				where DISTRIBUICAO = @DISTRIBUICAO and ISNULL(STATUS_PDA,1)<>1)
	BEGIN
		SET @ERROFAT = 1
		SET @MSG = 'Erro: STATUS PDA nao permitido para excluir a distribuicao '+@DISTRIBUICAO
		GOTO ERROFAT
	END

	/*BEGIN TRANSACTION -- TRANSAÇÃO ABERTA NO LINX*/

	BEGIN TRY
		
		-- OPERAÇÃO MUITO LENTA --> ABAIXO MUDA PEDIDO PARA REPROVADO
		/*DELETE VENDAS 
		WHERE PEDIDO IN (SELECT VENDA 
							FROM CAEDU_RESERVA_AUTOMATICA_PACK_WMS 
							WHERE DISTRIBUICAO = @DISTRIBUICAO)*/ 


		DELETE FROM FATURAMENTO_CAIXAS
		WHERE CAIXA IN (SELECT CAIXA 
							FROM CAEDU_RESERVA_AUTOMATICA_PACK_WMS 
							WHERE DISTRIBUICAO = @DISTRIBUICAO) 

		DELETE FROM CAEDU_RESERVA_AUTOMATICA_WMS 
		WHERE DISTRIBUICAO = @DISTRIBUICAO 

		DELETE
		FROM VENDAS_PROD_EMBALADO
		WHERE CAIXA IN (
		SELECT CAIXA FROM 
			CAEDU_RESERVA_AUTOMATICA_PACK_WMS 
			WHERE DISTRIBUICAO = @DISTRIBUICAO) 

		/*Guarda os dados da distribuição excluida*/
		exec CGP_GUARDA_LOG_DISTRIBUICAO_EXCLUIDA 3,@DISTRIBUICAO

		/*Atualiza os pedidos de Venda para status REPROVADO e coloca o motivo na OBS_TRANSPORTE*/
		update v set APROVACAO='R',OBS_TRANSPORTE='DISTRIBUICAO CANCELADA PERTENCE A DISTRIBUICAO WMS: '+@DISTRIBUICAO
		from CAEDU_RESERVA_AUTOMATICA_PACK_WMS a
		inner join vendas v on v.PEDIDO=a.venda
		where a.DISTRIBUICAO = @DISTRIBUICAO

		DELETE CAEDU_RESERVA_AUTOMATICA_PACK_WMS 
		WHERE DISTRIBUICAO = @DISTRIBUICAO

		/*atualiza tabela de status da PDA*/
		IF EXISTS(SELECT 1 FROM DBO.CGP_PDA_WMS_STATUS_DISTRIBUICAO
				WHERE DISTRIBUICAO=@DISTRIBUICAO)
		BEGIN
			update DBO.CGP_PDA_WMS_STATUS_DISTRIBUICAO 
			set STATUS_LINX=13, DATA_STATUS_LINX=GETDATE(), DATA_PROCESSAMENTO=null
			where DISTRIBUICAO=@DISTRIBUICAO
		END
		ELSE
		BEGIN
			INSERT INTO DBO.CGP_PDA_WMS_STATUS_DISTRIBUICAO 
			(ORIGEM,DISTRIBUICAO,STATUS_LINX,DATA_STATUS_LINX,DATA_PROCESSAMENTO)
			VALUES
			(3,@DISTRIBUICAO,13,GETDATE(),NULL)
		END
		/*
		exclusao da distribuicao nas tabelas da PDA 
		

		DELETE 
		FROM PDA_WMS_TB_DISTRIBUICAO 
		WHERE DISTRIBUICAO = @DISTRIBUICAO


		DELETE 
		FROM PDA_WMS_TB_RESERVA_DISTRIBUICAO 
		WHERE DISTRIBUICAO = @DISTRIBUICAO


		DELETE 
		FROM PDA_WMS_STATUS_DISTRIBUICAO 
		WHERE DISTRIBUICAO = @DISTRIBUICAO
		*/

	END TRY

	BEGIN CATCH

		 SET @MSG = 'ERRO NA TRANSAÇÃO: '+ERROR_MESSAGE()
		 RAISERROR(@MSG, 16, 1)
		 /*ROLLBACK TRAN -- TRANSAÇÃO ABERTA NO LINX*/

	END CATCH


	ERROFAT:
	IF @ERROFAT = 1
	BEGIN
		RAISERROR(@MSG, 16, 1)
	END

END

