USE [CAEDU]
GO
/****** Object:  StoredProcedure [dbo].[LX_CAEDU_EXCLUI_DISTRIBUICAO_PEDIDO]    Script Date: 6/27/2025 3:22:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[LX_CAEDU_EXCLUI_DISTRIBUICAO_PEDIDO] 
	@PEDIDO VARCHAR(8)
AS

--select * 
--from DBO.CGP_PDA_WMS_STATUS_DISTRIBUICAO ORDER BY DATA_RECEBIMENTO DESC

DECLARE @ROMANEIO_PRODUTO CHAR(8) = ''
DECLARE @IGNORA_INTEGRACAO VARCHAR(3)

select @IGNORA_INTEGRACAO=rtrim(ltrim(VALOR_ATUAL)) 
	from parametros where parametro = 'PALMA_IGNORA_INTEGR_PDA'

/*se a distribuicao ainda nao foi integrada na PDA, nao permite excluir*/
IF @IGNORA_INTEGRACAO='.F.'
BEGIN
	IF not EXISTS(SELECT 1 	FROM DBO.CGP_PDA_WMS_STATUS_DISTRIBUICAO 
				where DISTRIBUICAO = @PEDIDO)
	BEGIN
		RAISERROR ('Erro: Nao foi possivel a exclusao da distribuicao, pois a distribuicao nao foi integrada na PDA',16, 1 ); 
		RETURN -1
	END
END
/*se STATUS da distribuicao for diferente de 1, nao permite excluir*/
IF EXISTS(SELECT 1 	FROM DBO.CGP_PDA_WMS_STATUS_DISTRIBUICAO 
			where DISTRIBUICAO = @PEDIDO and ISNULL(STATUS_PDA,1)<>1)
BEGIN
	RAISERROR ('Erro: STATUS PDA nao permitido para excluir a distribuicao',16, 1 ); 
	RETURN -1
END

/*se a distribuicao nao existe aborta o processo*/
IF not EXISTS(SELECT 1 	FROM caedu_reserva_automatica 
				where pedido = @PEDIDO)
BEGIN
	RAISERROR ('Erro: Distribuicao nao existe',16, 1 ); 
	RETURN -1
END

/* Verifica se o pedido já foi faturado (distribuido) */
IF EXISTS(SELECT 1 	FROM faturamento_prod WHERE caixa IN (SELECT caixa from caedu_reserva_automatica
			where pedido = @PEDIDO))
BEGIN
	RAISERROR ('Erro: pedido ja faturado. Nao foi possivel a exclusao da distribuicao',16, 1 ); 
	RETURN -1
END

/* PEGA O CODIGO DO ROMANEIO_PRODUTO SE HOUVER */
SELECT DISTINCT @ROMANEIO_PRODUTO = ISNULL(ROMANEIO_PRODUTO,'') 
FROM CAEDU_RESERVA_AUTOMATICA 
WHERE PEDIDO = @PEDIDO

BEGIN TRANSACTION EXCLUI_DISTRIBUICAO

	/* EXCLUI VENDAS_PROD_EMBALADO */
	DELETE VENDAS_PROD_EMBALADO WHERE PEDIDO IN
	(select venda from caedu_reserva_automatica where pedido = @PEDIDO)
	IF @@ERROR <> 0   
	BEGIN  
		ROLLBACK TRANSACTION EXCLUI_DISTRIBUICAO
		RAISERROR ('Erro ao excluir VENDAS_PROD_EMBALADO',16, 1 ); 
		RETURN -1;  
	END  

	/* EXCLUI VENDAS_PRODUTO */
	DELETE VENDAS_PRODUTO WHERE PEDIDO IN
	(select venda from caedu_reserva_automatica where pedido = @PEDIDO)
	IF @@ERROR <> 0   
	BEGIN  
		ROLLBACK TRANSACTION EXCLUI_DISTRIBUICAO
		RAISERROR ('Erro ao excluir VENDAS_PRODUTO',16, 1 ); 
		RETURN -1;  
	END

	/* EXCLUI FATURAMENTO_CAIXAS */
	DELETE FATURAMENTO_CAIXAS WHERE CAIXA IN
	(select CAIXA from caedu_reserva_automatica where pedido = @PEDIDO)
	IF @@ERROR <> 0   
	BEGIN  
		ROLLBACK TRANSACTION EXCLUI_DISTRIBUICAO
		RAISERROR ('Erro ao excluir FATURAMENTO_CAIXAS',16, 1 ); 
		RETURN -1;  
	END  
	
	declare @origempedido int
	select @origempedido = 
			case when FILIAL_A_ENTREGAR IN 
						('CD BARRA VELHA',
						'CD NAVEGANTES',
						'NAVEGANTES CQ',
						'VENDA ATACADO BARRA VELHA',
						'VENDA ATACADO SC') THEN 2
			ELSE 1
			END
	FROM COMPRAS WHERE PEDIDO = @PEDIDO

	/*Guarda os dados da distribuição excluida*/
	exec CGP_GUARDA_LOG_DISTRIBUICAO_EXCLUIDA @origempedido,@PEDIDO

	/*Atualiza os pedidos de Venda para status REPROVADO e coloca o motivo na OBS_TRANSPORTE*/
	update v set APROVACAO='R',OBS_TRANSPORTE='DISTRIBUICAO EXCLUIDA PERTENCE AO PEDIDO '+@PEDIDO
	from caedu_reserva_automatica a
	inner join vendas v on v.PEDIDO=a.venda
	where a.pedido = @pedido

	/*Exclui a distribuicao*/
	DELETE caedu_reserva_automatica where pedido = @PEDIDO
	IF @@ERROR <> 0   
	BEGIN  
		ROLLBACK TRANSACTION EXCLUI_DISTRIBUICAO
		RAISERROR ('Erro ao excluir CAEDU_RESERVA_AUTOMATICA',16, 1 ); 
		RETURN -1;  
	END  

	/*atualiza tabela de status da PDA*/
	IF EXISTS(SELECT 1 FROM DBO.CGP_PDA_WMS_STATUS_DISTRIBUICAO
				WHERE DISTRIBUICAO=@PEDIDO)
	BEGIN
		update DBO.CGP_PDA_WMS_STATUS_DISTRIBUICAO 
		set STATUS_LINX=13, DATA_STATUS_LINX=GETDATE(), DATA_PROCESSAMENTO=null
		where DISTRIBUICAO=@PEDIDO
	END
	ELSE
	BEGIN
		INSERT INTO DBO.CGP_PDA_WMS_STATUS_DISTRIBUICAO 
		(ORIGEM,DISTRIBUICAO,STATUS_LINX,DATA_STATUS_LINX,DATA_PROCESSAMENTO)
		VALUES
		(@origempedido,@PEDIDO,13,GETDATE(),NULL)
	END

	--IF @ROMANEIO_PRODUTO <> ''
	--BEGIN
	--	DELETE FROM ESTOQUE_PROD_SAI 
	--	WHERE ROMANEIO_PRODUTO = @ROMANEIO_PRODUTO  
	--		AND filial in ('SP - ATACADO','NOVO SP - ATACADO 2') 
	--		AND ROMANEIO_DESTINO IS NOT NULL

		--IF @@ERROR <> 0   
		--BEGIN  
		--	ROLLBACK TRANSACTION EXCLUI_DISTRIBUICAO
		--	DECLARE @msgerro varchar(1000)
		--	set @msgerro = 'Erro ao estornar estoque para ESTOQUE_PROD_SAI (romaneio_produto ='+@ROMANEIO_PRODUTO+')'
		--	RAISERROR (@msgerro,16, 1 ); 
		--	RETURN -1;  
		--END  
	--END

COMMIT TRANSACTION EXCLUI_DISTRIBUICAO
RETURN 0


