USE [CAEDU]
GO
/****** Object:  StoredProcedure [dbo].[CGP_PRC_NF_SAIDA]    Script Date: 26/07/2019 14:46:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO






ALTER PROCEDURE [dbo].[CGP_PRC_NF_SAIDA]  AS    
BEGIN     
 begin transaction    
      
  /********************************************************************************************************/    
  /*                                  DECLARACAO DO SISTEMA                                               */    
  /*                                                                                                      */    
  /*       @V_NO_SISTEMA           = 'NOTA_FISCAL'                                                        */    
  /*       @V_TP_TRANSACAO         = 'NF_SAIDA'                                                           */    
  /*       @V_DS_SISTEMA           = 'LINX'                                                               */    
  /*       @V_DS_TABELA_LIGACAO    = 'CGP_LT_NF_SAIDA'                                                    */    
  /*                                                                                                      */    
  /********************************************************************************************************/    
      
  declare @V_ID_SISTEMA        INTEGER ;      
    
    
  /* VARIAVEIS INICIAIS */    
  DECLARE @vCODIGO_FILIAL      VARCHAR(6);    
  DECLARE @vCOD_LOJA           INTEGER;    
  DECLARE @vIDLOTE             INTEGER = 0;    
  DECLARE @vLIMITEDEREGISTROS  INTEGER = 0;    
  DECLARE @vQTDE_PROCESSAMENTO INTEGER;    
  DECLARE @vQTDEDIASEXPURGO    INTEGER;  
  DECLARE @vDATAINICIAL        DATETIME;    
  DECLARE @DT_INICIO_PROCESSO  DATETIME;   
  DECLARE @vDATAFINAL          DATETIME = GETDATE();    
  DECLARE @DATA_PARA_TRANSFERENCIA DATETIME;
  DECLARE @NovoId			   INT;
  
    select @V_ID_SISTEMA = ID_SISTEMA
	FROM CGP_LT_SISTEMA   (NOLOCK)
	WHERE NO_SISTEMA           = 'NOTA_FISCAL'                                                       
	  AND TP_TRANSACAO         = 'NF_SAIDA'                                                        
	  AND DS_SISTEMA           = 'LINX'                                                              
	  AND DS_DESTINO           = 'SYNCHRO'                                                              
	  AND DS_TABELA_LIGACAO    = 'CGP_LT_NF_SAIDA'


  /* CONFIGURACAO DE VARIAVEIS INICIAIS */    
  SELECT     
   @vLIMITEDEREGISTROS = QTD_REGISTROS_LOTE,    
   @vDATAINICIAL       = DT_ULTIMA_EXECUCAO ,   
   @vQTDEDIASEXPURGO   = QTD_DIAS_EXPURGO   ,
   @DT_INICIO_PROCESSO = DT_INICIO_PROCESSO
  FROM CGP_LT_SISTEMA   (NOLOCK)  
  WHERE ID_SISTEMA = @V_ID_SISTEMA    
    
  /* TABELAS TEMPORARIAS*/    
 --DROP TABLE #TB_FILIAIS  
  CREATE TABLE #TB_FILIAIS(    
   CODIGO_FILIAL  VARCHAR(6),    
   COD_LOJA   INTEGER    
  )    
  --DROP TABLE #TB_NF_SAIDA  
  CREATE TABLE #TB_NF_SAIDA(    
   NF_SAIDA CHAR(15), 
   SERIE_NF VARCHAR(6),   
   CHAVE_NF VARCHAR(44)  , 
   DATA_PARA_TRANSFERENCIA DATETIME
  )    
  --DROP TABLE #TB_NF_SAIDA_EM_PROCESSAMENTO  
  CREATE TABLE #TB_NF_SAIDA_EM_PROCESSAMENTO(    
    NF_SAIDA_PROCESSAMENTO CHAR(15), 
   SERIE_NF_PROCESSAMENTO VARCHAR(6),  
   CHAVE_NF_PROCESSAMENTO VARCHAR(44)  ,
   DATA_PARA_TRANSFERENCIA DATETIME
  )    
    
    
  INSERT INTO #TB_FILIAIS   
  SELECT     
   b.CODIGO_FILIAL,    
   substring(RTRIM(LTRIM(A.CGC_CPF)), 9,4) as COD_LOJA    
  FROM FILIAIS A     
  inner join info_lojas b on b.CODIGO_FILIAL = a.COD_FILIAL and b.ATIVO = '1'    
  INNER JOIN CADASTRO_CLI_FOR C ON C.COD_CLIFOR = A.COD_FILIAL     
  WHERE 1 = 1    
  and a.empresa = 1    
  and a.matriz = 'MATRIZ'    
  and b.CODIGO_FILIAL = '000008'    
  ORDER BY 1;    
    
  WHILE (SELECT COUNT(1) FROM #TB_FILIAIS  ) > 0 BEGIN    
    
   SELECT TOP(1) @vCODIGO_FILIAL = CODIGO_FILIAL,    
        @vCOD_LOJA      = COD_LOJA    
   FROM #TB_FILIAIS    
    
	IF (ISNULL(@DT_INICIO_PROCESSO, CAST('2018-03-01' AS DATE)) > @vDATAFINAL - @vQTDEDIASEXPURGO ) 
		SET @vDATAINICIAL = @DT_INICIO_PROCESSO
	ELSE 
		SET @vDATAINICIAL = @vDATAFINAL - @vQTDEDIASEXPURGO
   
    
   /* insere ids dos produtos a serem processados*/    
   INSERT INTO #TB_NF_SAIDA    
   select distinct nf_SAIDA, SERIE_NF, chave_nfe   , CAST(A.DATA_PARA_TRANSFERENCIA AS DATE) AS DATA_PARA_TRANSFERENCIA
   from CGP_VW_NF_SAIDA A
   WHERE 1 = 1     
   AND  NOT EXISTS ( SELECT 1 FROM CGP_LT_NF_SAIDA NF WHERE A.NF_SAIDA = NF.NUMERO_NF AND A.SERIE_NF = NF.SERIE_NF AND A.CHAVE_NFE = NF.CHAVE_NF )  
   AND ISNULL(A.DATA_PARA_TRANSFERENCIA, @vDATAFINAL) BETWEEN @vDATAINICIAL AND @vDATAFINAL
   GROUP BY A.NF_SAIDA, A.SERIE_NF , A.CHAVE_NFE, CAST(A.DATA_PARA_TRANSFERENCIA AS DATE) ;     
    
   /* VALIDA SE EXISTEM REGISTROS A SEREM PROCESSADOS */     
   IF (SELECT COUNT(1) FROM #TB_NF_SAIDA ) > 0 BEGIN    
      
  WHILE (SELECT COUNT(1) FROM #TB_NF_SAIDA  ) > 0 BEGIN    
       
	 SELECT TOP 1 @DATA_PARA_TRANSFERENCIA = DATA_PARA_TRANSFERENCIA
	 FROM #TB_NF_SAIDA 
	 GROUP BY DATA_PARA_TRANSFERENCIA 

     /* SELECIONA OS PRODUTOS A SEREM PROCESSADOS NO LOTE ATUAL */    
     INSERT INTO #TB_NF_SAIDA_EM_PROCESSAMENTO    
     SELECT TOP (@vLIMITEDEREGISTROS) NF_SAIDA, SERIE_NF, CHAVE_NF,DATA_PARA_TRANSFERENCIA  FROM #TB_NF_SAIDA  WHERE DATA_PARA_TRANSFERENCIA = @DATA_PARA_TRANSFERENCIA
    
     SELECT     
      @vQTDE_PROCESSAMENTO = COUNT(1)    
     FROM #TB_NF_SAIDA_EM_PROCESSAMENTO    
    
     /* CRIA LOTE PARA PROCESSAMENTO */    
     INSERT INTO CGP_LT_LOTE (    
      ID_SISTEMA,    
      ID_LOJA,     
      DT_CRIACAO_LOTE,     
      DT_MOVIMENTO,     
      QTD_REGS_LOTE,    
      DS_TIPO)    
     VALUES (    
      @V_ID_SISTEMA,    
      @vCOD_LOJA,     
      GETDATE(),     
      @DATA_PARA_TRANSFERENCIA,     
      @vQTDE_PROCESSAMENTO,    
      'I')    
     
	 SELECT @NovoId = @@IDENTITY

     INSERT INTO CGP_LT_NF_SAIDA (ID_LOTE, CODIGO_FILIAL, NUMERO_NF, SERIE_NF, CHAVE_NF)      
     SELECT @NovoId, @vCODIGO_FILIAL, NF_SAIDA_PROCESSAMENTO, SERIE_NF_PROCESSAMENTO, CHAVE_NF_PROCESSAMENTO FROM  #TB_NF_SAIDA_EM_PROCESSAMENTO    


	/* Atualiza a ultima data de execucao na tabela SAIDA  */

	/*
    UPDATE FATURAMENTO SET ERP_EBS_SYNCHRO_DATA_ENVIO = GETDATE()
		FROM CGP_LT_NF_SAIDA LTSAI
		INNER JOIN FATURAMENTO FAT ON LTSAI.CHAVE_NF = FAT.CHAVE_NFE
					 AND LTSAI.SERIE_NF = FAT.SERIE_NF
					 AND LTSAI.NUMERO_NF = FAT.NF_SAIDA
	WHERE LTSAI.ID_LOTE = @NovoId
	*/

	--INICIO: CUSTOMIZAÇÃO PAULO DEVIDE 26-07-2019 PARA NÃO DAR ERRO NA TRIGGER
	DECLARE @TEMP_CGP_LT_NF_SAIDA TABLE (NUMROW INT IDENTITY(1,1), CHAVE_NF  VARCHAR(44), NUMERO_NF VARCHAR(15), SERIE_NF  VARCHAR(6) )
	
	INSERT INTO @TEMP_CGP_LT_NF_SAIDA (CHAVE_NF, NUMERO_NF, SERIE_NF)
	SELECT	CHAVE_NF, 
			NUMERO_NF, 
			SERIE_NF
	FROM CGP_LT_NF_SAIDA LTSAI
	WHERE LTSAI.ID_LOTE = @NovoId

	DECLARE @IROW INT
	DECLARE @TOTROWS INT

	DECLARE	@CHAVE_NF  VARCHAR(44), 
			@NUMERO_NF VARCHAR(15), 
			@SERIE_NF  VARCHAR(6)
	
	SELECT	@IROW = MIN(NUMROW), 
			@TOTROWS=MAX(NUMROW)
	FROM @TEMP_CGP_LT_NF_SAIDA

	WHILE @IROW <= @TOTROWS
	BEGIN
		-- PEGA OS DADOS PARA ENCONTRAR A RESPECTIVA NOTA FISCAL
		-- PARA DAR UPDATE NA TABELA FATURAMENTO
		SELECT 	@CHAVE_NF  = CHAVE_NF, 
				@NUMERO_NF = NUMERO_NF , 
				@SERIE_NF  = SERIE_NF
		FROM @TEMP_CGP_LT_NF_SAIDA
		WHERE NUMROW = @IROW
	
		UPDATE FATURAMENTO 
		SET ERP_EBS_SYNCHRO_DATA_ENVIO = GETDATE()
		WHERE	CHAVE_NFE = @CHAVE_NF AND 
				NF_SAIDA = @NUMERO_NF AND
				SERIE_NF = @SERIE_NF
		
		-- INCREMENTA A NUMERACAO DE LINHA
		SET @IROW = @IROW + 1
	END
	--FIM...: CUSTOMIZAÇÃO PAULO DEVIDE 26-07-2019 PARA NÃO DAR ERRO NA TRIGGER

	/* Fim update */
  
  
     DELETE FROM #TB_NF_SAIDA   
     WHERE EXISTS (SELECT 1 FROM #TB_NF_SAIDA_EM_PROCESSAMENTO NP   
        WHERE  NF_SAIDA = NP.NF_SAIDA_PROCESSAMENTO  
        AND SERIE_NF = NP.SERIE_NF_PROCESSAMENTO  
        AND  CHAVE_NF = NP.CHAVE_NF_PROCESSAMENTO )  
    
    
     DELETE FROM #TB_NF_SAIDA_EM_PROCESSAMENTO;    
    
  END -- END WHILE NF_SAIDA  
    
   END -- END IF    
    
       
   -- APAGA DA TABELA TEMPORARIA DE FILIAIS     
   DELETE FROM #TB_FILIAIS  WHERE CODIGO_FILIAL = @vCODIGO_FILIAL;    
    
    
  END -- END WHILE FILIAIS    
    
      
  /* Atualiza a ultina data de execucao  */  
  UPDATE CGP_LT_SISTEMA     
  SET DT_ULTIMA_EXECUCAO = @vDATAFINAL    
  WHERE ID_SISTEMA = @V_ID_SISTEMA     
    
 COMMIT transaction    
END;    





