USE [CAEDU]
GO
/****** Object:  StoredProcedure [dbo].[PDA_WMS_SP_IN_COLETA_RECEBIMENTO_IMPORTADO]    Script Date: 25/10/2018 15:33:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[PDA_WMS_SP_IN_COLETA_RECEBIMENTO_IMPORTADO]
@NF VARCHAR(15),
@SERIE VARCHAR(10),
@PRODUTO VARCHAR(12),
@PACK VARCHAR(10),
@QUANTIDADE_PACK INT,
@QUANTIDADE INT,
@USUARIO INT,
@QUANTIDADE_VOLUMES INT=0
AS
BEGIN

INSERT INTO PDA_WMS_TB_RECEBIMENTO_IMPORTADO_COLETA
(
NF,
SERIE,
PRODUTO,
PACK,
QUANTIDADE_PACK ,
QUANTIDADE,
USUARIO 
)
VALUES
(
@NF,
@SERIE,
@PRODUTO,
@PACK,
@QUANTIDADE_PACK ,
@QUANTIDADE,
@USUARIO 
)

END
