USE [CAEDU_UNDER]
GO
/****** Object:  StoredProcedure [dbo].[CAE_LX_TXT_ETIQUETA_FORNECEDOR]    Script Date: 25/09/2023 10:11:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/*EXEC CGP_LX_TXT_ETIQUETA_PEDIDO_PDA '401467' */

CREATE OR ALTER PROCEDURE [dbo].[CGP_LX_TXT_ETIQUETA_PEDIDO_PDA](
@PEDIDO VARCHAR(12),
@TABELA CHAR(2)='01'
)
AS

SET NOCOUNT ON
DECLARE @ETIQUETA_DUPLA BIT 
select	@ETIQUETA_DUPLA = CASE WHEN VALOR_ATUAL = '.T.' THEN 1 ELSE 0 END 
from	CAEDU.dbo.parametros 
where parametro like '%P_ETIQUETA_DUPLA%' 

DECLARE @PRODUTO VARCHAR(12)
DECLARE 
	@DESC_PRODUTO As varchar(40),
	@GRUPO_PRODUTO As varchar(25),
	@SUBGRUPO_PRODUTO As varchar(25),
	@COLECAO As char(6),
	@GRADE As varchar(25),
	@LINHA As varchar(25),
	@GRIFFE As varchar(25),
	@INATIVO As bit,
	@ERP_AREA_JEANS As bit,
	@ERP_QTD_PACK As int ,
	@ERP_LICENCIADO As bit,
	@ERP_DESC_LICENCIADO As varchar(50),
	@ERP_TEMA_LICENCIADO As varchar(50),
	@CODIGO_BARRA VARCHAR(20) 


DECLARE @TXT_SAIDA TABLE (REGISTRO VARCHAR(400) NULL, ID_PEDIDO VARCHAR(25))

DECLARE @TABPEDIDOPDA TABLE
(ROWNUM INT IDENTITY (1,1) NOT NULL,
ID_PEDIDO varchar(25),
DESC_COLECAO varchar(40),
FORNECEDOR varchar(25),
PRODUTO varchar(25),
PRECO1 numeric(14,2),
QTDE_ENTREGAR int,
GRADE varchar(25),
COR_PRODUTO char(10),
DESC_COR_PRODUTO varchar(40),
TAMANHO varchar(50),
DESC_PRODUTO varchar(40),
CODIGO_BARRA varchar(25),
LINHA varchar(25),
TIPO_PRODUTO varchar(25),
ENTREGA varchar(10),
DESCRICAO_MSG varchar(50),
GRUPO_PRODUTO varchar(25),
ERP_AREA_JEANS bit,
PACKS varchar(1),
QTDE_TOTAL int,
ZERAR_DATA varchar(3),
GRIFFE varchar(25),
SUBGRUPO_PRODUTO varchar(25))

INSERT INTO @TABPEDIDOPDA
EXEC CGP_LX_PEDIDO_PDA_ECOMM_ETIQ @PEDIDO


DECLARE @I INT, @TOTREG INT
SET @I=1 
SELECT @TOTREG = MAX(ROWNUM) FROM @TABPEDIDOPDA

DECLARE @ZERAR_DATA VARCHAR(70)
DECLARE @TIPO_PRODUTO VARCHAR(25)
DECLARE @DESCRICAO_MSG varchar(30)
DECLARE @ERP_TAG_ETIQUETA varchar(25) = ''
DECLARE @DESC_LINHA varchar(25) = ''
DECLARE @REGISTRO VARCHAR(400) = ''
DECLARE @VALOR1 VARCHAR(20)

WHILE @I <= @TOTREG
BEGIN

	SELECT	@ZERAR_DATA = 'SIM', 
			@TIPO_PRODUTO = ISNULL(TIPO_PRODUTO,''),
			@LINHA = LINHA,
			@PRODUTO = PRODUTO,
			@CODIGO_BARRA = CODIGO_BARRA,
			@GRIFFE=GRIFFE
	FROM @TABPEDIDOPDA WHERE ROWNUM = @I


	IF RIGHT(LTRIM(RTRIM(@CODIGO_BARRA)),1)='D' AND @GRIFFE='CALCADOS'
	BEGIN
		UPDATE @TABPEDIDOPDA SET PRECO1 = 0 WHERE ROWNUM=@I /* ZERAR O PRECO DO PE DIREITO */
	END

	IF RIGHT(LTRIM(RTRIM(@CODIGO_BARRA)),1)<>'D' AND @GRIFFE='CALCADOS'
	BEGIN
		UPDATE @TABPEDIDOPDA SET CODIGO_BARRA = RTRIM(LTRIM(CODIGO_BARRA))+'E' 
		WHERE ROWNUM=@I /* COLOCA A LETRA "E" NO PÉ ESQUERDO DO SKU SEM LETRA */
	END

	SELECT @DESCRICAO_MSG = ISNULL(CAE_MENSAGEM_ETIQUETA.DESCRI_MSG,'')
	FROM CAEDU.dbo.PROP_PRODUTOS 
	INNER JOIN CAEDU.dbo.CAE_MENSAGEM_ETIQUETA ON CAEDU.dbo.CAE_MENSAGEM_ETIQUETA.CODIGO_MSG=CAEDU.dbo.PROP_PRODUTOS.VALOR_PROPRIEDADE
	WHERE 	CAEDU.dbo.PROP_PRODUTOS.PRODUTO=@PRODUTO AND CAEDU.dbo.PROP_PRODUTOS.PROPRIEDADE='00039'

	select	@ERP_TAG_ETIQUETA = MAX(ISNULL(A.ERP_TAG_ETIQUETA,'NULO'))
	from	CAEDU.dbo.CAE_PRODUTOS_FATOR_P A
	inner join (select PRODUTO,GRIFFE,LINHA,GRUPO_PRODUTO,SUBGRUPO_PRODUTO 
				FROM CAEDU.dbo.PRODUTOS WHERE PRODUTO = @PRODUTO) B 
					ON B.GRIFFE=A.GRIFFE 
						AND B.GRUPO_PRODUTO = A.GRUPO_PRODUTO 
						AND B.LINHA=A.LINHA 
						AND B.SUBGRUPO_PRODUTO=A.SUBGRUPO_PRODUTO

	IF @TIPO_PRODUTO = ''
	BEGIN
		RAISERROR('Impossível gerar o arquivo, a Propriedade Tipo de Produto do Pedido de Compras não foi informada!',16,1)
		RETURN -1
	END

	IF @DESCRICAO_MSG = ''
	BEGIN
		RAISERROR('Impossível gerar o arquivo, a Propriedade MENSAGEM_ETIQ_PEDIDO, do cadastro de produto não foi informada!',16,1)
		RETURN -1
	END

	IF ISNULL(@ERP_AREA_JEANS,0)=1
	BEGIN
		SET @DESC_LINHA = 'AREA JEANS'
	END
	ELSE
	BEGIN
		IF @LINHA IN ('JEANS','PROMOCIONAL')
		BEGIN
			SET @DESC_LINHA = LTRIM(RTRIM(@ERP_TAG_ETIQUETA))
		END
		ELSE -- TODOS OS OUTROS 
		BEGIN
			SET @DESC_LINHA = LTRIM(RTRIM(@LINHA))
		END
	END

	IF @ZERAR_DATA = 'SIM'
	BEGIN

		UPDATE @TABPEDIDOPDA
		SET ENTREGA = '00/00/0000'
		WHERE ROWNUM = @I
	END

	IF @GRIFFE <> 'CALCADOS' 
	BEGIN
		SELECT @REGISTRO=	LTRIM(RTRIM(DESC_COLECAO))+','+
							LTRIM(RTRIM(FORNECEDOR))+','+
							LTRIM(RTRIM(@PEDIDO))+','+
							LTRIM(RTRIM(@PRODUTO))+','+
							CONVERT(VARCHAR,PRECO1)+','+
							CONVERT(VARCHAR,CONVERT(INTEGER,QTDE_ENTREGAR))+','+
							LTRIM(RTRIM(GRADE))+','+
							LTRIM(RTRIM(DESC_COR_PRODUTO))+','+
							LTRIM(RTRIM(TAMANHO))+','+
							LTRIM(RTRIM(DESC_PRODUTO))+','+
							LTRIM(RTRIM(CODIGO_BARRA))+','+
							LTRIM(RTRIM(@DESC_LINHA))+','+
							LTRIM(RTRIM(TIPO_PRODUTO))+','+
							LTRIM(RTRIM(ENTREGA))+','+
							LTRIM(RTRIM(DESCRICAO_MSG))+','+
							@DESC_LINHA+','+
							LTRIM(RTRIM(PACKS))+','+
							CONVERT(VARCHAR,QTDE_TOTAL)
				FROM @TABPEDIDOPDA WHERE ROWNUM = @I
	END
	ELSE
	BEGIN
		 
		SELECT @REGISTRO=	LTRIM(RTRIM(DESC_COLECAO))+','+
							LTRIM(RTRIM(FORNECEDOR))+','+
							LTRIM(RTRIM(@PEDIDO))+','+
							LTRIM(RTRIM(@PRODUTO))+','+
							CONVERT(VARCHAR,CASE WHEN PRECO1 = 0 THEN 0 ELSE PRECO1 END)+','+
							CONVERT(VARCHAR,CONVERT(INTEGER,QTDE_ENTREGAR))+','+
							LTRIM(RTRIM(GRADE))+','+
							LTRIM(RTRIM(DESC_COR_PRODUTO))+','+
							LTRIM(RTRIM(TAMANHO))+','+
							LTRIM(RTRIM(DESC_PRODUTO))+','+
							LTRIM(RTRIM(CODIGO_BARRA))+','+
							LTRIM(RTRIM(@DESC_LINHA))+','+
							LTRIM(RTRIM(TIPO_PRODUTO))+','+
							LTRIM(RTRIM(ENTREGA))+','+
							LTRIM(RTRIM(DESCRICAO_MSG))+','+
							@DESC_LINHA+','+
							LTRIM(RTRIM(PACKS))+','+
							CONVERT(VARCHAR,QTDE_TOTAL)
				FROM @TABPEDIDOPDA WHERE ROWNUM = @I
	END

	INSERT INTO @TXT_SAIDA (REGISTRO) VALUES (@REGISTRO)
	
	SET @I = @I + 1
END

UPDATE @TXT_SAIDA SET ID_PEDIDO=@PEDIDO, REGISTRO=REPLACE(REGISTRO,',0.00,',', ,')

SELECT * FROM @TXT_SAIDA
SET NOCOUNT OFF 
go

/*EXEC CGP_LX_TXT_ETIQUETA_PEDIDO_PDA '500359' */

