USE [CAEDU]
GO
/****** Object:  StoredProcedure [dbo].[PDA_AP_SP_SE_PRODUTO_SORTIMENTO]    Script Date: 18/08/2021 15:44:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[PDA_AP_SP_SE_PRODUTO_SORTIMENTO]
 @FILIAL VARCHAR(25),
 @COD_BARRA VARCHAR(25),
 @USUARIO INT,
 @TP_TECNOLOGIA VARCHAR(20) ='',
 @IMEI VARCHAR(30) = ''
AS
BEGIN

DECLARE @MARGEM_BRUTA NUMERIC(9,1),
        @TAB_PRECO CHAR(2),
        @LOGIN VARCHAR(30)
DECLARE @PRECO_CONTABIL NUMERIC(9,2),
        @PRECO_ORIGINAL NUMERIC(9,2),
        @COD_LOJA  VARCHAR(10)
 
 INSERT INTO PDA_AP_TB_LOG_CONSULTA (FILIAL, COD_BARRAS, USUARIO, DTATUALIZACAO)
      VALUES(@FILIAL, @COD_BARRA, @USUARIO, GETDATE())

SET @LOGIN = (SELECT LOGIN FROM PDA_TB_USUARIO WHERE CODIGO = @USUARIO)

IF @TP_TECNOLOGIA = 'Android'
BEGIN
	insert into  [dbo].[PDA_TB_COLETOR_LOGGER] values (@FILIAL, getdate(), 'AUDITORIA DE PREÇOS - Consulta de preço', @LOGIN, @TP_TECNOLOGIA,@IMEI)
END
ELSE 
BEGIN
	insert into  [dbo].[PDA_TB_COLETOR_LOGGER] values (@FILIAL, getdate(), 'AUDITORIA DE PREÇOS - Consulta de preço', @LOGIN, 'Windows','')
END

SET @COD_LOJA = (SELECT COD_FILIAL FROM  FILIAIS WHERE FILIAL = @FILIAL);
 
SELECT @TAB_PRECO=VALOR_ATUAL FROM PARAMETROS_LOJA WHERE PARAMETRO  = 'CODIGO_TAB_PRECO' AND CODIGO_FILIAL = @COD_LOJA

/*
SELECT @PRECO_CONTABIL= PRODUTOS_PRECOS.PRECO1
   FROM PRODUTOS_PRECOS
   INNER JOIN TABELAS_PRECO ON TABELAS_PRECO.CODIGO_TAB_PRECO = PRODUTOS_PRECOS.CODIGO_TAB_PRECO
   INNER JOIN PRODUTOS_BARRA PB ON PRODUTOS_PRECOS.PRODUTO  = PB.PRODUTO
    WHERE TABELAS_PRECO.STATUS <> 'I'
    AND PB.CODIGO_BARRA=@COD_BARRA
    AND PRODUTOS_PRECOS.CODIGO_TAB_PRECO ='85'
*/
SELECT	top 1
		@PRECO_CONTABIL=
		CASE
			WHEN
				A.TRIBUT_ORIGEM IN (0,2,3,4,5,7,8) 
					AND D.FILIAL IN ('CAJAMAR - CQ','CD CAJAMAR','CD CAJAMAR - ATACADO','CD CAMAJAR - ATACADO','LOJA VIRTUAL',
										'REJEITADO - CD CAJAMAR','REJEITADO - LOJA VIRTUAL','VENDA ATACADO','VENDA IMP 2021') 
			THEN
				(B.PRECO1) * (1 - 0.2125)
			WHEN
				A.TRIBUT_ORIGEM IN (0,2,3,4,5,7,8) AND D.FILIAL IN ('CD NAVEGANTES','NAVEGANTES CQ','VENDA ATACADO SC','CD BARRA VELHA') 
			THEN
				(B.PRECO1) * (1 - 0.2625)
        WHEN
            A.TRIBUT_ORIGEM IN (1,6)
        THEN
            (B.PRECO1) * (1 - 0.1325)
        ELSE 0
    END 
FROM
    produtos A
INNER JOIN
    PRODUTOS_PRECOS B
ON
    B.PRODUTO = A.PRODUTO AND B.CODIGO_TAB_PRECO = '00'
INNER JOIN
    ESTOQUE_PROD1_ENT C
ON
    C.PRODUTO = A.PRODUTO
INNER JOIN
    ESTOQUE_PROD_ENT D
ON
    D.ROMANEIO_PRODUTO = C.ROMANEIO_PRODUTO AND D.FILIAL = C.FILIAL
WHERE
    A.PRODUTO = (select top 1 produto from produtos_barra where CODIGO_BARRA = @COD_BARRA) 
	AND ISNULL(D.NF_ENTRADA,'')<>''  AND ISNULL(D.PEDIDO,'')<>''
ORDER BY EMISSAO DESC


SELECT @PRECO_ORIGINAL = PRODUTOS_PRECOS.PRECO1
   FROM PRODUTOS_PRECOS
   INNER JOIN TABELAS_PRECO ON TABELAS_PRECO.CODIGO_TAB_PRECO = PRODUTOS_PRECOS.CODIGO_TAB_PRECO
   INNER JOIN PRODUTOS_BARRA PB ON PRODUTOS_PRECOS.PRODUTO  = PB.PRODUTO
    WHERE TABELAS_PRECO.STATUS <> 'I'
    AND PB.CODIGO_BARRA=@COD_BARRA
    AND PRODUTOS_PRECOS.CODIGO_TAB_PRECO =@TAB_PRECO

 --SELECT @MARGEM_BRUTA= (1-(@PRECO_CONTABIL/(@PRECO_ORIGINAL* (1-27.25/100))) )*100
 SELECT @MARGEM_BRUTA= (1-(@PRECO_CONTABIL/(@PRECO_ORIGINAL* (1-27.25/100))))*100
 --PRINT @PRECO_ORIGINAL

 SELECT PB.CODIGO_BARRA as barras, 
        PB.PRODUTO as codigo,      
        PB.GRADE as tamanho,   
        P.DESC_PRODUTO as descricao, 
        PC.DESC_COR_PRODUTO cor,                       
        cast( (SELECT CASE WHEN (GETDATE() >= INICIO_PROMOCAO OR INICIO_PROMOCAO IS NULL) AND (GETDATE() <= FIM_PROMOCAO OR FIM_PROMOCAO IS NULL) THEN 
					PRECO1 * (1 - (ISNULL(PROMOCAO_DESCONTO, 0)/ 100))   ELSE    PRECO1 END AS PRECO1
					FROM PRODUTOS_PRECOS 
					 WHERE PRODUTO = PB.PRODUTO
					AND CODIGO_TAB_PRECO = (SELECT VALOR_ATUAL FROM PARAMETROS_LOJA WHERE PARAMETRO  = 'CODIGO_TAB_PRECO' AND CODIGO_FILIAL =  FIL.COD_FILIAL )
        ) as numeric(18,2)) AS PRECO,
        CASE WHEN (SUBSTRING(CODIGO_BARRA,LEN(CODIGO_BARRA),1) = 'D' AND P.GRIFFE = 'CALCADOS') THEN
                  0 
             ELSE 
                   ISNULL((DBO.PDA_FC_ESTOQUE_TAMANHO( @FILIAL, PB.PRODUTO, PB.COR_PRODUTO, PB.TAMANHO) ) ,0)
        END  AS qde,
        0 as rep,
        ISNULL( (select  DATEDIFF ( DAY , max(EMISSAO) , GETDATE() )  from LOJA_ENTRADAS where ROMANEIO_PRODUTO in (
        select ROMANEIO_PRODUTO from lOJA_ENTRADAS_PRODUTO where PRODUTO = PB.PRODUTO   and COR_PRODUTO =  PB.COR_PRODUTO and filial =  @FILIAL)),0) as IDADE,
		P.TIPO_PRODUTO, 
		isnull(  (select SUM(VP.QTDE) from LOJA_VENDA_PRODUTO  VP
					where  VP.CODIGO_FILIAL = @COD_LOJA 
					AND VP.CODIGO_BARRA = PB.CODIGO_BARRA
					AND VP.PRODUTO = PB.PRODUTO
					and VP.DATA_VENDA >= (select   max(EMISSAO)  from LOJA_ENTRADAS 
					WHERE FILIAL = @FILIAL
					AND ROMANEIO_PRODUTO in (select ROMANEIO_PRODUTO from lOJA_ENTRADAS_PRODUTO
					where PRODUTO = PB.PRODUTO
					and COR_PRODUTO =  PB.COR_PRODUTO 
					and filial =  @FILIAL)) 
					and VP.DATA_VENDA <= getdate()),0) AS VENDAS,
		REPLACE(ISNULL(REPLACE(PROP.VALOR_PROPRIEDADE,'/',''),1),'NÃO','0') PROP,
		@MARGEM_BRUTA MARGEM_BRUTA
   FROM PRODUTOS_BARRA PB 
            JOIN PRODUTOS P   ON P.PRODUTO = PB.PRODUTO 
            JOIN PRODUTO_CORES PC  ON PC.PRODUTO = PB.PRODUTO 
                      AND PC.COR_PRODUTO = PB.COR_PRODUTO                
            LEFT JOIN ESTOQUE_PRODUTOS EP  ON PB.PRODUTO = EP.PRODUTO
                      AND PB.COR_PRODUTO = EP.COR_PRODUTO
   AND EP.FILIAL = @FILIAL    
                                                       
            JOIN FILIAIS FIL ON FIL.FILIAL = @FILIAL
          LEFT  JOIN  PROP_PRODUTOS PROP ON PROP.PRODUTO = PB.PRODUTO  AND PROP.PROPRIEDADE = '00039'
    WHERE PB.PRODUTO = (select top 1 produto from PRODUTOS_BARRA where CODIGO_BARRA = @COD_BARRA)
END  

