USE [CAEDU]
GO
/****** Object:  Trigger [dbo].[LXU_CGP_ESTOQUE_PROD_CONTAGEM_INVENTARIO]    Script Date: 13/10/2023 14:48:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE OR ALTER   TRIGGER [dbo].[LXI_CGP_ESTOQUE_PROD_CONTAGEM_INVENTARIO] 
on [dbo].[ESTOQUE_PROD_CONTAGEM]
  for INSERT NOT FOR REPLICATION
  as
/* desliga o processo de bloqueio de inventário 
quando a subida do arquivo de contagem e data do ajuste tem a mesma data
isso acontece em inventários "Parciais"
PAULO DEVIDE - Out.2023
*/

begin

	DECLARE @FILIAL VARCHAR(25), 
			@RESPONSAVEL VARCHAR(25), 
			@EM_INVENTARIO BIT,
			@EMISSAO DATETIME,
			@TIPO CHAR(1),
			@DATA_SALDO_PA DATETIME
			
	SELECT @FILIAL = I.FILIAL, 
			@RESPONSAVEL=I.RESPONSAVEL,
			@EMISSAO = I.EMISSAO,
			@EM_INVENTARIO=f.EM_INVENTARIO,
			@TIPO=i.TIPO
	FROM inserted i 
	INNER JOIN FILIAIS f ON f.FILIAL=i.FILIAL	


	/*filial está em inventário e é do tipo Parcial*/
	IF @EM_INVENTARIO=1 and @TIPO='P' 
	BEGIN

		UPDATE FILIAIS
		SET EM_INVENTARIO=0, DT_ULTIMO_INVENTARIO=@EMISSAO, 
		RESPONSAVEL_ULTIMO_INVENTARIO=@RESPONSAVEL
		WHERE FILIAL = @FILIAL

	END
	
end