USE [CAEDU]
GO
/****** Object:  Trigger [dbo].[CGP_FATURAMENTO_ITEM_DEL]    Script Date: 20/01/2021 16:19:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		PAULO DEVIDE
-- Create date: 20-JAN-21
-- Description:	INSERE UM REGISTRO NA TABELA 
-- =============================================
CREATE  TRIGGER [dbo].[CGP_FATURAMENTO_ITEM_DEL] 
	ON [dbo].[FATURAMENTO_ITEM] 
	FOR DELETE 
AS 
BEGIN
	SET NOCOUNT ON;

	INSERT INTO DBO.CGP_FATURAMENTO_ITEM_LOG
	(CLASSIF_FISCAL,CODIGO_FISCAL_OPERACAO,CODIGO_ITEM,COD_TABELA_FILHA,COMISSAO_ITEM,COMISSAO_ITEM_GERENTE,CONTA_CONTABIL,
	DESCONTO_ITEM,DESCRICAO_ITEM,FAIXA,FILIAL,ID_EXCECAO_IMPOSTO,INDICADOR_CFOP,ITEM_IMPRESSAO,MPADRAO_DESCONTO_ITEM,
	MPADRAO_PRECO_UNITARIO,MPADRAO_VALOR_ITEM,NF_SAIDA,PESO,PORCENTAGEM_ITEM_RATEIO,PRECO_UNITARIO,QTDE_DEVOLVIDA,QTDE_ITEM,
	QTDE_RETORNAR_BENEFICIAMENTO,SERIE_NF,SUB_ITEM_TAMANHO,TRIBUT_ICMS,TRIBUT_ORIGEM,UNIDADE,VALOR_ITEM,REFERENCIA,REFERENCIA_ITEM,
	REFERENCIA_PEDIDO,MPADRAO_VALOR_DESCONTOS,MPADRAO_VALOR_ENCARGOS,NAO_SOMA_VALOR,OBS_ITEM,ITEM_NFE,MPADRAO_SEGURO_ITEM,
	MPADRAO_FRETE_ITEM,MPADRAO_ENCARGO_ITEM,RATEIO_FILIAL,RATEIO_CENTRO_CUSTO,ORIGEM_ITEM,VALOR_IMPOSTO_ITEM,INDICA_PRODUTO_PROCESSO,
	CODIGO_FCI,PRECO_UNITARIO_ORIGINAL,WK_DATA_PROCESSADO,CTB_TIPO_OPERACAO,ID_SUB_PROJETO,VALOR_IMPOSTO_ITEM_MUNICIPAL,
	VALOR_IMPOSTO_ITEM_ESTADUAL,ID_CEST_NCM,NUMERO_IMOBILIZADO)
	SELECT 
		CLASSIF_FISCAL,CODIGO_FISCAL_OPERACAO,CODIGO_ITEM,COD_TABELA_FILHA,COMISSAO_ITEM,COMISSAO_ITEM_GERENTE,CONTA_CONTABIL,
		DESCONTO_ITEM,DESCRICAO_ITEM,FAIXA,FILIAL,ID_EXCECAO_IMPOSTO,INDICADOR_CFOP,ITEM_IMPRESSAO,MPADRAO_DESCONTO_ITEM,
		MPADRAO_PRECO_UNITARIO,MPADRAO_VALOR_ITEM,NF_SAIDA,PESO,PORCENTAGEM_ITEM_RATEIO,PRECO_UNITARIO,QTDE_DEVOLVIDA,QTDE_ITEM,
		QTDE_RETORNAR_BENEFICIAMENTO,SERIE_NF,SUB_ITEM_TAMANHO,TRIBUT_ICMS,TRIBUT_ORIGEM,UNIDADE,VALOR_ITEM,REFERENCIA,REFERENCIA_ITEM,
		REFERENCIA_PEDIDO,MPADRAO_VALOR_DESCONTOS,MPADRAO_VALOR_ENCARGOS,NAO_SOMA_VALOR,OBS_ITEM,ITEM_NFE,MPADRAO_SEGURO_ITEM,
		MPADRAO_FRETE_ITEM,MPADRAO_ENCARGO_ITEM,RATEIO_FILIAL,RATEIO_CENTRO_CUSTO,ORIGEM_ITEM,VALOR_IMPOSTO_ITEM,INDICA_PRODUTO_PROCESSO,
		CODIGO_FCI,PRECO_UNITARIO_ORIGINAL,WK_DATA_PROCESSADO,CTB_TIPO_OPERACAO,ID_SUB_PROJETO,VALOR_IMPOSTO_ITEM_MUNICIPAL,
		VALOR_IMPOSTO_ITEM_ESTADUAL,ID_CEST_NCM,NUMERO_IMOBILIZADO
	FROM deleted
END
