USE [CAEDU]
GO
/****** Object:  Trigger [dbo].[LXI_ESTOQUE_PROD_SAI]    Script Date: 23/04/2024 15:21:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE OR ALTER  trigger [dbo].[CGP_CM_LXI_ESTOQUE_PROD_SAI] 
on [dbo].[ESTOQUE_PROD_SAI]
  AFTER INSERT NOT FOR REPLICATION
  as
/*
AUTHOR: PAULO DEVIDE
CREATED IN: 23-04-2024
ALTERAR O CM_OPERACAO DE 012 PARA C012 - PARA UTILIZAR NO CALCULO DO CMV
*/
begin
	DECLARE @CM_OPERACAO VARCHAR(10)
	IF UPDATE(CM_OPERACAO)
	BEGIN
		select @CM_OPERACAO = CM_OPERACAO
		FROM inserted

		if @CM_OPERACAO = '012'
			BEGIN
				UPDATE A SET CM_OPERACAO = 'C012'
				FROM ESTOQUE_PROD_SAI A
				INNER JOIN inserted I 
					ON I.ROMANEIO_PRODUTO = A.ROMANEIO_PRODUTO AND I.FILIAL = A.FILIAL 
			END
	END
end
GO