USE [CAEDU]
GO
/****** Object:  Trigger [dbo].[LXU_ESTOQUE_PROD_CONTAGEM]    Script Date: 14/09/2023 15:27:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE OR ALTER TRIGGER [dbo].[LXU_CGP_ESTOQUE_PROD_CONTAGEM_INVENTARIO] 
on [dbo].[ESTOQUE_PROD_CONTAGEM]
  for UPDATE NOT FOR REPLICATION
  as
/* desliga o processo de bloqueio de inventário
após a subida dos ajustes de estoque depois da contagem
PAULO DEVIDE - 13.09.2023
O gatilho é disparado quando a instrução abaixo é executada 
na procedure LX_AJUSTA_ESTOQUE_PA:

select * from ESTOQUE_PROD_CONTAGEM order by emissao desc
	UPDATE ESTOQUE_PROD_CONTAGEM
	SET ESTOQUE_AJUSTADO = 1,  DATA_AJUSTE = CONVERT(VARCHAR(8),GETDATE(),112)
	WHERE NOME_CONTAGEM = @NOME_CONTAGEM

*/

begin

	DECLARE @FILIAL VARCHAR(25), 
			@ESTOQUE_AJUSTADO BIT, 
			@RESPONSAVEL VARCHAR(25), 
			@DATA_AJUSTE DATETIME, 
			@EM_INVENTARIO BIT

	IF UPDATE(ESTOQUE_AJUSTADO)
	BEGIN

		SELECT @FILIAL = I.FILIAL, 
				@ESTOQUE_AJUSTADO = i.ESTOQUE_AJUSTADO,
				@RESPONSAVEL=I.RESPONSAVEL,
				@DATA_AJUSTE = I.DATA_AJUSTE,
				@EM_INVENTARIO=f.EM_INVENTARIO
		FROM inserted i 
		INNER JOIN FILIAIS f ON f.FILIAL=i.FILIAL

		IF @EM_INVENTARIO=1 AND @ESTOQUE_AJUSTADO=1
		BEGIN

			UPDATE FILIAIS
			SET EM_INVENTARIO=0, DT_ULTIMO_INVENTARIO=@DATA_AJUSTE, RESPONSAVEL_ULTIMO_INVENTARIO=@RESPONSAVEL
			WHERE FILIAL = @FILIAL

		END
	
	END
end