USE [CAEDU]
GO
/****** Object:  Trigger [dbo].[LXUDT_VENDAS]    Script Date: 21/01/2019 14:26:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER Trigger [dbo].[LXUDT_VENDAS] On [dbo].[VENDAS]
For UPDATE NOT FOR REPLICATION
As 
-- Trigger para controle de DATA_PARA_TRANSFERENCIA
Begin

	---DATA PARA TRANSFERENCIA---------------------------------------------------------------------------
	IF NOT UPDATE(DATA_PARA_TRANSFERENCIA)
	UPDATE 	T
	SET 	DATA_PARA_TRANSFERENCIA = GETDATE()
	FROM 	[VENDAS] T
			JOIN INSERTED I ON
				I.[PEDIDO]=T.[PEDIDO]
	-----------------------------------------------------------------------------------------------------
	
		        update vda
		        set CTRL_MULT_ENTREGAS =  0
				from inserted ins
					   join  vendas vda
						   on ins.pedido  = vda.pedido
				where  
					   vda.CTRL_MULT_ENTREGAS = 1
				and 
						vda.filial like 'CD EMBU'
				and 
				    	 vda.tabela_filha = 'VENDAS_PRODUTO'     
				and 
				    	 vda.tipo = 'DISTRIBUICAO'   							
				    	 
							

				update vda
					set ENTREGA_CIF =  1, NATUREZA_SAIDA = '120.01'
				from inserted ins
					   join  vendas vda
						   on ins.pedido  = vda.pedido
				where 
						vda.filial IN ('CD REGIS','CD CAJAMAR')
				and 
				    	 vda.tabela_filha = 'VENDAS_PRODUTO'     
				and 
				    	 vda.tipo = 'DISTRIBUICAO'   							
				   
							 
				update vda
				set INDICADOR_VENDA  =  Null
				from inserted ins
					   join  vendas vda
						   on ins.pedido  = vda.pedido
				where 
			    	vda.INDICADOR_VENDA is not null
				and 
						vda.filial like 'CD EMBU'
				and 
				    	 vda.tabela_filha = 'VENDAS_PRODUTO'     
				and 
				    	 vda.tipo = 'DISTRIBUICAO'   							
	
	return
End