USE [CAEDU]
GO
/****** Object:  Trigger [dbo].[LXU_FILIAIS]    Script Date: 08/09/2023 17:41:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE OR ALTER TRIGGER [dbo].[LXU_CGP_FILIAIS] 
ON [dbo].[FILIAIS]  
FOR UPDATE NOT FOR REPLICATION  
As   
-- UPDATE Trigger On FILIAIS  
-- PAULO DEVIDE - 08/09/2023 - ACIONAR O BLOQUEIO DA FILIAL ATRAVES DA TABELA
--                             CM_DATAS_FECHAMENTO PARA NÃO RECEBER LANÇAMENTOS DURANTE O INVENTÁRIO


Begin  
	DECLARE @FILIAL VARCHAR(25), 
			@DATA_SALDO_PA_ATUAL DATETIME, 
			@DT_ULTIMO_INVENTARIO DATETIME, 
			@EM_INVENTARIO BIT,
			@RESPONSAVEL_ULTIMO_INVENTARIO VARCHAR(25)

	IF UPDATE(EM_INVENTARIO)
	BEGIN
		SELECT @FILIAL = I.FILIAL, 
				@DT_ULTIMO_INVENTARIO = i.DT_ULTIMO_INVENTARIO,
				@DATA_SALDO_PA_ATUAL=F.DATA_SALDO_PA,
				@EM_INVENTARIO = I.EM_INVENTARIO,
				@RESPONSAVEL_ULTIMO_INVENTARIO=I.RESPONSAVEL_ULTIMO_INVENTARIO
		FROM inserted i 
		LEFT JOIN CM_DATA_FECHAMENTO f 
			ON F.FILIAL = i.FILIAL

		IF @EM_INVENTARIO=1
		BEGIN

			UPDATE CM_DATA_FECHAMENTO
			SET DATA_SALDO_PA_ANTES=@DATA_SALDO_PA_ATUAL, DATA_SALDO_PA=@DT_ULTIMO_INVENTARIO
			WHERE FILIAL = @FILIAL

		END
		ELSE
		BEGIN
			UPDATE CM_DATA_FECHAMENTO
			SET DATA_SALDO_PA = ISNULL(DATA_SALDO_PA_ANTES, DATA_SALDO_PA)
			WHERE FILIAL = @FILIAL
		END

		INSERT INTO DBO.CGP_LOG_FILIAL_INVENTARIO
					(FILIAL,EM_INVENTARIO,USUARIO_STATUS,DATA_STATUS)
		VALUES		(@FILIAL,@EM_INVENTARIO,@RESPONSAVEL_ULTIMO_INVENTARIO,GETDATE())


		
	END

End  

