set nocount on

-- Cria dataset temporario
declare @caixas table 
(id int identity(1,1) not null, 
caixa varchar(8) not null, 
filial varchar(25) not null)

-- Popula o dataset com os caixas e destinos 
-- Neste caso, origem sempre é Maua

insert into @caixas (CAIXA, FILIAL) values ('11592200', 'VICENTE DE CARVALHO');
insert into @caixas (CAIXA, FILIAL) values ('11592201', 'OSASCO CENTRO');
insert into @caixas (CAIXA, FILIAL) values ('11594445', 'SAO MATHEUS');


--select distinct filial from @caixas --where filial not in (select filial from filiais)


-- variaveis de controle de loop
declare @i int = 1
declare @tot int

select @tot = max(id) from @caixas

-- declare variaveis de trabalho
declare @caixa varchar(8) 
declare @filial varchar(25) 

-- inicio do loop
while @i <= @tot
begin

	select @caixa = CAIXA, @filial = FILIAL 
	FROM @caixas 
	WHERE ID = @i

	UPDATE VENDAS_PROD_EMBALADO 
		SET NOME_CLIFOR=@filial , 
			representante = @filial 
	WHERE CAIXA=@caixa

	-- se atualizou, atualiza as demais tabelas tambem
	IF @@ROWCOUNT > 0  
	begin
		UPDATE FATURAMENTO_CAIXAS 
		SET NOME_CLIFOR=@filial, 
		NOME_CLIFOR_ENTREGA = @filial
		WHERE CAIXA=@caixa
      
		UPDATE B 
		SET CLIENTE_ATACADO=@filial, 
			nome_clifor_entrega  = @filial, 
			representante = @filial, 
			gerente= @filial   
		FROM VENDAS_PROD_EMBALADO A 
		INNER JOIN VENDAS B 
			ON A.PEDIDO=B.PEDIDO 
					WHERE CAIXA =@caixa
	end

	-- passa para o proximo registro do dataset
	set @i = @i + 1
end

set nocount off


