set nocount on

-- Cria dataset temporario
declare @caixas table 
(id int identity(1,1) not null, 
caixa varchar(8) not null, 
filial varchar(25) not null)

-- Popula o dataset com os caixas e destinos 
-- Neste caso, origem sempre é Maua

insert into @caixas (CAIXA, FILIAL) values ('11613791', 'SAO MATHEUS');
insert into @caixas (CAIXA, FILIAL) values ('11613792', 'SAO MATHEUS');
insert into @caixas (CAIXA, FILIAL) values ('11605574', 'SAO MATHEUS');

/*
insert into @caixas (CAIXA, FILIAL) values ('11588644', 'VICENTE DE CARVALHO');
insert into @caixas (CAIXA, FILIAL) values ('11586529', 'SAO MATHEUS');
insert into @caixas (CAIXA, FILIAL) values ('11594448', 'CIDADE OCIAN');
insert into @caixas (CAIXA, FILIAL) values ('11589331', 'CIDADE OCIAN');
insert into @caixas (CAIXA, FILIAL) values ('11587453', 'CIDADE OCIAN');
insert into @caixas (CAIXA, FILIAL) values ('11587452', 'VICENTE DE CARVALHO');
insert into @caixas (CAIXA, FILIAL) values ('11589332', 'CIDADE OCIAN');
insert into @caixas (CAIXA, FILIAL) values ('11594806', 'SUMARE');
insert into @caixas (CAIXA, FILIAL) values ('11587458', 'VICENTE DE CARVALHO');
insert into @caixas (CAIXA, FILIAL) values ('11593647', 'SUMARE');
insert into @caixas (CAIXA, FILIAL) values ('11586528', 'SAO MATHEUS');
insert into @caixas (CAIXA, FILIAL) values ('11589330', 'SAO MATHEUS');
insert into @caixas (CAIXA, FILIAL) values ('11589356', 'CIDADE OCIAN');
insert into @caixas (CAIXA, FILIAL) values ('11589355', 'CIDADE OCIAN');
insert into @caixas (CAIXA, FILIAL) values ('11587459', 'CIDADE OCIAN');
insert into @caixas (CAIXA, FILIAL) values ('11594176', 'VICENTE DE CARVALHO');
insert into @caixas (CAIXA, FILIAL) values ('11593662', 'VICENTE DE CARVALHO');
insert into @caixas (CAIXA, FILIAL) values ('11593661', 'SAO MATHEUS');
insert into @caixas (CAIXA, FILIAL) values ('11589344', 'SAO MATHEUS');
insert into @caixas (CAIXA, FILIAL) values ('11594179', 'SUMARE');
insert into @caixas (CAIXA, FILIAL) values ('11593665', 'SUMARE');
insert into @caixas (CAIXA, FILIAL) values ('11585865', 'SAO MATHEUS');
insert into @caixas (CAIXA, FILIAL) values ('11585866', 'CIDADE OCIAN');
insert into @caixas (CAIXA, FILIAL) values ('11585867', 'VICENTE DE CARVALHO');
insert into @caixas (CAIXA, FILIAL) values ('11586011', 'SAO MATHEUS');
insert into @caixas (CAIXA, FILIAL) values ('11586012', 'CIDADE OCIAN');
insert into @caixas (CAIXA, FILIAL) values ('11586013', 'VICENTE DE CARVALHO');
insert into @caixas (CAIXA, FILIAL) values ('11586527', 'SAO MATHEUS');
insert into @caixas (CAIXA, FILIAL) values ('11586526', 'VICENTE DE CARVALHO');
insert into @caixas (CAIXA, FILIAL) values ('11587455', 'VICENTE DE CARVALHO');
*/
--select distinct filial from @caixas --where filial not in (select filial from filiais)


-- variaveis de controle de loop
declare @i int = 1
declare @tot int

select @tot = max(id) from @caixas

-- declare variaveis de trabalho
declare @caixa varchar(8) 
declare @filial varchar(25) 

-- inicio do loop
while @i <= @tot
begin

	select @caixa = CAIXA, @filial = FILIAL 
	FROM @caixas 
	WHERE ID = @i

	UPDATE VENDAS_PROD_EMBALADO 
		SET NOME_CLIFOR=@filial , 
			representante = @filial 
	WHERE CAIXA=@caixa

	-- se atualizou, atualiza as demais tabelas tambem
	IF @@ROWCOUNT > 0  
	begin
		UPDATE FATURAMENTO_CAIXAS 
		SET NOME_CLIFOR=@filial, 
		NOME_CLIFOR_ENTREGA = @filial
		WHERE CAIXA=@caixa
      
		UPDATE B 
		SET CLIENTE_ATACADO=@filial, 
			nome_clifor_entrega  = @filial, 
			representante = @filial, 
			gerente= @filial   
		FROM VENDAS_PROD_EMBALADO A 
		INNER JOIN VENDAS B 
			ON A.PEDIDO=B.PEDIDO 
					WHERE CAIXA =@caixa
	end

	-- passa para o proximo registro do dataset
	set @i = @i + 1
end

set nocount off


