USE [CAEDU]
GO
/****** Object:  StoredProcedure [dbo].[PLM_IRIS_Umode_INS_PRODUTOS_PLM]    Script Date: 03/09/2026 16:51:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER   PROCEDURE [dbo].[PLM_IRIS_Umode_INS_PRODUTOS_PLM] 
@codigo_produto varchar(100),
@val_ins varchar(2000),
@debug int,
@retproc varchar(100) output
AS
begin

DECLARE @SQL varchar(8000);
declare @retorno int;

set @SQL = 'INSERT INTO [CAEDU].[DBO].PRODUTOS_PLM (PRODUTO,ESTACAO,TOP_BOTTOM,VISAO,LICENCIADO,MALHA_TECIDO,LINHA_PROMO,LINHA_PROMO_JEANS,ESTACAO_COM_VERAO,LEVE_PESADO,EQUIPAMENTOS,LINHA_ANTIGA,CLASSIF_POR_PRODUTO_MARCAR_X,DESC_PROMO_PROG_POR_ANO,PROMO_PROGRAMA,DIA_NOITE,OBSERVACOES_PLANEJAMENTO,ALCA_CABIDE,PROGRAMA,MÊS_LOJA_ORIGINAL,ENTREGA_CD,CLUSTER_LOJA,MARGEM,CAMPANHA_DE_POR_CARTAO,CAMPANHA_DE_POR_VITRINE,LAVAGEM,GOLA,DECOTE,MANGA,COMPRIMENTO_MANGA,CINTURA,APLICACAO,TIPO_ALCA,ESTRUTURA_BOJO,TIPO_BICO,TIPO_SALTO,ALTURA_SALTO,TIPO_FECHAMENTO,BANHO,DATA_LACRE,LACRE,CLASSIFICACAO_COMPLEXIDADE,OBSERVAÇÃO_MODELAGEM,APROVACAO_PRODUTO,APROVACAO_MODELAGEM,APROVACAO_QUALIDADE,OBS_PRODUTO,MATERIAL_1,COMPOSICAO_1,GRAMATURA_1,UNIDADE_1,MATERIAL_2,COMPOSICAO_2,GRAMATURA_2,UNIDADE_2,MATERIAL_3,COMPOSICAO_3,GRAMATURA_3,UNIDADE_3,MAT_CALCADO_INTERNO,MAT_CALCADO_EXTERNO,MAT_OPCOES_EXTERNO,MAT_CALCADO_MP_SOLADO,MAT_DETALHAMENTO) '
set @SQL = @SQL + 'VALUES (' + @val_ins + ')';

	print @sql;

	IF @debug > 0
		SELECT @sql;

	EXEC (@SQL);
	
	if (select count(*) from PRODUTOS_PLM where produto = @codigo_produto) > 0 begin
		set @retorno = 200;
		set @retproc = 'OK';
		if @debug > 0 
			select @retorno as 'cod','SUCESSO' as 'resultado';
	end
	else begin
		set @retorno = 400;
		set @retproc = 'NOK';
		if @debug > 0 
			select @retorno as 'cod', 'ERRO' as 'resultado';
	end;

	return @retorno;

end;
