USE [CAEDU]
GO
/****** Object:  StoredProcedure [dbo].[PLM_IRIS_Umode_INS_PRODUTOS_PACKS_PERMITIDOS]    Script Date: 03/09/2026 16:51:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER   PROCEDURE [dbo].[PLM_IRIS_Umode_INS_PRODUTOS_PACKS_PERMITIDOS]
@produto char(12),
@cor_produto char(12),
@param2 char(120),
@retorno varchar(100) output
AS 

set @retorno = 'NOK'
DECLARE @SQL varchar(8000);
--set @produto = '01050999'
/*
INSERT INTO [CAEDU].[DBO].PRODUTOS_PACKS_PERMITIDOS 
		(PRODUTO,PACK,QTDE,Q1,Q2,Q3,Q4,Q5,Q6,Q7,Q8,Q9,Q10,Q11,Q12,Q13,Q14,Q15,Q16,COR_PRODUTO,INDICA_PACK_COR,INATIVO) 
	VALUES 
		(@produto,'A',12,2,4,4,2,0,0,0,0,0,0,0,0,0,0,0,0,@cor_produto,1,0)
		          'A',12,2,2,3,3,2,0,0,0,0,0,0,0,0,0,0,0,0,0
		          'A',12,2,2,3,3,2,0,0,0,0,0,0,0,0,0,0,0
*/
Declare @produtosemaspas char(12);
set @produtosemaspas = REPLACE(@produto,'''','');
if exists (select 1 from PRODUTOS_PACKS_PERMITIDOS where produto = @produtosemaspas)
begin
	delete from PRODUTOS_PACKS_PERMITIDOS where produto = @produtosemaspas
end
set @SQL = 'INSERT INTO [CAEDU].[DBO].PRODUTOS_PACKS_PERMITIDOS (PRODUTO,PACK,QTDE,Q1,Q2,Q3,Q4,Q5,Q6,Q7,Q8,Q9,Q10,Q11,Q12,Q13,Q14,Q15,Q16,COR_PRODUTO,INDICA_PACK_COR,INATIVO)'
set @SQL = @SQL + ' VALUES (' + @produto + ',' + @param2 + ',' + @cor_produto + ',1,0)';

EXEC (@SQL);


set @retorno = 'OK'

