USE [CAEDU]
GO
/****** Object:  Trigger [dbo].[LXU_PRODUTOS_PRECOS]    Script Date: 06/03/2024 15:33:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER TRIGGER [dbo].[LXU_PRODUTOS_PRECOS] 
ON [dbo].[PRODUTOS_PRECOS]
FOR UPDATE NOT FOR REPLICATION
AS
/* UPDATE trigger on PRODUTOS_PRECOS */
/* default body for LXU_PRODUTOS_PRECOS */
begin
-- 26/01/2017 - Wendel Crespigio #12# - ID 19180 - Correção de performance passou a enviar o produto para o update do hash
-- 13/01/2017 - Rodrigo Souza - #11# - ID 18126 - Correção para somente atualizar na tabela PRODUTOS_PRECO_COR os produtos que estão marcados para variar preço por cor.
-- 01/08/2016 - Rodrigo Souza - #10# - ID 7030 - Correção na atualização do campo DATA_PARA_TRANSFERENCIA para utilizar a data da tabela PRODUTOS_PRECOS.
-- 19/07/2016 - Rodrigo Souza - #9# - ID 6272 - Correção na atualização do campo DATA_PARA_TRANSFERENCIA das tabelas de preços dependentes.
-- 18/06/2016 - Rodrigo Souza - #8# - ID 2040 - Correção para somente atualizar as tabelas de preços dependentes quando houver alteração de preço.
-- 08/03/2016 - Rodrigo Souza - #7# - ID 2040 - Correção na atualização das tabelas de preços dependentes.
-- 20/05/2015 - Wendel Crespigio - #6# - TP 8277975 - INCLUSÃO DE CHAMADA DO PROCEDURE LX_ATUALIZA_PAF_ECF_ERP.
-- 19/05/2015 - Rodrigo Souza - #5# - TP 8218929 - Correção na atualização de preço por filial.
-- 18/12/2014 - Rodrigo Souza - #4# - TP 6311824 - Correção na atualização de preço por filial.
-- 26/08/2014 - Barbara Lima  - #3# - TP 6311824 - Incluída atualização na tabela PRODUTOS_PRECO_FILIAL para atualizar o campo promoção de loja quando a tabela de preço for tabela de base.
-- 18/08/2014 - Barbara Lima  - #2# - TP 6251739 - Incluida atualização das colunas DATA_PARA_TRANSFERENCIA
-- 07/05/2014 - Rodrigo Souza - #1# - TP 5484989 - Incluida atualização das colunas PRECO_LIQUIDO1,PRECO_LIQUIDO2,PRECO_LIQUIDO3 e PRECO_LIQUIDO4.
-- Denys		 - 24/05/2011 - Atualização de preços por filial.
-- Denys		 - 01/10/2010 - Mudança na ordem de exclusão de preços dependentes para respeitar as restrições de foreign key do banco de dados.
-- Denys		 - 22/07/2010 - Tratamento da coluna BLOQ_ATUALIZACAO_BASE (quando 1, somente permite inclusão de novos preços da tabela base na dependente).
 
  declare  @numrows int,
           @nullcnt int,
           @validcnt int,
           @insPRODUTO char(12), 
           @insCODIGO_TAB_PRECO char(2),
           @delPRODUTO char(12), 
           @delCODIGO_TAB_PRECO char(2),
           @errno   int,
           @errmsg  varchar(255),
		   @Produto varchar(50)     --#12#

  select @numrows = @@rowcount
/* PRODUTOS R/1244 PRODUTOS_PRECOS ON CHILD UPDATE RESTRICT */
  if
    update(PRODUTO)
  begin
    select @nullcnt = 0
    select @validcnt = count(*)
      from inserted,PRODUTOS
     where
           inserted.PRODUTO = PRODUTOS.PRODUTO
    
    if @validcnt + @nullcnt != @numrows
    begin
      select @errno  = 30007,
             @errmsg = 'Impossível Atualizar  #PRODUTOS_PRECOS #porque #PRODUTOS #não existe.'
      goto error
    end
  end

/* TABELAS_PRECO R/1243 PRODUTOS_PRECOS ON CHILD UPDATE RESTRICT */
  if
    update(CODIGO_TAB_PRECO)
  begin
    select @nullcnt = 0
    select @validcnt = count(*)
      from inserted,TABELAS_PRECO
     where
           inserted.CODIGO_TAB_PRECO = TABELAS_PRECO.CODIGO_TAB_PRECO
    
    if @validcnt + @nullcnt != @numrows
    begin
      select @errno  = 30007,
             @errmsg = 'Impossível Atualizar  #PRODUTOS_PRECOS #porque #TABELAS_PRECO #não existe.'
      goto error
    end
  end


/* PRODUTOS_PRECOS R/1177 PRODUTOS_PRECO_COR ON PARENT UPDATE CASCADE */
  IF 
     update(PRODUTO) OR 
     update(CODIGO_TAB_PRECO)
  BEGIN
    DECLARE PRODUTOS_PRECOS6808 CURSOR FOR SELECT PRODUTO,
                                                  CODIGO_TAB_PRECO FROM INSERTED
    DECLARE PRODUTOS_PRECOS8835 CURSOR FOR SELECT PRODUTO,
                                                  CODIGO_TAB_PRECO FROM DELETED
    OPEN PRODUTOS_PRECOS6808
    OPEN PRODUTOS_PRECOS8835
    FETCH NEXT FROM PRODUTOS_PRECOS6808 INTO @insPRODUTO,
                                             @insCODIGO_TAB_PRECO
    FETCH NEXT FROM PRODUTOS_PRECOS8835 INTO @delPRODUTO,
                                             @delCODIGO_TAB_PRECO
    IF @@rowcount >= 0 AND (@insPRODUTO !=@delPRODUTO OR @insCODIGO_TAB_PRECO != @delCODIGO_TAB_PRECO)
    BEGIN
      WHILE @@fetch_status = 0
      BEGIN
        UPDATE PRODUTOS_PRECO_COR
           SET PRODUTOS_PRECO_COR.PRODUTO=@insPRODUTO,
               PRODUTOS_PRECO_COR.CODIGO_TAB_PRECO=@insCODIGO_TAB_PRECO
         WHERE PRODUTOS_PRECO_COR.PRODUTO = @delPRODUTO and
               PRODUTOS_PRECO_COR.CODIGO_TAB_PRECO = @delCODIGO_TAB_PRECO

        FETCH NEXT FROM PRODUTOS_PRECOS6808 INTO @insPRODUTO,
                                                 @insCODIGO_TAB_PRECO
        FETCH NEXT FROM PRODUTOS_PRECOS8835 INTO @delPRODUTO,
                                                 @delCODIGO_TAB_PRECO
      END
    END
    CLOSE PRODUTOS_PRECOS6808
    CLOSE PRODUTOS_PRECOS8835
    DEALLOCATE PRODUTOS_PRECOS6808
    DEALLOCATE PRODUTOS_PRECOS8835
  END

/* PRODUTOS_PRECOS R/716 PRODUTOS_PRECO_LOG ON PARENT UPDATE CASCADE */
  IF 
     update(PRODUTO) OR 
     update(CODIGO_TAB_PRECO)
  BEGIN
    DECLARE PRODUTOS_PRECOS9e41 CURSOR FOR SELECT PRODUTO,
                                                  CODIGO_TAB_PRECO FROM INSERTED
    DECLARE PRODUTOS_PRECOS8835 CURSOR FOR SELECT PRODUTO,
                                                  CODIGO_TAB_PRECO FROM DELETED
    OPEN PRODUTOS_PRECOS9e41
    OPEN PRODUTOS_PRECOS8835
    FETCH NEXT FROM PRODUTOS_PRECOS9e41 INTO @insPRODUTO,
                                             @insCODIGO_TAB_PRECO
    FETCH NEXT FROM PRODUTOS_PRECOS8835 INTO @delPRODUTO,
                                             @delCODIGO_TAB_PRECO
    IF @@rowcount >= 0 AND (@insPRODUTO !=@delPRODUTO OR @insCODIGO_TAB_PRECO != @delCODIGO_TAB_PRECO)
    BEGIN
      WHILE @@fetch_status = 0
      BEGIN
        UPDATE PRODUTOS_PRECO_LOG
		SET	   PRODUTOS_PRECO_LOG.PRODUTO=@insPRODUTO,
               PRODUTOS_PRECO_LOG.CODIGO_TAB_PRECO=@insCODIGO_TAB_PRECO
         WHERE PRODUTOS_PRECO_LOG.PRODUTO = @delPRODUTO and
               PRODUTOS_PRECO_LOG.CODIGO_TAB_PRECO = @delCODIGO_TAB_PRECO

        FETCH NEXT FROM PRODUTOS_PRECOS9e41 INTO @insPRODUTO,
                                                 @insCODIGO_TAB_PRECO
        FETCH NEXT FROM PRODUTOS_PRECOS8835 INTO @delPRODUTO,
                                                 @delCODIGO_TAB_PRECO
      END
    END
    CLOSE PRODUTOS_PRECOS9e41
    CLOSE PRODUTOS_PRECOS8835
    DEALLOCATE PRODUTOS_PRECOS9e41
    DEALLOCATE PRODUTOS_PRECOS8835
  END

/*---LINX-CUSTO---------------------------------------------------------------------------------------*/
IF (UPDATE(PRECO1) OR UPDATE(PRECO2) OR UPDATE(PRECO3) OR UPDATE(PRECO4)) AND EXISTS (SELECT * FROM INSERTED WHERE CODIGO_TAB_PRECO=(SELECT VALOR_ATUAL FROM PARAMETROS WHERE PARAMETRO = 'TABELA_PRECO_CUSTO'))
BEGIN
	DECLARE @Fator_Custo real
	SELECT  @Fator_Custo=1
	SELECT 	@Fator_Custo=CONVERT(REAL,ISNULL(VALOR_ATUAL,'1')) FROM PARAMETROS WHERE PARAMETRO = 'FATOR_PRECO_CUSTO'	
	UPDATE 	PRODUTOS
	SET 	CUSTO_REPOSICAO1=PRECO1*@Fator_Custo,
			CUSTO_REPOSICAO2=PRECO2*@Fator_Custo,
			CUSTO_REPOSICAO3=PRECO3*@Fator_Custo,
			CUSTO_REPOSICAO4=PRECO4*@Fator_Custo,
			DATA_PARA_TRANSFERENCIA=PRODUTOS.DATA_PARA_TRANSFERENCIA
	FROM 	INSERTED, PRODUTOS
	WHERE 	INSERTED.CODIGO_TAB_PRECO=(SELECT VALOR_ATUAL FROM PARAMETROS WHERE PARAMETRO = 'TABELA_PRECO_CUSTO')  AND
	        PRODUTOS.PRODUTO = INSERTED.PRODUTO 
	UPDATE 	PRODUTO_CORES
	SET 	CUSTO_REPOSICAO1=PRECO1*@Fator_Custo,
			CUSTO_REPOSICAO2=PRECO2*@Fator_Custo,
			CUSTO_REPOSICAO3=PRECO3*@Fator_Custo,
			CUSTO_REPOSICAO4=PRECO4*@Fator_Custo,
			DATA_PARA_TRANSFERENCIA=PRODUTO_CORES.DATA_PARA_TRANSFERENCIA
	FROM 	INSERTED, PRODUTOS, PRODUTO_CORES
	WHERE 	INSERTED.CODIGO_TAB_PRECO=(SELECT VALOR_ATUAL FROM PARAMETROS WHERE PARAMETRO = 'TABELA_PRECO_CUSTO')  AND
	        PRODUTOS.PRODUTO = INSERTED.PRODUTO AND PRODUTO_CORES.PRODUTO=INSERTED.PRODUTO AND VARIA_PRECO_COR=0

END

IF (UPDATE(PRECO1) OR UPDATE(PRECO2) OR UPDATE(PRECO3) OR UPDATE(PRECO4)) AND EXISTS (SELECT * FROM INSERTED WHERE CODIGO_TAB_PRECO=(SELECT VALOR_ATUAL FROM PARAMETROS WHERE PARAMETRO = 'TABELA_PRECO_COMPRA'))
BEGIN
	UPDATE 	PRODUTOS
	SET 	PRECO_REPOSICAO_1=PRECO1,
		PRECO_REPOSICAO_2=PRECO2,
		PRECO_REPOSICAO_3=PRECO3,
		PRECO_REPOSICAO_4=PRECO4,
		PRECO_A_VISTA_REPOSICAO_1=PRECO1*1.*(1-(1.*ISNULL(PRODUTOS.FABRICANTE_ICMS_ABATER,0)/100))
				/CASE WHEN ISNULL(PRODUTOS.FABRICANTE_PRAZO_PGTO,0) > 0 AND POWER(POWER(1+(ISNULL(PRODUTOS.TAXA_JUROS_DEFLACIONAR,0)/100),(1/30)),ISNULL(PRODUTOS.FABRICANTE_PRAZO_PGTO,0)) <> 0
					THEN POWER(POWER(1+(ISNULL(PRODUTOS.TAXA_JUROS_DEFLACIONAR,0)/100),(1/30)),ISNULL(PRODUTOS.FABRICANTE_PRAZO_PGTO,0))
					ELSE 1 END * (1+(1.*ISNULL(PRODUTOS.FABRICANTE_FRETE,0)/100)) * (1+(1.*ISNULL(PRODUTOS.TAXAS_IMPOSTOS_APLICAR,0)/100)),
		PRECO_A_VISTA_REPOSICAO_2=PRECO2*1.*(1-(1.*ISNULL(PRODUTOS.FABRICANTE_ICMS_ABATER,0)/100))
				/CASE WHEN ISNULL(PRODUTOS.FABRICANTE_PRAZO_PGTO,0) > 0 AND POWER(POWER(1+(1.*ISNULL(PRODUTOS.TAXA_JUROS_DEFLACIONAR,0)/100),(1/30)),ISNULL(PRODUTOS.FABRICANTE_PRAZO_PGTO,0)) <> 0
					THEN POWER(POWER(1+(ISNULL(PRODUTOS.TAXA_JUROS_DEFLACIONAR,0)/100),(1/30)),ISNULL(PRODUTOS.FABRICANTE_PRAZO_PGTO,0))
					ELSE 1 END * (1+(1.*ISNULL(PRODUTOS.FABRICANTE_FRETE,0)/100)) * (1+(1.*ISNULL(PRODUTOS.TAXAS_IMPOSTOS_APLICAR,0)/100)),
		PRECO_A_VISTA_REPOSICAO_3=PRECO3*1.*(1-(1.*ISNULL(PRODUTOS.FABRICANTE_ICMS_ABATER,0)/100))
				/CASE WHEN ISNULL(PRODUTOS.FABRICANTE_PRAZO_PGTO,0) > 0 AND POWER(POWER(1+(ISNULL(PRODUTOS.TAXA_JUROS_DEFLACIONAR,0)/100),(1/30)),ISNULL(PRODUTOS.FABRICANTE_PRAZO_PGTO,0)) <> 0
					THEN POWER(POWER(1+(ISNULL(PRODUTOS.TAXA_JUROS_DEFLACIONAR,0)/100),(1/30)),ISNULL(PRODUTOS.FABRICANTE_PRAZO_PGTO,0))
					ELSE 1 END * (1+(1.*ISNULL(PRODUTOS.FABRICANTE_FRETE,0)/100)) * (1+(1.*ISNULL(PRODUTOS.TAXAS_IMPOSTOS_APLICAR,0)/100)),
		PRECO_A_VISTA_REPOSICAO_4=PRECO4*1.*(1-(1.*ISNULL(PRODUTOS.FABRICANTE_ICMS_ABATER,0)/100))
				/CASE WHEN ISNULL(PRODUTOS.FABRICANTE_PRAZO_PGTO,0) > 0 AND POWER(POWER(1+(ISNULL(PRODUTOS.TAXA_JUROS_DEFLACIONAR,0)/100),(1/30)),ISNULL(PRODUTOS.FABRICANTE_PRAZO_PGTO,0)) <> 0
					THEN POWER(POWER(1+(ISNULL(PRODUTOS.TAXA_JUROS_DEFLACIONAR,0)/100),(1/30)),ISNULL(PRODUTOS.FABRICANTE_PRAZO_PGTO,0))
					ELSE 1 END * (1+(1.*ISNULL(PRODUTOS.FABRICANTE_FRETE,0)/100)) * (1+(1.*ISNULL(PRODUTOS.TAXAS_IMPOSTOS_APLICAR,0)/100)),
		DATA_PARA_TRANSFERENCIA=PRODUTOS.DATA_PARA_TRANSFERENCIA
	FROM 	INSERTED, PRODUTOS
	WHERE 	INSERTED.CODIGO_TAB_PRECO=(SELECT VALOR_ATUAL FROM PARAMETROS WHERE PARAMETRO = 'TABELA_PRECO_COMPRA')  AND
	        PRODUTOS.PRODUTO = INSERTED.PRODUTO 
	UPDATE 	PRODUTO_CORES
	SET 	PRECO_REPOSICAO_1=PRECO1,
			PRECO_REPOSICAO_2=PRECO2,
			PRECO_REPOSICAO_3=PRECO3,
			PRECO_REPOSICAO_4=PRECO4,
			PRECO_A_VISTA_REPOSICAO_1=PRECO1*1.*(1-(1.*ISNULL(PRODUTOS.FABRICANTE_ICMS_ABATER,0)/100))
					/CASE WHEN ISNULL(PRODUTOS.FABRICANTE_PRAZO_PGTO,0) > 0 AND POWER(POWER(1+(ISNULL(PRODUTOS.TAXA_JUROS_DEFLACIONAR,0)/100),(1/30)),ISNULL(PRODUTOS.FABRICANTE_PRAZO_PGTO,0)) <> 0
						THEN POWER(POWER(1+(ISNULL(PRODUTOS.TAXA_JUROS_DEFLACIONAR,0)/100),(1/30)),ISNULL(PRODUTOS.FABRICANTE_PRAZO_PGTO,0))
						ELSE 1 END * (1+(1.*ISNULL(PRODUTOS.FABRICANTE_FRETE,0)/100)) * (1+(1.*ISNULL(PRODUTOS.TAXAS_IMPOSTOS_APLICAR,0)/100)),
			PRECO_A_VISTA_REPOSICAO_2=PRECO2*1.*(1-(1.*ISNULL(PRODUTOS.FABRICANTE_ICMS_ABATER,0)/100))
					/CASE WHEN ISNULL(PRODUTOS.FABRICANTE_PRAZO_PGTO,0) > 0 AND POWER(POWER(1+(1.*ISNULL(PRODUTOS.TAXA_JUROS_DEFLACIONAR,0)/100),(1/30)),ISNULL(PRODUTOS.FABRICANTE_PRAZO_PGTO,0)) <> 0
						THEN POWER(POWER(1+(ISNULL(PRODUTOS.TAXA_JUROS_DEFLACIONAR,0)/100),(1/30)),ISNULL(PRODUTOS.FABRICANTE_PRAZO_PGTO,0))
						ELSE 1 END * (1+(1.*ISNULL(PRODUTOS.FABRICANTE_FRETE,0)/100)) * (1+(1.*ISNULL(PRODUTOS.TAXAS_IMPOSTOS_APLICAR,0)/100)),
			PRECO_A_VISTA_REPOSICAO_3=PRECO3*1.*(1-(1.*ISNULL(PRODUTOS.FABRICANTE_ICMS_ABATER,0)/100))
					/CASE WHEN ISNULL(PRODUTOS.FABRICANTE_PRAZO_PGTO,0) > 0 AND POWER(POWER(1+(ISNULL(PRODUTOS.TAXA_JUROS_DEFLACIONAR,0)/100),(1/30)),ISNULL(PRODUTOS.FABRICANTE_PRAZO_PGTO,0)) <> 0
						THEN POWER(POWER(1+(ISNULL(PRODUTOS.TAXA_JUROS_DEFLACIONAR,0)/100),(1/30)),ISNULL(PRODUTOS.FABRICANTE_PRAZO_PGTO,0))
						ELSE 1 END * (1+(1.*ISNULL(PRODUTOS.FABRICANTE_FRETE,0)/100)) * (1+(1.*ISNULL(PRODUTOS.TAXAS_IMPOSTOS_APLICAR,0)/100)),
			PRECO_A_VISTA_REPOSICAO_4=PRECO4*1.*(1-(1.*ISNULL(PRODUTOS.FABRICANTE_ICMS_ABATER,0)/100))
					/CASE WHEN ISNULL(PRODUTOS.FABRICANTE_PRAZO_PGTO,0) > 0 AND POWER(POWER(1+(ISNULL(PRODUTOS.TAXA_JUROS_DEFLACIONAR,0)/100),(1/30)),ISNULL(PRODUTOS.FABRICANTE_PRAZO_PGTO,0)) <> 0
						THEN POWER(POWER(1+(ISNULL(PRODUTOS.TAXA_JUROS_DEFLACIONAR,0)/100),(1/30)),ISNULL(PRODUTOS.FABRICANTE_PRAZO_PGTO,0))
						ELSE 1 END * (1+(1.*ISNULL(PRODUTOS.FABRICANTE_FRETE,0)/100)) * (1+(1.*ISNULL(PRODUTOS.TAXAS_IMPOSTOS_APLICAR,0)/100)),
			DATA_PARA_TRANSFERENCIA=PRODUTO_CORES.DATA_PARA_TRANSFERENCIA
	FROM 	INSERTED, PRODUTOS, PRODUTO_CORES
	WHERE 	INSERTED.CODIGO_TAB_PRECO=(SELECT VALOR_ATUAL FROM PARAMETROS WHERE PARAMETRO = 'TABELA_PRECO_COMPRA')  AND
	        PRODUTOS.PRODUTO = INSERTED.PRODUTO AND PRODUTO_CORES.PRODUTO=INSERTED.PRODUTO AND VARIA_PRECO_COR=0

END

/*---LINX-UPDATE---------------------------------------------------------------------------------------*/

IF NOT UPDATE(DATA_PARA_TRANSFERENCIA)
BEGIN
	UPDATE 	PRODUTOS_PRECOS 
	SET 	DATA_PARA_TRANSFERENCIA = GETDATE()
	FROM 	PRODUTOS_PRECOS, INSERTED
	WHERE 	PRODUTOS_PRECOS.PRODUTO = INSERTED.PRODUTO and
        PRODUTOS_PRECOS.CODIGO_TAB_PRECO = INSERTED.CODIGO_TAB_PRECO 
		AND (INSERTED.DATA_PARA_TRANSFERENCIA IS NULL 
		OR PRODUTOS_PRECOS.DATA_PARA_TRANSFERENCIA = INSERTED.DATA_PARA_TRANSFERENCIA)
END
/*-----------------------------------------------------------------------------------------------------*/


--/* ----- ATUALIZA TABELAS DE PRECOS DEPENDENTES ----------------------------------------------------------------------*/
IF (EXISTS (SELECT 1 FROM INSERTED A INNER JOIN TABELAS_PRECO B ON A.CODIGO_TAB_PRECO = B.CODIGO_TAB_PRECO_BASE) 
	OR EXISTS (SELECT 1 FROM DELETED A INNER JOIN TABELAS_PRECO B ON A.CODIGO_TAB_PRECO = B.CODIGO_TAB_PRECO_BASE)) 
	AND  (UPDATE(PRECO1) OR UPDATE(PRECO2) OR UPDATE(PRECO3) OR UPDATE(PRECO4) OR UPDATE(PRECO_LIQUIDO1) OR UPDATE(PRECO_LIQUIDO2) OR UPDATE(PRECO_LIQUIDO3) OR UPDATE(PRECO_LIQUIDO4)) --#8#
BEGIN
	DECLARE @CODIGO_TAB_PRECO CHAR(02)

		DELETE 
			D
		FROM 
			DELETED A
			--INNER JOIN FX_RETORNA_TABELAS_FILHAS(@CODIGO_TAB_PRECO) B ON A.CODIGO_TAB_PRECO = B.CODIGO_TAB_PRECO_BASE 
			CROSS APPLY FX_RETORNA_TABELAS_FILHAS(A.CODIGO_TAB_PRECO) B 
			INNER JOIN TABELAS_PRECO C 
				ON B.CODIGO_TAB_PRECO = C.CODIGO_TAB_PRECO 
				AND	C.CODIGO_TAB_PRECO_BASE=B.CODIGO_TAB_PRECO_BASE --#7#
				AND ISNULL(C.BLOQ_ATUALIZACAO_BASE, 0) = 0
			INNER JOIN PRODUTOS_PRECO_LOG D 
				ON C.CODIGO_TAB_PRECO = D.CODIGO_TAB_PRECO AND A.PRODUTO = D.PRODUTO
				
		DELETE 
			D
		FROM 
			DELETED A
			CROSS APPLY FX_RETORNA_TABELAS_FILHAS(A.CODIGO_TAB_PRECO) B 
				INNER JOIN TABELAS_PRECO AS C 
				ON C.CODIGO_TAB_PRECO=B.CODIGO_TAB_PRECO 
				AND	C.CODIGO_TAB_PRECO_BASE=B.CODIGO_TAB_PRECO_BASE --#7#
				AND ISNULL(C.BLOQ_ATUALIZACAO_BASE, 0) = 0 
			INNER JOIN PRODUTOS_PRECOS AS D ON D.CODIGO_TAB_PRECO=B.CODIGO_TAB_PRECO AND D.PRODUTO = A.PRODUTO 


		INSERT INTO PRODUTOS_PRECOS 
			(CODIGO_TAB_PRECO, PRODUTO, PRECO1, PRECO2, PRECO3, PRECO4, LIMITE_DESCONTO, PROMOCAO_DESCONTO, 
			ULT_ATUALIZACAO, INICIO_PROMOCAO, FIM_PROMOCAO, DATA_PARA_TRANSFERENCIA, MARK_UP_PREVISTO, PROMOCAO_ATACADO,
			PRECO_LIQUIDO1,PRECO_LIQUIDO2,PRECO_LIQUIDO3,PRECO_LIQUIDO4) --#1#
		SELECT DISTINCT --#7#
			B.CODIGO_TAB_PRECO, A.PRODUTO, 
			ISNULL(A.PRECO1, 0) * ISNULL(B.PORCENTAGEM_TABELA_BASE, 0) / 100, ISNULL(A.PRECO2, 0) * ISNULL(B.PORCENTAGEM_TABELA_BASE, 0) / 100, 
			ISNULL(A.PRECO3, 0) * ISNULL(B.PORCENTAGEM_TABELA_BASE, 0) / 100, ISNULL(A.PRECO4, 0) * ISNULL(B.PORCENTAGEM_TABELA_BASE, 0) / 100, 
			A.LIMITE_DESCONTO, A.PROMOCAO_DESCONTO, A.ULT_ATUALIZACAO, A.INICIO_PROMOCAO, A.FIM_PROMOCAO, 
			E.DATA_PARA_TRANSFERENCIA, A.MARK_UP_PREVISTO, A.PROMOCAO_ATACADO , 
	/*#1#*/	ISNULL(A.PRECO_LIQUIDO1, 0) * ISNULL(B.PORCENTAGEM_TABELA_BASE, 0) / 100, ISNULL(A.PRECO_LIQUIDO2, 0) * ISNULL(B.PORCENTAGEM_TABELA_BASE, 0) / 100, 
	/*#1#*/	ISNULL(A.PRECO_LIQUIDO3, 0) * ISNULL(B.PORCENTAGEM_TABELA_BASE, 0) / 100, ISNULL(A.PRECO_LIQUIDO4, 0) * ISNULL(B.PORCENTAGEM_TABELA_BASE, 0) / 100
		FROM 
			INSERTED A 
			CROSS APPLY FX_RETORNA_TABELAS_FILHAS(A.CODIGO_TAB_PRECO) B 
				INNER JOIN TABELAS_PRECO AS C ON C.CODIGO_TAB_PRECO=B.CODIGO_TAB_PRECO 
				AND		C.CODIGO_TAB_PRECO_BASE=B.CODIGO_TAB_PRECO_BASE --#7#
				AND ISNULL(C.BLOQ_ATUALIZACAO_BASE, 0) = 0 --#7#
					LEFT JOIN PRODUTOS_PRECOS D 
				ON	B.CODIGO_TAB_PRECO = D.CODIGO_TAB_PRECO 
				AND A.PRODUTO = D.PRODUTO
			--#9#
				INNER JOIN PRODUTOS_PRECOS E
					ON	E.CODIGO_TAB_PRECO = A.CODIGO_TAB_PRECO 
					AND	E.PRODUTO = A.PRODUTO				 
			--#9#
		WHERE D.PRODUTO IS NULL		
		
END
--/* -------------------------------------------------------------------------------------------------------------------*/

/* ----- ATUALIZA PRECO POR FILIAL -----------------------------------------------------------------------------------*/
--#4#
IF EXISTS (	SELECT	1 FROM	INSERTED A 
				INNER JOIN TABELAS_PRECO AS B 
					ON	A.CODIGO_TAB_PRECO=B.CODIGO_TAB_PRECO
				INNER JOIN TABELAS_PRECO_FILIAL C  
					ON (A.CODIGO_TAB_PRECO = C.CODIGO_TAB_PRECO) AND C.GERA_TABELA_LOJA = 1) --#5#
					AND  (UPDATE(PRECO1) OR UPDATE(PRECO2) OR UPDATE(PRECO3) OR UPDATE(PRECO4) OR UPDATE(PRECO_LIQUIDO1) OR UPDATE(PRECO_LIQUIDO2) OR UPDATE(PRECO_LIQUIDO3) OR UPDATE(PRECO_LIQUIDO4)) --#8#

--#4#
BEGIN
/*#3#*/	

with ctePrecoFilial as
		(		
				select	A.CODIGO_TAB_PRECO, A.PRODUTO, A.PRECO1, A.PRECO2, A.PRECO3, A.PRECO4, 
						A.PRECO_LIQUIDO1, A.PRECO_LIQUIDO2, A.PRECO_LIQUIDO3, A.PRECO_LIQUIDO4,
						A.MARK_UP_PREVISTO, A.PROMOCAO_DESCONTO, A.INICIO_PROMOCAO, A.FIM_PROMOCAO
				from	INSERTED A 
				union all
				select	F.CODIGO_TAB_PRECO, A.PRODUTO, A.PRECO1, A.PRECO2, A.PRECO3, A.PRECO4, 
						A.PRECO_LIQUIDO1, A.PRECO_LIQUIDO2, A.PRECO_LIQUIDO3, A.PRECO_LIQUIDO4,
						A.MARK_UP_PREVISTO, A.PROMOCAO_DESCONTO, A.INICIO_PROMOCAO, A.FIM_PROMOCAO
				from	INSERTED A 
				INNER JOIN TABELAS_PRECO F ON A.CODIGO_TAB_PRECO = F.CODIGO_TAB_PRECO_BASE 
		)
		UPDATE E  SET	PRECO1 = A.PRECO1 * CASE WHEN ISNULL(B.FATOR_PRECO_BASE, 0) != 0 THEN B.FATOR_PRECO_BASE ELSE 1 END, 
						PRECO2 = A.PRECO2 * CASE WHEN ISNULL(B.FATOR_PRECO_BASE, 0) != 0 THEN B.FATOR_PRECO_BASE ELSE 1 END, 
						PRECO3 = A.PRECO3 * CASE WHEN ISNULL(B.FATOR_PRECO_BASE, 0) != 0 THEN B.FATOR_PRECO_BASE ELSE 1 END, 
						PRECO4 = A.PRECO4 * CASE WHEN ISNULL(B.FATOR_PRECO_BASE, 0) != 0 THEN B.FATOR_PRECO_BASE ELSE 1 END, 
						PRECO_LIQUIDO1 = A.PRECO_LIQUIDO1 * CASE WHEN ISNULL(B.FATOR_PRECO_BASE, 0) != 0 THEN B.FATOR_PRECO_BASE ELSE 1 END, 
						PRECO_LIQUIDO2 = A.PRECO_LIQUIDO2 * CASE WHEN ISNULL(B.FATOR_PRECO_BASE, 0) != 0 THEN B.FATOR_PRECO_BASE ELSE 1 END, 
						PRECO_LIQUIDO3 = A.PRECO_LIQUIDO3 * CASE WHEN ISNULL(B.FATOR_PRECO_BASE, 0) != 0 THEN B.FATOR_PRECO_BASE ELSE 1 END, 
						PRECO_LIQUIDO4 = A.PRECO_LIQUIDO4 * CASE WHEN ISNULL(B.FATOR_PRECO_BASE, 0) != 0 THEN B.FATOR_PRECO_BASE ELSE 1 END, 
						MARK_UP_PREVISTO = A.MARK_UP_PREVISTO, PROMOCAO_DESCONTO = A.PROMOCAO_DESCONTO, 
						INICIO_PROMOCAO = A.INICIO_PROMOCAO, FIM_PROMOCAO = A.FIM_PROMOCAO,
				/*#2#*/	DATA_PARA_TRANSFERENCIA = F.DATA_PARA_TRANSFERENCIA --#10#
		from  ctePrecoFilial as a
		INNER JOIN TABELAS_PRECO_FILIAL B 
			ON a.CODIGO_TAB_PRECO = B.CODIGO_TAB_PRECO 
		INNER JOIN PRODUTOS C ON A.PRODUTO = C.PRODUTO 
		INNER JOIN PRODUTO_CORES D ON C.PRODUTO = D.PRODUTO 
		INNER JOIN PRODUTOS_PRECO_FILIAL E ON B.CODIGO_TAB_PRECO = E.CODIGO_TAB_PRECO AND B.FILIAL = E.FILIAL AND D.PRODUTO = E.PRODUTO AND D.COR_PRODUTO = E.COR_PRODUTO 
		INNER JOIN PRODUTOS_PRECOS AS F ON F.CODIGO_TAB_PRECO=A.CODIGO_TAB_PRECO AND F.PRODUTO = a.PRODUTO --#10#
		WHERE	B.GERA_TABELA_LOJA = 1 AND B.BLOQ_ATUALIZACAO_BASE = 0 AND C.VARIA_PRECO_COR = 0
/*#3#*/	

	INSERT INTO PRODUTOS_PRECO_FILIAL 
		(CODIGO_TAB_PRECO, FILIAL, PRODUTO, COR_PRODUTO, 
		PRECO1, PRECO2, PRECO3, PRECO4, 
/*#2#*/	DATA_PARA_TRANSFERENCIA, PRECO_LIQUIDO1, PRECO_LIQUIDO2, PRECO_LIQUIDO3, PRECO_LIQUIDO4, 
		MARK_UP_PREVISTO, PROMOCAO_DESCONTO, INICIO_PROMOCAO, FIM_PROMOCAO) 
	SELECT DISTINCT 
		A.CODIGO_TAB_PRECO, B.FILIAL, D.PRODUTO, D.COR_PRODUTO, 
		PRECO1 = A.PRECO1 * CASE WHEN ISNULL(B.FATOR_PRECO_BASE, 0) != 0 THEN B.FATOR_PRECO_BASE ELSE 1 END, 
		PRECO2 = A.PRECO2 * CASE WHEN ISNULL(B.FATOR_PRECO_BASE, 0) != 0 THEN B.FATOR_PRECO_BASE ELSE 1 END, 
		PRECO3 = A.PRECO3 * CASE WHEN ISNULL(B.FATOR_PRECO_BASE, 0) != 0 THEN B.FATOR_PRECO_BASE ELSE 1 END, 
		PRECO4 = A.PRECO4 * CASE WHEN ISNULL(B.FATOR_PRECO_BASE, 0) != 0 THEN B.FATOR_PRECO_BASE ELSE 1 END, 
		DATA_PARA_TRANSFERENCIA = F.DATA_PARA_TRANSFERENCIA,--#10#
		PRECO_LIQUIDO1 = A.PRECO_LIQUIDO1 * CASE WHEN ISNULL(B.FATOR_PRECO_BASE, 0) != 0 THEN B.FATOR_PRECO_BASE ELSE 1 END, 
		PRECO_LIQUIDO2 = A.PRECO_LIQUIDO2 * CASE WHEN ISNULL(B.FATOR_PRECO_BASE, 0) != 0 THEN B.FATOR_PRECO_BASE ELSE 1 END, 
		PRECO_LIQUIDO3 = A.PRECO_LIQUIDO3 * CASE WHEN ISNULL(B.FATOR_PRECO_BASE, 0) != 0 THEN B.FATOR_PRECO_BASE ELSE 1 END, 
		PRECO_LIQUIDO4 = A.PRECO_LIQUIDO4 * CASE WHEN ISNULL(B.FATOR_PRECO_BASE, 0) != 0 THEN B.FATOR_PRECO_BASE ELSE 1 END, 
		0, 0, NULL, NULL 
	FROM 
		INSERTED A 
		INNER JOIN TABELAS_PRECO_FILIAL B ON A.CODIGO_TAB_PRECO = B.CODIGO_TAB_PRECO 
		INNER JOIN PRODUTOS C ON A.PRODUTO = C.PRODUTO 
		INNER JOIN PRODUTO_CORES D ON C.PRODUTO = D.PRODUTO 
		INNER JOIN PRODUTOS_PRECO_FILIAL E ON A.CODIGO_TAB_PRECO = E.CODIGO_TAB_PRECO AND B.FILIAL = E.FILIAL AND D.PRODUTO = E.PRODUTO AND D.COR_PRODUTO = E.COR_PRODUTO 
		INNER JOIN PRODUTOS_PRECOS AS F ON F.CODIGO_TAB_PRECO=A.CODIGO_TAB_PRECO AND F.PRODUTO = a.PRODUTO --#10#
	WHERE
		B.GERA_TABELA_LOJA = 1 AND C.VARIA_PRECO_COR = 0 AND E.FILIAL IS NULL
END
/* -------------------------------------------------------------------------------------------------------------------*/
IF (UPDATE(PRECO1) OR UPDATE(PRECO2) OR UPDATE(PRECO3) OR UPDATE(PRECO4) OR UPDATE(PRECO_LIQUIDO1) OR UPDATE(PRECO_LIQUIDO2) OR UPDATE(PRECO_LIQUIDO3) OR UPDATE(PRECO_LIQUIDO4)) --#8#
BEGIN
	UPDATE C
	SET 
		PRECO1 = C.PRECO1
	FROM 
		INSERTED A
		JOIN PRODUTOS B
			ON	A.PRODUTO=B.PRODUTO --#11#
			AND	B.VARIA_PRECO_COR=1 --#11#
		JOIN PRODUTOS_PRECO_COR C 
			ON	A.CODIGO_TAB_PRECO=C.CODIGO_TAB_PRECO 
			AND A.PRODUTO=C.PRODUTO
			AND C.PRODUTO=B.PRODUTO
		
		--#11#
		--INSERTED A
		--JOIN PRODUTOS_PRECO_COR B ON A.CODIGO_TAB_PRECO=B.CODIGO_TAB_PRECO AND A.PRODUTO=B.PRODUTO		
		--#11#

	UPDATE B
	SET 
		PRECO1 = B.PRECO1
	FROM 
		INSERTED A
		JOIN PRODUTOS_PRECO_LOG B ON A.CODIGO_TAB_PRECO=B.CODIGO_TAB_PRECO AND A.PRODUTO=B.PRODUTO
	WHERE 
		B.DATA_ATIVACAO > GETDATE()

END
--#8#
       
	   If Exists (select 1 from sys.procedures where name = 'LX_ATUALIZA_PAF_ECF_ERP')
		BEGIN 
		    drop procedure LX_ATUALIZA_PAF_ECF_ERP
		end

	--VERIFICA SE A PROCEDURE EXISTE , BANCO ONLINE SE EXISTIR EXECUTA --#5#
		If Exists (select 1 from sys.procedures where name = 'LX_ATUALIZA_PAF_ECF_ERP')
		BEGIN 
		   select  @Produto = PRODUTO from inserted--#12#
			EXEC LX_ATUALIZA_PAF_ECF_ERP 'PRODUTOS_PRECOS','U','',@Produto  --#12#
		END 


	return
error:
    raiserror (@errmsg, 16, 1)
    rollback transaction
end