USE [CAEDU]
GO
/****** Object:  StoredProcedure [dbo].[LX_CM_COMPOSICAO_CUSTO_PA]    Script Date: 19/06/2026 12:00:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[LX_CM_COMPOSICAO_CUSTO_PA] @COD_CUSTO_MEDIO AS CHAR(8), @EMPRESA AS INT
AS

	------------------------------------------------------------------------------------------------------------------------------------------------
	-- PROCEDURE PARA GERAÇÃO DA TABELA CM_ESTOQUE_PA --
	------------------------------------------------------------------------------------------------------------------------------------------------
	-- 05/09/2024 - DIEGO QUARESMA	- #22# - LINXERP-18900  - TRATAMENTO PARA INSERIR O CARDEX NA TABELA DBO.CM_CARDEX_PA_COMPOSICAO, (QUANDO O PARAMETRO ESTIVER COMO 'SIM' A TABELA SERA ALIMENTADA NO FECHAMENTO DE CUSTO MEDIO)
	-- 17/07/2023 - RODRIGO SOUZA   - #21# - PRODSHOP-20334 - Ajuste no item de composição para entradas de conserto para não fazer parte da composição do custo.
	-- 17/03/2022 - RODRIGO SOUZA   - #20# - PRODSHOP-11451 - Correção para exibir corretamente o valor do item de composição 028. 
	-- 11/01/2021 - RODRIGO SOUZA   - #19# - SUSTSP-2091	- Correção para não filtrar somente itens com a quantidade maior que zero pois não estava incluindo
	--														   itens de ajuste de custo que neste caso não possuem quantidade.
	-- 05/06/2020 - Diego Quaresma   - #18# - LINXERP-2392 - Consulta Fechamento Custo Médio para atender ao bloco do H030 do Sped fiscal.
	-- 13/11/2019 - ADALBERTO (WAFX) - #17# - MODASP-8295  - tratando quantidade igual a null.
	-- 05/02/2019 - SZALONTAI       - #16# - DEMANDA 109098 - ADIÇÃO DE FILTRO PARA TRAZER SOMENTE COR DIFERENTE DE '' QUANDO O CUSTO FOR POR COR
	-- 15/08/2018 - RODRIGO SOUZA   - #15# - DEMANDA 71189 - Adicionada a variavel @COD_CUSTO_MEDIO na chamada da função FX_CM_MONTA_CARDEX_PA para valorizar corretamente os itens de devolução.
	-- 20/04/2018 - RODRIGO SOUZA   - #14# - DEMANDA 71580 - Correção no valor e na quantidade do item de ajuste 902.
	-- 02/02/2016 - SZALONTAI		- #13# - DEMANDA 68708 - RETIRADA DE TRATAMENTO PARA LANCAMENTO DE AJUSTE MANUAL DE CUSTO.
	-- 02/06/2017 - JAQUE LAURENTI/RODRIGO SOUZA   - 33829 - #12#  - ID PROBLEMA EM DIVISÃO COM 0 
	-- 28/03/2017 - ANDRÉ  PEREIRA  - #11# - DEMANDA 95	   - 01.17 - ADICIONADO TRATAMENTO PARA LANCAMENTO DE AJUSTE MANUAL DE CUSTO.
	-- 10/03/2017 - CARLOS ALBERTO  - #10# - DEMANDA 24975 - 01.17 - ALTERAÇÃO DO TAMANHO DO CAMPO COD_TERCEIRO DE CHAR(6) PARA VARCHAR(14).
	-- 10/03/2017 - CARLOS ALBERTO  - #10# - DEMANDA 24975 - 01.17 - ALTERAÇÃO DO TAMANHO DO CAMPO COD_TERCEIRO DE CHAR(6) PARA VARCHAR(14).
	-- 20/10/2016 - DIEGO QUARESMA  - #9# - DEMANDA 10071 - Correção na geração do item de composição 029.
	-- 29/06/2016 - DIEGO QUARESMA  - #8# - DEMANDA 2323 - REESTRURAÇÃO DO CUSTO (IMPLEMENTAÇÃO DE MERGE).
	-- 21/07/2016 - RODRIGO SOUZA   - #7# - DEMANDA 4493 - Correção no valor do item de ajuste.
	-- 12/04/2016 - RODRIGO SOUZA   - #6# - DEMANDA 2328 - Adicionada a coluna VALOR_CALC que é atualizada na geração do item 000 com a quantidade multiplicada pelo custo médio 
	-- 02/02/2016 - SZALONTAI		- #5# - DEMANDA 1658 - TRATAMENTO DE CUSTO POR MATRIZ CONTABIL
	-- 14/01/2016 - SZALONTAI		- #4# - DEMANDA 1471 - ADIÇÃO DE TRATAMENTO PARA USAR O CAMPO COR QUANDO O CUSTO FOR POR COR
	-- 26/09/2014 - DIEGO QUARESMA	- #3# - TP 5930841 - TRATAMENTO PARA CRIAR O ITEM DE COMPOSICAO 500 - SALDO INICIAL DE TRANSITO.
	-- 04/06/2013 - DIEGO QUARESMA	- #2# - ALTERAR GERAÇÃO DO CAMPO DATA_SALDO QUANDO FOR FECHAMENTO DIÁRIO PARA OS ITENS DE COMPOSIÇÃO 902 / 904
	-- 04/06/2013 - SAMUEL			- #1# - ALTERAR GERAÇÃO DO CAMPO DATA_SALDO QUANDO FOR FECHAMENTO DIÁRIO PARA OS ITENS DE COMPOSIÇÃO 902 / 904
	-- 20/10/2012 - SAMUEL - NÃO GERAR  ITEM DE COMPOSICAO 029 PARA MERCADORIAS EM TRANSITO COM EMISSAO POSTERIOR A DO FIM FECHAMENTO
	-- 20/03/2012 - FELIPE		  - IMPLEMENTADO TRATAMENTO DE AJSUTE AUTOMATICO, ITENS DE COMPOSI‹O: 902, 904
	-- 30/05/2011 - FABIANO BANIN - GRAVAÇÃO DO COD_TERCEIRO NA TABELA DE COMPOSIÇÃO.
	-- 21/02/2011 - FABIANO BANIN - VERIFICAÇÃO DO NOVO CAMPO INDICA_CUSTO_BRUTO.
	-- 10/02/2011 - FELIPE		  - TRATAMENTO PARA FECHAMENTO CM DE MULTIPLAS EMPRESAS (@EMPRESA=-1)
	-- 10/02/2011 - FABIANO BANIN - COLOCADO O FILTRO PARA QUE NÃO TRAGA O SALDO ANTERIOR DAS FILIAIS CUJO FLAG DE FECHAMENTO DE CUSTO NÃO ESTEJA
	--                              MARCADO.
	-- 17/02/2010 - FABIANO BANIN - VERIFICAR SE A DATA DO CARDEX É NULA NA TRANSFERÊNCIA DO IPI.
	-- 14/09/2009 - FABIANO BANIN - AJUSTE NA TRANSFERENCIA DO IPI, QUANDO A FILIAL DE ENTRADA É UMA LOJA E A FILIAL DE SAÍDA NÃO É UMA LOJA
	--                              DEVE-SE SOMAR O IPI, CASO A FILIAL DE ENTRADA SEJA UMA FÁBRICA E A DE SAÍDA SEJA UMA LOJA DEVE-SE SUBTRAIR O 
	--                              IPI, CASO CONTRÁRIO NÃO DEVE SER FEITO A RECUPERAÇÃO DO IPI.
	-- 11/09/2009 - FABIANO BANIN - ACERTO NO FILTRO DA RECUPERAÇÃO DE IPI, NÃO ESTAVA PEGANDO AS NOTAS APENAS DO PERÍODO DO CUSTO MÉDIO,
	--                              PEGAVA SEMPRE TODAS AS NOTAS.
	-- 17/04/2009 - FABIANO BANIN - INCLUSÃO DO PARÂMETRO DO CARDEX.
	-- 21/10/2008 - FELIPE - INCLUI SALDO MENOR ZERO DO SALDO INICIAL
	-- 08/10/2008 - FELIPE - EXCLUI SALDO ZERO DO SALDO INICIAL
	-- 06/10/2008 - FELIPE - TRATAMENTO PARA CUSTO MEDIO ANTERIOR QUE NAO POSSUI ITEM COMPOSICAO 999
	-- 31/03/2008 - FELIPE - NOVO PROCESSO (SEM FAIXA DE CUSTO)
	------------------------------------------------------------------------------------------------------------------------------------------------

	SET NOCOUNT ON

	----------------------
	-- INICIO DECLARACOES
	----------------------

	DECLARE @MATRIZ_FISCAL AS BIT, 
			@PRODUTO AS CHAR(12), 
			@COR_PRODUTO AS CHAR(10), 
			@FILIAL AS VARCHAR(25), 
			@COD_CUSTO_ANTERIOR AS CHAR(8),
	        @DATA_SALDO AS DATETIME, 
			@DATA_SALDO_ANTERIOR AS DATETIME, 
			@FECHAMENTO_DIARIO AS BIT, 
			@IS_PRODUCAO AS BIT, 
			@ARBITRADO_PA INT, 
	        @DATA_CARDEX AS DATETIME, 
			@CUSTO_COR BIT, 
			@CALCULA_CUSTO_PRODUCAO_PA AS BIT, 
			@SEMI_ACABADO TINYINT, 
			@CONSERTO BIT, 
	        @INDICA_CUSTO_BRUTO BIT,
			@CALCULA_CUSTO_POR_FILIAL AS BIT,/*#5#*/
			@VALIDA_QTDE INT

	-------------------
	-- TABELA MERGE #8#
	-------------------

	DECLARE @CM_FILIAL TABLE (FILIAL VARCHAR(25) COLLATE DATABASE_DEFAULT NOT NULL, PRIMARY KEY ( FILIAL ) )

	DECLARE @CM_ESTOQUE_PA_COMPOSICAO TABLE	 (COD_CUSTO_MEDIO			CHAR(8)		COLLATE DATABASE_DEFAULT	NOT NULL,
												PRODUTO					CHAR(12)	COLLATE DATABASE_DEFAULT	NOT NULL,
												COR_PRODUTO				CHAR(10)	COLLATE DATABASE_DEFAULT	NOT NULL,
												FILIAL					VARCHAR(25)	COLLATE DATABASE_DEFAULT	NOT NULL,
												DATA_SALDO				DATETIME,
												QTDE					INT,
												VALOR					NUMERIC(17,5), --#8#
												VALOR_CALC				NUMERIC(17,5), --#8#
												ITEM_COMPOSICAO			CHAR(10),
												CONTA_CONTABIL			VARCHAR(20)	COLLATE DATABASE_DEFAULT,
												COD_FILIAL_ORIGEM		CHAR(10),
												RATEIO_FILIAL			VARCHAR(15)	COLLATE DATABASE_DEFAULT,
												RATEIO_CENTRO_CUSTO		VARCHAR(15)	COLLATE DATABASE_DEFAULT,
												COD_TERCEIRO			VARCHAR(14)	COLLATE DATABASE_DEFAULT,	/*#99#*/
												ID_MOVIMENTO			INT IDENTITY(1,1) NOT NULL,	
												--#18#
												VL_ICMS_OP	 NUMERIC(14,2) NULL,
											    VL_FCP		 NUMERIC(14,2) NULL,
											    VL_BC_ICMS_ST NUMERIC(14,2) NULL,
											    VL_FCP_ST	 NUMERIC(14,2) NULL,
											    VL_ICMS_ST	 NUMERIC(14,2) NULL
											    --#18#
											    
												PRIMARY KEY ( ID_MOVIMENTO ) )
	-------------------
	-- TABELA MERGE #8# 
	-------------------

	----------------------
	-- FIM DECLARACOES #8#
	----------------------

	SELECT	@MATRIZ_FISCAL = 0,
			@DATA_SALDO = A.DATA_SALDO,
			@COD_CUSTO_ANTERIOR = A.COD_CUSTO_MEDIO_ANTERIOR,
			@DATA_SALDO_ANTERIOR = B.DATA_SALDO,
			@FECHAMENTO_DIARIO = A.FECHAMENTO_DIARIO,
			@IS_PRODUCAO = CAST(( CASE WHEN A.TIPO_MOVIMENTO = ISNULL(DBO.FX_PARAMETRO('MOVIMENTO_PADRAO'), 0) THEN 1 ELSE 0 END ) AS TINYINT),
			@CUSTO_COR = ISNULL(A.FECHA_CUSTO_COR_PA, 1), 
			@CALCULA_CUSTO_PRODUCAO_PA = A.CALCULA_CUSTO_PRODUCAO_PA, 
			@ARBITRADO_PA = A.TIPO_CUSTO_PRODUCAO_PA, 
			@INDICA_CUSTO_BRUTO = A.INDICA_CUSTO_BRUTO, 
			@CALCULA_CUSTO_POR_FILIAL = A.CALCULA_CUSTO_POR_FILIAL/*#5#*/
	FROM CM_FECHAMENTO_CUSTO_MEDIO AS A (NOLOCK)
	     LEFT JOIN CM_FECHAMENTO_CUSTO_MEDIO AS B (NOLOCK) ON A.COD_CUSTO_MEDIO_ANTERIOR = B.COD_CUSTO_MEDIO
	WHERE A.COD_CUSTO_MEDIO = @COD_CUSTO_MEDIO


	SELECT @DATA_CARDEX = ( CASE WHEN @DATA_SALDO_ANTERIOR IS NOT NULL THEN DATEADD(DAY, 1, @DATA_SALDO_ANTERIOR) ELSE NULL END )


	IF @CALCULA_CUSTO_PRODUCAO_PA = 1
	BEGIN
		DECLARE CUR_SEMI_ACABADO CURSOR FAST_FORWARD FOR
		SELECT DISTINCT ISNULL(SEMI_ACABADO,0), 0
		FROM PRODUTOS 
		ORDER BY 1

		OPEN CUR_SEMI_ACABADO
		
		FETCH NEXT FROM CUR_SEMI_ACABADO INTO @SEMI_ACABADO, @CONSERTO

		WHILE @@FETCH_STATUS = 0
		BEGIN

			EXECUTE LX_CM_PRODUCAO_PA @COD_CUSTO_MEDIO, @EMPRESA, @ARBITRADO_PA, @SEMI_ACABADO, @CONSERTO
			FETCH NEXT FROM CUR_SEMI_ACABADO INTO @SEMI_ACABADO, @CONSERTO

		END --WHILE @@FETCH_STATUS = 0

		CLOSE CUR_SEMI_ACABADO
		DEALLOCATE CUR_SEMI_ACABADO
	END

--------------------------------------------------------------------------------------------------------------------------------
-- #21# - CORREÇÃO DE ITEM DE COMPOSIÇÃO EM ROMANEIOS DE ENTRADAS DE OP DE CONSERTO - INICIO
--------------------------------------------------------------------------------------------------------------------------------

IF EXISTS 
(
	SELECT	TOP 1 1
	FROM	ESTOQUE_PROD_ENT A 
		JOIN PRODUCAO_ORDEM B ON A.ORDEM_PRODUCAO=B.ORDEM_PRODUCAO
	WHERE	B.TIPO_PROCESSO=2 
	AND		A.CM_OPERACAO<>'007' 
	AND		A.EMISSAO BETWEEN @DATA_SALDO_ANTERIOR+1 AND @DATA_SALDO
)
BEGIN 
	UPDATE	A 
	SET		A.CM_OPERACAO = '007'
	FROM	ESTOQUE_PROD_ENT A 
		JOIN PRODUCAO_ORDEM B ON A.ORDEM_PRODUCAO=B.ORDEM_PRODUCAO
	WHERE	B.TIPO_PROCESSO=2 
	AND		A.CM_OPERACAO<>'007' 
	AND		A.EMISSAO BETWEEN @DATA_SALDO_ANTERIOR+1 AND @DATA_SALDO
END 

--------------------------------------------------------------------------------------------------------------------------------
-- #21# - CORREÇÃO DE ITEM DE COMPOSIÇÃO EM ROMANEIOS DE ENTRADAS DE OP DE CONSERTO - fim
--------------------------------------------------------------------------------------------------------------------------------


	-- 20/10/2012 - SAMUEL - ACERTO MOV. EM TRANSITO
	IF EXISTS (SELECT 1 FROM LOJA_ENTRADAS WHERE EMISSAO < @DATA_SALDO+1 AND ENTRADA_CONFERIDA=0)
	BEGIN 
		IF EXISTS (SELECT DBO.FX_PARAMETRO('ALTERAR_DATA_MOV_TRANSITO') WHERE ISNULL(DBO.FX_PARAMETRO('ALTERAR_DATA_MOV_TRANSITO'),'.F.') = '.T.')
		BEGIN 
			SELECT DISTINCT DATA_SALDO, FILIAL 
			FROM ESTOQUE_PRODUTOS_HISTORICO 
				 INNER JOIN ( SELECT MIN(EMISSAO) AS MINIMO, MAX(EMISSAO) AS MAXIMO
							  FROM LOJA_ENTRADAS 
							  WHERE EMISSAO < @DATA_SALDO+1 AND 
									ENTRADA_CONFERIDA = 0 
							) B ON DATA_SALDO >= MINIMO OR DATA_SALDO >= MAXIMO 
			ORDER BY DATA_SALDO

			UPDATE LOJA_ENTRADAS SET DATA_SAIDA = ISNULL(DATA_SAIDA,EMISSAO), EMISSAO = @DATA_SALDO+1, 
				DATA_PARA_TRANSFERENCIA=DATA_PARA_TRANSFERENCIA 
				WHERE EMISSAO < @DATA_SALDO+1 AND ENTRADA_CONFERIDA=0
		END 
	END

	------------------------------------------------------------------------------------------------------------------------------------------------
	-- INSERE NA TABELA DE COMPOSIÇÃO OS REGISTRO DO CUSTO ANTERIOR
	------------------------------------------------------------------------------------------------------------------------------------------------

	IF @COD_CUSTO_ANTERIOR IS NOT NULL
	BEGIN

	IF NOT EXISTS( SELECT * FROM CM_ESTOQUE_PA_COMPOSICAO WHERE COD_CUSTO_MEDIO = @COD_CUSTO_ANTERIOR AND ITEM_COMPOSICAO = '999' )
	BEGIN
		INSERT INTO @CM_ESTOQUE_PA_COMPOSICAO ( COD_CUSTO_MEDIO, PRODUTO, COR_PRODUTO, FILIAL, DATA_SALDO, QTDE, VALOR, ITEM_COMPOSICAO, 
			                                    COD_FILIAL_ORIGEM, COD_TERCEIRO, VL_ICMS_OP, VL_FCP, VL_BC_ICMS_ST, VL_ICMS_ST, VL_FCP_ST ) --#18#
		SELECT	@COD_CUSTO_MEDIO, A.PRODUTO, ( CASE WHEN @CUSTO_COR = 1 THEN A.COR_PRODUTO ELSE '' END ) AS COR_PRODUTO, A.FILIAL, 
				( CASE WHEN @FECHAMENTO_DIARIO = 1 THEN A.DATA_SALDO ELSE @DATA_SALDO END ) AS DATA_SALDO, SUM(A.QTDE_SALDO) AS QTDE, 
				SUM(A.VALOR_SALDO) AS VALOR, '000' AS ITEM_COMPOSICAO, F.COD_FILIAL, '' AS COD_TERCEIRO,
				SUM(ISNULL(VL_ICMS_OP,0)), SUM(ISNULL(VL_FCP,0)), SUM(ISNULL(VL_BC_ICMS_ST,0)), SUM(ISNULL(VL_ICMS_ST,0)), SUM(ISNULL(VL_FCP_ST,0)) --#18#
		FROM CM_ESTOQUE_PA A
				INNER JOIN FILIAIS F ON F.FILIAL = A.FILIAL
		WHERE	A.COD_CUSTO_MEDIO = @COD_CUSTO_ANTERIOR 
				AND A.DATA_SALDO = @DATA_SALDO_ANTERIOR 
				AND F.FECHA_CUSTO_MEDIO = 1
				/*#5# - INÍCIO*/
 				AND (
						(	
							@CALCULA_CUSTO_POR_FILIAL=1
							AND  
							EXISTS (SELECT COD_CUSTO_MEDIO FROM CM_FECHAMENTO_CUSTO_MEDIO_FILIAIS FF WHERE FF.COD_CUSTO_MEDIO = @COD_CUSTO_MEDIO AND F.COD_FILIAL = FF.COD_FILIAL) 
						)
							OR 
						(
							@CALCULA_CUSTO_POR_FILIAL=0
						)
					)
				/*#5# - FIM*/
		GROUP BY A.PRODUTO, ( CASE WHEN @CUSTO_COR=1 THEN A.COR_PRODUTO ELSE '' END ), A.FILIAL, 
			        ( CASE WHEN @FECHAMENTO_DIARIO = 1 THEN A.DATA_SALDO ELSE @DATA_SALDO END ), F.COD_FILIAL
		HAVING SUM(A.QTDE_SALDO) <> 0 OR SUM(A.VALOR_SALDO) <> 0
	
	END
	ELSE
	BEGIN		
			INSERT INTO @CM_ESTOQUE_PA_COMPOSICAO ( COD_CUSTO_MEDIO, PRODUTO, COR_PRODUTO, FILIAL, DATA_SALDO, QTDE, VALOR, ITEM_COMPOSICAO, 
			                                       COD_FILIAL_ORIGEM, COD_TERCEIRO ,VALOR_CALC, VL_ICMS_OP, VL_FCP, VL_BC_ICMS_ST, VL_ICMS_ST, VL_FCP_ST) --#6# --#18#
			SELECT	@COD_CUSTO_MEDIO, A.PRODUTO, ( CASE WHEN @CUSTO_COR = 1 THEN A.COR_PRODUTO ELSE '' END ) AS COR_PRODUTO, A.FILIAL, 
					( CASE WHEN @FECHAMENTO_DIARIO = 1 THEN A.DATA_SALDO ELSE @DATA_SALDO END ) AS DATA_SALDO, SUM(A.QTDE) AS QTDE, 
					SUM(A.VALOR) AS VALOR, 
					( CASE A.ITEM_COMPOSICAO WHEN '999' THEN '000' ELSE LTRIM(RTRIM(STR(( A.ITEM_COMPOSICAO - 99 )))) END ) AS ITEM_COMPOSICAO, 
					F.COD_FILIAL, ( CASE A.ITEM_COMPOSICAO WHEN '999' THEN '' ELSE A.COD_TERCEIRO END ) AS COD_TERCEIRO, SUM(B.QTDE_SALDO * ISNULL(B.CUSTO_MEDIO_UNITARIO,0)), --#6#
					SUM(ISNULL(A.VL_ICMS_OP,0)), SUM(ISNULL(A.VL_FCP,0)), SUM(ISNULL(A.VL_BC_ICMS_ST,0)), SUM(ISNULL(A.VL_ICMS_ST,0)), SUM(ISNULL(A.VL_FCP_ST,0)) --#18#
			FROM	CM_ESTOQUE_PA_COMPOSICAO AS A
					INNER JOIN FILIAIS AS F ON F.FILIAL = A.FILIAL
				--#6#
					LEFT JOIN CM_ESTOQUE_PA AS B
						ON	A.COD_CUSTO_MEDIO = B.COD_CUSTO_MEDIO 
						AND	A.PRODUTO = B.PRODUTO 
						AND A.COR_PRODUTO = B.COR_PRODUTO 
						AND A.FILIAL = B.FILIAL 
						AND A.DATA_SALDO = B.DATA_SALDO 
				--#6#
			WHERE	A.COD_CUSTO_MEDIO = @COD_CUSTO_ANTERIOR 
					AND A.DATA_SALDO = @DATA_SALDO_ANTERIOR 
					AND A.ITEM_COMPOSICAO IN ( '999', '199', '299', '399', '499', '599', '699' ) 
					AND F.FECHA_CUSTO_MEDIO = 1
				  	/*#5# - Início*/
 					AND (
							(	
								@CALCULA_CUSTO_POR_FILIAL=1
								AND  
								EXISTS (SELECT COD_CUSTO_MEDIO FROM CM_FECHAMENTO_CUSTO_MEDIO_FILIAIS FF WHERE FF.COD_CUSTO_MEDIO = @COD_CUSTO_MEDIO AND F.COD_FILIAL = FF.COD_FILIAL) 
							)
								OR 
							(
								@CALCULA_CUSTO_POR_FILIAL=0
							)
						)
					/*#5# - Fim*/
			GROUP BY A.PRODUTO, ( CASE WHEN @CUSTO_COR = 1 THEN A.COR_PRODUTO ELSE '' END ), A.FILIAL, 
			         ( CASE WHEN @FECHAMENTO_DIARIO = 1 THEN A.DATA_SALDO ELSE @DATA_SALDO END ), F.COD_FILIAL, A.ITEM_COMPOSICAO, 
			         ( CASE A.ITEM_COMPOSICAO WHEN '999' THEN '' ELSE A.COD_TERCEIRO END )
			HAVING SUM(A.QTDE) <> 0 
			       OR SUM(A.VALOR) <> 0
	END

	--#3#
	-- INSERE SALDO INICIAL (ESTOQUE EM TRANSITO) DE ACORDO COM O SALDO DE ESTOQUE EM TRANSITO DO MÊS ANTERIOR.	
	INSERT INTO @CM_ESTOQUE_PA_COMPOSICAO ( COD_CUSTO_MEDIO, PRODUTO, COR_PRODUTO, FILIAL, DATA_SALDO, ITEM_COMPOSICAO, QTDE, VALOR, 
		                                    COD_FILIAL_ORIGEM, COD_TERCEIRO, VALOR_CALC,  VL_ICMS_OP, VL_FCP, VL_BC_ICMS_ST, VL_ICMS_ST, VL_FCP_ST) --#6#
	SELECT @COD_CUSTO_MEDIO, A.PRODUTO, A.COR_PRODUTO, A.FILIAL, ( CASE WHEN @FECHAMENTO_DIARIO = 1 THEN A.DATA_SALDO ELSE @DATA_SALDO END ), '500' AS ITEM_COMPOSICAO, A.QTDE AS QTDE, 
			A.VALOR AS VALOR, A.COD_FILIAL_ORIGEM, '' AS COD_TERCEIRO, A.VALOR, --#6#
			ISNULL(VL_ICMS_OP,0), ISNULL(VL_FCP,0), ISNULL(VL_BC_ICMS_ST,0), ISNULL(VL_ICMS_ST,0), ISNULL(VL_FCP_ST,0)
	FROM	CM_ESTOQUE_PA_COMPOSICAO A
	WHERE	A.COD_CUSTO_MEDIO = @COD_CUSTO_ANTERIOR AND
		    A.ITEM_COMPOSICAO='029'
			/*#5# - Início*/
 			AND (
					(	
						@CALCULA_CUSTO_POR_FILIAL=1
						AND  
						EXISTS (SELECT COD_CUSTO_MEDIO 
								FROM CM_FECHAMENTO_CUSTO_MEDIO_FILIAIS FF 
								INNER JOIN FILIAIS F ON  F.COD_FILIAL = FF.COD_FILIAL
								WHERE FF.COD_CUSTO_MEDIO = @COD_CUSTO_MEDIO AND A.FILIAL = F.FILIAL) 
					)
						OR 
					(
						@CALCULA_CUSTO_POR_FILIAL=0
					)
				)
			/*#5# - Fim*/
	--#3#
	
	-- Insere Revers‹o do Ajuste de Custo (902 AJUSTE REV.-ESTOQUE NEGATIVO)  -- Felipe 20/03/2012
	INSERT INTO @CM_ESTOQUE_PA_COMPOSICAO ( COD_CUSTO_MEDIO, PRODUTO, COR_PRODUTO, FILIAL, DATA_SALDO, ITEM_COMPOSICAO, QTDE, VALOR, 
		                                    COD_FILIAL_ORIGEM, COD_TERCEIRO , VALOR_CALC, --#6#
											VL_ICMS_OP, VL_FCP, VL_BC_ICMS_ST, VL_ICMS_ST, VL_FCP_ST)
	SELECT @COD_CUSTO_MEDIO, A.PRODUTO, A.COR_PRODUTO, A.FILIAL, ( CASE WHEN @FECHAMENTO_DIARIO = 1 THEN A.DATA_SALDO ELSE @DATA_SALDO END ) /*#1#*/, '902' AS ITEM_COMPOSICAO, A.QTDE*-1 /*#14#*/ AS QTDE, 
			A.VALOR*-1 /*--#7#--#14#*/ AS VALOR, A.COD_FILIAL_ORIGEM, '' AS COD_TERCEIRO , A.VALOR, --#6#
			ISNULL(VL_ICMS_OP,0), ISNULL(VL_FCP,0), ISNULL(VL_BC_ICMS_ST,0), ISNULL(VL_ICMS_ST,0), ISNULL(VL_FCP_ST,0) --#18#
	FROM	CM_ESTOQUE_PA_COMPOSICAO A
	WHERE	A.COD_CUSTO_MEDIO = @COD_CUSTO_ANTERIOR AND
		    A.ITEM_COMPOSICAO='901'	       		 
			/*#5# - Início*/
 			AND (
					(	
						@CALCULA_CUSTO_POR_FILIAL=1
						AND  
						EXISTS (SELECT COD_CUSTO_MEDIO 
								FROM CM_FECHAMENTO_CUSTO_MEDIO_FILIAIS FF 
								INNER JOIN FILIAIS F ON  F.COD_FILIAL = FF.COD_FILIAL
								WHERE FF.COD_CUSTO_MEDIO = @COD_CUSTO_MEDIO AND A.FILIAL = F.FILIAL) 
					)
						OR 
					(
						@CALCULA_CUSTO_POR_FILIAL=0
					)
				)
			/*#5# - Fim*/
		
	-- INSERE REVERS‹O DO AJUSTE DE CUSTO (904) PARA PRODUTOS COM SALDO EM QTDE 0 MAS COM SALDO EM VALOR -- FELIPE 20/03/2012
	INSERT INTO @CM_ESTOQUE_PA_COMPOSICAO ( COD_CUSTO_MEDIO, PRODUTO, COR_PRODUTO, FILIAL, DATA_SALDO, ITEM_COMPOSICAO, QTDE, VALOR, 
		                                    COD_FILIAL_ORIGEM, COD_TERCEIRO, VALOR_CALC, --#6#
											 VL_ICMS_OP, VL_FCP, VL_BC_ICMS_ST, VL_ICMS_ST, VL_FCP_ST) --#18# 
	SELECT	@COD_CUSTO_MEDIO, A.PRODUTO, A.COR_PRODUTO, A.FILIAL, ( CASE WHEN @FECHAMENTO_DIARIO = 1 THEN A.DATA_SALDO ELSE @DATA_SALDO END ) /*#1#*/, '904' AS ITEM_COMPOSICAO, 0 AS QTDE, 
			A.VALOR*-1 AS VALOR, A.COD_FILIAL_ORIGEM, '' AS COD_TERCEIRO, A.VALOR, --#6#
			ISNULL(VL_ICMS_OP,0), ISNULL(VL_FCP,0), ISNULL(VL_BC_ICMS_ST,0), ISNULL(VL_ICMS_ST,0), ISNULL(VL_FCP_ST,0) --#18#
	FROM	CM_ESTOQUE_PA_COMPOSICAO A
	WHERE	A.COD_CUSTO_MEDIO = @COD_CUSTO_ANTERIOR AND
		    A.ITEM_COMPOSICAO='903'	       		 
			/*#5# - Início*/
 			AND (
					(	
						@CALCULA_CUSTO_POR_FILIAL=1
						AND  
						EXISTS (SELECT COD_CUSTO_MEDIO 
								FROM CM_FECHAMENTO_CUSTO_MEDIO_FILIAIS FF 
								INNER JOIN FILIAIS F ON  F.COD_FILIAL = FF.COD_FILIAL
								WHERE FF.COD_CUSTO_MEDIO = @COD_CUSTO_MEDIO AND A.FILIAL = F.FILIAL) 
					)
						OR 
					(
						@CALCULA_CUSTO_POR_FILIAL=0
					)
				)
			/*#5# - Fim*/
	END


	------------------------------------------------------------------------------------------------------------------------------------------------
	-- CRIA UM CURSOR LOCAL COM OS PRODUTOS/CORES/FILIAIS A SEREM FECHADOS.
	------------------------------------------------------------------------------------------------------------------------------------------------
	
	--#8#
	INSERT INTO @CM_FILIAL	
	SELECT DISTINCT C.FILIAL
	FROM FILIAIS AS C
	WHERE	(C.EMPRESA = @EMPRESA OR @EMPRESA=-1) AND C.FECHA_CUSTO_MEDIO = 1	/*#5# - INÍCIO*/
 			AND (
					(	
						@CALCULA_CUSTO_POR_FILIAL=1
						AND  
						EXISTS (SELECT COD_CUSTO_MEDIO FROM CM_FECHAMENTO_CUSTO_MEDIO_FILIAIS F WHERE F.COD_CUSTO_MEDIO = @COD_CUSTO_MEDIO AND C.COD_FILIAL = F.COD_FILIAL) 
					)
						OR 
					(
						@CALCULA_CUSTO_POR_FILIAL=0
					)
				)	/*#5# - FIM*/
	--#8#	

	-------------------------------------------------------
	-- INICIO INSERE ITENS COM IPI NA TABELA DE COMPOSIÇÃO
	-------------------------------------------------------
	--#8# 
	IF DBO.FX_PARAMETRO('CM_UTILIZA_TRANSF_IPI') = '.T.' 
	BEGIN
			
		DECLARE @CM_PORC_TRANSF_IPI AS NUMERIC(10,7)

		SELECT @CM_PORC_TRANSF_IPI = ISNULL(CAST(DBO.FX_PARAMETRO('CM_PORC_TRANSF_IPI') AS NUMERIC(10,7)), 100)

		SELECT @CM_PORC_TRANSF_IPI = 100 
		WHERE NOT @CM_PORC_TRANSF_IPI BETWEEN 0 AND 100

		IF NOT EXISTS( SELECT * FROM CM_ITEM_COMPOSICAO WHERE ITEM_COMPOSICAO = '099' )
		BEGIN

		INSERT INTO CM_ITEM_COMPOSICAO ( ITEM_COMPOSICAO, DESC_ITEM_COMPOSICAO, INDICA_ENTRADA_SAIDA, INATIVO, INDICADOR_LINX, COMPOE_CUSTO_MEDIO, 
										 LANCAMENTO_PADRAO, ATUALIZA_CUSTO_MOV, INDICA_MOV_LOGICO, FATOR_EST_PROPRIO, FATOR_EST_DE_TERCEIRO, 
										 FATOR_EST_COM_TERCEIRO ) --#18# 
		VALUES ( '099', 'AGREGAR IPI NO CUSTO VAREJO', '-', 0, 1, 1, NULL, 0, 0, 1, 0, 0 )

		INSERT INTO @CM_ESTOQUE_PA_COMPOSICAO ( COD_CUSTO_MEDIO, PRODUTO, COR_PRODUTO, FILIAL, DATA_SALDO, QTDE, VALOR, ITEM_COMPOSICAO, 
												CONTA_CONTABIL, COD_FILIAL_ORIGEM, RATEIO_FILIAL, RATEIO_CENTRO_CUSTO, COD_TERCEIRO,
												VL_ICMS_OP, VL_FCP, VL_BC_ICMS_ST, VL_ICMS_ST, VL_FCP_ST ) --#18#

		SELECT	@COD_CUSTO_MEDIO, A.REFERENCIA, CASE WHEN @CUSTO_COR = 1 THEN  A.REFERENCIA_ITEM ELSE 	'' 	END AS REFERENCIA_ITEM,	/*#4#*/				
				@FILIAL, @DATA_SALDO, 0, SUM(((( D.VALOR_IMPOSTO_ESPELHO - D.VALOR_IMPOSTO ) * @CM_PORC_TRANSF_IPI ) / 100 )), '099', NULL, 
				B.COD_FILIAL, NULL, NULL, '' AS COD_TERCEIRO, 
				--#18#
				ISNULL(AVG(CASE WHEN (D.ID_IMPOSTO = 86 AND D.VALOR_IMPOSTO > 0) 
						THEN ISNULL(D.VALOR_IMPOSTO,0) 
						WHEN (D.ID_IMPOSTO = 1 AND D.VALOR_IMPOSTO_ESPELHO > 0) 
						THEN ISNULL(D.VALOR_IMPOSTO_ESPELHO,0) 
						ELSE 0
				END),0) AS VL_ICMS_OP,
				ISNULL(AVG(CASE WHEN (D.ID_IMPOSTO = 42 AND D.VALOR_IMPOSTO > 0) 
						THEN ISNULL(D.VALOR_IMPOSTO,0) 
						ELSE 0
				END),0) AS VL_FCP,
				ISNULL(AVG(CASE WHEN (D.ID_IMPOSTO = 12 AND D.VALOR_IMPOSTO > 0) 
						THEN ISNULL(D.VALOR_IMPOSTO,0) 
						WHEN (D.ID_IMPOSTO = 13 AND D.VALOR_IMPOSTO > 0) 
						THEN ISNULL(D.VALOR_IMPOSTO,0) 
						ELSE 0
				END),0) AS VL_BC_ICMS_ST,
				ISNULL(AVG(CASE WHEN (D.ID_IMPOSTO = 12 AND D.VALOR_IMPOSTO > 0) 
						THEN ISNULL(D.VALOR_IMPOSTO,0) 
						WHEN (D.ID_IMPOSTO = 13 AND D.VALOR_IMPOSTO > 0) 
						THEN ISNULL(D.VALOR_IMPOSTO,0) 
						ELSE 0
				END),0) AS VL_ICMS_ST,
				ISNULL(AVG(CASE WHEN (D.ID_IMPOSTO = 76 AND D.VALOR_IMPOSTO > 0) 
						THEN ISNULL(D.VALOR_IMPOSTO,0) 
						WHEN (D.ID_IMPOSTO = 77 AND D.VALOR_IMPOSTO > 0) 
						THEN ISNULL(D.VALOR_IMPOSTO,0) 
						ELSE 0
				END),0) AS VL_FCP_ST
				--#18#
		FROM	(	/*#4# - INICIO*/						
				SELECT A.FILIAL,A.NF_ENTRADA,A.SERIE_NF_ENTRADA,A.NOME_CLIFOR,ITEM_IMPRESSAO,SUB_ITEM_TAMANHO,COD_TABELA_FILHA,REFERENCIA,A.NATUREZA,EMISSAO,
				CASE WHEN AGRUPAMENTO_ITENS IN (1,2,4,5) 
					THEN 
						ISNULL(REVERSE(SUBSTRING(
						REVERSE(LTRIM(RTRIM(REFERENCIA_ITEM))),
						(CASE WHEN CHARINDEX(REVERSE(W.TAMANHO),REVERSE(LTRIM(RTRIM(REFERENCIA_ITEM))))>LEN(W.TAMANHO) 
							THEN 
								0 
							ELSE
								CHARINDEX(REVERSE(W.TAMANHO),REVERSE(LTRIM(RTRIM(REFERENCIA_ITEM)))	,1) 
						END)
							+LEN(W.TAMANHO),LEN(REVERSE(LTRIM(RTRIM(REFERENCIA_ITEM)))))),REFERENCIA_ITEM) 
					ELSE 
						B.REFERENCIA_ITEM 
				END	AS REFERENCIA_ITEM
				FROM ENTRADAS A 
				INNER JOIN ENTRADAS_ITEM B ON	A.NF_ENTRADA = B.NF_ENTRADA AND
												A.SERIE_NF_ENTRADA = B.SERIE_NF_ENTRADA AND
												A.NOME_CLIFOR = B.NOME_CLIFOR 
				LEFT JOIN PRODUTOS P ON B.REFERENCIA = P.PRODUTO
				LEFT JOIN W_PRODUTOS_TAMANHOS_ORDEM W ON P.GRADE = W.GRADE AND B.SUB_ITEM_TAMANHO = W.ORDEM
				/*#04# - FIM*/ 							 
				) AS A
				INNER JOIN FILIAIS AS B ON A.FILIAL = B.FILIAL
				INNER JOIN FILIAIS AS C ON A.NOME_CLIFOR = C.FILIAL
				INNER JOIN ENTRADAS_IMPOSTO AS D ON A.NF_ENTRADA = D.NF_ENTRADA AND
			                                        A.SERIE_NF_ENTRADA = D.SERIE_NF_ENTRADA AND
			                                        A.NOME_CLIFOR = D.NOME_CLIFOR AND
													A.ITEM_IMPRESSAO = D.ITEM_IMPRESSAO AND /*#4#*/	
													A.SUB_ITEM_TAMANHO = D.SUB_ITEM_TAMANHO /*#4#*/	
				INNER JOIN NATUREZAS_ENTRADAS AS G ON A.NATUREZA = G.NATUREZA
				LEFT JOIN CTB_LX_TIPO_OPERACAO AS M ON G.CTB_TIPO_OPERACAO = M.CTB_TIPO_OPERACAO
				--#8#
				CROSS APPLY @CM_FILIAL FI
				--#8#
			WHERE	A.FILIAL = FI.FILIAL AND --#8#
					A.COD_TABELA_FILHA IN ( 'P', 'R' ) AND
					D.ID_IMPOSTO IN ( 2 ) AND
					ISNULL(M.TIPO_OPERACAO, ISNULL(G.TIPO_OPERACAO, 'C')) = 'T' AND
					A.EMISSAO BETWEEN ISNULL(@DATA_CARDEX, '19000101') AND @DATA_SALDO AND 
					B.CTRL_LOJA_VAREJO = 1 AND
					C.CTRL_LOJA_VAREJO = 0
		GROUP BY A.REFERENCIA, B.COD_FILIAL, (CASE WHEN @CUSTO_COR = 1 THEN A.REFERENCIA_ITEM ELSE '' END) /*#4#*/	
		HAVING SUM(( ( ( D.VALOR_IMPOSTO_ESPELHO - D.VALOR_IMPOSTO ) * @CM_PORC_TRANSF_IPI ) / 100 )) > 0			
		END

		IF NOT EXISTS( SELECT * FROM CM_ITEM_COMPOSICAO WHERE ITEM_COMPOSICAO = '098' )
		BEGIN
			
			INSERT INTO CM_ITEM_COMPOSICAO ( ITEM_COMPOSICAO, DESC_ITEM_COMPOSICAO, INDICA_ENTRADA_SAIDA, INATIVO, INDICADOR_LINX, 
											 COMPOE_CUSTO_MEDIO, LANCAMENTO_PADRAO, ATUALIZA_CUSTO_MOV, INDICA_MOV_LOGICO, FATOR_EST_PROPRIO, 
											 FATOR_EST_DE_TERCEIRO, FATOR_EST_COM_TERCEIRO ) --#18# 
			VALUES ( '098', 'DESAGREGAR IPI DO CUSTO VAREJO', '-', 0, 1, 1, NULL, 0, 0, -1, 0, 0 )
			
			INSERT INTO @CM_ESTOQUE_PA_COMPOSICAO ( COD_CUSTO_MEDIO, PRODUTO, COR_PRODUTO, FILIAL, DATA_SALDO, QTDE, VALOR, ITEM_COMPOSICAO, 
													CONTA_CONTABIL, COD_FILIAL_ORIGEM, RATEIO_FILIAL, RATEIO_CENTRO_CUSTO, COD_TERCEIRO,
													VL_ICMS_OP, VL_FCP, VL_BC_ICMS_ST, VL_ICMS_ST, VL_FCP_ST ) --#18#
			SELECT  @COD_CUSTO_MEDIO, LNFIT.REFERENCIA, 
					CASE WHEN @CUSTO_COR = 1 THEN  LNFIT.REFERENCIA_ITEM ELSE 	'' 	END AS REFERENCIA_ITEM,	/*#4#*/
					@FILIAL, @DATA_SALDO, 0, 
					SUM(( ( LNFI.VALOR_IMPOSTO * @CM_PORC_TRANSF_IPI ) / 100 )), '098', NULL, F2.COD_FILIAL, NULL, NULL, '' AS COD_TERCEIRO,
					--#18#
					ISNULL(AVG(CASE WHEN (LNFI.ID_IMPOSTO = 86 AND LNFI.VALOR_IMPOSTO > 0) 
							THEN ISNULL(LNFI.VALOR_IMPOSTO,0) 
							WHEN (LNFI.ID_IMPOSTO = 1 AND LNFI.VALOR_IMPOSTO > 0) 
							THEN ISNULL(LNFI.VALOR_IMPOSTO,0) 
							ELSE 0
					END),0) AS VL_ICMS_OP,
					ISNULL(AVG(CASE WHEN (LNFI.ID_IMPOSTO = 42 AND LNFI.VALOR_IMPOSTO > 0) 
							THEN ISNULL(LNFI.VALOR_IMPOSTO,0) 
							ELSE 0
					END),0) AS VL_FCP,
					ISNULL(AVG(CASE WHEN (LNFI.ID_IMPOSTO = 12 AND LNFI.VALOR_IMPOSTO > 0) 
							THEN ISNULL(LNFI.VALOR_IMPOSTO,0) 
							WHEN (LNFI.ID_IMPOSTO = 13 AND LNFI.VALOR_IMPOSTO > 0) 
							THEN ISNULL(LNFI.VALOR_IMPOSTO,0) 
							ELSE 0
					END),0) AS VL_BC_ICMS_ST,
					ISNULL(AVG(CASE WHEN (LNFI.ID_IMPOSTO = 12 AND LNFI.VALOR_IMPOSTO > 0) 
							THEN ISNULL(LNFI.VALOR_IMPOSTO,0) 
							WHEN (LNFI.ID_IMPOSTO = 13 AND LNFI.VALOR_IMPOSTO > 0) 
							THEN ISNULL(LNFI.VALOR_IMPOSTO,0) 
							ELSE 0
					END),0) AS VL_ICMS_ST,
					ISNULL(AVG(CASE WHEN (LNFI.ID_IMPOSTO = 76 AND LNFI.VALOR_IMPOSTO > 0) 
							THEN ISNULL(LNFI.VALOR_IMPOSTO,0) 
							WHEN (LNFI.ID_IMPOSTO = 77 AND LNFI.VALOR_IMPOSTO > 0) 
							THEN ISNULL(LNFI.VALOR_IMPOSTO,0) 
							ELSE 0
					END),0) AS VL_FCP_ST
					--#18#
			FROM	LOJA_NOTA_FISCAL AS LNF
					INNER JOIN LOJAS_VAREJO AS LV ON LNF.CODIGO_FILIAL = LNF.CODIGO_FILIAL
					INNER JOIN FILIAIS AS F ON LV.FILIAL = F.FILIAL
					INNER JOIN FILIAIS AS F2 ON LNF.COD_CLIFOR = F2.COD_FILIAL
					INNER JOIN (/*#4# - INICIO*/
				 				SELECT CODIGO_FILIAL,NF_NUMERO,SERIE_NF,REFERENCIA,ITEM_IMPRESSAO,SUB_ITEM_TAMANHO,
				  					CASE WHEN ISNULL(REFERENCIA_ITEM,'')<>''
										THEN 
											ISNULL(REVERSE(SUBSTRING(
											REVERSE(LTRIM(RTRIM(REFERENCIA_ITEM))),
											(CASE WHEN CHARINDEX(REVERSE(W.TAMANHO),REVERSE(LTRIM(RTRIM(REFERENCIA_ITEM))))>LEN(W.TAMANHO) 
												THEN 
													0 
												ELSE
													CHARINDEX(REVERSE(W.TAMANHO),REVERSE(LTRIM(RTRIM(REFERENCIA_ITEM)))	,1) 
											END)
												+LEN(W.TAMANHO),LEN(REVERSE(LTRIM(RTRIM(REFERENCIA_ITEM)))))),REFERENCIA_ITEM) 
										ELSE 
											B.REFERENCIA_ITEM 
									END	AS REFERENCIA_ITEM
								FROM LOJA_NOTA_FISCAL_ITEM B
								LEFT JOIN PRODUTOS P ON B.REFERENCIA = P.PRODUTO
								LEFT JOIN W_PRODUTOS_TAMANHOS_ORDEM W ON P.GRADE = W.GRADE AND B.SUB_ITEM_TAMANHO = W.ORDEM
								/*#4# - FIM*/
							)AS LNFIT ON LNF.CODIGO_FILIAL = LNFIT.CODIGO_FILIAL AND
																LNF.NF_NUMERO = LNFIT.NF_NUMERO AND
																LNF.SERIE_NF = LNFIT.SERIE_NF
					INNER JOIN PRODUTOS AS P ON LNFIT.REFERENCIA = P.PRODUTO 
					INNER JOIN LOJA_NOTA_FISCAL_IMPOSTO AS LNFI ON LNF.CODIGO_FILIAL = LNFI.CODIGO_FILIAL AND
																LNF.NF_NUMERO = LNFI.NF_NUMERO AND
																LNF.SERIE_NF = LNFI.SERIE_NF AND
																LNFIT.ITEM_IMPRESSAO = LNFI.ITEM_IMPRESSAO AND
																LNFIT.SUB_ITEM_TAMANHO = LNFI.SUB_ITEM_TAMANHO
					INNER JOIN LOJA_ENTRADAS AS LE ON LNF.NF_NUMERO = LE.NUMERO_NF_TRANSFERENCIA AND
													F.FILIAL = LE.FILIAL_ORIGEM AND
													LNF.SERIE_NF = LE.SERIE_NF_ENTRADA 
					--#8#
					CROSS APPLY @CM_FILIAL FI
					--#8#
			WHERE	F.CTRL_LOJA_VAREJO = 1 AND
					F2.CTRL_LOJA_VAREJO = 0 AND
					LNFI.ID_IMPOSTO IN ( 2 ) AND
					F2.FILIAL = FI.FILIAL AND --@FILIAL AND --##
					LE.EMISSAO BETWEEN ISNULL(@DATA_CARDEX, '19000101') AND @DATA_SALDO
			GROUP BY LNFIT.REFERENCIA, F2.COD_FILIAL, CASE WHEN @CUSTO_COR = 1 THEN  LNFIT.REFERENCIA_ITEM ELSE '' END /*#4#*/
			HAVING SUM(( ( LNFI.VALOR_IMPOSTO * @CM_PORC_TRANSF_IPI ) / 100 )) > 0
		END
		END
	-----------------------------------------------------
	-- FIM INSERE ITENS COM IPI NA TABELA DE COMPOSIÇÃO
	-----------------------------------------------------
	
	-------------------------------------------
	-- INICIO INSERE COMPOSICAO TABELA FISICA
	-------------------------------------------

	--------------------------------------------------------------------------------------------------------------------------------------------
	-- INSERE NA TABELA DE COMPOSIÇÃO OS REGISTRO DO CARDEX
	--------------------------------------------------------------------------------------------------------------------------------------------

	IF ( DBO.FX_PARAMETRO('FECHA_CUSTO_MEDIO') = '.F.' )  --#8#
	BEGIN

		IF ( DBO.FX_PARAMETRO('CM_CARDEX_PA_COMPOSICAO') = '.T.' )  --#22#
		BEGIN	
			--#22#
			INSERT INTO DBO.CM_CARDEX_PA_COMPOSICAO (
				COD_CUSTO_MEDIO, ITEM, ITEM_COMPOSICAO, DOC, OP_PED_ROMAN, SERIE_NF, ESPECIE_SERIE, PRODUTO, COR_PRODUTO, FILIAL, DATA_MOV, QTDE, VALOR, VALOR_ENCARGO, VALOR_DESCONTO,
				VALOR_ENCARGO_IMPORTACAO, VALOR_IMPOSTO_DESTACAR, VALOR_IMPOSTO_AGREGAR, VALOR_FRETE, VALOR_SEGURO, VALOR_FRETE_TRANSPORTADORA, VALOR_DESPESAS, VALOR_RESERVAS,
				VALOR_CONHECIMENTO_RELACIONADO, VALOR_LIQ, VALOR_PRODUCAO, VALOR_BRUTO, VALOR_ESTOQUE, VALOR_BASE_IPI, VALOR_IPI, GRADE, CONTA_CONTABIL_ESTOQUE, CONTA_CONTABIL_MOVTO,
				RATEIO_FILIAL, RATEIO_CENTRO_CUSTO, FILIAL_ORIGEM, FILIAL_ORIGINAL, COD_TRANSACAO, TIPO_OPERACAO, CFOP, DESCRICAO_CFOP, UNIDADE, CLASSIF_FISCAL, MATRIZ_FISCAL,
				COD_TERCEIRO, SEQUENCIA, CUSTO_SAIDA_ENT_DEV, VL_ICMS_OP, VL_FCP, VL_BC_ICMS_ST, VL_FCP_ST, VL_ICMS_ST, CGSN140
			)
			SELECT  @COD_CUSTO_MEDIO AS COD_CUSTO_MEDIO, ITEM, ITEM_COMPOSICAO, DOC, OP_PED_ROMAN, SERIE_NF, ESPECIE_SERIE, PRODUTO, COR_PRODUTO, A.FILIAL, DATA_MOV, QTDE, VALOR, VALOR_ENCARGO, VALOR_DESCONTO,
				VALOR_ENCARGO_IMPORTACAO, VALOR_IMPOSTO_DESTACAR, VALOR_IMPOSTO_AGREGAR, VALOR_FRETE, VALOR_SEGURO, VALOR_FRETE_TRANSPORTADORA, VALOR_DESPESAS, VALOR_RESERVAS,
				VALOR_CONHECIMENTO_RELACIONADO, VALOR_LIQ, VALOR_PRODUCAO, VALOR_BRUTO, VALOR_ESTOQUE, VALOR_BASE_IPI, VALOR_IPI, GRADE, CONTA_CONTABIL_ESTOQUE, CONTA_CONTABIL_MOVTO,
				RATEIO_FILIAL, RATEIO_CENTRO_CUSTO, A.FILIAL_ORIGEM, A.FILIAL_ORIGINAL, COD_TRANSACAO, TIPO_OPERACAO, CFOP, DESCRICAO_CFOP, UNIDADE, CLASSIF_FISCAL, A.MATRIZ_FISCAL,
				COD_TERCEIRO, SEQUENCIA, CUSTO_SAIDA_ENT_DEV, VL_ICMS_OP, VL_FCP, VL_BC_ICMS_ST, VL_FCP_ST, VL_ICMS_ST, CGSN140
			FROM @CM_FILIAL AS FI
			CROSS APPLY DBO.FX_CM_MONTA_CARDEX_PA('%', '%', FI.FILIAL, @DATA_CARDEX, @DATA_SALDO, 0,  @COD_CUSTO_MEDIO) AS A
			--#22#

			INSERT INTO @CM_ESTOQUE_PA_COMPOSICAO ( COD_CUSTO_MEDIO, PRODUTO, COR_PRODUTO, FILIAL, DATA_SALDO, QTDE, VALOR, ITEM_COMPOSICAO, 
														CONTA_CONTABIL, COD_FILIAL_ORIGEM, RATEIO_FILIAL, RATEIO_CENTRO_CUSTO, COD_TERCEIRO, VALOR_CALC,
														VL_ICMS_OP, VL_FCP, VL_BC_ICMS_ST, VL_ICMS_ST, VL_FCP_ST ) --#18#
				SELECT @COD_CUSTO_MEDIO, A.PRODUTO, ( CASE WHEN @CUSTO_COR = 1 
															THEN A.COR_PRODUTO 
															ELSE '' 
														END ), A.FILIAL, 
						( CASE WHEN @FECHAMENTO_DIARIO = 1 
							THEN A.DATA_MOV 
							ELSE @DATA_SALDO 
							END ), SUM(ISNULL(A.QTDE,0)),  --#17#-
						ISNULL(SUM(( CASE WHEN ISNULL(A.FILIAL_ORIGEM, A.FILIAL) = A.FILIAL OR @FECHAMENTO_DIARIO = 0
										THEN ( CASE WHEN @IS_PRODUCAO = 1
													THEN A.VALOR_PRODUCAO 
													ELSE ( CASE WHEN @INDICA_CUSTO_BRUTO = 1 
															THEN A.VALOR_BRUTO 
															ELSE A.VALOR_LIQ 
														END )
												END )
										ELSE ( A.QTDE * ISNULL(B.CUSTO_MEDIO_UNITARIO,0) )
									END )), 0), 
						 A.ITEM_COMPOSICAO, A.CONTA_CONTABIL_MOVTO, ISNULL(F.COD_FILIAL, FO.COD_FILIAL) AS COD_FILIAL_ORIGEM, A.RATEIO_FILIAL,
						 A.RATEIO_CENTRO_CUSTO, A.COD_TERCEIRO,
						 ISNULL(SUM(( CASE WHEN A.ITEM_COMPOSICAO IN('002','005') THEN A.CUSTO_SAIDA_ENT_DEV--#15#
										WHEN	A.ITEM_COMPOSICAO ='028' THEN A.VALOR --#20#
										WHEN ISNULL(A.FILIAL_ORIGEM, A.FILIAL) = A.FILIAL OR @FECHAMENTO_DIARIO = 0 --#6#
										THEN ( CASE WHEN @IS_PRODUCAO = 1 --#6#
													THEN A.VALOR_PRODUCAO  --#6#
													ELSE ( CASE WHEN @INDICA_CUSTO_BRUTO = 1  --#6#
															THEN A.VALOR_BRUTO  --#6#
															ELSE A.VALOR_LIQ  --#6#
														END ) --#6#
												END )--#6#
										ELSE ( A.QTDE * ISNULL(B.CUSTO_MEDIO_UNITARIO,0) )--#6#
									END )), 0), --#6#			 				
									ISNULL(A.VL_ICMS_OP,0), ISNULL(A.VL_FCP,0), ISNULL(A.VL_BC_ICMS_ST,0), ISNULL(A.VL_ICMS_ST,0), ISNULL(A.VL_FCP_ST,0) --#18#
					FROM @CM_FILIAL FI --#6#
						 --CROSS APPLY DBO.FX_CM_MONTA_CARDEX_PA('%', '%', FI.FILIAL, @DATA_CARDEX, @DATA_SALDO, 0, NULL) AS A --#6#
						 --CROSS APPLY DBO.FX_CM_MONTA_CARDEX_PA('%', '%', FI.FILIAL, @DATA_CARDEX, @DATA_SALDO, 0, @COD_CUSTO_MEDIO) AS A --#6# --#18# --##
						 INNER JOIN DBO.CM_CARDEX_PA_COMPOSICAO AS A ON FI.FILIAL = A.FILIAL AND A.COD_CUSTO_MEDIO = @COD_CUSTO_MEDIO								
						 INNER JOIN FILIAIS FO ON A.FILIAL = FO.FILIAL
						 INNER JOIN FILIAIS FR ON A.FILIAL_ORIGINAL = FR.FILIAL AND
												  FR.FECHA_CUSTO_MEDIO = 1
						 LEFT JOIN FILIAIS F ON A.FILIAL_ORIGEM = F.FILIAL
						 LEFT JOIN CM_ESTOQUE_PA AS B (NOLOCK) ON B.COD_CUSTO_MEDIO = @COD_CUSTO_ANTERIOR AND
																  B.PRODUTO = A.PRODUTO AND
																  B.COR_PRODUTO = A.COR_PRODUTO AND
																  B.FILIAL = A.FILIAL_ORIGEM AND
																  B.DATA_SALDO = @DATA_SALDO_ANTERIOR
					WHERE ( (  @CUSTO_COR = 1 AND  LTRIM(RTRIM(A.COR_PRODUTO)) <> '') OR  (@CUSTO_COR = 0 AND 1=1) ) /*#16#*/
					--AND ISNULL(A.QTDE,0) <> 0  --#17#- --#19#
					GROUP BY A.PRODUTO, ( CASE WHEN @CUSTO_COR = 1 THEN A.COR_PRODUTO ELSE '' END ), A.FILIAL, 
							 ( CASE WHEN @FECHAMENTO_DIARIO = 1 THEN A.DATA_MOV ELSE @DATA_SALDO END ), A.ITEM_COMPOSICAO, A.CONTA_CONTABIL_MOVTO, 
							 ISNULL(F.COD_FILIAL, FO.COD_FILIAL), A.RATEIO_FILIAL, A.RATEIO_CENTRO_CUSTO, A.COD_TERCEIRO,
							 ISNULL(A.VL_ICMS_OP,0), ISNULL(A.VL_FCP,0), ISNULL(A.VL_BC_ICMS_ST,0), ISNULL(A.VL_ICMS_ST,0), ISNULL(A.VL_FCP_ST,0) --#18#
	
		END
		ELSE
		BEGIN	
					
			-- Danilo Moreno
			INSERT INTO DBO.CM_CARDEX_PA_COMPOSICAO (
				COD_CUSTO_MEDIO, ITEM, ITEM_COMPOSICAO, DOC, OP_PED_ROMAN, SERIE_NF, ESPECIE_SERIE, PRODUTO, COR_PRODUTO, FILIAL, DATA_MOV, QTDE, VALOR, VALOR_ENCARGO, VALOR_DESCONTO,
				VALOR_ENCARGO_IMPORTACAO, VALOR_IMPOSTO_DESTACAR, VALOR_IMPOSTO_AGREGAR, VALOR_FRETE, VALOR_SEGURO, VALOR_FRETE_TRANSPORTADORA, VALOR_DESPESAS, VALOR_RESERVAS,
				VALOR_CONHECIMENTO_RELACIONADO, VALOR_LIQ, VALOR_PRODUCAO, VALOR_BRUTO, VALOR_ESTOQUE, VALOR_BASE_IPI, VALOR_IPI, GRADE, CONTA_CONTABIL_ESTOQUE, CONTA_CONTABIL_MOVTO,
				RATEIO_FILIAL, RATEIO_CENTRO_CUSTO, FILIAL_ORIGEM, FILIAL_ORIGINAL, COD_TRANSACAO, TIPO_OPERACAO, CFOP, DESCRICAO_CFOP, UNIDADE, CLASSIF_FISCAL, MATRIZ_FISCAL,
				COD_TERCEIRO, SEQUENCIA, CUSTO_SAIDA_ENT_DEV, VL_ICMS_OP, VL_FCP, VL_BC_ICMS_ST, VL_FCP_ST, VL_ICMS_ST, CGSN140
			)
			SELECT  @COD_CUSTO_MEDIO AS COD_CUSTO_MEDIO, ITEM, ITEM_COMPOSICAO, DOC, OP_PED_ROMAN, SERIE_NF, ESPECIE_SERIE, PRODUTO, COR_PRODUTO, A.FILIAL, DATA_MOV, QTDE, VALOR, VALOR_ENCARGO, VALOR_DESCONTO,
				VALOR_ENCARGO_IMPORTACAO, VALOR_IMPOSTO_DESTACAR, VALOR_IMPOSTO_AGREGAR, VALOR_FRETE, VALOR_SEGURO, VALOR_FRETE_TRANSPORTADORA, VALOR_DESPESAS, VALOR_RESERVAS,
				VALOR_CONHECIMENTO_RELACIONADO, VALOR_LIQ, VALOR_PRODUCAO, VALOR_BRUTO, VALOR_ESTOQUE, VALOR_BASE_IPI, VALOR_IPI, GRADE, CONTA_CONTABIL_ESTOQUE, CONTA_CONTABIL_MOVTO,
				RATEIO_FILIAL, RATEIO_CENTRO_CUSTO, A.FILIAL_ORIGEM, A.FILIAL_ORIGINAL, COD_TRANSACAO, TIPO_OPERACAO, CFOP, DESCRICAO_CFOP, UNIDADE, CLASSIF_FISCAL, A.MATRIZ_FISCAL,
				COD_TERCEIRO, SEQUENCIA, CUSTO_SAIDA_ENT_DEV, VL_ICMS_OP, VL_FCP, VL_BC_ICMS_ST, VL_FCP_ST, VL_ICMS_ST, CGSN140
			FROM @CM_FILIAL AS FI
			CROSS APPLY DBO.FX_CM_MONTA_CARDEX_PA('%', '%', FI.FILIAL, @DATA_CARDEX, @DATA_SALDO, 0, @COD_CUSTO_MEDIO) AS A
			-- Danilo Moreno

			INSERT INTO @CM_ESTOQUE_PA_COMPOSICAO ( COD_CUSTO_MEDIO, PRODUTO, COR_PRODUTO, FILIAL, DATA_SALDO, QTDE, VALOR, ITEM_COMPOSICAO, 
													CONTA_CONTABIL, COD_FILIAL_ORIGEM, RATEIO_FILIAL, RATEIO_CENTRO_CUSTO, COD_TERCEIRO, VALOR_CALC,
													VL_ICMS_OP, VL_FCP, VL_BC_ICMS_ST, VL_ICMS_ST, VL_FCP_ST ) --#18#
			SELECT @COD_CUSTO_MEDIO, A.PRODUTO, ( CASE WHEN @CUSTO_COR = 1 
														THEN A.COR_PRODUTO 
														ELSE '' 
													END ), A.FILIAL, 
					( CASE WHEN @FECHAMENTO_DIARIO = 1 
						THEN A.DATA_MOV 
						ELSE @DATA_SALDO 
						END ), SUM(ISNULL(A.QTDE,0)),  --#17#-
					ISNULL(SUM(( CASE WHEN ISNULL(A.FILIAL_ORIGEM, A.FILIAL) = A.FILIAL OR @FECHAMENTO_DIARIO = 0
									THEN ( CASE WHEN @IS_PRODUCAO = 1
												THEN A.VALOR_PRODUCAO 
												ELSE ( CASE WHEN @INDICA_CUSTO_BRUTO = 1 
														THEN A.VALOR_BRUTO 
														ELSE A.VALOR_LIQ 
													END )
											END )
									ELSE ( A.QTDE * ISNULL(B.CUSTO_MEDIO_UNITARIO,0) )
								END )), 0), 
					 A.ITEM_COMPOSICAO, A.CONTA_CONTABIL_MOVTO, ISNULL(F.COD_FILIAL, FO.COD_FILIAL) AS COD_FILIAL_ORIGEM, A.RATEIO_FILIAL,
					 A.RATEIO_CENTRO_CUSTO, A.COD_TERCEIRO,
					 ISNULL(SUM(( CASE WHEN A.ITEM_COMPOSICAO IN('002','005') THEN A.CUSTO_SAIDA_ENT_DEV--#15#
									WHEN	A.ITEM_COMPOSICAO ='028' THEN A.VALOR --#20#
									WHEN ISNULL(A.FILIAL_ORIGEM, A.FILIAL) = A.FILIAL OR @FECHAMENTO_DIARIO = 0 --#6#
									THEN ( CASE WHEN @IS_PRODUCAO = 1 --#6#
												THEN A.VALOR_PRODUCAO  --#6#
												ELSE ( CASE WHEN @INDICA_CUSTO_BRUTO = 1  --#6#
														THEN A.VALOR_BRUTO  --#6#
														ELSE A.VALOR_LIQ  --#6#
													END ) --#6#
											END )--#6#
									ELSE ( A.QTDE * ISNULL(B.CUSTO_MEDIO_UNITARIO,0) )--#6#
								END )), 0), --#6#			 				
								ISNULL(A.VL_ICMS_OP,0), ISNULL(A.VL_FCP,0), ISNULL(A.VL_BC_ICMS_ST,0), ISNULL(A.VL_ICMS_ST,0), ISNULL(A.VL_FCP_ST,0) --#18#
				FROM @CM_FILIAL FI --#6#
					 --CROSS APPLY DBO.FX_CM_MONTA_CARDEX_PA('%', '%', FI.FILIAL, @DATA_CARDEX, @DATA_SALDO, 0, NULL) AS A --#6#
					 --CROSS APPLY DBO.FX_CM_MONTA_CARDEX_PA('%', '%', FI.FILIAL, @DATA_CARDEX, @DATA_SALDO, 0, @COD_CUSTO_MEDIO) AS A --#6# --#18#
					 -- Danilo Moreno
					 INNER JOIN DBO.CM_CARDEX_PA_COMPOSICAO AS A ON FI.FILIAL = A.FILIAL AND A.COD_CUSTO_MEDIO = @COD_CUSTO_MEDIO								
					 INNER JOIN FILIAIS FO ON A.FILIAL = FO.FILIAL
					 INNER JOIN FILIAIS FR ON A.FILIAL_ORIGINAL = FR.FILIAL AND
											  FR.FECHA_CUSTO_MEDIO = 1
					 LEFT JOIN FILIAIS F ON A.FILIAL_ORIGEM = F.FILIAL
					 LEFT JOIN CM_ESTOQUE_PA AS B (NOLOCK) ON B.COD_CUSTO_MEDIO = @COD_CUSTO_ANTERIOR AND
															  B.PRODUTO = A.PRODUTO AND
															  B.COR_PRODUTO = A.COR_PRODUTO AND
															  B.FILIAL = A.FILIAL_ORIGEM AND
															  B.DATA_SALDO = @DATA_SALDO_ANTERIOR
				WHERE ( (  @CUSTO_COR = 1 AND  LTRIM(RTRIM(A.COR_PRODUTO)) <> '') OR  (@CUSTO_COR = 0 AND 1=1) ) /*#16#*/
				--AND ISNULL(A.QTDE,0) <> 0  --#17#- --#19#
				GROUP BY A.PRODUTO, ( CASE WHEN @CUSTO_COR = 1 THEN A.COR_PRODUTO ELSE '' END ), A.FILIAL, 
						 ( CASE WHEN @FECHAMENTO_DIARIO = 1 THEN A.DATA_MOV ELSE @DATA_SALDO END ), A.ITEM_COMPOSICAO, A.CONTA_CONTABIL_MOVTO, 
						 ISNULL(F.COD_FILIAL, FO.COD_FILIAL), A.RATEIO_FILIAL, A.RATEIO_CENTRO_CUSTO, A.COD_TERCEIRO,
						 ISNULL(A.VL_ICMS_OP,0), ISNULL(A.VL_FCP,0), ISNULL(A.VL_BC_ICMS_ST,0), ISNULL(A.VL_ICMS_ST,0), ISNULL(A.VL_FCP_ST,0) --#18#
		END
		--#22#
						 
		--#8#		 
		INSERT INTO CM_ESTOQUE_PA_COMPOSICAO ( COD_CUSTO_MEDIO, PRODUTO, COR_PRODUTO, FILIAL, DATA_SALDO, QTDE, VALOR, ITEM_COMPOSICAO, COD_FILIAL_ORIGEM, COD_TERCEIRO, VALOR_CALC, 
					VL_ICMS_OP, VL_FCP, VL_BC_ICMS_ST, VL_ICMS_ST, VL_FCP_ST ) --#18#
		SELECT	COD_CUSTO_MEDIO, PRODUTO, COR_PRODUTO, FILIAL, DATA_SALDO, QTDE, VALOR, ITEM_COMPOSICAO, COD_FILIAL_ORIGEM, COD_TERCEIRO, VALOR_CALC, 
				ISNULL(VL_ICMS_OP,0), ISNULL(VL_FCP,0), ISNULL(VL_BC_ICMS_ST,0), ISNULL(VL_ICMS_ST,0), ISNULL(VL_FCP_ST,0)  --#18#
		FROM @CM_ESTOQUE_PA_COMPOSICAO													 	
		--#8#		
		
		/*#13#* - INICIO/
		--#11#
		DECLARE @PRODUTO_DIFERENCA AS CHAR(12),  @DIFERENCA AS NUMERIC(15,9),@VALOR_DIFERENCA AS NUMERIC(15,9)

			DECLARE CUR_DIFERENCA CURSOR FAST_FORWARD FOR	
			--#12#
			SELECT 	PRODUTO, SUM(VALOR)/CASE WHEN SUM(QTDE)=0 THEN 1 ELSE SUM(QTDE) END DIFERENCA	
			FROM @CM_ESTOQUE_PA_COMPOSICAO A JOIN CM_ITEM_COMPOSICAO B ON A.ITEM_COMPOSICAO = B.ITEM_COMPOSICAO
					AND B.COMPOE_CUSTO_MEDIO = 1 AND A.ITEM_COMPOSICAO != '028'
					GROUP BY PRODUTO
			--#12#
			OPEN CUR_DIFERENCA
			
			FETCH NEXT FROM CUR_DIFERENCA INTO @PRODUTO_DIFERENCA, @DIFERENCA
			
			WHILE @@FETCH_STATUS = 0
			BEGIN	
			
			SELECT @VALIDA_QTDE = COUNT(*) FROM ESTOQUE_PROD_ENT  A JOIN ESTOQUE_PROD1_ENT B ON
								A.ROMANEIO_PRODUTO = B.ROMANEIO_PRODUTO AND A.FILIAL = B.FILIAL
								 WHERE  CM_OPERACAO = '028' AND PRODUTO = @PRODUTO_DIFERENCA 
								 AND MONTH(A.EMISSAO) = MONTH(@DATA_SALDO)
								 AND YEAR(A.EMISSAO) = YEAR(@DATA_SALDO)   
			
			UPDATE CM_ESTOQUE_PA_COMPOSICAO SET VALOR = (VALOR / CASE WHEN @VALIDA_QTDE = 0 THEN 1 ELSE @VALIDA_QTDE END)  - @DIFERENCA  WHERE ITEM_COMPOSICAO = '028' AND PRODUTO = @PRODUTO_DIFERENCA AND COD_CUSTO_MEDIO = @COD_CUSTO_MEDIO
				
			FETCH NEXT FROM CUR_DIFERENCA INTO @PRODUTO_DIFERENCA, @DIFERENCA

			END

			CLOSE CUR_DIFERENCA
			DEALLOCATE CUR_DIFERENCA		 			 
		--#11#
		#13#* - FIM*/
		END
		ELSE
		BEGIN
						 
	--------------------------------------------------------------------------------------------------------------------------------------------
	-- INICIO INSERE NA TABELA DE COMPOSIÇÃO OS REGISTRO DE TRANSITO NO CARDEX --
	--------------------------------------------------------------------------------------------------------------------------------------------
			INSERT INTO @CM_ESTOQUE_PA_COMPOSICAO ( COD_CUSTO_MEDIO, PRODUTO, COR_PRODUTO, FILIAL, DATA_SALDO, QTDE, VALOR, ITEM_COMPOSICAO, 
													CONTA_CONTABIL, COD_FILIAL_ORIGEM, RATEIO_FILIAL, RATEIO_CENTRO_CUSTO, COD_TERCEIRO, VALOR_CALC, 
												    VL_ICMS_OP, VL_FCP, VL_BC_ICMS_ST, VL_ICMS_ST, VL_FCP_ST ) --#18#

			SELECT	@COD_CUSTO_MEDIO, 
				A.PRODUTO, 
				( CASE WHEN @CUSTO_COR = 1 THEN A.COR_PRODUTO ELSE '' END ), 
				A.FILIAL, 
				( CASE WHEN @FECHAMENTO_DIARIO = 1 THEN A.DATA_MOV ELSE @DATA_SALDO END ), 
				SUM(A.QTDE),
				ISNULL(SUM(( CASE WHEN ISNULL(A.FILIAL_ORIGEM, A.FILIAL) = A.FILIAL OR @FECHAMENTO_DIARIO = 0
								THEN ( CASE WHEN @IS_PRODUCAO = 1
											THEN A.VALOR_PRODUCAO 
											ELSE ( CASE WHEN @INDICA_CUSTO_BRUTO = 1 
													THEN A.VALOR_BRUTO 
													ELSE A.VALOR_LIQ 
												END )
										END )
								ELSE ( A.QTDE * ISNULL(B.CUSTO_MEDIO_UNITARIO,0) )
							END )), 0), 
				A.ITEM_COMPOSICAO, 
				A.CONTA_CONTABIL_MOVTO, 
				ISNULL(F.COD_FILIAL, FO.COD_FILIAL) AS COD_FILIAL_ORIGEM, 
				A.RATEIO_FILIAL,
				A.RATEIO_CENTRO_CUSTO, A.COD_TERCEIRO,
				ISNULL(SUM(( CASE WHEN ISNULL(A.FILIAL_ORIGEM, A.FILIAL) = A.FILIAL OR @FECHAMENTO_DIARIO = 0 --#6#
		                    THEN ( CASE WHEN @IS_PRODUCAO = 1 --#6#
		                                THEN A.VALOR_PRODUCAO  --#6#
		                                ELSE ( CASE WHEN @INDICA_CUSTO_BRUTO = 1  --#6#
		                                        THEN A.VALOR_BRUTO  --#6#
		                                        ELSE A.VALOR_LIQ  --#6#
		                                    END ) --#6#
		                            END )--#6#
		                    ELSE ( A.QTDE * ISNULL(B.CUSTO_MEDIO_UNITARIO,0) )--#6#
		                END )), 0), --#6#
						ISNULL(B.VL_ICMS_OP,0), ISNULL(B.VL_FCP,0), ISNULL(B.VL_BC_ICMS_ST,0), ISNULL(B.VL_ICMS_ST,0), ISNULL(B.VL_FCP_ST,0) --#18#
		FROM (
				SELECT	ITEM_COMPOSICAO,DOC,OP_PED_ROMAN,SERIE_NF,ESPECIE_SERIE,PRODUTO,COR_PRODUTO,FILIAL,MAX(DATA_MOV) AS DATA_MOV,QTDE,VALOR,VALOR_ENCARGO,VALOR_DESCONTO,VALOR_ENCARGO_IMPORTACAO,
						VALOR_IMPOSTO_DESTACAR,VALOR_IMPOSTO_AGREGAR,VALOR_FRETE,VALOR_SEGURO,VALOR_FRETE_TRANSPORTADORA,VALOR_DESPESAS,VALOR_RESERVAS,VALOR_CONHECIMENTO_RELACIONADO,VALOR_LIQ,
						VALOR_PRODUCAO,VALOR_BRUTO,VALOR_ESTOQUE,VALOR_BASE_IPI,VALOR_IPI,GRADE,CONTA_CONTABIL_ESTOQUE,CONTA_CONTABIL_MOVTO,RATEIO_FILIAL,RATEIO_CENTRO_CUSTO,FILIAL_ORIGEM,
						FILIAL_ORIGINAL,COD_TRANSACAO,TIPO_OPERACAO,CFOP,DESCRICAO_CFOP,UNIDADE,CLASSIF_FISCAL,MATRIZ_FISCAL,COD_TERCEIRO
					FROM W_CM_CARDEX_PA A
				WHERE A.ITEM_COMPOSICAO = '029' and  A.DATA_MOV BETWEEN @DATA_CARDEX AND @DATA_SALDO

				GROUP BY 
						ITEM_COMPOSICAO,DOC,OP_PED_ROMAN,SERIE_NF,ESPECIE_SERIE,PRODUTO,COR_PRODUTO,FILIAL,QTDE,VALOR,VALOR_ENCARGO,VALOR_DESCONTO,VALOR_ENCARGO_IMPORTACAO,
						VALOR_IMPOSTO_DESTACAR,VALOR_IMPOSTO_AGREGAR,VALOR_FRETE,VALOR_SEGURO,VALOR_FRETE_TRANSPORTADORA,VALOR_DESPESAS,VALOR_RESERVAS,VALOR_CONHECIMENTO_RELACIONADO,VALOR_LIQ,
						VALOR_PRODUCAO,VALOR_BRUTO,VALOR_ESTOQUE,VALOR_BASE_IPI,VALOR_IPI,GRADE,CONTA_CONTABIL_ESTOQUE,CONTA_CONTABIL_MOVTO,RATEIO_FILIAL,RATEIO_CENTRO_CUSTO,FILIAL_ORIGEM,
						FILIAL_ORIGINAL,COD_TRANSACAO,TIPO_OPERACAO,CFOP,DESCRICAO_CFOP,UNIDADE,CLASSIF_FISCAL,MATRIZ_FISCAL,COD_TERCEIRO
			 
			 ) A 
				 INNER JOIN FILIAIS FO ON A.FILIAL = FO.FILIAL
				 INNER JOIN FILIAIS FR ON A.FILIAL_ORIGINAL = FR.FILIAL AND
										  FR.FECHA_CUSTO_MEDIO = 1
				 LEFT JOIN FILIAIS F ON A.FILIAL_ORIGEM = F.FILIAL
				 LEFT JOIN CM_ESTOQUE_PA AS B (NOLOCK) ON B.COD_CUSTO_MEDIO = @COD_CUSTO_ANTERIOR AND
														  B.PRODUTO = A.PRODUTO AND
														  B.COR_PRODUTO = A.COR_PRODUTO AND
														  B.FILIAL = A.FILIAL_ORIGEM AND
														  B.DATA_SALDO = @DATA_SALDO_ANTERIOR
				 CROSS APPLY @CM_FILIAL FI
		WHERE A.DATA_MOV BETWEEN @DATA_CARDEX AND @DATA_SALDO AND A.FILIAL = FI.FILIAL--@FILIAL
		GROUP BY A.PRODUTO, ( CASE WHEN @CUSTO_COR = 1 THEN A.COR_PRODUTO ELSE '' END ), A.FILIAL, 
			    ( CASE WHEN @FECHAMENTO_DIARIO = 1 THEN A.DATA_MOV ELSE @DATA_SALDO END ), A.ITEM_COMPOSICAO, A.CONTA_CONTABIL_MOVTO, 
				ISNULL(F.COD_FILIAL, FO.COD_FILIAL), A.RATEIO_FILIAL, A.RATEIO_CENTRO_CUSTO, A.COD_TERCEIRO,
				B.VL_ICMS_OP, B.VL_FCP, B.VL_BC_ICMS_ST, B.VL_ICMS_ST, B.VL_FCP_ST --#18#

	
	--------------------------------------------------------------------------------------------------------------------------------------------
	-- FIM INSERE NA TABELA DE COMPOSIÇÃO OS REGISTRO DE TRANSITO NO CARDEX --
	--------------------------------------------------------------------------------------------------------------------------------------------

	INSERT INTO @CM_ESTOQUE_PA_COMPOSICAO ( COD_CUSTO_MEDIO, PRODUTO, COR_PRODUTO, FILIAL, DATA_SALDO, QTDE, VALOR, ITEM_COMPOSICAO, 
												CONTA_CONTABIL, COD_FILIAL_ORIGEM, RATEIO_FILIAL, RATEIO_CENTRO_CUSTO, COD_TERCEIRO, VALOR_CALC, 
												VL_ICMS_OP, VL_FCP, VL_BC_ICMS_ST, VL_ICMS_ST, VL_FCP_ST )  --#18#
		SELECT	@COD_CUSTO_MEDIO, 
				A.PRODUTO, 
				( CASE WHEN @CUSTO_COR = 1 THEN A.COR_PRODUTO ELSE '' END ), 
				A.FILIAL, 
				( CASE WHEN @FECHAMENTO_DIARIO = 1 THEN A.DATA_MOV ELSE @DATA_SALDO END ), 
				SUM(A.QTDE),
				ISNULL(SUM(( CASE WHEN ISNULL(A.FILIAL_ORIGEM, A.FILIAL) = A.FILIAL OR @FECHAMENTO_DIARIO = 0
								THEN ( CASE WHEN @IS_PRODUCAO = 1
											THEN A.VALOR_PRODUCAO 
											ELSE ( CASE WHEN @INDICA_CUSTO_BRUTO = 1 
													THEN A.VALOR_BRUTO 
													ELSE A.VALOR_LIQ 
												END )
										END )
								ELSE ( A.QTDE * ISNULL(B.CUSTO_MEDIO_UNITARIO,0) )
							END )), 0), 
				A.ITEM_COMPOSICAO, 
				A.CONTA_CONTABIL_MOVTO, 
				ISNULL(F.COD_FILIAL, FO.COD_FILIAL) AS COD_FILIAL_ORIGEM, 
				A.RATEIO_FILIAL,
				A.RATEIO_CENTRO_CUSTO, A.COD_TERCEIRO,
				ISNULL(SUM(( CASE WHEN ISNULL(A.FILIAL_ORIGEM, A.FILIAL) = A.FILIAL OR @FECHAMENTO_DIARIO = 0 --#6#
		                    THEN ( CASE WHEN @IS_PRODUCAO = 1 --#6#
		                                THEN A.VALOR_PRODUCAO  --#6#
		                                ELSE ( CASE WHEN @INDICA_CUSTO_BRUTO = 1  --#6#
		                                        THEN A.VALOR_BRUTO  --#6#
		                                        ELSE A.VALOR_LIQ  --#6#
		                                    END ) --#6#
		                            END )--#6#
		                    ELSE ( A.QTDE * ISNULL(B.CUSTO_MEDIO_UNITARIO,0) )--#6#
		                END )), 0), --#6#	
				ISNULL(B.VL_ICMS_OP,0), ISNULL(B.VL_FCP,0), ISNULL(B.VL_BC_ICMS_ST,0), ISNULL(B.VL_ICMS_ST,0), ISNULL(B.VL_FCP_ST,0) --#18#
		FROM DBO.W_CM_CARDEX_PA A 
				 INNER JOIN FILIAIS FO ON A.FILIAL = FO.FILIAL
				 INNER JOIN FILIAIS FR ON A.FILIAL_ORIGINAL = FR.FILIAL AND
										  FR.FECHA_CUSTO_MEDIO = 1
				 LEFT JOIN FILIAIS F ON A.FILIAL_ORIGEM = F.FILIAL
				 LEFT JOIN CM_ESTOQUE_PA AS B (NOLOCK) ON B.COD_CUSTO_MEDIO = @COD_CUSTO_ANTERIOR AND
														  B.PRODUTO = A.PRODUTO AND
														  B.COR_PRODUTO = A.COR_PRODUTO AND
														  B.FILIAL = A.FILIAL_ORIGEM AND
														  B.DATA_SALDO = @DATA_SALDO_ANTERIOR
				 CROSS APPLY @CM_FILIAL FI
		WHERE A.DATA_MOV BETWEEN @DATA_CARDEX AND @DATA_SALDO AND A.FILIAL = FI.FILIAL AND A.ITEM_COMPOSICAO <> '029' --#9#
		GROUP BY A.PRODUTO, ( CASE WHEN @CUSTO_COR = 1 THEN A.COR_PRODUTO ELSE '' END ), A.FILIAL, 
					 ( CASE WHEN @FECHAMENTO_DIARIO = 1 THEN A.DATA_MOV ELSE @DATA_SALDO END ), A.ITEM_COMPOSICAO, A.CONTA_CONTABIL_MOVTO, 
					 ISNULL(F.COD_FILIAL, FO.COD_FILIAL), A.RATEIO_FILIAL, A.RATEIO_CENTRO_CUSTO, A.COD_TERCEIRO,
					 B.VL_ICMS_OP, B.VL_FCP, B.VL_BC_ICMS_ST, B.VL_ICMS_ST, B.VL_FCP_ST --#18#


		-------------------
		-- INICIO MERGE #8# 
		-------------------

		MERGE  CM_ESTOQUE_PA_COMPOSICAO AS DESTINO
		USING @CM_ESTOQUE_PA_COMPOSICAO AS ORIGEM
				ON	DESTINO.COD_CUSTO_MEDIO	  = ORIGEM.COD_CUSTO_MEDIO AND
					DESTINO.FILIAL			  = ORIGEM.FILIAL AND
					DESTINO.PRODUTO			  = ORIGEM.PRODUTO AND
					DESTINO.COR_PRODUTO		  = ORIGEM.COR_PRODUTO AND
					DESTINO.DATA_SALDO		  = ORIGEM.DATA_SALDO AND
					DESTINO.ITEM_COMPOSICAO	  = ORIGEM.ITEM_COMPOSICAO AND
					ISNULL(DESTINO.CONTA_CONTABIL,'')	   = ISNULL(ORIGEM.CONTA_CONTABIL,'') AND
					ISNULL(DESTINO.COD_FILIAL_ORIGEM,'')   = ISNULL(ORIGEM.COD_FILIAL_ORIGEM,'') AND 
					ISNULL(DESTINO.RATEIO_FILIAL,'')	   = ISNULL(ORIGEM.RATEIO_FILIAL,'') AND
					ISNULL(DESTINO.RATEIO_CENTRO_CUSTO,'') = ISNULL(ORIGEM.RATEIO_CENTRO_CUSTO,'') AND
					ISNULL(DESTINO.COD_TERCEIRO,'')	       = ISNULL(ORIGEM.COD_TERCEIRO,'')

					
		--QUANDO NÃO HÁ REGISTRO NO DESTINO E HÁ NA ORIGEM
		WHEN 
			NOT MATCHED 
			THEN INSERT ( COD_CUSTO_MEDIO, PRODUTO, COR_PRODUTO, FILIAL, DATA_SALDO, ITEM_COMPOSICAO, QTDE, VALOR, CONTA_CONTABIL, COD_FILIAL_ORIGEM, RATEIO_FILIAL, 
						  RATEIO_CENTRO_CUSTO, COD_TERCEIRO ) 
						VALUES 
						( ORIGEM.COD_CUSTO_MEDIO, ORIGEM.PRODUTO, ORIGEM.COR_PRODUTO, ORIGEM.FILIAL, ORIGEM.DATA_SALDO, ORIGEM.ITEM_COMPOSICAO, ORIGEM.QTDE, 
						  ORIGEM.VALOR, ORIGEM.CONTA_CONTABIL, ORIGEM.COD_FILIAL_ORIGEM, ORIGEM.RATEIO_FILIAL, ORIGEM.RATEIO_CENTRO_CUSTO, ORIGEM.COD_TERCEIRO )

		-- HÁ REGISTRO NO DESTINO E NA ORIGEM
		WHEN 
			MATCHED 	
			THEN UPDATE 
				SET DESTINO.COD_CUSTO_MEDIO			= ORIGEM.COD_CUSTO_MEDIO, 
					DESTINO.PRODUTO					= ORIGEM.PRODUTO,
					DESTINO.COR_PRODUTO				= ORIGEM.COR_PRODUTO, 
					DESTINO.FILIAL					= ORIGEM.FILIAL,
					DESTINO.DATA_SALDO				= ORIGEM.DATA_SALDO, 
					DESTINO.ITEM_COMPOSICAO			= ORIGEM.ITEM_COMPOSICAO,
					DESTINO.QTDE					= ORIGEM.QTDE, 
					DESTINO.VALOR					= ORIGEM.VALOR, 
					DESTINO.CONTA_CONTABIL			= ORIGEM.CONTA_CONTABIL,
					DESTINO.COD_FILIAL_ORIGEM		= ORIGEM.COD_FILIAL_ORIGEM, 
					DESTINO.RATEIO_FILIAL			= ORIGEM.RATEIO_FILIAL,
					DESTINO.RATEIO_CENTRO_CUSTO	    = ORIGEM.RATEIO_CENTRO_CUSTO,
					DESTINO.COD_TERCEIRO		    = ORIGEM.COD_TERCEIRO;

		----------------------------------------
		-- DELETE DIRETO, LENTIDÃO NO MERGE #8#
		----------------------------------------

			DELETE DESTINO
			FROM CM_ESTOQUE_PA_COMPOSICAO DESTINO
				LEFT JOIN @CM_ESTOQUE_PA_COMPOSICAO ORIGEM
							ON	ORIGEM.COD_CUSTO_MEDIO					= DESTINO.COD_CUSTO_MEDIO AND
								ORIGEM.FILIAL							= DESTINO.FILIAL AND
								ORIGEM.PRODUTO							= DESTINO.PRODUTO AND
								ORIGEM.COR_PRODUTO						= DESTINO.COR_PRODUTO AND
								ORIGEM.DATA_SALDO						= DESTINO.DATA_SALDO AND
								ORIGEM.ITEM_COMPOSICAO					= DESTINO.ITEM_COMPOSICAO AND
								ISNULL(ORIGEM.CONTA_CONTABIL,'')		= ISNULL(DESTINO.CONTA_CONTABIL,'') AND
								ISNULL(ORIGEM.COD_FILIAL_ORIGEM,'')		= ISNULL(DESTINO.COD_FILIAL_ORIGEM,'') AND 
								ISNULL(ORIGEM.RATEIO_FILIAL,'')			= ISNULL(DESTINO.RATEIO_FILIAL,'') AND
								ISNULL(ORIGEM.RATEIO_CENTRO_CUSTO,'')	= ISNULL(DESTINO.RATEIO_CENTRO_CUSTO,'') AND
								ISNULL(ORIGEM.COD_TERCEIRO,'')			= ISNULL(DESTINO.COD_TERCEIRO,'')
			WHERE ORIGEM.PRODUTO IS NULL AND
				  DESTINO.COD_CUSTO_MEDIO = @COD_CUSTO_MEDIO		
		
		----------------------------------------
		-- DELETE DIRETO, LENTIDÃO NO MERGE #8#
		----------------------------------------	

		-------------
		-- FIM MERGE 
		-------------		

	-------------------------------------------
	-- FIM INSERE COMPOSICAO TABELA FISICA #8#
	-------------------------------------------
	--#8# 
	END

	------------------------------------------------------------------------------------------------------------------------------------------------
	-- VERIFICA SE EXISTE UMA PROCEDURE DE USUÁRIO PARA COMPOSIÇÃO DO CUSTO MÉDIO
	------------------------------------------------------------------------------------------------------------------------------------------------
	IF EXISTS( SELECT * FROM SYSOBJECTS WHERE NAME = 'LX_CM_COMPOSICAO_CUSTO_PA_OE' )
		EXECUTE LX_CM_COMPOSICAO_CUSTO_PA_OE @COD_CUSTO_MEDIO, @EMPRESA, @COD_CUSTO_ANTERIOR
	------------------------------------------------------------------------------------------------------------------------------------------------

	SET NOCOUNT OFF