USE [CAEDU]
GO
/****** Object:  StoredProcedure [dbo].[csm_cae_importa_entradas]    Script Date: 16/03/2021 14:35:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER procedure [dbo].[CSM_CAE_IMPORTA_ENTRADAS]
as

begin
	declare @inicio datetime

	SELECT @INICIO = substring(VALOR_ATUAL,7,4)+substring(VALOR_ATUAL,4,2)+substring(VALOR_ATUAL,1,2)
	FROM PARAMETROS WHERE PARAMETRO = 'PALMA_DTCORTE_BARRAVELHA'
	
	--set @inicio = '20180713'

	----Levantar os parametros
	insert into CSM_TRANSITO_NOTAS
	(
	NF_ENTRADA,
	NOME_CLIFOR,
	SERIE_NF_ENTRADA,
	FILIAL_ENTRADA,
	TRANSITO_BAIXADO
	)
	select distinct a.NF_ENTRADA, a.NOME_CLIFOR, a.SERIE_NF_ENTRADA, a.filial, 0
	from entradas a
	join entradas_produto b on a.NF_ENTRADA = b.NF_ENTRADA and a.NOME_CLIFOR = b.NOME_CLIFOR and a.SERIE_NF_ENTRADA = b.SERIE_NF_ENTRADA 
	left join CSM_TRANSITO_NOTAS c on a.NF_ENTRADA = c.NF_ENTRADA and a.NOME_CLIFOR = c.NOME_CLIFOR and a.SERIE_NF_ENTRADA = c.SERIE_NF_ENTRADA 
	where recebimento >= @inicio  and c.NF_ENTRADA is null and a.FILIAL = 'CD NAVEGANTES'

end
