USE [CAEDU]
GO
/****** Object:  StoredProcedure [dbo].[SP_ERP_CAEDU_ATUALIZA_FATOR_P]    Script Date: 02/08/2021 15:37:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[SP_ERP_CAEDU_ATUALIZA_FATOR_P]
/*
* PAULO EDUARDO DEVIDE
* 15-12-2014
*---------------------------------------------------------------------------------
* OBJETIVO:
* ATUALIZAR O CAMPO FATOR_P DA TABELA DE PRODUTOS COM OS DADOS DA TABELA
* CAE_PRODUTOS_FATOR_P, QUE É ALIMENTADO POR UMA PLANILHA EXCEL PELA EQUIPE 
* DE COMPRAS. QUANDO A PLANILHA EXCEL É CARREGADA, O CAMPO ATUALIZADO É SETADO PARA 
* FALSE E APÓS ATUALIZAR O CAMPO FATOR_P NA TABELA DE PRODUTOS, É SETADO PARA 
* TRUE, INDICANDO QUE NO PROXIMO JOB ESTES PRODUTOS NÃO NECESSITAM MAIS 
* SEREM ATUALIZADOS
* 
*/
AS
SET NOCOUNT ON
DECLARE @I INT, @TOT INT

SELECT IDENTITY(int,1,1) as ID,
      CODIGO_FATOR, GRIFFE, LINHA, GRUPO_PRODUTO, SUBGRUPO_PRODUTO, COUNT(*) AS QTD
      
into #tmpGrupos
      
FROM 
      CAE_PRODUTOS_FATOR_P
WHERE 
      (CAE_PRODUTOS_FATOR_P.ATUALIZADO = 0)    
GROUP BY 
      CODIGO_FATOR, GRIFFE, LINHA, GRUPO_PRODUTO, SUBGRUPO_PRODUTO

SET @TOT = @@ROWCOUNT
SET @I = 1

DECLARE
      @REFERENCIA char(1), 
      @GRIFFE varchar(25), 
      @LINHA varchar(25), 
      @GRUPO_PRODUTO varchar(25), 
      @SUBGRUPO_PRODUTO varchar(25), 
      @VALOR1 numeric(14, 2), 
      @VALOR2 numeric(14, 2) 

WHILE @I<=@TOT
BEGIN

      SELECT 
            @GRIFFE = #tmpGrupos.GRIFFE
            ,@LINHA = #tmpGrupos.LINHA
            ,@GRUPO_PRODUTO = #tmpGrupos.GRUPO_PRODUTO
            ,@SUBGRUPO_PRODUTO = #tmpGrupos.SUBGRUPO_PRODUTO
      FROM 
            #tmpGrupos
      WHERE 
            #tmpGrupos.ID = @I


            UPDATE PRODUTOS 
                  SET fator_p = ISNULL(c.REFERENCIA,0), DATA_PARA_TRANSFERENCIA=GETDATE() 
            from 
                  PRODUTOS a
            inner join 
                  PRODUTOS_PRECOS B on a.PRODUTO = b.PRODUTO and b.CODIGO_TAB_PRECO = '01'
            left  join 
                  CAE_PRODUTOS_FATOR_P c on b.PRECO1 between  c.VALOR1 and c.VALOR2
                  and a.GRIFFE = c.GRIFFE  and a.LINHA = c.LINHA
                  and a.GRUPO_PRODUTO = c.GRUPO_PRODUTO
                  and a.SUBGRUPO_PRODUTO = c.SUBGRUPO_PRODUTO
            where 
                  a.GRIFFE = @GRIFFE 
                  and a.LINHA = @LINHA
                  and a.GRUPO_PRODUTO = @GRUPO_PRODUTO 
                  and a.SUBGRUPO_PRODUTO = @SUBGRUPO_PRODUTO     
      
      --PRINT @GRIFFE + '|' + @LINHA + '|' + @GRUPO_PRODUTO + '|' + @SUBGRUPO_PRODUTO + '|' + cast(@@rowcount as varchar(6))                 
      update CAE_PRODUTOS_FATOR_P
      set ATUALIZADO = 1
      where       GRIFFE = @GRIFFE 
            and LINHA = @LINHA
            and GRUPO_PRODUTO = @GRUPO_PRODUTO 
            and SUBGRUPO_PRODUTO = @SUBGRUPO_PRODUTO
            
      SET @I = @I + 1
END

--SELECT @TOT AS TOTAL
SET NOCOUNT OFF
