USE [CAEDU]
GO
/****** Object:  StoredProcedure [dbo].[CGP_LX_GERA_PEDIDO_E_COMM]    Script Date: 21/07/2026 15:28:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--EXEC CGP_LX_GERA_PEDIDO_E_COMM '285804','285804V', 2
ALTER PROCEDURE [dbo].[CGP_LX_GERA_PEDIDO_E_COMM]
	@PEDIDO VARCHAR(12), 
	@PEDIDO_DEST VARCHAR(12),
	@QTDPACKS INT 
AS
BEGIN
	IF EXISTS (SELECT 1 FROM COMPRAS WHERE PEDIDO = @PEDIDO_DEST)
	BEGIN
		RAISERROR('PEDIDO DESTINO JÁ EXISTE! EXECUÇÃO CANCELADA!',16,1)
		RETURN
	END
	DECLARE @ENTREGA VARCHAR(10), 
			@CUSTO numeric (18,6), 
			@QTDETOTAL INT

	INSERT INTO COMPRAS (
			PEDIDO,
			FORNECEDOR,
			PEDIDO_FORNECEDOR,
			FILIAL_A_ENTREGAR,
			FILIAL_COBRANCA,
			FILIAL_A_FATURAR,
			CONDICAO_PGTO,
			TRANSPORTADORA,
			MOEDA,
			COD_TRANSACAO,
			EMISSAO ,
			CADASTRAMENTO,
			APROVADO_POR,
			DESCONTO,
			ENCARGO,
			VALOR_IPI,
			FRETE_A_PAGAR,
			TOT_VALOR_ORIGINAL,
			TOT_VALOR_ENTREGAR,
			CTRL_MULT_ENTREGAS,
			TABELA_FILHA,
			ENTREGA_ACEITAVEL,
			REQUERIDO_POR,
			TIPO_COMPRA,
			PROGRAMACAO,
			STATUS_APROVACAO,
			DATA_APROVACAO,
			ORIGEM_DA_COMPRA,
			STATUS_COMPRA,
			PEDIDO_VENDA,
			COMPRIMENTO_DE_ROLOS,
			TOT_VALOR_DESPESA,
			MARCA_VOLUMES,
			APROVADOR_POR,
			RATEIO_CENTRO_CUSTO,
			RATEIO_FILIAL,
			DATA_FATURAMENTO_RELATIVO,
			NATUREZA_ENTRADA,
			NATUREZA,
			ID_ASSINATURA_DOCUMENTO,
			DATA_PARA_TRANSFERENCIA,
			PEDIDO_COMPRA_ORIGEM,
			CAEDU_DATA_ENTREGA_ORIGINAL,
			LX_STATUS_COMPRA,
			QUANTIDADE_AGENDAMENTO,
			QUANTIDADE_CANCELAMENTO,
			CAEDU_DATA_OTB,
			STATUS_CQ,
			MOTIVO_CQ,
			ERP_CONFERENCIA_PACKS,
			ERP_CAB_COD_CABIDE,
			ERP_CAB_CD_ENTREGA,
			ERP_CAB_ENCABIDADO,
			ERP_CAB_STATUS,
			ERP_CAB_LOCALIZACAO,
			ERP_CAB_QTDPECAS,
			ERP_CAB_TIPO_PEDIDO,
			ERP_CAB_DATA_ENVIO,
			OBJETO_ID,
			ERP_CUPS_TIPO_PEDIDO,
			ERP_CUPS_SEGMENTO,
			ERP_CUPS_DATA_ACORDADA,
			ERP_CUPS_PECA_MOSTRUARIO,
			ERP_CUPS_EMBARQUE_ATUAL,
			ERP_CUPS_EMBARQUE_REAL,
			ERP_CUPS_CONTRATO,
			ERP_CUPS_CHEGADA_PORTO,
			ERP_CUPS_CHEGADA_CD,
			ERP_CUPS_PROCESSO_CCF_CCA,
			ERP_CUPS_EMBARQUE_LIBERADO,
			ERP_CUPS_SEQ_PRODUTO,
			ERP_CUPS_INCOTERM,
			ERP_CUPS_ID_CONTRATO,
			ERP_IMP_NUM_FATURA,
			ERP_IMP_COD_PROCESSO,
			ERP_IMP_TIPO_IMPORTACAO,
			ERP_PERCENT_VERBAS,
			BLOQ_EMBARQUE,
			ERP_EBS_CTRL_PAGTO_PARCELA,
			ERP_EBS_VLR_SISCOMEX,
			ERP_EBS_VLR_CUSTO_FOB_DI,
			ERP_EBS_VLR_TAXA_DI,
			ERP_EBS_VLR_TAXA_BL,
			ERP_IMPORTADO,
			ERP_MOEDA,
			ERP_TOTAL_QTD_DISTRIB,
			ERP_PERCENT_DISTRIB,
			ERP_TOTAL_CAIXAS_ORIGINAL,
			ERP_PACK_RESTO,
			CTB_TIPO_OPERACAO,
			DESC_TIPO_OPERACAO,
			GERAR_WF,
			CHAVE_PROCESSO_SE,
			ERP_DISTRIBUICAO,
			ERP_MANUAL,
			ERP_LIBERADO_CQ,
			ERP_FATURADO,
			ERP_CAB_OPCAO,
			ERP_CAB_COD_BOLACHA)

	SELECT	@PEDIDO_DEST AS PEDIDO,
			FORNECEDOR,
			'E-COMMERCE' AS PEDIDO_FORNECEDOR,
			FILIAL_A_ENTREGAR,
			FILIAL_COBRANCA,
			FILIAL_A_FATURAR,
			CONDICAO_PGTO,
			TRANSPORTADORA,
			MOEDA,
			COD_TRANSACAO,
			CAST(CONVERT(VARCHAR,GETDATE(),112) AS DATE) AS EMISSAO ,
			CADASTRAMENTO,
			APROVADO_POR,
			0.00 as DESCONTO,
			ENCARGO,
			VALOR_IPI,
			FRETE_A_PAGAR,
			TOT_VALOR_ORIGINAL,
			TOT_VALOR_ENTREGAR,
			CTRL_MULT_ENTREGAS,
			TABELA_FILHA,
			ENTREGA_ACEITAVEL,
			REQUERIDO_POR,
			'E-COMMERCE' AS TIPO_COMPRA,
			PROGRAMACAO,
			'A' as STATUS_APROVACAO,
			DATA_APROVACAO,
			ORIGEM_DA_COMPRA,
			'01' as STATUS_COMPRA,
			PEDIDO_VENDA,
			COMPRIMENTO_DE_ROLOS,
			TOT_VALOR_DESPESA,
			MARCA_VOLUMES,
			APROVADOR_POR,
			RATEIO_CENTRO_CUSTO,
			RATEIO_FILIAL,
			DATA_FATURAMENTO_RELATIVO,
			NATUREZA_ENTRADA,
			NATUREZA,
			ID_ASSINATURA_DOCUMENTO,
			DATA_PARA_TRANSFERENCIA,
			PEDIDO_COMPRA_ORIGEM,
			CAEDU_DATA_ENTREGA_ORIGINAL,
			LX_STATUS_COMPRA,
			QUANTIDADE_AGENDAMENTO,
			QUANTIDADE_CANCELAMENTO,
			CAEDU_DATA_OTB,
			STATUS_CQ,
			MOTIVO_CQ,
			ERP_CONFERENCIA_PACKS,
			ERP_CAB_COD_CABIDE,
			ERP_CAB_CD_ENTREGA,
			ERP_CAB_ENCABIDADO,
			ERP_CAB_STATUS,
			ERP_CAB_LOCALIZACAO,
			ERP_CAB_QTDPECAS,
			ERP_CAB_TIPO_PEDIDO,
			ERP_CAB_DATA_ENVIO,
			OBJETO_ID,
			ERP_CUPS_TIPO_PEDIDO,
			ERP_CUPS_SEGMENTO,
			ERP_CUPS_DATA_ACORDADA,
			ERP_CUPS_PECA_MOSTRUARIO,
			ERP_CUPS_EMBARQUE_ATUAL,
			ERP_CUPS_EMBARQUE_REAL,
			ERP_CUPS_CONTRATO,
			ERP_CUPS_CHEGADA_PORTO,
			ERP_CUPS_CHEGADA_CD,
			ERP_CUPS_PROCESSO_CCF_CCA,
			ERP_CUPS_EMBARQUE_LIBERADO,
			ERP_CUPS_SEQ_PRODUTO,
			ERP_CUPS_INCOTERM,
			ERP_CUPS_ID_CONTRATO,
			ERP_IMP_NUM_FATURA,
			ERP_IMP_COD_PROCESSO,
			ERP_IMP_TIPO_IMPORTACAO,
			ERP_PERCENT_VERBAS,
			BLOQ_EMBARQUE,
			ERP_EBS_CTRL_PAGTO_PARCELA,
			ERP_EBS_VLR_SISCOMEX,
			ERP_EBS_VLR_CUSTO_FOB_DI,
			ERP_EBS_VLR_TAXA_DI,
			ERP_EBS_VLR_TAXA_BL,
			ERP_IMPORTADO,
			ERP_MOEDA,
			ERP_TOTAL_QTD_DISTRIB,
			ERP_PERCENT_DISTRIB,
			ERP_TOTAL_CAIXAS_ORIGINAL,
			ERP_PACK_RESTO,
			CTB_TIPO_OPERACAO,
			DESC_TIPO_OPERACAO,
			GERAR_WF,
			CHAVE_PROCESSO_SE,
			ERP_DISTRIBUICAO,
			ERP_MANUAL,
			ERP_LIBERADO_CQ,
			ERP_FATURADO,
			ERP_CAB_OPCAO,
			ERP_CAB_COD_BOLACHA
	from compras C
	where c.pedido = @PEDIDO

	INSERT INTO COMPRAS_PRODUTO 
	(PRODUTO
	,PEDIDO
	,ENTREGA
	,COR_PRODUTO
	,LIMITE_ENTREGA
	,REQUISICAO
	,CUSTO1
	,CUSTO2
	,CUSTO3
	,CUSTO4
	,CUSTO_MOEDA1
	,CUSTO_MOEDA2
	,CUSTO_MOEDA3
	,CUSTO_MOEDA4
	,QTDE_ORIGINAL
	,QTDE_CANCELADA
	,QTDE_ENTREGUE
	,QTDE_ENTREGAR
	,VALOR_ORIGINAL
	,VALOR_ENTREGUE
	,VALOR_ENTREGAR
	,DESCONTO_ITEM
	,IPI
	,PACKS
	,CO1
	,CO2
	,CO3
	,CO4
	,CO5
	,CO6
	,CO7
	,CO8
	,CO9
	,CO10
	,CO11
	,CO12
	,CO13
	,CO14
	,CO15
	,CO16
	,CO17
	,CO18
	,CO19
	,CO20
	,CO21
	,CO22
	,CO23
	,CO24
	,CO25
	,CO26
	,CO27
	,CO28
	,CO29
	,CO30
	,CO31
	,CO32
	,CO33
	,CO34
	,CO35
	,CO36
	,CO37
	,CO38
	,CO39
	,CO40
	,CO41
	,CO42
	,CO43
	,CO44
	,CO45
	,CO46
	,CO47
	,CO48
	,CE1
	,CE2
	,CE3
	,CE4
	,CE5
	,CE6
	,CE7
	,CE8
	,CE9
	,CE10
	,CE11
	,CE12
	,CE13
	,CE14
	,CE15
	,CE16
	,CE17
	,CE18
	,CE19
	,CE20
	,CE21
	,CE22
	,CE23
	,CE24
	,CE25
	,CE26
	,CE27
	,CE28
	,CE29
	,CE30
	,CE31
	,CE32
	,CE33
	,CE34
	,CE35
	,CE36
	,CE37
	,CE38
	,CE39
	,CE40
	,CE41
	,CE42
	,CE43
	,CE44
	,CE45
	,CE46
	,CE47
	,CE48
	,ENTREGUE_MOEDA_PADRAO
	,CHEGADA_PREVISTA
	,OBS_ITEM
	,DATA_CONFIRMACAO
	,DATA_PARA_TRANSFERENCIA
	,QTDE_COMPRA_RATEIO
	,VALOR_COMPRA_RATEIO
	,COD_ALOCACAO
	,MULTIPLICADOR_ALOCACAO
	,QUANTIDADE_AGENDAMENTO
	,QUANTIDADE_CANCELAMENTO
	,ERP_CUPS_PACKS_POR_CAIXA
	,ERP_CUPS_CUSTO_FOB
	,ERP_PERC_MARGEM
	,ERP_CUPS_SEQUENCIA
	,ERP_CUPS_CUSTO_FOB_MINIMO
	,QTDE
	,ERP_VERBAS_EMPENHO
	,ERP_VERBAS_DATA_EMPENHO
	,ERP_VERBAS_EMPENHO_ANO_MES
	,ERP_VERBAS_STATUS_PR
	,DATA_ACERTO_CONSIGNACAO
	,ERP_CONJUNTO
	,ERP_COR_PRODUTO2)
	SELECT 
	CP.PRODUTO
	,@PEDIDO_DEST AS PEDIDO
	,CP.ENTREGA
	,CP.COR_PRODUTO
	,CP.LIMITE_ENTREGA
	,CP.REQUISICAO
	,CP.CUSTO1
	,CP.CUSTO2
	,CP.CUSTO3
	,CP.CUSTO4
	,CP.CUSTO_MOEDA1
	,CP.CUSTO_MOEDA2
	,CP.CUSTO_MOEDA3
	,CP.CUSTO_MOEDA4
	,@QTDPACKS * ISNULL(B.QTDE,0) AS QTDE_ORIGINAL
	,CP.QTDE_CANCELADA
	,CP.QTDE_ENTREGUE
	,@QTDPACKS * ISNULL(B.QTDE,0)  AS QTDE_ENTREGAR
	,(@QTDPACKS * ISNULL(B.QTDE,0))*CP.CUSTO1 AS VALOR_ORIGINAL
	,CP.VALOR_ENTREGUE
	,(@QTDPACKS * ISNULL(B.QTDE,0))*CP.CUSTO1 AS VALOR_ENTREGAR
	,CP.DESCONTO_ITEM
	,CP.IPI
	,CP.PACKS
	,@QTDPACKS * ISNULL(B.Q1,0) AS CO1
	,@QTDPACKS * ISNULL(B.Q2,0) AS CO2
	,@QTDPACKS * ISNULL(B.Q3,0) AS CO3
	,@QTDPACKS * ISNULL(B.Q4,0) AS CO4
	,@QTDPACKS * ISNULL(B.Q5,0) AS CO5
	,@QTDPACKS * ISNULL(B.Q6,0) AS CO6
	,@QTDPACKS * ISNULL(B.Q7,0) AS CO7
	,@QTDPACKS * ISNULL(B.Q8,0) AS CO8
	,@QTDPACKS * ISNULL(B.Q9,0) AS CO9
	,@QTDPACKS * ISNULL(B.Q10,0) AS CO10
	,@QTDPACKS * ISNULL(B.Q11,0) AS CO11
	,@QTDPACKS * ISNULL(B.Q12,0) AS CO12
	,@QTDPACKS * ISNULL(B.Q13,0) AS CO13
	,@QTDPACKS * ISNULL(B.Q14,0) AS CO14
	,@QTDPACKS * ISNULL(B.Q15,0) AS CO15
	,@QTDPACKS * ISNULL(B.Q16,0) AS CO16
	,@QTDPACKS * ISNULL(B.Q17,0) AS CO17
	,@QTDPACKS * ISNULL(B.Q18,0) AS CO18
	,@QTDPACKS * ISNULL(B.Q19,0) AS CO19
	,@QTDPACKS * ISNULL(B.Q20,0) AS CO20
	,@QTDPACKS * ISNULL(B.Q21,0) AS CO21
	,@QTDPACKS * ISNULL(B.Q22,0) AS CO22
	,@QTDPACKS * ISNULL(B.Q23,0) AS CO23
	,@QTDPACKS * ISNULL(B.Q24,0) AS CO24
	,@QTDPACKS * ISNULL(B.Q25,0) AS CO25
	,@QTDPACKS * ISNULL(B.Q26,0) AS CO26
	,@QTDPACKS * ISNULL(B.Q27,0) AS CO27
	,@QTDPACKS * ISNULL(B.Q28,0) AS CO28
	,@QTDPACKS * ISNULL(B.Q29,0) AS CO29
	,@QTDPACKS * ISNULL(B.Q30,0) AS CO30
	,@QTDPACKS * ISNULL(B.Q31,0) AS CO31
	,@QTDPACKS * ISNULL(B.Q32,0) AS CO32
	,@QTDPACKS * ISNULL(B.Q33,0) AS CO33
	,@QTDPACKS * ISNULL(B.Q34,0) AS CO34
	,@QTDPACKS * ISNULL(B.Q35,0) AS CO35
	,@QTDPACKS * ISNULL(B.Q36,0) AS CO36
	,@QTDPACKS * ISNULL(B.Q37,0) AS CO37
	,@QTDPACKS * ISNULL(B.Q38,0) AS CO38
	,@QTDPACKS * ISNULL(B.Q39,0) AS CO39
	,@QTDPACKS * ISNULL(B.Q40,0) AS CO40
	,@QTDPACKS * ISNULL(B.Q41,0) AS CO41
	,@QTDPACKS * ISNULL(B.Q42,0) AS CO42
	,@QTDPACKS * ISNULL(B.Q43,0) AS CO43
	,@QTDPACKS * ISNULL(B.Q44,0) AS CO44
	,@QTDPACKS * ISNULL(B.Q45,0) AS CO45
	,@QTDPACKS * ISNULL(B.Q46,0) AS CO46
	,@QTDPACKS * ISNULL(B.Q47,0) AS CO47
	,@QTDPACKS * ISNULL(B.Q48,0) AS CO48
	,@QTDPACKS * ISNULL(B.Q1,0) AS CE1
	,@QTDPACKS * ISNULL(B.Q2,0) AS CE2
	,@QTDPACKS * ISNULL(B.Q3,0) AS CE3
	,@QTDPACKS * ISNULL(B.Q4,0) AS CE4
	,@QTDPACKS * ISNULL(B.Q5,0) AS CE5
	,@QTDPACKS * ISNULL(B.Q6,0) AS CE6
	,@QTDPACKS * ISNULL(B.Q7,0) AS CE7
	,@QTDPACKS * ISNULL(B.Q8,0) AS CE8
	,@QTDPACKS * ISNULL(B.Q9,0) AS CE9
	,@QTDPACKS * ISNULL(B.Q10,0) AS CE10
	,@QTDPACKS * ISNULL(B.Q11,0) AS CE11
	,@QTDPACKS * ISNULL(B.Q12,0) AS CE12
	,@QTDPACKS * ISNULL(B.Q13,0) AS CE13
	,@QTDPACKS * ISNULL(B.Q14,0) AS CE14
	,@QTDPACKS * ISNULL(B.Q15,0) AS CE15
	,@QTDPACKS * ISNULL(B.Q16,0) AS CE16
	,@QTDPACKS * ISNULL(B.Q17,0) AS CE17
	,@QTDPACKS * ISNULL(B.Q18,0) AS CE18
	,@QTDPACKS * ISNULL(B.Q19,0) AS CE19
	,@QTDPACKS * ISNULL(B.Q20,0) AS CE20
	,@QTDPACKS * ISNULL(B.Q21,0) AS CE21
	,@QTDPACKS * ISNULL(B.Q22,0) AS CE22
	,@QTDPACKS * ISNULL(B.Q23,0) AS CE23
	,@QTDPACKS * ISNULL(B.Q24,0) AS CE24
	,@QTDPACKS * ISNULL(B.Q25,0) AS CE25
	,@QTDPACKS * ISNULL(B.Q26,0) AS CE26
	,@QTDPACKS * ISNULL(B.Q27,0) AS CE27
	,@QTDPACKS * ISNULL(B.Q28,0) AS CE28
	,@QTDPACKS * ISNULL(B.Q29,0) AS CE29
	,@QTDPACKS * ISNULL(B.Q30,0) AS CE30
	,@QTDPACKS * ISNULL(B.Q31,0) AS CE31
	,@QTDPACKS * ISNULL(B.Q32,0) AS CE32
	,@QTDPACKS * ISNULL(B.Q33,0) AS CE33
	,@QTDPACKS * ISNULL(B.Q34,0) AS CE34
	,@QTDPACKS * ISNULL(B.Q35,0) AS CE35
	,@QTDPACKS * ISNULL(B.Q36,0) AS CE36
	,@QTDPACKS * ISNULL(B.Q37,0) AS CE37
	,@QTDPACKS * ISNULL(B.Q38,0) AS CE38
	,@QTDPACKS * ISNULL(B.Q39,0) AS CE39
	,@QTDPACKS * ISNULL(B.Q40,0) AS CE40
	,@QTDPACKS * ISNULL(B.Q41,0) AS CE41
	,@QTDPACKS * ISNULL(B.Q42,0) AS CE42
	,@QTDPACKS * ISNULL(B.Q43,0) AS CE43
	,@QTDPACKS * ISNULL(B.Q44,0) AS CE44
	,@QTDPACKS * ISNULL(B.Q45,0) AS CE45
	,@QTDPACKS * ISNULL(B.Q46,0) AS CE46
	,@QTDPACKS * ISNULL(B.Q47,0) AS CE47
	,@QTDPACKS * ISNULL(B.Q48,0) AS CE48
	,CP.ENTREGUE_MOEDA_PADRAO
	,CP.CHEGADA_PREVISTA
	,CP.OBS_ITEM
	,CP.DATA_CONFIRMACAO
	,CP.DATA_PARA_TRANSFERENCIA
	,CP.QTDE_COMPRA_RATEIO
	,CP.VALOR_COMPRA_RATEIO
	,CP.COD_ALOCACAO
	,CP.MULTIPLICADOR_ALOCACAO
	,CP.QUANTIDADE_AGENDAMENTO
	,CP.QUANTIDADE_CANCELAMENTO
	,CP.ERP_CUPS_PACKS_POR_CAIXA
	,CP.ERP_CUPS_CUSTO_FOB
	,CP.ERP_PERC_MARGEM
	,CP.ERP_CUPS_SEQUENCIA
	,CP.ERP_CUPS_CUSTO_FOB_MINIMO
	,CP.QTDE
	,CP.ERP_VERBAS_EMPENHO
	,CP.ERP_VERBAS_DATA_EMPENHO
	,CP.ERP_VERBAS_EMPENHO_ANO_MES
	,CP.ERP_VERBAS_STATUS_PR
	,CP.DATA_ACERTO_CONSIGNACAO
	,CP.ERP_CONJUNTO
	,CP.ERP_COR_PRODUTO2

	FROM COMPRAS_PRODUTO CP
	INNER JOIN CAEDU_COMPRAS_PRODUTOS_PACKS B ON B.PEDIDO=CP.PEDIDO AND B.PRODUTO=CP.PRODUTO AND B.COR_PRODUTO=CP.COR_PRODUTO 
	WHERE CP.PEDIDO = @PEDIDO

	INSERT INTO CAEDU_COMPRAS_PRODUTOS_PACKS
	(PEDIDO, PRODUTO, COR_PRODUTO, DESC_COR_PRODUTO, QTDE, Q1, Q2, Q3, Q4, Q5, Q6, Q7, Q8, Q9, Q10, Q11, Q12, Q13, 
	Q14, Q15, Q16, Q17, Q18, Q19, Q20, Q21, Q22, Q23, Q24, Q25, Q26, Q27, Q28, Q29, Q30, Q31, Q32, Q33, Q34, Q35, Q36, 
	Q37, Q38, Q39, Q40, Q41, Q42, Q43, Q44, Q45, Q46, Q47, Q48)
	SELECT @PEDIDO_DEST AS PEDIDO, PRODUTO, COR_PRODUTO, DESC_COR_PRODUTO, QTDE, Q1, Q2, Q3, Q4, Q5, Q6, Q7, Q8, Q9, Q10, Q11, Q12, Q13, 
	Q14, Q15, Q16, Q17, Q18, Q19, Q20, Q21, Q22, Q23, Q24, Q25, Q26, Q27, Q28, Q29, Q30, Q31, Q32, Q33, Q34, Q35, Q36, 
	Q37, Q38, Q39, Q40, Q41, Q42, Q43, Q44, Q45, Q46, Q47, Q48
	FROM CAEDU_COMPRAS_PRODUTOS_PACKS 
	WHERE PEDIDO = @PEDIDO

	INSERT INTO CAEDU_COMPRAS_PRODUTOS_PACKS_TOTAL
	(PEDIDO, PRODUTO, QTDE, Q1, Q2, Q3, Q4, Q5, Q6, Q7, Q8, Q9, Q10, Q11, Q12, Q13, 
	Q14, Q15, Q16, Q17, Q18, Q19, Q20, Q21, Q22, Q23, Q24, Q25, Q26, Q27, Q28, Q29, Q30, Q31, Q32, Q33, Q34, Q35, Q36, 
	Q37, Q38, Q39, Q40, Q41, Q42, Q43, Q44, Q45, Q46, Q47, Q48)
	SELECT @PEDIDO_DEST AS PEDIDO, PRODUTO, QTDE, Q1, Q2, Q3, Q4, Q5, Q6, Q7, Q8, Q9, Q10, Q11, Q12, Q13, 
	Q14, Q15, Q16, Q17, Q18, Q19, Q20, Q21, Q22, Q23, Q24, Q25, Q26, Q27, Q28, Q29, Q30, Q31, Q32, Q33, Q34, Q35, Q36, 
	Q37, Q38, Q39, Q40, Q41, Q42, Q43, Q44, Q45, Q46, Q47, Q48
	FROM CAEDU_COMPRAS_PRODUTOS_PACKS_TOTAL 
	WHERE PEDIDO = @PEDIDO

	SELECT @ENTREGA = MAX(CONVERT(VARCHAR,ENTREGA,103)), @CUSTO = MAX(CUSTO1)  
	FROM COMPRAS_PRODUTO WHERE PEDIDO = @PEDIDO

	SELECT  @QTDETOTAL = SUM(QTDE_ORIGINAL) 
	FROM COMPRAS_PRODUTO WHERE PEDIDO = @PEDIDO_DEST

	DECLARE @PROP_PEDIDO_MAE CHAR(5)
	SELECT @PROP_PEDIDO_MAE=PROPRIEDADE 
	FROM PROPRIEDADE WHERE TITULO_PROPRIEDADE = 'PEDIDO_MAE'

	DECLARE @CLUSTER_UNOUS_MAE VARCHAR(70)
	
	/* COMENTADO EM 07.08.2026 - PRISCILLA SOLICITOU MANTER VALOR FIXO [0.01 - EMPRESA - TODAS AS LOJAS + ECOMM] */
	--SELECT @CLUSTER_UNOUS_MAE = VALOR_PROPRIEDADE
	--FROM PROP_COMPRAS 
	--WHERE PEDIDO = @PEDIDO AND PROPRIEDADE='00120'

	SET @CLUSTER_UNOUS_MAE = '0.01 - EMPRESA - TODAS AS LOJAS + ECOMM' /* VALOR FIXO SOLICITADO PELA PRISCILLA EM 07.08.2026 */

	insert into PROP_COMPRAS 
	(PROPRIEDADE,PEDIDO,ITEM_PROPRIEDADE,VALOR_PROPRIEDADE,DATA_PARA_TRANSFERENCIA)
	values
	('00093',@PEDIDO_DEST,1,'NÃO', NULL),                                                                  
	('00095',@PEDIDO_DEST,1,'NÃO', NULL), 
	('00096',@PEDIDO_DEST,1,'NÃO', NULL), 
	('00097',@PEDIDO_DEST,1,'0', NULL), 
	('00106',@PEDIDO_DEST,1,'SIM', NULL), 
	('00110',@PEDIDO_DEST,1,'SIM', NULL), 
	('00111',@PEDIDO_DEST,1,@ENTREGA, NULL),
	(@PROP_PEDIDO_MAE,@PEDIDO_DEST,1,@PEDIDO, NULL),
	('00120',@PEDIDO_DEST,1,@CLUSTER_UNOUS_MAE,NULL)

	update c 
	set TOT_VALOR_ORIGINAL= @QTDETOTAL * @CUSTO, 
		TOT_VALOR_ENTREGAR = @QTDETOTAL * @CUSTO, 
		TOT_QTDE_ORIGINAL = @QTDETOTAL, TOT_QTDE_ENTREGAR = @QTDETOTAL, 
		ERP_TOTAL_CAIXAS_ORIGINAL = @QTDPACKS, ERP_PERCENT_DISTRIB=100, ERP_TOTAL_QTD_DISTRIB = @QTDPACKS, 
		ERP_CAB_OPCAO=0,
	    CTB_TIPO_OPERACAO = SUBSTRING(C.NATUREZA_ENTRADA, 1, 3),
		DESC_TIPO_OPERACAO = T.DESC_TIPO_OPERACAO
	FROM COMPRAS C
	LEFT JOIN CTB_LX_TIPO_OPERACAO T
		ON T.CTB_TIPO_OPERACAO = SUBSTRING(C.NATUREZA_ENTRADA, 1, 3)
	WHERE C.PEDIDO = @PEDIDO_DEST;

END


 