--USE [CAEDU]
--GO
--/****** Object:  UserDefinedFunction [dbo].[FX_CSM_GERA_KARDEX_CM]    Script Date: 01/07/2024 15:44:41 ******/
--SET ANSI_NULLS ON
--GO
--SET QUOTED_IDENTIFIER ON
--GO
--ALTER FUNCTION [dbo].[FX_CSM_GERA_KARDEX_CM](@FILIAL VARCHAR(25), @PRODUTO VARCHAR(12), @DATA_INI DATETIME, @DATA_FIM DATETIME) 


declare 
	@FILIAL VARCHAR(25)='MG - BH CENTRO', 
	@PRODUTO VARCHAR(12)='%', 
	@DATA_INI DATETIME='20240401', 
	@DATA_FIM DATETIME='20240430'

--select * FROM FX_CM_MONTA_CARDEX_PA_CSM(@PRODUTO,'%',@FILIAL,@DATA_INI,@DATA_FIM,0,NULL) 
--order by ITEM_COMPOSICAO, PRODUTO, COR_PRODUTO

declare @TABELA TABLE
(
	FILIAL VARCHAR(25), 
	PRODUTO VARCHAR(12), 
	COR_PRODUTO VARCHAR(12), 
	ITEM_COMPOSICAO VARCHAR(10), 
	DESC_ITEM_COMPOSICAO VARCHAR(40), 
	DATA_MOV DATETIME, 
	DOC VARCHAR(40), 
	OP_PED_ROMAN VARCHAR(40), 
	SERIE_NF VARCHAR(6),  
	QTDE INT, 
	CUSTO_MEDIO_UNITARIO NUMERIC(18,5), 
	VALOR_CUSTO NUMERIC(18,5), 
	COD_CUSTO_MEDIO VARCHAR(10),  
	COD_TRANSACAO VARCHAR(25),
	TIPO_OPERACAO VARCHAR(10),
	CHAVE_NFE VARCHAR(50)
) 


DECLARE @COD_CUSTO_MEDIO VARCHAR(10), @COD_CUSTO_ANT VARCHAR(10)

DECLARE @TABELA_KARDEX TABLE(
	ITEM INT,
	ITEM_COMPOSICAO	CHAR(10),
	DOC	VARCHAR(40),
	OP_PED_ROMAN CHAR(40),
	SERIE_NF CHAR(6),
	ESPECIE_SERIE VARCHAR(40),
	PRODUTO CHAR(12),
	COR_PRODUTO CHAR(10),
	FILIAL VARCHAR(25),
	DATA_MOV DATETIME,
	QTDE INT,
	VALOR NUMERIC(15,5),
	VALOR_ENCARGO NUMERIC(14,2),
	VALOR_DESCONTO NUMERIC(14,2),
	VALOR_ENCARGO_IMPORTACAO NUMERIC(14,2),
	VALOR_IMPOSTO_DESTACAR NUMERIC(14,2),
	VALOR_IMPOSTO_AGREGAR NUMERIC(14,2),
	VALOR_FRETE	NUMERIC(14,2),
	VALOR_SEGURO NUMERIC(14,2),
	VALOR_FRETE_TRANSPORTADORA NUMERIC(14,2),
	VALOR_DESPESAS NUMERIC(14,2),
	VALOR_RESERVAS NUMERIC(14,2),
	VALOR_CONHECIMENTO_RELACIONADO NUMERIC(14,2),
	VALOR_BRUTO	NUMERIC(14,2),
	VALOR_LIQ NUMERIC(14,2),
	VALOR_BASE_IPI NUMERIC(14,2),
	VALOR_IPI NUMERIC(14,2),
	GRADE VARCHAR(25),
	TIPO_OPERACAO CHAR(1),
	CFOP CHAR(4),
	DESCRICAO_CFOP VARCHAR(250),
	UNIDADE CHAR(5),
	CLASSIF_FISCAL CHAR(10),
	MATRIZ_FISCAL VARCHAR(25),
	COD_TERCEIRO VARCHAR(14),
	CHAVE_NFE VARCHAR(50),
	SEQUENCIA INT,
	COD_TRANSACAO VARCHAR(25),
	COD_CUSTO_MEDIO	VARCHAR(10),
	CUSTO_MEDIO_UNITARIO NUMERIC(18,5)
)
	
/*INICIO ->> CUSTOMIZACAO PAULO DEVIDE - PEGAR ULTIMO CMV PROCESSADO*/
DECLARE @ULT_DATA_SALDO DATETIME, @ULT_COD_CUSTO_MEDIO VARCHAR(8), @ULT_COD_CUSTO_MEDIO_ANTERIOR VARCHAR(8)
SELECT TOP 1	@ULT_DATA_SALDO=DATA_SALDO, 
				@ULT_COD_CUSTO_MEDIO=COD_CUSTO_MEDIO, 
				@ULT_COD_CUSTO_MEDIO_ANTERIOR=COD_CUSTO_MEDIO_ANTERIOR
FROM CM_FECHAMENTO_CUSTO_MEDIO 
WHERE DATA_SALDO = (SELECT MAX(DATA_SALDO) FROM CM_FECHAMENTO_CUSTO_MEDIO)
ORDER BY DATA_GERACAO DESC
/*FINAL ->> CUSTOMIZACAO PAULO DEVIDE - PEGAR ULTIMO CMV PROCESSADO*/

INSERT INTO @TABELA_KARDEX
SELECT ITEM, ITEM_COMPOSICAO, DOC, OP_PED_ROMAN, SERIE_NF, ESPECIE_SERIE, PRODUTO, COR_PRODUTO, FILIAL, DATA_MOV, QTDE, VALOR, VALOR_ENCARGO,
VALOR_DESCONTO, VALOR_ENCARGO_IMPORTACAO, VALOR_IMPOSTO_DESTACAR, VALOR_IMPOSTO_AGREGAR, VALOR_FRETE, VALOR_SEGURO, VALOR_FRETE_TRANSPORTADORA,
VALOR_DESPESAS, VALOR_RESERVAS, VALOR_CONHECIMENTO_RELACIONADO, VALOR_BRUTO, VALOR_LIQ, VALOR_BASE_IPI, VALOR_IPI, GRADE, TIPO_OPERACAO, CFOP,
DESCRICAO_CFOP, UNIDADE, CLASSIF_FISCAL, MATRIZ_FISCAL, COD_TERCEIRO, CHAVE_NFE, SEQUENCIA, COD_TRANSACAO,
SPACE(10) AS COD_CUSTO_MEDIO, CAST(0 AS NUMERIC(18,5)) AS CUSTO_MEDIO_UNITARIO
FROM FX_CM_MONTA_CARDEX_PA_CSM(@PRODUTO,'%',@FILIAL,@DATA_INI,@DATA_FIM,0,NULL) 

INSERT INTO @TABELA 
SELECT A.FILIAL, A.PRODUTO, A.COR_PRODUTO, A.ITEM_COMPOSICAO, B.DESC_ITEM_COMPOSICAO, A.DATA_MOV, A.DOC, A.OP_PED_ROMAN, A.SERIE_NF,  
A.QTDE * B.FATOR_EST_PROPRIO AS QTDE, ISNULL(A.CUSTO_MEDIO_UNITARIO,0) AS CUSTO_MEDIO_UNITARIO, 
(A.QTDE * ISNULL(A.CUSTO_MEDIO_UNITARIO,0)) * B.FATOR_EST_PROPRIO AS VALOR_CUSTO, 
A.COD_CUSTO_MEDIO, 
A.COD_TRANSACAO,
A.TIPO_OPERACAO,
A.CHAVE_NFE
FROM @TABELA_KARDEX A
JOIN CM_ITEM_COMPOSICAO B ON A.ITEM_COMPOSICAO = B.ITEM_COMPOSICAO 
WHERE A.ITEM_COMPOSICAO NOT IN ('029') 

/*
SE A DATA DO MOVIMENTO DA TABELA FOR MAIOR QUE O 
O ULTIMO CMV PROCESSADO NO BANCO, ENTÃO ASSUME O CÓDIGO DELE
*/
DECLARE @DATA_MIN DATETIME
SELECT @DATA_MIN = MIN(DATA_MOV) FROM @TABELA

IF @DATA_MIN > @ULT_DATA_SALDO -- NÃO TEM CMV DO MÊS CORRENTE PROCESSADO AINDA
BEGIN
	UPDATE A SET COD_CUSTO_MEDIO = @ULT_COD_CUSTO_MEDIO
	FROM @TABELA A 
END
ELSE
BEGIN	 
	UPDATE A SET COD_CUSTO_MEDIO = B.COD_CUSTO_MEDIO 
	FROM @TABELA A 
	JOIN CM_FECHAMENTO_CUSTO_MEDIO B ON YEAR(A.DATA_MOV) = YEAR(B.DATA_SALDO) 
			AND MONTH(A.DATA_MOV) = MONTH(B.DATA_SALDO) 
			/*INICIO CUSTOMIZAÇÃO PAULO DEVIDE PARA PEGAR O ULTIMO CUSTO MEDIO PROCESSADO DO MÊS - 2024-05-27*/
			AND B.COD_CUSTO_MEDIO = (
			select top 1 COD_CUSTO_MEDIO from CM_FECHAMENTO_CUSTO_MEDIO 
				WHERE COD_CUSTO_MEDIO LIKE CONVERT(VARCHAR(6),B.DATA_SALDO,112)+'%' and 
				data_geracao = (select MAX(data_geracao) 
				from CM_FECHAMENTO_CUSTO_MEDIO WHERE COD_CUSTO_MEDIO LIKE CONVERT(VARCHAR(6),B.DATA_SALDO,112)+'%')
				order by COD_CUSTO_MEDIO desc) /*FIM CUSTOMIZACAO*/
	--AND B.COD_CUSTO_MEDIO LIKE '%T2' --> ESTAVA ASSIM ANTES - TINOCO
END

/* AQUI AINDA NÃO TEM ITEM_COMPOSICAO 000, COMEÇA NO 005
select * from @TABELA
order by ITEM_COMPOSICAO, PRODUTO, COR_PRODUTO
return 
*/

UPDATE A SET COD_CUSTO_MEDIO = B.COD_CUSTO_MEDIO 
FROM @TABELA A 
JOIN CM_FECHAMENTO_CUSTO_MEDIO B ON YEAR(A.DATA_MOV) = YEAR(B.DATA_SALDO) AND MONTH(A.DATA_MOV) = MONTH(B.DATA_SALDO) 
AND ISNULL(A.COD_CUSTO_MEDIO,'') = '' 
	

SELECT @COD_CUSTO_ANT = COD_CUSTO_MEDIO_ANTERIOR 
FROM CM_FECHAMENTO_CUSTO_MEDIO 
WHERE YEAR(@DATA_INI) = YEAR(DATA_SALDO) 
AND MONTH(@DATA_INI) = MONTH(DATA_SALDO) 
/*INICIO CUSTOMIZAÇÃO PAULO DEVIDE PARA PEGAR O ULTIMO CUSTO MEDIO PROCESSADO DO MÊS - 2024-05-27*/
AND COD_CUSTO_MEDIO = (
select top 1 COD_CUSTO_MEDIO from CM_FECHAMENTO_CUSTO_MEDIO 
	WHERE COD_CUSTO_MEDIO LIKE CONVERT(VARCHAR(6),DATA_SALDO,112)+'%' and 
	data_geracao = (select MAX(data_geracao) 
	from CM_FECHAMENTO_CUSTO_MEDIO WHERE COD_CUSTO_MEDIO LIKE CONVERT(VARCHAR(6),DATA_SALDO,112)+'%')
	order by COD_CUSTO_MEDIO desc) /*FIM CUSTOMIZACAO*/
--AND COD_CUSTO_MEDIO LIKE '%T2' --> ESTAVA ASSIM - TINOCO

IF ISNULL(@COD_CUSTO_ANT,'') = '' 
begin
	SELECT @COD_CUSTO_ANT = COD_CUSTO_MEDIO_ANTERIOR 
	FROM CM_FECHAMENTO_CUSTO_MEDIO 
	WHERE YEAR(@DATA_INI) = YEAR(DATA_SALDO) AND MONTH(@DATA_INI) = MONTH(DATA_SALDO) 

	if @@rowcount = 0 -- não encontrou nada com a data de inicio do parametro @DATA_INI
		--print @ULT_COD_CUSTO_MEDIO_ANTERIOR --'Não trouxe nada!'
		SELECT @COD_CUSTO_ANT = @ULT_COD_CUSTO_MEDIO_ANTERIOR

end

INSERT INTO @TABELA
SELECT A.FILIAL, A.PRODUTO, '', '000', 'SALDO INICIAL', 
A.DATA_SALDO AS DATA_MOV, 
A.COD_CUSTO_MEDIO,'','',
SUM(A.QTDE * CASE WHEN A.ITEM_COMPOSICAO = '901' THEN -1 ELSE 1 END) AS QTDE, 
B.CUSTO_MEDIO_UNITARIO, 
SUM(A.VALOR * CASE WHEN A.ITEM_COMPOSICAO = '901' THEN -1 ELSE 1 END) AS VALOR, 
A.COD_CUSTO_MEDIO AS COD_CUSTO_MEDIO, '', '',''
FROM CM_ESTOQUE_PA_COMPOSICAO A 
JOIN CM_ESTOQUE_PA B ON A.COD_CUSTO_MEDIO = B.COD_CUSTO_MEDIO 
AND A.FILIAL = B.FILIAL 
AND A.PRODUTO = B.PRODUTO 
WHERE A.COD_CUSTO_MEDIO = @COD_CUSTO_ANT 
AND A.FILIAL LIKE @FILIAL 
AND A.ITEM_COMPOSICAO IN ('999','901') 
AND A.PRODUTO LIKE @PRODUTO 
GROUP BY A.FILIAL, A.PRODUTO, A.DATA_SALDO, A.COD_CUSTO_MEDIO, B.CUSTO_MEDIO_UNITARIO 

SELECT @COD_CUSTO_MEDIO = COD_CUSTO_MEDIO 
FROM CM_FECHAMENTO_CUSTO_MEDIO 
WHERE YEAR(@DATA_FIM) = YEAR(DATA_SALDO) AND MONTH(@DATA_FIM) = MONTH(DATA_SALDO) 

INSERT INTO @TABELA 
SELECT A.FILIAL, A.PRODUTO, '','999','SALDO FINAL',
@DATA_FIM AS DATA_MOV, @COD_CUSTO_MEDIO,'','',SUM(A.QTDE), 0 AS CUSTO_MEDIO_UNITARIO, 0 AS VALOR, 
@COD_CUSTO_MEDIO,'','','' 
FROM @TABELA A
GROUP BY A.FILIAL, A.PRODUTO 

UPDATE A SET DATA_MOV = B.DATA_MOV, COD_CUSTO_MEDIO = B.COD_CUSTO_MEDIO
FROM @TABELA A 
JOIN 
(
	SELECT FILIAL, MAX(COD_CUSTO_MEDIO) COD_CUSTO_MEDIO, MAX(DATA_MOV) DATA_MOV
	FROM @TABELA 
	WHERE ITEM_COMPOSICAO <> '999' 
	GROUP BY FILIAL 
) B ON A.FILIAL = B.FILIAL 
WHERE A.ITEM_COMPOSICAO = '999' 

UPDATE A SET CUSTO_MEDIO_UNITARIO = ISNULL(B.CUSTO_MEDIO_UNITARIO,0), 
VALOR_CUSTO = A.QTDE * ISNULL(B.CUSTO_MEDIO_UNITARIO,0) 
FROM @TABELA A 
LEFT JOIN CM_ESTOQUE_PA B ON A.COD_CUSTO_MEDIO = B.COD_CUSTO_MEDIO
AND A.FILIAL = B.FILIAL 
AND A.PRODUTO = B.PRODUTO 
WHERE A.CUSTO_MEDIO_UNITARIO = 0 
AND ITEM_COMPOSICAO NOT IN ('000')

SELECT *
FROM @TABELA
order by ITEM_COMPOSICAO, PRODUTO, COR_PRODUTO

/*

select * from ESTOQUE_PROD_CONTAGEM
where EMISSAO > '20240401' and NOME_CONTAGEM not like 'AJ%'

*/