USE [CAEDU]
GO
/****** Object:  StoredProcedure [dbo].[ARB_GERAR_PRECO_LOG]    Script Date: 09/09/2022 09:05:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER procedure [dbo].[ARB_GERAR_PRECO_LOG]
as
begin

    DECLARE @ERRMSG varchar(400)

    SET NOCOUNT ON

    IF OBJECT_ID('TempDB.dbo.#PRODUTOS_PRECO_LOG') IS NOT NULL
    BEGIN
	   DROP TABLE #PRODUTOS_PRECO_LOG
    end

    SELECT B.FILIAL,B.VALOR_ATUAL AS CODIGO_TAB_PRECO ,ARB_MARKDOWN_GERADO.PRODUTO, ARB_MARKDOWN_GERADO.PRECO_MARKDOWN , ARB_MARKDOWN_GERADO.PRECO_TABELA, ARB_MARKDOWN_GERADO.DATA_APROVACAO, 
    convert(varchar(10),ARB_MARKDOWN_GERADO.DATA_APROVACAO + (
    case when ARB_PARAMETROS_MARKDOWN.domingo_2 = 1 then 1
	    when ARB_PARAMETROS_MARKDOWN.segunda_2 = 1 then case when DATEPART(DW, ARB_MARKDOWN_GERADO.DATA_APROVACAO) > 2 then 9  else 2 end
	    when ARB_PARAMETROS_MARKDOWN.terca_2   = 1 then case when DATEPART(DW, ARB_MARKDOWN_GERADO.DATA_APROVACAO) > 3 then 10 else 3 end
	    when ARB_PARAMETROS_MARKDOWN.quarta_2  = 1 then case when DATEPART(DW, ARB_MARKDOWN_GERADO.DATA_APROVACAO) > 4 then 11 else 4 end
	    when ARB_PARAMETROS_MARKDOWN.quinta_2  = 1 then case when DATEPART(DW, ARB_MARKDOWN_GERADO.DATA_APROVACAO) > 5 then 12 else 5 end
	    when ARB_PARAMETROS_MARKDOWN.sexta_2   = 1 then case when DATEPART(DW, ARB_MARKDOWN_GERADO.DATA_APROVACAO) > 6 then 13 else 6 end
	    when ARB_PARAMETROS_MARKDOWN.sabado_2  = 1 then case when DATEPART(DW, ARB_MARKDOWN_GERADO.DATA_APROVACAO) > 7 then 14 else 7 end end  - DATEPART(DW, ARB_MARKDOWN_GERADO.DATA_APROVACAO)),112) AS DATA_ATIVACAO,
    ARB_PARAMETROS_MARKDOWN.griffe, ARB_PARAMETROS_MARKDOWN.linha, ARB_PARAMETROS_MARKDOWN.grupo, ARB_MARKDOWN_GERADO.DESC_PRODUTO, ARB_MARKDOWN_GERADO.estoque 
    INTO #PRODUTOS_PRECO_LOG
    FROM ARB_MARKDOWN_GERADO
    JOIN ARB_PARAMETROS_MARKDOWN  ON ARB_MARKDOWN_GERADO.ID = ARB_PARAMETROS_MARKDOWN.ID  
    JOIN (SELECT F.FILIAL, ISNULL(B.VALOR_ATUAL,A.VALOR_ATUAL) AS VALOR_ATUAL FROM PARAMETROS A 
							    JOIN FILIAIS F ON F.FILIAL = F.FILIAL
							    LEFT JOIN PARAMETROS_LOJA B ON A.PARAMETRO = B.PARAMETRO AND B.CODIGO_FILIAL = F.COD_FILIAL 
							    WHERE A.PARAMETRO = 'CODIGO_TAB_PRECO') B ON ARB_MARKDOWN_GERADO.LOJA = B.FILIAL
    LEFT JOIN (SELECT A.*, B.FILIAL  
							    FROM PRODUTOS_PRECO_LOG A
							    JOIN (SELECT F.FILIAL, ISNULL(B.VALOR_ATUAL,A.VALOR_ATUAL) AS VALOR_ATUAL FROM PARAMETROS A 
							    JOIN FILIAIS F ON F.FILIAL = F.FILIAL
							    LEFT JOIN PARAMETROS_LOJA B ON A.PARAMETRO = B.PARAMETRO AND B.CODIGO_FILIAL = F.COD_FILIAL 
							    WHERE A.PARAMETRO = 'CODIGO_TAB_PRECO') B ON A.CODIGO_TAB_PRECO = B.VALOR_ATUAL ) PLOG ON ARB_MARKDOWN_GERADO.PRODUTO = PLOG.PRODUTO AND ARB_MARKDOWN_GERADO.LOJA = PLOG.FILIAL AND PLOG.DATA_ATIVACAO >= GETDATE() - ARB_PARAMETROS_MARKDOWN.D

    WHERE ARB_MARKDOWN_GERADO.CUSTO_CMV IS NOT NULL        
	   AND ARB_MARKDOWN_GERADO.CUSTO_TOTAL < ARB_MARKDOWN_GERADO.MARKDOWN_TOTAL        
	   AND ARB_MARKDOWN_GERADO.MARGEM_BRUTA > 0 
	   AND PLOG.CODIGO_TAB_PRECO IS NULL
	   AND ARB_MARKDOWN_GERADO.data_aprovacao is not null

    IF OBJECT_ID('TempDB.dbo.#PRODUTOS_PRECO_LOG') IS NOT NULL
    BEGIN

	   BEGIN TRANSACTION GERAR_PRECOS_LOG


	   INSERT PRECOS_LOG (DATA_ATIVACAO,CODIGO_TAB_PRECO,APROVADOR_POR,RESPONSAVEL,OBS,DATA_PARA_TRANSFERENCIA,APROVADO_POR)
	   SELECT DISTINCT DATA_ATIVACAO, CODIGO_TAB_PRECO,'AUTO MARKDOWN','AUTO MARKDOWN', 'GERADO AUTOMATICAMENTE PELO PROCESSO DE MARKDOWN',GETDATE(), 'AUTO MARKDOWN'  FROM #PRODUTOS_PRECO_LOG
	   IF @@ERROR <> 0 
	   begin
	   select @ERRMSG = 'ERRO AO INSERIR PRECOS_LOG'
		  goto error
	   end

	   INSERT PRODUTOS_PRECO_LOG (CODIGO_TAB_PRECO,DATA_ATIVACAO,PRODUTO,PRECO1,DATA_DIGITACAO,DATA_PARA_TRANSFERENCIA, PROCESSADO)
	   SELECT DISTINCT CODIGO_TAB_PRECO, DATA_ATIVACAO, PRODUTO , PRECO_MARKDOWN, convert(varchar(10),GETDATE(),112), getdate(),0  FROM #PRODUTOS_PRECO_LOG
	   IF @@ERROR <> 0 
	   begin
	   select @ERRMSG = 'ERRO AO INSERIR PRODUTOS_PRECO_LOG'
		  goto error
	   end

	   COMMIT TRANSACTION GERAR_PRECOS_LOG
	   --RETURN


	   declare @filial varchar(25), @msg varchar(max),  @email varchar(max), @produto varchar(12), @assunto varchar(100), @data_Ativacao datetime
	   declare @mgsTodas varchar(max)

	   set @mgsTodas = ''

	   declare cur_filiais cursor 
	   for select distinct filial, DATA_ATIVACAO  from #PRODUTOS_PRECO_LOG

	   open cur_filiais
	   fetch next from cur_filiais into @filial, @data_ativacao
	   while (@@fetch_status <> - 1) 
	   begin
		  set @msg = ''
		  set @assunto = 'Markdown - lista para o dia '+convert(varchar(12),@data_Ativacao,3)
		  select @email = valor_propriedade from PROP_FILIAIS where filial = @filial and propriedade = '00090'

		  --select @email = 'andre.leone@live.com'

		  declare cur_vendas cursor 
		  for select produto from #PRODUTOS_PRECO_LOG where filial = @filial 

		  open cur_vendas
		  fetch next from cur_vendas into @produto
		  while (@@fetch_status <> - 1) 
		  begin
			 select @msg = @msg+'<br>'+griffe+'/'+linha+'/'+grupo+
			 ' Produto: '+ltrim(rtrim(produto))+' - '+ltrim(rtrim(desc_produto))+' estoque: '+convert(char(5),estoque)+' de: R$ '+convert(varchar(20),PRECO_TABELA)+' para: R$ '+convert(varchar(20),convert(numeric(12,2),preco_markdown))			 
			 from #PRODUTOS_PRECO_LOG where filial = @filial and produto = @produto
			 fetch next from cur_vendas into @produto
		  end
		  CLOSE cur_vendas
		  DEALLOCATE cur_vendas
		  set @mgsTodas = @mgsTodas+ltrim(rtrim(@filial))+' - '+@assunto+'<br>'+@msg+'<br><br>'
		  print @filial + ' '  +@assunto
		  print @msg
		  --if isnull(@email,'') like '%@%.com%'
			 --EXEC MSDB..SP_SEND_DBMAIL   @PROFILE_NAME = 'CAEDU',  @RECIPIENTS = @EMAIL,  @BODY = @MSG, @body_format = 'HTML', @SUBJECT = @assunto
		  fetch next from cur_filiais into @filial, @data_ativacao
	   end
        CLOSE cur_filiais
        DEALLOCATE cur_filiais

	   if len(@mgsTodas) > 0
	   begin
		  set @assunto = 'Mardown Gerado'
		  select @email = valor_atual from PARAMETROS where parametro = 'EMAIL_MARKDOWN'

		  EXEC MSDB..SP_SEND_DBMAIL   @PROFILE_NAME = 'CAEDU',  @RECIPIENTS = @email,  @BODY = @mgsTodas, @body_format = 'HTML', @SUBJECT = @assunto
	   end
    END
---------------------------------------------------------------------------------------------------------------------------------------
    ERROR:
	
	   IF @@TRANCOUNT > 0
		  ROLLBACK TRANSACTION GERAR_PRECOS_LOG
	   IF @ERRMSG IS NOT NULL
	   BEGIN
		  RAISERROR (@ERRMSG,11,1)
	   END	
	
	   SET NOCOUNT OFF

----select #PRODUTOS_PRECO_LOG

end
