CREATE TABLE CAEDU_LAUDO_PEDIDO (
ID_LAUDO CHAR(8) NOT NULL, 
PEDIDO CHAR(8) NULL, 
FORNECEDOR VARCHAR(25) NULL, 
REGIME_INSPECAO CHAR(1) NULL, 
FILIAL_A_ENTREGAR VARCHAR(25) NULL, 
PRODUTO CHAR(12) NULL, 
DESC_PRODUTO VARCHAR(40) NULL, 
GRIFFE VARCHAR(25) NULL, 
LINHA VARCHAR(25) NULL, 
GRUPO_PRODUTO VARCHAR(25) NULL, 
SUBGRUPO_PRODUTO VARCHAR(25) NULL, 
GRADE VARCHAR(25) NULL, 
PECA_PILOTO CHAR(1) NULL, 
INSPETOR CHAR(6) NULL, 
DATA_RECEBIMENTO DATETIME NULL, 
DATA_INSPECAO DATETIME NULL, 
HORA_INICIO_INSPECAO CHAR(10) NULL, 
HORA_FINAL_INSPECAO CHAR(10) NULL, 
QUANT_INSPECAO INT NULL, 
TOTAL_DEFEITOS INT NULL, 
SITUACOES INT NULL, 
OBS_GERAL TEXT NULL, 
TIPO_NQA DECIMAL(12,2) NULL, 
TOT_QTDE_ORIGINAL INT NULL, 
AMOSTRAGEM_REDUZIDA CHAR(1) NULL, 
AMOSTRAGEM_CORRETA INT NULL, 
AMOSTRAGEM_REALIZADA INT NULL, 
AMOSTRAGEM_CORRETA_AC INT NULL, 
AMOSTRAGEM_REALIZADA_AC INT NULL, 
AMOSTRAGEM_CORRETA_RP INT NULL, 
AMOSTRAGEM_REALIZADA_RP INT NULL, 
AMOSTRAGEM_CORRETA_AC2 INT NULL, 
AMOSTRAGEM_REALIZADA_AC2 INT NULL, 
AMOSTRAGEM_CORRETA_RP2 INT NULL, 
AMOSTRAGEM_REALIZADA_RP2 INT NULL, 
CAMINHO_FOTO_PRODUTO VARCHAR(250) NULL)
GO

ALTER TABLE CAEDU_LAUDO_PEDIDO 
ADD CONSTRAINT PK_CAEDU_LAUDO_PEDIDO PRIMARY KEY (ID_LAUDO)
GO

ALTER TABLE CAEDU_LAUDO_PEDIDO 
ADD QTREGS_FILHA INT NOT NULL DEFAULT(0)
GO

CREATE TABLE CAEDU_LAUDO_PEDIDO_ITEM (
ID_LAUDO	CHAR(8) NOT NULL,
SEQUENCIA	INT     NOT NULL,
TIPO_DE_DEFEITO	INT NOT NULL,
CODIGO_DEFEITO	INT NOT NULL,
DESCRICAO_DEFEITO	VARCHAR(150) NOT NULL,
OBSERVACOES	VARCHAR(150) NULL,
QTDE_DEFEITOS	INT NULL,
PERCENT_DEFEITOS	NUMERIC(10,2) NULL)
GO


ALTER TABLE CAEDU_LAUDO_PEDIDO_ITEM
ADD FOTOSXML TEXT NULL
GO

UPDATE CAEDU_LAUDO_PEDIDO_ITEM
SET FOTOSXML = NULL

ALTER TABLE CAEDU_LAUDO_PEDIDO_ITEM 
DROP COLUMN FOTOSXML 
GO

ALTER TABLE CAEDU_LAUDO_PEDIDO_ITEM 
ADD CONSTRAINT PK_CAEDU_LAUDO_PEDIDO_ITEM PRIMARY KEY (ID_LAUDO,SEQUENCIA)
GO

--CREATE TABLE CAEDU_LAUDO_PEDIDO_ITEM_FOTOS (
--ID_LAUDO	CHAR(8) NOT NULL,
--SEQUENCIA	INT NOT NULL,
--NUM_FOTO	INT NOT NULL,
--CAMINHO_FOTO_DEFEITO VARCHAR(250))
--GO

--ALTER TABLE CAEDU_LAUDO_PEDIDO_ITEM_FOTOS 
--ADD CONSTRAINT PK_CAEDU_LAUDO_PEDIDO_ITEM_FOTOS PRIMARY KEY (ID_LAUDO,SEQUENCIA,NUM_FOTO)
--GO

CREATE TABLE CAEDU_LAUDO_PEDIDO_TABELA_DEFEITOS (
ID_DEFEITO	INT NOT NULL IDENTITY(1,1) PRIMARY KEY,
CODIGO	INT NOT NULL,
ID_TIPO_DEFEITO	INT NOT NULL,
DESCRICAO VARCHAR(70) NOT NULL,	
QTD	INT NULL,
DATA DATETIME NULL,	
ATIVO BIT NOT NULL )
GO


CREATE TABLE CAEDU_LAUDO_PEDIDO_TIPO_DEFEITO (
ID_TIPO_DEFEITO INT NOT NULL IDENTITY(1,1) PRIMARY KEY,
DESC_TIPO_DEFEITO VARCHAR(70) NOT NULL
)
GO


INSERT INTO CAEDU_LAUDO_PEDIDO_TIPO_DEFEITO (DESC_TIPO_DEFEITO) VALUES ('MATÉRIA PRIMA E ACABAMENTO');
INSERT INTO CAEDU_LAUDO_PEDIDO_TIPO_DEFEITO (DESC_TIPO_DEFEITO) VALUES ('CONFECÇÃO E MONTAGEM');
INSERT INTO CAEDU_LAUDO_PEDIDO_TIPO_DEFEITO (DESC_TIPO_DEFEITO) VALUES ('AVIAMENTOS');

--SELECT * FROM CAEDU_LAUDO_PEDIDO_TIPO_DEFEITO
INSERT INTO CAEDU_LAUDO_PEDIDO_TABELA_DEFEITOS (CODIGO, ID_TIPO_DEFEITO, DESCRICAO, QTD, DATA, ATIVO) VALUES (1, 1, 'DEFEITO DO TECIDO/MALHA', 1, GETDATE(), 1)
INSERT INTO CAEDU_LAUDO_PEDIDO_TABELA_DEFEITOS (CODIGO, ID_TIPO_DEFEITO, DESCRICAO, QTD, DATA, ATIVO) VALUES (2, 1, 'FUROS TECIDO/MALHA', 1, GETDATE(), 1)
INSERT INTO CAEDU_LAUDO_PEDIDO_TABELA_DEFEITOS (CODIGO, ID_TIPO_DEFEITO, DESCRICAO, QTD, DATA, ATIVO) VALUES (3, 1, 'MANCHA NO TECIDO/MALHA ', 1, GETDATE(), 1)


SELECT * FROM CAEDU_LAUDO_PEDIDO_TABELA_DEFEITOS

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[CAEDU_LAUDO_PEDIDO_GRADE](
	[ID_LAUDO] [char](8) NOT NULL,
	[PRODUTO] [char](12) NOT NULL,
	[COR_PRODUTO] [char](10) NOT NULL,
	[DESC_COR_PRODUTO] [varchar](40) NULL,
	[QTDE] [int] NULL,
	[Q1] [int] NULL,
	[Q2] [int] NULL,
	[Q3] [int] NULL,
	[Q4] [int] NULL,
	[Q5] [int] NULL,
	[Q6] [int] NULL,
	[Q7] [int] NULL,
	[Q8] [int] NULL,
	[Q9] [int] NULL,
	[Q10] [int] NULL,
	[Q11] [int] NULL,
	[Q12] [int] NULL,
	[Q13] [int] NULL,
	[Q14] [int] NULL,
	[Q15] [int] NULL,
	[Q16] [int] NULL,
	[Q17] [int] NULL,
	[Q18] [int] NULL,
	[Q19] [int] NULL,
	[Q20] [int] NULL,
	[Q21] [int] NULL,
	[Q22] [int] NULL,
	[Q23] [int] NULL,
	[Q24] [int] NULL,
	[Q25] [int] NULL,
	[Q26] [int] NULL,
	[Q27] [int] NULL,
	[Q28] [int] NULL,
	[Q29] [int] NULL,
	[Q30] [int] NULL,
	[Q31] [int] NULL,
	[Q32] [int] NULL,
	[Q33] [int] NULL,
	[Q34] [int] NULL,
	[Q35] [int] NULL,
	[Q36] [int] NULL,
	[Q37] [int] NULL,
	[Q38] [int] NULL,
	[Q39] [int] NULL,
	[Q40] [int] NULL,
	[Q41] [int] NULL,
	[Q42] [int] NULL,
	[Q43] [int] NULL,
	[Q44] [int] NULL,
	[Q45] [int] NULL,
	[Q46] [int] NULL,
	[Q47] [int] NULL,
	[Q48] [int] NULL,
 CONSTRAINT [XPKCAEDU_LAUDO_PEDIDO_GRADE] PRIMARY KEY CLUSTERED 
(
	[ID_LAUDO] ASC,
	[PRODUTO] ASC,
	[COR_PRODUTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 98) ON [PRIMARY]
) ON [PRIMARY]

GO

SET ANSI_PADDING OFF
GO

