declare @PFILIAL varchar(25) = 'PRAIA GRANDE'
declare @PDATA_INI datetime = '20220907'
declare @PDATA_FIM datetime = '20220907'


SELECT ( CASE WHEN ISNULL(G.NF_ENTRADA, '') = '' 
	        THEN 'ENTRADA NORMAL' 
	        ELSE ( CASE WHEN RTRIM(ISNULL(B.PEDIDO, '')) = '' 
	                    THEN 'ENTRADA DE NF' 
	                    ELSE 'ENTRADA DE NF POR PEDIDO' 
	                END ) 
	        END ) AS TIPOMOVTO, RTRIM(A.ROMANEIO_PRODUTO) + ( CASE WHEN ISNULL(G.NF_ENTRADA, '') = '' 
	                                                            THEN '' 
	                                                            ELSE '/' 
	                                                        END ) + RTRIM(ISNULL(G.NF_ENTRADA, '')) AS DOC,
	    A.PRODUTO, A.COR_PRODUTO, A.FILIAL, G.RECEBIMENTO AS EMISSAO, 
	    ( 'OP:' + RTRIM(ISNULL(B.ORDEM_PRODUCAO, '')) + '/PED:' + RTRIM(ISNULL(B.PEDIDO, '')) + '/OS:' + 
	        RTRIM(ISNULL(B.ORDEM_SERVICO, '')) ) AS OP_PED_ROMAN, EN_1, EN_2, EN_3, EN_4, EN_5, EN_6, EN_7, EN_8, EN_9, EN_10, EN_11, EN_12, EN_13, 
	    EN_14, EN_15, EN_16, EN_17, EN_18, EN_19, EN_20, EN_21, EN_22, EN_23, EN_24, EN_25, EN_26, EN_27, EN_28, EN_29, EN_30, EN_31, EN_32, 
	    EN_33, EN_34, EN_35, EN_36, EN_37, EN_38, EN_39, EN_40, EN_41, EN_42, EN_43, EN_44, EN_45, EN_46, EN_47, EN_48, 
	    ( EN_1 + EN_2 + EN_3 + EN_4 + EN_5 + EN_6 + EN_7 + EN_8 + EN_9 + EN_10 + EN_11 + EN_12 + EN_13 + EN_14 + EN_15 + EN_16 + EN_17 + EN_18 + 
	        EN_19 + EN_20 + EN_21 + EN_22 + EN_23 + EN_24 + EN_25 + EN_26 + EN_27 + EN_28 + EN_29 + EN_30 + EN_31 + EN_32 + EN_33 + EN_34 + EN_35 + 
	        EN_36 + EN_37 + EN_38 + EN_39 + EN_40 + EN_41 + EN_42 + EN_43 + EN_44 + EN_45 + EN_46 + EN_47 + EN_48 ) AS TT_MOV,
	    CONVERT(NUMERIC(14,2), ( A.VALOR / ( CASE WHEN A.QTDE <> 0 THEN A.QTDE ELSE 1 END ) )) AS PRECO,
	    VALOR = CONVERT(NUMERIC(14,2), ( CASE WHEN D.NF_ENTRADA IS NULL
									        THEN A.VALOR + ( CASE WHEN ( G.VALOR_TOTAL - G.IPI_VALOR ) * 
	                                                                    ( ( G.FRETE + G.SEGURO + G.ENCARGO - G.DESCONTO - G.ICMS_VALOR ) +
	                                                                    ( CASE WHEN IMPORTACAO = 1
	                                                                        THEN ( G.IMPORTACAO_IMPOSTO + G.IMPORTACAO_ICMS + G.IMPORTACAO_IPI + 
	                                                                            G.IMPORTACAO_ALFANDEGA + G.IMPORTACAO_OUTRAS_DESPESAS + 
	                                                                            G.IMPORTACAO_FRETE + G.IMPORTACAO_SEGURO + 
	                                                                            G.IMPORTACAO_DESEMBARACO )
	                                                                        ELSE 0 
	                                                                    END ) ) = 0 
	                                                            THEN 0 
	                                                            ELSE ( 1.000 * ( A.VALOR - 
	                                                                CONVERT(NUMERIC(14,2), ( A.VALOR * A.IPI / ( A.IPI + 100 ) ) ) ) /
	                                                                ( G.VALOR_TOTAL - G.IPI_VALOR ) * ( ( G.FRETE + G.SEGURO + G.ENCARGO - 
	                                                                G.DESCONTO - G.ICMS_VALOR ) +
	                                                                ( CASE WHEN IMPORTACAO = 1
	                                                                    THEN ( G.IMPORTACAO_IMPOSTO + G.IMPORTACAO_ICMS + G.IMPORTACAO_IPI + 
	                                                                            G.IMPORTACAO_ALFANDEGA + G.IMPORTACAO_OUTRAS_DESPESAS + 
	                                                                            G.IMPORTACAO_FRETE + G.IMPORTACAO_SEGURO + 
	                                                                            G.IMPORTACAO_DESEMBARACO )
	                                                                    ELSE 0 
	                                                                    END ) ) )
	                                                        END ) - ( CASE WHEN H.ABATER_COFINS_NO_MEDIO = 1 
	                                                                        THEN ( CASE WHEN G.EMISSAO > '20040229' 
	                                                                                THEN ( A.VALOR * 0.076 )  
	                                                                                ELSE ( A.VALOR * 0.03 ) 
	                                                                            END ) 
	                                                                        ELSE 0 
	                                                                    END ) - ( CASE WHEN H.ABATER_PIS_NO_MEDIO = 1 
	                                                                                THEN ( CASE WHEN G.EMISSAO > '20030228' 
	                                                                                            THEN ( A.VALOR * 0.0165 ) 
	                                                                                            ELSE ( A.VALOR * 0.01 ) 
	                                                                                        END ) 
	                                                                                ELSE 0 
	                                                                            END )
	                                        ELSE ( A.VALOR + 
	                                                ISNULL(( CASE WHEN D.VALOR_ITEM <> 0 
	                                                            THEN ( A.VALOR * ( D.VALOR_ENCARGOS / D.VALOR_ITEM ) ) 
	                                                            ELSE 0 
	                                                        END ), 0) - 
	                                                ISNULL(( CASE WHEN D.VALOR_ITEM <> 0 
	                                                            THEN ( A.VALOR * ( D.VALOR_DESCONTOS / D.VALOR_ITEM ) ) 
	                                                            ELSE 0 
	                                                        END ), 0) + 
	                                                ISNULL(( CASE WHEN D.VALOR_ITEM <> 0 
	                                                            THEN ( A.VALOR * ( D.VALOR_ENCARGOS_IMPORTACAO / D.VALOR_ITEM ) ) 
	                                                            ELSE 0 
	                                                        END ), 0) - 
	                                                ISNULL(( CASE WHEN H.ABATER_ICMS_NO_MEDIO = 1 AND D.VALOR_ITEM <> 0 
	                                                            THEN ( A.VALOR * ( E.VALOR_IMPOSTO_DESTACAR / D.VALOR_ITEM ) ) 
	                                                            ELSE 0 
	                                                        END ), 0) - 
	                                                ISNULL(( CASE WHEN H.ABATER_IPI_NO_MEDIO = 1 AND D.VALOR_ITEM <> 0 
	                                                            THEN ( A.VALOR * ( E.VALOR_IMPOSTO_AGREGAR / D.VALOR_ITEM ) ) 
	                                                            ELSE 0 
	                                                        END ), 0) - 
	                                                ISNULL(( CASE WHEN H.ABATER_COFINS_NO_MEDIO = 1 AND D.VALOR_ITEM <> 0 
	                                                            THEN ( A.VALOR * ( E.VALOR_COFINS / D.VALOR_ITEM ) ) 
	                                                            ELSE 0 
	                                                        END ), 0) - 
	                                                ISNULL(( CASE WHEN H.ABATER_PIS_NO_MEDIO = 1 AND D.VALOR_ITEM <> 0 
	                                                            THEN ( A.VALOR * ( E.VALOR_PIS / D.VALOR_ITEM ) ) 
	                                                            ELSE 0 
	                                                        END ), 0) ) 
	                                    END ) ),
	    FRETE_SEGURO_ENCARGO = CONVERT(NUMERIC(14,2), ( CASE WHEN D.NF_ENTRADA IS NULL
	                                                        THEN ( CASE WHEN ( G.VALOR_TOTAL - G.IPI_VALOR ) * 
	                                                                        ( ( G.FRETE + G.SEGURO + G.ENCARGO)) = 0 
	                                                                THEN 0 
	                                                                ELSE ( 1.000 * ( A.VALOR - 
	                                                                        CONVERT(NUMERIC(14,2), ( A.VALOR * A.IPI ) / ( A.IPI + 100 ) ) ) /
	                                                                        ( G.VALOR_TOTAL - G.IPI_VALOR ) * 
	                                                                        ( ( G.FRETE + G.SEGURO + G.ENCARGO ) ) ) 
	                                                                END )
	                                                        ELSE ISNULL(( CASE WHEN D.VALOR_ITEM <> 0 
	                                                                        THEN ( A.VALOR * ( D.VALOR_ENCARGOS / D.VALOR_ITEM ) ) 
	                                                                        ELSE 0 
	                                                                    END ), 0)
	                                                    END ) ),
	    DESCONTO = CONVERT(NUMERIC(14,2), ( CASE WHEN D.NF_ENTRADA IS NULL
	                                            THEN ( CASE WHEN ( G.VALOR_TOTAL - G.IPI_VALOR ) * ( ( G.DESCONTO ) ) = 0 
	                                                    THEN 0 
	                                                    ELSE ( 1.000 * ( A.VALOR - 
	                                                            CONVERT(NUMERIC(14,2), ( A.VALOR * A.IPI ) / ( A.IPI+100 ) ) ) /
	                                                            ( G.VALOR_TOTAL - G.IPI_VALOR ) * G.DESCONTO ) 
	                                                    END )
	                                            ELSE ISNULL(( CASE WHEN D.VALOR_ITEM <> 0 
	                                                            THEN ( A.VALOR * ( D.VALOR_DESCONTOS / D.VALOR_ITEM ) ) 
	                                                            ELSE 0 
	                                                        END ), 0)
	                                        END )), 
	    ICMS_VALOR = CONVERT(NUMERIC(14,2), ( CASE WHEN D.NF_ENTRADA IS NULL
	                                            THEN ( CASE WHEN ( G.VALOR_TOTAL - G.IPI_VALOR ) * ( ( ICMS_VALOR ) ) = 0 
	                                                        THEN 0 
	                                                        ELSE ( 1.000 * ( A.VALOR - 
	                                                            CONVERT(NUMERIC(14,2),( A.VALOR * A.IPI ) / (A.IPI + 100 ) ) ) /
	                                                            ( G.VALOR_TOTAL - G.IPI_VALOR ) * ( ( ICMS_VALOR ) ) )
	                                                    END )
	                                            ELSE ISNULL(( CASE WHEN H.ABATER_ICMS_NO_MEDIO = 1 AND D.VALOR_ITEM <> 0 
	                                                                THEN ( A.VALOR * ( E.VALOR_IMPOSTO_DESTACAR / D.VALOR_ITEM ) ) 
	                                                                ELSE 0 
	                                                            END ), 0)
	                                            END )),
	    IPI_VALOR = CONVERT(NUMERIC(14,2), ( CASE WHEN D.NF_ENTRADA IS NULL 
	                                            THEN ( CASE WHEN ( G.VALOR_TOTAL - G.IPI_VALOR ) * ( ( IPI_VALOR ) ) = 0 
	                                                        THEN 0 
	                                                        ELSE ( 1.000 * ( A.VALOR - 
	                                                            CONVERT(NUMERIC(14,2), ( A.VALOR * A.IPI ) / ( A.IPI + 100 ) ) ) /
	                                                            ( G.VALOR_TOTAL - G.IPI_VALOR ) * ( ( IPI_VALOR ) ) )
	                                                    END )
	                                            ELSE ISNULL(( CASE WHEN H.ABATER_IPI_NO_MEDIO = 1 AND D.VALOR_ITEM <> 0 
	                                                            THEN ( A.VALOR * ( E.VALOR_IMPOSTO_AGREGAR / D.VALOR_ITEM ) ) 
	                                                            ELSE 0 
	                                                            END ), 0)
	                                        END )),
	    COFINS_VALOR = CONVERT(NUMERIC(14,2), ( CASE WHEN D.NF_ENTRADA IS NULL 
	                                                THEN ( CASE WHEN H.ABATER_COFINS_NO_MEDIO = 1 
	                                                        THEN ( CASE WHEN G.EMISSAO > '20040229' 
	                                                                    THEN ( A.VALOR * 0.076 )
	                                                                    ELSE ( A.VALOR * 0.03 )
	                                                                END ) 
	                                                        ELSE 0 
	                                                        END )
	                                                ELSE ISNULL(( CASE WHEN H.ABATER_COFINS_NO_MEDIO = 1 AND D.VALOR_ITEM <> 0 
	                                                                THEN ( A.VALOR * ( E.VALOR_COFINS / D.VALOR_ITEM ) ) 
	                                                                ELSE 0 
	                                                            END ), 0)
	                                            END ) ), 
	    PIS_VALOR = CONVERT(NUMERIC(14,2), ( CASE WHEN D.NF_ENTRADA IS NULL 
	                                            THEN ( CASE WHEN H.ABATER_PIS_NO_MEDIO = 1 
	                                                        THEN ( CASE WHEN G.EMISSAO > '20030228' 
	                                                                THEN ( A.VALOR * 0.0165 ) 
	                                                                ELSE ( A.VALOR * 0.01 ) 
	                                                            END ) 
	                                                        ELSE 0 
	                                                    END )
	                                            ELSE ISNULL(( CASE WHEN H.ABATER_PIS_NO_MEDIO = 1 AND D.VALOR_ITEM <> 0 
	                                                            THEN ( A.VALOR * ( E.VALOR_PIS / D.VALOR_ITEM ) ) 
	                                                            ELSE 0 
	                                                            END ), 0)
	                                        END )),
	    DESP_IMPORT = CONVERT(NUMERIC(14,2), ( CASE WHEN D.NF_ENTRADA IS NULL
	                                                THEN ( CASE WHEN ( G.VALOR_TOTAL - G.IPI_VALOR ) * 
	                                                                ( CASE WHEN IMPORTACAO = 1 
	                                                                    THEN ( G.IMPORTACAO_IMPOSTO + G.IMPORTACAO_ICMS + G.IMPORTACAO_IPI + 
	                                                                            G.IMPORTACAO_ALFANDEGA + G.IMPORTACAO_OUTRAS_DESPESAS + 
	                                                                            G.IMPORTACAO_FRETE + G.IMPORTACAO_SEGURO + 
	                                                                            G.IMPORTACAO_DESEMBARACO )
	                                                                    ELSE 0 
	                                                                END ) = 0 
	                                                        THEN 0 
	                                                        ELSE ( 1.000 * ( A.VALOR - 
	                                                            CONVERT(NUMERIC(14,2),( A.VALOR * A.IPI ) / ( A.IPI + 100 ) ) ) / 
	                                                            ( G.VALOR_TOTAL - G.IPI_VALOR ) * 
	                                                            ( CASE WHEN IMPORTACAO = 1
	                                                                    THEN ( G.IMPORTACAO_IMPOSTO + G.IMPORTACAO_ICMS + G.IMPORTACAO_IPI + 
	                                                                        G.IMPORTACAO_ALFANDEGA + G.IMPORTACAO_OUTRAS_DESPESAS + 
	                                                                        G.IMPORTACAO_FRETE + G.IMPORTACAO_SEGURO + 
	                                                                        G.IMPORTACAO_DESEMBARACO ) 
	                                                                    ELSE 0 
	                                                                END ) ) 
	                                                    END )
	                                                ELSE ISNULL(( CASE WHEN D.VALOR_ITEM <> 0 
	                                                                THEN ( A.VALOR * ( D.VALOR_ENCARGOS_IMPORTACAO / D.VALOR_ITEM ) ) 
	                                                                ELSE 0 
	                                                            END ), 0)
	                                            END )),
	    P.CONTA_CONTABIL_COMPRA, P.CONTA_CONTABIL, D.CONTA_CONTABIL_MOVIMENTO, D.RATEIO_CENTRO_CUSTO, D.RATEIO_FILIAL, C.NATUREZA, 
	    C.DESC_NATUREZA, TTO.CTB_TIPO_OPERACAO, TTO.DESC_TIPO_OPERACAO, TTO.TIPO_OPERACAO, TTO.DESC_TIPO_OPERACAO AS DESC_GRUPO_TIPO_OPERACAO,
	    G.NF_ENTRADA, G.SERIE_NF_ENTRADA, G.ESPECIE_SERIE, P.UNIDADE, P.CLASSIF_FISCAL, D.CODIGO_FISCAL_OPERACAO, 'E' AS ES
FROM ESTOQUE_PROD1_ENT A
	    INNER JOIN ESTOQUE_PROD_ENT B ON B.ROMANEIO_PRODUTO = A.ROMANEIO_PRODUTO AND 
	                                    B.FILIAL = A.FILIAL
	    INNER JOIN ENTRADAS G ON G.NF_ENTRADA = B.NF_ENTRADA AND 
	                            G.NOME_CLIFOR = B.NOME_CLIFOR AND 
	                            G.SERIE_NF_ENTRADA = B.SERIE_NF_ENTRADA
	    INNER JOIN PRODUTOS P ON P.PRODUTO = A.PRODUTO
	    INNER JOIN CLASSIF_FISCAL H ON H.CLASSIF_FISCAL = P.CLASSIF_FISCAL
	    INNER JOIN FILIAIS F ON F.FILIAL = A.FILIAL
	    INNER JOIN NATUREZAS_ENTRADAS C ON C.NATUREZA = G.NATUREZA
	    LEFT JOIN CTB_LX_TIPO_OPERACAO TTO ON TTO.CTB_TIPO_OPERACAO = C.CTB_TIPO_OPERACAO 
	    LEFT JOIN ( SELECT A.NOME_CLIFOR, A.NF_ENTRADA, A.SERIE_NF_ENTRADA, A.ITEM_IMPRESSAO, A.CONTA_CONTABIL AS CONTA_CONTABIL_MOVIMENTO, 
	                    A.RATEIO_CENTRO_CUSTO, A.RATEIO_FILIAL, A.CODIGO_FISCAL_OPERACAO, SUM(A.VALOR_ITEM) AS VALOR_ITEM, 
	                    SUM(A.VALOR_ENCARGOS) AS VALOR_ENCARGOS, SUM(A.VALOR_DESCONTOS) AS VALOR_DESCONTOS, 
	                    SUM(VALOR_ENCARGOS_IMPORTACAO) AS VALOR_ENCARGOS_IMPORTACAO
	                FROM ENTRADAS_ITEM A
	                    INNER JOIN ENTRADAS B ON A.NOME_CLIFOR = B.NOME_CLIFOR AND
	                                            A.NF_ENTRADA = B.NF_ENTRADA AND
	                                            A.SERIE_NF_ENTRADA = B.SERIE_NF_ENTRADA 
	                /*WHERE @PUTILIZA_FISCAL = 1*/
	                GROUP BY A.NOME_CLIFOR, A.NF_ENTRADA, A.SERIE_NF_ENTRADA, A.ITEM_IMPRESSAO, A.CONTA_CONTABIL, A.RATEIO_CENTRO_CUSTO, 
	                        A.RATEIO_FILIAL, A.CODIGO_FISCAL_OPERACAO ) D ON D.NOME_CLIFOR = B.NOME_CLIFOR AND
	                                                                        D.NF_ENTRADA = B.NF_ENTRADA AND
	                                                                        D.SERIE_NF_ENTRADA = B.SERIE_NF_ENTRADA AND
	                                                                        D.ITEM_IMPRESSAO = A.ITEM_IMPRESSAO
	    LEFT JOIN ( SELECT A.NOME_CLIFOR, A.NF_ENTRADA, A.SERIE_NF_ENTRADA, A.ITEM_IMPRESSAO, SUM(A.VALOR_ITEM) AS VALOR_ITEM, 
	                    SUM(( CASE WHEN C.ID_IMPOSTO IN (1,4) THEN C.VALOR_IMPOSTO_ESPELHO ELSE 0 END)) AS VALOR_IMPOSTO_DESTACAR,
	                    SUM(( CASE WHEN C.ID_IMPOSTO = 2 THEN C.VALOR_IMPOSTO_ESPELHO ELSE 0 END )) AS VALOR_IMPOSTO_AGREGAR,
	                    SUM(( CASE WHEN C.ID_IMPOSTO = 6 THEN C.VALOR_IMPOSTO_ESPELHO ELSE 0 END )) AS VALOR_COFINS,
	                    SUM(( CASE WHEN C.ID_IMPOSTO = 5 THEN C.VALOR_IMPOSTO_ESPELHO ELSE 0 END )) AS VALOR_PIS
	                FROM ENTRADAS_ITEM A
	                    INNER JOIN ENTRADAS B ON A.NOME_CLIFOR = B.NOME_CLIFOR AND
	                                            A.NF_ENTRADA = B.NF_ENTRADA AND
	                                            A.SERIE_NF_ENTRADA = B.SERIE_NF_ENTRADA
	                    INNER JOIN ENTRADAS_IMPOSTO C ON C.NOME_CLIFOR = A.NOME_CLIFOR AND
	                                                    C.NF_ENTRADA = A.NF_ENTRADA AND
	                                                    C.SERIE_NF_ENTRADA = A.SERIE_NF_ENTRADA AND
	                                                    C.ITEM_IMPRESSAO = A.ITEM_IMPRESSAO AND
	                                                    C.SUB_ITEM_TAMANHO = A.SUB_ITEM_TAMANHO 
	                /*WHERE @PUTILIZA_FISCAL = 1*/
	                GROUP BY A.NOME_CLIFOR, A.NF_ENTRADA, A.SERIE_NF_ENTRADA, A.ITEM_IMPRESSAO ) E ON E.NOME_CLIFOR = D.NOME_CLIFOR AND
	                                                                                                E.NF_ENTRADA = D.NF_ENTRADA AND
	                                                                                                E.SERIE_NF_ENTRADA = D.SERIE_NF_ENTRADA AND
	                                                                                                E.ITEM_IMPRESSAO = D.ITEM_IMPRESSAO
WHERE /*A.PRODUTO LIKE @PPRODUTO AND 
	    A.COR_PRODUTO LIKE @PCOR_PRODUTO AND */
	    A.FILIAL LIKE @PFILIAL AND 
	    ISNULL(TTO.TIPO_OPERACAO, C.TIPO_OPERACAO) <> 'D' AND
--	      B.TIPO_ENTRADA <> 4 AND 
	    G.RECEBIMENTO BETWEEN @PDATA_INI AND @PDATA_FIM
------------------------------------------------------------------------------------------------------------------------------------------------
UNION ALL
------------------------------------------------------------------------------------------------------------------------------------------------
SELECT 'ENTRADA POR OP' AS TIPOMOVTO, A.ROMANEIO_PRODUTO AS DOC, A.PRODUTO, A.COR_PRODUTO, A.FILIAL, B.EMISSAO, 
	    ( 'OP:' + RTRIM(ISNULL(B.ORDEM_PRODUCAO, '')) + '/PED:' + RTRIM(ISNULL(B.PEDIDO, '')) + '/OS:' + 
	        RTRIM(ISNULL(B.ORDEM_SERVICO, '')) ) AS OP_PED_ROMAN, EN_1, EN_2, EN_3, EN_4, EN_5, EN_6, EN_7, EN_8, EN_9, EN_10, EN_11, EN_12, 
	    EN_13, EN_14, EN_15, EN_16, EN_17, EN_18, EN_19, EN_20, EN_21, EN_22, EN_23, EN_24, EN_25, EN_26, EN_27, EN_28, EN_29, EN_30, EN_31, 
	    EN_32, EN_33, EN_34, EN_35, EN_36, EN_37, EN_38, EN_39, EN_40, EN_41, EN_42, EN_43, EN_44, EN_45, EN_46, EN_47, EN_48, 
	    ( EN_1 + EN_2 + EN_3 + EN_4 + EN_5 + EN_6 + EN_7 + EN_8 + EN_9 + EN_10 + EN_11 + EN_12 + EN_13 + EN_14 + EN_15 + EN_16 + EN_17 + EN_18 + 
	        EN_19 + EN_20 + EN_21 + EN_22 + EN_23 + EN_24 + EN_25 + EN_26 + EN_27 + EN_28 + EN_29 + EN_30 + EN_31 + EN_32 + EN_33 + EN_34 + EN_35 + 
	        EN_36 + EN_37 + EN_38 + EN_39 + EN_40 + EN_41 + EN_42 + EN_43 + EN_44 + EN_45 + EN_46 + EN_47 + EN_48 ) AS TT_MOV,
	    ( CASE WHEN ISNULL(A.CUSTO_PRODUCAO, 0) = 0
	        THEN ( CASE WHEN ISNULL(A.QTDE, 0) = 0 
	                    THEN 0 
	                    ELSE ( A.VALOR / A.QTDE ) 
	                END )
	        ELSE ( A.CUSTO_PRODUCAO + ( CASE WHEN ISNULL(A.QTDE, 0) = 0 
	                                        THEN 0 
	                                        ELSE ( A.CUSTO_INDIRETO / A.QTDE ) 
	                                    END ) )
	        END ) AS PRECO, ( CASE WHEN ISNULL(A.CUSTO_PRODUCAO, 0) = 0
	                            THEN A.VALOR
	                            ELSE ( ( A.CUSTO_PRODUCAO + ( CASE WHEN ISNULL(A.QTDE, 0) = 0 
	                                                            THEN 0 
	                                                            ELSE ( A.CUSTO_INDIRETO / A.QTDE ) 
	                                                        END ) ) * A.QTDE )
	                        END ) AS VALOR, FRETE_SEGURO_ENCARGO = 0, DESCONTO = 0, ICMS_VALOR = 0, IPI_VALOR = 0, COFINS_VALOR = 0, 
	    PIS_VALOR = 0, DESP_IMPORT = 0, PRODUTOS.CONTA_CONTABIL_COMPRA, PRODUTOS.CONTA_CONTABIL, 
	    PRODUTOS.CONTA_CONTABIL AS CONTA_CONTABIL_MOVIMENTO, RATEIO_CENTRO_CUSTO = NULL, RATEIO_FILIAL = NULL, NATUREZA = NULL, 
	    DESC_NATUREZA = NULL, CTB_TIPO_OPERACAO = NULL, DESC_TIPO_OPERACAO= NULL, TIPO_OPERACAO = NULL, DESC_GRUPO_TIPO_OPERACAO = NULL,
	    NULL AS NF_ENTRADA, NULL AS SERIE_NF_ENTRADA, NULL AS ESPECIE_SERIE, PRODUTOS.UNIDADE, PRODUTOS.CLASSIF_FISCAL, 
	    NULL AS CODIGO_FISCAL_OPERACAO, 'E' AS ES
FROM ESTOQUE_PROD1_ENT A
	    INNER JOIN PRODUTOS ON PRODUTOS.PRODUTO = A.PRODUTO 
	    INNER JOIN ESTOQUE_PROD_ENT B ON A.ROMANEIO_PRODUTO = B.ROMANEIO_PRODUTO AND
	                                    A.FILIAL = B.FILIAL
WHERE B.ORDEM_PRODUCAO IS NOT NULL AND 
	    ISNULL(B.TIPO_ENTRADA, 1) NOT IN ( 3, 4 ) AND 
	    /*A.PRODUTO LIKE @PPRODUTO AND 
	    A.COR_PRODUTO LIKE @PCOR_PRODUTO AND */
	    A.FILIAL LIKE @PFILIAL AND 
	    B.EMISSAO BETWEEN @PDATA_INI AND @PDATA_FIM
------------------------------------------------------------------------------------------------------------------------------------------------
UNION ALL
------------------------------------------------------------------------------------------------------------------------------------------------
SELECT ( CASE WHEN ISNULL(G.NF_ENTRADA, '') = '' 
	        THEN ( CASE WHEN TIPO_ENTRADA = '4' 
	                    THEN 'ENTRADA POR DEVOLUÇÃO' 
	                    ELSE ( CASE WHEN B.ROMANEIO_ORIGEM IS NOT NULL AND B.FILIAL_ORIGEM IS NOT NULL 
	                            THEN 'ENTRADA POR TRANSFERENCIA'
	                            ELSE 'ENTRADA NORMAL' 
	                            END )
	                END ) 
	        ELSE ( CASE WHEN ISNULL(TTO.TIPO_OPERACAO, N.TIPO_OPERACAO) = 'D' 
	                    THEN 'ENTRADA DE NF POR DEVOLUÇÃO'
	                    ELSE ( CASE WHEN RTRIM(ISNULL(B.PEDIDO, '')) = '' 
	                            THEN 'ENTRADA DE NF' 
	                            ELSE 'ENTRADA DE NF POR PEDIDO' 
	                            END ) 
	                END ) 
	        END ) AS TIPOMOVTO, 
	    RTRIM(A.ROMANEIO_PRODUTO) + ( CASE WHEN ISNULL(G.NF_ENTRADA, '') = '' THEN '' ELSE '/' END ) + RTRIM(ISNULL(G.NF_ENTRADA, '')) AS DOC,
	    A.PRODUTO, A.COR_PRODUTO, A.FILIAL, ISNULL(G.RECEBIMENTO, B.EMISSAO) AS EMISSAO, 
	    ( 'OP:' + RTRIM(ISNULL(B.ORDEM_PRODUCAO, '')) + '/PED:' + RTRIM(ISNULL(B.PEDIDO, '')) + '/OS:' + 
	    RTRIM(ISNULL(B.ORDEM_SERVICO, '')) ) AS OP_PED_ROMAN, EN_1, EN_2, EN_3, EN_4, EN_5, EN_6, EN_7, EN_8, EN_9, EN_10, EN_11, EN_12, EN_13, 
	    EN_14, EN_15, EN_16, EN_17, EN_18, EN_19, EN_20, EN_21, EN_22, EN_23, EN_24, EN_25, EN_26, EN_27, EN_28, EN_29, EN_30, EN_31, EN_32, 
	    EN_33, EN_34, EN_35, EN_36, EN_37, EN_38, EN_39, EN_40, EN_41, EN_42, EN_43, EN_44, EN_45, EN_46, EN_47, EN_48, 
	    ( EN_1 + EN_2 + EN_3 + EN_4 + EN_5 + EN_6 + EN_7 + EN_8 + EN_9 + EN_10 + EN_11 + EN_12 + EN_13 + EN_14 + EN_15 + EN_16 + EN_17 + EN_18 + 
	    EN_19 + EN_20 + EN_21 + EN_22 + EN_23 + EN_24 + EN_25 + EN_26 + EN_27 + EN_28 + EN_29 + EN_30 + EN_31 + EN_32 + EN_33 + EN_34 + EN_35 + 
	    EN_36 + EN_37 + EN_38 + EN_39 + EN_40 + EN_41 + EN_42 + EN_43 + EN_44 + EN_45 + EN_46 + EN_47 + EN_48 ) AS TT_MOV,
	    CONVERT(NUMERIC(14,2),( A.VALOR / ( CASE WHEN A.QTDE <> 0 THEN A.QTDE ELSE 1 END ) )) AS PRECO, A.VALOR, FRETE_SEGURO_ENCARGO = 0, 
	    DESCONTO =0, ICMS_VALOR = 0, IPI_VALOR = 0, COFINS_VALOR = 0, PIS_VALOR = 0, DESP_IMPORT = 0, PRODUTOS.CONTA_CONTABIL_COMPRA, 
	    PRODUTOS.CONTA_CONTABIL, C.CONTA_CONTABIL AS CONTA_CONTABIL_MOVIMENTO, C.RATEIO_CENTRO_CUSTO, C.RATEIO_FILIAL, N.NATUREZA, 
	    N.DESC_NATUREZA, TTO.CTB_TIPO_OPERACAO, TTO.DESC_TIPO_OPERACAO, TTO.TIPO_OPERACAO, TTO.DESC_TIPO_OPERACAO AS DESC_GRUPO_TIPO_OPERACAO, 
	    G.NF_ENTRADA, G.SERIE_NF_ENTRADA, G.ESPECIE_SERIE, PRODUTOS.UNIDADE, PRODUTOS.CLASSIF_FISCAL, C.CODIGO_FISCAL_OPERACAO, 'E' AS ES
FROM ESTOQUE_PROD1_ENT A
	    INNER JOIN PRODUTOS ON PRODUTOS.PRODUTO = A.PRODUTO 
	    INNER JOIN ESTOQUE_PROD_ENT B ON A.ROMANEIO_PRODUTO = B.ROMANEIO_PRODUTO AND
	                                    A.FILIAL = B.FILIAL
	    LEFT JOIN ENTRADAS AS G ON B.NF_ENTRADA = G.NF_ENTRADA AND
	                            B.NOME_CLIFOR = G.NOME_CLIFOR AND
	                            B.SERIE_NF_ENTRADA = G.SERIE_NF_ENTRADA
	    LEFT JOIN NATUREZAS_ENTRADAS N ON G.NATUREZA = N.NATUREZA
	    LEFT JOIN CTB_LX_TIPO_OPERACAO TTO ON TTO.CTB_TIPO_OPERACAO = N.CTB_TIPO_OPERACAO 
	    LEFT JOIN ( SELECT DISTINCT E.NF_ENTRADA, E.SERIE_NF_ENTRADA, E.NOME_CLIFOR, E.RECEBIMENTO, 
	                                ISNULL(EI.RATEIO_CENTRO_CUSTO, E.RATEIO_CENTRO_CUSTO) AS RATEIO_CENTRO_CUSTO, 
	                                ISNULL(EI.RATEIO_FILIAL, E.RATEIO_FILIAL) AS RATEIO_FILIAL, EI.CONTA_CONTABIL, E.ESPECIE_SERIE, 
	                                EI.CODIGO_FISCAL_OPERACAO, EI.ITEM_IMPRESSAO, E.NATUREZA
	                FROM ENTRADAS AS E 
	                    LEFT JOIN ENTRADAS_ITEM AS EI ON E.NF_ENTRADA = EI.NF_ENTRADA AND 
	                                                    E.SERIE_NF_ENTRADA = EI.SERIE_NF_ENTRADA AND
	                                                    E.NOME_CLIFOR = EI.NOME_CLIFOR
	            ) AS C ON B.NF_ENTRADA = C.NF_ENTRADA AND
	                        B.NOME_CLIFOR = C.NOME_CLIFOR AND
	                        B.SERIE_NF_ENTRADA = C.SERIE_NF_ENTRADA AND
	                        A.ITEM_IMPRESSAO = ISNULL(C.ITEM_IMPRESSAO, A.ITEM_IMPRESSAO)
WHERE B.ORDEM_PRODUCAO IS NULL AND 
	    ( G.NF_ENTRADA IS NULL OR 
	    ISNULL(TTO.TIPO_OPERACAO,N.TIPO_OPERACAO) = 'D' ) AND 
	    /*A.PRODUTO LIKE @PPRODUTO AND 
	    A.COR_PRODUTO LIKE @PCOR_PRODUTO AND */
	    A.FILIAL LIKE @PFILIAL AND 
	    ISNULL(G.RECEBIMENTO, B.EMISSAO) BETWEEN @PDATA_INI AND @PDATA_FIM
------------------------------------------------------------------------------------------------------------------------------------------------
UNION ALL
------------------------------------------------------------------------------------------------------------------------------------------------
SELECT ( CASE WHEN ISNULL(TTO.TIPO_OPERACAO, N.TIPO_OPERACAO) = 'D' 
	        THEN 'FATURAMENTO POR DEVOLUÇÃO' 
	        ELSE ( CASE WHEN B.FILIAL_DESTINO IS NULL OR B.ROMANEIO_DESTINO IS NULL 
	                    THEN 'SAÍDA NORMAL' 
	                    ELSE 'SAÍDA POR TRANSFERÊNCIA' 
	                END ) 
	        END ) AS TIPOMOVTO, 
	    RTRIM(A.ROMANEIO_PRODUTO) + ( CASE WHEN ISNULL(C.NF_SAIDA, '') = '' THEN '' ELSE '/' END ) + RTRIM(ISNULL(C.NF_SAIDA, '')),
	    A.PRODUTO, A.COR_PRODUTO, A.FILIAL, ISNULL(C.EMISSAO, B.EMISSAO) AS EMISSAO, '' AS OP_PED_ROMAN, -(SA_1), -(SA_2), -(SA_3), -(SA_4), 
	    -(SA_5), -(SA_6), -(SA_7), -(SA_8), -(SA_9), -(SA_10), -(SA_11), -(SA_12), -(SA_13), -(SA_14), -(SA_15), -(SA_16), -(SA_17), -(SA_18), 
	    -(SA_19), -(SA_20), -(SA_21), -(SA_22), -(SA_23), -(SA_24), -(SA_25), -(SA_26), -(SA_27), -(SA_28), -(SA_29), -(SA_30), -(SA_31), 
	    -(SA_32), -(SA_33), -(SA_34), -(SA_35), -(SA_36), -(SA_37), -(SA_38), -(SA_39), -(SA_40), -(SA_41), -(SA_42), -(SA_43), -(SA_44), 
	    -(SA_45), -(SA_46), -(SA_47), -(SA_48), 
	    -( SA_1 + SA_2 + SA_3 + SA_4 + SA_5 + SA_6 + SA_7 + SA_8 + SA_9 + SA_10 + SA_11 + SA_12 + SA_13 + SA_14 + SA_15 + SA_16 + SA_17 + SA_18 + 
	        SA_19 + SA_20 + SA_21 + SA_22 + SA_23 + SA_24 + SA_25 + SA_26 + SA_27 + SA_28 + SA_29 + SA_30 + SA_31 + SA_32 + SA_33 + SA_34 + 
	        SA_35 + SA_36 + SA_37 + SA_38 + SA_39 + SA_40 + SA_41 + SA_42 + SA_43 + SA_44 + SA_45 + SA_46 + SA_47 + SA_48 ) AS TT_MOV, 
	    CONVERT(NUMERIC(14,2), ( A.VALOR / ( CASE WHEN A.QTDE <> 0 THEN A.QTDE ELSE 1 END ) )) AS PRECO, A.VALOR, FRETE_SEGURO_ENCARGO = 0, 
	    DESCONTO = 0, ICMS_VALOR = 0, IPI_VALOR = 0, COFINS_VALOR = 0, PIS_VALOR = 0, DESP_IMPORT = 0, PRODUTOS.CONTA_CONTABIL_COMPRA, 
	    PRODUTOS.CONTA_CONTABIL, C.CONTA_CONTABIL AS CONTA_CONTABIL_MOVIMENTO, C.RATEIO_CENTRO_CUSTO, C.RATEIO_FILIAL, N.NATUREZA_SAIDA, 
	    N.DESC_NATUREZA, TTO.CTB_TIPO_OPERACAO, TTO.DESC_TIPO_OPERACAO, TTO.TIPO_OPERACAO, TTO.DESC_TIPO_OPERACAO AS DESC_GRUPO_TIPO_OPERACAO,
	    C.NF_SAIDA, C.SERIE_NF, NULL AS ESPECIE_SERIE, PRODUTOS.UNIDADE, PRODUTOS.CLASSIF_FISCAL, C.CODIGO_FISCAL_OPERACAO, 'S' AS ES
FROM ESTOQUE_PROD1_SAI A
	    INNER JOIN PRODUTOS ON PRODUTOS.PRODUTO = A.PRODUTO 
	    INNER JOIN ESTOQUE_PROD_SAI B ON A.ROMANEIO_PRODUTO = B.ROMANEIO_PRODUTO AND
	                                    A.FILIAL = B.FILIAL
	    LEFT JOIN ( SELECT F.NF_SAIDA, F.SERIE_NF, F.FILIAL, F.RATEIO_CENTRO_CUSTO, F.RATEIO_FILIAL, F.NATUREZA_SAIDA, FI.ITEM_IMPRESSAO, 
	                    FI.CODIGO_FISCAL_OPERACAO, FI.CONTA_CONTABIL, F.EMISSAO 
	                FROM FATURAMENTO AS F
	                    INNER JOIN FATURAMENTO_ITEM AS FI ON F.NF_SAIDA = FI.NF_SAIDA AND
	                                                        F.SERIE_NF = FI.SERIE_NF AND
	                                                        F.FILIAL = FI.FILIAL	
/*#1#*/				GROUP BY F.NF_SAIDA, F.SERIE_NF, F.FILIAL, F.RATEIO_CENTRO_CUSTO, F.RATEIO_FILIAL, F.NATUREZA_SAIDA, FI.ITEM_IMPRESSAO, 
	                        FI.CODIGO_FISCAL_OPERACAO, FI.CONTA_CONTABIL, F.EMISSAO 	 
	            ) AS C ON B.NF_SAIDA = C.NF_SAIDA AND 
	                        B.NF_FILIAL = C.FILIAL AND 
	                        B.SERIE_NF = C.SERIE_NF AND
	                        A.ITEM_IMPRESSAO = C.ITEM_IMPRESSAO
	    LEFT JOIN NATUREZAS_SAIDAS N ON C.NATUREZA_SAIDA = N.NATUREZA_SAIDA
	    LEFT JOIN CTB_LX_TIPO_OPERACAO TTO ON TTO.CTB_TIPO_OPERACAO = N.CTB_TIPO_OPERACAO 
WHERE /*A.PRODUTO LIKE @PPRODUTO AND 
	    A.COR_PRODUTO LIKE @PCOR_PRODUTO AND */
	    A.FILIAL LIKE @PFILIAL AND 
	    B.EMISSAO BETWEEN @PDATA_INI AND @PDATA_FIM
------------------------------------------------------------------------------------------------------------------------------------------------
UNION ALL
------------------------------------------------------------------------------------------------------------------------------------------------
SELECT 'FATURAMENTO' AS TIPOMOVTO, A.NF_SAIDA, A.PRODUTO, A.COR_PRODUTO, ISNULL(C.FILIAL, A.FILIAL) AS FILIAL, B.EMISSAO, A.PEDIDO, -(F1), 
	    -(F2), -(F3), -(F4), -(F5), -(F6), -(F7), -(F8), -(F9), -(F10), -(F11), -(F12), -(F13), -(F14), -(F15), -(F16), -(F17), -(F18), -(F19), 
	    -(F20), -(F21), -(F22), -(F23), -(F24), -(F25), -(F26), -(F27), -(F28), -(F29), -(F30), -(F31), -(F32), -(F33), -(F34), -(F35), -(F36), 
	    -(F37), -(F38), -(F39), -(F40), -(F41), -(F42), -(F43), -(F44), -(F45), -(F46), -(F47), -(F48), 
	    -( F1 + F2 + F3 + F4 + F5 + F6 + F7 + F8 + F9 + F10 + F11 + F12 + F13 + F14 + F15 + F16 + F17 + F18 + F19 + F20 + F21 + F22 + F23 + F24 + 
	        F25 + F26 + F27 + F28 + F29 + F30 + F31 + F32 + F33 + F34 + F35 + F36 + F37 + F38 + F39 + F40 + F41 + F42 + F43 + F44 + F45 + F46 + 
	        F47 + F48 ) AS TT_MOV, A.PRECO, A.VALOR, FRETE_SEGURO_ENCARGO = 0, DESCONTO = 0, ICMS_VALOR = 0, IPI_VALOR = 0, COFINS_VALOR = 0, 
	    PIS_VALOR = 0, DESP_IMPORT = 0, PRODUTOS.CONTA_CONTABIL_COMPRA, PRODUTOS.CONTA_CONTABIL, D.CONTA_CONTABIL_MOVIMENTO,
	    B.RATEIO_CENTRO_CUSTO, B.RATEIO_FILIAL,  N.NATUREZA_SAIDA,   N.DESC_NATUREZA ,   TTO.CTB_TIPO_OPERACAO, TTO.DESC_TIPO_OPERACAO, 
	    TTO.TIPO_OPERACAO, TTO.DESC_TIPO_OPERACAO AS DESC_GRUPO_TIPO_OPERACAO, A.NF_SAIDA, A.SERIE_NF, NULL AS ESPECIE_SERIE, PRODUTOS.UNIDADE, 
	    PRODUTOS.CLASSIF_FISCAL, D.CODIGO_FISCAL_OPERACAO, 'S' AS ES
FROM FATURAMENTO_PROD A
	    INNER JOIN PRODUTOS ON PRODUTOS.PRODUTO = A.PRODUTO 
	    LEFT JOIN FILIAIS C ON C.COD_FILIAL = A.COD_FILIAL_ESTOQUE
	    INNER JOIN FATURAMENTO B ON A.NF_SAIDA = B.NF_SAIDA AND
	                                A.FILIAL = B.FILIAL AND
	                                A.SERIE_NF = B.SERIE_NF
	    LEFT JOIN NATUREZAS_SAIDAS N  ON B.NATUREZA_SAIDA=N.NATUREZA_SAIDA
	    LEFT JOIN CTB_LX_TIPO_OPERACAO TTO  ON (TTO.CTB_TIPO_OPERACAO=N.CTB_TIPO_OPERACAO)
	    LEFT JOIN ( SELECT A.FILIAL, A.NF_SAIDA, A.SERIE_NF, A.ITEM_IMPRESSAO, A.CONTA_CONTABIL AS CONTA_CONTABIL_MOVIMENTO, 
	                    A.CODIGO_FISCAL_OPERACAO, SUM(A.VALOR_ITEM) AS VALOR_ITEM
	                FROM FATURAMENTO_ITEM A
	                    INNER JOIN FATURAMENTO B ON A.FILIAL = B.FILIAL AND
	                                                A.NF_SAIDA = B.NF_SAIDA AND
	                                                A.SERIE_NF = B.SERIE_NF
	                GROUP BY A.FILIAL, A.NF_SAIDA, A.SERIE_NF, A.ITEM_IMPRESSAO, A.CONTA_CONTABIL, A.CODIGO_FISCAL_OPERACAO 
	            ) D ON B.FILIAL = D.FILIAL AND
	                    B.NF_SAIDA = D.NF_SAIDA AND
	                    B.SERIE_NF = D.SERIE_NF AND
	                    D.ITEM_IMPRESSAO = A.ITEM_IMPRESSAO
WHERE /*A.PRODUTO LIKE @PPRODUTO AND 
	    A.COR_PRODUTO LIKE @PCOR_PRODUTO AND */
	    ISNULL(C.FILIAL, A.FILIAL) LIKE @PFILIAL AND 
	    B.EMISSAO BETWEEN @PDATA_INI AND @PDATA_FIM
------------------------------------------------------------------------------------------------------------------------------------------------
UNION ALL
------------------------------------------------------------------------------------------------------------------------------------------------
SELECT 'FATURAMENTO POR DEVOLUÇÃO' AS TIPOMOVTO, A.NF_SAIDA, A.PRODUTO, A.COR_PRODUTO, A.FILIAL, B.EMISSAO, '', -(F1), -(F2), -(F3), -(F4), 
	    -(F5), -(F6), -(F7), -(F8), -(F9), -(F10), -(F11), -(F12), -(F13), -(F14), -(F15), -(F16), -(F17), -(F18), -(F19), -(F20), -(F21), 
	    -(F22), -(F23), -(F24), -(F25), -(F26), -(F27), -(F28), -(F29), -(F30), -(F31), -(F32), -(F33), -(F34), -(F35), -(F36), -(F37), -(F38), 
	    -(F39), -(F40), -(F41), -(F42), -(F43), -(F44), -(F45), -(F46), -(F47), -(F48), 
	    -( F1 + F2 + F3 + F4 + F5 + F6 + F7 + F8 + F9 + F10 + F11 + F12 + F13 + F14 + F15 + F16 + F17 + F18 + F19 + F20 + F21 + F22 + F23 + 
	        F24 + F25 + F26 + F27 + F28 + F29 + F30 +  F31 + F32 + F33 + F34 + F35 + F36 + F37 + F38 + F39 + F40 + F41 + F42 + F43 + F44 + F45 + 
	        F46 + F47 + F48 ) AS TT_MOV, A.PRECO, A.VALOR, FRETE_SEGURO_ENCARGO = 0, DESCONTO = 0, ICMS_VALOR = 0, IPI_VALOR = 0, 
	    COFINS_VALOR = 0, PIS_VALOR = 0, DESP_IMPORT = 0, PRODUTOS.CONTA_CONTABIL_COMPRA, PRODUTOS.CONTA_CONTABIL, 
	    PRODUTOS.CONTA_CONTABIL_DEV_COMPRA AS CONTA_CONTABIL_MOVIMENTO, B.RATEIO_CENTRO_CUSTO, B.RATEIO_FILIAL, N.NATUREZA_SAIDA, 
	    N.DESC_NATUREZA, TTO.CTB_TIPO_OPERACAO, TTO.DESC_TIPO_OPERACAO, TTO.TIPO_OPERACAO, TTO.DESC_TIPO_OPERACAO AS DESC_GRUPO_TIPO_OPERACAO, 
	    B.NF_SAIDA, B.SERIE_NF, NULL AS ESPECIE_SERIE, PRODUTOS.UNIDADE, PRODUTOS.CLASSIF_FISCAL, NULL AS CODIGO_FISCAL_OPERACAO, 'S' AS ES
FROM FATURAM_DEV_PROD A
	    INNER JOIN PRODUTOS ON PRODUTOS.PRODUTO = A.PRODUTO 
	    INNER JOIN FATURAMENTO B ON A.NF_SAIDA = B.NF_SAIDA AND
	                                A.FILIAL = B.FILIAL AND
	                                A.SERIE_NF = B.SERIE_NF
	    LEFT JOIN NATUREZAS_SAIDAS N ON B.NATUREZA_SAIDA = N.NATUREZA_SAIDA
	    LEFT JOIN CTB_LX_TIPO_OPERACAO TTO ON TTO.CTB_TIPO_OPERACAO = N.CTB_TIPO_OPERACAO 
WHERE /*A.PRODUTO LIKE @PPRODUTO AND 
	    A.COR_PRODUTO LIKE @PCOR_PRODUTO AND */
	    A.FILIAL LIKE @PFILIAL AND 
	    B.EMISSAO BETWEEN @PDATA_INI AND @PDATA_FIM
------------------------------------------------------------------------------------------------------------------------------------------------
UNION ALL
------------------------------------------------------------------------------------------------------------------------------------------------
SELECT 'AJUSTE' AS TIPOMOVTO, A.NOME_CONTAGEM, A.PRODUTO, A.COR_PRODUTO, B.FILIAL, B.EMISSAO, B.RESPONSAVEL, A.A1, A.A2, A.A3, A.A4, A.A5, A.A6, 
	    A.A7, A.A8, A.A9, A.A10, A.A11, A.A12, A.A13, A.A14, A.A15, A.A16, A.A17, A.A18, A.A19, A.A20, A.A21, A.A22, A.A23, A.A24, A.A25, A.A26, 
	    A.A27, A.A28, A.A29, A.A30, A.A31, A.A32, A.A33, A.A34, A.A35, A.A36, A.A37, A.A38, A.A39, A.A40, A.A41, A.A42, A.A43, A.A44, A.A45, 
	    A.A46, A.A47, A.A48, ( A.A1 + A.A2 + A.A3 + A.A4 + A.A5 + A.A6 + A.A7 + A.A8 + A.A9 + A.A10 + A.A11 + A.A12 + A.A13 + A.A14 + A.A15 + 
	                            A.A16 + A.A17 + A.A18 + A.A19 + A.A20 + A.A21 + A.A22 + A.A23 + A.A24 + A.A25 + A.A26 + A.A27 + A.A28 + A.A29 + 
	                            A.A30 + A.A31 + A.A32 + A.A33 + A.A34 + A.A35 + A.A36 + A.A37 + A.A38 + A.A39 + A.A40 + A.A41 + A.A42 + A.A43 + 
	                            A.A44 + A.A45 + A.A46 + A.A47 + A.A48 ) AS TT_MOV, CONVERT(NUMERIC(14,2),0) AS PRECO, 
	    CONVERT(NUMERIC(14,2),0) AS VALOR, FRETE_SEGURO_ENCARGO = 0, DESCONTO = 0, ICMS_VALOR = 0, IPI_VALOR = 0, COFINS_VALOR = 0, 
	    PIS_VALOR = 0, DESP_IMPORT = 0, PRODUTOS.CONTA_CONTABIL_COMPRA, PRODUTOS.CONTA_CONTABIL, 
	    PRODUTOS.CONTA_CONTABIL AS CONTA_CONTABIL_MOVIMENTO, RATEIO_CENTRO_CUSTO = NULL, RATEIO_FILIAL = NULL, NATUREZA = NULL, 
	    DESC_NATUREZA = NULL, CTB_TIPO_OPERACAO = NULL, DESC_TIPO_OPERACAO = NULL, TIPO_OPERACAO = NULL, DESC_GRUPO_TIPO_OPERACAO = NULL,
	    NULL AS NOTA_FISCAL, NULL AS SERIE_NF, NULL AS ESPECIE_SERIE, PRODUTOS.UNIDADE, PRODUTOS.CLASSIF_FISCAL, NULL AS CODIGO_FISCAL_OPERACAO, 
	    'A' AS ES
FROM ESTOQUE_PROD_CTG_AJUSTE A
	    INNER JOIN PRODUTOS ON PRODUTOS.PRODUTO = A.PRODUTO 
	    INNER JOIN ESTOQUE_PROD_CONTAGEM B ON A.NOME_CONTAGEM = B.NOME_CONTAGEM
WHERE /*A.PRODUTO LIKE @PPRODUTO AND 
	    A.COR_PRODUTO LIKE @PCOR_PRODUTO AND */
	    B.FILIAL LIKE @PFILIAL AND 
	    B.EMISSAO BETWEEN @PDATA_INI AND @PDATA_FIM
------------------------------------------------------------------------------------------------------------------------------------------------
UNION ALL
------------------------------------------------------------------------------------------------------------------------------------------------
SELECT 'LOJA ENTRADAS' AS TIPOMOVTO, B.NUMERO_NF_TRANSFERENCIA AS DOC, A.PRODUTO, A.COR_PRODUTO, B.FILIAL, B.EMISSAO, A.ROMANEIO_PRODUTO, EN1, 
	    EN2, EN3, EN4, EN5, EN6, EN7, EN8, EN9, EN10, EN11, EN12, EN13, EN14, EN15, EN16, EN17, EN18, EN19, EN20, EN21, EN22, EN23, EN24, EN25, 
	    EN26, EN27, EN28, EN29, EN30, EN31, EN32, EN33, EN34, EN35, EN36, EN37, EN38, EN39, EN40, EN41, EN42, EN43, EN44, EN45, EN46, EN47, EN48, 
	    ( EN1 + EN2 + EN3 + EN4 + EN5 + EN6 + EN7 + EN8 + EN9 + EN10 + EN11 + EN12 + EN13 + EN14 + EN15 + EN16 + EN17 + EN18 + EN19 + EN20 + 
	        EN21 + EN22 + EN23 + EN24 + EN25 + EN26 + EN27 + EN28 + EN29 + EN30 + EN31 + EN32 + EN33 + EN34 + EN35 + EN36 + EN37 + EN38 + EN39 + 
	        EN40 + EN41 + EN42 + EN43 + EN44 + EN45 + EN46 + EN47 + EN48 ) AS TT_MOV, 
	    CONVERT(NUMERIC(14,2),( A.VALOR / ( CASE WHEN A.QTDE_ENTRADA <> 0 THEN A.QTDE_ENTRADA ELSE 1 END ) )) AS PRECO, A.VALOR, 
	    FRETE_SEGURO_ENCARGO = 0, DESCONTO = 0, ICMS_VALOR = 0, IPI_VALOR = 0, COFINS_VALOR = 0, PIS_VALOR = 0, DESP_IMPORT = 0, 
	    PRODUTOS.CONTA_CONTABIL_COMPRA, PRODUTOS.CONTA_CONTABIL, PRODUTOS.CONTA_CONTABIL AS CONTA_CONTABIL_MOVIMENTO, RATEIO_CENTRO_CUSTO = NULL, 
	    RATEIO_FILIAL = NULL, NATUREZA = NULL, DESC_NATUREZA = NULL, CTB_TIPO_OPERACAO = NULL, DESC_TIPO_OPERACAO = NULL, TIPO_OPERACAO = NULL, 
	    DESC_GRUPO_TIPO_OPERACAO = NULL, B.NF_ENTRADA, B.SERIE_NF_ENTRADA, NULL AS ESPECIE_SERIE, PRODUTOS.UNIDADE, PRODUTOS.CLASSIF_FISCAL, 
	    NULL AS CODIGO_FISCAL_OPERACAO, 'E' AS ES
FROM LOJA_ENTRADAS_PRODUTO A
	    INNER JOIN PRODUTOS ON PRODUTOS.PRODUTO = A.PRODUTO
	    INNER JOIN LOJA_ENTRADAS B ON A.ROMANEIO_PRODUTO = B.ROMANEIO_PRODUTO AND
	                                A.FILIAL = B.FILIAL
WHERE /*A.PRODUTO LIKE @PPRODUTO AND
	    A.COR_PRODUTO LIKE @PCOR_PRODUTO AND */
	    A.FILIAL LIKE @PFILIAL AND 
	    B.EMISSAO BETWEEN @PDATA_INI AND @PDATA_FIM
------------------------------------------------------------------------------------------------------------------------------------------------
UNION ALL
------------------------------------------------------------------------------------------------------------------------------------------------
SELECT 'LOJA SAÍDAS' AS TIPOMOVTO, B.NUMERO_NF_TRANSFERENCIA AS DOC, A.PRODUTO, A.COR_PRODUTO, B.FILIAL, B.EMISSAO, A.ROMANEIO_PRODUTO,
	    -(EN1), -(EN2), -(EN3), -(EN4), -(EN5), -(EN6), -(EN7), -(EN8), -(EN9), -(EN10), -(EN11), -(EN12), -(EN13), -(EN14), -(EN15), -(EN16), 
	    -(EN17), -(EN18), -(EN19), -(EN20), -(EN21), -(EN22), -(EN23), -(EN24), -(EN25), -(EN26), -(EN27), -(EN28), -(EN29), -(EN30), -(EN31),
	    -(EN32), -(EN33), -(EN34), -(EN35), -(EN36), -(EN37), -(EN38), -(EN39), -(EN40), -(EN41), -(EN42), -(EN43), -(EN44), -(EN45), -(EN46),
	    -(EN47), -(EN48), 
	    -( EN1 + EN2 + EN3 + EN4 + EN5 + EN6 + EN7 + EN8 + EN9 + EN10 + EN11 + EN12 + EN13 + EN14 + EN15 + EN16 + EN17 + EN18 + EN19 + EN20 + 
	        EN21 + EN22 + EN23 + EN24 + EN25 + EN26 + EN27 + EN28 + EN29 + EN30 + EN31 + EN32 + EN33 + EN34 + EN35 + EN36 + EN37 + EN38 + EN39 + 
	        EN40 + EN41 + EN42 + EN43 + EN44 + EN45 + EN46 + EN47 + EN48 ) AS TT_MOV, 
	    CONVERT(NUMERIC(14,2),( A.VALOR / ( CASE WHEN A.QTDE_SAIDA <> 0 THEN A.QTDE_SAIDA ELSE 1 END ) )) AS PRECO, A.VALOR, 
	    FRETE_SEGURO_ENCARGO = 0, DESCONTO = 0, ICMS_VALOR = 0, IPI_VALOR = 0, COFINS_VALOR = 0, PIS_VALOR = 0, DESP_IMPORT = 0, 
	    PRODUTOS.CONTA_CONTABIL_COMPRA, PRODUTOS.CONTA_CONTABIL, PRODUTOS.CONTA_CONTABIL AS CONTA_CONTABIL_MOVIMENTO, RATEIO_CENTRO_CUSTO = NULL, 
	    RATEIO_FILIAL = NULL, NATUREZA = NULL, DESC_NATUREZA = NULL, CTB_TIPO_OPERACAO = NULL, DESC_TIPO_OPERACAO = NULL, TIPO_OPERACAO = NULL, 
	    DESC_GRUPO_TIPO_OPERACAO = NULL, B.NUMERO_NF_TRANSFERENCIA, B.SERIE_NF, NULL AS ESPECIE_SERIE, PRODUTOS.UNIDADE, PRODUTOS.CLASSIF_FISCAL, 
	    NULL AS CODIGO_FISCAL_OPERACAO, '' AS ES
FROM LOJA_SAIDAS_PRODUTO A
	    INNER JOIN PRODUTOS ON PRODUTOS.PRODUTO = A.PRODUTO 
	    INNER JOIN LOJA_SAIDAS B ON A.ROMANEIO_PRODUTO = B.ROMANEIO_PRODUTO AND
	                                A.FILIAL = B.FILIAL
WHERE /*A.PRODUTO LIKE @PPRODUTO AND 
	    A.COR_PRODUTO LIKE @PCOR_PRODUTO AND */
	    A.FILIAL LIKE @PFILIAL AND 
	    B.EMISSAO BETWEEN @PDATA_INI AND @PDATA_FIM
------------------------------------------------------------------------------------------------------------------------------------------------
UNION ALL
------------------------------------------------------------------------------------------------------------------------------------------------
SELECT 'LOJA VENDAS' AS TIPOMOVTO,A.DOC AS DOC, A.PRODUTO, A.COR_PRODUTO, A.FILIAL, A.DATA_VENDA AS EMISSAO, '', -(VE1), -(VE2), -(VE3), -(VE4), 
	    -(VE5), -(VE6), -(VE7), -(VE8), -(VE9), -(VE10), -(VE11), -(VE12), -(VE13), -(VE14), -(VE15), -(VE16), -(VE17), -(VE18), -(VE19), 
	    -(VE20), -(VE21), -(VE22), -(VE23), -(VE24), -(VE25), -(VE26), -(VE27), -(VE28), -(VE29), -(VE30), -(VE31), -(VE32), -(VE33), -(VE34), 
	    -(VE35), -(VE36), -(VE37), -(VE38), -(VE39), -(VE40), -(VE41), -(VE42), -(VE43), -(VE44), -(VE45), -(VE46), -(VE47), -(VE48), 
	    -( VE1 + VE2 + VE3 + VE4 + VE5 + VE6 + VE7 + VE8 + VE9 + VE10 + VE11 + VE12 + VE13 + VE14 + VE15 + VE16 + VE17 + VE18 + VE19 + VE20 + 
	        VE21 + VE22 + VE23 + VE24 + VE25 + VE26 + VE27 + VE28 + VE29 + VE30 + VE31 + VE32 + VE33 + VE34 + VE35 + VE36 + VE37 + VE38 + VE39 + 
	        VE40 + VE41 + VE42 + VE43 + VE44 + VE45 + VE46 + VE47 + VE48 ) AS TT_MOV, 
	    CONVERT(NUMERIC(14,2), ( TOTAL_VENDA / ( CASE WHEN ISNULL(TOTAL_QTDE_VENDA, 0) = 0 THEN 1 ELSE TOTAL_QTDE_VENDA END ) )) AS PRECO,
	    TOTAL_VENDA AS VALOR, FRETE_SEGURO_ENCARGO = 0, DESCONTO = 0, ICMS_VALOR = 0, IPI_VALOR = 0, COFINS_VALOR = 0, PIS_VALOR = 0,
	    DESP_IMPORT = 0, PRODUTOS.CONTA_CONTABIL_COMPRA, PRODUTOS.CONTA_CONTABIL, PRODUTOS.CONTA_CONTABIL AS CONTA_CONTABIL_MOVIMENTO,
	    RATEIO_CENTRO_CUSTO = NULL, RATEIO_FILIAL = NULL, NATUREZA = NULL, DESC_NATUREZA = NULL, CTB_TIPO_OPERACAO = NULL, 
	    DESC_TIPO_OPERACAO = NULL, TIPO_OPERACAO = NULL, DESC_GRUPO_TIPO_OPERACAO = NULL, NULL AS NOTA_FISCAL, NULL AS SERIE_NF, 
	    NULL AS ESPECIE_SERIE, PRODUTOS.UNIDADE, PRODUTOS.CLASSIF_FISCAL, NULL AS CODIGO_FISCAL_OPERACAO, 'S' AS ES
FROM ( SELECT FILIAL, LOJA_VENDA_PRODUTO.DATA_VENDA, PRODUTO, COR_PRODUTO, CONVERT(NUMERIC(14,2), SUM(( QTDE * CUSTO ))) AS TOTAL_CUSTO,
	            CONVERT(NUMERIC(14,2),SUM(QTDE*PRECO_LIQUIDO*(1-ISNULL(FATOR_DESCONTO_VENDA,1)))) AS TOTAL_VENDA,
	            CONVERT(NUMERIC(14,2),SUM(QTDE*PRECO_LIQUIDO*ISNULL(FATOR_DESCONTO_VENDA,0))) AS TOTAL_DESCONTO,
	            CONVERT(INT,SUM(QTDE)) AS TOTAL_QTDE_VENDA, CONVERT(INT,COUNT(LOJA_VENDA_PRODUTO.TICKET)) AS NUMERO_TICKETS,
	            SUM(CASE WHEN TAMANHO=1 THEN QTDE ELSE 0 END) AS VE1, SUM(CASE WHEN TAMANHO=2 THEN QTDE ELSE 0 END) AS VE2,
	            SUM(CASE WHEN TAMANHO=3 THEN QTDE ELSE 0 END) AS VE3, SUM(CASE WHEN TAMANHO=4 THEN QTDE ELSE 0 END) AS VE4,
	            SUM(CASE WHEN TAMANHO=5 THEN QTDE ELSE 0 END) AS VE5, SUM(CASE WHEN TAMANHO=6 THEN QTDE ELSE 0 END) AS VE6,
	            SUM(CASE WHEN TAMANHO=7 THEN QTDE ELSE 0 END) AS VE7, SUM(CASE WHEN TAMANHO=8 THEN QTDE ELSE 0 END) AS VE8,
	            SUM(CASE WHEN TAMANHO=9 THEN QTDE ELSE 0 END) AS VE9, SUM(CASE WHEN TAMANHO=10 THEN QTDE ELSE 0 END) AS VE10,
	            SUM(CASE WHEN TAMANHO=11 THEN QTDE ELSE 0 END) AS VE11, SUM(CASE WHEN TAMANHO=12 THEN QTDE ELSE 0 END) AS VE12,
	            SUM(CASE WHEN TAMANHO=13 THEN QTDE ELSE 0 END) AS VE13, SUM(CASE WHEN TAMANHO=14 THEN QTDE ELSE 0 END) AS VE14,
	            SUM(CASE WHEN TAMANHO=15 THEN QTDE ELSE 0 END) AS VE15, SUM(CASE WHEN TAMANHO=16 THEN QTDE ELSE 0 END) AS VE16,
	            SUM(CASE WHEN TAMANHO=17 THEN QTDE ELSE 0 END) AS VE17, SUM(CASE WHEN TAMANHO=18 THEN QTDE ELSE 0 END) AS VE18,
	            SUM(CASE WHEN TAMANHO=19 THEN QTDE ELSE 0 END) AS VE19, SUM(CASE WHEN TAMANHO=20 THEN QTDE ELSE 0 END) AS VE20,
	            SUM(CASE WHEN TAMANHO=21 THEN QTDE ELSE 0 END) AS VE21, SUM(CASE WHEN TAMANHO=22 THEN QTDE ELSE 0 END) AS VE22,
	            SUM(CASE WHEN TAMANHO=23 THEN QTDE ELSE 0 END) AS VE23, SUM(CASE WHEN TAMANHO=24 THEN QTDE ELSE 0 END) AS VE24,
	            SUM(CASE WHEN TAMANHO=25 THEN QTDE ELSE 0 END) AS VE25, SUM(CASE WHEN TAMANHO=26 THEN QTDE ELSE 0 END) AS VE26,
	            SUM(CASE WHEN TAMANHO=27 THEN QTDE ELSE 0 END) AS VE27, SUM(CASE WHEN TAMANHO=28 THEN QTDE ELSE 0 END) AS VE28,
	            SUM(CASE WHEN TAMANHO=29 THEN QTDE ELSE 0 END) AS VE29, SUM(CASE WHEN TAMANHO=30 THEN QTDE ELSE 0 END) AS VE30,
	            SUM(CASE WHEN TAMANHO=31 THEN QTDE ELSE 0 END) AS VE31, SUM(CASE WHEN TAMANHO=32 THEN QTDE ELSE 0 END) AS VE32,
	            SUM(CASE WHEN TAMANHO=33 THEN QTDE ELSE 0 END) AS VE33, SUM(CASE WHEN TAMANHO=34 THEN QTDE ELSE 0 END) AS VE34,
	            SUM(CASE WHEN TAMANHO=35 THEN QTDE ELSE 0 END) AS VE35, SUM(CASE WHEN TAMANHO=36 THEN QTDE ELSE 0 END) AS VE36,
	            SUM(CASE WHEN TAMANHO=37 THEN QTDE ELSE 0 END) AS VE37, SUM(CASE WHEN TAMANHO=38 THEN QTDE ELSE 0 END) AS VE38,
	            SUM(CASE WHEN TAMANHO=39 THEN QTDE ELSE 0 END) AS VE39, SUM(CASE WHEN TAMANHO=40 THEN QTDE ELSE 0 END) AS VE40,
	            SUM(CASE WHEN TAMANHO=41 THEN QTDE ELSE 0 END) AS VE41, SUM(CASE WHEN TAMANHO=42 THEN QTDE ELSE 0 END) AS VE42,
	            SUM(CASE WHEN TAMANHO=43 THEN QTDE ELSE 0 END) AS VE43, SUM(CASE WHEN TAMANHO=44 THEN QTDE ELSE 0 END) AS VE44,
	            SUM(CASE WHEN TAMANHO=45 THEN QTDE ELSE 0 END) AS VE45, SUM(CASE WHEN TAMANHO=46 THEN QTDE ELSE 0 END) AS VE46,
	            SUM(CASE WHEN TAMANHO=47 THEN QTDE ELSE 0 END) AS VE47, SUM(CASE WHEN TAMANHO=48 THEN QTDE ELSE 0 END) AS VE48,
	            ( CASE WHEN LOJA_VENDA_PGTO.NUMERO_CUPOM_FISCAL IS NOT NULL THEN ' ' ELSE 'S' END ) AS DESISTENCIA_VENDA,
				--ISNNULL(LOJA_VENDA_PGTO.NUMERO_CUPOM_FISCAL,'') AS DOC /*#2#*/
				COALESCE(CONVERT(CHAR,LOJA_CF_SAT.CF_NUMERO),LOJA_VENDA_PGTO.NUMERO_FISCAL_VENDA,LOJA_VENDA_PGTO.NUMERO_CUPOM_FISCAL,'') AS DOC/*#2#*/
	    FROM LOJA_VENDA_PRODUTO
	        INNER JOIN LOJAS_VAREJO ON LOJA_VENDA_PRODUTO.CODIGO_FILIAL = LOJAS_VAREJO.CODIGO_FILIAL
	        INNER JOIN LOJA_VENDA ON LOJA_VENDA_PRODUTO.CODIGO_FILIAL = LOJA_VENDA.CODIGO_FILIAL AND 
	                                    LOJA_VENDA_PRODUTO.DATA_VENDA = LOJA_VENDA.DATA_VENDA AND 
	                                    LOJA_VENDA_PRODUTO.TICKET = LOJA_VENDA.TICKET
	        LEFT  JOIN LOJA_VENDA_PGTO ON LOJA_VENDA.LANCAMENTO_CAIXA = LOJA_VENDA_PGTO.LANCAMENTO_CAIXA AND 
	                                        LOJA_VENDA.TERMINAL_PGTO = LOJA_VENDA_PGTO.TERMINAL AND 
	                                        LOJA_VENDA.CODIGO_FILIAL_PGTO = LOJA_VENDA_PGTO.CODIGO_FILIAL
			LEFT JOIN LOJA_CF_SAT ON LOJA_VENDA_PGTO.GUID_VENDA_SAT = LOJA_CF_SAT.GUID_VENDA_SAT/*#2#*/
	    WHERE /*LOJA_VENDA_PRODUTO.PRODUTO LIKE @PPRODUTO AND 
	            LOJA_VENDA_PRODUTO.COR_PRODUTO LIKE @PCOR_PRODUTO AND */
	            LOJAS_VAREJO.FILIAL LIKE @PFILIAL AND
	            ISNULL(LOJA_VENDA_PRODUTO.QTDE_CANCELADA, 0) = 0 AND 
	            ISNULL(LOJA_VENDA_PRODUTO.NAO_MOVIMENTA_ESTOQUE, 0) = 0 AND 
	            LOJA_VENDA.DATA_VENDA BETWEEN @PDATA_INI AND @PDATA_FIM
	    GROUP BY FILIAL,LOJA_VENDA_PRODUTO.DATA_VENDA,PRODUTO,COR_PRODUTO, 
	            ( CASE WHEN LOJA_VENDA_PGTO.NUMERO_CUPOM_FISCAL IS NOT NULL THEN ' ' ELSE 'S' END) 
				--,ISNNULL(LOJA_VENDA_PGTO.NUMERO_CUPOM_FISCAL,'')/*#2#*/
				,COALESCE(CONVERT(CHAR,LOJA_CF_SAT.CF_NUMERO),LOJA_VENDA_PGTO.NUMERO_FISCAL_VENDA,LOJA_VENDA_PGTO.NUMERO_CUPOM_FISCAL,'')/*#2#*/
	    ) AS A 
	    INNER JOIN PRODUTOS ON PRODUTOS.PRODUTO = A.PRODUTO
------------------------------------------------------------------------------------------------------------------------------------------------
UNION ALL
------------------------------------------------------------------------------------------------------------------------------------------------
SELECT 'LOJA TROCAS' AS TIPOMOVTO, A.DOC, /* #3# '' AS DOC,*/ A.PRODUTO, A.COR_PRODUTO, A.FILIAL, A.DATA_VENDA AS EMISSAO, '', TR1, TR2, TR3, TR4, TR5, TR6, 
	    TR7, TR8, TR9, TR10, TR11, TR12, TR13, TR14, TR15, TR16, TR17, TR18, TR19, TR20, TR21, TR22, TR23, TR24, TR25, TR26, TR27, TR28, TR29, 
	    TR30, TR31, TR32, TR33, TR34, TR35, TR36, TR37, TR38, TR39, TR40, TR41, TR42, TR43, TR44, TR45, TR46, TR47, TR48, 
	    ( TR1 + TR2 + TR3 + TR4 + TR5 + TR6 + TR7 + TR8 + TR9 + TR10 + TR11 + TR12 + TR13 + TR14 + TR15 + TR16 + TR17 + TR18 + TR19 + TR20 + 
	        TR21 + TR22 + TR23 + TR24 + TR25 + TR26 + TR27 + TR28 + TR29 + TR30 + TR31 + TR32 + TR33 + TR34 + TR35 + TR36 + TR37 + TR38 + TR39 + 
	        TR40 + TR41 + TR42 + TR43 + TR44 + TR45 + TR46 + TR47 + TR48 ) AS TT_MOV, 
	    CONVERT(NUMERIC(14,2), ( ( TOTAL_TROCA - TOTAL_DESCONTO_TROCA ) / ( CASE WHEN ISNULL(TOTAL_QTDE_TROCA, 0) = 0 
	                                                                            THEN 1 
	                                                                            ELSE TOTAL_QTDE_TROCA 
	                                                                        END ))) AS PRECO, ( TOTAL_TROCA - TOTAL_DESCONTO_TROCA ) AS VALOR,
	    FRETE_SEGURO_ENCARGO = 0, DESCONTO = 0, ICMS_VALOR = 0, IPI_VALOR = 0, COFINS_VALOR = 0, PIS_VALOR = 0, DESP_IMPORT = 0, 
	    PRODUTOS.CONTA_CONTABIL_COMPRA, PRODUTOS.CONTA_CONTABIL, PRODUTOS.CONTA_CONTABIL AS CONTA_CONTABIL_MOVIMENTO, RATEIO_CENTRO_CUSTO = NULL, 
	    RATEIO_FILIAL = NULL, NATUREZA = NULL, DESC_NATUREZA = NULL, CTB_TIPO_OPERACAO = NULL, DESC_TIPO_OPERACAO = NULL, TIPO_OPERACAO = NULL, 
	    DESC_GRUPO_TIPO_OPERACAO = NULL, NULL AS NOTA_FISCAL, NULL AS SERIE_NF, NULL AS ESPECIE_SERIE, PRODUTOS.UNIDADE, PRODUTOS.CLASSIF_FISCAL, 
	    NULL AS CODIGO_FISCAL_OPERACAO, 'E' AS ES
FROM ( SELECT FILIAL, LOJA_VENDA_TROCA.DATA_VENDA, PRODUTO, COR_PRODUTO, CONVERT(NUMERIC(14,2),SUM(QTDE*CUSTO)) AS TOTAL_CUSTO_TROCA,
	            CONVERT(NUMERIC(14,2),SUM(QTDE*PRECO_LIQUIDO*(1-ISNULL(FATOR_DESCONTO_VENDA,0)))) AS TOTAL_TROCA,
	            CONVERT(NUMERIC(14,2),SUM(QTDE*PRECO_LIQUIDO*ISNULL(FATOR_DESCONTO_VENDA,0))) AS TOTAL_DESCONTO_TROCA,
                CONVERT(INT,SUM(QTDE)) AS TOTAL_QTDE_TROCA, CONVERT(INT,COUNT(LOJA_VENDA_TROCA.TICKET)) AS NUMERO_TICKETS,
	            SUM(CASE WHEN TAMANHO=1 THEN QTDE ELSE 0 END) AS TR1, SUM(CASE WHEN TAMANHO=2 THEN QTDE ELSE 0 END) AS TR2,
	            SUM(CASE WHEN TAMANHO=3 THEN QTDE ELSE 0 END) AS TR3, SUM(CASE WHEN TAMANHO=4 THEN QTDE ELSE 0 END) AS TR4,
	            SUM(CASE WHEN TAMANHO=5 THEN QTDE ELSE 0 END) AS TR5, SUM(CASE WHEN TAMANHO=6 THEN QTDE ELSE 0 END) AS TR6,
	            SUM(CASE WHEN TAMANHO=7 THEN QTDE ELSE 0 END) AS TR7, SUM(CASE WHEN TAMANHO=8 THEN QTDE ELSE 0 END) AS TR8,
	            SUM(CASE WHEN TAMANHO=9 THEN QTDE ELSE 0 END) AS TR9, SUM(CASE WHEN TAMANHO=10 THEN QTDE ELSE 0 END) AS TR10,
	            SUM(CASE WHEN TAMANHO=11 THEN QTDE ELSE 0 END) AS TR11, SUM(CASE WHEN TAMANHO=12 THEN QTDE ELSE 0 END) AS TR12,
	            SUM(CASE WHEN TAMANHO=13 THEN QTDE ELSE 0 END) AS TR13, SUM(CASE WHEN TAMANHO=14 THEN QTDE ELSE 0 END) AS TR14,
	            SUM(CASE WHEN TAMANHO=15 THEN QTDE ELSE 0 END) AS TR15, SUM(CASE WHEN TAMANHO=16 THEN QTDE ELSE 0 END) AS TR16,
	            SUM(CASE WHEN TAMANHO=17 THEN QTDE ELSE 0 END) AS TR17, SUM(CASE WHEN TAMANHO=18 THEN QTDE ELSE 0 END) AS TR18,
	            SUM(CASE WHEN TAMANHO=19 THEN QTDE ELSE 0 END) AS TR19, SUM(CASE WHEN TAMANHO=20 THEN QTDE ELSE 0 END) AS TR20,
	            SUM(CASE WHEN TAMANHO=21 THEN QTDE ELSE 0 END) AS TR21, SUM(CASE WHEN TAMANHO=22 THEN QTDE ELSE 0 END) AS TR22,
	            SUM(CASE WHEN TAMANHO=23 THEN QTDE ELSE 0 END) AS TR23, SUM(CASE WHEN TAMANHO=24 THEN QTDE ELSE 0 END) AS TR24,
	            SUM(CASE WHEN TAMANHO=25 THEN QTDE ELSE 0 END) AS TR25, SUM(CASE WHEN TAMANHO=26 THEN QTDE ELSE 0 END) AS TR26,
	            SUM(CASE WHEN TAMANHO=27 THEN QTDE ELSE 0 END) AS TR27, SUM(CASE WHEN TAMANHO=28 THEN QTDE ELSE 0 END) AS TR28,
	            SUM(CASE WHEN TAMANHO=29 THEN QTDE ELSE 0 END) AS TR29, SUM(CASE WHEN TAMANHO=30 THEN QTDE ELSE 0 END) AS TR30,
	            SUM(CASE WHEN TAMANHO=31 THEN QTDE ELSE 0 END) AS TR31, SUM(CASE WHEN TAMANHO=32 THEN QTDE ELSE 0 END) AS TR32,
	            SUM(CASE WHEN TAMANHO=33 THEN QTDE ELSE 0 END) AS TR33, SUM(CASE WHEN TAMANHO=34 THEN QTDE ELSE 0 END) AS TR34,
	            SUM(CASE WHEN TAMANHO=35 THEN QTDE ELSE 0 END) AS TR35, SUM(CASE WHEN TAMANHO=36 THEN QTDE ELSE 0 END) AS TR36,
	            SUM(CASE WHEN TAMANHO=37 THEN QTDE ELSE 0 END) AS TR37, SUM(CASE WHEN TAMANHO=38 THEN QTDE ELSE 0 END) AS TR38,
	            SUM(CASE WHEN TAMANHO=39 THEN QTDE ELSE 0 END) AS TR39, SUM(CASE WHEN TAMANHO=40 THEN QTDE ELSE 0 END) AS TR40,
	            SUM(CASE WHEN TAMANHO=41 THEN QTDE ELSE 0 END) AS TR41, SUM(CASE WHEN TAMANHO=42 THEN QTDE ELSE 0 END) AS TR42,
	            SUM(CASE WHEN TAMANHO=43 THEN QTDE ELSE 0 END) AS TR43, SUM(CASE WHEN TAMANHO=44 THEN QTDE ELSE 0 END) AS TR44,
	            SUM(CASE WHEN TAMANHO=45 THEN QTDE ELSE 0 END) AS TR45, SUM(CASE WHEN TAMANHO=46 THEN QTDE ELSE 0 END) AS TR46,
	            SUM(CASE WHEN TAMANHO=47 THEN QTDE ELSE 0 END) AS TR47, SUM(CASE WHEN TAMANHO=48 THEN QTDE ELSE 0 END) AS TR48,
	            ( CASE WHEN LOJA_VENDA_PGTO.NUMERO_CUPOM_FISCAL IS NOT NULL THEN ' ' ELSE 'S' END) AS DESISTENCIA_VENDA,
				LOJA_VENDA_PGTO.NUMERO_FISCAL_TROCA AS DOC /*#2#*/
	    FROM LOJA_VENDA_TROCA
	        INNER JOIN LOJAS_VAREJO ON LOJA_VENDA_TROCA.CODIGO_FILIAL = LOJAS_VAREJO.CODIGO_FILIAL
	        INNER JOIN LOJA_VENDA ON LOJA_VENDA_TROCA.CODIGO_FILIAL = LOJA_VENDA.CODIGO_FILIAL AND 
	                                    LOJA_VENDA_TROCA.DATA_VENDA = LOJA_VENDA.DATA_VENDA AND 
	                                    LOJA_VENDA_TROCA.TICKET = LOJA_VENDA.TICKET
	        INNER JOIN LOJA_VENDA_PGTO ON LOJA_VENDA.LANCAMENTO_CAIXA = LOJA_VENDA_PGTO.LANCAMENTO_CAIXA AND 
	                                        LOJA_VENDA.TERMINAL_PGTO = LOJA_VENDA_PGTO.TERMINAL AND 
	                                        LOJA_VENDA.CODIGO_FILIAL_PGTO = LOJA_VENDA_PGTO.CODIGO_FILIAL
	    WHERE /*LOJA_VENDA_TROCA.PRODUTO LIKE @PPRODUTO AND 
	            LOJA_VENDA_TROCA.COR_PRODUTO LIKE @PCOR_PRODUTO AND*/
	            LOJAS_VAREJO.FILIAL LIKE @PFILIAL AND 
	            ISNULL(LOJA_VENDA_TROCA.NAO_MOVIMENTA_ESTOQUE, 0) = 0 AND 
	            LOJA_VENDA.DATA_VENDA BETWEEN @PDATA_INI AND @PDATA_FIM
	    GROUP BY FILIAL,LOJA_VENDA_TROCA.DATA_VENDA,PRODUTO,COR_PRODUTO, 
	            ( CASE WHEN LOJA_VENDA_PGTO.NUMERO_CUPOM_FISCAL IS NOT NULL THEN ' ' ELSE 'S' END ),
				LOJA_VENDA_PGTO.NUMERO_FISCAL_TROCA /*#2#*/
	    ) A
	    INNER JOIN PRODUTOS ON (PRODUTOS.PRODUTO=A.PRODUTO)
------------------------------------------------------------------------------------------------------------------------------------------------
ORDER BY A.PRODUTO, COR_PRODUTO,  EMISSAO, TIPOMOVTO, DOC, A.FILIAL, OP_PED_ROMAN

