USE [CAEDU]
GO
/****** Object:  StoredProcedure [dbo].[LX_GIV_AGRUPAMENTO_PRODUTO]    Script Date: 27/06/2023 10:04:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[LX_GIV_AGRUPAMENTO_PRODUTO] @PRODUTO CHAR(12)
AS

/* 10/03/2009 P/ Luiz Felipe - Atualizar código agrupamento quando estrutura de agrupamentos for alterada na cadastro de produtos*/

--DECLARE @COD_AGRUPAMENTO INT, @NIVEL TINYINT
--DECLARE CUR_GIV CURSOR FOR
--	SELECT A.COD_AGRUPAMENTO, 1 AS NIVEL 
--	FROM GIV_TIPO_AGRUPAMENTO A 
--	WHERE A.COD_AGRUPAMENTO_SUPERIOR IS NULL
--	UNION ALL
--	SELECT A.COD_AGRUPAMENTO, 2 AS NIVEL 
--	FROM GIV_TIPO_AGRUPAMENTO A 
--			JOIN GIV_TIPO_AGRUPAMENTO B ON B.COD_AGRUPAMENTO=A.COD_AGRUPAMENTO_SUPERIOR
--	WHERE B.COD_AGRUPAMENTO_SUPERIOR IS NULL
--	UNION ALL
--	SELECT A.COD_AGRUPAMENTO, 3 AS NIVEL 
--	FROM GIV_TIPO_AGRUPAMENTO A 
--			JOIN GIV_TIPO_AGRUPAMENTO B ON B.COD_AGRUPAMENTO=A.COD_AGRUPAMENTO_SUPERIOR
--	WHERE B.COD_AGRUPAMENTO_SUPERIOR IS NOT NULL
--	ORDER BY 2, 1


--OPEN CUR_GIV

--FETCH NEXT FROM CUR_GIV INTO @COD_AGRUPAMENTO, @NIVEL

--WHILE @@FETCH_STATUS=0
--BEGIN
--	EXEC LX_GERA_GIV_AGRUPAMENTO @COD_AGRUPAMENTO, NULL, @PRODUTO
--	FETCH NEXT FROM CUR_GIV INTO @COD_AGRUPAMENTO, @NIVEL
--END
--CLOSE CUR_GIV
--DEALLOCATE CUR_GIV

RETURN 
