USE [CAEDU]
GO
/****** Object:  Trigger [dbo].[TGR_CAE_PRODUTOS_FATOR_P]    Script Date: 16/04/2026 10:26:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ============================================================
-- Author:		PAULO DEVIDE
-- Create date: 18-NOV-19
-- Description:	COLOCA NIVEL 5 E ATUALIZA PRODUTOS RELACIONADOS
-- ============================================================
ALTER TRIGGER [dbo].[TGR_CAE_PRODUTOS_FATOR_P] 
   ON  [dbo].[CAE_PRODUTOS_FATOR_P] 
   AFTER INSERT
AS 
BEGIN
	
	SET NOCOUNT ON;
	DECLARE @UNOUS_NIVEL_NEW VARCHAR(70), @UNOUS_NIVEL_OLD VARCHAR(70), @CODIGO_FATOR CHAR(6)
    DECLARE @GRIFFE VARCHAR(25), @LINHA VARCHAR(25), @GRUPO_PRODUTO VARCHAR(25), @SUBGRUPO_PRODUTO VARCHAR(25)

	SELECT	@UNOUS_NIVEL_NEW=I.UNOUS_NIVEL, 
			@GRIFFE =I.GRIFFE, 
			@LINHA =I.LINHA, 
			@GRUPO_PRODUTO =I.GRUPO_PRODUTO, 
			@SUBGRUPO_PRODUTO = I.SUBGRUPO_PRODUTO,
			@CODIGO_FATOR = I.CODIGO_FATOR
	FROM INSERTED I

	UPDATE CAE_PRODUTOS_FATOR_P 
	SET UNOUS_NIVEL = 'FATOR_P'
	WHERE CODIGO_FATOR = @CODIGO_FATOR
	
	UPDATE PRODUTOS SET DATA_PARA_TRANSFERENCIA = GETDATE()
	WHERE	
			GRIFFE = @GRIFFE 
			AND LINHA = @LINHA 
			AND GRUPO_PRODUTO = @GRUPO_PRODUTO 
			AND SUBGRUPO_PRODUTO = @SUBGRUPO_PRODUTO

END
