USE [CAEDU]
GO
/****** Object:  Trigger [dbo].[it4U_PRODUTOS]    Script Date: 12/03/2024 08:04:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER trigger [dbo].[it4U_PRODUTOS] on [dbo].[PRODUTOS]  
For INSERT,UPDATE
/****
* ALTERADO POR PAULO DEVIDE - ABR/15
* SE FOR SEGMENTO SOMENTE ATACADO, NÃO MARCAR ENVIA_LOJA_VAREJO
*/
As  
BEGIN

	UPDATE PRODUTOS SET ENVIA_LOJA_VAREJO = 1 , DATA_PARA_TRANSFERENCIA = INSERTED.DATA_PARA_TRANSFERENCIA  
	FROM PRODUTOS JOIN INSERTED ON PRODUTOS.PRODUTO=INSERTED.PRODUTO  
	WHERE INSERTED.ENVIA_LOJA_VAREJO = 0  AND INSERTED.STATUS_PRODUTO ='01' 
		AND INSERTED.ERP_CUPS_SEGMENTO<>'000156'
 
END
