USE [CAEDU]
GO
/****** Object:  StoredProcedure [dbo].[arb_gera_precos_tabela]    Script Date: 16/11/2023 10:04:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROC [dbo].[arb_gera_precos_tabela]
AS
BEGIN 

insert into PRODUTOS_PRECO_LOG
    (CODIGO_TAB_PRECO,DATA_ATIVACAO,PRODUTO,PRECO1,PRECO2,PRECO3,PRECO4,PRECO_LIQUIDO1,PRECO_LIQUIDO2,PRECO_LIQUIDO3,PRECO_LIQUIDO4, PROCESSADO)
SELECT
--    pp.CODIGO_TAB_PRECO , getdate(),amg.produto,pp.PRECO1,0,0,0,0,0,0,0
pp.CODIGO_TAB_PRECO , dateadd(day,4,getdate()) ,amg.produto,pp.PRECO1,0,0,0,0,0,0,0, 1
FROM
    dbo.arb_markdown_gerado amg 
    inner join FILIAIS fl on fl.FILIAL = amg.loja
    inner join dbo.PARAMETROS_LOJA pl on pl.PARAMETRO LIKE '%CODIGO_T%' AND fl.COD_FILIAL =pl.CODIGO_FILIAL
    inner join produtos_precos pp on amg.produto = pp.PRODUTO and  pp.CODIGO_TAB_PRECO = pl.valor_atual
where
    data_aprovacao BETWEEN  DATEADD(MINUTE,-30,getdate()) and  DATEADD(MINUTE,30,getdate())
and custo_cmv is not null 
AND custo_total < markdown_total 
AND margem_bruta>0
--exec SP_UPDATELOGPRICES
 
END
