USE [CAEDU]
GO
/****** Object:  StoredProcedure [dbo].[arb_gera_markdown_agendamento]    Script Date: 16/11/2023 10:10:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
---------------------------------------------------------------------------------------------------------------------------------------------------------------------
*/
ALTER PROC [dbo].[arb_gera_markdown_agendamento]
AS
     BEGIN
         INSERT INTO arb_agendamento
         (id_markdown,
          nome,
          data_cadastro,
          data_alteracao,
          data_execucao,
          ativo,
          dia_semana_execucao_1,
          dia_semana_execucao_2,
          dia_semana_execucao_3,
          dia_semana_execucao_4,
          dia_semana_execucao_5,
          dia_semana_execucao_6,
          dia_semana_execucao_7,
          periodo_inicio,
          periodo_finl,
          usuario_criador,
          usuario_alterador,
          usuario_executor,
          griffe,
          Linha,
          grupo,
          status,
          idadeinicio,
          idadefim,
          evinicio,
          evfim,
          descconto,
          d
         )
                SELECT id,
                       nome,
                       GETDATE() AS data_cadastro,
                       GETDATE() AS data_alteracao,
                       '' AS data_execucao,
                       ativo,
                       0 AS dia_semana_execucao_1,
                       0 AS dia_semana_execucao_2,
                       0 AS dia_semana_execucao_3,
                       0 AS dia_semana_execucao_4,
                       0 AS dia_semana_execucao_5,
                       0 AS dia_semana_execucao_6,
                       0 AS dia_semana_execucao_7,
                       0 AS periodo_inicio,
                       0 AS periodo_finl,
                       0 AS usuario_criador,
                       0 AS usuario_alterador,
                       0 AS usuario_executor,
                       griffe,
                       Linha,
                       grupo,
                       'pendente' AS status,
                       idadeinicio,
                       idadefim,
                       evinicio,
                       evfim,
                       descconto,
                       0 AS d
                FROM warb_parametros_markdown
                WHERE data_aprovacao IS NULL;
     END;
