SET NOCOUNT ON
DECLARE @TAB01 TABLE (ID INT IDENTITY(1,1), 
						FORNECEDOR VARCHAR(25),
						FILIAL_A_ENTREGAR VARCHAR(25),
						FILIAL_COBRANCA VARCHAR(25),
						FILIAL_A_FATURAR VARCHAR(25))

INSERT INTO @TAB01 (FORNECEDOR,FILIAL_A_ENTREGAR,FILIAL_COBRANCA,FILIAL_A_FATURAR)

select FORNECEDOR, FILIAL_A_ENTREGAR,FILIAL_COBRANCA,FILIAL_A_FATURAR 
from fornecedores where ISNULL(filial_a_entregar,'')<>''

DECLARE @I INT = 1
DECLARE @TOT INT
DECLARE @FORNECEDOR VARCHAR(25),
		@FILIAL_A_ENTREGAR VARCHAR(25),
		@FILIAL_COBRANCA VARCHAR(25),
		@FILIAL_A_FATURAR VARCHAR(25)

DECLARE	@V_ENTREGAR VARCHAR(25),
		@V_COBRANCA VARCHAR(25),
		@V_FATURAR VARCHAR(25)

SELECT @TOT = MAX(ID) FROM @TAB01

WHILE @I <= @TOT
BEGIN

	SELECT 	@FORNECEDOR=FORNECEDOR,
			@FILIAL_A_ENTREGAR=FILIAL_A_ENTREGAR,
			@FILIAL_COBRANCA = FILIAL_COBRANCA,
			@FILIAL_A_FATURAR = FILIAL_A_FATURAR,
			@V_ENTREGAR = FILIAL_A_ENTREGAR,
			@V_COBRANCA = FILIAL_COBRANCA,
			@V_FATURAR  = FILIAL_A_FATURAR
	FROM @TAB01
	WHERE ID = @I

	IF @FILIAL_A_ENTREGAR = 'CD REGIS'
	BEGIN
		SET @V_ENTREGAR = 'CD CAJAMAR'
	END

	IF @FILIAL_COBRANCA = 'CD REGIS'
	BEGIN
		SET @V_COBRANCA = 'CD CAJAMAR'
	END

	IF @FILIAL_A_FATURAR = 'CD REGIS'
	BEGIN
		SET @V_FATURAR = 'CD CAJAMAR'
	END

	UPDATE FORNECEDORES SET 
		FILIAL_A_ENTREGAR=@V_ENTREGAR,
		FILIAL_COBRANCA = @V_COBRANCA,
		FILIAL_A_FATURAR = @V_FATURAR,
		ERP_FILIAL_A_ENTREGAR=@V_ENTREGAR,
		ERP_FILIAL_COBRANCA=@V_COBRANCA,
		ERP_FILIAL_A_FATURAR=@V_FATURAR
	WHERE FORNECEDOR = @FORNECEDOR
	
	PRINT @I

	SET @I = @I + 1
END
SET NOCOUNT OFF
