USE [CAEDU]
GO
/****** Object:  Trigger [dbo].[LXI_CTB_LANCAMENTO_ITEM]    Script Date: 15/03/2021 17:41:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER TRIGGER [dbo].[LXI_CTB_LANCAMENTO_ITEM] 
ON [dbo].[CTB_LANCAMENTO_ITEM] 
FOR INSERT 
NOT FOR REPLICATION 
AS 
  -- 06/05/2016 - CARLOS ALBERTO   - ID 2671    - 01.16.010 - #11# - INCLUSÃO DE TRATAMENTO PARA MULTI-EMPRESA.
  -- 29/03/2016 - CARLOS ALBERTO   - ID 1959    - 01.16.010 - #10# - AJUSTE NO CÁLCULO DE ARREDONDAMENTO NA GERAÇÃO DOS REGISTROS DE RATEIO DO LANÇAMENTO.
  -- 25/07/2015 - FUSTINI/CRISPIM  - TP         - 02.15.010 - #9# - CORREÇÃO EM INSERÇÃO DA TABELA #DEFINE_LINHA_LXI_CTB_ITEM PARA MELHORIA DE DESEMPENHO
  -- 01/10/2014 - CARLOS ALBERTO   - TP 6613835 - 02.14.002 - #8# - MELHORIA DE DESEMPENHO 
  -- 03/09/2014 - LUCAS SOUZA      - TP 4690903 - 02.14.002 - #7# - MELHORIA DE DESEMPENHO 
  -- 11/12/2013 - MARCELO FUSTINI  - TP 4192422 - #6# - CONTROLE DO ORÇAMENTO POR CLASSIFICAÇÃO E NÃO MAIS POR CONTA CONTÁBIL
  -- 05/12/2013 - CARLOS ALBERTO   - TP 4706418 - #5# - RETIRADA DA ALTERAÇÃO TAG #4#. VOLTANDO PARA O PROCESSO ORIGINAL DA TRIGGER.
  -- 29/11/2013 - CARLOS ALBERTO   - TP 4706418 - #4# - AJUSTE NA ATUALIZAÇÃO DO SALDO DO ORÇAMENTO PARA NÃO LEVAR VALORES NEGATIVOS PARA O CAMPO DE VALOR REALIZADO.
  -- 21/11/2013 - MARCELO FUSTINI  - TP 4201091 - #3# - BLOQUEIO DO ORÇAMENTO É FEITO NA LXU_CTB_SALDO_ORCAMENTO, NÃO EXISTE NECESSIDADE DE VERIFICAR O PARÂMETRO CTRL_ORCAMENTO AQUI
  -- 22/01/2013 - DANIEL GONCALVES - TP 3362823 - #2# - INCLUSÃO DO ISNULL PARA OS CAMPOS VALOR_FINANCEIRO E VALOR_FINANCEIRO_PADRAO.
  -- 20/08/2012 - JOAO RICARDO                        - MELHORIA DE PERFORMANCE   
  -- 02/05/2012 - DANIEL GONCALVES - TP 2422195 - #1# - ALTERAÇÃO DE MENSAGEM PARA INCLUSÃO DE ITENS NO LANÇAMENTO.
  -- 12/01/2011 - JOAO RICARDO / LETÍCIA - MELHORIA DE PERFORMANCE ORÇAMENTO   
  -- 02/12/2009 - JOAO RICARDO - CORRIGIDA A ATUALIZAÇÃO DO CTB_LANCAMENTO_RATEIO   
  -- 01/12/2009 - JOAO RICARDO - ERRO DA TABELA TEMP   
  -- 01/12/2009 - JOAO RICARDO - INCLUIDA A VALIDAÇÃO DE DIFERENÇA DE LANÇAMENTO   
  -- 01/12/2009 - JOAO RICARDO - CORRIGIDO SELECT QUE ATUALIZA A CTB_LANCAMENTO_RATEIO   
  -- 28/06/2009 - JOAO RICARDO - NÃO VERIFICAR O ORÇAMENTO SE FOR LANÇAMENTO DE ENCERRAMENTO 
  -- 27/06/2009 - JOAO RICARDO - SOMENTE ATUALIZAR O LANCAMENTO RATEIO NO ITEM QUE A DIFERENÇA FOR MENOR OU IGUAL AO VALOR
  -- 23/06/2009 - JOAO RICARDO - GRAVAR A DIFERENÇA SEMPRE NO PRIMEIRO ITEM DO RATEIO   
  -- 19/06/2009 - JOAO RICARDO - ATUALIZADA A FORMA DE GRAVAR O LANCAMENTO_RATEIO   
  -- 10/06/2009 - JOAO RICARDO - MELHORIA DE PERFORMANCE PARA ATUALIZAR A TABELA CTB_LANCAMENTO_RATEIO
  -- 05/06/2009 - JOAO RICARDO - MELHORIA PARA RECALCULAR OS RATEIOS DE FILIAL 100 % CRIADOS PELO USUÁRIO
  -- 29/05/2009 - JOAO RICARDO - MELHORIA PARA RECALCULAR OS RATEIOS   
  -- 02/04/2009 - JOAO RICARDO - INCLUÍDO OS CAMPO SDE CREDITO, DEBITO E SALDO_MOEDA NA ATUALIZAÇÃO AUTOMÁTICA DO SALDO ANTERIOR
  -- 05/11/2008 - JOAO RICARDO - MELHORIA DE PERFORMANCE   
  -- 04/11/2008 - JOAO RICARDO - MELHORIA DE PERFORMANCE   
  -- 03/11/2008 - JOAO RICARDO - MELHORIA DE PERFORMANCE ORÇAMENTO   
  -- 28/10/2008 - JOAO RICARDO - NOVA VALIDAÇÃO DE CONTAS DO ORÇAMENTO   
  -- 21/10/2008 - JOAO RICARDO - CORRIGIDO SELECT QUE VERIFICA SE A CONTA PRECISA DE ORÇAMENTO  
  -- 06/10/2008 - JOAO RICARDO - MELHORIA NA ATUALIZAÇÃO DA TABELA CTB_LANCAMENTO_RATEIO   
  -- 29/09/2008 - JOAO RICARDO - ATUALIZANDO O SALDO DO ORÇAMENTO PELO SALDO DA CONTA   
  -- 11/09/2008 - JOAO RICARDO - VERIFICAR CARACTERISTICA DO ORÇAMENTO   
  -- 10/09/2008 - JOAO RICARDO - ATUALIZANDO TABELA CTB_LANCAMENTO_RATEIO   
  -- 02/09/2008 - JOAO RICARDO - VERIFICANDO SE A CONTA ESTÁ INDICADA PARA ORÇAMENTO E NÃO TEM SALDO
  -- 01/07/2008 - FELIPE     - INCLUIDO TRATAMENTO DE SALDO DE ORÇAMENTO   
  -- 30/04/2008 - JOAO RICARDO - MUDAR O NOME DAS TABELAS TEMPORÁRIAS   
  -- 22/01/2008 - JOAO RICARDO - PROBLEMA PARA VERIFICAR O PARAMETRO ATUALIZA AUTOMÁTICO SALDO ANTERIOR CORRIGIDO
  -- 17/08/2007 - SERGIO     - RETIRAR / ALTERAR TRATAMENTO DA FUNCAO SYSTEM_USER   
  -- 25/07/2007 - JOAO RICARDO - ATUALIZANDO SALDO ANTERIOR AUTOMATICO   
  -- INSERT TRIGGER ON CTB_LANCAMENTO_ITEM   
  BEGIN 
      DECLARE @NUMROWS       INT, 
              @NULLCNT       INT, 
              @VALIDCNT      INT, 
              @INSEMPRESA    INT, 
              @INSLANCAMENTO INT, 
              @INSITEM       SMALLINT, 
              @ERRNO         INT, 
              @ERRMSG        VARCHAR(1000) 

      --SELECT @NUMROWS = 0 /*#7#*/ 
      SELECT @NUMROWS = @@ROWCOUNT --#8# 
      DECLARE @SERVER_NAME   VARCHAR(100), 
              @DATABASE_NAME VARCHAR(100) 

      SELECT @SERVER_NAME = LTRIM(RTRIM(CAST(SERVERPROPERTY('SERVERNAME') AS VARCHAR(100)))),
             @DATABASE_NAME = RTRIM(LTRIM(DB_NAME())) 

      CREATE TABLE #LXI_CTB_LANCAMENTO_ITEM 
        ( 
           EMPRESA INT 
        ) 

      -----------------------------------------------------------------------------------------------------------------------   
      --BLOQUEIO DA CONTABILIDADE   
      -- 13/11/2003 - JOÃO RICARDO - INCLUSÃO DA BUSCA DO PARAMETRO POR USUÁRIO   
      DECLARE @XDATABLOQ DATETIME, 
              @LXUSUARIO VARCHAR(25) 

      SELECT @LXUSUARIO = USUARIO 
      FROM   USERS 
      WHERE  LX_SYSTEM_USER = CAST(SYSTEM_USER AS VARCHAR(240)) /*#7#*/ 
      SELECT @XDATABLOQ = '18000101' 

      SELECT @XDATABLOQ = ISNULL(CONVERT(DATETIME, VALOR_ATUAL_USER, 103), '18000101') 
      FROM   PARAMETROS_USERS 
      WHERE  PARAMETRO = 'DATA_BLOQ_CONTABILIDADE' 
             AND USUARIO = @LXUSUARIO 

      IF @XDATABLOQ = '18000101' 
        SELECT @XDATABLOQ = ISNULL(CONVERT(DATETIME, VALOR_ATUAL, 103), '18000101') 
        FROM   PARAMETROS 
        WHERE  PARAMETRO = 'DATA_BLOQ_CONTABILIDADE' 

      IF EXISTS(SELECT 1 --#8# 
                FROM   INSERTED AS A 
                       JOIN CTB_LANCAMENTO AS B 
                         ON A.EMPRESA = B.EMPRESA 
                            AND A.LANCAMENTO = B.LANCAMENTO 
                WHERE  DATA_LANCAMENTO <= @XDATABLOQ) /*#7#*/ 
        BEGIN 
            SELECT @ERRNO = 30002, 
                   @ERRMSG = 'NÃO É POSSÍVEL INCLUIR ITENS EM LANÇAMENTO ANTERIOR A: ' 
                             + CONVERT(CHAR(10), @XDATABLOQ, 103) 
                             + ' FAVOR VERIFICAR COM O SEU ADMINISTRADOR DE SISTEMA O PARÂMETRO DATA_BLOQ_CONTABILIDADE NA TELA 014005!' -- #1#   

            GOTO ERROR 
        END 

      --FIM DA VERIFICAÇÃO DE BLOQUEIO   
      -----------------------------------------------------------------------------------------------------------------------   
      -- 01/03/2004 - JOAO RICARDO - BLOQUEIO DA CONTABILIDADE POR MATRIZ_CONTABIL   
      -- 25/03/2004 - JOAO RICARDO - TIPOD E FECHAMENTO = 01 FECHAMENTO CONTÁBIL   
      IF EXISTS(SELECT 1 --#8# 
                FROM   CTB_LANCAMENTO A 
                       JOIN INSERTED B 
                         ON A.EMPRESA = B.EMPRESA 
                            AND A.LANCAMENTO = B.LANCAMENTO 
                       JOIN CTB_FILIAL_RATEIO C 
                         ON B.RATEIO_FILIAL = C.RATEIO_FILIAL 
                       JOIN CTB_FECHAMENTO D 
                         ON C.COD_MATRIZ_CONTABIL = D.COD_FILIAL 
                            AND D.INATIVO = 0 
                            AND D.TIPO_FECHAMENTO = '01' 
							AND D.EMPRESA = B.EMPRESA	/*#11#*/
                WHERE  A.DATA_LANCAMENTO <= D.DATA_FECHAMENTO) /*#7#*/ 
        BEGIN 
            SELECT @ERRNO = 30002, 
                   @ERRMSG = 'CTB_LANCAMENTO_ITEM - NÃO É POSSÍVEL INCLUIR LANÇAMENTO, EXISTE UM FECHAMENTO PARA A DATA !'

            GOTO ERROR 
        END 

      -- FIM - BLOQUEIO DA CONTABILIDADE POR MATRIZ_CONTABIL   
      -----------------------------------------------------------------------------------------------------------------------   
      -- CADASTRO_CLI_FOR - CHILD INSERT RESTRICT   
      IF UPDATE(COD_CLIFOR) 
        BEGIN 
            SELECT @NULLCNT = 0 

            SELECT @VALIDCNT = COUNT(*) 
            FROM   INSERTED, 
                   CADASTRO_CLI_FOR 
            WHERE  INSERTED.COD_CLIFOR = CADASTRO_CLI_FOR.COD_CLIFOR 

            SELECT @NULLCNT = COUNT(*) 
            FROM   INSERTED 
            WHERE  INSERTED.COD_CLIFOR IS NULL 

            IF @VALIDCNT + @NULLCNT != @NUMROWS 
              BEGIN 
                  SELECT @ERRNO = 30002, 
                         @ERRMSG = 'IMPOSSÍVEL INCLUIR #CTB_LANCAMENTO_ITEM #PORQUE #CADASTRO_CLI_FOR #NÃO EXISTE.'

                  GOTO ERROR 
              END 
        END 

      -- CTB_FILIAL_RATEIO - CHILD INSERT RESTRICT   
      IF UPDATE(RATEIO_FILIAL) 
        BEGIN 
            SELECT @NULLCNT = 0 

            SELECT @VALIDCNT = COUNT(*) 
            FROM   INSERTED, 
                   CTB_FILIAL_RATEIO 
            WHERE  INSERTED.RATEIO_FILIAL = CTB_FILIAL_RATEIO.RATEIO_FILIAL 

            IF @VALIDCNT + @NULLCNT != @NUMROWS 
              BEGIN 
                  SELECT @ERRNO = 30002, 
                         @ERRMSG = 'IMPOSSÍVEL INCLUIR #CTB_LANCAMENTO_ITEM #PORQUE #CTB_FILIAL_RATEIO #NÃO EXISTE.'

                  GOTO ERROR 
              END 
        END 

      -- CTB_CENTRO_CUSTO_RATEIO - CHILD INSERT RESTRICT   
      IF UPDATE(RATEIO_CENTRO_CUSTO) 
        BEGIN 
            SELECT @NULLCNT = 0 

            SELECT @VALIDCNT = COUNT(*) 
            FROM   INSERTED, 
                   CTB_CENTRO_CUSTO_RATEIO 
            WHERE  INSERTED.RATEIO_CENTRO_CUSTO = CTB_CENTRO_CUSTO_RATEIO.RATEIO_CENTRO_CUSTO

            IF @VALIDCNT + @NULLCNT != @NUMROWS 
              BEGIN 
                  SELECT @ERRNO = 30002, 
                         @ERRMSG = 'IMPOSSÍVEL INCLUIR #CTB_LANCAMENTO_ITEM #PORQUE #CTB_CENTRO_CUSTO_RATEIO #NÃO EXISTE.'

                  GOTO ERROR 
              END 
        END 

      -- CTB_CONTA_PLANO - CHILD INSERT RESTRICT   
      IF UPDATE(CONTA_CONTABIL) 
        BEGIN 
            SELECT @NULLCNT = 0 

            SELECT @VALIDCNT = COUNT(*) 
            FROM   INSERTED, 
                   CTB_CONTA_PLANO 
            WHERE  INSERTED.CONTA_CONTABIL = CTB_CONTA_PLANO.CONTA_CONTABIL 

            IF @VALIDCNT + @NULLCNT != @NUMROWS 
              BEGIN 
                  SELECT @ERRNO = 30002, 
                         @ERRMSG = 'IMPOSSÍVEL INCLUIR #CTB_LANCAMENTO_ITEM #PORQUE #CTB_CONTA_PLANO #NÃO EXISTE.'

                  GOTO ERROR 
              END 
        END 

      -- CTB_HIST_PADRAO - CHILD INSERT RESTRICT   
      IF UPDATE(CODIGO_HISTORICO) 
        BEGIN 
            SELECT @NULLCNT = 0 

            SELECT @VALIDCNT = COUNT(*) 
            FROM   INSERTED, 
                   CTB_HIST_PADRAO 
            WHERE  INSERTED.CODIGO_HISTORICO = CTB_HIST_PADRAO.CODIGO_HISTORICO 

            SELECT @NULLCNT = COUNT(*) 
            FROM   INSERTED 
            WHERE  INSERTED.CODIGO_HISTORICO IS NULL 

            IF @VALIDCNT + @NULLCNT != @NUMROWS 
              BEGIN 
                  SELECT @ERRNO = 30002, 
                         @ERRMSG = 'IMPOSSÍVEL INCLUIR #CTB_LANCAMENTO_ITEM #PORQUE #CTB_HIST_PADRAO #NÃO EXISTE.'

                  GOTO ERROR 
              END 
        END 

      -- CTB_LANCAMENTO - CHILD INSERT RESTRICT   
      IF UPDATE(LANCAMENTO) 
          OR UPDATE(EMPRESA) 
        BEGIN 
            SELECT @NULLCNT = 0 

            SELECT @VALIDCNT = COUNT(*) 
            FROM   INSERTED, 
                   CTB_LANCAMENTO 
            WHERE  INSERTED.LANCAMENTO = CTB_LANCAMENTO.LANCAMENTO 
                   AND INSERTED.EMPRESA = CTB_LANCAMENTO.EMPRESA 

            IF @VALIDCNT + @NULLCNT != @NUMROWS 
              BEGIN 
                  SELECT @ERRNO = 30002, 
                         @ERRMSG = 'IMPOSSÍVEL INCLUIR #CTB_LANCAMENTO_ITEM #PORQUE #CTB_LANCAMENTO #NÃO EXISTE.'

                  GOTO ERROR 
              END 
        END 

      -- CTB_LX_LANCAMENTO_TIPO - CHILD INSERT RESTRICT   
      IF UPDATE(LX_TIPO_LANCAMENTO) 
        BEGIN 
            SELECT @NULLCNT = 0 

            SELECT @VALIDCNT = COUNT(*) 
            FROM   INSERTED, 
                   CTB_LX_LANCAMENTO_TIPO 
            WHERE  INSERTED.LX_TIPO_LANCAMENTO = CTB_LX_LANCAMENTO_TIPO.LX_TIPO_LANCAMENTO 

            IF @VALIDCNT + @NULLCNT != @NUMROWS 
              BEGIN 
                  SELECT @ERRNO = 30002, 
                         @ERRMSG = 'IMPOSSÍVEL INCLUIR #CTB_LANCAMENTO_ITEM #PORQUE #CTB_LX_LANCAMENTO_TIPO #NÃO EXISTE.'

                  GOTO ERROR 
              END 
        END 

      -- MOEDAS - CHILD INSERT RESTRICT   
      IF UPDATE(MOEDA) 
        BEGIN 
            SELECT @NULLCNT = 0 

            SELECT @VALIDCNT = COUNT(*) 
            FROM   INSERTED, 
                   MOEDAS 
            WHERE  INSERTED.MOEDA = MOEDAS.MOEDA 

            IF @VALIDCNT + @NULLCNT != @NUMROWS 
              BEGIN 
                  SELECT @ERRNO = 30002, 
                         @ERRMSG = 'IMPOSSÍVEL INCLUIR #CTB_LANCAMENTO_ITEM #PORQUE #MOEDAS #NÃO EXISTE.'

                  GOTO ERROR 
              END 
        END 

      -- BLOQUEIO ORCAMENTO -----------------------------------------------------------------------------------------------   
  /*#3#*/ 
      /*   
      IF DBO.FX_PARAMETRO('CTRL_ORCAMENTO')='.T.' AND (SELECT OBJECT_ID('TEMPDB..#009032SALVA' ))  IS NULL AND 
        NOT EXISTS(SELECT 1 FROM INSERTED A    
                JOIN CTB_LANCAMENTO B ON A.EMPRESA = B.EMPRESA AND A.LANCAMENTO = B.LANCAMENTO 
                JOIN CTB_LOTE C ON B.EMPRESA = C.EMPRESA AND B.LOTE_LANCAMENTO = C.LOTE_LANCAMENTO
              WHERE C.TIPO_LOTE IN ('02','12'))   
      */ 
      BEGIN 
          SELECT A.COD_FILIAL, 
                 COD_MATRIZ_CONTABIL = B.COD_FILIAL 
          INTO   #FILIAIS_TEMP 
          FROM   FILIAIS A (NOLOCK) 
                 JOIN FILIAIS B (NOLOCK) 
                   ON A.MATRIZ = B.FILIAL 

          DECLARE @ID_ORCAMENTO       INT, 
                  @VISAO_CONTABIL     VARCHAR(4), 
                  @ID_VERSAO_CONTABIL INT, 
                  @ID_EXERCICIO       INT 
          DECLARE @CONTA_CONTABIL_CUR_ORC   VARCHAR(20), 
                  @CENTRO_CUSTO_CUR_ORC     VARCHAR(15), 
                  @COD_FILIAL_CUR_ORC       VARCHAR(6), 
                  @TIPO_MOVIMENTO_CUR_ORC   INT, 
                  @DATA_MOV_CUR_ORC         DATETIME, 
                  @ULTIMO_MOVIMENTO_CUR_ORC VARCHAR(100), 
                  @CLASSIFICACAO_CUR_ORC    VARCHAR(20),/*#6#*/ 
                  @VISAO_CUR_ORC            VARCHAR(4) /*#6#*/ 
          DECLARE CUR_ORCAMENTO CURSOR LOCAL FAST_FORWARD FOR 
            SELECT A.ID_ORCAMENTO, 
                   A.VISAO_CONTABIL, 
                   A.ID_VERSAO_CONTABIL, 
                   A.ID_EXERCICIO 
            FROM   CTB_ORCAMENTO A 
                   JOIN CTB_STATUS_ORCAMENTO B 
                     ON B.COD_STATUS_ORCAMENTO = A.COD_STATUS_ORCAMENTO 
            WHERE  B.LX_STATUS_ORCAMENTO = 2 

          OPEN CUR_ORCAMENTO 

          FETCH NEXT FROM CUR_ORCAMENTO INTO @ID_ORCAMENTO, @VISAO_CONTABIL, @ID_VERSAO_CONTABIL, @ID_EXERCICIO

          WHILE @@FETCH_STATUS = 0 
            BEGIN 
                DECLARE CUR_VERIFICA_CONTA CURSOR LOCAL FAST_FORWARD FOR 
                  SELECT DISTINCT B.CONTA_CONTABIL, 
                                  E.CENTRO_CUSTO, 
                                  ISNULL(E.COD_FILIAL, D.COD_FILIAL), 
                                  A.TIPO_MOVIMENTO, 
                                  A.DATA_LANCAMENTO, 
                                  'LANÇAMENTO: ' 
                                  + CAST(A.LANCAMENTO AS VARCHAR(10)), 
                                  CV.CLASSIFICACAO, 
                                  CV.VISAO_CONTABIL 
                  FROM   CTB_LANCAMENTO A (NOLOCK) 
                         JOIN CTB_CALENDARIO_PERIODO G (NOLOCK) 
                           ON G.ID_VERSAO_CONTABIL = @ID_VERSAO_CONTABIL 
                              AND G.ID_EXERCICIO = @ID_EXERCICIO 
                              AND A.DATA_LANCAMENTO BETWEEN G.DATA_INICIAL AND G.DATA_FINAL 
                         JOIN INSERTED B (NOLOCK) 
                           ON B.LANCAMENTO = A.LANCAMENTO 
                              AND B.EMPRESA = A.EMPRESA 
                         JOIN CTB_CENTRO_CUSTO_RATEIO_ITEM E (NOLOCK) 
                           ON E.RATEIO_CENTRO_CUSTO = B.RATEIO_CENTRO_CUSTO 
                         JOIN CTB_PLANO_VISAO Y (NOLOCK) 
                           ON Y.CONTA_CONTABIL = B.CONTA_CONTABIL 
                              AND Y.VISAO_CONTABIL = @VISAO_CONTABIL 
                         /*#6#*/ 
                         JOIN DBO.CTB_VISAO AS CV 
                           ON Y.CLASSIFICACAO = CV.CLASSIFICACAO 
                              AND Y.VISAO_CONTABIL = CV.VISAO_CONTABIL 
                         LEFT JOIN CTB_FILIAL_RATEIO_ITEM D (NOLOCK) 
                                ON D.RATEIO_FILIAL = B.RATEIO_FILIAL 
                                   AND E.COD_FILIAL IS NULL 
                         LEFT JOIN CTB_CONTA_ORCAMENTO H (NOLOCK) 
                                ON H.ID_ORCAMENTO = @ID_ORCAMENTO 
                                   AND H.CLASSIFICACAO = CV.CLASSIFICACAO /*#6#*/ 
                                   AND H.ID_VERSAO_CONTABIL = G.ID_VERSAO_CONTABIL 
                                   AND H.ID_EXERCICIO = G.ID_EXERCICIO 
                                   AND H.ID_PERIODO = G.ID_PERIODO 
                                   AND H.COD_FILIAL = ISNULL(E.COD_FILIAL, D.COD_FILIAL) 
                                   AND H.CENTRO_CUSTO = E.CENTRO_CUSTO 
                                   AND H.TIPO_MOVIMENTO = A.TIPO_MOVIMENTO 
                         JOIN CTB_ORCAMENTO I (NOLOCK) 
                           ON I.ID_ORCAMENTO = @ID_ORCAMENTO 
                         JOIN CTB_CONTA_PLANO J (NOLOCK) 
                           ON B.CONTA_CONTABIL = J.CONTA_CONTABIL 
                         JOIN #FILIAIS_TEMP L (NOLOCK) 
                           ON L.COD_FILIAL = ISNULL(E.COD_FILIAL, D.COD_FILIAL) 
                              AND L.COD_MATRIZ_CONTABIL = I.COD_MATRIZ_CONTABIL 
                         LEFT JOIN CTB_LOTE N (NOLOCK) 
                                ON A.EMPRESA = N.EMPRESA 
                                   AND A.LOTE_LANCAMENTO = N.LOTE_LANCAMENTO 
                  WHERE  CV.INDICA_CTRL_ORCAMENTO = 1 /*#6#*/ 
                         AND H.ID_ORCAMENTO IS NULL 
                         AND ISNULL(N.TIPO_LOTE, '') NOT IN ( '02', '12' ) 

                OPEN CUR_VERIFICA_CONTA 

                FETCH NEXT FROM CUR_VERIFICA_CONTA INTO @CONTA_CONTABIL_CUR_ORC, @CENTRO_CUSTO_CUR_ORC, @COD_FILIAL_CUR_ORC, @TIPO_MOVIMENTO_CUR_ORC, @DATA_MOV_CUR_ORC, @ULTIMO_MOVIMENTO_CUR_ORC, @CLASSIFICACAO_CUR_ORC, @VISAO_CUR_ORC /*#6#*/
                WHILE @@FETCH_STATUS = 0 
                  BEGIN 
                      EXEC LX_CTB_VERIFICA_VERBA_ORCAMENTO 
                        --@CONTA_CONTABIL_CUR_ORC, #6# 
                        @CLASSIFICACAO_CUR_ORC,/*#6#*/ 
                        @VISAO_CUR_ORC,/*#6#*/ 
                        @CENTRO_CUSTO_CUR_ORC, 
                        @COD_FILIAL_CUR_ORC, 
                        @TIPO_MOVIMENTO_CUR_ORC, 
                        @ID_ORCAMENTO, 
                        @DATA_MOV_CUR_ORC, 
                        @ULTIMO_MOVIMENTO_CUR_ORC 

                      FETCH NEXT FROM CUR_VERIFICA_CONTA INTO @CONTA_CONTABIL_CUR_ORC, @CENTRO_CUSTO_CUR_ORC, @COD_FILIAL_CUR_ORC, @TIPO_MOVIMENTO_CUR_ORC, @DATA_MOV_CUR_ORC, @ULTIMO_MOVIMENTO_CUR_ORC, @CLASSIFICACAO_CUR_ORC, @VISAO_CUR_ORC /*#6#*/
                  END 

                CLOSE CUR_VERIFICA_CONTA 

                DEALLOCATE CUR_VERIFICA_CONTA 

                UPDATE A 
                SET    VALOR_REALIZADO = A.VALOR_REALIZADO 
                                         + ISNULL(B.VALOR_REALIZADO, 0), 
                       USUARIO_ULTIMO_MOVIMENTO = @LXUSUARIO, 
                       DATA_ULTIMO_MOVIMENTO = GETDATE(), 
                       ULTIMO_MOVIMENTO = B.ULTIMO_MOVIMENTO 
                FROM   CTB_SALDO_ORCAMENTO A 
                       JOIN (SELECT ID_ORCAMENTO = @ID_ORCAMENTO, 
                                    ITEM_SALDO_ORCAMENTO = (SELECT TOP 1 CCO.ITEM_SALDO_ORCAMENTO
                                                            FROM   CTB_CONTA_ORCAMENTO CCO (NOLOCK)
                                                            WHERE  CCO.ID_ORCAMENTO = @ID_ORCAMENTO
                                                                   AND CCO.CLASSIFICACAO = CV.CLASSIFICACAO /*#6#*/
                                                                   AND CCO.ID_VERSAO_CONTABIL = G.ID_VERSAO_CONTABIL
                                                                   AND CCO.ID_EXERCICIO = G.ID_EXERCICIO
                                                                   AND CCO.ID_PERIODO = G.ID_PERIODO
                                                                   AND CCO.COD_FILIAL = ISNULL(E.COD_FILIAL, D.COD_FILIAL)
                                                                   AND CCO.CENTRO_CUSTO = E.CENTRO_CUSTO
                                                                   AND CCO.TIPO_MOVIMENTO = A.TIPO_MOVIMENTO),
                                    /*#5#*/ 
                                    VALOR_REALIZADO = CAST(SUM(( B.DEBITO - B.CREDITO ) * CASE
                                                                                            WHEN E.COD_FILIAL IS NULL THEN D.PORCENTAGEM / 100.
                                                                                            ELSE 1
                                                                                          END * E.PORCENTAGEM / 100.) AS NUMERIC(15, 2)),
                                    --VALOR_REALIZADO  = CAST(CASE WHEN SUM(B.DEBITO) >= SUM(B.CREDITO) THEN SUM(B.DEBITO * CASE WHEN E.COD_FILIAL IS NULL THEN D.PORCENTAGEM/100. ELSE 1 END * E.PORCENTAGEM/100. ) ELSE SUM(B.CREDITO * CASE WHEN E.COD_FILIAL IS NULL THEN D.PORCENTAGEM/100. ELSE 1 END * E.PORCENTAGEM/100.) END AS NUMERIC(15,2)),
                                    ULTIMO_MOVIMENTO = 'LANÇAMENTO: ' 
                                                       + CAST(MAX(A.LANCAMENTO) AS VARCHAR(10))
                             FROM   CTB_LANCAMENTO A (NOLOCK) 
                                    JOIN CTB_CALENDARIO_PERIODO G (NOLOCK) 
                                      ON G.ID_VERSAO_CONTABIL = @ID_VERSAO_CONTABIL 
                                         AND G.ID_EXERCICIO = @ID_EXERCICIO 
                                         AND A.DATA_LANCAMENTO BETWEEN G.DATA_INICIAL AND G.DATA_FINAL
                                    JOIN INSERTED B (NOLOCK) 
                                      ON B.LANCAMENTO = A.LANCAMENTO 
                                         AND B.EMPRESA = A.EMPRESA 
                                    JOIN CTB_CENTRO_CUSTO_RATEIO_ITEM E (NOLOCK) 
                                      ON E.RATEIO_CENTRO_CUSTO = B.RATEIO_CENTRO_CUSTO 
                                    LEFT JOIN CTB_FILIAL_RATEIO_ITEM D (NOLOCK) 
                                           ON D.RATEIO_FILIAL = B.RATEIO_FILIAL 
                                              AND E.COD_FILIAL IS NULL 
                                    JOIN CTB_PLANO_VISAO Y (NOLOCK) 
                                      ON Y.CONTA_CONTABIL = B.CONTA_CONTABIL 
                                         AND Y.VISAO_CONTABIL = @VISAO_CONTABIL 
                                    JOIN CTB_ORCAMENTO I (NOLOCK) 
                                      ON I.ID_ORCAMENTO = @ID_ORCAMENTO 
                                    JOIN CTB_CONTA_PLANO J (NOLOCK) 
                                      ON B.CONTA_CONTABIL = J.CONTA_CONTABIL 
                                    /*#6#*/ 
                                    JOIN DBO.CTB_VISAO AS CV 
                                      ON CV.CLASSIFICACAO = Y.CLASSIFICACAO 
                                         AND CV.VISAO_CONTABIL = Y.VISAO_CONTABIL 
                                    JOIN #FILIAIS_TEMP L (NOLOCK) 
                                      ON L.COD_FILIAL = ISNULL(E.COD_FILIAL, D.COD_FILIAL) 
                                         AND L.COD_MATRIZ_CONTABIL = I.COD_MATRIZ_CONTABIL 
                                    LEFT JOIN CTB_LOTE N (NOLOCK) 
                                           ON A.EMPRESA = N.EMPRESA 
                                              AND A.LOTE_LANCAMENTO = N.LOTE_LANCAMENTO 
                             WHERE  CV.INDICA_CTRL_ORCAMENTO = 1 /*#6#*/ 
                                    AND ISNULL(N.TIPO_LOTE, '') NOT IN ( '02', '12' ) 
                             GROUP  BY CV.CLASSIFICACAO,/*#6#*/ 
                                       G.ID_VERSAO_CONTABIL, 
                                       G.ID_EXERCICIO, 
                                       G.ID_PERIODO, 
                                       ISNULL(E.COD_FILIAL, D.COD_FILIAL), 
                                       E.CENTRO_CUSTO, 
                                       A.TIPO_MOVIMENTO) B 
                         ON B.ID_ORCAMENTO = A.ID_ORCAMENTO 
                            AND B.ITEM_SALDO_ORCAMENTO = A.ITEM_SALDO_ORCAMENTO 

                FETCH NEXT FROM CUR_ORCAMENTO INTO @ID_ORCAMENTO, @VISAO_CONTABIL, @ID_VERSAO_CONTABIL, @ID_EXERCICIO
            END 

          CLOSE CUR_ORCAMENTO 

          DEALLOCATE CUR_ORCAMENTO 
      END 

      ---------------------------------------------------------------------------------------------------------------------   
      -- 05/07/2005 - JOAO RICARDO - VERIFICA TIPO DE CONTA SE EXIGE TERCEIRO E SE FOI COLOCADO   
      -- 12/05/2004 - JOAO RICARDO - VERIFICA TIPO LANCAMENTO SE EXIGE TERCEIRO E SE FOI COLOCADO   
      DECLARE @LX_TIPO_LANCAMENTO VARCHAR(3), 
              @CONTA_CONTABIL     VARCHAR(20) 

      IF EXISTS (SELECT 1 --#8# 
                 FROM   INSERTED A 
                        JOIN CTB_LX_LANCAMENTO_TIPO B 
                          ON A.LX_TIPO_LANCAMENTO = B.LX_TIPO_LANCAMENTO 
                 WHERE  COD_CLIFOR IS NULL 
                        AND B.INDICA_ID_CONTABIL_TERCEIRO = 1) /*#7#*/ 
        BEGIN 
            SELECT @LX_TIPO_LANCAMENTO = MAX(A.LX_TIPO_LANCAMENTO) 
            FROM   INSERTED A 
                   JOIN CTB_LX_LANCAMENTO_TIPO B 
                     ON A.LX_TIPO_LANCAMENTO = B.LX_TIPO_LANCAMENTO 
            WHERE  COD_CLIFOR IS NULL 
                   AND B.INDICA_ID_CONTABIL_TERCEIRO = 1 

            SELECT @ERRNO = 30002, 
                   @ERRMSG = 'O TIPO DE LANÇAMENTO ' 
                             + @LX_TIPO_LANCAMENTO 
                             + ' EXIGE TERCEIRO E ESTÁ VAZIO, FAVOR VERIFICAR.' 

            GOTO ERROR 
        END 

      IF EXISTS(SELECT 1 --#8# 
                FROM   INSERTED A 
                       JOIN CTB_CONTA_PLANO B 
                         ON A.CONTA_CONTABIL = B.CONTA_CONTABIL 
                       JOIN CTB_CONTA_TIPO C 
                         ON B.TIPO_CONTA = C.TIPO_CONTA 
                WHERE  A.COD_CLIFOR IS NULL 
                       AND C.INDICA_ID_CONTABIL_TERCEIRO = 1) /*#7#*/ 
        BEGIN 
            SELECT @CONTA_CONTABIL = MAX(A.CONTA_CONTABIL) 
            FROM   INSERTED A 
                   JOIN CTB_CONTA_PLANO B 
                     ON A.CONTA_CONTABIL = B.CONTA_CONTABIL 
                   JOIN CTB_CONTA_TIPO C 
                     ON B.TIPO_CONTA = C.TIPO_CONTA 
            WHERE  A.COD_CLIFOR IS NULL 
                   AND C.INDICA_ID_CONTABIL_TERCEIRO = 1 

            SELECT @ERRNO = 30002, 
                   @ERRMSG = 'O TIPO DA CONTA ' + @CONTA_CONTABIL 
                             + ' EXIGE TERCEIRO E ESTÁ VAZIO, FAVOR VERIFICAR.' 

            GOTO ERROR 
        END 

      IF EXISTS(SELECT * 
                FROM   INSERTED A 
                       JOIN CTB_CONTA_PLANO B 
                         ON A.CONTA_CONTABIL = B.CONTA_CONTABIL 
                WHERE  B.LX_GRUPO_CONTABIL = 'C') 
        BEGIN 
            SELECT @CONTA_CONTABIL = MAX(A.CONTA_CONTABIL) 
            FROM   INSERTED A 
                   JOIN CTB_CONTA_PLANO B 
                     ON A.CONTA_CONTABIL = B.CONTA_CONTABIL 
            WHERE  B.LX_GRUPO_CONTABIL = 'C' 

            SELECT @ERRNO = 30002, 
                   @ERRMSG = 'O GRUPO DA CONTA ' + @CONTA_CONTABIL 
                             + ' ESTÁ MARCADO PARA NÃO FAZER LANÇAMENTOS, FAVOR VERIFICAR.' 

            GOTO ERROR 
        END 

      ----------------------------------------------------------------   
      -----------------------------ATUALIZAÇÃO DA TABELA DE RATEIO-----------------------------------------------   
      SELECT A.EMPRESA, 
             A.LANCAMENTO, 
             A.ITEM, 
             COD_FILIAL = CAST(ISNULL(C.COD_FILIAL, D.COD_FILIAL) AS VARCHAR(6)), 
             C.CENTRO_CUSTO, 
             DEBITO = CAST(ROUND(SUM(A.DEBITO * CASE 
                                                  WHEN C.COD_FILIAL IS NULL THEN ( ISNULL(D.PORCENTAGEM, 100) / 100 )
                                                  ELSE 1 
                                                END * ( ISNULL(C.PORCENTAGEM, 100) / 100 )), 2) AS DECIMAL(19, 2)),
             CREDITO = CAST(ROUND(SUM(A.CREDITO * CASE 
                                                    WHEN C.COD_FILIAL IS NULL THEN ( ISNULL(D.PORCENTAGEM, 100) / 100 )
                                                    ELSE 1 
                                                  END * ( ISNULL(C.PORCENTAGEM, 100) / 100 )), 2) AS DECIMAL(19, 2)),
             DEBITO_MOEDA = CAST(ROUND(SUM(A.DEBITO_MOEDA * CASE 
                                                              WHEN C.COD_FILIAL IS NULL THEN ( ISNULL(D.PORCENTAGEM, 100) / 100 )
                                                              ELSE 1 
                                                            END * ( ISNULL(C.PORCENTAGEM, 100) / 100 )), 2) AS DECIMAL(19, 2)),
             CREDITO_MOEDA = CAST(ROUND(SUM(A.CREDITO_MOEDA * CASE 
                                                                WHEN C.COD_FILIAL IS NULL THEN ( ISNULL(D.PORCENTAGEM, 100) / 100 )
                                                                ELSE 1 
                                                              END * ( ISNULL(C.PORCENTAGEM, 100) / 100 )), 2) AS DECIMAL(19, 2)),
             VALOR_FINANCEIRO = CAST(ROUND(SUM(A.VALOR_FINANCEIRO * CASE 
                                                                      WHEN C.COD_FILIAL IS NULL THEN ( ISNULL(D.PORCENTAGEM, 100) / 100 )
                                                                      ELSE 1 
                                                                    END * ( ISNULL(C.PORCENTAGEM, 100) / 100 )), 2) AS DECIMAL(19, 2)),
             VALOR_FINANCEIRO_PADRAO = CAST(ROUND(SUM(A.VALOR_FINANCEIRO_PADRAO * CASE 
                                                                                    WHEN C.COD_FILIAL IS NULL THEN ( ISNULL(D.PORCENTAGEM, 100) / 100 )
                                                                                    ELSE 1 
                                                                                  END * ( ISNULL(C.PORCENTAGEM, 100) / 100 )), 2) AS DECIMAL(19, 2))
      INTO   #LXI_CTB_LANCAMENTO_RATEIO_PRINCIPAL 
      FROM   INSERTED A (NOLOCK) 
             JOIN CTB_LANCAMENTO B (NOLOCK) 
               ON A.EMPRESA = B.EMPRESA 
                  AND A.LANCAMENTO = B.LANCAMENTO 
             LEFT JOIN CTB_CENTRO_CUSTO_RATEIO_ITEM C (NOLOCK) 
                    ON A.RATEIO_CENTRO_CUSTO = C.RATEIO_CENTRO_CUSTO 
             LEFT JOIN CTB_FILIAL_RATEIO_ITEM D (NOLOCK) 
                    ON A.RATEIO_FILIAL = D.RATEIO_FILIAL 
                       AND ( C.COD_FILIAL IS NULL ) 
             LEFT JOIN CTB_LANCAMENTO_RATEIO E (NOLOCK) 
                    ON A.EMPRESA = E.EMPRESA 
                       AND A.LANCAMENTO = E.LANCAMENTO 
                       AND A.ITEM = E.ITEM 
      WHERE  E.EMPRESA IS NULL 
      GROUP  BY A.EMPRESA, 
                A.LANCAMENTO, 
                A.ITEM, 
                CAST(ISNULL(C.COD_FILIAL, D.COD_FILIAL) AS VARCHAR(6)), 
                C.CENTRO_CUSTO 
      ORDER  BY A.LANCAMENTO, 
                A.ITEM 

      ---- 
      --INSERT  CTB_LANCAMENTO_ITEM_CRP 
      --SELECT * FROM INSERTED 
      --CREATE INDEX [XIE1#CTB_LANCAMENTO_RATEIO] ON [DBO].[#LXI_CTB_LANCAMENTO_RATEIO_PRINCIPAL](EMPRESA, LANCAMENTO, ITEM) ON [PRIMARY]  /*#7#*/ 
      --CREATE INDEX [XIE2#CTB_LANCAMENTO_RATEIO] ON [DBO].[#LXI_CTB_LANCAMENTO_RATEIO_PRINCIPAL](EMPRESA, LANCAMENTO, ITEM, CENTRO_CUSTO, COD_FILIAL) ON [PRIMARY] /*#7#*/ 
      CREATE INDEX #IXLXI_CTB_LANCAMENTO_RATEIO_PRINCIPAL 
        ON #LXI_CTB_LANCAMENTO_RATEIO_PRINCIPAL(LANCAMENTO, ITEM, EMPRESA) 
        INCLUDE (DEBITO, CREDITO, DEBITO_MOEDA, CREDITO_MOEDA, COD_FILIAL, CENTRO_CUSTO) 

      SELECT A.EMPRESA, 
             A.LANCAMENTO, 
             A.ITEM, 
             DEBITO = ( A.DEBITO - B.DEBITO ), 
             CREDITO = ( A.CREDITO - B.CREDITO ), 
             DEBITO_MOEDA = ( A.DEBITO_MOEDA - B.DEBITO_MOEDA ), 
             CREDITO_MOEDA = ( A.CREDITO_MOEDA - B.CREDITO_MOEDA ), 
             VALOR_FINANCEIRO = ( ISNULL(A.VALOR_FINANCEIRO, 0) - ISNULL(B.VALOR_FINANCEIRO, 0) ),
             VALOR_FINANCEIRO_PADRAO = ( ISNULL(A.VALOR_FINANCEIRO_PADRAO, 0) - ISNULL(B.VALOR_FINANCEIRO_PADRAO, 0) )
      INTO   #LXI_CTB_LANCAMENTO_ITEM_DIF 
      FROM   INSERTED A 
             JOIN (SELECT A1.EMPRESA, 
                          A1.LANCAMENTO, 
                          A1.ITEM, 
                          SUM(A1.DEBITO)                  AS DEBITO, 
                          SUM(A1.CREDITO)                 AS CREDITO, 
                          SUM(A1.DEBITO_MOEDA)            AS DEBITO_MOEDA, 
                          SUM(A1.CREDITO_MOEDA)           AS CREDITO_MOEDA, 
                          SUM(A1.VALOR_FINANCEIRO)        AS VALOR_FINANCEIRO, 
                          SUM(A1.VALOR_FINANCEIRO_PADRAO) AS VALOR_FINANCEIRO_PADRAO 
                   FROM   #LXI_CTB_LANCAMENTO_RATEIO_PRINCIPAL A1 
                          JOIN INSERTED A2 
                            ON A1.EMPRESA = A2.EMPRESA 
                               AND A1.LANCAMENTO = A2.LANCAMENTO 
                               AND A1.ITEM = A2.ITEM 
                   GROUP  BY A1.EMPRESA, 
                             A1.LANCAMENTO, 
                             A1.ITEM) B 
               ON A.EMPRESA = B.EMPRESA 
                  AND A.LANCAMENTO = B.LANCAMENTO 
                  AND A.ITEM = B.ITEM 
      WHERE  ( A.DEBITO - B.DEBITO <> 0 
                OR A.CREDITO - B.CREDITO <> 0 
                OR A.VALOR_FINANCEIRO - B.VALOR_FINANCEIRO <> 0 ) 

      /*#7#*/ 
      CREATE TABLE #DEFINE_LINHA_LXI_CTB_ITEM 
        ( 
           EMPRESA      INT, 
           LANCAMENTO   INT, 
           ITEM         INT, 
           CENTRO_CUSTO VARCHAR(15) COLLATE DATABASE_DEFAULT, 
           COD_FILIAL   VARCHAR(6) COLLATE DATABASE_DEFAULT 
        ) 

  /*#7#*/ 
      /*#9#*/ 
      INSERT #DEFINE_LINHA_LXI_CTB_ITEM 
             (EMPRESA, 
              LANCAMENTO, 
              ITEM, 
              CENTRO_CUSTO, 
              COD_FILIAL) 
      SELECT LIN.EMPRESA, 
             LIN.LANCAMENTO, 
             LIN.ITEM, 
             LIN.CENTRO_CUSTO, 
             LIN.COD_FILIAL 
      FROM   INSERTED AS INS 
             CROSS APPLY (SELECT TOP 1 LANCAMENTO, 
                                       ITEM, 
                                       EMPRESA, 
                                       CENTRO_CUSTO, 
                                       COD_FILIAL 
                          FROM   #LXI_CTB_LANCAMENTO_RATEIO_PRINCIPAL AS PRIN 
                          WHERE  INS.LANCAMENTO = PRIN.LANCAMENTO 
                                 AND INS.ITEM = PRIN.ITEM 
                                 AND INS.EMPRESA = PRIN.EMPRESA 
                          ORDER  BY EMPRESA, 
                                    LANCAMENTO, 
                                    ITEM, 
                                    ( CREDITO + DEBITO ), -- #10# DESC, 
                                    CENTRO_CUSTO, 
                                    COD_FILIAL) AS LIN 

      UPDATE C 
      SET    DEBITO = C.DEBITO + ( A.DEBITO ), 
             CREDITO = C.CREDITO + ( A.CREDITO ), 
             DEBITO_MOEDA = C.DEBITO_MOEDA + ( A.DEBITO_MOEDA ), 
             CREDITO_MOEDA = C.CREDITO_MOEDA + ( A.CREDITO_MOEDA ), 
             VALOR_FINANCEIRO = C.VALOR_FINANCEIRO + ( A.VALOR_FINANCEIRO ), 
             VALOR_FINANCEIRO_PADRAO = C.VALOR_FINANCEIRO_PADRAO + ( A.VALOR_FINANCEIRO_PADRAO )
      FROM   #LXI_CTB_LANCAMENTO_ITEM_DIF A 
             JOIN #DEFINE_LINHA_LXI_CTB_ITEM B 
               ON A.EMPRESA = B.EMPRESA 
                  AND A.LANCAMENTO = B.LANCAMENTO 
                  AND A.ITEM = B.ITEM 
             JOIN #LXI_CTB_LANCAMENTO_RATEIO_PRINCIPAL C 
               ON B.EMPRESA = C.EMPRESA 
                  AND B.LANCAMENTO = C.LANCAMENTO 
                  AND B.ITEM = C.ITEM 
                  AND B.CENTRO_CUSTO = C.CENTRO_CUSTO 
                  AND B.COD_FILIAL = C.COD_FILIAL 

      SELECT A.EMPRESA, 
             A.LANCAMENTO, 
             A.ITEM, 
             DEBITO = ( A.DEBITO - B.DEBITO ), 
             CREDITO = ( A.CREDITO - B.CREDITO ), 
             DEBITO_MOEDA = ( A.DEBITO_MOEDA - B.DEBITO_MOEDA ), 
             CREDITO_MOEDA = ( A.CREDITO_MOEDA - B.CREDITO_MOEDA ), 
             VALOR_FINANCEIRO = ( ISNULL(A.VALOR_FINANCEIRO, 0) - ISNULL(B.VALOR_FINANCEIRO, 0) ),
             VALOR_FINANCEIRO_PADRAO = ( ISNULL(A.VALOR_FINANCEIRO_PADRAO, 0) - ISNULL(B.VALOR_FINANCEIRO_PADRAO, 0) )
      INTO   #LXI_CTB_LANCAMENTO_ITEM_DIF2 
      FROM   INSERTED A 
             JOIN (SELECT A1.EMPRESA, 
                          A1.LANCAMENTO, 
                          A1.ITEM, 
                          SUM(A1.DEBITO)                  AS DEBITO, 
                          SUM(A1.CREDITO)                 AS CREDITO, 
                          SUM(A1.DEBITO_MOEDA)            AS DEBITO_MOEDA, 
                          SUM(A1.CREDITO_MOEDA)           AS CREDITO_MOEDA, 
                          SUM(A1.VALOR_FINANCEIRO)        AS VALOR_FINANCEIRO, 
                          SUM(A1.VALOR_FINANCEIRO_PADRAO) AS VALOR_FINANCEIRO_PADRAO 
                   FROM   #LXI_CTB_LANCAMENTO_RATEIO_PRINCIPAL A1 
                          JOIN INSERTED A2 
                            ON A1.EMPRESA = A2.EMPRESA 
                               AND A1.LANCAMENTO = A2.LANCAMENTO 
                               AND A1.ITEM = A2.ITEM 
                   GROUP  BY A1.EMPRESA, 
                             A1.LANCAMENTO, 
                             A1.ITEM) B 
               ON A.EMPRESA = B.EMPRESA 
                  AND A.LANCAMENTO = B.LANCAMENTO 
                  AND A.ITEM = B.ITEM 
      WHERE  ( A.DEBITO - B.DEBITO <> 0 
                OR A.CREDITO - B.CREDITO <> 0 
                OR A.VALOR_FINANCEIRO - B.VALOR_FINANCEIRO <> 0 ) 

      --  INSERT  ##LXI_CTB_LANCAMENTO_RATEIO 
      --  SELECT  DISTINCT A1.EMPRESA, A1.LANCAMENTO, A1.ITEM, A2.DEBITO, A2.CREDITO, A2.DEBITO_MOEDA, A2.CREDITO_MOEDA, A2.VALOR_FINANCEIRO, A2.VALOR_FINANCEIRO_PADRAO 
      --  FROM  #LXI_CTB_LANCAMENTO_RATEIO_PRINCIPAL A1 (NOLOCK)  
      --  JOIN  #LXI_CTB_LANCAMENTO_ITEM_DIF2 A2 ON A1.EMPRESA = A2.EMPRESA AND A1.LANCAMENTO = A2.LANCAMENTO AND A1.ITEM = A2.ITEM 
      --  JOIN  INSERTED A3 ON A1.EMPRESA = A3.EMPRESA AND A1.LANCAMENTO = A3.LANCAMENTO AND A1.ITEM = A3.ITEM 
      --- NOVA    
      DECLARE @EMPRESA_CUR2                 INT, 
              @LANCAMENTO_CUR2              INT, 
              @ITEM_CUR2                    INT, 
              @DEBITO_CUR2                  NUMERIC(19, 2), 
              @CREDITO_CUR2                 NUMERIC(19, 2), 
              @DEBITO_MOEDA_CUR2            NUMERIC(19, 2), 
              @CREDITO_MOEDA_CUR2           NUMERIC(19, 2), 
              @VALOR_FINANCEIRO_CUR2        NUMERIC(19, 2), 
              @VALOR_FINANCEIRO_PADRAO_CUR2 NUMERIC(19, 2), 
              @DEBITO_CREDITO_DIF           NUMERIC(19, 2), 
              @DEBITO_CREDITO_MOEDA_DIF     NUMERIC(19, 2), 
              @VALOR_FINANCEIRO_DIF         NUMERIC(19, 2), 
              @VALOR_FINANCEIRO_PADRAO_DIF  NUMERIC(19, 2) 
      DECLARE CUR_DEFINE_LINHA CURSOR LOCAL FAST_FORWARD FOR 
        SELECT DISTINCT A1.EMPRESA, 
                        A1.LANCAMENTO, 
                        A1.ITEM, 
                        A2.DEBITO, 
                        A2.CREDITO, 
                        A2.DEBITO_MOEDA, 
                        A2.CREDITO_MOEDA, 
                        A2.VALOR_FINANCEIRO, 
                        A2.VALOR_FINANCEIRO_PADRAO 
        FROM   #LXI_CTB_LANCAMENTO_RATEIO_PRINCIPAL A1 (NOLOCK) 
               JOIN #LXI_CTB_LANCAMENTO_ITEM_DIF2 A2 
                 ON A1.EMPRESA = A2.EMPRESA 
                    AND A1.LANCAMENTO = A2.LANCAMENTO 
                    AND A1.ITEM = A2.ITEM 
               JOIN INSERTED A3 
                 ON A1.EMPRESA = A3.EMPRESA 
                    AND A1.LANCAMENTO = A3.LANCAMENTO 
                    AND A1.ITEM = A3.ITEM 
        WHERE  ( A2.DEBITO < 0 
                 AND A1.DEBITO < ABS(A2.DEBITO) ) 
                OR ( A2.CREDITO < 0 
                     AND A1.CREDITO < ABS(A2.CREDITO) ) 

      OPEN CUR_DEFINE_LINHA 

      FETCH NEXT FROM CUR_DEFINE_LINHA INTO @EMPRESA_CUR2, @LANCAMENTO_CUR2, @ITEM_CUR2, @DEBITO_CUR2, @CREDITO_CUR2, @DEBITO_MOEDA_CUR2, @CREDITO_MOEDA_CUR2, @VALOR_FINANCEIRO_CUR2, @VALOR_FINANCEIRO_PADRAO_CUR2

      WHILE @@FETCH_STATUS = 0 
        BEGIN 
            SELECT @DEBITO_CREDITO_DIF = @DEBITO_CUR2 + @CREDITO_CUR2 

            SELECT @DEBITO_CREDITO_MOEDA_DIF = @DEBITO_MOEDA_CUR2 + @CREDITO_MOEDA_CUR2 

            SELECT @VALOR_FINANCEIRO_DIF = @VALOR_FINANCEIRO_CUR2 

            SELECT @VALOR_FINANCEIRO_PADRAO_DIF = @VALOR_FINANCEIRO_PADRAO_CUR2 

            WHILE @DEBITO_CREDITO_DIF <> 0 
                   OR @DEBITO_CREDITO_MOEDA_DIF <> 0 
                   OR @VALOR_FINANCEIRO_DIF <> 0 
                   OR @VALOR_FINANCEIRO_PADRAO_DIF <> 0 
              BEGIN 
                  IF @DEBITO_CREDITO_DIF <> 0 
                    BEGIN 
                        UPDATE A 
                        SET    DEBITO = DEBITO + CASE WHEN @DEBITO_CUR2 <> 0 THEN CASE WHEN @DEBITO_CUR2 < 0 THEN -0.01 ELSE 0.01 END ELSE 0.00 END,
                               CREDITO = CREDITO + CASE WHEN @CREDITO_CUR2 <> 0 THEN CASE WHEN @CREDITO_CUR2 < 0 THEN -0.01 ELSE 0.01 END ELSE 0.00 END
                        FROM   #LXI_CTB_LANCAMENTO_RATEIO_PRINCIPAL A (NOLOCK) 
                               JOIN (SELECT TOP 1 EMPRESA, 
                                                  LANCAMENTO, 
                                                  ITEM, 
                                                  CENTRO_CUSTO, 
                                                  COD_FILIAL 
                                     FROM   #LXI_CTB_LANCAMENTO_RATEIO_PRINCIPAL (NOLOCK) 
                                     WHERE  EMPRESA = @EMPRESA_CUR2 
                                            AND LANCAMENTO = @LANCAMENTO_CUR2 
                                            AND ITEM = @ITEM_CUR2 
                                            AND ( DEBITO + CREDITO > 0.01 )) B 
                                 ON A.EMPRESA = B.EMPRESA 
                                    AND A.LANCAMENTO = B.LANCAMENTO 
                                    AND A.ITEM = B.ITEM 
                                    AND A.CENTRO_CUSTO = B.CENTRO_CUSTO 
                                    AND A.COD_FILIAL = B.COD_FILIAL 

                        IF @DEBITO_CREDITO_DIF > 0 
                          SELECT @DEBITO_CREDITO_DIF = @DEBITO_CREDITO_DIF - 0.01 
                        ELSE 
                          SELECT @DEBITO_CREDITO_DIF = @DEBITO_CREDITO_DIF + 0.01 
                    END 

                  IF @DEBITO_CREDITO_MOEDA_DIF <> 0 
                    BEGIN 
                        UPDATE A 
                        SET    DEBITO_MOEDA = DEBITO_MOEDA + CASE WHEN @DEBITO_MOEDA_CUR2 <> 0 THEN CASE WHEN @DEBITO_MOEDA_CUR2 < 0 THEN -0.01 ELSE 0.01 END ELSE 0.00 END,
                               CREDITO_MOEDA = CREDITO_MOEDA + CASE WHEN @CREDITO_MOEDA_CUR2 <> 0 THEN CASE WHEN @CREDITO_MOEDA_CUR2 < 0 THEN -0.01 ELSE 0.01 END ELSE 0.00 END
                        FROM   #LXI_CTB_LANCAMENTO_RATEIO_PRINCIPAL A 
                               JOIN (SELECT TOP 1 EMPRESA, 
                                                  LANCAMENTO, 
                                                  ITEM, 
                                                  CENTRO_CUSTO, 
                                                  COD_FILIAL 
                                     FROM   #LXI_CTB_LANCAMENTO_RATEIO_PRINCIPAL (NOLOCK) 
                                     WHERE  EMPRESA = @EMPRESA_CUR2 
                                            AND LANCAMENTO = @LANCAMENTO_CUR2 
                                            AND ITEM = @ITEM_CUR2 
                                            AND ( DEBITO_MOEDA + CREDITO_MOEDA > 0.01 )) B 
                                 ON A.EMPRESA = B.EMPRESA 
                                    AND A.LANCAMENTO = B.LANCAMENTO 
                                    AND A.ITEM = B.ITEM 
                                    AND A.CENTRO_CUSTO = B.CENTRO_CUSTO 
                                    AND A.COD_FILIAL = B.COD_FILIAL 

                        IF @DEBITO_CREDITO_MOEDA_DIF > 0 
                          SELECT @DEBITO_CREDITO_MOEDA_DIF = @DEBITO_CREDITO_MOEDA_DIF - 0.01
                        ELSE 
                          SELECT @DEBITO_CREDITO_MOEDA_DIF = @DEBITO_CREDITO_MOEDA_DIF + 0.01
                    END 

                  IF @VALOR_FINANCEIRO_DIF <> 0 
                    BEGIN 
                        UPDATE A 
                        SET    VALOR_FINANCEIRO = VALOR_FINANCEIRO + CASE WHEN @VALOR_FINANCEIRO_DIF <> 0 THEN CASE WHEN @VALOR_FINANCEIRO_DIF < 0 THEN -0.01 ELSE 0.01 END ELSE 0.00 END
                        FROM   #LXI_CTB_LANCAMENTO_RATEIO_PRINCIPAL A (NOLOCK) 
                               JOIN (SELECT TOP 1 EMPRESA, 
                                                  LANCAMENTO, 
                                                  ITEM, 
                                                  CENTRO_CUSTO, 
                                                  COD_FILIAL 
                                     FROM   #LXI_CTB_LANCAMENTO_RATEIO_PRINCIPAL (NOLOCK) 
                                     WHERE  EMPRESA = @EMPRESA_CUR2 
                                            AND LANCAMENTO = @LANCAMENTO_CUR2 
                                            AND ITEM = @ITEM_CUR2 
                                            AND ( VALOR_FINANCEIRO > 0.01 )) B 
                                 ON A.EMPRESA = B.EMPRESA 
                                    AND A.LANCAMENTO = B.LANCAMENTO 
                                    AND A.ITEM = B.ITEM 
                                    AND A.CENTRO_CUSTO = B.CENTRO_CUSTO 
                                    AND A.COD_FILIAL = B.COD_FILIAL 

                        IF @VALOR_FINANCEIRO_DIF > 0 
                          SELECT @VALOR_FINANCEIRO_DIF = @VALOR_FINANCEIRO_DIF - 0.01 
                        ELSE 
                          SELECT @VALOR_FINANCEIRO_DIF = @VALOR_FINANCEIRO_DIF + 0.01 
                    END 

                  IF @VALOR_FINANCEIRO_PADRAO_DIF <> 0 
                    BEGIN 
                        UPDATE A 
                        SET    VALOR_FINANCEIRO_PADRAO = VALOR_FINANCEIRO + CASE WHEN @VALOR_FINANCEIRO_PADRAO_DIF <> 0 THEN CASE WHEN @VALOR_FINANCEIRO_PADRAO_DIF < 0 THEN -0.01 ELSE 0.01 END ELSE 0.00 END
                        FROM   #LXI_CTB_LANCAMENTO_RATEIO_PRINCIPAL A (NOLOCK) 
                               JOIN (SELECT TOP 1 EMPRESA, 
                                                  LANCAMENTO, 
                                                  ITEM, 
                                                  CENTRO_CUSTO, 
                                                  COD_FILIAL 
                                     FROM   #LXI_CTB_LANCAMENTO_RATEIO_PRINCIPAL (NOLOCK) 
                                     WHERE  EMPRESA = @EMPRESA_CUR2 
                                            AND LANCAMENTO = @LANCAMENTO_CUR2 
                                            AND ITEM = @ITEM_CUR2 
                                            AND ( VALOR_FINANCEIRO_PADRAO > 0.01 )) B 
                                 ON A.EMPRESA = B.EMPRESA 
                                    AND A.LANCAMENTO = B.LANCAMENTO 
                                    AND A.ITEM = B.ITEM 
                                    AND A.CENTRO_CUSTO = B.CENTRO_CUSTO 
                                    AND A.COD_FILIAL = B.COD_FILIAL 

                        IF @VALOR_FINANCEIRO_PADRAO_DIF > 0 
                          SELECT @VALOR_FINANCEIRO_PADRAO_DIF = @VALOR_FINANCEIRO_PADRAO_DIF - 0.01
                        ELSE 
                          SELECT @VALOR_FINANCEIRO_PADRAO_DIF = @VALOR_FINANCEIRO_PADRAO_DIF + 0.01
                    END 
              END 

            FETCH NEXT FROM CUR_DEFINE_LINHA INTO @EMPRESA_CUR2, @LANCAMENTO_CUR2, @ITEM_CUR2, @DEBITO_CUR2, @CREDITO_CUR2, @DEBITO_MOEDA_CUR2, @CREDITO_MOEDA_CUR2, @VALOR_FINANCEIRO_CUR2, @VALOR_FINANCEIRO_PADRAO_CUR2
        END 

      CLOSE CUR_DEFINE_LINHA 

      DEALLOCATE CUR_DEFINE_LINHA 

      INSERT CTB_LANCAMENTO_RATEIO 
             (EMPRESA, 
              LANCAMENTO, 
              ITEM, 
              COD_FILIAL, 
              CENTRO_CUSTO, 
              DEBITO, 
              CREDITO, 
              DEBITO_MOEDA, 
              CREDITO_MOEDA, 
              VALOR_FINANCEIRO, 
              VALOR_FINANCEIRO_PADRAO) 
      SELECT EMPRESA, 
             LANCAMENTO, 
             ITEM, 
             COD_FILIAL, 
             CENTRO_CUSTO, 
             ISNULL(DEBITO,0) AS DEBITO, 
             CREDITO, 
             ISNULL(DEBITO_MOEDA,0) AS  DEBITO_MOEDA,
             CREDITO_MOEDA, 
             ISNULL(VALOR_FINANCEIRO, 0),--#2#   
             ISNULL(VALOR_FINANCEIRO_PADRAO, 0) -- #2#   
      FROM   #LXI_CTB_LANCAMENTO_RATEIO_PRINCIPAL 

      DROP TABLE #LXI_CTB_LANCAMENTO_RATEIO_PRINCIPAL 

      DROP TABLE #LXI_CTB_LANCAMENTO_ITEM_DIF2 

      -- FIM NOVA   
      --FIM---------------------------ATUALIZAÇÃO DA TABELA DE RATEIO-----------------------------------------------   
      ----------------------------------------------------------------   
      -- GRAVA USUÁRIO QUE INSERIU O ITEM   
      UPDATE A 
      SET    DATA_MOV = GETDATE(), 
             USUARIO_MOV = SUBSTRING(RTRIM(LTRIM(@LXUSUARIO)) + ' # ' 
                                     + SUBSTRING(UPPER(RTRIM(HOST_NAME())), 1, 60), 1, 60) 
      FROM   CTB_LANCAMENTO_ITEM A 
             JOIN INSERTED B 
               ON A.EMPRESA = B.EMPRESA 
                  AND A.LANCAMENTO = B.LANCAMENTO 
                  AND A.ITEM = B.ITEM 
      WHERE  A.DATA_MOV IS NULL 
              OR A.USUARIO_MOV IS NULL 

      ----------------------------------------------------------------   
      --------LOG DE ATUALIZAÇÃO DO SALDO ANTERIOR -------------------------------------   
      INSERT CTB_LANCAMENTO_SALDO_LOG 
             (EMPRESA, 
              LX_TIPO, 
              DATA_LANCAMENTO, 
              TIPO_MOVIMENTO, 
              RATEIO_CENTRO_CUSTO, 
              RATEIO_FILIAL, 
              CENTRO_CUSTO, 
              COD_FILIAL, 
              ID_GRUPO_CENTRO_CUSTO, 
              INDICA_ENCERRAMENTO, 
              CONTA_CONTABIL, 
              CREDITO, 
              DEBITO, 
              COD_CLIFOR, 
              INDICA_ATUALIZANDO, 
              SALDO_MOEDA, 
              SALDO_VALOR_FINANCEIRO_PADRAO) 
      SELECT A.EMPRESA, 
             'I', 
             B.DATA_LANCAMENTO, 
             B.TIPO_MOVIMENTO, 
             A.RATEIO_CENTRO_CUSTO, 
             A.RATEIO_FILIAL, 
             C.CENTRO_CUSTO, 
             C.COD_FILIAL, 
             D.ID_GRUPO_CENTRO_CUSTO, 
             INDICA_ENCERRAMENTO = CASE 
                                     WHEN A.LX_TIPO_LANCAMENTO NOT IN ( 'LAD', 'LAC', 'ELD', 'ELC' ) THEN 0
                                     ELSE 1 
                                   END, 
             A.CONTA_CONTABIL, 
             SUM(C.CREDITO) AS CREDITO, 
             SUM(C.DEBITO)  AS DEBITO, 
             A.COD_CLIFOR, 
             0, 
             ( SUM(C.CREDITO_MOEDA) - SUM(C.DEBITO_MOEDA) ), 
             SUM(C.VALOR_FINANCEIRO_PADRAO) 
      FROM   INSERTED A 
             JOIN CTB_LANCAMENTO B (NOLOCK) 
               ON A.EMPRESA = B.EMPRESA 
                  AND A.LANCAMENTO = B.LANCAMENTO 
             JOIN CTB_LANCAMENTO_RATEIO C (NOLOCK) 
               ON A.EMPRESA = C.EMPRESA 
                  AND A.LANCAMENTO = C.LANCAMENTO 
                  AND A.ITEM = C.ITEM 
             JOIN CTB_CENTRO_CUSTO D (NOLOCK) 
               ON C.CENTRO_CUSTO = D.CENTRO_CUSTO 
      GROUP  BY A.EMPRESA, 
                B.DATA_LANCAMENTO, 
                B.TIPO_MOVIMENTO, 
                A.RATEIO_CENTRO_CUSTO, 
                A.RATEIO_FILIAL, 
                C.CENTRO_CUSTO, 
                C.COD_FILIAL, 
                D.ID_GRUPO_CENTRO_CUSTO, 
                CASE 
                  WHEN A.LX_TIPO_LANCAMENTO NOT IN ( 'LAD', 'LAC', 'ELD', 'ELC' ) THEN 0 
                  ELSE 1 
                END, 
                A.CONTA_CONTABIL, 
                COD_CLIFOR 

      --------FIM - LOG DE ATUALIZAÇÃO DO SALDO ANTERIOR -------------------------------   
      RETURN 

      ERROR: 

      IF ( CURSOR_STATUS('LOCAL', 'CUR_ORCAMENTO') >- 3 ) 
        BEGIN 
            CLOSE CUR_ORCAMENTO 

            DEALLOCATE CUR_ORCAMENTO 
        END 

      IF ( CURSOR_STATUS('LOCAL', 'CUR_VERIFICA_CONTA') >- 3 ) 
        BEGIN 
            CLOSE CUR_VERIFICA_CONTA 

            DEALLOCATE CUR_VERIFICA_CONTA 
        END 

      WHILE @@TRANCOUNT <> 0 
        ROLLBACK TRANSACTION 

      RAISERROR (@ERRMSG,16,1) 
  END