USE [portal_fornecedor]
GO
/****** Object:  StoredProcedure [dbo].[criaEscalaTransferidos]    Script Date: 01/06/2026 15:03:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER procedure [dbo].[criaEscalaTransferidos] as 

declare @v_passo char(3);
declare @pstatus_proc varchar(1000);
declare @pstatus varchar(1000);
declare @vescala_atual char(4);
declare @vloja_nova varchar(50);
declare @vid_funcionario int;
declare @vdata_atual date = getdate();
declare @dataInicioEscala date;
declare @vloja_antiga varchar(50);
declare @pidusuario int = 111;
declare @vultimoDiaMes int;
declare @v_dia_ultimo_dsr char(2);
declare @v_data_ultimo_dsr date;
declare @vescala_intermediaria varchar(4);
declare @vmatricula numeric(9); 
declare @vnome_loja_nova varchar(50);
--declare @currid_escala_atual	varchar (30);
--declare @currid_ultima_escala	varchar (30);
declare  @viterator int = 31 


begin     
 
   begin transaction    
   
   begin try 

	   set @v_passo = '1';   	 
	   
	   create table #tb_transferidos (id_funcionario int, matricula numeric(9),loja_antiga varchar(50),loja_nova varchar(50),nome_loja_nova varchar(100));

	   -- escalas posteriores a data de admissão
	   create table #tb_escalas (skmes_pst char(4), /*currid_pst varchar (30)*/);
	     

	   -- insere os colaboradores transferidos
	   set @v_passo = '2';       
       insert into #tb_transferidos
       select distinct cf.id_funcionario, tmp.matricula, cf.id_loja as loja_antiga, cl.id_filial as loja_nova,  cl.loja as nome_loja_nova
         from cgp_tmp_colaborador (nolock) tmp
             inner join cabine_funcionario(nolock)  cf on tmp.matricula = cf.matricula
			 /* Foi necessário criar uma filial fake para excluir as escalas dos funcionarios transferidos para matriz */
             inner join ( select distinct id_filial, id_loja_adp, loja from cabine_loja union  select 99999, 1, 'MATRIZ CAEDU') cl
			         on cast(tmp.codigo_estabelecimento as int) = cl.id_loja_adp
             --inner join cabine_loja(nolock)  cl on tmp.codigo_estabelecimento = cl.id_loja_adp					 
        where 1 = 1
          and cl.id_filial <> cf.id_loja
		  and cf.ativo = 1 
		  --and tmp.MATRICULA in (1201040)
		  and tmp.data_desligamento is null
		  
       
	   set @v_passo = '3';
	   select @dataInicioEscala =  cast (cast(year(getdate()) as varchar)+ '-' + 
	                               case when len (cast(month (getdate()-1) -1 as varchar)) < 2      
								            then '0' + cast((month (getdate()) -1) as varchar) 
										else cast(month (getdate())  as varchar) end  + '-21' as date)

       select @vescala_atual = case when cast(substring(convert(varchar,convert(date, getdate(), 103),5),1,2) as varchar) < '20'  then substring(replace(convert(varchar,convert(date,dateadd(month, -1, getdate()),103),5),'-',''),3, 8)
			                              else substring(replace(convert(varchar,convert(date,dateadd(month, -1, getdate()),103),5),'-',''),3,8) end 
			,@vultimoDiaMes = cast (substring (cast(dateadd(dd, -day(dateadd(m, 1, @dataInicioEscala)), dateadd(m, 1, @dataInicioEscala)) as varchar) , 9,2) as int)
       
	   
	   
	   set @viterator = @viterator - @vultimoDiaMes


	   if (select count(1) from #tb_transferidos  ) > 0  begin	      

	      set @v_passo = '4';     	  	  

		  while (select count(1) from #tb_transferidos) > 0 begin		  		  

		     set @v_passo = '5';			 

			 select top 1 @vid_funcionario = id_funcionario, @vmatricula = matricula, @vloja_antiga = loja_antiga, @vloja_nova = loja_nova, @vnome_loja_nova = nome_loja_nova
			   from #tb_transferidos;

			 -- Se foi transferido para matriz exclui o mesmo da escala futura e inativa o mesmo na cabine loja
   		     if (@vloja_nova = 99999) begin

			    set @v_passo = '6';
			 			     
				 delete from cabine_escala 
				  where id_funcionario = @vmatricula
					and rtrim(substring(skmes,3,4)) + substring(skmes, 1,2) > rtrim(substring(@vescala_atual,3,4)) + substring(@vescala_atual, 1,2)   
					and id_loja = @vloja_antiga;

                set @v_passo = '7';
				 update cabine_funcionario 
					set ativo = 0 
					   ,data = getdate() 
				  where id_funcionario = @vid_funcionario
					and id_loja = @vloja_antiga;

			 end
			 else begin

				 set @v_passo = '8';			     

				 --pega data do ultimo dsr para na loja antiga			 
				 set @v_data_ultimo_dsr = [dbo].[ultimoDsr] (@vescala_atual, @vloja_antiga,  @vmatricula)

				  -- inativa o colaborador na loja antiga
				 set @v_passo = '9'; 
				 update cabine_funcionario 
					set ativo = 0 
					   ,data = getdate() 
				  where id_funcionario = @vid_funcionario
					and id_loja = @vloja_antiga;

				 --deleta escala proximo mes para o colaborador transferido
				 delete from cabine_escala 
				  where id_funcionario = @vmatricula
					and rtrim(substring(skmes,3,4)) + substring(skmes, 1,2) > rtrim(substring(@vescala_atual,3,4)) + substring(@vescala_atual, 1,2)   
					and id_loja = @vloja_antiga;


               
 				 -- Se colaborador da loja nova em algum momento, o mesmo será reativado
				 set @v_passo = '10'; 	
				 if(select count(1) from cabine_funcionario(nolock)  where matricula = @vmatricula and id_loja = @vloja_nova) > 0 begin

					set @v_passo = '11'; 	
					update cabine_funcionario 
					   set ativo = 1  
						  ,data = getdate()
					 where matricula = @vmatricula
					   and id_loja = @vloja_nova
					   and ativo = 0;
				 end  					     
				 else
					-- insere na cabine_funcionario com novo id 
					begin
									
					   set @v_passo = '12'; 						     
  					   insert into cabine_funcionario (id_cargo, id_fprimaria, id_loja, loja, cpf, nome, matricula, ultimodsr, data, ativo)
					   select id_cargo, id_fprimaria, @vloja_nova, @vnome_loja_nova, cpf, nome,matricula, ultimodsr,  getdate(), 1 as ativo
						 from cabine_funcionario
						where matricula = @vmatricula						  		  		 
						  and id_loja = @vloja_antiga;				  		 
				 end 

				 --select top 1  @currid_escala_atual =  currid  from  [dbo].[cabine_escala] where id_loja = @vloja_nova and skmes = @vescala_atual order by skmes desc

				 set @v_passo = '13';
				 insert into #tb_escalas
				 select distinct skmes --, min(currid) 
				   from [dbo].[cabine_escala] 
				  where id_loja =  @vloja_nova 
					--and skmes > @vescala_atual 
					and rtrim(substring(skmes,3,4)) + substring(skmes, 1,2) > rtrim(substring(@vescala_atual,3,4)) + substring(@vescala_atual, 1,2)   
				  --group by skmes 

				 -- Se a loja possuir escalas posteriores a  data de admissao , cria as escalas para o novo colaborador		
				 if(select count(1) from #tb_escalas ) > 0  begin 	
				    set @v_passo = '14';			 					
					   
					while (select count(1) from #tb_escalas) > 0 begin
					set @v_passo = '15';

					   select top 1  @vescala_intermediaria = skmes_pst /*, @currid_ultima_escala = currid_pst */ from #tb_escalas 
   					   set @v_passo = '16';

					   insert into [dbo].[cabine_escala](id_funcionario,	   id_loja,                  skmes,	    status,        dia_01,        dia_02,                  dia_03,	   dia_04,	   dia_05,	   dia_06, 
			 	 	   											 dia_07,        dia_08,                 dia_09,    dia_10,        dia_11,        dia_12,                  dia_13,     dia_14,     dia_15,     dia_16, 
			    	       										 dia_17,        dia_18,                 dia_19,    dia_20,        dia_21,        dia_22,                  dia_23,     dia_24,     dia_25,     dia_26, 
						   										 dia_27,        dia_28,                 dia_29,    dia_30,        dia_31,    id_usuario,                 /* currid,*/   dtedicao,       data,  ultimodsr)
													 values(@vmatricula,   @vloja_nova, @vescala_intermediaria,         0,           'T',           'T',                     'T',        'T',        'T',        'T', 
							       									'T',           'T',                    'T',       'T',           'T',           'T',                     'T',        'T',        'T',        'T',
								    								'T',           'T',                    'T',       'T',           'T',           'T',                     'T',        'T',        'T',        'T',
									    							'T',           'T',                    'T',       'T',           'T',   @pidusuario,  /* @currid_ultima_escala,*/  getdate(),  getdate(),       null);

					  -- Popula os feriados da proxima escala
					   set @v_passo = '17';                            
					   exec [dbo].[prc_popula_feriado] @ploja = @vloja_nova                                                    
													  ,@pescala = @vescala_intermediaria
													  ,@vid_funcionario = @vmatricula
													  ,@pstatus = @pstatus_proc output

					   delete #tb_escalas where skmes_pst = @vescala_intermediaria 
                
					end
				 end

				 -- cria a escala para o mes atual
				 set @v_passo = '18';	
				 
				 insert into [dbo].[cabine_escala](id_funcionario,	     id_loja,          skmes,	 status,        dia_01,        dia_02,                dia_03,	  dia_04,	  dia_05,	           dia_06, 
			  				  							   dia_07,        dia_08,         dia_09,    dia_10,        dia_11,        dia_12,                dia_13,     dia_14,     dia_15,              dia_16, 
			    	        							   dia_17,        dia_18,         dia_19,    dia_20,        dia_21,        dia_22,                dia_23,     dia_24,     dia_25,              dia_26, 
						    							   dia_27,        dia_28,         dia_29,    dia_30,        dia_31,    id_usuario,                 dtedicao,       data,           ultimodsr)
											   values(@vmatricula,   @vloja_nova, @vescala_atual,         0,           'T',           'T',                   'T',        'T',        'T',                 'T', 
								    						  'T',          'T',             'T',       'T',           'T',           'T',                   'T',        'T',        'T',                 'T',
									    					  'T',          'T',             'T',       'T',           'T',           'T',                   'T',        'T',        'T',                 'T',
										    				  'T',          'T',             'T',       'T',           'T',   @pidusuario,    getdate(),  getdate(),  @v_data_ultimo_dsr);


				-- Popular feriados escala atual
				 set @v_passo = '19';				
				 exec [dbo].[prc_popula_feriado] @ploja = @vloja_nova					                        
												,@pescala = @vescala_atual
												,@vid_funcionario = @vmatricula
												,@pstatus = @pstatus_proc output 


					--atualiza a escala antiga
				 set @v_passo = '20';
				 update cabine_escala			   
					set dia_21 = case when @vdata_atual <= @dataInicioEscala then 'X' else dia_21 end			     
					   ,dia_22 = case when @vdata_atual <= dateadd(day, 1 ,  @dataInicioEscala) then 'X' else dia_22 end 
					   ,dia_23 = case when @vdata_atual <= dateadd(day, 2 ,  @dataInicioEscala) then 'X' else dia_23 end 
					   ,dia_24 = case when @vdata_atual <= dateadd(day, 3 ,  @dataInicioEscala) then 'X' else dia_24 end 
					   ,dia_25 = case when @vdata_atual <= dateadd(day, 4 ,  @dataInicioEscala) then 'X' else dia_25 end 
					   ,dia_26 = case when @vdata_atual <= dateadd(day, 5 ,  @dataInicioEscala) then 'X' else dia_26 end 
					   ,dia_27 = case when @vdata_atual <= dateadd(day, 6 ,  @dataInicioEscala) then 'X' else dia_27 end 
					   ,dia_28 = case when @vdata_atual <= dateadd(day, 7 ,  @dataInicioEscala) then 'X' else dia_28 end 
					   ,dia_29 = case when @vdata_atual <= dateadd(day, case when @viterator = 3 then 7 else 8 end ,  @dataInicioEscala) then 'X' else dia_29 end 
					   ,dia_30 = case when @vdata_atual <= dateadd(day, case when @viterator = 3 then 7 when @viterator = 2 then 8 else 9 end ,  @dataInicioEscala) then 'X' else dia_30 end 
					   ,dia_31 = case when @vdata_atual <= dateadd(day, case when @viterator = 3 then 7 when @viterator = 2 then 8 when @viterator = 1 then 9 else 10  end , @dataInicioEscala) then 'X' else dia_31 end 
					   ,dia_01 = case when @vdata_atual <= dateadd(day, 11 - @viterator, @dataInicioEscala) then 'X' else dia_01 end 
					   ,dia_02 = case when @vdata_atual <= dateadd(day, 12 - @viterator, @dataInicioEscala) then 'X' else dia_02 end 
					   ,dia_03 = case when @vdata_atual <= dateadd(day, 13 - @viterator, @dataInicioEscala) then 'X' else dia_03 end 
					   ,dia_04 = case when @vdata_atual <= dateadd(day, 14 - @viterator, @dataInicioEscala) then 'X' else dia_04 end 
					   ,dia_05 = case when @vdata_atual <= dateadd(day, 15 - @viterator, @dataInicioEscala) then 'X' else dia_05 end 
					   ,dia_06 = case when @vdata_atual <= dateadd(day, 16 - @viterator, @dataInicioEscala) then 'X' else dia_06 end 
					   ,dia_07 = case when @vdata_atual <= dateadd(day, 17 - @viterator, @dataInicioEscala) then 'X' else dia_07 end 
					   ,dia_08 = case when @vdata_atual <= dateadd(day, 18 - @viterator, @dataInicioEscala) then 'X' else dia_08 end 
					   ,dia_09 = case when @vdata_atual <= dateadd(day, 19 - @viterator, @dataInicioEscala) then 'X' else dia_09 end 
					   ,dia_10 = case when @vdata_atual <= dateadd(day, 20 - @viterator, @dataInicioEscala) then 'X' else dia_10 end 
					   ,dia_11 = case when @vdata_atual <= dateadd(day, 21 - @viterator, @dataInicioEscala) then 'X' else dia_11 end 
					   ,dia_12 = case when @vdata_atual <= dateadd(day, 22 - @viterator, @dataInicioEscala) then 'X' else dia_12 end 
					   ,dia_13 = case when @vdata_atual <= dateadd(day, 23 - @viterator, @dataInicioEscala) then 'X' else dia_13 end 
					   ,dia_14 = case when @vdata_atual <= dateadd(day, 24 - @viterator, @dataInicioEscala) then 'X' else dia_14 end 
					   ,dia_15 = case when @vdata_atual <= dateadd(day, 25 - @viterator, @dataInicioEscala) then 'X' else dia_15 end 
					   ,dia_16 = case when @vdata_atual <= dateadd(day, 26 - @viterator, @dataInicioEscala) then 'X' else dia_16 end 
					   ,dia_17 = case when @vdata_atual <= dateadd(day, 27 - @viterator, @dataInicioEscala) then 'X' else dia_17 end 
					   ,dia_18 = case when @vdata_atual <= dateadd(day, 28 - @viterator, @dataInicioEscala) then 'X' else dia_18 end 
					   ,dia_19 = case when @vdata_atual <= dateadd(day, 29 - @viterator, @dataInicioEscala) then 'X' else dia_19 end 
					   ,dia_20 = case when @vdata_atual <= dateadd(day, 30 - @viterator, @dataInicioEscala) then 'X' else dia_20 end 
				  where skmes = @vescala_atual
					and id_loja = @vloja_antiga				     
					and id_funcionario = @vmatricula;

						--atualiza a escala nova
				 set @v_passo = '21';
				 update cabine_escala
					set dia_21 = case when @vdata_atual > @dataInicioEscala then 'X' else dia_21 end			     
					   ,dia_22 = case when @vdata_atual > dateadd(day, 1 ,  @dataInicioEscala) then 'X' else dia_22 end 
					   ,dia_23 = case when @vdata_atual > dateadd(day, 2 ,  @dataInicioEscala) then 'X' else dia_23 end 
					   ,dia_24 = case when @vdata_atual > dateadd(day, 3 ,  @dataInicioEscala) then 'X' else dia_24 end 
					   ,dia_25 = case when @vdata_atual > dateadd(day, 4 ,  @dataInicioEscala) then 'X' else dia_25 end 
					   ,dia_26 = case when @vdata_atual > dateadd(day, 5 ,  @dataInicioEscala) then 'X' else dia_26 end 
					   ,dia_27 = case when @vdata_atual > dateadd(day, 6 ,  @dataInicioEscala) then 'X' else dia_27 end 
					   ,dia_28 = case when @vdata_atual > dateadd(day, 7 ,  @dataInicioEscala) then 'X' else dia_28 end 
					   ,dia_29 = case when @vdata_atual > dateadd(day, case when @viterator = 3 then 7 else 8 end, @dataInicioEscala) then 'X' else dia_29 end 
					   ,dia_30 = case when @vdata_atual > dateadd(day, case when @viterator = 3 then 7 when @viterator = 2 then 8 else 9 end,  @dataInicioEscala) then 'X' else dia_30 end 
					   ,dia_31 = case when @vdata_atual > dateadd(day, case when @viterator = 3 then 7 when @viterator = 2 then 8 when @viterator = 1 then 9 else 10  end, @dataInicioEscala) then 'X' else dia_31 end 
					   ,dia_01 = case when @vdata_atual > dateadd(day, 11 - @viterator, @dataInicioEscala) then 'X' else dia_01 end 
					   ,dia_02 = case when @vdata_atual > dateadd(day, 12 - @viterator, @dataInicioEscala) then 'X' else dia_02 end 
					   ,dia_03 = case when @vdata_atual > dateadd(day, 13 - @viterator, @dataInicioEscala) then 'X' else dia_03 end 
					   ,dia_04 = case when @vdata_atual > dateadd(day, 14 - @viterator, @dataInicioEscala) then 'X' else dia_04 end 
					   ,dia_05 = case when @vdata_atual > dateadd(day, 15 - @viterator, @dataInicioEscala) then 'X' else dia_05 end 
					   ,dia_06 = case when @vdata_atual > dateadd(day, 16 - @viterator, @dataInicioEscala) then 'X' else dia_06 end 
					   ,dia_07 = case when @vdata_atual > dateadd(day, 17 - @viterator, @dataInicioEscala) then 'X' else dia_07 end 
					   ,dia_08 = case when @vdata_atual > dateadd(day, 18 - @viterator, @dataInicioEscala) then 'X' else dia_08 end 
					   ,dia_09 = case when @vdata_atual > dateadd(day, 19 - @viterator, @dataInicioEscala) then 'X' else dia_09 end 
					   ,dia_10 = case when @vdata_atual > dateadd(day, 20 - @viterator, @dataInicioEscala) then 'X' else dia_10 end 
					   ,dia_11 = case when @vdata_atual > dateadd(day, 21 - @viterator, @dataInicioEscala) then 'X' else dia_11 end 
					   ,dia_12 = case when @vdata_atual > dateadd(day, 22 - @viterator, @dataInicioEscala) then 'X' else dia_12 end 
					   ,dia_13 = case when @vdata_atual > dateadd(day, 23 - @viterator, @dataInicioEscala) then 'X' else dia_13 end 
					   ,dia_14 = case when @vdata_atual > dateadd(day, 24 - @viterator, @dataInicioEscala) then 'X' else dia_14 end 
					   ,dia_15 = case when @vdata_atual > dateadd(day, 25 - @viterator, @dataInicioEscala) then 'X' else dia_15 end 
					   ,dia_16 = case when @vdata_atual > dateadd(day, 26 - @viterator, @dataInicioEscala) then 'X' else dia_16 end 
					   ,dia_17 = case when @vdata_atual > dateadd(day, 27 - @viterator, @dataInicioEscala) then 'X' else dia_17 end 
					   ,dia_18 = case when @vdata_atual > dateadd(day, 28 - @viterator, @dataInicioEscala) then 'X' else dia_18 end 
					   ,dia_19 = case when @vdata_atual > dateadd(day, 29 - @viterator, @dataInicioEscala) then 'X' else dia_19 end 
					   ,dia_20 = case when @vdata_atual > dateadd(day, 30 - @viterator , @dataInicioEscala) then 'X' else dia_20 end 			 			
				 where skmes = @vescala_atual
				   and id_loja = @vloja_nova					 
				   and id_funcionario = @vmatricula

			 end -- else	
			 		   			 
			 set @v_passo = '23';

			 delete from #tb_transferidos where id_funcionario = @vid_funcionario;	

		

	      end  -- while
	   end -- if
  commit transaction	
   end try
   begin catch
      set @pstatus = 'erro executando passo: --> ' + cast(@v_passo as varchar )+ cast(error_number()as varchar) +' '+   cast(error_message()as varchar);
	  select cast(@v_passo as varchar )+ cast(error_number()as varchar) +' '+   cast(error_message()as varchar);
	  
	  rollback transaction
   end catch
end




