USE [portal_fornecedor]
GO
/****** Object:  StoredProcedure [dbo].[criaEscalaNovosColaboradores]    Script Date: 01/06/2026 14:34:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


ALTER procedure [dbo].[criaEscalaNovosColaboradores] as

declare @vmatricula numeric(9); 
declare @vloja varchar(50);
declare @v_passo char(2);
declare @v_dia_ultimo_dsr char(2);
declare @v_data_ultimo_dsr date;
declare @vcpf varchar(50);
declare @vnome varchar(100);
declare @pidusuario int = 111;
declare @pstatus_proc varchar(2000);
declare @vmax_escala_loja_nova varchar(4);
declare @vescala_atual char(4);
declare @vescala_intermediaria char(4);
declare @vid_cargo int;
declare @vnome_loja varchar(50);
declare @dataInicioEscala date;
declare @dataAdmissao date;
declare @dataUltimoDsr date;
declare @viterator int = 31 
declare @vultimoDiaMes int;
--declare @currid_escala_atual varchar (30);
--declare @currid_ultima_escala varchar (30);
declare @qtdEscalaPosterior int;



begin       
   
   begin try 

      begin transaction    
                    
      set @v_passo = '1';    

      --drop table  #tb_novos_colab
      create table #tb_novos_colab (matricula numeric(9),loja varchar(50),nome_loja varchar(100), cpf varchar(15), nome varchar(100), id_cargo int, dataAdmissao date);

	  -- escalas posteriores a data de admissão
	  create table #tb_escalas (skmes_pst char(4));--, currid_pst varchar (30));

         -- insere os colaboradores novos
      set @v_passo = '2';      
	  insert into #tb_novos_colab
    --  select distinct a.matricula, b.id_filial as loja, b.loja as nome_loja, a.cpf, a.nome, a.codigo_funcao, a.data_admissao
    --    from cgp_tmp_colaborador (nolock) a
    --         inner join cabine_loja(nolock)  b on a.codigo_estabelecimento = b.id_loja_adp                              
    --         left join cabine_funcionario(nolock)  c on a.matricula = c.matricula 
    --   where 1 = 1
    --         and a.data_desligamento is null
    --         and a.codigo_centro_resultado = '002'
    --         and a.sigla_modo_ponto = 'BPTO'
    --         and a.sigla_afastamento not in ('DE', 'SC') 
			 --and a.CODIGO = '001'        
    --         --and a.matricula = 24330151
    --         and c.matricula is null			 
			 ----and a.data_admissao <= getdate();

    select distinct a.matricula, b.id_filial as loja, b.loja as nome_loja, a.cpf, a.nome, a.codigo_funcao 
                 , a.data_Admissao
		from cgp_tmp_colaborador (nolock) a 
			inner join cabine_loja(nolock)  b on cast(a.codigo_estabelecimento as int) = b.id_loja_adp 
			left join cabine_funcionario(nolock)  c on a.matricula = c.matricula and (cast(a.codigo_estabelecimento as int) = c.id_loja)
	where 1 = 1 
			--and a.data_desligamento is null 
			and a.codigo_centro_resultado = '002' 
			and a.sigla <> 'INTERM' 
			and a.situacao_sem_data in ('ATIVO', 'Férias', 'Atestado') 
			and a.nome_funcao not like 'GER %' 
			and a.nome_funcao not like 'SUP %' 
			and a.CODIGO = '001' 
			and a.CODIGO_ESTABELECIMENTO <> '001'
			and (c.matricula is null 
                or isnull(
                          (select MAX(cc.ativo) 
                             from cabine_funcionario(nolock) cc 
                       inner join cabine_loja(nolock)  bb on cc.id_loja = bb.id_loja_adp 
                            where c.matricula = cc.matricula and cc.id_loja = cast(a.codigo_estabelecimento as int) 
                          ),0) = 0
               )

      if (select count(1) from #tb_novos_colab  ) > 0 begin	                 

         while (select count(1) from #tb_novos_colab) > 0 begin           

            set @v_passo = '3';
            select top 1 
			       @vmatricula = matricula
			      ,@vloja = loja
				  ,@vnome_loja = nome_loja
				  ,@vcpf = cpf
				  ,@vnome = nome 
				  ,@vid_cargo = id_cargo
				  ,@dataAdmissao = dataAdmissao
              from #tb_novos_colab; 			   
     
               -- insere na cabine_funcionario 
            set @v_passo = '7'; 
			insert into cabine_funcionario(  id_cargo, id_fprimaria, id_loja,        loja,   cpf,   nome,    matricula, ultimodsr,      data, ativo)
                                    values(@vid_cargo,         null,  @vloja, @vnome_loja, @vcpf, @vnome,  @vmatricula,      null, getdate(),    1 );

                                          
            -- Verifica se a loja possui uma escala maior que a escala atual
            set @v_passo = '8';			   

			--Função que retorna valores de acordo com a data de admissão
			select @vescala_atual = escalavigente
			      ,@datainicioescala = datainicioescala
				  ,@vultimodiames = ultimodiames  
			 from [dbo].[getescala] (@dataadmissao)

			set @viterator = @viterator - @vultimoDiaMes     			     
			set @v_data_ultimo_dsr = dateadd(day, -1 ,  @dataAdmissao);               			

			insert into #tb_escalas
			select distinct skmes --, min(currid) 
			  from [dbo].[cabine_escala] 
			 where id_loja =  @vloja 
			   --and skmes   > @vescala_atual 
			   and rtrim(substring(skmes,3,4)) + substring(skmes, 1,2) > rtrim(substring(@vescala_atual,3,4)) + substring(@vescala_atual, 1,2)   
			 group by skmes 

            -- Se a loja possuir escalas posteriores a  data de admissao , cria as escalas para o novo colaborador		
			if(select count(1) from #tb_escalas ) > 0  begin 						   
			   while (select count(1) from #tb_escalas) > 0 begin

			      set @v_passo = '9';
			      select top 1  @vescala_intermediaria = skmes_pst /*, @currid_ultima_escala = currid_pst*/ from #tb_escalas 

                  set @v_passo = '10';
			      insert into [dbo].[cabine_escala](id_funcionario,       id_loja,                   skmes,    status,        dia_01,        dia_02,                 dia_03,     dia_04,     dia_05,     dia_06, 
                                                            dia_07,        dia_08,                  dia_09,    dia_10,        dia_11,        dia_12,                 dia_13,     dia_14,     dia_15,     dia_16, 
                                                            dia_17,        dia_18,                  dia_19,    dia_20,        dia_21,        dia_22,                 dia_23,     dia_24,     dia_25,     dia_26, 
                                                            dia_27,        dia_28,                  dia_29,    dia_30,        dia_31,    id_usuario,              /*   currid, */  dtedicao,       data,  ultimodsr)
                                                values(@vmatricula,        @vloja,  @vescala_intermediaria,         0,           'T',           'T',                    'T',        'T',        'T',        'T', 
                                                               'T',           'T',                     'T',       'T',           'T',           'T',                    'T',        'T',        'T',        'T',
                                                               'T',           'T',                     'T',       'T',           'T',           'T',                    'T',        'T',        'T',        'T',
                                                               'T',           'T',                     'T',       'T',           'T',   @pidusuario, /* @currid_ultima_escala, */ getdate(), getdate() ,       null);


                  -- Popula os feriados da proxima escala
                  set @v_passo = '13';                            
                  exec [dbo].[prc_popula_feriado] @ploja = @vloja                                                    
                                                 ,@pescala = @vescala_intermediaria
                                                 ,@vid_funcionario = @vmatricula
                                                 ,@pstatus = @pstatus_proc output

                  delete #tb_escalas where skmes_pst = @vescala_intermediaria 
  
               end
			   
			end
			

            -- insere a escala atual
            set @v_passo = '11';
			--select top 1 *  /*@currid_escala_atual =  currid */ from  [dbo].[cabine_escala] where id_loja = @vloja and skmes = @vescala_atual 
            insert into [dbo].[cabine_escala](id_funcionario,       id_loja,            skmes,    status,        dia_01,        dia_02,                dia_03,     dia_04,     dia_05,     dia_06, 
                                                      dia_07,        dia_08,           dia_09,    dia_10,        dia_11,        dia_12,                dia_13,     dia_14,     dia_15,     dia_16, 
                                                      dia_17,        dia_18,           dia_19,    dia_20,        dia_21,        dia_22,                dia_23,     dia_24,     dia_25,     dia_26, 
                                                      dia_27,        dia_28,           dia_29,    dia_30,        dia_31,    id_usuario,           /*     currid,*/   dtedicao,       data, ultimodsr)
                                          values(@vmatricula,        @vloja,   @vescala_atual,         0,           'T',           'T',                   'T',        'T',        'T',        'T', 
                                                         'T',           'T',              'T',       'T',           'T',           'T',                   'T',        'T',        'T',        'T',
                                                         'T',           'T',              'T',       'T',           'T',           'T',                   'T',        'T',        'T',        'T',
                                                         'T',           'T',              'T',       'T',           'T',   @pidusuario,  /*@currid_escala_atual, */ getdate(),  getdate(), @v_data_ultimo_dsr);

            -- Popula os feriados escala atual
            set @v_passo = '12';			
            exec [dbo].[prc_popula_feriado] @ploja = @vloja                                                        
                                           ,@pescala = @vescala_atual
                                           ,@vid_funcionario = @vmatricula
                                           ,@pstatus = @pstatus_proc output

        

          --atualiza com X os dias anteriores
            set @v_passo = '14';                          		      
            update cabine_escala                      			   
               set dia_21 = case when @dataAdmissao > @dataInicioEscala then 'X' else dia_21 end                      
                  ,dia_22 = case when @dataAdmissao > dateadd(day, 1 ,  @dataInicioEscala) then 'X' else dia_22 end 
                  ,dia_23 = case when @dataAdmissao > dateadd(day, 2 ,  @dataInicioEscala) then 'X' else dia_23 end 
                  ,dia_24 = case when @dataAdmissao > dateadd(day, 3 ,  @dataInicioEscala) then 'X' else dia_24 end 
                  ,dia_25 = case when @dataAdmissao > dateadd(day, 4 ,  @dataInicioEscala) then 'X' else dia_25 end 
                  ,dia_26 = case when @dataAdmissao > dateadd(day, 5 ,  @dataInicioEscala) then 'X' else dia_26 end 
                  ,dia_27 = case when @dataAdmissao > dateadd(day, 6 ,  @dataInicioEscala) then 'X' else dia_27 end 
                  ,dia_28 = case when @dataAdmissao > dateadd(day, 7 ,  @dataInicioEscala) then 'X' else dia_28 end 
                  ,dia_29 = case when @dataAdmissao > dateadd(day, case when @viterator = 3 then 7 else 8 end ,  @dataInicioEscala) then 'X' else dia_29 end 
                  ,dia_30 = case when @dataAdmissao > dateadd(day, case when @viterator = 3 then 7 when @viterator = 2 then 8 else 9 end  ,  @dataInicioEscala) then 'X' else dia_30 end 
                  ,dia_31 = case when @dataAdmissao > dateadd(day, case when @viterator = 3 then 7 when @viterator = 2 then 8 when @viterator = 1 then 9 else 10  end , @dataInicioEscala) then 'X' else dia_31 end 
                  ,dia_01 = case when @dataAdmissao > dateadd(day, 11 - @viterator, @dataInicioEscala) then 'X' else dia_01 end 
                  ,dia_02 = case when @dataAdmissao > dateadd(day, 12 - @viterator, @dataInicioEscala) then 'X' else dia_02 end 
                  ,dia_03 = case when @dataAdmissao > dateadd(day, 13 - @viterator, @dataInicioEscala) then 'X' else dia_03 end 
                  ,dia_04 = case when @dataAdmissao > dateadd(day, 14 - @viterator, @dataInicioEscala) then 'X' else dia_04 end 
                  ,dia_05 = case when @dataAdmissao > dateadd(day, 15 - @viterator, @dataInicioEscala) then 'X' else dia_05 end 
                  ,dia_06 = case when @dataAdmissao > dateadd(day, 16 - @viterator, @dataInicioEscala) then 'X' else dia_06 end 
                  ,dia_07 = case when @dataAdmissao > dateadd(day, 17 - @viterator, @dataInicioEscala) then 'X' else dia_07 end 
                  ,dia_08 = case when @dataAdmissao > dateadd(day, 18 - @viterator, @dataInicioEscala) then 'X' else dia_08 end 
                  ,dia_09 = case when @dataAdmissao > dateadd(day, 19 - @viterator, @dataInicioEscala) then 'X' else dia_09 end 
                  ,dia_10 = case when @dataAdmissao > dateadd(day, 20 - @viterator, @dataInicioEscala) then 'X' else dia_10 end 
                  ,dia_11 = case when @dataAdmissao > dateadd(day, 21 - @viterator, @dataInicioEscala) then 'X' else dia_11 end 
                  ,dia_12 = case when @dataAdmissao > dateadd(day, 22 - @viterator, @dataInicioEscala) then 'X' else dia_12 end 
                  ,dia_13 = case when @dataAdmissao > dateadd(day, 23 - @viterator, @dataInicioEscala) then 'X' else dia_13 end 
                  ,dia_14 = case when @dataAdmissao > dateadd(day, 24 - @viterator, @dataInicioEscala) then 'X' else dia_14 end 
                  ,dia_15 = case when @dataAdmissao > dateadd(day, 25 - @viterator, @dataInicioEscala) then 'X' else dia_15 end 
                  ,dia_16 = case when @dataAdmissao > dateadd(day, 26 - @viterator, @dataInicioEscala) then 'X' else dia_16 end 
                  ,dia_17 = case when @dataAdmissao > dateadd(day, 27 - @viterator, @dataInicioEscala) then 'X' else dia_17 end 							
                  ,dia_18 = case when @dataAdmissao > dateadd(day, 28 - @viterator, @dataInicioEscala) then 'X' else dia_18 end 
                  ,dia_19 = case when @dataAdmissao > dateadd(day, 29 - @viterator, @dataInicioEscala) then 'X' else dia_19 end 
                  ,dia_20 = case when @dataAdmissao > dateadd(day, 30 - @viterator, @dataInicioEscala) then 'X' else dia_20 end 
               where skmes = @vescala_atual
                 and id_loja = @vloja
                 and id_funcionario = @vmatricula;      
               
                            
            set @v_passo = '15';
            delete from #tb_novos_colab where matricula = @vmatricula;                       
			   
         end -- end while
      end -- end if
        commit transaction 
   end try 
      
   begin catch            
      set @pstatus_proc = 'erro executando passo: --> ' + cast(@v_passo as varchar ) +' - '+  cast(error_number()as varchar) +' '+   cast(error_message()as varchar);   
         rollback transaction       
   end catch
end


