USE [CAEDU]
GO
/****** Object:  StoredProcedure [dbo].[LX_CAEDU_FATURAMENTO_CABIDES]    Script Date: 26/07/2018 08:57:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[LX_CAEDU_FATURAMENTO_CABIDES]
AS
BEGIN 
	
	DECLARE @FILA_NFE INT
	SELECT @FILA_NFE = case VALOR_ATUAL when 1 then 1 else -1 end
	FROM PARAMETROS WHERE PARAMETRO = 'MENSAGERIA_SAIDA_CABIDE'
	
	DECLARE @ERRMSG varchar(400)
	SET NOCOUNT ON

	-- verificar se existe e dropar #tmpfaturamento e #tmpfaturamento_item
	IF OBJECT_ID('TempDB.dbo.#TMPFATURAMENTO') IS NOT NULL
	BEGIN
		DROP TABLE #TMPFATURAMENTO
	END 

	IF OBJECT_ID('TempDB.dbo.#TMPFATURAMENTO_ITEM') IS NOT NULL
	BEGIN
		DROP TABLE #TMPFATURAMENTO_ITEM
	END 

	IF OBJECT_ID('TempDB.dbo.#tmpCabides') IS NOT NULL
	BEGIN
		DROP TABLE #tmpCabides
	END 
	
	IF OBJECT_ID('TempDB.dbo.#CHAVE_NFE') IS NOT NULL
	BEGIN
		DROP TABLE #CHAVE_NFE
	end

	CREATE TABLE [dbo].[#CHAVE_NFE]([CHAVE_NFE] [varchar](44) NULL)

	DELETE #CHAVE_NFE

	-- criar tabela #tmpfaturamento e #tmpfaturamento_item
	SELECT *, convert(varchar(15),null) as NF_ORIGEM, 0 AS TIPO_ORIGEM INTO #TMPFATURAMENTO FROM FATURAMENTO (NOLOCK)WHERE 1 = 0

	SELECT *, convert(varchar(15),null) as NF_ORIGEM INTO #TMPFATURAMENTO_ITEM FROM FATURAMENTO_ITEM (NOLOCK)WHERE 1 = 0 

	-- buscar parametros
	DECLARE @CABILOG_NATUREZA_ORIGEM varchar(7),
			@CABILOG_FILIAL_MATRIZ   varchar(25),
			@CABILOG_NATUREZA_SAIDA  varchar(7),
			@CABILOG_ITEM_CABIDEA43  varchar(50),
			@CABILOG_ITEM_CABIDEA38  varchar(50),
			@CABILOG_ITEM_CABIDEA33  varchar(50),
			@CABILOG_ITEM_CABIDEM26  varchar(50),
			@CABILOG_ITEM_CABIDEM35  varchar(50),
			@CABILOG_ITEM_BOLACHA    varchar(50),
			@CABILOG_ITEM_CX_BOLACHA varchar(50),
			@CABILOG_ITEM_CX_CABIDE  varchar(50),
			@CABILOG_ITEM_CX_PINO	 varchar(50),
			@SERIE_NF_PADRAO		 varchar(50),
			@TRANSPORTADORA_PADRAO	 varchar(50),
			@MOEDA_PADRAO			 varchar(50)

	SELECT @CABILOG_NATUREZA_ORIGEM = VALOR_ATUAL FROM PARAMETROS WHERE PARAMETRO = 'CABILOG_NATUREZA_ORIGEM'
	SELECT @CABILOG_FILIAL_MATRIZ	= VALOR_ATUAL FROM PARAMETROS WHERE PARAMETRO = 'CABILOG_FILIAL_MATRIZ'
	SELECT @CABILOG_NATUREZA_SAIDA	= VALOR_ATUAL FROM PARAMETROS WHERE PARAMETRO = 'CABILOG_NATUREZA_SAIDA'
	SELECT @CABILOG_ITEM_CABIDEA43	= VALOR_ATUAL FROM PARAMETROS WHERE PARAMETRO = 'CABILOG_ITEM_CABIDEA43'
	SELECT @CABILOG_ITEM_CABIDEA38	= VALOR_ATUAL FROM PARAMETROS WHERE PARAMETRO = 'CABILOG_ITEM_CABIDEA38'
	SELECT @CABILOG_ITEM_CABIDEA33	= VALOR_ATUAL FROM PARAMETROS WHERE PARAMETRO = 'CABILOG_ITEM_CABIDEA33'
	SELECT @CABILOG_ITEM_CABIDEM26	= VALOR_ATUAL FROM PARAMETROS WHERE PARAMETRO = 'CABILOG_ITEM_CABIDEM26'
	SELECT @CABILOG_ITEM_CABIDEM35	= VALOR_ATUAL FROM PARAMETROS WHERE PARAMETRO = 'CABILOG_ITEM_CABIDEM35'
	SELECT @CABILOG_ITEM_BOLACHA	= VALOR_ATUAL FROM PARAMETROS WHERE PARAMETRO = 'CABILOG_ITEM_BOLACHA'
	SELECT @CABILOG_ITEM_CX_BOLACHA = VALOR_ATUAL FROM PARAMETROS WHERE PARAMETRO = 'CABILOG_ITEM_CX_BOLACHA '
	SELECT @CABILOG_ITEM_CX_CABIDE	= VALOR_ATUAL FROM PARAMETROS WHERE PARAMETRO = 'CABILOG_ITEM_CX_CABIDE'
	SELECT @CABILOG_ITEM_CX_PINO	= VALOR_ATUAL FROM PARAMETROS WHERE PARAMETRO = 'CABILOG_ITEM_CX_PINO'

	SELECT @SERIE_NF_PADRAO = VALOR_ATUAL FROM PARAMETROS WHERE PARAMETRO = 'SERIE_NF_PADRAO'
	SELECT @TRANSPORTADORA_PADRAO = VALOR_ATUAL FROM PARAMETROS WHERE PARAMETRO = 'TRANSPORTADORA_PADRAO'
	SELECT @MOEDA_PADRAO = VALOR_ATUAL FROM PARAMETROS WHERE PARAMETRO = 'MOEDA_PADRAO'

	-- verificar CAEDU_FATURAMENTO_CABIDES para gerar capa
	INSERT #TMPFATURAMENTO
	SELECT B.*, B.NF_SAIDA,1 /*TIPO_ORIGEM = 1 faturamento*/
	FROM CAEDU_FATURAMENTO_CABIDES A
	JOIN FATURAMENTO B ON A.FILIAL = B.FILIAL AND A.NF_SAIDA = B.NF_SAIDA AND A.SERIE_NF = B.SERIE_NF 
	WHERE ISNULL(GERADO_FATURAMENTO,0) = 0

	-- verificar requisições
	INSERT #TMPFATURAMENTO (FILIAL,
							NF_SAIDA,
							SERIE_NF,
							TIPO_FATURAMENTO,
							NOME_CLIFOR,
							CONDICAO_PGTO,
							COD_TRANSACAO,
							NATUREZA_SAIDA,
							TRANSPORTADORA,
							TRANSP_REDESPACHO,
							TIPO_FRETE,
							EMISSAO,
							DATA_SAIDA,
							VALOR_TOTAL,
							QTDE_TOTAL,
							NF_FATURA,
							NOTA_IMPRESSA,
							TABELA_FILHA,
							REPRESENTANTE,
							MOEDA,
							NOME_CLIFOR_ENTREGA,
							EMPRESA,NF_ORIGEM,TIPO_ORIGEM,
							ACERTO_CONTAS_P_R,CONFERIDO,IRRF_RET_FONTE,NOTA_CANCELADA, DEVOLUCAO, COBRAR_MOEDA_PADRAO, MULTI_DESCONTO_ACUMULAR,
							PORC_DESCONTO_DIGITADO, INDICA_CONSUMIDOR_FINAL, NOTA_COMPLEMENTAR, GERAR_AUTOMATICO, PRIORIZACAO, INDICA_PRESENCA_COMPRADOR)

	SELECT A.FILIAL,
			'R'+convert(varchar(10),A.REQUISICAO) as NF_SAIDA,
			@SERIE_NF_PADRAO as SERIE_NF,
			'TRANSFERENCIA' as TIPO_FATURAMENTO,
			C.FILIAL as NOME_CLIFOR,
			'001' as CONDICAO_PGTO,
			'FATURAMENTO_023' as COD_TRANSACAO,
			@CABILOG_NATUREZA_SAIDA as NATUREZA_SAIDA,
			@TRANSPORTADORA_PADRAO,
			@TRANSPORTADORA_PADRAO,
			1 as TIPO_FRETE,
			CONVERT(VARCHAR(10),GETDATE(),112) as EMISSAO,
			CONVERT(VARCHAR(10),GETDATE(),112) as DATA_SAIDA,
			0 as VALOR_TOTAL,
			0 as QTDE_TOTAL,
			0 as NF_FATURA,
			0 as NOTA_IMPRESSA,
			'FATURAMENTO_ITEM' as TABELA_FILHA,
			B.FILIAL as REPRESENTANTE,
			@MOEDA_PADRAO as MOEDA,
			B.FILIAL as NOME_CLIFOR_ENTREGA,
			0 as EMPRESA, A.REQUISICAO, 2 AS TIPO_ORIGEM, 
			0 as ACERTO_CONTAS_P_R,0 as CONFERIDO, 0 as IRRF_RET_FONTE, 0 as NOTA_CANCELADA, 0 as DEVOLUCAO, 0 as COBRAR_MOEDA_PADRAO, 0 as MULTI_DESCONTO_ACUMULAR, 
			0 as PORC_DESCONTO_DIGITADO, 0 as INDICA_CONSUMIDOR_FINA, 0 as NOTA_COMPLEMENTAR, 0 as GERAR_AUTOMATICO, 0 as PRIORIZACAO, 0 as INDICA_PRESENCA_COMPRADOR
	FROM CAEDU_FATURAMENTO_CABIDES A
	JOIN CAEDU_REQUISICAO_CABILOG B on A.REQUISICAO = b.REQ 
	JOIN FILIAIS C on b.cod_filial = c.cod_filial
	WHERE A.GERADO_FATURAMENTO = 0

	UPDATE #TMPFATURAMENTO SET COD_TRANSACAO = 'FATURAMENTO_023', FATURA = NULL, TABELA_FILHA = 'FATURAMENTO_ITEM', NOTA_IMPRESSA = 0,
							OBS_TRANSPORTE = NULL, CTB_ITEM = NULL, CTB_LANCAMENTO = NULL, VEICULO_PLACA = NULL, UF_PLACA_VEICULO = NULL, MARCA_VOLUMES = NULL,
							INDICA_PRESENCA_COMPRADOR = 0, TIPO_FRETE = '01',
							NATUREZA_SAIDA = @CABILOG_NATUREZA_SAIDA, EMISSAO = CONVERT(VARCHAR(10),GETDATE(),112), DATA_SAIDA = CONVERT(VARCHAR(10),GETDATE(),112),
							PROTOCOLO_AUTORIZACAO_NFE = NULL, CHAVE_NFE = NULL, DATA_AUTORIZACAO_NFE = NULL, DATA_HORA_EMISSAO = getdate(),
							DATA_PARA_TRANSFERENCIA = getdate()
	
	UPDATE #TMPFATURAMENTO SET	ENTREGA_CIF = 0, CAMBIO_NA_DATA = 1, COBRAR_MOEDA_PADRAO = 1, GERENTE= NOME_CLIFOR, REPRESENTANTE= NOME_CLIFOR, NOME_CLIFOR_ENTREGA = NOME_CLIFOR,
								TIPO_EMISSAO_NFE = 1,FIN_EMISSAO_NFE = 1,REGISTRO_DPEC = 0,DATA_REGISTRO_DPEC = '19000101', EMPRESA = 1
	WHERE TIPO_ORIGEM = 2

	-- verificar CAEDU_FATURAMENTO_CABIDES para gerar itens
	SELECT FILIAL, NF_SAIDA, SERIE_NF, SUM(BOLACHAS) AS BOLACHAS, ERP_CAB_COD_CABIDE, SUM(QTDE) as QTDE
	into #tmpCabides
	FROM (
			SELECT A.FILIAL, A.NF_SAIDA, A.SERIE_NF, B.PRODUTO, B.COR_PRODUTO, B.QTDE,
					MAX(CASE WHEN D.ERP_CAB_COD_CABIDE <> '' AND D.ERP_CAB_OPCAO IN (2,4) THEN 1+ DBO.LX_OCCURS('+',D.ERP_CAB_COD_CABIDE) ELSE 0 END) AS CABIDES, 
					MAX(CASE WHEN ERP_CAB_OPCAO IN (3,4) THEN  
							CASE WHEN CASE WHEN P.VARIA_PRECO_COR = 1 THEN F.PRECO1 ELSE E.PRECO1 END  >= 80 THEN 2 
								WHEN CASE WHEN P.VARIA_PRECO_COR = 1 THEN F.PRECO1 ELSE E.PRECO1 END  BETWEEN 15 AND 79.99 THEN 1 
								ELSE 0 END 
						ELSE 0 END) * B.QTDE AS BOLACHAS , D.ERP_CAB_COD_CABIDE 
			FROM #TMPFATURAMENTO A
			JOIN FATURAMENTO_PROD B ON A.FILIAL = B.FILIAL AND A.NF_SAIDA = B.NF_SAIDA AND A.SERIE_NF = B.SERIE_NF 
			JOIN COMPRAS_PRODUTO C ON B.PRODUTO = C.PRODUTO AND B.COR_PRODUTO = C.COR_PRODUTO 
			JOIN COMPRAS D ON C.PEDIDO = D.PEDIDO
			JOIN PRODUTOS P ON B.PRODUTO = P.PRODUTO
			LEFT JOIN PRODUTOS_PRECOS E (NOLOCK) ON B.PRODUTO = E.PRODUTO AND E.CODIGO_TAB_PRECO = '01' 
			LEFT JOIN PRODUTOS_PRECO_COR F (NOLOCK)ON B.PRODUTO = F.PRODUTO AND B.COR_PRODUTO = F.COR_PRODUTO AND F.CODIGO_TAB_PRECO = '01' 
			WHERE D.ERP_CAB_OPCAO  > 1 
			GROUP BY A.FILIAL, A.NF_SAIDA, A.SERIE_NF, B.PRODUTO, B.COR_PRODUTO, D.ERP_CAB_COD_CABIDE,B.QTDE ) B 
	group by FILIAL, NF_SAIDA, SERIE_NF, ERP_CAB_COD_CABIDE


	insert #TMPFATURAMENTO_ITEM (CLASSIF_FISCAL,
								CODIGO_FISCAL_OPERACAO,
								CODIGO_ITEM,
								COD_TABELA_FILHA,
								CONTA_CONTABIL,
								DESCRICAO_ITEM,
								FAIXA,
								FILIAL,
								ID_EXCECAO_IMPOSTO,
								INDICADOR_CFOP,
								ITEM_IMPRESSAO,
								MPADRAO_PRECO_UNITARIO,
								MPADRAO_VALOR_ITEM,
								NF_SAIDA,
								PORCENTAGEM_ITEM_RATEIO,
								PRECO_UNITARIO,
								QTDE_ITEM,
								SERIE_NF,
								TRIBUT_ICMS,
								TRIBUT_ORIGEM,
								UNIDADE,
								VALOR_ITEM,
								ITEM_NFE,
								ORIGEM_ITEM,
								PRECO_UNITARIO_ORIGINAL,
								NF_ORIGEM,
								SUB_ITEM_TAMANHO,NAO_SOMA_VALOR,INDICA_PRODUTO_PROCESSO,VALOR_IMPOSTO_ITEM_MUNICIPAL,VALOR_IMPOSTO_ITEM_ESTADUAL)
	SELECT B.CLASSIF_FISCAL,
			CASE WHEN D.PAIS <> E.PAIS THEN H.CODIGO_FISCAL_EXTERIOR ELSE
				CASE WHEN D.UF <> E.UF THEN H.CODIGO_FISCAL_INTERESTADUAL ELSE H.CODIGO_FISCAL_OPERACAO END END AS CODIGO_FISCAL_OPERACAO,
			A.CODIGO_ITEM,
			'C' AS COD_TABELA_FILHA,
			B.CONTA_CONTABIL,
			B.ITEM_DESCRICAO AS DESCRICAO_ITEM,
			1 AS FAIXA,
			A.FILIAL,
			DBO.FX_ID_EXCECAO_IMPOSTO(N.CTB_TIPO_OPERACAO,D.CLIFOR,B.INDICADOR_CFOP,'S',G.MATRIZ_FISCAL,E.NOME_CLIFOR,CONVERT(VARCHAR(10),GETDATE(),112),ISNULL(B.TRIBUT_ORIGEM, '0'),
				CASE WHEN D.PAIS <> E.PAIS THEN H.CODIGO_FISCAL_EXTERIOR ELSE
							CASE WHEN D.UF <> E.UF THEN H.CODIGO_FISCAL_INTERESTADUAL ELSE H.CODIGO_FISCAL_OPERACAO END END,
							NULL,D.NOME_CLIFOR,	'I',N.NATUREZA_SAIDA,E.CLIFOR) as ID_EXCECAO_IMPOSTO,
			B.INDICADOR_CFOP,
			right('0000'+ltrim(convert(varchar(4),ROW_NUMBER() OVER (PARTITION BY A.FILIAL, A.NF_SAIDA, A.SERIE_NF order by A.CODIGO_ITEM))),4) as ITEM_IMPRESSAO,
			B.PRECO_UNITARIO AS MPADRAO_PRECO_UNITARIO,
			A.QTDE*B.PRECO_UNITARIO AS MPADRAO_VALOR_ITEM,
			A.NF_SAIDA,
			0 as PORCENTAGEM_ITEM_RATEIO,
			PRECO_UNITARIO,
			A.QTDE AS QTDE_ITEM,
			A.SERIE_NF,
			' ' as TRIBUT_ICMS,
			B.TRIBUT_ORIGEM,
			UNIDADE,
			A.QTDE*B.PRECO_UNITARIO AS VALOR_ITEM,
			ROW_NUMBER() OVER (PARTITION BY A.FILIAL, A.NF_SAIDA, A.SERIE_NF order by A.CODIGO_ITEM) as ITEM_NFE,
			'I' as ORIGEM_ITEM,
			B.PRECO_UNITARIO AS PRECO_UNITARIO_ORIGINAL, 
			A.NF_SAIDA as NF_ORIGEM,
			0 as SUB_ITEM_TAMANHO,0 as NAO_SOMA_VALOR, 0 as INDICA_PRODUTO_PROCESSO,0 as VALOR_IMPOSTO_ITEM_MUNICIPAL, 0 as VALOR_IMPOSTO_ITEM_ESTADUAL
	FROM (
		SELECT B.FILIAL, B.NF_SAIDA, B.SERIE_NF, A.CODIGO_ITEM , sum(B.QTDE) as QTDE
		FROM CADASTRO_ITEM_FISCAL A JOIN #tmpCabides b on B.ERP_CAB_COD_CABIDE like '%A43%'
		where CODIGO_ITEM = @CABILOG_ITEM_CABIDEA43	group by B.FILIAL, B.NF_SAIDA, B.SERIE_NF, A.CODIGO_ITEM 
		union all
		SELECT B.FILIAL, B.NF_SAIDA, B.SERIE_NF, A.CODIGO_ITEM , sum(B.QTDE) as QTDE
		FROM CADASTRO_ITEM_FISCAL A JOIN #tmpCabides b on B.ERP_CAB_COD_CABIDE like '%A38%'
		where CODIGO_ITEM = @CABILOG_ITEM_CABIDEA38	group by B.FILIAL, B.NF_SAIDA, B.SERIE_NF, A.CODIGO_ITEM 
		union all
		SELECT B.FILIAL, B.NF_SAIDA, B.SERIE_NF, A.CODIGO_ITEM , sum(B.QTDE) as QTDE
		FROM CADASTRO_ITEM_FISCAL A JOIN #tmpCabides b on B.ERP_CAB_COD_CABIDE like '%A33%'
		where CODIGO_ITEM = @CABILOG_ITEM_CABIDEA33	group by B.FILIAL, B.NF_SAIDA, B.SERIE_NF, A.CODIGO_ITEM 
		union all
		SELECT B.FILIAL, B.NF_SAIDA, B.SERIE_NF, A.CODIGO_ITEM , sum(B.QTDE) as QTDE
		FROM CADASTRO_ITEM_FISCAL A JOIN #tmpCabides b on B.ERP_CAB_COD_CABIDE like '%M26%'
		where CODIGO_ITEM = @CABILOG_ITEM_CABIDEM26	group by B.FILIAL, B.NF_SAIDA, B.SERIE_NF, A.CODIGO_ITEM 
		union all
		SELECT B.FILIAL, B.NF_SAIDA, B.SERIE_NF, A.CODIGO_ITEM , sum(B.QTDE) as QTDE
		FROM CADASTRO_ITEM_FISCAL A JOIN #tmpCabides b on B.ERP_CAB_COD_CABIDE like '%M35%'
		where CODIGO_ITEM = @CABILOG_ITEM_CABIDEM35	group by B.FILIAL, B.NF_SAIDA, B.SERIE_NF, A.CODIGO_ITEM 
		union all
		SELECT B.FILIAL, B.NF_SAIDA, B.SERIE_NF, A.CODIGO_ITEM , sum(B.BOLACHAS) as QTDE
		FROM CADASTRO_ITEM_FISCAL A JOIN #tmpCabides b on B.BOLACHAS > 0
		where CODIGO_ITEM = @CABILOG_ITEM_BOLACHA	group by B.FILIAL, B.NF_SAIDA, B.SERIE_NF, A.CODIGO_ITEM 
		union all
		select B.FILIAL, B.NF_SAIDA, B.SERIE_NF, A.CODIGO_ITEM ,CABIDESA43 as QTDE
		from CADASTRO_ITEM_FISCAL A JOIN #TMPFATURAMENTO B ON B.TIPO_ORIGEM = 2 JOIN CAEDU_REQUISICAO_CABILOG C on B.NF_ORIGEM = C.REQ AND C.CABIDESA43 > 0
		where a.CODIGO_ITEM = @CABILOG_ITEM_CABIDEA43
		union all
		select B.FILIAL, B.NF_SAIDA, B.SERIE_NF, A.CODIGO_ITEM ,CABIDESA43 as QTDE
		from CADASTRO_ITEM_FISCAL A JOIN #TMPFATURAMENTO B ON B.TIPO_ORIGEM = 2 JOIN CAEDU_REQUISICAO_CABILOG C on B.NF_ORIGEM = C.REQ AND C.CABIDESA38 > 0
		where a.CODIGO_ITEM = @CABILOG_ITEM_CABIDEA38
		union all
		select B.FILIAL, B.NF_SAIDA, B.SERIE_NF, A.CODIGO_ITEM ,CABIDESA43 as QTDE
		from CADASTRO_ITEM_FISCAL A JOIN #TMPFATURAMENTO B ON B.TIPO_ORIGEM = 2 JOIN CAEDU_REQUISICAO_CABILOG C on B.NF_ORIGEM = C.REQ AND C.CABIDESA33 > 0
		where a.CODIGO_ITEM = @CABILOG_ITEM_CABIDEA33
		union all
		select B.FILIAL, B.NF_SAIDA, B.SERIE_NF, A.CODIGO_ITEM ,CABIDESA43 as QTDE
		from CADASTRO_ITEM_FISCAL A JOIN #TMPFATURAMENTO B ON B.TIPO_ORIGEM = 2 JOIN CAEDU_REQUISICAO_CABILOG C on B.NF_ORIGEM = C.REQ AND C.CABIDESM26 > 0
		where a.CODIGO_ITEM = @CABILOG_ITEM_CABIDEM26
		union all
		select B.FILIAL, B.NF_SAIDA, B.SERIE_NF, A.CODIGO_ITEM ,CABIDESA43 as QTDE
		from CADASTRO_ITEM_FISCAL A JOIN #TMPFATURAMENTO B ON B.TIPO_ORIGEM = 2 JOIN CAEDU_REQUISICAO_CABILOG C on B.NF_ORIGEM = C.REQ AND C.CABIDESM35 > 0
		where a.CODIGO_ITEM = @CABILOG_ITEM_CABIDEM35
		union all
		select B.FILIAL, B.NF_SAIDA, B.SERIE_NF, A.CODIGO_ITEM ,CABIDESA43 as QTDE
		from CADASTRO_ITEM_FISCAL A JOIN #TMPFATURAMENTO B ON B.TIPO_ORIGEM = 2 JOIN CAEDU_REQUISICAO_CABILOG C on B.NF_ORIGEM = C.REQ AND C.BOLACHAS > 0
		where a.CODIGO_ITEM = @CABILOG_ITEM_BOLACHA 
		union all
		select B.FILIAL, B.NF_SAIDA, B.SERIE_NF, A.CODIGO_ITEM ,CABIDESA43 as QTDE
		from CADASTRO_ITEM_FISCAL A JOIN #TMPFATURAMENTO B ON B.TIPO_ORIGEM = 2 JOIN CAEDU_REQUISICAO_CABILOG C on B.NF_ORIGEM = C.REQ AND C.CX_BOLACHAS > 0
		where a.CODIGO_ITEM = @CABILOG_ITEM_CX_BOLACHA
		union all
		select B.FILIAL, B.NF_SAIDA, B.SERIE_NF, A.CODIGO_ITEM ,CABIDESA43 as QTDE
		from CADASTRO_ITEM_FISCAL A JOIN #TMPFATURAMENTO B ON B.TIPO_ORIGEM = 2 JOIN CAEDU_REQUISICAO_CABILOG C on B.NF_ORIGEM = C.REQ AND C.CX_PINOS > 0
		where a.CODIGO_ITEM = @CABILOG_ITEM_CX_PINO
		union all
		select B.FILIAL, B.NF_SAIDA, B.SERIE_NF, A.CODIGO_ITEM ,CABIDESA43 as QTDE
		from CADASTRO_ITEM_FISCAL A JOIN #TMPFATURAMENTO B ON B.TIPO_ORIGEM = 2 JOIN CAEDU_REQUISICAO_CABILOG C on B.NF_ORIGEM = C.REQ AND C.CX_CABIDES > 0
		where a.CODIGO_ITEM = @CABILOG_ITEM_CX_CABIDE
	) A
	JOIN CADASTRO_ITEM_FISCAL B ON A.CODIGO_ITEM = B.CODIGO_ITEM
	JOIN #TMPFATURAMENTO C ON A.FILIAL = C.FILIAL AND A.NF_SAIDA = C.NF_SAIDA AND A.SERIE_NF = C.SERIE_NF
	JOIN NATUREZAS_SAIDAS N ON N.NATUREZA_SAIDA =C.NATUREZA_SAIDA 
	JOIN CADASTRO_CLI_FOR D ON D.NOME_CLIFOR = C.NOME_CLIFOR
	JOIN CADASTRO_CLI_FOR E ON E.NOME_CLIFOR = C.FILIAL
	JOIN FILIAIS G on E.NOME_CLIFOR = g.FILIAL 
	LEFT JOIN CTB_LX_CARACTERISTICA_CFOP H on H.CTB_TIPO_OPERACAO = N.CTB_TIPO_OPERACAO AND H.INDICADOR_CFOP = B.INDICADOR_CFOP and
				H.INDICADOR_FISCAL_TERCEIRO = D.INDICADOR_FISCAL_TERCEIRO AND H.INATIVO = 0		
		
	--atualizar tabelas
	UPDATE A SET A.TRIBUT_ICMS = B.TRIBUT_ICMS
	FROM #TMPFATURAMENTO_ITEM A
	JOIN CTB_EXCECAO_IMPOSTO B ON A.ID_EXCECAO_IMPOSTO = B.ID_EXCECAO_IMPOSTO
	
	UPDATE A SET A.UTC_EMISSAO = dbo.FX_DATA_UTC_NFE(DATA_HORA_EMISSAO,C.UF), A.STATUS_NFE = @FILA_NFE, A.UTC_DATA_SAIDA = dbo.FX_DATA_UTC_NFE(DATA_HORA_EMISSAO,C.UF)
	FROM #TMPFATURAMENTO A
	JOIN CADASTRO_CLI_FOR C ON A.FILIAL COLLATE DATABASE_DEFAULT = C.NOME_CLIFOR COLLATE DATABASE_DEFAULT
	
	UPDATE A SET A.QTDE_TOTAL = B.QTDE_TOTAL, A.VALOR_TOTAL = B.VALOR_TOTAL, A.VALOR_SUB_ITENS = B.VALOR_TOTAL, A.VOLUMES  = B.VOLUMES, A.TIPO_VOLUME = 'CAIXA',
				 A.MPADRAO_VALOR_SUB_ITENS = B.VALOR_TOTAL, A.MPADRAO_VALOR_TOTAL = B.VALOR_TOTAL
	FROM #TMPFATURAMENTO A
	JOIN (SELECT NF_SAIDA, SERIE_NF, FILIAL,SUM(QTDE_ITEM) AS QTDE_TOTAL, SUM(VALOR_ITEM) AS VALOR_TOTAL , COUNT(CODIGO_ITEM) as VOLUMES
			FROM #TMPFATURAMENTO_ITEM
			GROUP BY NF_SAIDA, SERIE_NF, FILIAL) B ON A.NF_SAIDA COLLATE DATABASE_DEFAULT = B.NF_SAIDA COLLATE DATABASE_DEFAULT AND 
													  A.SERIE_NF  COLLATE DATABASE_DEFAULT = B.SERIE_NF  COLLATE DATABASE_DEFAULT AND 
													  A.FILIAL  COLLATE DATABASE_DEFAULT = B.FILIAL  COLLATE DATABASE_DEFAULT	
	-- begin tran
	BEGIN TRANSACTION FATURAMENTO_CABIDES
	-- scan
	declare @SEQUENCIAL  varchar(25),
			@SEQUENCIAL_POR_FILIAL bit
			
	declare @CNPJ_EMITENTE varchar(14),
			@CIDADE_EMITENTE varchar(35),
			@UF_EMITENTE varchar(2),
			@AAMM_EMISSAO varchar(4),
			@MODELO varchar(2),
			@TIPO_EMISSAO tinyint,
			@VERSAO_CHAVE_NFE varchar(6),
			@CODIGO_UF_IBGE char(2),
			@CHAVE_NFE varchar(50),
			@NF_SAIDA varchar(15),
			@FILIAL varchar(25),
			@SERIE_NF varchar(10)
	
	SELECT @MODELO = VALOR_ATUAL FROM PARAMETROS WHERE PARAMETRO = 'MODELO_FISCAL_NFE'
	SELECT @VERSAO_CHAVE_NFE = VALOR_ATUAL FROM PARAMETROS WHERE PARAMETRO = 'VERSAO_LAYOUT_XML_NFE'
			
	declare curFaturamento cursor for
	SELECT NF_SAIDA, SERIE_NF, FILIAL FROM #TMPFATURAMENTO
	
	open curFaturamento
	fetch next from curFaturamento into @NF_SAIDA, @SERIE_NF, @FILIAL
	while (@@fetch_status <> -1)
	begin
		-- pegar numero de nota
		SELECT @SEQUENCIAL_POR_FILIAL = SEQUENCIAL_POR_FILIAL FROM SERIES_NF WHERE SERIE_NF = @SERIE_NF
		
		if @SEQUENCIAL_POR_FILIAL = 1
		begin
			SELECT @SEQUENCIAL = SEQUENCIAL FROM FATURAMENTO_SEQUENCIAIS WHERE FILIAL = @FILIAL AND SERIE_NF = @SERIE_NF

			update FATURAMENTO_SEQUENCIAIS set @SEQUENCIAL = SEQUENCIAL = RIGHT(REPLICATE('0',datalength(rtrim(ltrim(SEQUENCIAL))))+
																CONVERT(VARCHAR(20),CONVERT(INT,SEQUENCIAL)+1),datalength(rtrim(ltrim(SEQUENCIAL))))  
			WHERE FILIAL = @FILIAL AND SERIE_NF = @SERIE_NF

			print @SEQUENCIAL
			IF @@ERROR <> 0 
			begin
				DEALLOCATE curFaturamento 
				select @ERRMSG = 'ERRO AO BUSCAR SEQUENCIAL'
				goto error
			end
		end
		else
		begin
			SELECT @SEQUENCIAL = SEQUENCIAL FROM SERIES_NF WHERE SERIE_NF = @SERIE_NF
				
			update SERIES_NF set @SEQUENCIAL = SEQUENCIAL = RIGHT(REPLICATE('0',datalength(rtrim(ltrim(SEQUENCIAL))))+
																CONVERT(VARCHAR(20),CONVERT(INT,SEQUENCIAL)+1),datalength(rtrim(ltrim(SEQUENCIAL))))   
			WHERE SERIE_NF = @SERIE_NF
			IF @@ERROR <> 0 
			begin
				DEALLOCATE curEntradas 
				select @ERRMSG = 'ERRO AO BUSCAR SEQUENCIAL'
				goto error
			end
		end		
			
		UPDATE #TMPFATURAMENTO set NF_SAIDA = @SEQUENCIAL
		WHERE NF_SAIDA = @NF_SAIDA AND SERIE_NF = @SERIE_NF AND FILIAL = @FILIAL
			
		UPDATE #TMPFATURAMENTO_ITEM set NF_SAIDA = @SEQUENCIAL 	WHERE NF_SAIDA = @NF_SAIDA AND SERIE_NF = @SERIE_NF AND FILIAL = @FILIAL
			
		set @NF_SAIDA = @SEQUENCIAL


		-- pegar chave_nfe
		SELECT 	@CNPJ_EMITENTE = B.CGC_CPF,
				@CIDADE_EMITENTE = B.CIDADE,
				@UF_EMITENTE = B.UF,
				@AAMM_EMISSAO = RIGHT('00'+CONVERT(CHAR(4),YEAR(A.EMISSAO)),2)+RIGHT('00'+rtrim(CONVERT(CHAR(2),MONTH(A.EMISSAO))),2),
				@TIPO_EMISSAO = A.TIPO_EMISSAO_NFE,
				@CODIGO_UF_IBGE = NULL
		FROM #TMPFATURAMENTO A
		JOIN CADASTRO_CLI_FOR B ON A.FILIAL COLLATE DATABASE_DEFAULT = B.NOME_CLIFOR COLLATE DATABASE_DEFAULT
		WHERE A.NF_SAIDA = @NF_SAIDA AND A.SERIE_NF = @SERIE_NF AND A.FILIAL = @FILIAL
			
		DELETE #CHAVE_NFE
			
		INSERT #CHAVE_NFE
		EXEC LX_GERA_CHAVE_NFE_GENERICA @NF_SAIDA,@SERIE_NF,@CNPJ_EMITENTE,@CIDADE_EMITENTE,@UF_EMITENTE,
										@AAMM_EMISSAO,@MODELO,@TIPO_EMISSAO,@VERSAO_CHAVE_NFE,@CODIGO_UF_IBGE
		
		UPDATE #TMPFATURAMENTO SET CHAVE_NFE = (SELECT CHAVE_NFE FROM #CHAVE_NFE)
		WHERE NF_SAIDA = @NF_SAIDA AND SERIE_NF = @SERIE_NF AND FILIAL = @FILIAL

		-- inserir faturamento
		INSERT FATURAMENTO (FILIAL,NF_SAIDA,SERIE_NF,TIPO_FATURAMENTO,NOME_CLIFOR,CONDICAO_PGTO,NATUREZA_SAIDA,TRANSPORTADORA,TRANSP_REDESPACHO,TIPO_FRETE,COD_TRANSACAO,EMISSAO,DATA_SAIDA,VALOR_TOTAL,		QTDE_TOTAL,NF_FATURA,NOTA_IMPRESSA,TABELA_FILHA,VOLUMES,TIPO_VOLUME,ENTREGA_CIF,NOTA_CANCELADA,DEVOLUCAO,REPRESENTANTE,GERENTE,MOEDA,CAMBIO_NA_DATA,
DATA_PARA_TRANSFERENCIA,NOME_CLIFOR_ENTREGA,EMPRESA,MPADRAO_VALOR_SUB_ITENS,MPADRAO_VALOR_TOTAL,VALOR_SUB_ITENS,CHAVE_NFE,STATUS_NFE,TIPO_EMISSAO_NFE,FIN_EMISSAO_NFE,REGISTRO_DPEC,DATA_REGISTRO_DPEC,DATA_HORA_EMISSAO,INDICA_PRESENCA_COMPRADOR,UTC_DATA_SAIDA,UTC_EMISSAO,INFO_PGTO)
		SELECT FILIAL,NF_SAIDA,SERIE_NF,TIPO_FATURAMENTO,NOME_CLIFOR,CONDICAO_PGTO,NATUREZA_SAIDA,TRANSPORTADORA,TRANSP_REDESPACHO,TIPO_FRETE,COD_TRANSACAO,EMISSAO,DATA_SAIDA,VALOR_TOTAL,QTDE_TOTAL,
							NF_FATURA,NOTA_IMPRESSA,TABELA_FILHA,VOLUMES,TIPO_VOLUME,ENTREGA_CIF,NOTA_CANCELADA,DEVOLUCAO,REPRESENTANTE,GERENTE,MOEDA,CAMBIO_NA_DATA,DATA_PARA_TRANSFERENCIA,NOME_CLIFOR_ENTREGA,EMPRESA,
							MPADRAO_VALOR_SUB_ITENS,MPADRAO_VALOR_TOTAL,VALOR_SUB_ITENS,CHAVE_NFE,STATUS_NFE,TIPO_EMISSAO_NFE,FIN_EMISSAO_NFE,REGISTRO_DPEC,DATA_REGISTRO_DPEC,DATA_HORA_EMISSAO,INDICA_PRESENCA_COMPRADOR,UTC_DATA_SAIDA,UTC_EMISSAO, '99' as INFO_PGTO
		FROM #TMPFATURAMENTO 
		WHERE NF_SAIDA = @NF_SAIDA AND SERIE_NF = @SERIE_NF AND FILIAL = @FILIAL 

		-- inserir faturamento item
		INSERT FATURAMENTO_ITEM (CLASSIF_FISCAL,CODIGO_FISCAL_OPERACAO,CODIGO_ITEM,COD_TABELA_FILHA,CONTA_CONTABIL,DESCRICAO_ITEM,FAIXA,FILIAL,ID_EXCECAO_IMPOSTO,INDICADOR_CFOP,ITEM_IMPRESSAO,MPADRAO_PRECO_UNITARIO,
								MPADRAO_VALOR_ITEM,NF_SAIDA,PORCENTAGEM_ITEM_RATEIO,PRECO_UNITARIO,QTDE_ITEM,SERIE_NF,SUB_ITEM_TAMANHO,TRIBUT_ICMS,TRIBUT_ORIGEM,UNIDADE,VALOR_ITEM,ITEM_NFE,ORIGEM_ITEM,PRECO_UNITARIO_ORIGINAL)
		SELECT CLASSIF_FISCAL,CODIGO_FISCAL_OPERACAO,CODIGO_ITEM,COD_TABELA_FILHA,CONTA_CONTABIL,DESCRICAO_ITEM,FAIXA,FILIAL,ID_EXCECAO_IMPOSTO,INDICADOR_CFOP,ITEM_IMPRESSAO,MPADRAO_PRECO_UNITARIO,
								MPADRAO_VALOR_ITEM,NF_SAIDA,PORCENTAGEM_ITEM_RATEIO,PRECO_UNITARIO,QTDE_ITEM,SERIE_NF,SUB_ITEM_TAMANHO,TRIBUT_ICMS,TRIBUT_ORIGEM,UNIDADE,VALOR_ITEM,ITEM_NFE,ORIGEM_ITEM,PRECO_UNITARIO_ORIGINAL
		FROM #TMPFATURAMENTO_ITEM 
		WHERE NF_SAIDA = @NF_SAIDA AND SERIE_NF = @SERIE_NF AND FILIAL = @FILIAL 

		 --gerar impostos
		EXEC LX_GERA_IMPOSTOS_SAIDA @FILIAL, @NF_SAIDA, @SERIE_NF, 1

		 --marcar como gerado e numero da nota cabide
		update a set a.GERADO_FATURAMENTO = 1, NF_CABIDE = @NF_SAIDA
		from CAEDU_FATURAMENTO_CABIDES a
		join #TMPFATURAMENTO b on b.nf_origem = case when b.tipo_origem = 1 then a.nf_saida else a.requisicao end and a.filial = b.filial and a.serie_nf = b.serie_nf
		where b.NF_SAIDA = @NF_SAIDA AND b.SERIE_NF = @SERIE_NF AND b.FILIAL = @FILIAL

	-- fim scan
		fetch next from curFaturamento into @NF_SAIDA, @SERIE_NF, @FILIAL
	end
	deallocate curFaturamento

	-- commit tran
	--select * from #TMPFATURAMENTO
	--union all
	--select *,'',1 from faturamento where nf_Saida = '0077455'


	--select * from #TMPFATURAMENTO_ITEM
	--union all
	--select *,'' from FATURAMENTO_ITEM where nf_Saida = '0077455'

	COMMIT TRANSACTION FATURAMENTO_CABIDES
	RETURN

	-- rollback
	---------------------------------------------------------------------------------------------------------------------------------------
	ERROR:

	IF @@TRANCOUNT > 0
		ROLLBACK TRANSACTION FATURAMENTO_CABIDES
	IF @ERRMSG IS NOT NULL
	BEGIN
		RAISERROR (@ERRMSG,11,1)
	END	

	SET NOCOUNT OFF
END
