USE [portal_fornecedor]
GO
/****** Object:  StoredProcedure [dbo].[PRC_CRIA_ESCALA_POR_FILIAL]    Script Date: 01/06/2026 13:27:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO










ALTER procedure [dbo].[PRC_CRIA_ESCALA_POR_FILIAL]@pid_loja integer													
    											 ,@pdata varchar(8)
												 ,@pidusuario varchar(8)
												 ,@pstatus  varchar(1000) output as  
begin   
 begin transaction
  
  declare @vskmes_escala_atual char(4);  
  declare @vskmes_nova_escala char(4);
  declare @vid_cidade varchar(10);
  declare @vdata_ini date;
  declare @vdata_fim date;
  declare @vdia_feriado  varchar(7);
  declare @vpasso int = 0;
  declare @vqtd int = -1;
  declare @vexiste int = -1;
  declare @vultimodsrant date;

  
    -- carrega as variaveis
    select top 1  
	        @vskmes_nova_escala  = cast(substring (replace(convert(varchar , dateadd(month, 1 , convert( date, @pdata ,103)),5), '-', ''), 3,8) as varchar)
	       ,@vskmes_escala_atual = cast(substring (replace(convert(varchar , convert( date, @pdata ,103),5), '-', ''), 3,8) as varchar)
		   ,@vid_cidade = id_cidade 
		   ,@vdata_ini = substring(cast (dateadd(month, 1 , convert( date, @pdata )) as varchar), 1,7)+'-21'
		   ,@vdata_fim = substring(cast (dateadd(month, 2 , convert( date, @pdata )) as varchar), 1,7)+'-20'
		from cabine_loja 
	 where id_filial = @pid_loja


    -- CRIAR A TABELA TEMPORARIA
	set @vpasso = 4;
    create table #tb_feriados ( dia varchar(7))
	
	
	set @vpasso = 5;	
	insert into #tb_feriados    
	select substring (cast (data as varchar),9,2) as dia 
      from cabine_feriado cf
	 where cf.id_cidade in  (@vid_cidade, '9999999') 
      and convert(date,  cast(data as date) , 103)  between cast(@vdata_ini as date) and cast(@vdata_fim as date)	


    set @vpasso = 6;  		
	select @vqtd = count(1)  
	  from cabine_escala c 
	 where c.skmes = @vskmes_escala_atual  
	   and c.id_loja =  @pid_loja
	   and status = 0
	
	set @vpasso = 7;   
	select @vexiste = count(1)  
	  from cabine_escala c
	 where skmes = @vskmes_nova_escala  
	   and c.id_loja =  @pid_loja   



    if (@vqtd = cast (0 as int) and  @vexiste = cast (0 as int))	
	  
		begin try 
		   begin
	          set @vpasso = 6;			  
	          insert into [dbo].[cabine_escala](   id_funcionario,	  id_loja,	             skmes,	   status,        dia_01,        dia_02,      dia_03,	  dia_04,	  dia_05,	  dia_06, 
	                                                       dia_07,     dia_08,              dia_09,    dia_10,        dia_11,        dia_12,      dia_13,     dia_14,     dia_15,     dia_16, 
			    	    								   dia_17,     dia_18,              dia_19,    dia_20,        dia_21,        dia_22,      dia_23,     dia_24,     dia_25,     dia_26, 
						    						       dia_27,     dia_28,              dia_29,    dia_30,        dia_31,    id_usuario,         dtedicao,       data,  ultimodsr,
													id_fprimaria)
							    		      select distinct  
											        cf.matricula, cf.id_loja, @vskmes_nova_escala,         0,            'T',           'T',         'T',        'T',        'T',        'T', 
								    		                  'T',       ' T',                 'T',       'T',           'T',           'T',         'T',        'T',        'T',        'T',
									    				      'T',       ' T',                 'T',       'T',           'T',           'T',         'T',        'T',        'T',        'T',
										    			      'T',       ' T',                 'T',       'T',           'T',   @pidusuario,     getdate(),  getdate(), case when [dbo].[ultimoDsr] (@vskmes_escala_atual, cf.id_loja, cf.matricula) is null then ce.ultimodsr else [dbo].[ultimoDsr] (@vskmes_escala_atual, cf.id_loja, cf.matricula) end,
												 ce.id_fprimaria
															   
										        from [dbo].[cabine_funcionario] cf
												/*
													 inner join [dbo].[cabine_fprimaria] fp
															 on fp.id_fprimaria = cf.id_fprimaria
												*/
												     left join [dbo].[cabine_escala] ce 
													        ON cf.matricula = ce.id_funcionario and cf.id_loja = ce.id_loja 
														   and skmes = @vskmes_escala_atual
											   where 1 = 1
									             and cf.id_loja = @pid_loja
												 and cf.ativo = 1


           end		   
	       begin
	          set @vpasso = 7;
	          while (select count(1) from #tb_feriados  ) > 0 begin 
			  			
			     set @vpasso = 8;
		         select top 1 @vdia_feriado = dia from #tb_feriados;

			     set @vpasso = 9;
		         update cabine_escala			   
			        set dia_01 = case when (@vdia_feriado = '01') then 'FR' else dia_01 end 
			           ,dia_02 = case when (@vdia_feriado = '02') then 'FR' else dia_02 end 
					   ,dia_03 = case when (@vdia_feriado = '03') then 'FR' else dia_03 end 
					   ,dia_04 = case when (@vdia_feriado = '04') then 'FR' else dia_04 end 
			           ,dia_05 = case when (@vdia_feriado = '05') then 'FR' else dia_05 end 
			           ,dia_06 = case when (@vdia_feriado = '06') then 'FR' else dia_06 end 
			           ,dia_07 = case when (@vdia_feriado = '07') then 'FR' else dia_07 end 
					   ,dia_08 = case when (@vdia_feriado = '08') then 'FR' else dia_08 end 
					   ,dia_09 = case when (@vdia_feriado = '09') then 'FR' else dia_09 end 
					   ,dia_10 = case when (@vdia_feriado = '10') then 'FR' else dia_10 end 
					   ,dia_11 = case when (@vdia_feriado = '11') then 'FR' else dia_11 end 
					   ,dia_12 = case when (@vdia_feriado = '12') then 'FR' else dia_12 end 
			           ,dia_13 = case when (@vdia_feriado = '13') then 'FR' else dia_13 end 
			           ,dia_14 = case when (@vdia_feriado = '14') then 'FR' else dia_14 end 
			           ,dia_15 = case when (@vdia_feriado = '15') then 'FR' else dia_15 end 
			           ,dia_16 = case when (@vdia_feriado = '16') then 'FR' else dia_16 end 
			           ,dia_17 = case when (@vdia_feriado = '17') then 'FR' else dia_17 end 
			           ,dia_18 = case when (@vdia_feriado = '18') then 'FR' else dia_18 end 
			           ,dia_19 = case when (@vdia_feriado = '19') then 'FR' else dia_19 end 
			           ,dia_20 = case when (@vdia_feriado = '20') then 'FR' else dia_20 end 
					   ,dia_21 = case when (@vdia_feriado = '21') then 'FR' else dia_21 end 
					   ,dia_22 = case when (@vdia_feriado = '22') then 'FR' else dia_22 end 
			           ,dia_23 = case when (@vdia_feriado = '23') then 'FR' else dia_23 end 
			           ,dia_24 = case when (@vdia_feriado = '24') then 'FR' else dia_24 end 
			           ,dia_25 = case when (@vdia_feriado = '25') then 'FR' else dia_25 end 
			           ,dia_26 = case when (@vdia_feriado = '26') then 'FR' else dia_26 end 
			           ,dia_27 = case when (@vdia_feriado = '27') then 'FR' else dia_27 end 
			           ,dia_28 = case when (@vdia_feriado = '28') then 'FR' else dia_28 end 
			           ,dia_29 = case when (@vdia_feriado = '29') then 'FR' else dia_29 end 
			           ,dia_30 = case when (@vdia_feriado = '30') then 'FR' else dia_30 end 
			           ,dia_31 = case when (@vdia_feriado = '31') then 'FR' else dia_31 end 
                  where skmes = @vskmes_nova_escala
				  and id_loja = @pid_loja;
			   	
			     set @vpasso = 10;			    
				 delete #tb_feriados where dia = @vdia_feriado;

		      end
	       end  

           commit transaction;
		   set  @pstatus = 'OK'
	    end try

	    begin catch        
		   set  @pstatus = 'erro gravando escala: ' + cast(@vpasso as varchar) + ' - ' +    cast(@vskmes_nova_escala as varchar ) + ' ' + cast(error_number()as varchar) +' '+   cast(error_message()as varchar)
		   rollback transaction;
        end catch		

	else
	  	set  @pstatus = ' escala ' +  cast(@vskmes_escala_atual as varchar ) + ' nao finalizada ou inexistente ou a proxima escala ' + cast(@vskmes_nova_escala as varchar ) + ' ja existe'  
end;  











