USE [portal_fornecedor]
GO
/****** Object:  StoredProcedure [dbo].[processaDesligados]    Script Date: 01/06/2026 15:04:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





ALTER procedure [dbo].[processaDesligados] as 

declare @v_passo char(2);
declare @pstatus varchar(1000);
declare @vloja varchar(50);
declare @vid_funcionario int;
declare @vescala_atual char(4);
declare @vmax_escala varchar(4);
declare @vmatricula numeric(9); 


begin     
 
   begin transaction    
   
   begin try 

	   set @v_passo = '1';       
	   create table #tb_desligados (id_funcionario int, matricula numeric(9), loja varchar(50));
	   

	   -- insere os colaboradores desligados
	   set @v_passo = '2';       

	   

       insert into #tb_desligados
	   select distinct cf.id_funcionario, cf.matricula, cf.id_loja
		 from cabine_funcionario(nolock) cf
			  left join cabine_loja(nolock) cl on CF.ID_LOJA = cL.id_loja_ADP
			  left join cgp_tmp_colaborador(nolock) temp on cast(temp.codigo_estabelecimento as int) = cl.id_loja_adp and temp.matricula=cf.matricula
		where 
				cf.ativo = 1 
				and ( 
						temp.codigo_centro_resultado <> '002' 
						or temp.sigla = 'INTERM' 
						or temp.CODIGO <> '001' 
						or temp.situacao_sem_data not in ('ATIVO', 'Férias', 'Atestado')
						or temp.NOME_FUNCAO  like 'GER %' 
						or temp.NOME_FUNCAO  like 'SUP %'
						or temp.codigo_estabelecimento is null
				    )
		/*select distinct cf.id_funcionario, temp.matricula, cf.id_loja
         from cgp_tmp_colaborador (nolock) temp
			  inner join cabine_loja(nolock)  cl on temp.codigo_estabelecimento = cl.id_loja_adp					 			
              inner join cabine_funcionario(nolock)  cf on temp.matricula = cf.matricula
        where 1 = 1         
	      and cf.ativo = 1
		  --and temp.MATRICULA = 23021204
	      and ((temp.data_desligamento is not null  or temp.sigla_afastamento in ('DE', 'SC'))  or temp.sigla_modo_ponto = 'NBPTO' )--desligado ou promovido
		*/
	   -- Descobre a escala atual		   
	   set @v_passo = '5';
  	   select @vescala_atual = case when cast(substring(convert(varchar,convert(date, getdate(), 103),5),1,2) as varchar) < '20'  then substring(replace(convert(varchar,convert(date,dateadd(month, -1, getdate()),103),5),'-',''),3, 8)
			                              else substring(replace(convert(varchar,convert(date,dateadd(month, -1, getdate()),103),5),'-',''),3,8) end 					  


	   set @v_passo = '4';
	   if (select count(1) from #tb_desligados  ) > 0 begin

	   while (select count(1) from #tb_desligados) > 0 begin	      

          set @v_passo = '6';
		  select top 1 @vmatricula = matricula,  @vloja = loja, @vid_funcionario = id_funcionario		      
			from #tb_desligados;

		  -- inativa o funciona
		  set @v_passo = '9';
		  update cabine_funcionario
		     set ativo = 0 
			    ,data = getdate()
		   where matricula = @vmatricula
			 and id_loja = @vloja
			 and id_funcionario = @vid_funcionario;		 

			          		  
          -- Verifica se o colaborador esta na proxima escala da loja
		  set @v_passo = '10';		  
		  select top 1 @vmax_escala = skmes from  [dbo].[cabine_escala] where id_loja = @vloja and id_funcionario = @vmatricula order by SUBSTRING(skmes,3,2) desc ,  SUBSTRING(skmes,1,2) desc 


 		  -- Deleta a proxima escala para o colaborador desligado
		  set @v_passo = '11';
		  if(@vmax_escala <> @vescala_atual ) begin

		     set @v_passo = '12';
             delete cabine_escala 
			  where id_funcionario = @vmatricula
			    and skmes = @vmax_escala
				and id_loja = @vloja;
		  end
          set @v_passo = '15';		  
		  delete from #tb_desligados where matricula = @vmatricula;		   		  
		end 
	 end
   commit transaction	   
   end try 

   begin catch            
      set @pstatus = 'erro executando passo: --> ' + cast(@v_passo as varchar ) +' - '+  cast(error_number()as varchar) +' '+   cast(error_message()as varchar);	 
	  rollback transaction 	  
   end catch
end






