USE [CAEDU]
GO
/****** Object:  StoredProcedure [dbo].[CGP_MOVIMENTA_ESTOQUE_FILIAIS]    Script Date: 01/12/2023 10:38:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
EXEC CGP_MOVIMENTA_ESTOQUE_FILIAIS 
'CD CAJAMAR', 
'VENDA ATACADO', 
'450725470000301;20|450725470000302;40|450725470000303;40|450725470000304;20|450725490014101;20|450725490014102;40|450725490014103;40|450725490014104;20|450802140000301;20|450802140000302;40|450802140000303;40|450802140000304;20|451002870006501;20|451002870006502;40|451002870006503;40|451002870006504;20|451402740000301;30|451402740000302;60|451402740000303;30', 
@TRANSFERIDO=0
*/

ALTER procedure [dbo].[CGP_MOVIMENTA_ESTOQUE_FILIAIS]
	@FILIAL_ORIGEM VARCHAR(25),
	@FILIAL_DESTINO VARCHAR(25),
	@LISTA_SKU_QTD VARCHAR(4000),
	@TRANSFERIDO BIT OUTPUT
/*
PARAMETRO 1: @FILIAL_ORIGEM = 'CD CAJAMAR'
PARAMETRO 2: @FILIAL_DESTINO = 'VENDA ATACADO'
PARAMETRO 3: @LISTA_SKU_QTD = '123456789012345;15|987654321012345;70' --> SEPARARAR CODIGO DE BARRA 
																		DE QUANTIDADE COM DELIMITADOR ';' E USAR '|' 
																			COMO DELIMITADOR DE CONJUNTO DE DADOS
*/
AS

SET NOCOUNT ON
SET @TRANSFERIDO = 0
DECLARE @MATRIZ_FISCAL_ORIGEM VARCHAR(25), @MATRIZ_FISCAL_DESTINO VARCHAR(25), @MSG VARCHAR(1000)

SELECT @MATRIZ_FISCAL_ORIGEM=MATRIZ_FISCAL FROM FILIAIS WHERE FILIAL = @FILIAL_ORIGEM

SELECT @MATRIZ_FISCAL_DESTINO=MATRIZ_FISCAL FROM FILIAIS WHERE FILIAL = @FILIAL_DESTINO

IF NOT EXISTS(SELECT 1 FROM FILIAIS WHERE FILIAL = @FILIAL_ORIGEM) 
BEGIN
    SET @MSG ='FILIAL ORIGEM ' + @FILIAL_ORIGEM + ' NAO EXISTE!!!' 
	RAISERROR(@MSG,16,1)
	RETURN -1
END

IF NOT EXISTS(SELECT 1 FROM FILIAIS WHERE FILIAL = @FILIAL_DESTINO) 
BEGIN
    SET @MSG ='FILIAL DESTINO ' + @FILIAL_DESTINO + ' NAO EXISTE!!!' 
	RAISERROR(@MSG,16,1)
	RETURN -1
END

IF @MATRIZ_FISCAL_ORIGEM <> @MATRIZ_FISCAL_DESTINO
BEGIN
    SET @MSG ='MATRIZ FISCAL DA FILIAL_ORIGEM E DIFERENTE DA MATRIZ FISCAL DA FILIAL DESTINO!!!'
	RAISERROR(@MSG,16,1)
	RETURN -1
END

IF @FILIAL_ORIGEM = @FILIAL_DESTINO
BEGIN
    SET @MSG ='NAO E POSSIVEL TRANSFERIR ESTOQUE POIS AS FILIAIS DE ORIGEM E DESTINO SAO IGUAIS!!!'
	RAISERROR(@MSG,16,1)
	RETURN -1
END

DECLARE @TAB_ITENS TABLE (ID INT IDENTITY(1,1), PARTE1 VARCHAR(50), SKU VARCHAR(25), 
							PRODUTO VARCHAR(8), COR_PRODUTO VARCHAR(10), TAMANHO INT, QTD INT, ESTOQUE INT, DIFERENCA INT, ULT_CUSTO NUMERIC (18,6))

INSERT INTO @TAB_ITENS (PARTE1) 
select * from dbo.FX_SplitString(@LISTA_SKU_QTD,'|')

DECLARE		@I INT, @TOT INT, @PARTE1 VARCHAR(50), 
			@SKU VARCHAR(25), @QTD INT, @ESTOQUE INT, @DIFERENCA INT,
			@PRODUTO VARCHAR(8), @COR_PRODUTO VARCHAR(10), @TAMANHO INT, @ULT_CUSTO NUMERIC(18,6)

SELECT @I=MIN(ID), @TOT=MAX(ID) 
FROM @TAB_ITENS

WHILE @I<=@TOT
BEGIN
	SELECT @PARTE1 = PARTE1 
	FROM @TAB_ITENS 
	WHERE ID = @I
	
	SET @SKU = SUBSTRING(@PARTE1,1,charindex(';',@PARTE1,1)-1)
	SET @QTD = SUBSTRING(@PARTE1,charindex(';',@PARTE1,1)+1,50)

	SELECT @PRODUTO = PRODUTO, @COR_PRODUTO = COR_PRODUTO, @TAMANHO = TAMANHO
	FROM PRODUTOS_BARRA
	WHERE CODIGO_BARRA = @SKU
	
	SELECT @ESTOQUE = 
			CASE 
			WHEN @TAMANHO = 1 THEN ES1
			WHEN @TAMANHO = 2 THEN ES2
			WHEN @TAMANHO = 3 THEN ES3
			WHEN @TAMANHO = 4 THEN ES4
			WHEN @TAMANHO = 5 THEN ES5
			WHEN @TAMANHO = 6 THEN ES6
			WHEN @TAMANHO = 7 THEN ES7
			WHEN @TAMANHO = 8 THEN ES8
			WHEN @TAMANHO = 9 THEN ES9
			WHEN @TAMANHO = 10 THEN ES10
			WHEN @TAMANHO = 11 THEN ES11
			WHEN @TAMANHO = 12 THEN ES12
			WHEN @TAMANHO = 13 THEN ES13
			WHEN @TAMANHO = 14 THEN ES14
			WHEN @TAMANHO = 15 THEN ES15
			WHEN @TAMANHO = 16 THEN ES16
			ELSE 0
			END, 
			@ULT_CUSTO = ULTIMO_CUSTO1
	FROM ESTOQUE_PRODUTOS 
	WHERE	FILIAL=@FILIAL_ORIGEM 
			AND PRODUTO = @PRODUTO 
			AND COR_PRODUTO = @COR_PRODUTO

	UPDATE @TAB_ITENS
	SET SKU = @SKU, QTD = @QTD, ESTOQUE = @ESTOQUE, DIFERENCA = @ESTOQUE - @QTD, PRODUTO = @PRODUTO, 
		COR_PRODUTO=@COR_PRODUTO, TAMANHO = @TAMANHO, ULT_CUSTO = @ULT_CUSTO
	WHERE ID = @I

	SET @I=@I+1
END

IF EXISTS (SELECT 1 FROM @TAB_ITENS WHERE DIFERENCA<0)
BEGIN
    SET @MSG ='NAO E POSSIVEL EFETUAR A TRANSFERENCIA, POIS NAO HA SALDO DE ESTOQUE SUFICIENTE!!!'
	RAISERROR(@MSG,16,1)
	RETURN -1
END

DECLARE @TRANSF_ITENS TABLE 
(FILIAL VARCHAR(25), 
ROMANEIO_PRODUTO VARCHAR(8), 
PRODUTO VARCHAR(8), 
COR_PRODUTO VARCHAR(10), 
QTDE INT NULL, 
CUSTO1 NUMERIC (18,6) NULL,
VALOR NUMERIC (14,2) NULL, 
ID_MODIFICACAO CHAR(6) NULL, 
SA_1 INT NULL, SA_2 INT NULL, SA_3 INT NULL, SA_4 INT NULL, SA_5 INT NULL, SA_6 INT NULL, SA_7 INT NULL, SA_8 INT NULL, SA_9 INT NULL, 
SA_10 INT NULL, SA_11 INT NULL, SA_12 INT NULL, SA_13 INT NULL, SA_14 INT NULL, SA_15 INT NULL, SA_16 INT NULL, SA_17 INT NULL, SA_18 INT NULL, 
SA_19 INT NULL, SA_20 INT NULL, SA_21 INT NULL, SA_22 INT NULL, SA_23 INT NULL, SA_24 INT NULL, SA_25 INT NULL, SA_26 INT NULL, SA_27 INT NULL, 
SA_28 INT NULL, SA_29 INT NULL, SA_30 INT NULL, SA_31 INT NULL, SA_32 INT NULL, SA_33 INT NULL, SA_34 INT NULL, SA_35 INT NULL, SA_36 INT NULL, 
SA_37 INT NULL, SA_38 INT NULL, SA_39 INT NULL, SA_40 INT NULL, SA_41 INT NULL, SA_42 INT NULL, SA_43 INT NULL, SA_44 INT NULL, SA_45 INT NULL, 
SA_46 INT NULL, SA_47 INT NULL, SA_48 INT NULL)

DECLARE @SA_1 INT, @SA_2 INT, @SA_3 INT, @SA_4 INT, @SA_5 INT, @SA_6 INT, @SA_7 INT, @SA_8 INT, 
		@SA_9 INT, @SA_10 INT, @SA_11 INT, @SA_12 INT, @SA_13 INT, @SA_14 INT, @SA_15 INT, @SA_16 INT

SELECT @I=MIN(ID), @TOT=MAX(ID) 
FROM @TAB_ITENS

WHILE @I<=@TOT
BEGIN
	
	SELECT @PRODUTO=PRODUTO, @COR_PRODUTO=COR_PRODUTO, @TAMANHO=TAMANHO, @QTD=QTD, @ULT_CUSTO=ULT_CUSTO 
	FROM @TAB_ITENS 
	WHERE ID = @I

	SET @SA_1 = CASE WHEN @TAMANHO = 1 THEN @QTD ELSE 0 END
	SET @SA_2 = CASE WHEN @TAMANHO = 2 THEN @QTD ELSE 0 END
	SET @SA_3 = CASE WHEN @TAMANHO = 3 THEN @QTD ELSE 0 END
	SET @SA_4 = CASE WHEN @TAMANHO = 4 THEN @QTD ELSE 0 END
	SET @SA_5 = CASE WHEN @TAMANHO = 5 THEN @QTD ELSE 0 END
	SET @SA_6 = CASE WHEN @TAMANHO = 6 THEN @QTD ELSE 0 END
	SET @SA_7 = CASE WHEN @TAMANHO = 7 THEN @QTD ELSE 0 END
	SET @SA_8 = CASE WHEN @TAMANHO = 8 THEN @QTD ELSE 0 END
	SET @SA_9 = CASE WHEN @TAMANHO = 9 THEN @QTD ELSE 0 END
	SET @SA_10 = CASE WHEN @TAMANHO = 10 THEN @QTD ELSE 0 END
	SET @SA_11 = CASE WHEN @TAMANHO = 11 THEN @QTD ELSE 0 END
	SET @SA_12 = CASE WHEN @TAMANHO = 12 THEN @QTD ELSE 0 END
	SET @SA_13 = CASE WHEN @TAMANHO = 13 THEN @QTD ELSE 0 END
	SET @SA_14 = CASE WHEN @TAMANHO = 14 THEN @QTD ELSE 0 END
	SET @SA_15 = CASE WHEN @TAMANHO = 15 THEN @QTD ELSE 0 END
	SET @SA_16 = CASE WHEN @TAMANHO = 16 THEN @QTD ELSE 0 END

	IF NOT EXISTS(SELECT 1 FROM @TRANSF_ITENS WHERE PRODUTO = @PRODUTO AND COR_PRODUTO = @COR_PRODUTO) -- NÃO ACHOU, OPERAÇÃO DE INSERT
	BEGIN
		INSERT INTO @TRANSF_ITENS (FILIAL, ROMANEIO_PRODUTO, PRODUTO, COR_PRODUTO, QTDE, CUSTO1,VALOR, ID_MODIFICACAO, 
									SA_1, SA_2, SA_3, SA_4, SA_5, SA_6, SA_7, SA_8, SA_9, SA_10, SA_11, SA_12, SA_13, SA_14, 
									SA_15, SA_16, SA_17, SA_18, SA_19, SA_20, SA_21, SA_22, SA_23, SA_24, SA_25, SA_26, SA_27, SA_28, 
									SA_29, SA_30, SA_31, SA_32, SA_33, SA_34, SA_35, SA_36, SA_37, SA_38, SA_39, SA_40, SA_41, SA_42, 
									SA_43, SA_44, SA_45, SA_46, SA_47, SA_48)
		VALUES					(@FILIAL_ORIGEM, NULL, @PRODUTO, @COR_PRODUTO, 0, @ULT_CUSTO, 0, null, 
									@SA_1, @SA_2, @SA_3, @SA_4, @SA_5, @SA_6, @SA_7, @SA_8, @SA_9, @SA_10, @SA_11, @SA_12, @SA_13, @SA_14, 
									@SA_15, @SA_16, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 
									0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 
									0, 0, 0, 0, 0, 0)
	END
	ELSE
	BEGIN /*OPERAÇÃO DE UPDATE*/
		IF @TAMANHO = 1 
		BEGIN
			UPDATE @TRANSF_ITENS SET
			SA_1 = @SA_1 
			WHERE PRODUTO = @PRODUTO AND COR_PRODUTO = @COR_PRODUTO
		END
		IF @TAMANHO = 2 
		BEGIN
			UPDATE @TRANSF_ITENS SET
			SA_2 = @SA_2 
			WHERE PRODUTO = @PRODUTO AND COR_PRODUTO = @COR_PRODUTO
		END
		IF @TAMANHO = 3 
		BEGIN
			UPDATE @TRANSF_ITENS SET
			SA_3 = @SA_3 
			WHERE PRODUTO = @PRODUTO AND COR_PRODUTO = @COR_PRODUTO
		END
		IF @TAMANHO = 4 
		BEGIN
			UPDATE @TRANSF_ITENS SET
			SA_4 = @SA_4 
			WHERE PRODUTO = @PRODUTO AND COR_PRODUTO = @COR_PRODUTO
		END
		IF @TAMANHO = 5 
		BEGIN
			UPDATE @TRANSF_ITENS SET
			SA_5 = @SA_5 
			WHERE PRODUTO = @PRODUTO AND COR_PRODUTO = @COR_PRODUTO
		END
		IF @TAMANHO = 6 
		BEGIN
			UPDATE @TRANSF_ITENS SET
			SA_6 = @SA_6 
			WHERE PRODUTO = @PRODUTO AND COR_PRODUTO = @COR_PRODUTO
		END
		IF @TAMANHO = 7 
		BEGIN
			UPDATE @TRANSF_ITENS SET
			SA_7 = @SA_7 
			WHERE PRODUTO = @PRODUTO AND COR_PRODUTO = @COR_PRODUTO
		END
		IF @TAMANHO = 8 
		BEGIN
			UPDATE @TRANSF_ITENS SET
			SA_8 = @SA_8 
			WHERE PRODUTO = @PRODUTO AND COR_PRODUTO = @COR_PRODUTO
		END
		IF @TAMANHO = 9 
		BEGIN
			UPDATE @TRANSF_ITENS SET
			SA_9 = @SA_9 
			WHERE PRODUTO = @PRODUTO AND COR_PRODUTO = @COR_PRODUTO
		END
		IF @TAMANHO = 10 
		BEGIN
			UPDATE @TRANSF_ITENS SET
			SA_10 = @SA_10 
			WHERE PRODUTO = @PRODUTO AND COR_PRODUTO = @COR_PRODUTO
		END
		IF @TAMANHO = 11 
		BEGIN
			UPDATE @TRANSF_ITENS SET
			SA_11 = @SA_11 
			WHERE PRODUTO = @PRODUTO AND COR_PRODUTO = @COR_PRODUTO
		END
		IF @TAMANHO = 12 
		BEGIN
			UPDATE @TRANSF_ITENS SET
			SA_12 = @SA_12 
			WHERE PRODUTO = @PRODUTO AND COR_PRODUTO = @COR_PRODUTO
		END
		IF @TAMANHO = 13 
		BEGIN
			UPDATE @TRANSF_ITENS SET
			SA_13 = @SA_13 
			WHERE PRODUTO = @PRODUTO AND COR_PRODUTO = @COR_PRODUTO
		END
		IF @TAMANHO = 14 
		BEGIN
			UPDATE @TRANSF_ITENS SET
			SA_14 = @SA_14 
			WHERE PRODUTO = @PRODUTO AND COR_PRODUTO = @COR_PRODUTO
		END
		IF @TAMANHO = 15 
		BEGIN
			UPDATE @TRANSF_ITENS SET
			SA_15 = @SA_15 
			WHERE PRODUTO = @PRODUTO AND COR_PRODUTO = @COR_PRODUTO
		END
		IF @TAMANHO = 16 
		BEGIN
			UPDATE @TRANSF_ITENS SET
			SA_16 = @SA_16 
			WHERE PRODUTO = @PRODUTO AND COR_PRODUTO = @COR_PRODUTO
		END

	END

	SET @I=@I+1
END

/*gerar novo sequencial para o romaneio*/
declare @nEmpresa int, @NOVO_CODIGO VARCHAR(8), @romaneio_produto VARCHAR(8)
set @nEmpresa = 1
SET @NOVO_CODIGO = ''
EXEC LX_SEQUENCIAL 'ESTOQUE_PROD_SAI.ROMANEIO_PRODUTO', @nEmpresa, @NOVO_CODIGO OUTPUT  

SELECT @romaneio_produto = @NOVO_CODIGO

/*Variaveis para dados da tabela pai = ESTOQUE_PROD_SAI*/
declare @RESPONSAVEL VARCHAR(25)
declare @emissao datetime, @tipo_romaneio varchar(25), @romaneio_destino varchar(8)
declare @CM_OPERACAO VARCHAR(3) = '012'

SET @RESPONSAVEL = 'PDA'
set @emissao = convert(varchar,getdate(),112)
set @tipo_romaneio = 'TRANSFERENCIA'
SET @romaneio_destino = 'T'+@ROMANEIO_PRODUTO

INSERT INTO ESTOQUE_PROD_SAI (ROMANEIO_PRODUTO,FILIAL,RESPONSAVEL,EMISSAO,TIPO_ROMANEIO,ROMANEIO_DESTINO,FILIAL_DESTINO,CM_OPERACAO)
VALUES ( @ROMANEIO_PRODUTO, @filial_origem, @RESPONSAVEL, @emissao, @tipo_romaneio,@romaneio_destino,@filial_destino, @CM_OPERACAO)

UPDATE @TRANSF_ITENS 
SET QTDE = (SA_1+SA_2+SA_3+SA_4+SA_5+SA_6+SA_7+SA_8+SA_9+SA_10+SA_11+SA_12+SA_13+SA_14+SA_15+SA_16), 
	VALOR=CUSTO1 *(SA_1+SA_2+SA_3+SA_4+SA_5+SA_6+SA_7+SA_8+SA_9+SA_10+SA_11+SA_12+SA_13+SA_14+SA_15+SA_16),
	ROMANEIO_PRODUTO=@romaneio_produto

INSERT INTO ESTOQUE_PROD1_SAI (FILIAL, ROMANEIO_PRODUTO, PRODUTO, COR_PRODUTO, QTDE, CUSTO1,VALOR, ID_MODIFICACAO, 
								SA_1, SA_2, SA_3, SA_4, SA_5, SA_6, SA_7, SA_8, SA_9, SA_10, SA_11, SA_12, SA_13, SA_14, 
								SA_15, SA_16, SA_17, SA_18, SA_19, SA_20, SA_21, SA_22, SA_23, SA_24, SA_25, SA_26, SA_27, SA_28, 
								SA_29, SA_30, SA_31, SA_32, SA_33, SA_34, SA_35, SA_36, SA_37, SA_38, SA_39, SA_40, SA_41, SA_42, 
								SA_43, SA_44, SA_45, SA_46, SA_47, SA_48)

SELECT	FILIAL, ROMANEIO_PRODUTO, PRODUTO, COR_PRODUTO, QTDE, CUSTO1,VALOR, ID_MODIFICACAO, 
		SA_1, SA_2, SA_3, SA_4, SA_5, SA_6, SA_7, SA_8, SA_9, SA_10, SA_11, SA_12, SA_13, SA_14, 
		SA_15, SA_16, SA_17, SA_18, SA_19, SA_20, SA_21, SA_22, SA_23, SA_24, SA_25, SA_26, SA_27, SA_28, 
		SA_29, SA_30, SA_31, SA_32, SA_33, SA_34, SA_35, SA_36, SA_37, SA_38, SA_39, SA_40, SA_41, SA_42, 
		SA_43, SA_44, SA_45, SA_46, SA_47, SA_48
FROM @TRANSF_ITENS

SET @TRANSFERIDO = 1

